[2020-04-29 10:17] abunet opened #10149 "bench new-app does not show new module icon on Desktop"
HI,
tried to install frappe-bench and followed the tutorial.

At the above step,
https://frappe.io/docs/user/en/tutorial/users-and-records#42-creating-records

I've found no way to add and make "Library Management" Module icons show on the desk.

Looking in the ERPNext source, I've found another way to add icons, creating a json file desk_page/module.json

Which is the right way to show Module ico

[2020-04-29 15:54] centaur78 opened #10156 "Number card for dashboard error"
hi @prssanna

PR [10000](https://github.com/frappe/frappe/pull/10000) produces the below error when saving the number cards after adding to dashboard

[code]

[2020-04-29 16:13] #10156 closed, assigned to nobody

[2020-04-29 16:48] centaur78 commented on #10156
Hi @prssanna
PR resolved the issue but again for number card when Grand totals for the doctypes for Quotes, invoices etc does show the company currency and not the Quoted currency like below

As you can see RO here is the company currency and value is the sum of Grand totals in Euro which is quoted.

![currency error](https://user-images.githubusercontent.com/1904802/80622989-a188ac80-8a5a-11ea-9a

[2020-04-29 20:16] madmath03 opened #10162 "[BUG] Socketio fallback for file upload from chat on website failing"
## Description of the issue

File upload from chat on website failing.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Enable Chat for website
2. Open website as guest (no authentication)
3. Upload a file

### Observed result

Failing with no message (error in Javascript console).

### Expected result

Upload working or at least

[2020-04-29 20:53] madmath03 opened #10166 "[BUG] File upload from chat on website not permitted for guests"
## Description of the issue

File upload from chat on website not permitted for guests.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

0. Hard fix for #10162
1. Enable Chat for website
2. Open website as guest (no authentication)
3. Upload a file

### Observed result

Failing with message "Not permitted":
![image](https://user-imag

[2020-04-29 22:14] Talleyrand333 opened #10170 "OTP Verification not working with Authenticator app"
## Description of the issue
Two-factor authentication fails when  authenticator app is selected as a medium of authentication
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.sh to the server hosting ERPNext, change directory to the bench folder and enter the command bench --site [sitename] set-config enable_two_factor_auth true

2.

[2020-04-29 22:30] madmath03 opened #10171 "[BUG] No way to exit chat from website on mobile"
## Description of the issue

No way to exit chat from website on mobile

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Enable Chat on website
2. Open website from mobile

### Observed result

No way to close chat.
![image](https://user-images.githubusercontent.com/6967675/80653071-9729db00-8a79-11ea-8016-a412e62517c5.png)

Also,

[2020-04-30 07:17] centaur78 opened #10173 "Currency error in number card"
Hi @prssanna

For number card when Grand totals for the any doctypes ( Quotes, invoices etc) are selected and saved it doesn't show the quoted currency but the company currency like below

As you can see RO here is the company currency and value is the sum of Grand totals in Euro which is quoted.

![currency error](https://user-images.githubusercontent.com/1904802/80622989-a188ac80-8a5a-11ea-9a3f-

[2020-04-30 12:44] ernestoruiz89 commented on #8229
Hey @madmath03 , this is i worked so far, changes on the core:
https://drive.google.com/open?id=1LivK9z7HxiyiVOJLtUNGtjSK2hjC9IxI

I haven't advanced much since then

[2020-04-30 13:38] madmath03 commented on #8258
Maybe we could just remove the ` + ' ' + _('only.')` ?
I do not really see a reason for this...

[2020-04-30 18:02] #10166 closed, assigned to nobody

[2020-05-01 00:04] revant opened #10205 "Error: Executing frappe.patches.v13_0.set_existing_dashboard_charts_as_public"
#  Description of the issue

`set_existing_dashboard_charts_as_public` patch fails

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. init v12 bench
2. checkout to `develop` branch
3. bench update

### Observed result

[code]

### Expected result

### Stacktrace / full error message

<details>

[code]

</details>

## Additional info

[2020-05-01 06:23] gavindsouza commented on #8258
@madmath03 This probably needs more discussion in the community; Can you create a post on discuss.erpnext.com for the same?

[2020-05-01 06:27] gavindsouza commented on #10112
@MohammadAhmad1990 Can you try again from the latest? I can't replicate it.

Also, `print("get_table_field_doctype:", self.meta.get_field(fieldname).options)` on L299 of base_document.py doesn't exist. Can you show me where to look perhaps?

[2020-05-01 06:29] gavindsouza commented on #10085
@asoral Perhaps a screenshot will help us understand the context of the problem better.

Before you can remove an app from your bench, it must be uninstalled first from the sites it's installed on. Let me know If this helps.

[2020-05-01 07:27] #10205 closed, assigned to prssanna

[2020-05-01 12:37] madmath03 commented on #8258
@gavindsouza Sure. Discussion created : https://discuss.erpnext.com/t/why-the-only-in-the-in-words-output/61079

[2020-05-02 23:12] iMoshi opened #18542 "Can't create new language in v13"
Using the version-13-beta and it seems we can't create new language using the Language doctype.

bench new-language CODE APP doesn't seem to work either from bench.

[2020-05-03 10:52] michwii commented on #9083
Also having the same issue.

I've been waiting for hours now...

[2020-05-03 15:33] zerodiscount opened #14808 "V12 / V13 - Google Drive Integration - Backup Successful Email"
## Description of the issue
Backup successful email is being sent even if the check-box "Send Email for Successful Backup" is unchecked.
## Context information (for bug reports)
V12.7 Google Drive Integration
**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.Create Google Drive Credentials. Authorize.
2. Set Backup Daily
3. Leave check-box unchecked

### Observed result
Back

[2020-05-03 17:49] sebastian-code opened #10220 "Files left in following new records when attached through "Attach" or "Attach Image" fields"
## Description of the issue
When the user attaches a file in a new record form of any DocType through an "Attach" or "Attach Image" fields, the files are uploaded and linked to the temporary record and left in the system, unless the user manually deletes them from the file handler, even in those cases when the record was not created.

To add on this, when the file is attached and assigned a sectio

[2020-05-04 10:43] damiencostocking commented on #10149
Hi,
I have the same problem, can you post the content of your module.json file please ?

[2020-05-05 06:52] abunet commented on #10149
I haven't a module.json file.
maybe bench still scaffolds the new app in an older way?
I've tried installing bench via repo
[code]
and with

`pip install frappe-bench`

bench --version gives me 5.0.0

if you mean modules.txt located in
/frappe-bench/apps/library_management/library_management

it contains:
Library Management

The version of frappe that bench has installed is:
/frappe-bench/apps/fra

[2020-05-05 18:43] carlosProgrammer opened #10239 "Chat messages swapped without notice."
It is a visual bug. When I send a message it shows as if the receiver is the one who send it.

[2020-05-06 00:28] ossplus opened #10240 "UTM tracking enhancements"
UTM tracking codes can be added to the end of any URL to track clicks and performance of marketing activities.
For example :
[code]
The URL abrove is same with
[code]
(Using the canonical tag prevents problems caused by identical or "duplicate" content appearing on multiple URLs)
If the website Analytics can parsing UTM code, it will be very useful.

[2020-05-06 06:28] iMoshi opened #10241 "Document not visible for "Assigned To" user."
## Description of the issue

Assigning a document to a system user isn't creating a "Shared With" permissions for the user.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. We altered the permission of Sales User for the DocType of Opportunity to "Only If Creator", and un-checked the Create from its Permissions.

2. Create a new O

[2020-05-06 06:58] abunet commented on #10149
![image](https://user-images.githubusercontent.com/804576/81145045-bb078800-8f75-11ea-993c-714f36ba0d60.png)

in:
`https://github.com/frappe/frappe/commits/develop/frappe/utils/boilerplate.py`
i can see the desktop_template
`https://github.com/frappe/frappe/blob/75f6fa6b17752ec7af400e1a3c1da30fe8028c74/frappe/utils/boilerplate.py#L269
`
that is used to create config/desktop.py

What is the purpose

[2020-05-06 16:06] barredterra opened #10253 "Cannot read property 'language' of undefined"
Trying to complete the setup wizard, it shows an empty page after "The Brand" and this error in the browser console:

![image](https://user-images.githubusercontent.com/14891507/81200297-106a8600-8fc4-11ea-98d9-7f37ff51885d.png)

[code]

This happens only with erpnext installed, frappe works perfectly.

## Setup

https://github.com/frappe/frappe_docker/blob/develop/development/README.md

## Versio

[2020-05-06 17:19] nameduser0 opened #10255 "[V12 bug] sitemap redis cache not updated"
## Description of the issue
When building a public website with erpnext and especially changing product item website routes, the sitemap.xml becomes stale and is not updated. This results in errors when submitting the site for Google indexing.

As a workaround you can restart the cache, or use the commands below to expire the key:
`sudo supervisorctl restart <frappe-bench>-redis:<frappe-bench>-red

[2020-05-07 12:28] szufisher opened #10259 "[bug] mandatory depends on does not work for child doctype"
## Description of the issue
refer to https://discuss.erpnext.com/t/v13-mandatory-depends-on-documentation-guide-wanted/61293/3
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result

### Expected result

### Stacktrace / full error message

[code]

## Additional information
two js files to be changed
form.layou

[2020-05-07 15:05] barredterra opened #18544 "Overflow in Balance Sheet"
Everything collapsed fits nicely into the container:
![image](https://user-images.githubusercontent.com/14891507/81310358-453e1200-9084-11ea-8bc0-48a0160879a0.png)

Account tree expanded causes unnecessary horizontal scroll bars:

![image](https://user-images.githubusercontent.com/14891507/81310745-ce554900-9084-11ea-8571-28f9ed3f989c.png)
No matter how wide i make the columns, it doesn't go away.

[2020-05-08 08:30] Olawale1 commented on #19205
Hi @Mwogi

Interestingly, I found that switching off the 'Only If Creator' option actually gave better results! The emails got sent to only the Employees who created the docs and their ancestors in the tree. If the 'Only If Creator' option can be fixed (for workflow emails) and an option to decide which transitions send out emails is added, I think this would be okay. For now, the 'optional state'

[2020-05-08 08:54] dvdl16 commented on #10080
I do think this is a bug:
[The line](https://github.com/frappe/frappe/blob/version-12/frappe/integrations/offsite_backup_utils.py#L13) inside
[code]
This
[code]
should be changed to:
[code]
I'm pinging @Thunderbottom as this was introduced with PR #8241

[2020-05-08 12:50] scmmishra commented on #10240
Thanks for the suggestion, I'll be updating features in this overtime. I'll add UTM tracking soon.

[2020-05-08 14:50] Thunderbottom commented on #10080
should be fixed with the PR, thanks for reporting!

[2020-05-08 16:11] #10080 closed, assigned to Thunderbottom

[2020-05-08 17:27] centaur78 opened #10279 "No module named 'frappe.core.page.dashboard.dashboard'"
Hi

Latest update to develop branch getting module not found error for dashboard

![dashboard error](https://user-images.githubusercontent.com/1904802/81431732-b65bf300-9172-11ea-9676-73670ef3d31f.png)

[2020-05-08 22:41] ahmedsleem8000 commented on #9083
same error here , any idea?

[2020-05-09 07:23] #10119 closed, assigned to nobody

[2020-05-09 07:35] surajshetty3416 commented on #10086
closing this since this has an invalid label.

[2020-05-09 07:35] #10086 closed, assigned to nobody

[2020-05-09 07:36] surajshetty3416 commented on #8638
closing this since this has an invalid label.

[2020-05-09 07:36] #8638 closed, assigned to nobody

[2020-05-09 15:02] ch9hn opened #10281 "Custom Social Login via Gitlab failed"
## Description of the issue
When Gitlab as Custom OAuth Provider is used in ERPnext, the social login failed with:
`json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)`

## Context information (for bug reports)
Social Login Configuration:
**Name:** gitlab
**Client ID:** SECRET
**Client Secret:** SECRET
**Icon:** fa fa-gitlab
**Base URL:** https://gitlab.mydomain.com
**Authorize

[2020-05-09 16:21] revant commented on #10281
It is working with gitlab.com

[code]
note:

- `api_endpoint` : `/oauth/userinfo`
- `auth_url_data` : `{"scope": "openid email profile", "response_type": "code"}`
- allow these 3 scopes at gitlab end, openid email profile

[2020-05-09 16:24] ch9hn commented on #10281
Problem was solved by myself, for all who are facing related problems:
On the Gitlab side:
Selfhosted Gitlab-CE 12.10
Admin Area -> Applications -> Add Application
Redirect URI: https://erp.mydomain.com/api/method/frappe.integrations.oauth2_logins.custom/gitlab
Trusted: true
Confidential: true
Scopes: read_user openid profile email

On ERPNext:
**Social Login Configuration:**
Name: gitlab
Client I

[2020-05-09 16:24] #10281 closed, assigned to nobody

[2020-05-10 03:16] #9560 closed, assigned to scmmishra

[2020-05-10 03:43] surajshetty3416 commented on #6311
https://github.com/frappe/frappe/pull/6363

[2020-05-10 03:43] #6311 closed

[2020-05-10 05:38] surajshetty3416 commented on #6588
@adityaduggal,  @AndyOverLord, @wildsurfer The issue has been fixed with the "Descendants Of" filter.

<img width="1096" alt="Screenshot 2020-05-10 at 11 04 40 AM" src="https://user-images.githubusercontent.com/13928957/81491618-0ee3db00-92ae-11ea-9cac-2f1cbf16eaf6.png">

[PR Link](https://github.com/frappe/frappe/pull/5847)

[2020-05-10 05:40] #6588 closed

[2020-05-10 10:28] centaur78 opened #10283 "Browserslist and caniuse-lite is outdated"
though not a bug .. can someone update these so the same can be pulled to local.

![image](https://user-images.githubusercontent.com/1904802/81496667-45c7ea00-92ca-11ea-9b7b-1a6a2aa99f7e.png)

[2020-05-10 14:01] sunnyakaxd opened #10284 "Consider deprecating document.get"
`Document.get` is a powerful call, can be used to get a document's value against a key, and can also be used to search through internal tables in a document.

However good replacements for the same are getattr and list comprehension. Instead of writing `doc.get('items')` it's better to write `doc.items`, and in place of `doc.get(key)`, we can use `getattr(doc, key)`. Instead of using
[code]
we can

[2020-05-11 02:00] iRaySpace opened #10285 "Token-based Auth - CSRF validation"
## Description of the issue

When I do `POST` request to any `Rest API` resource, I get error `400` due to CSRF validation even though I was using [Token-based Authentication](https://frappe.io/docs/user/en/guides/integration/how_to_set_up_token_based_auth).

https://github.com/frappe/frappe/blob/develop/frappe/auth.py#L66

## Context information

**Output of `bench version`**
[code]

## Steps to

[2020-05-11 04:26] scmmishra commented on #10149
The old method has been deprecated, you can create the configuration using the Desk Page doctype and export it as standard JSON

[2020-05-11 16:16] barredterra opened #10294 "Calendar drag and drop does not work correctly"
Drag and drop in Calendar View does not work correctly.

For example, create a **Shift Assignment**, switch to Calendar View and try to move it by a couple of days. It never lands were it was dropped. First, it appears to be dropped one day before. But actually the date is set to one day later.

## Versions

`version-12` and `version-13-beta`

[2020-05-12 07:04] abunet commented on #10149
Thanks @scmmishra, I think the old method must not be deprecated but removed, beacause it does not work. The boilerplate class has to be updated to scaffold the desk_page for the new app created.

I'm new on the framework.
I think it is very interesting but without correct documentation it is very easy for new users be discouraged and leave the community before evaluating the real potential of the

[2020-05-12 07:05] scmmishra commented on #10149
Thanks for the feedback @abunet we're working on updating the documentation, it'll be live by the end of the month

[2020-05-12 09:18] revant commented on #10285
I'm not able to replicate this with `curl` command

[code]

I use [RESTer for Chrome](https://chrome.google.com/webstore/detail/rester/eejfoncpjfgmeleakejdcanedmefagga?hl=en). I get this error when I use Settings > Request Mode > Browser Request. If I turn it to Settings > Request Mode > Clean Request, I don't get this error.

I don't get this from non browser requests.

[2020-05-12 09:31] gbm001 opened #10297 "has_permission hook does not match documentation"
## Description of the issue

The documentation states:

[code]

However, it is not possible to provide permission (by returning a 'True' value as indicated in the documentation), only deny it. This is because the 'has_permission' hook is called by the has_controller_permission function:

[code]

but the result of this is only compared against False in get_doc_permissions:

[code]

## Steps to repr

[2020-05-12 09:32] gbm001 commented on #10297
As a side note, the documentation example for 'get_permission_query_conditions' is also broken as a 'user' argument is supplied.

[2020-05-12 09:53] iRaySpace commented on #10285
Hello,

Please do a `POST` request.

Thanks,

Ivan

[2020-05-12 12:33] revant commented on #10285
[code]

This created a ToDo

[2020-05-12 12:46] szufisher opened #10301 ""smallest_currency_fraction_value": 0.01 to be added for CNY China"
Even though the global default setting deactivated rounded total feature, still in the business transactions such as purchase order, the rounded total auto calculated for currency CNY, per solution from the discussion forum https://discuss.erpnext.com/t/solved-rounding-adjustment-still-occurs-after-disabling-in-global-defaults/52415/4, the "smallest_currency_fraction_value": 0.01 to be set on the

[2020-05-12 14:03] iRaySpace commented on #10285
I see. Will check on my end, I am using Talend API Tester.

Thanks,

Ivan

[2020-05-12 15:46] barredterra opened #10466 "build-message-files: too many values to unpack"
[code]

## Versions

frappe: version-13-beta
erpnext: version-13-beta
bench: 4.1.0

[2020-05-13 07:15] ChefWu551 opened #10311 "Access to fetch at 'http://192.168.1.128/desk' from origin 'null' has been blocked by CORS policy"
Hi developers,
    I am so confuse this problem.
    my erp next is work fine in localhost
![image](https://user-images.githubusercontent.com/33725817/81782409-58d9f480-952c-11ea-98cd-ba868b9c8020.png)
    but when I fetch the resources it was confuse me, can any way to avoid Cross domain？ please.
![image](https://user-images.githubusercontent.com/33725817/81782322-3a73f900-952c-11ea-8782-bb8f37da

[2020-05-13 11:11] #10285 closed, assigned to nobody

[2020-05-13 13:04] jaywks opened #14809 "V12 Google drive backup private files not backed up"
## Google drive backup does not backup private files, email not sent

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Authorized google drive backup
2. click 'backup now'
3.

### Observed result
database & public files backed up , private files not backed up
### Expected result
all 3 files,db,public,private files should be backed

[2020-05-13 13:23] wojosc commented on #5576
Hi all. you can pretty much solve this by using https://darkreader.org/

Regards.

[2020-05-13 22:59] MaxMorais commented on #10255
@casesolved-co-uk  a simple solution is

[code]

An alternative solution, is add into you hooks.py

[code]

And into `/your_app/your_module.py`  add the following code

[code]

[2020-05-14 06:37] ChefWu551 commented on #10311
By using offical example have the same problem.

[code]

[2020-05-14 06:51] #10171 closed, assigned to nobody

[2020-05-14 16:40] ernestoruiz89 commented on #8229
@madmath03 Add  this  code to frappe/geo/utils.py (new file) or inside /frappe/utils/data.py:

![photo_2020-05-14_10-40-04](https://user-images.githubusercontent.com/1592496/81961212-4c5aa800-95cf-11ea-8e91-007f73828b9c.jpg)

This could be util:
https://stackoverflow.com/questions/16845614/zoom-to-fit-all-markers-in-mapbox-or-leaflet

[2020-05-15 11:38] paulator opened #10369 "Security Issue: User can open Document which is not supposed to be seen by the user"
## Description of the issue
I have discovered this in the CRM Module: I changed Role Permission of document Lead to and activated "Only If Creator". When I go to the Leads list, I see only the Leads of the User (this is the expected behavior).

But if the user opens the document by ID, every other available document can be opened by the user which has not been created by that user.
(e.g. http://lo

[2020-05-15 23:20] ahmadpak commented on #10112
It's working fine now. Thanks

[2020-05-16 00:59] #10112 closed, assigned to nobody

[2020-05-16 17:54] gbm001 commented on #9993
If you don't have a default bench site (i.e. currentsite.txt), which is necessary to do multiple sites at once by hostname, then you need to write all your commands like so:
bench --site MYSITE_NAME console
bench --site MYSITE_NAME migrate
bench --site MYSITE_NAME clear-cache
etc

This isn't a bug as such, just a terrible error message that completely fails to help the user.

[2020-05-16 19:02] revant opened #10377 "Webhook fails on develop branch"
## Description of the issue

webhook with datetime fails

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

Step 1: Create Purchase Order webhook

<details>

[code]
</details>

Step 2: Create Purchase Order

### Observed result

Webhook fails to make request

### Expected result

Successful HTTP request

### Stacktrace / full error mes

[2020-05-16 21:58] MarekPikula opened #18545 "Table editor in description field not working as expected"
## Description of the issue

Table editing controls (like Delete column, Delete row, Insert row) in WYSIWIG editor (for example in Item Description field) don't do what they should do making the easy table creation and editing impossible.

## Context information (for bug reports)

**Output of `bench version`**

Official Helm package version 1.0.0 (thus no `bench version` output).
ERPNext: v12.7.1

[2020-05-16 22:11] MarekPikula commented on #18545
A workaround for now is to use some random WYSIWYG online editor (like https://html-online.com/editor/), remove all the things I don't want in my table and copy it to ERPNext.

[2020-05-17 17:45] abhishekbalam opened #10379 "Module import failed for Web View in v12"
## Description of the issue

`Module import failed` error for Web View in v12.
Tried running the commands in patch for v13, but didn't help.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Bench Start

### Stacktrace / full error message

[code]

[2020-05-18 06:02] #10135 closed, assigned to ruchamahabal

[2020-05-18 06:10] surajshetty3416 commented on #10379
@abhishekbalam Did you run `bench migrate` after switching branch?

[2020-05-18 15:54] abhishekbalam commented on #10379
@surajshetty3416
This was on a fork, but bench migrate did clear the error.
Thanks 👍
Closing this issue.

[2020-05-18 15:54] #10379 closed, assigned to nobody

[2020-05-18 16:41] barredterra commented on #10220
To put it differently, the **File** gets linked to the temporary document only.

- The link does not get updated when the document gets inserted.
- The **File** does not get removed if the temporary document gets discarded

![image](https://user-images.githubusercontent.com/14891507/82237918-b314f400-9936-11ea-89c4-621092320b60.png)

[2020-05-20 06:08] centaur78 opened #10421 "Bench update not working"
Hi

Currently when doing bench update (develop branch) it just drops after "Backing up sites..."

bench version is 5.0.0
ERPnext & Frappe are in develop

[2020-05-20 07:07] gavindsouza commented on #10421
Traceback screenshots?

[2020-05-20 09:49] centaur78 commented on #10421
hi @gavindsouza

its not much of a traceback

![image](https://user-images.githubusercontent.com/1904802/82431783-28500880-9aa0-11ea-9064-b4dea6d42c2f.png)

bench build
bench migrate
works separately

but any commands with bench update drops after Backing up sites as seen in screenshot

[2020-05-20 10:45] gavindsouza commented on #10421
Seems like there was some issue with running frappe commands via bench. As a workaround you can backup sites manually first with `bench --sit all backup` and then run `bench update --no-backup`

[2020-05-20 12:16] gavindsouza commented on #10421
Caused by https://github.com/frappe/frappe/commit/d3f8a5bbb9fe49c22e363c76dac155fe30ba4f5a

[2020-05-20 13:56] centaur78 commented on #10421
hi @gavindsouza

Yes, bench update --no-backup worked.

but curious how verbose flag in the BackupGenerator would resolve in the future update ???

[2020-05-20 14:32] iMoshi commented on #9952
This kind of needs to happen ASAP 😁

[2020-05-20 15:36] #10421 closed, assigned to gavindsouza

[2020-05-21 16:07] ernestoruiz89 opened #10449 "Bug: If an application doesn't have git version will throw an exception"
## Description of the issue

The function `get_installed_apps_info()` expect all apps have git, but if you have an app without version control it doesn't work:
![image](https://user-images.githubusercontent.com/1592496/82579025-6f92d380-9b4a-11ea-9924-8ac0956b2978.png)

## Context information (for bug reports)

**Output of `bench version`**

![image](https://user-images.githubusercontent.com/15924

[2020-05-22 01:21] theopen-institute commented on #10449
I'd argue this is intended behavior. Bench does all its updating through git version control, and git is listed as an installation requirement.

[2020-05-23 07:37] jtarun4625 opened #10468 "Apply filter and validations on link field manual input"
BUG Report:

Version :
ERPNext: v12.5.0 (version-12)
Frappe Framework: v12.5.2 (version-12)

Problem :
When link field is used with permission it will show only allowed documents to fetch but if we input the name of document which is not allowed it will fetch the document data without applying permission.
How to reproduce :
1. Create a user.
2. Give permission to specific territory.
3. Login as a

[2020-05-24 12:11] Ravn10 opened #10470 "typo in utils.py"
*** Error compiling '../apps/frappe/frappe/utils/commands.py'...
  File "../apps/frappe/frappe/utils/commands.py", line 11
    req = requests.get(f"https://api.github.com/users/{org}/repos", {"type": "sources", "per_page": 200})

getting this error on migrate
it goes away on removing 'f'

[2020-05-25 08:02] dulhaver commented on #7318
I can confirm the issue (also v11 instance here)

Someone pointed me to this as a potential solution

https://stackoverflow.com/questions/31064981/python3-error-initial-value-must-be-str-or-none-with-stringio

I can't judge on this as I am not a developer whatsoever

[2020-05-25 18:11] surajshetty3416 commented on #10470
@Ravn10 It is not a typo. it is the [f-string syntax](https://hackernoon.com/a-closer-look-at-how-python-f-strings-work-f197736b3bdb) which is supported in python3.7 or above... you are probably using a newer version of python.

Frappe Framework has stopped support for python version < 3.7 on develop branch.
https://github.com/frappe/frappe/pull/10221
https://github.com/frappe/frappe/pull/10254

[2020-05-25 18:11] #10470 closed, assigned to nobody

[2020-05-25 18:30] surajshetty3416 commented on #7318
@gaurav-naik, @vrms The issue has been already fixed with [this PR](https://github.com/frappe/frappe/pull/7932)

Please update your v11 branch... latest v11 version is `v11.1.68`

[2020-05-25 18:30] #7318 closed

[2020-05-25 20:36] khadijazaki2 opened #10484 "On deleting comment, comments timeline does not refreshes"
## Description of the issue
When I delete a comment it deletes from databases but does not refresh the timeline and its still visible

## Context information (for bug reports)
This happens only when I delete old comments after reloading the page, if a comment is added page is not reloaded and we delete comment then it does refreshes timeline and only that comment is removed others are still presen

[2020-05-26 00:15] barredterra opened #10485 "Generate PDF on Event"
I would like a feature that allows to generate and attach a PDF to a given DocType, based on an event.

One use case is that business letters must be stored in the (optical) form as they were sent to the customer (Germany). This means a PDF needs to be generated and stored every time. Automatic generation saves many clicks here.

For example:

---

- [ ] Enable automatic PDF generation

DocType

[2020-05-26 07:49] dulhaver commented on #10485
so you say that is **not** doing justice to the obligation to store business documents to have i.e. a SINV (which can not be changed without leaving a trace) available as a document in ERPNext as is and being able to create a PDF from it at any moment if required?

If that was TRUE then a feature you propose here would really save a lot of time and clicking. If not it would just fill your servers

[2020-05-26 10:10] surajshetty3416 commented on #6989
Implementation
https://github.com/frappe/frappe/pull/9636
https://github.com/frappe/erpnext/pull/21550
https://github.com/frappe/translator/pull/203

Documentation
https://github.com/frappe/erpnext_documentation/pull/58
https://github.com/frappe/frappe_io/pull/301

The first iteration of this feature has been implemented.

[2020-05-26 10:10] #6989 closed

[2020-05-26 13:53] Nofal-Mami commented on #10485
I support this feature.
Use case:
1- When you send a PO/contract to supplier you need to attach a copy similar to what sent to supplier for later checking.
2-when you prepare an RFQ / RFP to be submitted to suppliers also you need to generate a PDF document and attached to RFQ/RFP as reference including terms and consitions

rgds
Nofal

[2020-05-26 14:09] barredterra commented on #10485
@vrms, I added the related legal text. Since the requirements of reproducibility are not met we have to store the PDF.

[2020-05-26 17:46] chlarsen opened #11108 "cypress does not run on FreeBSD"
##  Description of the issue

I cannot install ERPNext on FreeBSD, which, as I know, is related to its dependency on cypress for development purposes. As a consequence, I have to run ERPNext in a virtual Debian container, which is really a bit of a waste of efforts and resources.

## Context information (for bug reports)

**Output of 'bench version'**
[code]

## Steps to reproduce the issue

1. Fo

[2020-05-27 04:37] dalers commented on #11108
+1!

I also would prefer to host ERPNext using FreeBSD.

I find configuring a headless FreeBSD system much simpler to configure and maintain than a Linux system, although I absolutely prefer Linux (or Windows) for a desktop system.

---
Dale Scott
Engineering and NPI Leader
Web: www.dalescott.net
Email: dale@dalescott.net
Mobile: +1 (403) 923-4605

[2020-05-27 17:05] nameduser0 opened #10511 "[Feature Request] Add image alt text, licensing and attribution to File doctype"
**Is your feature request related to a problem? Please describe.**
At number 4 [on the list](https://neilpatel.com/blog/html-tags-for-seo/) for website SEO are Image alt attributes. It seems a simple thing to add to the File doctype. Also important are image licensing and attribution.

**Describe the solution you'd like**
A text entry field on the `Upload` modal dialog & a modifiable text field on

[2020-05-27 17:56] dalers commented on #11108
Could the dependency be removed in a port to have production support relatively easily, and continue working on a solution for development?

[2020-05-29 00:05] kevinpthorne opened #10534 "[12.6.1] Item List view permlevel of undefined"
## Description
In the Item List view, I get an odd error. A filter is set, even though none was set before.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Fresh install of Frappe + ERPNext
2. `bench update`
3. Create an Item
4. Navigate to Item List view

### Observed result
JavaScript error and broken functionality of page. New

[2020-05-29 00:05] kevinpthorne commented on #10534
Will attempt to reinstall entire bench

[2020-05-29 09:04] wojosc commented on #9836
The trouble on this matter is that the e-mail address has spaces which are filled by "%20". This can not be used by e-mail servers. a possible solution would be a script which hides the e-mail address in the time line when such a combination occours.

[2020-05-29 11:44] backendoadmin opened #10544 "File name issue with special characters from imap"
We got some attachment from a partner who use Windows and special hungarian characters in filenames. As you can see on this screenshot ERPNext rename it, or sometimes crop the end of the filename (some letters form the end and the extensions are missing in this case). There is no issue, if we upload these files from local computer to ERPNext directly, but if we use imap to handle those emails with

[2020-05-29 15:01] backendoadmin commented on #10544
I think this bugfix solved this issue. Could you guys merge it or give us feedback, please?
![after](https://user-images.githubusercontent.com/5338127/83274347-f93b4480-a1cd-11ea-9cb6-ec6056b04009.jpg)

[2020-05-29 19:59] clarkejj commented on #11108
See this https://discuss.erpnext.com/t/bringing-back-ui-tests-using-cypress/43232

[2020-05-29 20:07] khadijazaki2 opened #10546 "New Feature: Resize Image in Text Editor"
In the text editor we can resize image by using https://www.npmjs.com/package/quill-image-resize.
I have implemented and tested it.
in the text_editor.js file we can add these two lines

`import Quill from 'quill';
import ImageResize from 'quill-image-resize';
Quill.register('modules/imageResize', ImageResize);`

and then in the function "get_quill_options" will be like
`get_quill_options() {
		re

[2020-05-31 18:54] #5707 closed

[2020-06-01 04:44] #10162 closed, assigned to nobody

[2020-06-01 08:33] haboabdo opened #18546 "Bug: ar language desktop side menu"
## Description of the issue
Bug: when using ar language
 desktop "Modules side menu" covered by desktop blocks

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result

### Expected result

### Stacktrace / full error message

[code]

## Additional information

OS version / distribution, `ERPNext` install method

[2020-06-01 08:39] #9993 closed, assigned to gavindsouza

[2020-06-01 17:53] cybertoast commented on #9990
Any update on this? The issue is still present in the latest develop branch (https://github.com/frappe/frappe/blob/develop/frappe/database/mariadb/framework_mariadb.sql#L234). Thanks much.

[2020-06-01 23:17] iMoshi commented on #18516
Just noticed this as well.

I'm making edits on my local server and testing, and then pushing the changes to my git repo. I then pull the changes on a different server, and notice that I'm not getting any changes of the Doctype on it.

Edit: doctype gets updated after bench restart :)

[2020-06-02 05:24] centaur78 opened #10560 "Date filters patch error"
Hi @prssanna

Just had this PR #10463 generate the below error during bench update

[code]

[2020-06-02 06:22] #10560 closed, assigned to nobody

[2020-06-02 06:56] Alchez commented on #18516
I'm able to replicate this on my servers as well.

If custom fields are deleted from a DocType through Customize Form, and then exported, a migrate will not sync and delete the fields from the server.

[2020-06-02 08:04] AndyOverLord commented on #18516
Finally, this topic is spotted by someone.

Agreed with @Alchez.

I have a rough idea on how to fix this, for each doctype that has custom fields on it, we should just pull the custom fields out and then compare with the fields in custom_field.json file. If any custom field is not in the custom_field.json, then it should get deleted.

I am not sure if Frappe supports an API to pull out the custom

[2020-06-02 08:13] Alchez commented on #18516
@AndyOverLord, that seems like a reasonable process, yeah.

Regarding the doability of that change, I would just say that this used to work just fine upto v11, so a controller for the custom fields either already exists or was removed / broken at some point between v11 and the current v12 branch.

I think it might be better to locate and restore that functionality.

[2020-06-02 13:53] surajshetty3416 commented on #549
https://github.com/frappe/frappe/pull/9808
https://github.com/frappe/frappe/pull/9807

[2020-06-02 13:54] #549 closed

[2020-06-02 14:01] surajshetty3416 commented on #4309
should be fixed with https://github.com/frappe/frappe/pull/10374

[2020-06-02 22:15] muchai opened #10569 "Error on custom reports html"
I have the below lines in a html file for a custom report.

{% set first_name, last_name = frappe.db.get_value("Employee", "EMP", ["first_name", "last_name"]) %}
<h4>{{ first_name }}</h4>
<h4>{{ last_name }}</h4>

They cause the below error on printing.

Uncaught TypeError: frappe.template.compile(...) is not a function
    at Object.frappe.render (microtemplate.js:74)
    at Object.frappe.render_

[2020-06-03 08:26] barredterra commented on #18546
Could you add a screenshot?

[2020-06-03 12:48] haboabdo commented on #18546
sure, attached
![arabic layout](https://user-images.githubusercontent.com/36401027/83638193-7a6d4f80-a5b1-11ea-98d6-29e925d58a83.png)

[2020-06-03 16:50] clarkejj commented on #10534
See this discussion https://discuss.erpnext.com/t/frappe-12-6-1-item-list-view-permlevel-of-undefined/62108

[2020-06-04 00:05] kevinpthorne commented on #10534
Thanks, but I made that discussion on purpose...

Reinstalling the bench did not fix the issue.

[2020-06-05 19:14] lasalesi commented on #4309
I am not sure if the mentione PR will fix this as this error is not related to amended documents... But I will certainly check this, thanks!

[2020-06-05 23:05] nameduser0 opened #10606 "[V13 Bug] FileNotFoundError by scheduled job"
## Description of the issue
I received a screen full of the below errors.
Presumably someone has implemented a log splitting feature but didn't write a patch to create the necessary folders and files?

## Context information (for bug reports)
**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Upgrade from v12 to v13 develop on existing site

### Observed result
Traceback bel

[2020-06-06 19:05] ollyboy opened #10612 "Rename DocType doesn't update controller files correctly"
branch  version-12

Created a doctype called "Deliverable" added fields and some test data
Tried to rename the doctype to "Deliverable Definitions". System warned about "updating controllers" but seemed to save.

From then on I got:

18:40:21 web.1            |   File "/home/mcd_steven/frappe-bench/apps/clearsight/c
learsight/model/doctype/deliverable_definitions/deliverable_definitions.py", line

[2020-06-07 02:13] madmath03 commented on #8229
@ernestoruiz89 Done.

To actually be able to use this in a generic way though, I think we will need some behavior similar to calendar/gantt, ie. delegate to the doctype how to provide map information.

This way we could also rely on Frappe location field or Location doctype to display more than just markers. Also, we will be able to retrieve and use the form filters.

[2020-06-07 05:35] nameduser0 commented on #10255
Thanks for the tips. Though whilst these may work they are not a solution, only a workaround.

[2020-06-07 05:55] nameduser0 opened #10613 "[Bug] Sitemap has /all-products/index.js but no root / entry"
## Description of the issue
The sitemap has an erroneous index.js entry and has no entry for the root homepage. The latter causes Google to list it differently in Google Search Console.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Go to /sitemap.xml

### Observed result
[code]

### Expected result
[code]

[2020-06-07 13:51] ollyboy opened #10615 "New doc type, can not edit until reboot or bench build"
Latest version 12 frappe using bench update.

Created a new simple doctype. In the list view the "new" record ( top right ) and the add record button ( center of screen ) do not appear. So no way to add a record.

Have seen this 3 or 4 times when adding new doc types, clear cache via bench does not fix it.

rebooted the VM and then the buttons did appear. See below how it should appear

![image](h

[2020-06-07 13:58] ollyboy commented on #10615
Here is an example, just created a new doc type called resource. Note the missing buttons

![image](https://user-images.githubusercontent.com/12904192/83970708-1d211900-a8a5-11ea-99e8-7e28c855bab3.png)

![image](https://user-images.githubusercontent.com/12904192/83970753-5ce80080-a8a5-11ea-9a55-5224fcc6ffa0.png)

[2020-06-07 14:52] ollyboy commented on #10615
Here is the screen after reboot of vm. See the add record buttons now appear

![image](https://user-images.githubusercontent.com/12904192/83972231-efd86900-a8ac-11ea-8c24-d6e632277bf1.png)

[2020-06-07 14:56] ollyboy commented on #10615
Could this have something to do with socket.io. I am running in development mode ie
bench start > /tmp/bench.log &

I have noticed in this mode that doctype screen does not refreash when records added. Getting js console errors ie
![image](https://user-images.githubusercontent.com/12904192/83972321-7a20cd00-a8ad-11ea-9d01-3808406dea14.png)

[2020-06-07 15:11] ollyboy opened #10619 "deleted modules cleanup causes frappe bench to generate 50Xs and become unresponsive"
version 12

- Added 3 new modules to my app. I decided that one of the modules called "capture" was not needed.
- Deleted this module via web developer tools.
- Checked the /apps/[my app]/[my app] folder and could see that the "capture" module folder was still there, so I removed it.

On the next "bench update" got the following errors and frappe was completely unresponsive. restoring folder and r

[2020-06-08 16:06] barredterra opened #10625 "Desk's width changes between modules"
### Reproduce

1. Open desk
1. Switch between one module where all entries fit entirely on the screen (for example, Assets) and another module that contains more than what fits on the screen (for example, Accounting).

### Error

The width of the container changes as well. I would expect it to stay the same.

### Versions

Frappe, ERPNext: `version-13-beta`
Browser: Chrome 83.0.4103.97

[2020-06-10 02:28] theopen-institute commented on #10619
Did you remove the module name from `sites/apps.txt`?

[2020-06-10 07:35] theopen-institute opened #10637 "[develop] Portal page context not generating"
## Description of the issue

On current develop, portal pages are failing to load with a server error.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Visit a portal route designed for website users such as example.com/orders

### Observed result

Server error

### Expected result

Proper rendering of portal page

### Stacktrace

[2020-06-10 10:01] dulhaver commented on #10485
just FYI @barredterra:

source: https://www.datev.de/web/de/top-themen/unternehmer/weitere-themen/gesetzesaenderungen/gobd/neufassung-der-gobd-vom-28-11-2019/

I read this as for Germany it would be sufficient to keep the structured data (aka Invoices, etc inside the ERPNext database) and not require to also store pdfs (picturelike documents) of those Invoices, etc.

[2020-06-10 10:09] barredterra commented on #10485
@vrms, as it says in the GoBD you must not keep the PDF if you can reconstruct an **identical** PDF from the data. But this is not the case in Frappe. Print Format changes, Print Style changes, master data changes...

[2020-06-10 10:52] ollyboy commented on #10619
This is a module within an app, can't see why apps.txt would be relevant??

[2020-06-10 11:44] gavindsouza commented on #10619
@ollyboy can you provide the whole output so we can understand at which point in the update, this failure occurred?

[2020-06-10 11:54] gavindsouza commented on #10606
The [Patch](https://github.com/frappe/frappe/blob/develop/frappe/patches/v13_0/site_wise_logging.py) was added in [this](https://github.com/frappe/frappe/pull/10233) PR exists on `develop` for more than a week now.

How did you upgrade your site? The patch would run if you ran `migrate` after switching branches if you did it manually.

[2020-06-10 12:23] gavindsouza commented on #10615
Is there by any chance another program that's using port 9000?
Also, check the dump of bench start for errors, as per your description under `/tmp/bench.log`

[2020-06-10 12:36] gavindsouza commented on #10612
In some cases, renaming controller files and their references doesn't complete successfully. This seems to be one of those cases. It's not foolproof, hence, the message "Renamed files and replaced code in controllers, please check!" on rename which asks you, as the developer to check the controllers.

[2020-06-10 12:39] gavindsouza commented on #10239
I can't replicate this. You will have to give more information about your Frappe environment setup.

[2020-06-10 18:36] barredterra opened #10650 "Browserslist: caniuse-lite is outdated."
[code]

version-13-beta

[2020-06-10 20:05] ollyboy commented on #10619
very easy to see the issue. Say we have a new app called "appx". create two modules called "office" and "home". In the folder stucture you will now see two folders "frappe-bench/apps/appx/office" and "frappe-bench/apps/appx/home". Now go back to developer tools on web and delete the module "office". Go back to folder stucture and you will see the  "frappe-bench/apps/appx/office" folder did not get

[2020-06-10 20:17] ollyboy commented on #10612
This is a guess but it looks like the rename appended to the old name with a space char, the space is what caused the syntax error.

18:40:21 web.1 | class DeliverableDefinitions Definitions(Document):

Agree its not a big deal, good dev will see the issue, but these sorts of errors for a new developer evaluating frappe as potential platform may cause them to abandon frappe as unstable. I would li

[2020-06-10 20:20] ollyboy commented on #10619
After seeing the folder not removed, manually remove it, to keep the source code clean. Now do bench update. It will fail and you will be locked out of web app.

[2020-06-11 02:39] ollyboy commented on #10615
That guess of mine was wrong. The socket.io errors I fixed today with a firewall rule on google compute. It did not fix the issues I see:
- newly created doctypes are missing the new and create buttons until reboot. tried bench build, bench update, cache clear, nothing works. There were no js errors or bench errors. Also no nginx errors.
- Adding records via quick edit does not refresh the list vi

[2020-06-11 03:03] ollyboy commented on #10615
WTF. After adding this last comment I  tried adding records and the list view refresh is now working. Did not change or update anything. There is some serious cache/delay/background build problems here. I Will test the button prob tomorrow.

Another guess - js hash versioning is a must in the nasty world of CDNs and cheap arse cache strategies deployed by ISPs to keep traffic down. Chrome is your

[2020-06-11 05:49] gavindsouza commented on #10619
Letting the developer to manually delete the unneeded files is intended behaviour. Deleting the DocTypes via UI remove it from your site database alone.

I can't replicate it. If you can't produce the complete traceback, we won't be able to find out what the real issue is.

[2020-06-11 12:34] ollyboy commented on #10619
![image](https://user-images.githubusercontent.com/12904192/84385851-451ebe00-abbe-11ea-9828-cf7cce86fc58.png)

this is not about files, it is about folder removal

[2020-06-12 10:58] scmmishra commented on #10625
@barredterra can you post screenshots?

[2020-06-12 12:59] barredterra commented on #10625
It's just by a few pixels, hard to see. Open the GIF in full screen and focus on the top left corner.

![desk](https://user-images.githubusercontent.com/14891507/84504932-1d624f80-acbd-11ea-8a77-ffc86fb4b7ba.gif)

[2020-06-12 17:40] ollyboy commented on #10619
Hi, are my steps to reproduce clear? Happy to close the case if you actually do see the removal of the module folder when the module is deleted in the UI.

Also, there is no traceback error until the next bench build. The system thinks that the module remove process worked fine. I think this is a simple case of "deleting a module will disable the module in the UI/UX but it will not remove the modu

[2020-06-12 21:33] escarlson commented on #9083
@ahmedsleem8000 What Operating System are you running? I'm experiencing this issue on Ubuntu 20.04 using [these instructions](https://computingforgeeks.com/how-to-install-erpnext-erp-system-on-ubuntu/).

[2020-06-13 04:03] totolouis opened #10671 "Emails have no body message throught IMAP protocol"
## Description of the issue

When fetching emails in ERPNext, the body is empty. This is because of the way data is fetched with the `imap.uid` function, see [here](https://github.com/frappe/frappe/blob/develop/frappe/email/receive.py#L237) the specific code.

What happens is that frappe requests three pieces of data: `[the entire message (including headers), the message headers, and the flags on

[2020-06-13 19:18] ollyboy commented on #10615
What controls the appearance (or not) of "new record" buttons. Seems to me that is where the issue is??

[2020-06-13 21:02] ollyboy commented on #10615
Still cannot see add new record buttons on new doc create

https://youtu.be/TC0nyohowrU

[2020-06-13 21:48] ollyboy commented on #10650
Yes I see this too

[2020-06-13 21:52] ollyboy commented on #10615
Update. If you create a new menu item in your ../config/[my-app].py and you do a "bench update" then the buttons DO appear. This is not great for a developer logged in as an administrator trying to create new doc types then quickly adding a few records to test.

[2020-06-15 07:14] yemikudaisi commented on #8932
@AkramMutaher Did you find a fix for these ?

[2020-06-15 09:15] amutaher commented on #8932
Yes, Using [This](https://github.com/frappe/frappe/issues/8932#issuecomment-581396593)

[2020-06-15 09:53] nameduser0 commented on #10606
I noticed while developing. Thanks for fixing.

[2020-06-15 09:53] #10606 closed, assigned to gavindsouza

[2020-06-15 10:17] gavindsouza commented on #10612
@ollyboy If you wish to take up the task of fixing this, I can guide you. I don't have the bandwidth to fix this at the moment so, an extra pair of hands will certainly be a huge help.

[2020-06-15 12:27] ollyboy commented on #10612
Point me to the code block that creates or removes modules, will have a look

[2020-06-15 12:32] gavindsouza commented on #10612
https://github.com/frappe/frappe/blob/6ed35fd9618af88fb0c4a239f7358dd8ed90a351/frappe/core/doctype/doctype/doctype.py#L402-LL412

These lines update the contents of the DocType's files on rename

[2020-06-15 12:39] gavindsouza commented on #10615
If you're using Frappe in development mode, you should run it on your local machine instead. Have you setup production or development mode ie. are processes handled via supervisor or honcho?

If you're on development ie. you started bench using `bench start` then restarting the process should reload the hooks where the desk menu gets updated. If you're running production, frappe shouldn't reflect

[2020-06-15 13:26] centaur78 opened #10694 "Import Dashboard fixture errors"
hi
Just did a bench update (develop). got the below error

[code]

[2020-06-15 20:23] ollyboy commented on #10619
In the code below, on create module the folder is created and the module name is added to modules.txt. That is good.

In the on_trash ( which I assume is module delete ) The module name is removed from modules.txt but the folder is not removed. There is no call to a needed self.remove_modules_folder()

[code]

[2020-06-15 23:44] adym83 opened #17313 "Report filters - All Territories should show those under sub-groups"
Installed Apps
ERPNext: v12.9.4 (version-12)
Frappe Framework: v12.6.2 (version-12)

If All Territories is a Parent Group, filters in report should show all docs which is under its sub-group.

![image](https://user-images.githubusercontent.com/66002250/84716187-06fe1180-afa5-11ea-99d9-4a3ae1f23a6b.png)

![image](https://user-images.githubusercontent.com/66002250/84716236-21d08600-afa5-11ea-9d2f-63

[2020-06-16 05:32] bibinqcs opened #10713 "Feature Request - System Setting for making file uploads private"
**Is your feature request related to a problem? Please describe.**
In the file upload dialog, there is an option to make all attachments private. While doing things it can be overlooked, and then files have to be re arranged later.
Before file upload was refactored the default option was private and it could change to public if needed.

**Describe the solution you'd like**
It would be amazing to h

[2020-06-16 06:46] centaur78 commented on #10694
hi
this is one of the errors from the erpnext log...Pretty much all the above module mentioned, have an entry like this in the logs.

![image](https://user-images.githubusercontent.com/1904802/84740421-69afd700-afbe-11ea-92bd-972211e6fe13.png)

[2020-06-16 08:36] prssanna commented on #8958
Fixed in https://github.com/frappe/frappe/pull/10151

[2020-06-16 08:36] #8958 closed, assigned to nobody

[2020-06-16 08:38] prssanna commented on #8959
Fixed in https://github.com/frappe/frappe/pull/10463

[2020-06-16 08:38] #8959 closed, assigned to nobody

[2020-06-17 15:20] fahimalizain opened #10724 "[EventStreaming-UpdateLog] Data type should be Dynamic Link ?"
Hey, please check the data type for this particular field:
https://github.com/frappe/frappe/blob/e5a87aa421303433c9a476d80e4fcda39e82d813/frappe/event_streaming/doctype/event_update_log/event_update_log.json#L31

This generates error:
[code]

[2020-06-17 20:45] dottenbr opened #10725 "Alert Block Styles for Text Editor"
We use the text editor heavily and we would like to add an alert style "block" to text editor. It works pretty much like the code style, except that it uses the normal font and applies different colors. This is very useful to point out important things in instructions.

Mockup:
![image](https://user-images.githubusercontent.com/9136094/84948215-b3e2a680-b0eb-11ea-99e6-9d4db75ca1e1.png)

When you c

[2020-06-18 01:06] ernestoruiz89 commented on #10694
Same Issue, I fixet it with `bench --site site1.local reinstall`

[2020-06-18 05:28] fahimalizain commented on #10724
Cant be dynamic field. It will prevent delete of the doc.

[2020-06-18 05:28] #10724 closed, assigned to nobody

[2020-06-18 06:07] centaur78 commented on #10694
Hi @ernestoruiz89

Hmm that would wipe the database clean. Not sure if that would be the best course of action unless it is really necessary.

However this PR #10688 resolved the problem. Just did a bench update now.

Closing the issue.

[2020-06-18 06:07] #10694 closed, assigned to nobody

[2020-06-18 09:59] barredterra opened #10732 "Electronic Invoicing"
**Is your feature request related to a problem? Please describe.**

In Europe, electronic invoicing is becoming mandatory these years. For example, starting this year, all German companies must provide electronic (XML) invoices if they do any work for the government. There are many different formats, for example [ZUGFeRD / Factur-X](http://fnfe-mpe.org/factur-x/factur-x_en/) and [X-Rechnung](https

[2020-06-19 10:41] barredterra opened #10743 "No Quick Entry from Calendar"
## Description of the issue

Adding an event in Calendar view always opens a new form, even if Quick Entry is enabled for the DocType.

## Steps to reproduce the issue

1. Enable Quick Entry for **Event**
2. Go to **Event** Calendar and select a time range.

### Observed result

Normal Form view opens for new Event.

### Expected result

Quick Entry opens for a new Event.

## Additional informatio

[2020-06-19 13:32] ollyboy commented on #10612
Here is your problem, these consecutive code lines do the same thing

`file_content = code.replace(old, new) # replace str with full str (js controllers)`

so  "Definitions" becomes "Deliverable Definitions"

`file_content = file_content.replace(frappe.scrub(old), frappe.scrub(new)) # replace str with _ (py imports)`

Now the Definitions gets replaced again so we get  "DeliverableDefinitions Defin

[2020-06-19 13:56] ollyboy commented on #10615
Site is in supervisor production mode with developer mode enabled. The issue is there for both production and development. My guess is there is some flag that says list view edit is allowed is not set. Can you point me to code block. It is really inefficient to have to run bench build after every new doc type generate to test adding records.

[2020-06-19 17:15] #5897 closed

[2020-06-20 08:50] dottenbr opened #10750 "Reduce Indentation of UL in Text Editor and make consistent with LI"
The indentation of UL elements in Text Editor and the rendered view is quite extreme, it is also not consistent with the LI style.

![image](https://user-images.githubusercontent.com/9136094/85197792-b3acfb80-b2e3-11ea-823a-e411f2a5459c.png)

[2020-06-20 13:27] chlarsen opened #18553 "File Upload Fails Silently"
## Description of the issue
Files do not upload, upload fails silently.

## Context information (for bug reports)
FreeBSD 12.1, running via bench start for debugging purposes, PostgreSQL as database.

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Login in as Administrator
2. Attach a photo (not a link) to the Settings page, e.g. a profile picture
3. Click on the attache

[2020-06-20 13:33] RoyIrwan commented on #10650
I have this massage too during `bench update` on my frappe 12.7.1, right after frappe-web.min.js built.

    ✔ Built js/frappe-web.min.js
    Browserslist: caniuse-lite is outdated. Please run next command `yarn upgrade caniuse-lite browserslist`

[2020-06-21 07:27] neelbhanushali commented on #6680
@Kratos-Freyja where is the deletion flag for a DocType stored in db?

[2020-06-21 22:03] alyyousuf7 opened #10807 "Server Error when using Data Import Beta"
## Description of the issue
I cannot import (or even preview) the data using the "Data Import Beta" feature.

When I create a new "Data Import Beta", no matter what DocType I choose, as soon as I upload a file, I get "Server Error" with the following message:
[code]

## Steps to reproduce the issue

1. Create a new "Data Import New".
2. Select any DocType, and save it. (I choose Brands with mandat

[2020-06-22 00:41] ernestoruiz89 opened #10756 "Onboarding link on diferent language"
## Description of the issue
Onboardink link not working on diferent language

![image](https://user-images.githubusercontent.com/1592496/85238991-c5c79080-b3ee-11ea-8f28-d16000e571a7.png)

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result
![image](https://user-images.githubusercontent.com/1592496/85239051-

[2020-06-22 06:44] gavindsouza commented on #10615
We use `bench start` for development which runs a watcher to build asset files and pre-compile updated controller code. You have to run `bench build` only if there are any changes in files included in the `build.json` file.

**PS:** I don't run bench build, restart or reboot anything after a DocType update or creation. Could you be facing a caching issue? Also, to confirm: your issue is the missin

[2020-06-22 06:48] gavindsouza commented on #10612
As I mentioned earlier, I'm aware of why it happens. Do you have a solution or is it just **my** problem?

[2020-06-22 12:39] ollyboy commented on #10612
Im not a phyton programmer ( can do C and php ) and there is no documentation on things like frappe.scrub. I thought my analysis and solution was quite good, one of these two lines needs to be removed as they both try to replace the same string value. Why would you hand it to me if you were aware that the double string replace was the issue, its a one-line change for any competent frappe developer

[2020-06-22 12:48] ollyboy commented on #10615
yes, new button is missing as per the screen shots I sent. Could be a cache issue but from the code you sent could be .can_create set to false. The fact that there is a test to show/hide this button to me is the smoking gun.

[2020-06-22 13:08] ollyboy commented on #10449
the issue is that frappe allows a new app to be created but does not do a "git init" for that app. this fail on no git reposirory only started with frappe update in the past week, before that it was fine to have an app without git control

[2020-06-22 16:53] gavindsouza commented on #10612
@ollyboy Probably went the wrong way here fishing for contributors, although thought I made my intentions about fixing this clear a week ago. Thank you for your efforts.

[2020-06-23 05:10] asoral opened #10772 "Bench update now fails"
Traceback (most recent call last):
  File "/home/erpnext/.local/bin/bench", line 11, in <module>
    load_entry_point('bench', 'console_scripts', 'bench')()
  File "/opt/erpnext/bench-repo/bench/cli.py", line 41, in cli
    bench_command()
  File "/usr/local/lib/python2.7/dist-packages/click/core.py", line 764, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python2.7/dist

[2020-06-23 05:18] asoral commented on #10772
None of the bench commands are working anymore ---

Traceback (most recent call last):
  File "/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/opt/erpnext/erpnext/apps/frappe/frappe/utils/bench_helper.py", line 99, in <module>
    main()
  File "/opt/erpnext/erp

[2020-06-23 05:35] asoral commented on #10772
Error in node-socketio.error.log

SyntaxError: Unexpected string in JSON at position 235
    at JSON.parse (<anonymous>)
    at read_config (/opt/erpnext/erpnext/apps/frappe/node_utils.js:17:28)
    at get_conf (/opt/erpnext/erpnext/apps/frappe/node_utils.js:28:2)
    at Object.<anonymous> (/opt/erpnext/erpnext/apps/frappe/socketio.js:12:12)
    at Module._compile (internal/modules/cjs/loader.js:1

[2020-06-23 05:38] asoral commented on #10772
Error on supervisor restart

sudo supervisorctl restart all
erpnext-workers:erpnext-frappe-schedule: stopped
erpnext-workers:erpnext-frappe-default-worker-0: stopped
erpnext-workers:erpnext-frappe-long-worker-0: stopped
erpnext-workers:erpnext-frappe-short-worker-0: stopped
erpnext-redis:erpnext-redis-queue: stopped
erpnext-redis:erpnext-redis-cache: stopped
erpnext-redis:erpnext-redis-socketio: s

[2020-06-23 05:49] asoral commented on #10772
Found this link https://discuss.erpnext.com/t/fresh-install-v11-on-ubuntu-18-04-frappe-web-error-spawn-error/57909/16

Tried
cd to frappe-bench folder
Then run: ./env/bin/pip install werkzeug==0.16.0

but still the same issue

[2020-06-23 08:46] #10772 closed, assigned to nobody

[2020-06-23 10:17] #10449 closed, assigned to gavindsouza

[2020-06-23 11:53] #10612 closed, assigned to gavindsouza

[2020-06-23 12:06] chlarsen commented on #11108
Understood, but cypress is only useful for developers. Therefore, the above request to install it only for development instances probably makes sense?

[2020-06-23 22:36] madmath03 opened #10793 "[Feature] Two Factor Auth for LDAP users"
**Is your feature request related to a problem? Please describe.**
When enabling Two Factor Authentication, it does not seem to apply to LDAP users, only on local users.

**Describe the solution you'd like**
When enabling Two Factor Authentication in System Settings, I'm expecting all users to have feature applied.

**Describe alternatives you've considered**
None ?

**Additional context**
* <http

[2020-06-23 22:54] madmath03 opened #10794 "[Feature] OpenLDAP group membership"
**Is your feature request related to a problem? Please describe.**
When enabling LDAP integration and setting Group mapping, it only supports the `memberOf` group attribute and not the "standard" OpenLDAP groups.

**Describe the solution you'd like**
Setting user Groups in OpenLDAP is understood by Frappe.

**Describe alternatives you've considered**
Adding a schema to OpenLDAP to allow `memberOf`

[2020-06-24 06:14] littlebunyip commented on #5468
I have similar issue but without creating a new doctype.

I have a custom field named total_cartons in Sales Order  - formatted as float, precision: 0, read only. No currency symbol in form view.

Another Custom field in Delivery Note named total_cartons, formatted as float, precision as 0, read only, options: Sales Order. In Delivery Note it has a currency symbol in form view.

When I remove the

[2020-06-24 06:34] kennethsequeira commented on #10807
@alyyousuf7 can you also share the specific Frappe and ERPNext versions as well?

[2020-06-24 07:45] creamdory commented on #10750
same issue https://github.com/frappe/frappe/issues/7512

[2020-06-24 08:30] dottenbr commented on #10750
Raised support issue on our cloud instance as bug
https://ottenbreit.erpnext.com/desk#Form/ERPNext%20Support%20Issue/ESI-0039

[2020-06-24 09:09] revant commented on #8512
re-open if needed

[2020-06-24 09:09] #8512 closed, assigned to nobody

[2020-06-24 09:29] revant commented on #9604
Gitlab is already being used.

Gitlab: https://github.com/frappe/frappe/issues/10281

To specifically map email field to `ocs.data.email` set it in `User ID Property` under Client Information section in Social Login Key

User creation and mapping for login session on frappe happens through email address of user, Other common openid profile properties that are set during user creation are picture a

[2020-06-24 12:48] KanchanChauhan commented on #7512
This is a known quill issue https://github.com/quilljs/quill/issues/1508

[2020-06-24 13:51] surajshetty3416 commented on #7512
@crossxcell99 This issue has been fixed with https://github.com/frappe/frappe/pull/10598

[2020-06-24 13:51] #7512 closed

[2020-06-24 13:52] surajshetty3416 commented on #10750
should be fixed with https://github.com/frappe/frappe/pull/10804

[2020-06-24 13:52] #10750 closed, assigned to nobody

[2020-06-25 00:02] #10756 closed, assigned to nobody

[2020-06-25 12:46] Nofal-Mami commented on #16956
a workaround to hide currency and show it in the header section using print format builder.

[2020-06-25 21:06] alyyousuf7 commented on #10807
I found the following from `Help -> About`:

[code]

If this is not enough, can you help me out find the Frappe and ERPNext version? I'm running ERPNext using `docker-compose up`. which container has the `bench` utility?

Or is there are different mechanism on containers to figure that out?

[2020-06-26 05:29] ronelvcabrera commented on #10546
re https://github.com/frappe/frappe/pull/10820

[2020-06-26 07:03] #9952 closed, assigned to nobody

[2020-06-26 07:04] #9788 closed, assigned to nobody

[2020-06-26 13:49] iAmmar7 commented on #18530
Any updates?

[2020-06-26 17:35] Helkyd opened #10831 "Reload and rename view log error: tabView log does not exists"
Based on a merge from a pull (fix: rename view log patch for mac users #6723
) this was modified to search for lower case table name in which if you are coming from a previous versions of Frappe and ERPNext tables are Capitalized.
Right now when running this patch the system returns tabView log does not exists... which is correct as the existing table is tabView Log .... but if frappe.db.exists('D

[2020-06-26 20:48] alexszilagyi commented on #18530
Not from my side...

[2020-06-27 07:09] revant opened #10834 "bench backup for postgres database"
**Is your feature request related to a problem? Please describe.**

`bench backup` only does MariaDB backups. Posrgres backup needed.

**Describe the solution you'd like**

`bench backup` checks for `site_config.db_type` and does postgres `.sql` backup.

Note: use `pg_dump --clean` refer: https://www.postgresql.org/docs/11/app-pgdump.html

**Describe alternatives you've considered**

manually back

[2020-06-27 09:34] esafwan opened #10835 "Frappeframework website css not loading"
## Description of the issue
The official frappe website at https://frappeframework.com/ is not working as expected from yesterday. I tried searching for a more relevant repo for this without success.

## Steps to reproduce the issue

1. Access the site.
2. Check network tab.
3. Css file is returning 404.

## Screenshots

### Network Tab Screenshot:
_____
<img width="732" alt="Screenshot 2020-06-27

[2020-06-27 09:38] nagarajut89 opened #18554 "Route History - Unable to remove user"
## Description of the issue

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result

### Expected result

### Stacktrace / full error message

[code]

## Additional information

OS version / distribution, `ERPNext` install method, etc.

[2020-06-27 09:38] nagarajut89 commented on #18554
I'm unable to remove the user due to route history, but, no transctions are there in the system since i have delted them.

[2020-06-27 10:37] revant commented on #10834
https://github.com/frappe/frappe/pull/10836

[2020-06-27 10:37] #10834 closed, assigned to revant

[2020-06-28 07:39] defnotjonas opened #10842 "Support foreign keys in Database"
**Is your feature request related to a problem? Please describe.**
The Database-API is currently lacking support for foreign keys. This leads to an unstructured database and makes querying structured data hard.
Having foreign keys, introduces more a hierarchy to the tables, makes 1:n/n:1/n:m relationships clearer.
Introducing these would also provide additional checks for data-consistency and upda

[2020-06-28 14:33] ryuliantoro opened #10843 "Can not run api method from web_form controller js"
## Description of the issue
Using api (get_list, get_doc, get_all, etc) from the controller js file of a web_form doesn't work.
Trying the same code from the Client Script in Website > Web Form section works.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a web form in Website > Web Form (e.g "Form ABC")
2. Write code in

[2020-06-29 03:27] surajshetty3416 commented on #10835
This has been fixed now.

[2020-06-29 03:27] #10835 closed, assigned to nobody

[2020-06-29 03:31] surajshetty3416 commented on #10831
@Helkyd Can you raise a PR to fix this?

[2020-06-29 07:10] Helkyd commented on #10831
Hi,
Unfortunately I don't have a solution to support on the PR... Reason why
just issued.

On Mon, 29 Jun 2020, 4:31 am Suraj Shetty, <notifications@github.com> wrote:

[2020-06-29 14:54] govindsmenokee opened #10861 "bug: public files getting overwritten"
## Description of the issue
when using the file upload dialog. if attachments are not made private files are getting overwritten if the names are same

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. attach file using file attach dialog
2. in a different document attach file with same name different content hash
3. the first file

[2020-06-30 14:34] govindsmenokee opened #10884 "bug: CRITICAL Security Issue In Frappe/ERPNext"
nothing to see here

[2020-06-30 22:36] rahulmr commented on #15519
what is the bypass from command line?

[2020-07-01 05:11] surajshetty3416 commented on #10807
@alyyousuf7 [This PR](https://github.com/frappe/frappe/pull/10865) should fix the issue.

[2020-07-01 15:54] barredterra opened #10894 "Number of Backups in System Settings does not work"
I always get only two backups, no matter how many i specify in **System Settings**.

[2020-07-01 22:16] iMoshi opened #10896 "Adding a comment using Firefox doesn't allow taking a space between words."
Adding a comment to a document using Firefox somehow does not allow me to take space between words. Please see the video I've attached:

https://vimeo.com/imoshi/review/434514481/d7b4a1b695

[2020-07-02 06:43] jigneshpshah opened #10902 "To know the print format attachment sent in email"
**Is your feature request related to a problem? Please describe.**
A user wants to know which print format (e.g. GST Tax Invoice, Sales Invoice, Standard ) was attached when the email was sent 5 days back to the customer .

![image](https://user-images.githubusercontent.com/4900815/86324959-f87a5000-bc5c-11ea-8e6f-4e3290a58efb.png)

**Describe the solution you'd like**
To show in the Communication

[2020-07-02 07:21] govindsmenokee commented on #10884
@rmehta @nabinhait  sorry to tag people on the issue but i see no traction on this issue. This is a problem on any frappe/erpnext instance out there. If someone writes a script to spam a frappe/erpnext server they can.

[2020-07-02 07:27] govindsmenokee opened #10903 "bug: Attachments getting relinked to new document"
## Description of the issue
If a attachment is added to a document Lets say LEAD-123 and later that lead gets deleted. When a new lead is created the name Lead-123 gets reused and earlier attachment gets incorrectly attached to the new document.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. create a lead/opportunity/or any doct

[2020-07-02 07:30] Thunderbottom commented on #10884
maybe instead of posting a security issue in the open you could've reported it to us at https://erpnext.com/security, that would have made us look at it faster.

and now since you have posted it in the public, I hope you know the implications of it. please raise this issue on the url I've specified above and we'll take a look at it.

[2020-07-02 07:30] #10884 closed, assigned to nobody

[2020-07-02 07:32] govindsmenokee commented on #10884
@Thunderbottom What do you think I did? I posted it there first 4-5 days ago. This makes it clear you are not checking that too.

[2020-07-02 07:38] Thunderbottom commented on #10884
@govindsmenokee we've seen it already. we have a lot of other things to look at too and we try to prioritize everything. sometimes it takes us time to get back to the reported issues. the current comments implementation is more of a design problem than a security issue.

we'll get it solved, please be patient; a team so small can only do so much at once. and being an open source software maybe eve

[2020-07-02 07:42] govindsmenokee commented on #10884
@Thunderbottom Ok this contradicts what you said in the previous comment as to not raising the issue at https://erpnext.com/security Please avoid any sort of accusations. Im only trying to help out here. If help is not required please make that clear. I also have N number of things to do. I could just make the fix at my fork and sleep peacefully.

[2020-07-02 07:48] govindsmenokee commented on #10884
@Thunderbottom  Also if there was at least an acknowledgement to the security vulnerability issue raised then I would not have posted an issue here. Also security flaws are just a subset of bad design decisions only. So for me at least it doesn't make sense when you call it design issue.

[2020-07-02 07:55] Thunderbottom commented on #10884
firstly, you posted a security issue in the open. that too within a couple of days of reporting it on the security portal.

secondly, nobody's blaming you. all i stated is that you can contribute to the project and fix this issue if you feel it is of high priority to you. right now we have an influx of other things to look into, and not everything can be done at once. nobody's asking you to not he

[2020-07-02 08:12] govindsmenokee commented on #10884
@Thunderbottom I have no sorts of expectation from any one from frappe/erpnext or the community. Im not relying on frappe/erpnext team to complete a feature request that I raised.

1. I found a problem that could potentially compromise the data integrity of the system.
2. Tried reporting it to the team through the security report program.
3. Did not get a response or an acknowledgement.
4. I did n

[2020-07-02 08:22] Thunderbottom commented on #10884
you still can. nobody's saying you can't do it just because we aren't taking it up on priority.

fundamentally speaking, i assume you are perfectly capable of fixing this issue for yourself. if i may quote you from before:

then why not fix it yourself and open a pull request on the framework? why wait for the developers to do it for you?

there are people who have fixed "design issues" before, al

[2020-07-02 08:57] govindsmenokee commented on #10884
I mean if you have it already figured out as to what I'm expecting or not expecting, You can go ahead and be in that state of denial.
If a paid customer raises this issue, It will automatically become priority for you. I hope at least in that case it does. If not i just pray for the frappe/erpnext cloud users.

[2020-07-02 09:03] Thunderbottom commented on #10884
sure, we're all thankful for your well wishes.

[2020-07-02 09:23] govindsmenokee commented on #10884
(https://discuss.erpnext.com/t/stored-xss-in-erpnext-demo-website/36587) this was one instance where the issue was reported out in the public and was handled in a graceful manner. It's not about how long it will take for you to fix or who is fixing it. It is the attitude to acknowledge that there is problem rather than defending or being totally arrogant about it.

[2020-07-02 09:29] Thunderbottom commented on #10884
again, i cannot stress enough on how you can fix things for yourself if you think this issue matters a lot to you. there was absolutely no need to post it in public in the first place. either wait for the issue to be fixed, or go ahead and fix it yourself.

also i hope you see the irony in posting a security issue in public, and then defending yourself over it by complacently posting an unrelated

[2020-07-02 09:40] govindsmenokee commented on #10884
@Thunderbottom OH! MY BAD THAT WAS A DIFFERENT SECURITY ISSUE ALTOGETHER. Thank you for pointing it out. I thought it was the same issue reported 2 years ago and you still haven't given any importance/priority to it.

[2020-07-02 09:48] govindsmenokee commented on #10884
I hope you were able to sense the sarcasm in that 😂

[2020-07-02 12:20] Thunderbottom commented on #10884
I've tried fixing the issue you reported. could you please test and let me know if some other changes are required? comments should now be limited to logged in users, and up to 20 comments per user per hour.

[2020-07-02 13:17] barredterra opened #10907 "Print format validation fails on migrate"
### Reproduce

- Have a custom app built for version-11, containing print formats
- Set up a new server with version-12
- Install custom app and restore database from old server
- Run `bench migrate`

### Error
[code]

Caused by this line:

https://github.com/frappe/frappe/blob/e384c826dcc54f2b1f4e697e2dace3e05c849d3a/frappe/printing/doctype/print_format/print_format.py#L37-L38

I tried to remove

[2020-07-02 13:35] govindsmenokee commented on #10884
@Thunderbottom  This fix would solve the issue at hand.
But would break some existing features like
1. Ability to comment on a blog post
2. Comments on a web form for which login is not required.
These are some of the immediate implications I can think of. Please feel free to make a decision as to whether breaking those features are the way to go ahead.

[2020-07-02 13:37] govindsmenokee commented on #10884
I will test this out by switching over to your branch and give the final results.

[2020-07-02 13:53] Thunderbottom commented on #10884
well, there has to be a compromise somewhere. you get added security by making the user log into the system before commenting. with no login, you're basically allowing the user to set their own name and email which i think would be very hard to restrict.

for your second point, do you have any use case that requires you to comment without logging in? i cannot think of anything that might require s

[2020-07-02 14:14] govindsmenokee commented on #10884
I'm currently not utilising these two features but I can assure you that there are users out there who would rely on this.

Some use cases I can think of -

 1. Having a public post/blog by a company where they expect responses from external users and they want to avoid the hassle of making the users log in. As in they don't care about the user info for the responses they collect.

2. Having a pub

[2020-07-02 14:16] govindsmenokee commented on #10884
My suggestion would be to whitelist the Blog Post DocType to enable commenting so that the existing feature is not lost.

[2020-07-02 16:24] Thunderbottom commented on #10907
it fails while trying to move fixtures. have you removed `custom_format` from your fixtures?

[2020-07-02 18:01] barredterra commented on #10907
I removed all print formats from the custom app. I also removed all print formats meeting the condition (`custom_format and not html`) from the database. Both didn't help. In the end I commented out the two lines in `validate()`.

[2020-07-02 18:40] Thunderbottom commented on #10907
okay, is there a `fixtures` folder with the custom print formats inside your custom app folder?

[2020-07-02 20:25] aakvatech opened #10909 "fix: Order the fields in fixtures based on the order specified in hooks.py"
When you add a custom field or property setter in fixtures section in hooks.py and then do export of fixtures, it will reorder the names in the manner of idx asc, creation asc (https://github.com/frappe/frappe/blob/b54e1d2dcb8d80b2c454037c600ff13b4b4f2b8b/frappe/utils/fixtures.py#L71)

It should leave the order based on what is recorded in hooks.py so that the files and the records are imported an

[2020-07-03 05:43] surajshetty3416 commented on #10831
Should be fixed with https://github.com/frappe/frappe/pull/10890

[2020-07-03 05:43] #10831 closed, assigned to nobody

[2020-07-04 12:43] barredterra commented on #10907
Ah, yes, that might be it. I removed the failing print formats from there, let's see if it helps.

[2020-07-05 19:50] JeansReal commented on #10149
@scmmishra  Hello!

Im developing also a custom app, and creating the desk_page using the Desk Page doctype

But how can i export as JSON, ans save it to my custom app?

[2020-07-06 18:17] msis opened #18555 "Theme is not compiled"
## Description of the issue
Creating a new website theme generates a `Compiled Successfully` notifications but fails to create the asset.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a new `Website Theme`
3. Set new theme as website theme.
2. Save the new `Website Theme` and wait for the `Compiled Successfully` notifica

[2020-07-06 18:21] neelbhanushali commented on #10909
The order of syncing of fixtures should not cause problems since checks on the relationships is being avoided as mentioned here
https://github.com/frappe/frappe/blob/7bbf4ef7db581b3b6759726e4e49776d61511a4e/frappe/utils/fixtures.py#L23-L24

[2020-07-09 14:30] kaitorecca opened #10964 "Filters translation bug for Prepared Report"
## Description of the issue

Using Prepared Report with language different from English, the translated filters parameters was transfered directly to report. It not happen with normal direct report

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

For example, General Ledger report in ERPNext
1. Change language of user to other langua

[2020-07-12 15:41] leonardorame commented on #18553
Hi @chlarsen, I also would like to install ERPNext on FreeBSD with Postgresql, could you point me to a tutorial or guide to install on that platform and database?.

Leonardo.

[2020-07-12 16:50] zayn008 opened #10976 "Chat Improvements"
Ask web visitors for their Name, subject and email if they're not logged in. Also create an API to easily integrate on say WordPress or an App. Also add the ability for automated messages when first starting a chat and maybe as a follow-up

[2020-07-12 19:08] dalers commented on #18553
Be prepared to forge your own path. There have been posts indicating ERPNext is being used with PostgreSQL, and that ERPNext is being run on FreeBSD, but not without considerable effort and expertise (also the current web UI test framework is not supported on FreeBSD).

However, FreeBSD and PostgreSQL are also my preferred environment, so please post your solution if you are able to solve this.

C

[2020-07-12 20:02] JohnVeness opened #10978 "Items in menu can fall off bottom of screen"
## Description of the issue
Depending on the user's screen/window size, zoom amount, etc., the bottom entries in a menu can fall off the bottom of the screen. For example:
![image](https://user-images.githubusercontent.com/2512915/87255359-f5176d80-c481-11ea-9f6b-7248be24c73d.png)
Underneath "Delete" should be "Customize" and "New Supplier", but they are not reachable.
#
## Context information (fo

[2020-07-12 20:52] JohnVeness opened #10979 "Allow Link field types to work more like Select field types, mouse friendly"
**Is your feature request related to a problem? Please describe.**
To an end-user, Link field types, especially those where there is only a small number of possible values, like Supplier Group or Company, seem quite similar to Select field types. In both, the user can select from multiple values to choose the correct one. However, their user interface is quite different, which can be jarring for t

[2020-07-13 09:45] #10896 closed, assigned to nobody

[2020-07-13 10:11] chlarsen commented on #18553
Dear All,
I got it running, well and fast, under FreeBSD, using different jails for the database, the broker (Redis), a reverse SSL proxy for added security and the Python application itself. Alas, the above file upload issue persisted with PostgreSQL, so that I was force to stick to MariaDB. I am presently swamped with work, but will extra a howto from my installation journals asap. Sorry for the

[2020-07-13 12:18] leonardorame commented on #18553
Thanks @chlarsen, my idea was exactly like yours, separated services running on different jails, also the database and app stored on different ZFS datasets with a different snapshot schedule.

[2020-07-13 12:46] chlarsen commented on #18553
Sounds like the way to go, indeed. End of this month? I am swamped with COVID-19 work still...

[2020-07-13 13:17] leonardorame commented on #18553
Yea, no rush. For the current install I created a Bhyve VM with Ubuntu 18.04, but it would be very neat to be able to run it on a FreeBSD jail and also with Postgresql.

[2020-07-14 13:45] Nayar commented on #10149
Any way to make my new app appear?

[2020-07-14 13:54] JeansReal commented on #10149
Hello @Nayar

Yes if you're using frappe>12
In the search bar type: Desk Page

An add a new Doc for your new app

When you hit save, the desk_page json will be saved to your new app directory

And the New App will appear at the left sidebar

[2020-07-14 15:18] JohnVeness opened #10997 ""Your system is being updated", change to "The system..."?"
At the moment, when a frappe system is being updated, a message saying "Your system is being updated. Please refresh again after a few moments." is displayed. However, it may be that the person using the website is a normal member of the public, and who wouldn't think of the system as *their* system. For example, I happened to be browsing docs.erpnext.com while it was updating and saw the "Your sy

[2020-07-14 15:44] JohnVeness opened #14822 "Don't "throw away" entered email address if invalid"
**Is your feature request related to a problem? Please describe.**
When editing a Contact DocType, adding a new email address, then clicking Save, if the email address is invalid, a message tells us that, which is OK. However, the email address that the user had typed in is then "thrown away", so the user has to type it in again (correctly) from scratch. This would be awkward if trying to do this

[2020-07-14 21:16] muniter opened #11001 "Default value "now" for Datetime field causes issues."
## Description of the issue

When a datetime fields has the default value "now" in some cases (e.g in one DocType works well in another doesn't) it wont allow creation of a document, will almost freeze the browser and a memory leak will trigger.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a DateTime field with the defa

[2020-07-16 03:06] ghost opened #11018 "Can't Open List View Settings"
## Description of the issue
Error when opening the List View Setting after upgrading from v. 12 to v. 13

## Context information (for bug reports)
**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Go into List View Setting (using search / ctrl+G)
2. Error occured

### Observed result
![image](https://user-images.githubusercontent.com/67889984/87621682-8705cb80-c74b-11ea-8d8

[2020-07-16 18:17] Tropicalrambler opened #11031 "Functionality that allows Field type Time to exceed 23 hours."
**Is your feature request related to a problem? Please describe.**
No particular problem, except a limitation for item units in sales invoices and similar doctypes.

**Describe the solution you'd like**
When creating DocTypes the field Type: **Time** allows user to select a time within 23 hours 59 minutes and 59 seconds.
However, some users sell hourly items that also need to be tracked to the sec

[2020-07-16 23:41] m5ingh commented on #9083
same issue, running on manjaro. any solution for this?

[2020-07-17 16:28] barredterra opened #11038 "frappe.integrations.oauth2.authorize doesn't accept "+" as a space."
## Error

The requests library converts `params={"scope": "all openid"}` to `"?scope=all+openid"`. This results in an error, probably because the scopes are not parsed correctly.

[code]

What works fine is `?scope=all%20openid`.

The error is caused by `validate_authorization_request`  in this line:

https://github.com/frappe/frappe/blob/3275cc4c5ab49eb4ead279f072e9127a61eb9134/frappe/integration

[2020-07-17 16:35] barredterra opened #11039 "Password cannot be longer than 127 characters"
In #9969 the maximum password length was fixed to 127 characters. In the GUI I can increase the length of the password field up to 1000 characters. Here the length of the encrypted password is 255 characters:
https://github.com/frappe/frappe/blob/e3c707c2cf96268ea81fdb709258a4cfe4264e8c/frappe/database/mariadb/database.py#L184-L192

I would like to safely store oAuth2 access tokens in #11000. The

[2020-07-17 17:03] Thunderbottom commented on #11039
no, there's no reason to keep it short. I've even stated so in [my review](https://github.com/frappe/frappe/pull/9969#pullrequestreview-394454663), and that it can be increased when required. feel free to add a commit in your oauth pull request for it.

[2020-07-18 13:12] barredterra commented on #11039
Great, @Thunderbottom! How long can it be? 255 as in the database table? As long as `self.VARCHAR_LEN`(which is shorter, by default)? An arbitrary number like 170 in my case?

I didn't work on frappe at the database level yet, so i have no idea how the dots connect here.

[2020-07-18 16:35] Thunderbottom commented on #11039
so from what I can see, while using Fernet we can be well within the length limit of 255 for a foreseeable future. You may set it to the (max) number you want right now, and if anything more is needed, it can be increased later.

[2020-07-19 03:25] lxnow opened #11046 "Kanban Board linked to Tasks leads to doctype not saving"
Standard Task doctype can be saved over and over as they are updated. However, when accessed from Kanban board, at some point after the first save of a task doctype, the Task form won't save anymore. This can happen when updating the same entry or when working across different Tasks.

How to replicate in v12:

1. Create Tasks
2. Create Kanban board associated with Task Doctype and the related task

[2020-07-19 13:47] #11046 closed, assigned to nobody

[2020-07-19 15:15] atn-prabhu opened #18556 "export-fixtures of doctype does not capture the Default set for 'select' field type"
## Description of the issue

## Context information (for bug reports)
In Developer mode a custom-app is added to customize ERPNext. Did **Customize Form** and added _Default_ value for _Select_ field type. Ran the bench **export-fixture**.
Installed this app in Production Site. The **Select** fields were not showing the **default** option pre-selected upon form load.
**Output of `bench version`**

[2020-07-20 07:46] nanoharsha commented on #2454
Apart from administrator can other custom users be assigned other roles to give permissions to edit comments entered by others ?

[2020-07-20 18:02] muniter opened #11049 "Frappe get_doc returns unexpected results when passing keyword arguments."
## Description of the issue

I had a fight with the following bug for a whole day. Calling `frappe.get_doc(doctype, name)` gives different results when calling it with keyword arguments.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Call `doc_key = frappe.get_doc(doctype='Your Doctype', name='Doc Name')`
1. Call `doc = frappe.g

[2020-07-20 21:47] muniter commented on #11049
Reading the documentation I [read](https://frappeframework.staging.frappe.cloud/docs/user/en/api/document#frappeget_doc) the following syntax to create a document with `get_doc`, it's `frappe.get_doc(doctype={document_type}, key1 = value1, key2 = value2, ...)` I can see why calling the first argument as the doctype and the second the name, said name would be taken as a key and create a new `docume

[2020-07-21 13:49] leonardorame commented on #6908
I found the same error when creating a user and adding an Email Account in Email Inbox.

I'm using:
ERPNext: v13.x.x-develop () (develop)
Frappe Framework: v13.x.x-develop () (develop)

Updated right now (2020-07-21).

[2020-07-21 15:13] barredterra opened #11062 "File type missing on download"
### Reproduce

Open a **File** and click the "Download" button

**or**

Send an existing **File** as email attachment.

### Error

The downloaded / emailed file doesn't have a file type in the name. Instead of "test.pdf" it's just "test". This confuses the receiving operating system (Tested on Android, MacOS and Ubuntu).

### Proposed fix

Name the provided file according to the **File**'s `file_n

[2020-07-21 23:34] jorgeatcabo opened #14821 "I can't save email domain"
Hi, I'm trying to ceate an email domain with AWS Workmail email service, after enter the settings, I click save, it takes a minute, after that is not shown saved, it remains not saved Thank you.

Regards,
Jorge

[2020-07-22 05:12] surajshetty3416 commented on #10997
@JohnVeness Seems valid. Can you raise a pull request for this?

[2020-07-22 05:21] #10807 closed, assigned to nobody

[2020-07-22 11:49] AminovE99 opened #11079 "[Feature Request] Add color field in Issue Doctype"

[2020-07-22 14:28] muniter commented on #11049
Piggy backing the same issues since it's related to `frappe.get_doc()` I was testing the `is_new()` method, which just return `__islocal` and was wondering if this should be equal:

[code]
Since in the documentation they are both mentioned as a method to create a new doc, but since `get_doc` doesn't set `__islocal` leads to different behavior between methods.

[2020-07-22 14:32] JohnVeness commented on #10997
Thanks, but I don't really have time to setup a full dev environment (to test the change), plus I haven't scanned the code for other uses of "your" that might also benefit from being changed.

Another consideration is exactly what to change it to. I suggested "The system is being updated", but other choices could be, e.g.:

- This system is being updated
- System is being updated
- System update i

[2020-07-22 14:34] #11079 closed, assigned to nobody

[2020-07-22 19:05] mreschke opened #11084 "Attach field type error when upload filename has comma in it"
## Description of the issue
Using the `Attach` field type in a doctype to upload files.  If the file you are uploading has a comma (,) in it then the saved document Attach field does not show or link to the proper filename.  This is due to the comma part splitting code you have in `frappe/public/js/frappe/form/controls/attach.js` file under the `set_input` function around line 77.  You are detecti

[2020-07-23 05:55] wojosc opened #11087 "Wording and whereabouts"
Hi,
I jsut noticed, that the wording of the test in deligated ToDos is not accurate:
![grafik](https://user-images.githubusercontent.com/22279621/88255816-bcfdff00-ccb9-11ea-9c7a-b0bcde448bd5.png)

It says "assigned a new task" though a Task in ERPNext at least is something completely different.

Also, where can the text for these messaged be changed? I would like to be able to translate them and

[2020-07-23 15:24] barredterra opened #11097 "error: frappe.utils.change_log.check_for_update"
[code]

Frappe Framework: v12.8.0 (version-12)

[2020-07-23 15:59] muniter commented on #7508
I have the same issue, How is this supposed to be solved. There's no one looking at this bug. And the PR https://github.com/frappe/frappe/pull/8194 has been marked as stale...

[2020-07-24 07:04] centaur78 opened #11101 "Dropdown not working for item row in all doctypes"
Hi @DeeMysterio  and @surajshetty3416

The PR #11057 has broken the dropdown option. Unable to open the dropdown in each item row in all doctypes like Quotation, Sales order etc.

[2020-07-24 07:12] surajshetty3416 commented on #11101
@centaur78 Can you share browser console traceback if possible?

[2020-07-24 07:22] centaur78 commented on #11101
@surajshetty3416

Please see below

![dropdown error](https://user-images.githubusercontent.com/1904802/88368891-f90b8f80-cd9f-11ea-9d1b-f028430961c3.png)

[2020-07-24 22:55] lxnow opened #14624 "Delayed or Schedule Sending of Emails"
Create ability to schedule the sending of an email. Based on ERPNext instance timezone.

UI-wise, include a datetime field at the bottom of the email compose box labeled something like `Schedule Send`; default would be blank, which means that the email is to sent as part of regular scheduler interval.

![image](https://user-images.githubusercontent.com/5035210/88441434-ae435380-ce43-11ea-972f-c2ff

[2020-07-25 13:29] kennethsequeira commented on #14821
@jorgeatcabo check the browser console for any errors. This is likely a timeout related issue.

Also post on the [forum](https://discuss.erpnext.com) for further help as the bug should clearly be proven/reproducible.

[2020-07-25 17:38] jorgeatcabo commented on #14821
Yes that is the issue, this is the error: pymysql.err.InternalError: (1205, 'Lock wait timeout exceeded; try restarting transaction')
I addded the innodb_lock_wait_timeout=100 in the my.cnf file, but, when I try to login to erpnext, the login stuck.
Thank you.

[2020-07-26 19:59] fromthestone opened #11110 "Missing latest S3 regions in S3 backup integration"
In S3 backups missing some new regions, and there is one among them that I need to use in production.

I sent the PR #11109 in order to update the missing regions.

Finally, I have also added in the PR an update of .gitignore in order to ignore .idea/ folder for whom using JetBrains IDEs like PyCharm

[2020-07-27 03:03] madmath03 opened #11111 "Beta Doctypes have hardcoded links to Frappe organization"
If we check "_beta_" in a Doctype, the link to report issues will always point to Frappe organization instead of the actual repo link:
https://github.com/frappe/frappe/blob/32a9c3a83f33806433dcdfe64fbc688d8b8f0ecb/frappe/public/js/frappe/form/templates/form_sidebar.html#L29

The correct process would be to build the issues link using the apps `source_link` from `hooks.py` or `docs.py`: `{{ app.sou

[2020-07-27 20:03] JohnVeness opened #11127 "Automatically focus username field when opening login form"
**Is your feature request related to a problem? Please describe.**
This is a small papercut/quality-of-life issue. When clicking Login in the top-right of a Frappe website, or any other method of reaching the /login URL, the user has to manually click in the username (email address) field before they can start typing.

**Describe the solution you'd like**
It would be great if that field was automa

[2020-07-28 05:25] surajshetty3416 commented on #11101
@centaur78 Am not able to replicate this on my local.

Your traceback is not helping much. Do you have any custom code which might be causing this issue?

[2020-07-28 06:25] centaur78 commented on #11101
hi @surajshetty3416

The installation of frappe and erpnext are vanilla.... not custom code .... I am using the latest develop version.

Just did a bench update recently.

Try creating a new Quote, after selecting the customer, add an item on the item table, now if you click on the dropdown to try making changes to prices for example putting a discount ... then nothing happens .. now here is where

[2020-07-28 06:33] fromthestone commented on #14821
@jorgeatcabo in my personal experience when it takes too long to save the email domain, it's because setting somewhere are wrong.
I don't use AWS Workmail but in the past I had some troubles setting SES for sending ERPNext email notifications

[2020-07-28 16:39] jorgeatcabo commented on #14821
Hi @fromthestone I tried the AWS Workmail seetings in a desktop app, I works sending. In the browse console this error is shown:
File "/opt/bitnami/apps/erpnext/htdocs/frappe-bench/env/lib/python3.7/site-packages/pymysql/err.py", line 109, in raise_mysql_exception
raise errorclass(errno, errval)
pymysql.err.InternalError: (1205, 'Lock wait timeout exceeded; try restarting transaction')

I put the

[2020-07-29 06:11] #4731 closed

[2020-07-29 06:12] #4801 closed

[2020-07-29 06:12] #5467 closed

[2020-07-29 06:14] #8556 closed, assigned to nobody

[2020-07-29 15:26] zerodiscount opened #11152 "UTF-8 Encoding for Email Subject - Error since Frappe version 12.8.2"
## Description of the issue
Spanish Characters in Subject line of Email are not displaying correctly when user receives email. In email queue report - the characters show correctly but when customers receive email the characters with accents, etc. are not displayed correctly. For example "Asociación" is displayed as "AsociaciÃ³n"

Same Characters in body of message appear correctly. This issue beg

[2020-07-29 19:43] MarekPikula commented on #9903
@premkanish Did you solve the issue? I'm facing the same behaviour.

[2020-07-31 10:41] nanoharsha commented on #11218
@scmmishra @surajshetty3416
I was trying to work on webforms and make data accesible on front end for Issue Doctype, and saw that the save button is missing in V13 and we are unable to make changes from front end.

[2020-07-31 21:11] gwhitney opened #11168 "Incomplete Dependencies not updating in Link Cards"
## Description of the issue

Some Link Card links on customized workspace Desk Pages are inactive when they should be active.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. In a new installation, customize the workspace for a desk page, like Buying, before the dependencies for one of the links (like Purchase Invoice in the Buyin

[2020-08-01 07:13] SantoshSrinivas79 commented on #10149
@JeansReal stil unable to follow .. any way to show an example pls?

[2020-08-02 09:32] centaur78 commented on #11101
hi @surajshetty3416

Are you able to replicate the error ??

Getting various bugs at different places.. like below... there are 3 dates below 107... which doesn't show !! If I try to add a row it creates a duplicate of the row 107

![HR Holiday error](https://user-images.githubusercontent.com/1904802/89120051-e4c44280-d4c3-11ea-969e-96b395f5e6c7.png)

Again the same bugs shows again when trying to

[2020-08-03 05:44] neelbhanushali commented on #10997
@surajshetty3416

Is the PR supposed to be sent for version-12 as well?

[2020-08-03 10:24] centaur78 opened #11181 "Frappe.web.log FileNotFoundError"
hi @gavindsouza and @adityahase

Just Bench updated this PR #11026.... gives the following error.. unable to login

Shouldn't the site be referencing site1.local (where the log resides) rather than the hostname ???

[code]

[2020-08-03 12:32] #11181 closed, assigned to nobody

[2020-08-03 12:35] gavindsouza commented on #11181
@centaur78 Does the mentioned PR fix your issue?

[2020-08-03 22:32] lxnow opened #18558 "Notify if Unreplied setting in Email Account is not followed or ignored"
ERPNext: v12.10.1 (HEAD)

Email account that has been setup for sending and receiving (as default for both as well) is set to "Notify if Unreplied" after 60 minutes. See screenshot below. However, this doesn't seem to be followed. Email reminders are not sent out until around 8pm GMT time.

![image](https://user-images.githubusercontent.com/5035210/89233468-367fe080-d61c-11ea-8f0c-ea447d005c07.png

[2020-08-04 12:10] #11168 closed, assigned to nobody

[2020-08-04 18:14] centaur78 commented on #11181
yes thank you

[2020-08-05 08:58] yemikudaisi opened #11198 "Frappe sends wrong verification link to user's email"
Frappe Framework: v13.x.x-develop () (develop)

I have a frappe site on `localhost:8001`, however for testing I tunneled it through [ngrok](https://ngrok.com/) to `xyz.ngrok.io`, now the issue is that when a user registers the verification link sent to the email looks like
`xyz.ngrok.io:8001/verifaction......`(note, the port number shouldn't be there) instead of `xyz.ngrok.io/verifaction......`

H

[2020-08-06 04:05] Lymperis79 opened #11208 "Creating new website theme is not saving and there is no error message"
I ma trying to create a new theme and there is a not saved status always with no indication whats wrong!

OS version / distribution, `Frappe` install method, etc.
the version of frappe is the version-13-beta-pre-release in ubuntu 20.04

[2020-08-06 04:10] Lymperis79 opened #11209 "Creating a homepage section with cards the view in the webpage is not correct"
I just created a  new homepage section and the view in the homepage is not correct probably the css needs modifications!
The card are not showing and the show details is mixed with the text.

## Additional information

OS version / distribution, `Frappe` install method, etc.
frappe version-13-beta-pre-release and ubuntu 20.04

[2020-08-06 05:17] Lymperis79 commented on #11209
the problem starts when you add an image! without the image the cards are ok!

[2020-08-06 05:25] Lymperis79 opened #11210 "Heigh of the navbar is to small and the brand image is too small because it inherits from the container!"
The band image is too small in the webpage. I noticed that the size of the container from the previous version is smaller! It would be nice to have bigger size!

## Additional information

OS version / distribution, `Frappe` install method, etc.
frappe version-13-beta-pre-release and ubuntu 20.04

[2020-08-07 07:15] asoral opened #11214 "Bench Migrate Error on V13 Beta 4 Branch"
I am facing this error on Beta 4 v13 branch, when I try to run **Bench -- site <sitename> migrate**

  File "/opt/erpnext/erpnext/apps/frappe/frappe/core/doctype/doctype/doctype.py", line 291, in on_update
    self.run_module_method("on_doctype_update")
  File "/opt/erpnext/erpnext/apps/frappe/frappe/core/doctype/doctype/doctype.py", line 357, in run_module_method
    module = load_doctype_module(

[2020-08-07 08:34] yemikudaisi commented on #11198
Update: I figured the issue is not necessarily the verification code, the issue is from `frappe.utils import get_url`. Using the same setup, `get_url` returns `http://xyz.ngrok.io:8001/` instead of `http://xyz.ngrok.io/`. Any help on this ?

[2020-08-07 08:37] adityahase commented on #11198
Can you try setting `host_name` key in site_config.json?

[2020-08-07 09:16] yemikudaisi commented on #11198
This solved the problem, thanks.

[2020-08-07 09:24] scmmishra commented on #11214
Seems like an issue because of version mismatch. Ensure you're running the latest release of both Frappe and ERPNext

[2020-08-07 09:26] surajshetty3416 commented on #10997
@neelbhanushali You can raise it to develop. It will be ported to other versions as required.

[2020-08-07 09:34] gavindsouza commented on #11110
Since #11109 is merged, what's the status of this issue?

[2020-08-07 09:36] gavindsouza commented on #11108
Related Issue: https://github.com/frappe/bench/issues/771

[2020-08-07 09:47] #11110 closed, assigned to nobody

[2020-08-07 09:53] surajshetty3416 commented on #11018
This is probably a migration issue. Please make sure to properly migrate your site. Feel free to re-open if you still face this issue.

[2020-08-07 09:53] #11018 closed, assigned to hrwX

[2020-08-07 09:56] surajshetty3416 commented on #10907
@barredterra It seems suggestion by Chinmay should resolve the issue.

Closing this issue for now. Please re-open if you are still facing this issue.

[2020-08-07 09:56] #10907 closed, assigned to Thunderbottom

[2020-08-07 11:55] revant opened #11219 "move node-sass from devDependencies to dependencies"
node-sass is not only used in development environment, it is a also used in production environment.

`Website Theme` uses node-sass

To optimize docker image size we only install the "dependencies" from package.json, devDependencies are not installed.

https://github.com/frappe/frappe_docker/blob/bd157c6de9613694bcb803fd450510a0dcf47a36/build/frappe-nginx/build.sh

[2020-08-07 13:10] #11198 closed, assigned to netchampfaris

[2020-08-07 14:19] muchai opened #11267 "Mobile app log ins, then log off again-v13.0.0-beta.4"
The app works fine in the previous versions.

[2020-08-07 18:51] stapeldev commented on #18555
Confirm issue with erpnext 12.10.1 and Frappe 12.8.4

[2020-08-08 00:03] lxnow opened #18559 "ToDo"
ERPNext: v12.10.1 (HEAD)
Frappe Framework: v12.8.4 (HEAD)

* User is *not* System Manager.
* User creates a ToDo and wants to allocate (assign) to another user; user selects another user in the
* User saves ToDo but gets the following error:

Console log:

[code]

Suspect this is related to the ToDo permissions hard-coded into the framework, overriding ERPNext permissions
https://discuss.erpnext.c

[2020-08-08 06:34] asoral commented on #11214
Thanks for the tip. I'll try and update here

[2020-08-08 19:34] gwhitney opened #11222 "Data Import trouble with different child tables having different lengths"
The illustration of this issue uses Purchase Invoices in ERPNext, but as it has to do with the basics of Data Import, I believe it is a Frappe-level problem.

I am in process of migrating an existing Xero ledger to ERPNext for a small not-for-profit. We have converted Xero's export of all "Bills" to match the import template for Purchase Invoices. However, the import fails, complaining about vario

[2020-08-09 15:56] asoral commented on #11214
Solved. I was a version mismatch. Used got checkout manually in both the apps and solved

[2020-08-09 15:56] #11214 closed, assigned to nobody

[2020-08-10 11:20] nikhildx opened #11229 "SSRF Security Bug - PDF generation"
All doctypes in frappe support PDF generation. There is a big security flaw, wherein a user can plant a remote URL in any of the various data fields across any of the doctypes. And whenever any active logged in user clicks on those infested doctype for PDF generation, the link will submit the current session ID cookies to the remote hacker, compromising the access and allowing full control and log

[2020-08-12 03:31] centaur78 commented on #11101
hi @surajshetty3416

I just did a bench update now, below is the new traceback i get when I click on the dropdown as show in the image.

![error1](https://user-images.githubusercontent.com/1904802/89971975-b4239c00-dc6d-11ea-914c-4e92db0abc62.png)

[2020-08-12 08:02] chris-aeviator opened #14818 "Email sending fails: TypeError: object of type 'EmailPolicy' has no len()"
## Description of the issue
After minor updating V11 and then major upgrading to V12 I'm facing

![image](https://user-images.githubusercontent.com/11522213/89990290-6ebd9980-dc82-11ea-95a6-fa936dca9344.png)

and no mails get send, the mail queue is not filled, no error is shown in the browser
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the

[2020-08-12 08:14] chris-aeviator commented on #14818
Replacing the 12.8.4. `email_body.py` with https://github.com/frappe/frappe/blob/v13.0.0-beta.1/frappe/email/email_body.py seems to work, still a bug for a V12 update to be fixing it

[2020-08-12 10:40] #11039 closed, assigned to Thunderbottom, Mangesh-Khairnar

[2020-08-12 14:42] Vishalcse opened #14623 "fix the side menu bar in all inner section."
If fix the side menu of desk (erpnext v13-beta) to the inner section as well as inner pages. where user can simply go one section different section with in single click.

[2020-08-12 19:31] TurkerTunali commented on #11229
I think that, it would be better if you delete some details about the vulnerability and use [this form](https://erpnext.com/security/report) as [suggested here](https://erpnext.com/security).

[2020-08-12 19:40] TurkerTunali commented on #11229
I think it would be better if you delete some of the details about the vulnerability and use [this form](https://erpnext.com/security/report) as [suggested here](https://erpnext.com/security).

[2020-08-13 04:39] deantheiceman commented on #11267
Also facing this issue, any quick fix we can apply?

[2020-08-13 19:18] barredterra opened #11269 "Test records are not created for DocTypes without link fields"
If a DocType does not have any link field, test records (as defined in `my_app/my_module/doctype/my_doctype/test_records.json`) will not be created. Add a link to the DocType definition and it works.

Branch: `develop`

[2020-08-14 03:39] surajshetty3416 commented on #11267
The issue has been fixed with https://github.com/frappe/frappe/pull/11266

Also, the fix has been released with [`v13.0.0-beta.5`](https://github.com/frappe/frappe/releases/tag/v13.0.0-beta.5)

[2020-08-14 06:45] #11267 closed, assigned to nobody

[2020-08-15 11:20] mujeerhashmi opened #11276 "Accounts: Total Incoming Payment number card shows wrong value"
@prssanna
## Description of the issue
The accounts dashboard total incoming payment number card shows wrong value. In the attached screenshots you can see that amount shown in dashboard is 2.00 Lakh but from payment entry report it is supposed to be 1.70 Lakh.

On `bench conole`, I run `frappe.db.get_list("Payment Entry", fields=['sum(base_received_amount) as result'])` gives me correct output.
[c

[2020-08-15 11:32] mujeerhashmi commented on #11276
The rounding after dividing with divisor will report misleading figures in the dashboard. This needs to be changed to
[code]
`x` is already rounded & absolute value is taken.

https://github.com/frappe/frappe/blob/e819c75734470e5ca7bde949aaa5e6c2a4315fff/frappe/public/js/frappe/widgets/utils.js#L127

[2020-08-15 20:50] ryuliantoro opened #11278 "Error Log : Theme File Generation Failed"
## Description of the issue

When creating new site this error occur in Error Log saying that the theme file generation failed.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create new site `bench new site [sitename]`
2. Login to desk (as Administrator)
3. Go to Error Log
4. There is this error message

### Observed result
The

[2020-08-16 13:42] majdsh opened #11279 "Session is Expiring when opening "View Website" link"
## Description of the issue
When the user opens any link except "/desk" the session is expiring.

![ezgif-5-64b48e35d8a6](https://user-images.githubusercontent.com/11995100/90335677-436adf80-dfdf-11ea-984c-13553350c4ac.gif)

## Context information (for bug reprts)
**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Login
2. Click on "View Website"
3. The session is expiring.

[2020-08-17 12:11] mnaphade opened #11286 "TypeError: object of type 'EmailPolicy' has no len()"
ERPNext: v12.10.1 (version-12)
Frappe Framework: v12.8.4 (version-12)

The recent bench update --reset brought in the new version of files and ever since the emails are broken. The automated emails are not going nor the emails sent manually are getting relayed.

The issue seems to get resolved if I use the solution provided in this thread.
https://discuss.erpnext.com/t/issue-typeerror-object-of-ty

[2020-08-18 09:56] meaziz opened #11320 "Checkboxes css is messed up in safari - probably a Frappe bug"
## Description of the issue
Checkboxes css is messed up in safari - probably a Frappe bug

All checkboxes seems to have a css issue at in safari

### Observed result

<img width="203" alt="Screen Shot 2020-08-18 at 11 47 52 AM" src="https://user-images.githubusercontent.com/3176933/90499363-c019cd00-e149-11ea-9d80-b9275fed821d.png">

## Additional information

OS version / distribution, `ERPNext`

[2020-08-18 12:46] barredterra opened #11303 "S3 Backup sends email for successful upload, even if disabled"
### Reproduce

- Set up **S3 Backup Settings**
- Uncheck "Send Email for Successful Backup"
- Wait for the next backup (not sure if it works via "Take Backup Now" as well.

### Bug

Email "Backup Upload Successful" is sent despite being disabled.

![](https://user-images.githubusercontent.com/14891507/90514528-979dcd00-e161-11ea-9a35-ae5473d3344d.png)

[2020-08-18 16:14] barredterra commented on #9805
Basically, what you want is a list of all available DocTypes and fields, as well as methods and parameters, in swagger format? My approach with https://app.swaggerhub.com/apis-docs/alyf.de/ERPNext/13 was to leave the documentation as generic as the API. The downside, of course, is that you have to know exactly what you're looking for.

[2020-08-18 16:51] barredterra commented on #9805
Maybe you can use this as a starting point, @ddavidebor:

[code]

[2020-08-19 00:46] ddavidebor commented on #9805
Interesting!

[2020-08-19 12:42] aakvatech commented on #10909
The problem happens when custom app exports, each time it exports the sequence changes. So you cannot use DIFF when merging the branches and cannot differentiate as the idx will keep changing everytime a new field is added above. It is better to ignore the idx in order and only use the order of creation

[2020-08-19 12:53] aakvatech commented on #10909
If we change it to:
[code]
it will be better

[2020-08-21 11:34] wojosc opened #11336 "nextcloud integration"
copied from @asbasawaraj : https://github.com/frappe/erpnext/issues/22919
NextCloud is an open-source file hosting software.
https://nextcloud.com/

The requirement is as follows.

A. Backup files
Just like DropBox/Google Drive/Amazon S3 need a feature to push backup files to Nextcloud.
Refer https://docs.erpnext.com/docs/user/manual/en/erpnext_integration/dropbox-backup

- [ ] Settings page
- [ ]

[2020-08-21 11:35] wojosc commented on #11336
Hi @asbasawaraj it was good talking to you about this earlier. I moved this to frappe/frappe instead of frappe/nextcloud. The other post can be closed. Thank you.

[2020-08-21 13:39] #11276 closed, assigned to nobody

[2020-08-21 16:39] wojosc commented on #9818
I was just working on this issue and found the following:

The official documentation posts, that:
3. Now you can copy the Email ID by clicking on it and you can send or receive Emails using the unique Email ID. If an Email contains this unique Email ID either in the Recipients, Cc or Bcc, section, the system will link that Email to the specified Document.

So I tried sending to BCC...

It will wo

[2020-08-24 03:50] surajshetty3416 opened #11341 "Refactor Role Permissison Manager"
We can use a single doctype for Role Permission Manager to scrap custom design.

Ref:
https://github.com/frappe/frappe/pull/11304#pullrequestreview-470249153
https://github.com/frappe/frappe/pull/11304#issuecomment-676993853

[2020-08-24 06:37] asbasawaraj commented on #11336
Refer: https://github.com/frappe/frappe/issues/11336

[2020-08-24 06:37] #11336 closed, assigned to nobody

[2020-08-24 06:45] #11222 closed, assigned to nobody

[2020-08-24 07:18] #10650 closed, assigned to nobody

[2020-08-24 08:09] revant commented on #10283
https://github.com/frappe/frappe/pull/11317

[2020-08-24 08:09] #10283 closed, assigned to nobody

[2020-08-24 13:42] zerodiscount commented on #11152
Upgraded to Frappe v12.9.0 today. Issue remains.

[2020-08-25 14:18] barredterra opened #11354 "allow to add fields to single doctype"
Currently it's not possible to add fields (via **Customize Form**) to a single DocType, for example **About Us Settings**. While I approve that it should not be allowed to modify or remove fields from a settings related DocType, it should always be possible to add additional fields. If I cannot choose what information should be stored (and displayed, for example, on the `/about` page), this limits

[2020-08-25 14:51] Olawale1 opened #14164 "Restrict User Permission by DocType is not working"
Hi ,

Trying to limit access to the User Permission document by DocType is not working! Common scenario is if you want the HR Manager to be able to create User Permissions for only Company and Employee doctypes.

User: 'hrmanager@mydomain.com'
Allow: Doctype
For Value: Company
Applicable For: User Permission

The HR Manager is however still able to select ALL doctypes in the User Permission docume

[2020-08-25 14:56] Olawale1 commented on #14164
By the way, I thought this whole scenario should be handled automatically by simply checking 'Set User Permissions' for the HR Manager role via the Role Permission Manager? It doesn't seem to work either!

So what exactly is the use of this permission setting?

[2020-08-25 15:55] barredterra commented on #11087
The english string is defined [here](https://github.com/frappe/frappe/blob/bd372a9cd19762dc5c683ca996f64502d962ba79/frappe/desk/form/assign_to.py#L187). Feel free to send a PR to fix it.

You can also create a different Translation for `'{0} assigned a new task {1} {2} to you'` in your own instance. By adding a translation from english to english you can even change the original string.

[2020-08-25 16:00] #11087 closed, assigned to nobody

[2020-08-26 18:54] wojosc opened #11365 "Fix position or description"
If you wan't to use different e-mail accounts when sending e-mails you need to add all the email accounts to a table inside docType User. https://discuss.erpnext.com/t/how-to-manage-multiple-outgoing-email-account/22139/7

The section is called "E-Mail Inbox". Here the description is confusing as you need to add the accounts here which you wan't to use for sending instead of recieving. As this is

[2020-08-27 10:21] wojosc opened #14817 "Please add URL in standard email report"
Hi everyone,

auto email reports are very useful. I have come to like these a lot. Unfortunately not all of them include https:// links to the DocTypes mentioned in the mail. Here is on example:

![image](https://user-images.githubusercontent.com/22279621/91430785-b0903780-e85f-11ea-8ed2-4b6f94342d89.png)

Please add clickable link to mail for ease of use.

Thanks alot!
Best Wolfram

[2020-08-28 01:30] jordanparker-me opened #18564 "node-sass package not installed on docker image for version-12"
## Description of the issue
node-sass package not installed on docker image for version-12

## Context information (for bug reports)
Cannot update Theme due to lack of node-sass

**Output of `bench version`**
version-12

## Steps to reproduce the issue

1. Follow set up for local install of single-behch docker
2. Try to change theme

### Observed result
Error msg in UI

### Expected result
Changed

[2020-08-29 23:36] vishalkumar19 commented on #7641
any solution?

[2020-08-30 00:40] ernestoruiz89 commented on #5937
Any advance on this topic?

[2020-08-30 08:02] rohitk75 opened #14820 "Auto Email Reports lets you select only Script reports"
Auto Email Reports lets you select only Script reports
ERPNext: v13.0.0-beta.4 (version-13-beta)

Frappe Framework: v13.0.0-beta.5 (version-13-beta)
Auto Email Reports lets you select only Script reports.
It should allow to other types of reports also.

Regards
Rohit

[2020-08-30 18:26] sunnyakaxd opened #11377 "Full table scan to count no of elements on each Submit/Cancel"
https://github.com/frappe/frappe/blob/3c57041f74eb1089def0a09162aa168e0772e494/frappe/public/js/frappe/form/success_action.js#L31

This might get dangerous for document having large number of records.

[2020-08-30 22:22] benknowles opened #11378 "Improving performance with DB connection pooling"
Hello,

This isn't something that I've tested extensively, but in playing around with it I was able to get to work.

There is a package for that provides connection pooling for pymysql (https://github.com/prprprus/PyMySQLPool). The one in pip needs to be updated, there are bug fixes that aren't yet released, so I tested the following with the git version.

Currently for each request, a new SQL con

[2020-08-31 06:13] rohitbarnwal187 opened #11381 "Can anybody guide me how can I upload the ppt which should be displaying to ERPNext LMS via Course Article video and Program"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-31 06:33] sunnyakaxd commented on #11378
+1
Connection pooling itself isn't beneficial when you have less no. of connections (100-200), as creating a new connection is easy peasy for mariadb because of pretty low overhead. However, as you hit 1000+ connections, game changes to os sockets, as selecting a closed socket becomes troublesome for OS. There, keeping connections open comes in handy as finding and opening a new socket by OS is al

[2020-08-31 09:07] wojosc opened #11383 "Tag Colors"
moved from https://github.com/frappe/erpnext/issues/20302

It were great if we had the possibilty to colour our tags:
![grafik](https://user-images.githubusercontent.com/22279621/72424235-f2171b00-3785-11ea-89f3-11123681f119.png)

[2020-08-31 09:53] mujeerhashmi opened #18563 "Website: Unable to create new website theme"
## Description of the issue
New website theme cannot be saved.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.Create new website theme
2.Save

### Observed result
new website theme is not saved
### Expected result
new website theme should be created

[2020-08-31 10:00] ghost commented on #11108
I would love to host Erpnext on FreeBSD, any news on this issue

[2020-08-31 10:24] chlarsen commented on #11108
Yes, there is news. Good one, 95% done. I would love to write down a
how-to, but ideally do so in the Right Place(TM). Any advice from the forum?

Cheers,

Chris

On 31/08/2020 13:00, Martinsyspro wrote:

[2020-08-31 15:48] MohamedAbdultawab opened #11390 "SMTP: Exception Handling Resolution Order"
In `frappe/frappe/email/smtp.py` In `SMTPServer.sess`:
`		try:`
`				....`
`		except `_socket.error` as e:     `
`			....      `
`		except smtplib.SMTPAuthenticationError as e:     `
`			....   `
`		except smtplib.SMTPException:    `
`			....   `
`

Where:
`_socket.error` is `OSError` Which is defined: `class OSError(Exception):`
`class SMTPException(OSError):`
`class SMTPResponseException(SMTPExc

[2020-09-02 12:50] #11390 closed, assigned to nobody

[2020-09-02 15:59] ryuliantoro opened #11404 "Error traceback for app install"
**Is your feature request related to a problem? Please describe.**
There is no traceback log or print for the app install process. So when error happen frappe only print a line of message which is hard to understand where the wrong is. For example:
[code]

**Describe the solution you'd like**
A full traceback of the process going wrong instead of just a line of message error displayed by line 221

[2020-09-04 07:01] abunet commented on #10149
any chance to update documentation and tutorial?
Thanks!

[2020-09-05 16:14] ghost commented on #11108
You welcome to send my any notes on installing :D

[2020-09-07 07:15] ceefour opened #11429 "bench update-translations throws error: ValueError: not enough values to unpack (expected 4, got 2)"
## Description of the issue

bench update-translations throws error: ValueError: not enough values to unpack (expected 4, got 2)

Initially reported at: https://discuss.erpnext.com/t/how-to-translate-custom-apps/17100/12?u=hendy

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. `bench get-untranslated id untranslated.csv`
2. copy `

[2020-09-07 14:38] s1risaac commented on #18716
+1 for me a sync with kopano would be very interesting

[2020-09-07 15:55] DeeMysterio commented on #11101
@surajshetty3416 @prssanna I have not spent time recreating this error yet but I've left a comment for you [here](https://github.com/frappe/frappe/pull/11058). If you want I can resend the PR I'm trying to suggest!!

[2020-09-07 18:25] asoral commented on #18716
+1 nextcloud maybe?

[2020-09-08 07:08] Olawale1 opened #11455 "Add Print functionality to the Customize Form page"
Hi ,

Currently, there is no way of viewing field properties (via Customize Form) without expanding each row. This is very cumbersome especially when you need to review several fields. One common scenario is trying to check 'Perm Level' on multiple fields while configuring permissions or troubleshooting permission issues

Please add a 'Print' option on the Customize Form page just like we have on

[2020-09-10 05:45] dottenbr commented on #5371
This was an issue on the old desk and it persists now. You can open a module in a new tab but not the elements of the module.

**GOOD: Can open modules in new tab**

![image](https://user-images.githubusercontent.com/9136094/92686234-89466980-f339-11ea-9f6c-9fd86d48d216.png)

**BAD: Can't open page in new tab**

![image](https://user-images.githubusercontent.com/9136094/92686280-a1b68400-f339-11ea

[2020-09-10 05:52] dottenbr opened #11472 "Can not write @ sign in user signup"
ERPNext: v13.0.0-beta.4 (version-13-beta)
Frappe Framework: v13.0.0-beta.5 (version-13-beta)

System set to english, keyboard is German (Mac)

German at sign is OPTION+L which works if I type it in the browser but somehow in the signup it doesn't work. Is this because OPTION+L is mapped to some function in ERPNext?

![atsign](https://user-images.githubusercontent.com/9136094/92686647-594b9600-f33a

[2020-09-10 06:26] dottenbr opened #11473 "Can not save website Theme"
ERPNext: v13.0.0-beta.4 (version-13-beta)
Frappe Framework: v13.0.0-beta.5 (version-13-beta)

I just set the theme name and clicked save. Can't save the theme.

![image](https://user-images.githubusercontent.com/9136094/92689422-48515380-f33f-11ea-9b0c-f3c72b882249.png)

[2020-09-10 10:49] sezanzeb opened #11478 "regex_replace jinja2 filter"
**Describe the solution you'd like**
using for example: `{{ "abc123" | regex_replace('\d+', '_') }}` in a print format which should result in "abc___"

a regex_replace function can be added like this: https://stackoverflow.com/a/12825283, probably in `def set_filters` in frappe/utils/jinja.py

[2020-09-11 19:28] muniter opened #11488 "Bench get-untranslated is broken"
**Describe the bug** :chart_with_downwards_trend:
`bench get-untranslated es` gives an error.

**To Reproduce** :page_with_curl:
Steps to reproduce the behavior:
1. Go to `/frappe-bench/sites'
2. Run `bench get-untranslated es ./my-trans` Language doesn't matter
4. See error

**Expected behavior** :chart_with_upwards_trend:
The untranslated strings.

**Screenshots** :crystal_ball:
[code]

**OS (pl

[2020-09-14 06:05] netchampfaris commented on #9992
@gavindsouza

How about we remove `cypress` as a dependency from `package.json` and then install it on demand when you run the `bench --site sitename run-ui-tests` command?

[2020-09-14 07:11] surajshetty3416 commented on #5907
Seems like an old issue. Cannot replicate anymore. Please re-open if you are still able to replicate this issue.

Closing for now.

[2020-09-14 07:11] #5907 closed

[2020-09-14 07:27] creamdory commented on #5907
@surajshetty3416 yes not an issue anymore. Thank you for looking in to this!

[2020-09-15 05:38] #11219 closed, assigned to nobody

[2020-09-15 06:15] sammish opened #11490 "Version -13 (Failed to Send Notification )"
https://github.com/frappe/frappe/blob/d6187363cae5895c42473041d4bf2083e9655682/frappe/email/doctype/notification/notification.py#L242

![photo_2020-09-15_08-55-23](https://user-images.githubusercontent.com/12432802/93172647-ef652f00-f733-11ea-8a8a-bb356797f4ee.jpg)

[2020-09-15 06:16] sammish commented on #11490
@adityahase @nabinhait

Please check.

[2020-09-15 06:24] sammish opened #11491 "Manual reconciliation tool missing in erpnext version 13"
Manual reconciliation tool  missing in erpnext version 13

There is no shortcut Banking and Payments in Accounts

[2020-09-15 06:28] creamdory opened #11492 "imaplib.IMAP4.abort: socket error: EOF from Incoming Email"
## Description of the issue

We have an ERPNext instance where we set 2 email accounts to automatically create `Issue` and `Opportunity` respectively. There is an email that did not went through and we got below error log.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Add Email accounts and set `Append To` one for `Issue` and o

[2020-09-15 11:37] virazura commented on #9024
Hi, have you find the solution to this?

[2020-09-15 16:13] CHARUDATTAPUROHIT opened #14901 "Feature required to "Duplicate" combination of Document type + Role +Level +Permissions on the "Role Permissions Manager" screen"
At present there is no feature available to "Duplicate" a combination of Document Type + Role +Level + Permissions on the "Role Permission Manager " Screen. In the absence of this facility, one has to create to 2 sessions and manually create the desired combination of "Document type + Role+Level+ Permissions" by adding manually each document type.

Business requirement is to create a new role copy

[2020-09-16 08:45] barredterra opened #11512 "Nested Web Templates"
## Current
Currently, a **Web Template** cannot contain another **Web Template**. It is designed so that it contains the full layout of an entire section.

## Problem
However, a section is usually composed of many reusable elements. For example, the company history might contain multiple time steps, the team multiple members, etc. There are always some buttons or banners, or headings that get reus

[2020-09-16 09:59] prssanna commented on #11101
Hi @DeeMysterio @centaur78 , this error has been fixed in https://github.com/frappe/frappe/pull/11230, so closing this issue.

[2020-09-16 09:59] #11101 closed, assigned to prssanna

[2020-09-16 11:20] madmath03 commented on #9024
no, and I believe the only solution is to fix the Frappe code.

@prssanna Can you take a look at this please ? (or someone else depending on the subject).

[2020-09-16 11:55] netchampfaris commented on #11512
When I started building the initial concept of Page Builder and Web Templates, I had this in mind. So I started with the ability to nest web templates. But it turned out to be much difficult to implement.

Here's why:

A row in Page Blocks contains the name of the Web Template and template context values as JSON.

Let's say you want to render another Web Template in a Web Template. There will be t

[2020-09-16 13:00] Alchez opened #11520 "Quill's generated HTML for bulleted list causes issues when rendered on the website"
## Description of the issue

Quill generates both numbered and bulleted lists using the `<ol>` tag, with the child `<li>` elements set with the `data-list="ordered"` or `data-list="bullet"` respectively to differentiate between them. This looks fine within the text editor, but when that HTML needs to rendered on the website (blog post, item description, etc.), it doesn't inherit the stylesheets, c

[2020-09-16 17:49] barredterra commented on #11512
Yes, i struggled with a good concept as well. Thats why it became an issue, not a PR xD. But thanks for the hint regarding web_blocks. That's a good workaround for now.

[2020-09-16 18:00] barredterra commented on #11512
Is there any documentation on `web_blocks`? If not, here's a quick example how to include a **Web Template** "Call To Action" into another **Web Template**:

[code]

[2020-09-16 19:18] KhaledBinAmir commented on #14901
+1

[2020-09-17 11:12] ahmadRagheb commented on #9640
thanks for the work around @pipech
why this happen ?

[2020-09-18 06:44] #11490 closed, assigned to prssanna

[2020-09-19 18:01] mujeerhashmi opened #11534 "Unable to delete more than 10 items in a list."
## Description of the issue
I noticed this in file list and medical departments list. Select more than 10 items and from actions click delete. None of the selected items are deleted.
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result

### Expected result

### Stacktrace / full error message

[code]

## Addi

[2020-09-20 09:08] taj-meltedmoon commented on #6201
any update regarding? we need it badly

[2020-09-21 09:38] barredterra commented on #11512
Creating a **Web Template** feels a lot like creating a **DocType**. Could we just add a web_template field to **DocType** rather than make a second, less powerful doctype builder? The Web Page Builder could point to a doctype instance for each section. And we could add more complex data like tables, links, etc.

@netchampfaris

[2020-09-21 18:02] barredterra commented on #6201
One problem seems to be here:

https://github.com/frappe/frappe/blob/bb5ea19255523c8d6a7a2385a6ab1a51ddb712dd/frappe/utils/response.py#L105-L118

Error messages get turned into a string no matter what. Maybe we can start by removing all the `json.dumps` here and decide at a later point if we need to serialize it.

Another problem is, that a lot of logic that has nothing to do with rendering HTML i

[2020-09-22 06:00] centaur78 opened #11547 "cannot import name 'clear_defaults_cache'"
hi @netchampfaris

I am getting the below error while doing bench update due to this PR #11285

[code]

[2020-09-22 11:35] intrepidtechnology commented on #11547
Hi @centaur78 and @netchampfaris

I'm running into the exact same.

Environment:
- Debian 10
- Python 3.7

Here's the log:
<pre>
Traceback (most recent call last):
  File "/usr/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/support/frappe-bench/apps/frappe/frap

[2020-09-22 12:03] #10070 closed, assigned to gavindsouza

[2020-09-22 12:10] netchampfaris commented on #11547
Those files were not changed in this PR https://github.com/frappe/frappe/pull/11285.

I was able to migrate my site after my PR was merged. This issue is unrelated but I sent a fix.

https://github.com/frappe/frappe/pull/11552

[2020-09-22 12:16] netchampfaris commented on #11512
@barredterra Building doctypes are different from building web pages.

I don't know how this would work. Is nesting web templates really that important against having a simple design? Even in the current doctype design, you can't nest doctypes after 1 level (Child Tables).

Maybe we could allow a Web Template of type "Macro" which can be used directly in web templates in Jinja. These templates wil

[2020-09-22 18:44] sunnyakaxd opened #11553 "Whole table being scanned on success action"
https://github.com/frappe/frappe/blob/develop/frappe/public/js/frappe/form/success_action.js#L31

This seems like a small feature, with huge potential for downtime. Imagine a million rows in Sales Invoice table.

[2020-09-23 08:24] centaur78 commented on #11547
Thanks @netchampfaris

Just bench updated the PR #11552 , issue resolved.

[2020-09-23 08:24] #11547 closed, assigned to nobody

[2020-09-23 08:29] mtraeber opened #11556 "IMAP port settings are not updated from Email Domain to Email Account"
## Description of the issue

When changing the IMAP port in an existing Email Domain, the Email Accounts using this Domain are not updated accordingly. This can lead to Frappe trying an IMAPS connection (which usually is 993) to the plain IMAP port 143, resulting in misleading error messages like `ssl.SSLError: [SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:852)`.

We could track down th

[2020-09-23 08:55] intrepidtechnology commented on #11547
Thanks @netchampfaris, it's working perfectly now.

[2020-09-23 10:09] MahmoudRizk opened #11559 "Refactor MultiSelectDialog class."
https://github.com/frappe/frappe/blob/6fa6d2edf8e094cec37101dd09b44b002ace6f63/frappe/public/js/frappe/form/multi_select_dialog.js#L41

I am suggesting to delagate the creation of ``var dialog`` to a separate function. Since I went through a use case where I needed to change the behaviour of the dialog which made me to rewrite the entire ``make`` function instead of overwritting it.

[2020-09-23 10:18] neelbhanushali commented on #5837
bump

[2020-09-24 11:29] robinrosenstock commented on #18716
I just want to refer to frappe/erpnext#22919 , where the integration with nextcloud is discussed. There is already this app: https://github.com/doloresjuliana/pibiapp. Maybe its possible to add the functionality within this app to sync the contacts with nextcloud. Then one could sync the contacts further with the nextcloud calDAV and cardDAV servers...
Also see the discussion in the forums: https:

[2020-09-24 17:04] fderyckel commented on #5307
I have left a comment on Discuss on a similar issue.
https://discuss.erpnext.com/t/why-0-cannot-be-an-acceptable-value/66231

[2020-09-25 16:36] Elon8 commented on #10842
At present, there is still a controversy about whether it is good or bad to use relational fields in database .
But there are some obvious disadvantages:
1, the use of associated fields will bring great trouble to rapid iterative development
2. In the case of large concurrency, the query speed is affected

But I also want to know the development team's consideration on this matter .
e.g
what delib

[2020-09-25 18:16] taj-meltedmoon commented on #6201
I Agree with you @barredterra , so shell we try to change things and ask for a merge?

[2020-09-26 16:50] Olawale1 opened #11575 "V13 Mobile App Issues: Address Bar Shows When a Module is Selected"
Please see below:
![Screenshot_20200917-103712_ERPNext](https://user-images.githubusercontent.com/9269337/94345834-aa3cd900-0020-11eb-84d2-e28579d937d7.jpg)

Please help fix

Thanks

[2020-09-26 17:03] Olawale1 opened #11576 "V13 Mobile View Issues: Tick Box instead of Likes"
Hi ,

Please remove the option to Like records in mobile list view and replace with Tick Boxes so that we can select multiple records and take bulk action. This is much more useful than likes

![Likes in Mobile List View](https://user-images.githubusercontent.com/9269337/94436907-f1e47180-0194-11eb-85b5-7eaba6d1f96f.jpg)

Thanks

[2020-09-26 17:12] Olawale1 opened #11577 "V13 Mobile View Issues: Add Tags in List View instead of Dots"
Hi ,

Please add ability to use a document field as a Tag in list view. Something similar is implemented in the Shortcuts of the Desk Page. It is very much needed in the list view. Currently, the right column in mobile list view is largely wasted. Adding this feature will enhance the list view significantly. The user can select a critical field (e.g. Status, Grand Total) that will give more insigh

[2020-09-28 12:01] Altizo opened #11585 "Translate"
Hi, I am one of the members of the Russian-speaking ERPNext community.
We wanted to implement ERPNext in several enterprises and help in setting up and modifying ERPNext for the realities of doing business in Russia.

At the moment, the translation of ERPNext is terrible. Guided by the documentation, we have translated and verified over 300 translations on the [translate.erpnext.com](https://trans

[2020-09-28 12:17] sunhoww opened #11586 "Error while trying to upload csv files in child tables"
## Description of the issue

Found to affect only browsers running on Windows.

Unable to upload items csv using the **Upload** button in items child tables of various doctype forms like _Purchase Receipt_, _Delivery Note_, etc. Error thrown in ui -

## Context information (for bug reports)

This seems to be happening here https://github.com/frappe/frappe/blob/c50533f3bbb5538e43c243e0b3cfaaa31f5c6

[2020-09-29 04:13] kennethsequeira commented on #18502
Related: https://github.com/frappe/erpnext/issues/23432

Seems that any value declared as default isn't translated. This may require a fix on the framework level.

[2020-09-29 04:58] kennethsequeira commented on #11576
@Olawale1 add the point that this is required for mobile view, since on wider screens (any laptop/PC/Desktop) you have the checkbox options.

[2020-09-29 06:11] surajshetty3416 opened #11597 ""Customizations Saved Successfully" is displayed twice"
Step 1: Login and navigate module page
Step 2: Click on 'Customize Workspace'
Step 3: Re-organize the cards under 'REPORTS & MASTERS'
Step 4: Click on Save.

"Customizations Saved Successfully" is displayed twice instead of once as shown below. 

![image](https://user-images.githubusercontent.com/13928957/94517663-07fe3a80-0246-11eb-8e64-ef0f20120638.png)

[2020-09-29 06:17] rubyruins commented on #11597
I would like to work on this, could you clarify the issue a bit more?

[2020-09-29 06:17] scmmishra opened #11598 "Shows "XYZ is viewing" twice in most documents"
When someone is viewing the document at the same time as you, a toast is shown. Sometimes it may be possible that the same user is viewing the docs from two clients, which then results in their name being displayed in the toast twice.

Example

![image](https://user-images.githubusercontent.com/18097732/94520160-67117e80-0249-11eb-8485-6fa8329a1c26.png)

[2020-09-29 06:19] scmmishra opened #11599 "[UX] URLs in Data field"
When URLs are stored in Data field it would be useful to see an arrow to go
to it like below the arrow redirects to the respective document.

![image](https://user-images.githubusercontent.com/18097732/94520354-c1124400-0249-11eb-823a-f7c8b9a6b20d.png)

Unless there is an existing use-case where URLs are used as document names,
this should be a non-breaking change.

Data fields have custom [valida

[2020-09-29 06:25] scmmishra opened #11600 "Can't go back from My Profile Page"
Login > Settings > My Profile, try going back now! Check the GIF:

![dZjhfQ5](https://user-images.githubusercontent.com/18097732/94520721-63322c00-024a-11eb-8f76-4c16087c07b9.gif)

This happens because the route to myprofile does not have user appended, it is added later from the client, this creates a browser history. So hitting back, takes you back to the same profile URL without the user specif

[2020-09-29 06:46] scmmishra commented on #11553
We can use `get_all` with limit to see if documents exist! The intention behind this piece of code is to show a separate message if this is the first entry a user has made for that doc

[2020-09-29 07:00] surajshetty3416 commented on #11365
Fixed with https://github.com/frappe/frappe/pull/11364

[2020-09-29 07:00] #11365 closed, assigned to nobody

[2020-09-29 07:04] scmmishra commented on #11031
You can now use the duration field type

[2020-09-29 07:04] #11031 closed, assigned to nobody

[2020-09-29 07:05] surajshetty3416 commented on #11320
Fixed with https://github.com/frappe/frappe/pull/11077 & https://github.com/frappe/frappe/pull/11568

[2020-09-29 07:05] #11320 closed, assigned to deepeshgarg007

[2020-09-29 21:20] abhishekbalam commented on #11472
@dottenbr  if you notice closely in your gif, on pressing Option key, you can see a small underline below specific characters in the "Menu" (M), "Refresh"(R) and "New"(N). You can also see this in the sidebar.
Using Option key one can select buttons or dropdowns options by pressing the underlined character with the Option key.

Like you guessed your issue arises because of [keyboard shortcuts on O

[2020-09-29 21:51] abhishekbalam commented on #11599
@scmmishra

I want to take this up. Assigning myself.

[2020-09-30 06:12] abhishekbalam commented on #11127
Feature implemented with linked pr.
Closing.

[2020-09-30 06:12] #11127 closed, assigned to abhishekbalam

[2020-09-30 06:48] #11303 closed, assigned to abhishekbalam

[2020-09-30 07:26] abhishekbalam commented on #11303
S3 settings fixed, there is a problem with frappe.db.get_value() for checkbox values in single doctypes.
It returns the values as string, which made the validation fail.
Working on that fix now.

[2020-09-30 13:46] dottenbr commented on #11472
On the German Mac keyboard @ is Option+L so I think this is a bug for the German market.

[2020-09-30 15:43] Benefactorsltd opened #11615 "truncateLegends seems to not be working properly on Charts on version 13-beta"
I have added the truncateLegends option on charts but because of the big value numbers, the legends still override.
![image](https://user-images.githubusercontent.com/60351674/94708041-6dd0ec00-0344-11eb-8753-a56b0c91ac3d.png)

[2020-09-30 17:49] justmejust opened #11616 "Customize Workspace intervention when using Arabic Language at the main page between Customize Workspace and Your Shortcuts"
when i am using Arabic language and go to the home page these tow lines of text become over each other so the user can't understand whtas there
but when using English page it's become clear that those tow lines of text is
Customize Workspace and  Your Shortcuts
so in case of Arabic page the user will not be able to do Customize Workspace

so how can we manage with such issue?
thank you all

[2020-09-30 18:50] blenderskool commented on #11600
@scmmishra Can I try working on this?

[2020-09-30 18:54] scmmishra commented on #11600
Heya @blenderskool sure, please go ahead! Let me know if you need any help!

[2020-09-30 19:29] deathstalkr commented on #11383
Hi, I am new to this so could you please help me and point to the direction where I can add this feature?
Thanks!

[2020-09-30 20:39] appsplash99 commented on #11478
Hi,
I am new to Open Source but not to python.
The solution in the provided stackoverflow link:

###### There is an already existing filter called <ins>`replace</ins>` that you can use if you don't actually need a regular expression. Otherwise, you can register a [custom filter](http://jinja.pocoo.org/docs/api/#custom-filters):

    # Custom filter method
    def regex_replace(s, find, replace):

[2020-10-01 04:08] #11598 closed, assigned to nobody

[2020-10-01 06:07] wojosc commented on #11383
HI @Solomon98 what do you mean? Can you not find the feature? If you are looking for the colors...they do not exist.

Grüße

[2020-10-01 07:41] sunhoww commented on #11586
Fixed in #11587

An alternative to handle the mime type check would have been to take a _slice_ from the head of the `file_obj` blob and check for the occurrence of sheet title like `__("Bulk Edit {0}", [title]) `.

[2020-10-01 07:41] #11586 closed, assigned to nobody

[2020-10-01 09:40] blenderskool commented on #11600
@scmmishra Sorry if I missed this somewhere, but I can't find a guide that can help me in setting up the project locally.

[2020-10-01 09:52] adityahase commented on #11600
@blenderskool https://github.com/frappe/frappe/wiki#installation

[2020-10-01 10:51] sunhoww commented on #11520
Seems this was addressed way back in #6783. Then subsequent PRs #10984, et al. to the `develop` branch seem to have dropped the changes.

However, `version-11` and `version-12` continue with the fix intact. So, these two branches still follow the **Expected result**

[2020-10-01 10:55] sezanzeb commented on #11478
@appsplash99

You would usually first fork the project, get a local instance running from your forked code, then insert the code and just try out if it works. If it works, create a pull request https://github.com/frappe/frappe/compare

Plus points if you write beautiful, maintainable pylint compliant code and figure out a way to test this change in a unittest.

I was busy with other stuff at the t

[2020-10-01 17:14] ceefour opened #11621 "Form UI gives wrong file name and URL of Attach field if filename contains ",""
## Description of the issue

Form UI gives wrong file name and URL of Attach field if filename contains ","

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a Doctype file Attach field, or alternatively, use any attach field
2. Upload a PDF file named e.g. `Dokumen+ABC+DEF+(+CV,+Ijazah,+Transkrip,+Toefl,+SKCK,+Foto)+.pdf`

[2020-10-01 21:12] ceefour commented on #18507
In my case (ERPNext v13.beta.4) this results in entire webform " Not Permitted - You do not have enough permissions to complete the action" when accessed by guest.

![image](https://user-images.githubusercontent.com/24123/94863936-6a815180-0465-11eb-945d-7dbf297a6aad.png)

![image](https://user-images.githubusercontent.com/24123/94867205-fa75ca00-046a-11eb-96c2-37d5c1e61a2f.png)

[2020-10-02 00:51] revant opened #11623 "Error: Executing frappe.patches.v13_0.generate_theme_files_in_public_folder"
## Description of the issue

Migration fails for v12 to develop for new created v12 site.

## Context information (for bug reports)

Found here https://travis-ci.com/github/frappe/frappe_docker/jobs/393753929#L714

## Steps to reproduce the issue

1. create new v12 site
2. switch to develop branch
3. migrate v12 site to develop

### Observed result

### Expected result

### Stacktrace / full error

[2020-10-02 06:46] amartya-dev commented on #11576
@surajshetty3416 Is this up for grabs? I would like to work on it

[2020-10-02 06:56] sunhoww commented on #6909
Solved by #6154

[2020-10-02 06:56] #6909 closed

[2020-10-02 08:10] barredterra opened #11625 "Disabled users still get assignment emails"
I had an employee who was assigned to a task. When the employee left the company, the corresponding user was disabled.

After a couple of months, the assignment was removed from the task. The employee still got an email saying "Your assignment on **Task** **Do something** has been removed by **Raffael Meyer**".

I don't think former users should still get system emails. So we need to check if the

[2020-10-02 08:46] ceefour commented on #18507
The `PermissionError` stack trace in my case:

[code]

[2020-10-02 09:01] ceefour commented on #18507
I resolved my case by adding **Guest** permission to the linked doctype:

![image](https://user-images.githubusercontent.com/24123/94906241-51f65300-04c8-11eb-9db7-db00e27510bc.png)

**Tip for common usage**: Make sure to also allow guest to upload files.

[2020-10-02 10:25] ceefour opened #11626 "Web Form UI Float number input box should use correct precision defined by Web Form field or Doctype field"
## Description of the issue

Web Form UI Float number input box should use correct precision defined by Web Form field or Doctype field

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a Doctype with Float field, [set Precision to 0](https://docs.erpnext.com/docs/user/manual/en/customize-erpnext/articles/set-precision)
2. E

[2020-10-03 18:20] aakvatech opened #11631 "docstatus = 3 "Archived Draft""
Further to https://github.com/frappe/erpnext/issues/8765

Leaving holes in invoice numbers is an issue in Tanzania as well.

All invoices and journals should have a stage like "Archived Draft" that can only be ammended to to be Submitted. This will create a clear distinction between those Drafts that are current and actually draft, and mark "Archived Draft" for items that are equivalent to "Cancel

[2020-10-03 19:28] steliosmilidonis opened #14819 "Sending emails error"
running erpnext verrsion 13 beta 4 on docker and keep having the following error when sending emails
[code]

[2020-10-04 07:41] Codilot commented on #11383
@Solomon98 --> are you still working on this? If not I would give it a try :art:

[2020-10-05 01:15] conncampbell opened #11636 "Clearing attachment from web form causes error on save."
## Description of the issue
When clearing an attachment from a web form, an error is returned and the attachment is not deleted from the file store.

## Context information (for bug reports)
erpnext 13.x.x-develop
frappe 13.x.x-develop

## Steps to reproduce the issue

1. create web form with attachment
2. add attachment and save
3. delete attachment and save

### Observed result
Error is returned

[2020-10-05 07:38] ceefour commented on #11621
Diagnosis:

* rendering during `form.js`(line 70 or 289): `this.setup()`
* seems to be here: attach.js line 88

[code]

Due to "split based on ," here: (line 82)

[code]

It expects attachment value can be formatted as `FILENAME,URL` which is too error-prone.

[2020-10-05 08:28] ceefour commented on #11621
@prssanna Please merge PR #11640.

[2020-10-05 09:18] asoral opened #11641 "Error on Bench Update - Patch Issue"
Executing frappe.patches.v13_0.web_template_set_module in demo (_89e495e7941cf9e4)
Traceback (most recent call last):
  File "/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/opt/erpnext/erpnext/apps/frappe/frappe/utils/bench_helper.py", line 99, in <module>

[2020-10-05 12:45] mosenturm opened #11648 "bench init: New ERROR for pip install since October 2020"
## Description of the issue
After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

## Steps to reproduce the issue

1. `bench init --skip-redis-config-generation --frappe-branch version-13-beta frappe-bench`

### Observed result
[code]

[2020-10-05 14:51] revant commented on #11648
I got the same error even in non docker bench. It is not fatal error, It proceeded to install node_modules with yarn

@gavindsouza

[2020-10-05 15:28] Torniyo commented on #11648
Same issue here.... on debian 10 (buster), bench just installed....

[2020-10-06 09:36] revant commented on #11641
also found here

https://travis-ci.com/github/frappe/frappe_docker/builds/188356818#L2708

[2020-10-06 10:23] sezanzeb opened #11650 "SQL Injection Vulnerabilities"
Just using the regular expression in  `frappe.db.sql.+format` in the frappe app gives me 42 matches, there are potentially more that go over multiple lines and there are more in the erpnext code.

The docstring of the sql function says:
[code]

yet you use `.format` in many places trusting that the unescaped names of custom doctypes and such are not injected SQL code instead of using the escaped p

[2020-10-06 10:41] gavindsouza commented on #11648
This doesn't seem like a "real" problem IMO since the components we utilize from the library haven't changed in behaviour in those versions. If you think otherwise, please share your thoughts with me.

Nevertheless, this dependency issue should be fixed. Currently, unsure where the `google-api-core` requirement is coming from. Probably, `google-api-python-client`?

[2020-10-06 10:45] adityahase commented on #11650
@sezanzeb If you have a vulnerability to report please do so at https://erpnext.com/security. We offer rewards for valid issues that aren't disclosed publically until they are fixed.

[2020-10-06 10:56] mosenturm commented on #11648
@gavindsouza I think that the pip dependency algo is changing and the message we've seen is from pip as warning. Because everything is working fine, this is no really Bug or Error.

[2020-10-06 11:17] mosenturm commented on #11648
@gavindsouza See this: https://discuss.python.org/t/announcement-pip-20-2-release/4863

[2020-10-06 18:19] sezanzeb commented on #11650
Many if not all of the occurrences are because the escaping wraps it in '...

There currently is no other option with the frappe.db.sql function than to use `.format` if column names are inserted in the query. It would have to use the ` quotation marks. Sorry, my mistake

[2020-10-06 18:19] #11650 closed, assigned to nobody

[2020-10-07 04:16] chromonav opened #11654 "Razorpay integration missing currency support."
## razorpay_checkout.js does not have a currency field.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a checkout URL with the following code:
[code]
2. Go to the checkout link

### Observed result
The amount is shown in Rupees (Default Currency).

### Expected result
Should have been in the currency with which the integr

[2020-10-07 05:34] gavindsouza commented on #11648
@mosenturm I'm aware that the dependency resolver is changing. I had tried it out earlier and frappe installation ended without errors using it. Even the package `google-api-core` has been resolved at version `1.22.4`.

I tested this again today and the new dependency resolver just fixes the `google-api-core 1.22.3 requires google-auth<2.0dev,>=1.21.1, but you'll have google-auth 1.18.0 which is i

[2020-10-07 05:34] #11648 closed, assigned to gavindsouza

[2020-10-07 05:39] gavindsouza commented on #11488
Fixed in https://github.com/frappe/frappe/pull/11629

[2020-10-07 05:39] #11488 closed, assigned to abhishekbalam

[2020-10-07 06:31] kitaka commented on #10297
It appears to me that while the documentation might be misleading, the implementation makes sense. It is safe for hooks to deny access but its unsafe for them to grant access. If a hook grants access, then it denies other hooks control over the permission process.

[2020-10-07 10:01] scdanieli opened #11657 "AttributeError: 'NoneType' object has no attribute 'update'"
[code]

[2020-10-07 10:05] barredterra commented on #11657
- Code should not assume that a Web Block contains any json (could also be None).
- Default value should be '{}' instead of None.

[2020-10-07 11:07] barredterra opened #11659 "Translation Tool does not pick up ``-denoted strings"
There are about 180 translatable strings in the javascript files of frappe and erpnext that use this notation (with ``):

[code]

However the translation tool does not pick them up. It seems to look only for strings like `__('Translate me!')` or `__("Translate me!")`. This means that the respective 180 strings cannot be translated, currently.

[2020-10-07 13:15] barredterra opened #18566 "List view: wrong calculation of results area height"
### How it looks
![localhost_8000_desk(Website Screenshot)](https://user-images.githubusercontent.com/14891507/95334698-bc373b00-08ae-11eb-8c2e-7a0ba20a1669.png)

Notice that the "20 100 500" bar is cut off.

### How it's supposed to look
![localhost_8000_desk(Website Screenshot) (1)](https://user-images.githubusercontent.com/14891507/95334904-fb658c00-08ae-11eb-9e56-4e09efd4720a.png)

Fills the s

[2020-10-07 13:32] barredterra opened #11660 "Cannot toggle sidebar on small screens"
### Reproduce

1. Open developer tools in chrome.
2. In the top bar, adjust screen width to something between `992px` and `1200px`. (Below 992 it switches to mobile layout, above 1200 everything works as expected.)
3. Open a list view and click on Menu > Toggle Sidebar.

### Error

Sidebar remains visible. No error messages.

[2020-10-07 13:33] barredterra opened #11661 "Cannot toggle sidebar at low resolution"
### Reproduce

1. Open developer tools in chrome.
2. In the top bar, adjust screen width to something between `992px` and `1200px`. (Below 992 it switches to mobile layout, above 1200 everything works as expected.)
3. Open a list view and click on Menu > Toggle Sidebar.

### Error

Sidebar remains visible. No error messages.

[2020-10-07 13:34] barredterra commented on #11661
duplicate

[2020-10-07 13:34] #11661 closed, assigned to nobody

[2020-10-08 10:51] henrynewman commented on #9697
I am currently having the same problem with Stripe live API keys integration.

[2020-10-08 11:11] barredterra commented on #9697
This has been fixed in `develop` with #11065 and will probably not be fixed in `version-12`.

[2020-10-08 11:48] henrynewman commented on #9697
Can you make a minor fix to version 12.5 as version 13 is not out yet in production..

[2020-10-08 11:52] barredterra commented on #9697
IMHO it's not a minor change. @Thunderbottom , what do you think?

[2020-10-08 12:03] Thunderbottom commented on #9697
Not a huge change, but I think v13 will be out soon, and so it wouldn't make sense to put this in v12.

[2020-10-08 12:04] henrynewman commented on #9697
Okay guess we will wait for v13

[2020-10-08 21:10] Thunderbottom commented on #9697
I'll close this issue since it has been fixed in version 13 with #11065

[2020-10-08 21:10] #9697 closed, assigned to hrwX

[2020-10-10 03:24] iMoshi commented on #11623
Just switched to develop from v12, and now getting this error. Not the docker version fyi.

[2020-10-10 11:23] walstanb commented on #11455
Use the download option at the end to download the List of Fields.

[2020-10-10 13:31] #11660 closed, assigned to nobody

[2020-10-10 15:53] chromonav commented on #5886
+1

[2020-10-10 17:02] Ponyooooo opened #11683 "Customize Form"
<!--
Welcome to the Frappe Framework issue tracker! Before creating an issue, please heed the following:

## Description of the issue
Experience a pop-up message for Customize Form and Doctype Core Editing

## Context information (for bug reports)

Experience a pop-up message that the Purchase Invoice cannot be saved or submitted. The message says,

"Status cannot be “Unpaid”. It should be one of

[2020-10-11 04:22] jalajc opened #11684 "bench init frappe-bench : error occurred while downloading assets"
## Description of the issue
Asset downloading failed during ``bench init frappe-bench``

## Context information (for bug reports)

**Output of
`bench version 5.2.1`** ``An Error occurred while downloading assets...``
as referenced below
https://github.com/frappe/frappe/blob/f710ad095fdbe25fbaa679e004cff3cbe99fd25a/frappe/build.py#L130

## Steps to reproduce the issue

Followed steps at https://fra

[2020-10-11 05:17] conncampbell opened #11685 "Web form fields support for Property Depends On fields (read-only and mandatory)"
**Is your feature request related to a problem? Please describe.**
The "depends on" field customization are great for desk forms, but are not implemented on web forms.  This would allow fields to be set read-only or mandatory for customers using the portal.

**Describe the solution you'd like**
Add the depends on fields to the web form fields doc type.

**Describe alternatives you've considered**

[2020-10-11 05:26] conncampbell opened #11686 "Cascade table fields read-only flag to child columns"
**Is your feature request related to a problem? Please describe.**
When setting a table field to read-only, especially via dependent field code, nothing happens.  The columns in the table/grid are not set to read-only.

**Describe the solution you'd like**
I would like to cascade the read-only flag for tables to all the fields it contains.  Perhaps this could also work on sections.

**Describe alt

[2020-10-11 17:47] chromonav commented on #5886
@rmehta i am looking to fix this issue. Can you please share your thoughts on how should we go about it?

[2020-10-12 06:22] surajshetty3416 commented on #11659
@barredterra Thanks for informing us about this.

Template strings (starting with ``` ` ```) are not valid for translation syntax. The technical difficulty with it is that it is not possible to track variables in the compiled template string. [Docs](https://frappeframework.com/docs/user/en/translations#2-variables)

**Example:**
```__(`We are testing ${doc.doctype}. It has ${n} documents`);```

he

[2020-10-12 11:22] walstanb commented on #10569
Could you please provide the steps to reproduce the issue...

[2020-10-12 11:24] zapsos opened #11693 "The notifications icon is not clickable"
The notification icon In the desk view is not clickable. No popup or chat window will appear!

This is for frappe rebrand ui branch

Thanks

[2020-10-12 12:49] sagarvora commented on #9359
@mkreckovic May I mark this as closed?

[2020-10-12 13:57] renehauck opened #11697 "common_site_config rds not working"
## Description of the issue
I would like to use aws rds, but it seems that this line is ignored, when docker run `bench new-site mysite`:
https://github.com/frappe/frappe/blob/253ddd8734bad195cc20ffaca077e2731df0ecfa/frappe/database/db_manager.py#L51

I keep getting the error message `"pymysql.err.OperationalError: (1044, u "Access denied for user 'root'@'%' to database 'xxx'")`

If I hardcode thi

[2020-10-12 14:15] mkreckovic commented on #9359
@sagarvora Yes... it's resolved now.

[2020-10-12 15:02] #9359 closed, assigned to nobody

[2020-10-13 04:13] lxnow opened #11707 "When editing a comment and not saved, saving doctype should also automatically save comment"
Currently system won't save the comment which is in mid edit. This is non intuitive. Even if comment is in mid edit and is not saved, saving the doctype should save the comment too

[2020-10-13 11:56] #11553 closed, assigned to nobody

[2020-10-13 12:00] walstanb commented on #10743
Issue resolved?

[2020-10-13 12:47] barredterra commented on #10743
No. I tried in the linked PR, but didn't have the time to do it properly, so I closed it.

[2020-10-13 14:10] Golive-solutions opened #11710 "Parent Label and Label on Website settings not showing drop down menu"
Parent Label and Label on Website settings not showing drop down menu

I have noticed that on the website settings under “Top Bar”, ones you create a couple of labels, it is expected that under the parent label we should have a drop down where one can select which label to chose as a parent label. Currently this is not happening.

version :
- ERPNext: v13.0.0-beta.4 (HEAD)
- Frappe Framework: v13.

[2020-10-13 16:25] mfechtner opened #11706 "Options from HTML for wkhtmltopdf are not parsed correctly."
https://github.com/frappe/frappe/blob/1ad3bb76a5717f62fb56a56ef90f3889607e5219/frappe/utils/pdf.py#L141-L159

This function searches for specific attributes and values suffixed with "mm".
When extracting the value, the "mm" is not appended to the value which results in wrong options.

https://github.com/frappe/frappe/blob/1ad3bb76a5717f62fb56a56ef90f3889607e5219/frappe/utils/pdf.py#L155

Assume i

[2020-10-14 07:34] #10301 closed, assigned to nobody

[2020-10-14 09:52] kennethsequeira commented on #11710
Reference: https://discuss.erpnext.com/t/parent-label-on-website-settings-not-showing-drop-down-menu/66914/2?u=kennethsequeira

This is working fine in develop branch but not in latest v13 as mentioned. Tested both on `develop` and `v13`

[2020-10-14 10:02] Golive-solutions commented on #11710
Same problem in Website Settings > FOOTER > Footer Items > Parent Label not working.

also "Select target = "_blank" to open in a new page." not working

[2020-10-14 13:10] kennethsequeira commented on #11654
@chromonav is the issue only that it shows ₹5 or that it ends up accepting ₹5 instead of USD 5?

[2020-10-14 21:01] mhbu50 commented on #11616
@justmejust Please share some images to make it clear for us

[2020-10-15 09:35] chromonav commented on #11654
There are the following issues:

1. Currently in the supported currency list other countries supported by Razorpay are not present.

Yes if we add the parameter "currency":"{{currency}}" in frappe apps/frappe/frappe/templates/includes/integrations/razorpay_checkout.js with suitable context it works.

We have done those necessary changes and would be willing to resolve this bug and raise a pull req

[2020-10-15 10:13] barredterra opened #11715 "Add option to encrypt backup"
Extend offsite backup utils to allow encryption. This way we won't have to trust our cloud storage provider too much.

- Offer choice between symmetric encryption (with password) or asymmetric (with GPG).
- Password or public key should be set via frontend (password field) or in site config.
- Offer options to "zip and encrypt" or "encrypt individual files".

[2020-10-15 11:54] kennethsequeira commented on #11654
@chromonav glad to know you'd like to contribute.

As a starter, you can have a look at the contribution guidelines:

https://github.com/frappe/erpnext/wiki/Contribution-Guidelines

[2020-10-15 13:44] sagarvora commented on #9943
Hi, it seems like this has been fixed. If you're still facing it, please re-open.

[2020-10-15 13:44] #9943 closed, assigned to hrwX

[2020-10-15 14:32] barredterra opened #11717 "Server hangs on PDF generation"
Trying to generate a PDF, this call never returns:

[code]

This sequence of commands, executed by the webserver, hangs it up:

[code]

https://github.com/frappe/frappe/blob/02e7844690b4df93197f6f50f37004b7af50ad32/frappe/utils/pdf.py#L40

After this, the server stops to answer any other requests.

Trying to reproduce the issue with the same inputs from above in `bench console` gives me this error

[2020-10-15 17:01] gadgetmobile opened #11718 "Please backport #11633 to version-12 branches"
#  Description of the issue

Reports show no data + errors in browser console.

## Additional information

Cause: typo in method name (as described in #11633).

[2020-10-16 03:16] sagarvora commented on #11718
Hi, the original PR has been made to the branch `version-12-hotfix` which gets merged to `version-12` periodically. You can read about this [here](https://github.com/frappe/erpnext/wiki/Pull-Request-Checklist#which-branch).

[2020-10-16 03:16] #11718 closed, assigned to nobody

[2020-10-16 03:40] sagarvora commented on #11717
Maybe [this](https://github.com/wkhtmltopdf/wkhtmltopdf/issues/2532) helps?

[2020-10-16 03:43] sagarvora commented on #11693
Hi, the `rebrand-ui` branch is a work-in-progress. Please re-open this if it the issue persists after it is released for development / production use.

[2020-10-16 03:43] #11693 closed, assigned to nobody

[2020-10-16 03:45] sagarvora commented on #11710
Hi, the `target="_blank"` issue has been [fixed and merged](https://github.com/frappe/frappe/pull/11613) into the `develop` branch.

[2020-10-16 03:50] sagarvora commented on #11697
Could you try executing `frappe.conf.get('rds_db', 0)` in a console to see what happens?

[2020-10-16 03:52] sagarvora commented on #11684
@saurabh6790 Can we fix the SSL issue?

[2020-10-16 03:55] adityahase commented on #11717
@barredterra The snippet you've provided always seems to fail because of these lines

[code]

[2020-10-16 04:01] adityahase commented on #11717
@barredterra Also, is it possible that you're running a single threaded web server? I could replicate this by setting
[code]
in https://github.com/frappe/frappe/blob/develop/frappe/app.py#L272

Also, If the PDF generation works after removing
[code]
from printview.html (and maybe other assets), (you'll get an unstyled print though) then single threaded server is the problem.

[2020-10-16 04:10] #11636 closed, assigned to nobody

[2020-10-16 04:21] sagarvora commented on #11597
Fixed https://github.com/frappe/frappe/pull/11674

[2020-10-16 04:21] #11597 closed, assigned to nobody

[2020-10-16 06:02] #11600 closed, assigned to blenderskool

[2020-10-16 07:26] walstanb commented on #11377
fixed in PR #11701 , Issue can be marked as closed

[2020-10-16 09:17] barredterra commented on #11717
Yes, it was indeed single threaded. Thanks a lot, @adityahase!

Could we set a timeout for the PDF generation so that it just fails after 15 seconds instead of hanging?

[2020-10-16 09:24] Golive-solutions commented on #11710
How is it solved in frappe cloud

[2020-10-16 09:42] hastelloy opened #11721 "has_value_changed bug in document.py"
In document.py has_value_changed has minor bug.
It will return True even the specific docfield in new doc is not set. This should be False as value in the docfield was not changed (still be None).

https://github.com/frappe/frappe/blob/426a9464080bdcfda7001a2f4f6fa3ec11cb6a85/frappe/model/document.py#L403-L406

Would suggest the code as below
[code]

[2020-10-16 11:50] sagarvora commented on #11717
@barredterra 15 seconds is too less, some of my PDFs take more than minute to generate!

[2020-10-16 11:52] barredterra commented on #11717
@sagarvora just the rendering part?

[2020-10-16 12:09] sagarvora commented on #11717
Ok, maybe not a minute for rendering.
This is the time taken for the initial response in one of the formats (49 pages) on a _very high performance_ production server:

![Screenshot from 2020-10-16 17-35-51](https://user-images.githubusercontent.com/16315650/96256479-62352480-0fd6-11eb-8994-39a985f7d220.png)

Perhaps this could be configurable or should raise an error immediately if single threaded

[2020-10-16 12:32] surajshetty3416 commented on #11721
@hastelloy Can you raise a PR for this?

[2020-10-16 12:57] netchampfaris commented on #11710
This is fixed in latest develop. The next scheduled release date is 22 October.

[2020-10-17 08:46] Golive-solutions commented on #11710
NB:
Website settings have 4 bug

** Top bar > Top Bar Items **
1- Parent Label
2- Select target = "_blank" to open in a new page.

** Footer >Footer Items **
3- Parent Label
4- Select target = "_blank" to open in a new page.

[2020-10-17 09:38] renehauck commented on #11697
Sorry, the problem was because of a docker image that overwrote the `common_site_config.json` with environment variables.
Thank you!

[2020-10-17 09:38] #11697 closed, assigned to nobody

[2020-10-18 06:25] #11556 closed, assigned to nobody

[2020-10-18 11:38] #9992 closed, assigned to nobody

[2020-10-18 11:38] #11108 closed, assigned to nobody

[2020-10-18 15:04] mfechtner commented on #11706
Hi, @barredterra did i do something wrong, as i see newer issues considered as a bug already?
You seem to be quite involved into this project.

[2020-10-18 15:23] barredterra commented on #11269
The error seems to be somewhere else:

Tests create the file `.test_log` in the site folder. If you run tests multiple times (for example, during development) the file contains the name of your doctype and the test records will not get created again. Solution: delete the file after every run.

[2020-10-18 15:23] #11269 closed, assigned to nobody

[2020-10-19 06:59] sagarvora commented on #4045
@chdecultot Is this still an issue?

[2020-10-19 23:39] muniter opened #11738 "Bench update-translations is broken"
## Description of the issue

I'm trying to update some translations after using the `get-untranslated` command, I edit the new file, when It's time to update the translation it crashes. I reported a month ago the error on `get-untranslated` https://github.com/frappe/frappe/issues/11488 now It works getting the untranslated strings, but the next part of the process is broken.

Seems to be related t

[2020-10-19 23:47] muniter commented on #11585
Just piggy backing on this issue thread, translation seems to be broken for quite a while, I have a [running thread on the forums](https://discuss.erpnext.com/t/translation-not-working-for-custom-apps/64522/8) documenting my experience.

[2020-10-20 08:27] surajshetty3416 commented on #11721
https://github.com/frappe/frappe/pull/11723#issuecomment-710770877

[2020-10-20 08:27] #11721 closed, assigned to nobody

[2020-10-20 18:50] conncampbell opened #11745 "Workflow transition condition allows datetime functions"
**Is your feature request related to a problem? Please describe.**
Some workflows transitions may be date/time sensitive.  With current conditions, we don't have access to the current date or date add functions.

**Describe the solution you'd like**
I would like to use frappe.utils.now_datetime and frappe.utils.add_to_date with my workflow transition conditions.  for example:
doc.created <= frappe

[2020-10-21 12:14] stypeim opened #14815 "OAuth 2.0 for email accounts"
Requesting OAuth 2.0 for email accounts so we can avoid enabling less secure apps on google accounts

[2020-10-22 06:23] revant opened #11752 "migration error v12 to develop: Executing execute:frappe.delete_doc_if_exists("Report", "Loan Repayment")"
[code]

1. Create a fresh v12 erpnext site
2. Migrate to develop branch

found here: https://travis-ci.com/github/frappe/frappe_docker/jobs/403203438#L739

[2020-10-22 16:05] chdecultot commented on #4045
Hi @sagarvora , no it's not an issue as it is something not feasible anymore (in my knowledge) with the Text Editor.
I'm closing the issue. Thanks!

[2020-10-22 16:05] #4045 closed

[2020-10-22 19:31] mahedihasan121 opened #11760 "Chat notification on app"
if we have chat notification on mobile app, and email notification on mobile app it is very helpful.

[2020-10-23 09:24] Golive-solutions commented on #11710
Dears
Please tell us when this problem solves on FC

[2020-10-23 09:31] kennethsequeira commented on #11710
@Golive-solutions there's no release done for v13 yet, should be done in the next couple of weeks. Once the next release has been done, the fix would be deployed on all Frappe managed platforms.

[2020-10-23 19:53] sytabaresa opened #11765 "Duplicate filter SQL fragment in Event Doctype"
## Description of the issue
Event Doctype has duplicated the filters conditions, one in SQL filters and the other in *has_permission* method.

In the main SQL query the following code appears:
[code]
But the same conditions exist in:

[code]

This makes userless the personalization/override of the filters in an app hook.

## Context information (for bug reports)
Related to [this issue](https://dis

[2020-10-24 13:08] #11625 closed, assigned to nobody

[2020-10-24 14:33] gbm001 opened #11774 "Onload run before permissions checking"
In frappe/desk/load.py, we have:

[code]

Ignoring the redundant `if not name: name=doctype` lines for a moment (which are redundant since the previous lines raise an exception unless both doctype and name are supplied), there is a security issue in that `run_onload(doc)` is run *before* the permissions checking. This means onload code, which *may* alter the system in some way (albeit possibly not

[2020-10-24 19:04] ryuliantoro opened #11775 "Bench manager: maintenance mode"
## Description of the issue
When using Bench Manager and open the Site list, the maintenance mode field is turned to 1.
And when (automatically or manually) saved, it will write in the site_config.json as `"maintenance_mode": "1"` instead of `"maintenance_mode": 1`.
This cause the site can't be accessed.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to r

[2020-10-26 07:35] stephenBDT commented on #11738
I can confirm this! It is broken since a long time. Even more broken in 13-beta!    [see this issue](https://github.com/frappe/frappe/issues/10466)
I dug into the code and fixed the encoding stuff, but than it always **OVERRIDES** all my previous translations in `myapp/translations/de.csv` and does not realize that I already translated some of the strings.

This is a long broken

[2020-10-26 07:37] stephenBDT commented on #10466
Can confirm this!

[2020-10-26 13:30] netchampfaris commented on #11765
@sytabaresa The `has_permission` method is not used in the query. If you print out the query, the `event_type` and `owner` check occurs only once in the query.

If you want to override this from an app, you can override the `get_events` whitelisted method.

Unfortunately, not everything can be customized/overridden from an app.

[2020-10-26 20:26] muniter commented on #11738
@stephenBDT I'm running a thread on the forum about the issues of translating, If you want to check it out. https://discuss.erpnext.com/t/translation-not-working-for-custom-apps/64522

[2020-10-27 02:57] chromonav opened #11786 "Allow shortcuts to portal pages in a desk page"
**Is your feature request related to a problem? Please describe.**
Need a facility to allow portal page access, by allowing a link to be put for a portal page.

**Describe the solution you'd like**
Create a shortcut option that allows redirecting to the portal page

**Describe alternatives you've considered**
Manually writing JS code that would inject a shortcut item on the desk page. It is very t

[2020-10-27 04:58] #11738 closed, assigned to nobody

[2020-10-27 11:35] barredterra opened #11796 "Print preview not in print language"
### Reproduce

1. Create a new **Customer** and set Print Language to "de" (german).
2. Create a custom jinja **Print Format** and set it as standard for **Sales Invoice** via **Customize Form**.
2. Create a **Sales Invoice** against this **Customer**. Observe that the Print Language for the **Sales Invoice** is set to "de".
3. Open the Print Preview of the **Sales Invoice**.

### Error

The Print

[2020-10-27 11:43] icnbing commented on #11738
def write_csv_file(path, app_messages, lang_dict):
	"""Write translation CSV file.

	:param path: File path, usually `[app]/translations`.
	:param app_messages: Translatable strings for this app.
	:param lang_dict: Full translated dict.
	"""
	app_messages.sort(key = lambda x: x[1])
	from csv import writer
	# with open(path, 'wb') as msgfile:
	with open(path, 'w', encoding='utf-8') as msgfile:
		w

[2020-10-27 17:13] barredterra commented on #11707
To add to this, when editing a comment there should be a "Discard" button. Currently the edit mode can be left only via "Save" or "X" (delete).

[2020-10-27 17:53] barredterra opened #11802 "Dashboard charts not imported on migrate."
I get no **Dashboard Charts** at all in my development instance. I would expect `bench migrate` to import all default charts from fixtures, but no success.

This results in me not being able to edit a **Desk Page** because the linked charts don't exist. What can we do about this?

### Versions

frappe 13.x.x-develop (cae6e80c1)

[2020-10-28 05:03] walstanb commented on #11062
This is fixed in v13

[2020-10-28 10:39] kimsreng commented on #11547
I still have the same issue with the development branch. What command can i use to fix it?

[2020-10-28 11:17] centaur78 commented on #11547
just do "bench update"

[2020-10-28 11:33] kimsreng commented on #11547
Yeah I did it but the problem still persists.

[2020-10-28 16:08] Olawale1 commented on #14818
I fixed this by upgrading python version to 3.7 and migrating the environment accordingly:

1. Upgrade to python 3.7
2. `bench migrate-env python3.7`

Cheers

[2020-10-29 00:47] JeansReal commented on #11001
This is reproducible on v13

Any date field that have "now" as a default fails in "Quick Entry"

[2020-10-29 06:41] adityaduggal opened #11815 "[BUG] [v12] Possible Bug in Permissions. Users are unable to create doctype if Only if Creator Checked"
## Description of the issue
Users having access to create Stock Reconciliation or maybe any other doctype are unable to create the document if they are limited to view only documents created by the user.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a User and give it a permission for Stock Reconciliation as shown below

[2020-10-30 12:35] #11659 closed, assigned to asbasawaraj, surajshetty3416

[2020-10-30 15:31] anajo333 opened #18567 "report for calender problem and qustion about time format"
hello  i have two qustions :
1- There is no option to change the time format from 24h to 12h with am&pm ??
my erpnext now only show me a 24h time format

2- Tools>Calendar (i think it's a bug)
if user language is english events in Calender is showing without any problem
if user language is arabic   events in Calender be hidden .. how can i solve that ?

## Additional information

** iam using last

[2020-10-30 20:02] justmejust commented on #11775
i am working on the https://frappeframework.com/docs/user/en/tutorial/create-an-app
and suddenly this error appeared **Updating**
Your system is being updated. Please refresh again after a few moments
i did bench config set-config maintenance_mode 0
then it worked
<pre>frappe 13.x.x-develop
library_management 0.0.1
</pre>
i am asking why this configuration changed it self?
and what does it effect

[2020-11-02 06:55] #10625 closed, assigned to scmmishra

[2020-11-02 07:29] #11796 closed, assigned to barredterra

[2020-11-02 12:31] gavindsouza commented on #11684
@jalajc @sagarvora  Try accessing the site from a browser that you haven't used to access https://frappeframework.com yet. http://assets.frappeframework.com points to an S3 bucket that doesn't support SSL via custom domains.

Anyway, this error should be fixed by https://github.com/frappe/frappe/pull/11703.

[2020-11-02 12:34] gavindsouza commented on #11684
Closing this issue now as I can't replicate. If you still face this issue, we might need to investigate this further with more information about the environment, etc.

[2020-11-03 01:42] gwhitney commented on #7638
This bug still exists in the current develop version. In our case, we are trying to add a custom button which will allow us to create a journal entry (of Voucher Type "Bank Entry") from a Bank Transaction document, and want to also fill in the posting_date (from the date of the Bank Transaction, and one Journal Entry Accounts line in the accounts field (since typically there ought to be a line mat

[2020-11-03 08:55] majubewi opened #11854 "Mention yourself"
Hello,

we setup our system so that we get email notification if someone  @Name mentions you.
Unfortunately the email notification does not work if you do @MyOwnName

Marius

[2020-11-03 11:40] wojosc commented on #14812
Hi @mariotruss , please consider closing this. It has been fixed in frappe/frappe#9270.

[2020-11-03 12:56] nanoharsha commented on #6518
Is this issue fixed ?

[2020-11-03 15:49] szufisher opened #11856 "several untranslatable text for standard views"
### Observed result
1. calendar view- due to mismatch of Chinese language key in ERPNext CN and ZH-CN in calendar control
![image](https://user-images.githubusercontent.com/12823863/98007162-02d87080-1e2e-11eb-8437-63b045566f4a.png)

2. file upload- translation method not called, in frappe/file_uploader/index.js
![image](https://user-images.githubusercontent.com/12823863/98007516-6fec0600-1e2e-11e

[2020-11-03 21:24] majubewi opened #11857 "Dashboard MultiSelect Reference Link"
Hello,

I am trying to get the Dashboard hooked up to a Doctype with a MultiSelect Field. With Chiltables it works well, but I can't get it to work with MultiSelect Fields... probably just a small change at the right spot in your code since MultiSelect basically is a Childtable.

We have a custom doctype "Configuration Item" where there is a multiselect to solution:
![image](https://user-images.gi

[2020-11-04 11:54] canlann commented on #11857
Did contact the developer of multiselect on discuss.erpnext.com @netchampfaris

[2020-11-05 10:24] mnaphade commented on #11286
Has anyone investigated it? This one still is unresolved. I was hoping to see it fixed during the previous few updates. Emails are an extremely critical part of the ERP and we still do not have a fix for it.

[2020-11-07 11:31] surajshetty3416 commented on #11856
@szufisher Thanks for informing us about this... let us know if you can raise a PR for this?

[2020-11-07 12:42] revant opened #11896 "Missing v12.12.1 release, branch exists."
Are we missing a release?

Latest release as of now https://github.com/frappe/frappe/releases/tag/v12.11.0

Out of place branch https://github.com/frappe/frappe/tree/v12.12.1
Also, it seems to be a branch instead of a tag.

Is 12.12.1 a release?

[2020-11-07 16:03] smitaingle opened #11898 "created desk page is not visible for other user ."

[2020-11-09 04:33] gwhitney commented on #7638
Some comments on the PR #11900 I just filed to address this: since it turns out not to be practical to simply allow _any_ field to be specified by the route_options argument to frappe.new_doc -- in particular, trying to set fields of type Table in this way goes haywire -- I left the route_options alone, and instead enhanced the behavior of the init_callback argument, so that it is called regardles

[2020-11-09 04:49] surajshetty3416 commented on #11896
@revant Seems like mergify[bot] auto-created that branch... not sure why but we can delete it.

<img width="697" alt="Screenshot 2020-11-09 at 10 18 18 AM" src="https://user-images.githubusercontent.com/13928957/98501350-eb0d4c00-2274-11eb-86be-57dae7494585.png">

we have not yet released **v12.12.1** yet for Frappe.

[2020-11-09 16:13] revant commented on #11896
Delete it then. It's not even a tag like others. It's a branch.

I found it because of another issue.

it says 404 for frappe.desk.form.linked_with.cancel_all_linked_docs

It seems to be available on this branch but not in latest release

[2020-11-09 16:27] ollyboy opened #11906 "DocType record not saved on first save click"
## Description of the issue

When editing fields in doctype and not doing field exit the record does not save, the user has to hit save again, this is very bad for users editing many records

## Context information (for bug reports)

**Output of `bench version`**

clearsight 0.0.1
frappe 12.11.0

## Steps to reproduce the issue

1. Edit record
2. Edit text but leave curser in text field
3. Hit sav

[2020-11-10 00:47] szufisher opened #11907 "Leaderboard does not work when user language is not English"
## Description of the issue
Leaderboard does not work when user language is not English
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. login system with user assigned other language than EN
2. goes to leaderboard
3. no result displayed

### Observed result

### Expected result

### Stacktrace / full error message

[code]

## Addi

[2020-11-10 14:31] szufisher commented on #11856
@surajshetty3416
Yes, I am planning to submit PR to fix these reported issues, Can I combine all changes in one PR (adding the missing translate call), which branch should I create PR against?
Thanks.

[2020-11-10 15:55] conncampbell commented on #11686
Changing this to a bug.

[2020-11-10 15:55] #11686 closed, assigned to nobody

[2020-11-10 16:06] ollyboy opened #11913 "Setting doctype to child then back to non-child prevents record delete"
## Description of the issue

Setting doc type to a child then back to non-child prevents record delete

## Context information (for bug reports)

Latest Frappe production

## Steps to reproduce the issue

1. Create a doc
2. Change to Child
3. Attach child to other Doc
4. Add child records
5. Change back to non-child
6. Add back base permissions that were removed
7. View in list view
8. Cant delete

[2020-11-10 17:49] surajshetty3416 commented on #11856
@szufisher Yes, you can combine all(similar) changes and raise PR against `develop` branch

[2020-11-10 17:54] #11898 closed, assigned to nobody

[2020-11-10 17:54] smitaingle commented on #11898
Proper permission setup solved this.

[2020-11-10 19:39] khalibloo opened #11928 "Postgres-backed bench setup should not cause error for MariaDB configuration"
## Description of the issue
When following the instructions to set up a docker development environment, it appears MariaDB is not properly configured. And Postgres gives a connection error indicating that the database is not running or is not listening on that address. I suspect the Postgres error is because there is no `bench set-postgres-host` command.

## Context information (for bug reports)
I

[2020-11-11 10:46] revant commented on #11928
Hope someone has a solution for windows+frappe_docker

I'm able to use frappe docker on my linux machine.

[2020-11-11 12:31] khalibloo commented on #11928
Strange. I was sure Windows wasn't the issue since all the commands were run inside of the container environment. Could you confirm that you followed the same steps on this page https://github.com/frappe/frappe_docker/blob/develop/development/README.md

In the meantime, I'll try the procedure again but with Ubuntu this time. I'll see if that resolves the problem.

[2020-11-12 05:56] Simiil opened #11921 "[Proposal] Add Parameters to Webhook Request URL"
We use webhooks to connect erpnext to other apps and systems.

Most REST-Apis contain some ids in their URL. Even Frappe does (`/api/resource/{{doctype}}/{{docname}}`)

AFAIK, there is no way to dynamically set the Webhook request URL with contents of the document.

I propose to render the webhook-url as a template, much the same as the json body is. This would allow to call endpoints like
`http:/

[2020-11-12 06:13] revant commented on #11928
Worked on a fresh clone of repo

[code]

`bench start` works

![frappe_docker_develop](https://user-images.githubusercontent.com/1040161/98902680-34130980-24dc-11eb-969b-7d23a174499c.png)

[2020-11-12 13:16] khalibloo commented on #11928
After some more digging, I found the issue is actually common, and not limited to Windows users. Mac and Linux users have it as well. This guide suggests editing the mariadb config file https://github.com/frappe/frappe/wiki/The-Hitchhiker%27s-Guide-to-Installing-Frappe-on-Linux but I haven't had luck getting it to work yet. Could it be that there is a difference in your steps somewhere? Or maybe y

[2020-11-12 14:57] nick9822 opened #11926 "Static modal getting closed on ESC key press"
I think the purpose of the static modal is not to get closed by any shortcuts. The current behaviour allows frappe static dialog to gets closed even after setting a modal as a static.
[code]
This is how this issue looks like
![static-modal-issue1](https://user-images.githubusercontent.com/10139291/98951736-a3125180-2520-11eb-8110-58d652ff024b.gif)

Expected behaviour should not allow the modal to

[2020-11-12 15:50] surajshetty3416 commented on #11896
Deleted the branch... we do not have enough information to find out why it was created.

[2020-11-12 15:50] #11896 closed, assigned to saurabh6790, surajshetty3416

[2020-11-12 16:27] Thunderbottom commented on #11928
Since this issue is not really limited to the docker setup, I've moved it to the framework repository.

[2020-11-13 06:50] muchai opened #11929 "Tools menu, doesn't appear on the side menu, for most users, despite them having the roles, and access to Automation"