[2021-09-27 19:24] HoFaks commented on #14233
I want to emphasize that this feature is very important for work

[2021-09-27 21:10] Olawale1 opened #14301 "Error: You do not have enough permissions to access this resource. Please contact your manager to get access"
Hi,

If you add a Custom Child DocType to a Standard Document (e.g. Sales Invoice), the get_list method returns an error (even with the ‘parent’ parameter defined in the arguments). As an example, pls see script below:

[code]
If the value of the 'doctype' parameter is changed to a standard child doctype (e.g. Sales Invoice Item) the script works as expected

Kindly help fix this

Thanks

[2021-09-28 04:01] ankush commented on #14302
Use `has_indicator_for_draft` property

ref: https://github.com/frappe/frappe/blob/899148072ac5ef953fe119486d14c16c9d15b8d2/frappe/public/js/frappe/model/indicator.js#L54-L62

[2021-09-28 04:01] #14302 closed, assigned to nobody

[2021-09-28 16:23] trustedcomputer commented on #13445
@ankush are you sure this is the root cause? I just did another fresh install with bench commands and found the correct fraction in the suspect file:

[code]

And yet, USD currency is still set to Centavo- see screenshot.

![Screenshot_2021-09-28 USD](https://user-images.githubusercontent.com/75872475/135126050-6fbd5f38-1d6b-4f35-9a15-87f6a5ae5351.png)

[2021-09-28 16:28] ankush commented on #13445
@put3r-r00t3r yes that's is root cause. Open full file.

El Salvador has same currency "USD" but different name for fraction, hence causing issue you're facing right now. Locally it should be fixable easily.

A proper solution would require some refactoring/schema changes 😅

The alternative is to remove El Salvador's country info.

[2021-09-28 16:30] trustedcomputer commented on #13445
Thank you for the explanation. I'll keep it in mind as a known issue for now.

[2021-09-29 10:19] gavindsouza commented on #6654
Fixed via https://github.com/frappe/frappe/pull/12035

[2021-09-29 10:19] #6654 closed

[2021-09-29 10:20] #5166 closed

[2021-09-29 10:22] gavindsouza commented on #4510
I think this already exists in the current system. Maybe it was added somewhere down the line in the past 4 years 😅

[2021-09-29 10:22] #4510 closed

[2021-09-29 10:31] gavindsouza commented on #1333
I've been thinking about this for a while and did some preliminary work on the same. Haven't spent much time building on it but I like the idea of having a lightweight Frappe setup. I'm working on adding support for DDL statements at this point.

Link for branch: https://github.com/frappe/frappe/compare/develop...gavindsouza:frappe-sqlite

[2021-09-29 10:44] vrslev opened #14319 "Unnecessary delay on link input"
## Description of the issue

Currently, there's 0,5 s delay on link input. It is quite annoying and—I think—unnecessary.
https://github.com/frappe/frappe/blob/25e863f8ea7ced54a1f662e02c4a018cb49acda3/frappe/public/js/frappe/form/controls/link.js#L154

Now:

https://user-images.githubusercontent.com/75225148/135253675-4178b22f-b977-4c68-8dcb-d804f45e1cd9.mov

How it would be without delay:

https:/

[2021-09-29 13:24] barredterra commented on #14292
Unfortunately I don't know why exactly this error happens. I just witnessed it and found this workaround.

The best fix would probably be to prevent any `None` keys in the first place.

[2021-09-30 10:14] fnrfarid opened #14324 "MariaDB slave setup is causing error generating Trial Balance report on v12"
Setup read operations from slave/secondary mysql system is enabled and everything working fine except Trial balance report.

The first issue was discussed here https://discuss.erpnext.com/t/mariadb-slave-setup-is-causing-error-while-exporting-csv-with-report-builder/79926 which was fixed by https://github.com/frappe/frappe/pull/14142

New issue I found while generating the trial balance report.

!

[2021-09-30 17:30] ankush commented on #14319
Maybe this is a general problem - debounce shouldn't affect the first call? 🤔

[2021-10-01 07:18] vrslev commented on #14319
@ankush Why it was implemented in the first place? I don’t get it.

[2021-10-01 10:01] dufani1 opened #14333 "Event streaming issue ERPNext: v13.11.1"
I can not save Event Producer on Consumer site and got the following error:

![cosumer site](https://user-images.githubusercontent.com/23026263/135602078-58e58a20-0f1e-40a5-b6d8-9708ebf9b365.png)

[2021-10-01 10:06] dufani1 opened #14337 "Event Streaming issue ERPNext: v13.11.1 (Duplicate name)"
If I deleted consumer event or producer event and trying to recreated again I have got the following message:

![dublicate name](https://user-images.githubusercontent.com/23026263/135602667-ad5ae688-4440-4d69-8066-5c84c3486a0c.png)

error from browser:

[code]

[2021-10-01 14:40] ankush commented on #14336
Can't reproduce this; a unique hash gets appended on name collision AFAIK.

Which exact version you're on?

https://github.com/frappe/frappe/blob/fe82487c15d15ceae4db2813a5749a84456b8d86/frappe/core/doctype/file/file.py#L472-L473

[2021-10-01 15:55] raveslave commented on #14336
I'm using:
- ERPNext: v13.0.1 (version-13)
- Frappe Framework: v13.0.2 (version-13)

---
if the hash was added after 13.0.x, great! but the file path is still exposed to any user knowing the full URL to the file.

I think the best thing to do is to implement a more versatile file-storage solution like I described above.
ensuring full versioning, file-replace features, weighted trees to avoid a mas

[2021-10-02 05:12] rtdany10 opened #14339 "Issue sending email: Communication document not found."
Some emails throws and error log, while some gets send without any issue.
Error log reads: `frappe.exceptions.DoesNotExistError: Communication 9300691e2b not found`
![image](https://user-images.githubusercontent.com/52111700/135704338-b865ab41-df7a-4690-be21-dd2451d16c60.png)

But in reality, that communication document exists.
![image](https://user-images.githubusercontent.com/52111700/135704372-

[2021-10-02 05:22] rtdany10 commented on #14339
[Same issue reported by another user on the forum.](https://discuss.erpnext.com/t/some-emails-do-not-send-in-error-log-communication-not-found/79805)

[2021-10-02 11:39] ascorbic-acid commented on #14337
here is some extra info about the issue in point number 2
https://discuss.erpnext.com/t/is-event-streaming-feature-working-properly/80895/5?u=pyjumper

[2021-10-02 11:39] ascorbic-acid commented on #14333
here is some extra info about the issue in point number 1
https://discuss.erpnext.com/t/is-event-streaming-feature-working-properly/80895/5?u=pyjumper

[2021-10-03 13:21] ValllC commented on #14339
It seems that this problem will be fixed soon, Please take a look at these links below:

**Similar issue:**
https://github.com/frappe/frappe/issues/14116

**It looks like colleagues have started to fix the bug:**
https://github.com/frappe/frappe/pull/14275

**Here are the changes in the code:**
https://github.com/frappe/frappe/pull/14275/commits/911925657beecf1b5e3d45f981c50cd2ded927ac

**Here is

[2021-10-03 13:33] rtdany10 commented on #14339
Oh that's nice. Should be fixed in next release then.

[2021-10-04 09:10] ankush commented on #12835
https://github.com/frappe/chat

[2021-10-04 09:10] #12835 closed, assigned to nobody

[2021-10-04 09:41] itsdaveit commented on #13940
I just stumbled over this behavior.  @ankush  Since this was working in V12, are you sure, that this is expected?
Another Example: We had had a Child Doctype "Project Section" whose name was in format:{project}-{section} which worked great, until V13.

[2021-10-04 10:49] kunhimohamed opened #14350 "Error while migrating"
## Description of the issue

Error rises while migrating database after installing UAE based custom Application.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Install ERPNext on the site.
2. Install UAE based custom Application.
3. MIgrate the site.

### Observed result
ValueError: could not convert string to float: 'UAE VAT 5%

[2021-10-04 11:07] ankush commented on #14350
You've set a bad default "UAE VAT 5% - NCSL" on some numeric field

Find from DocType list > Filter > "Default" = "UAE VAT 5% - NCSL"

![Screenshot 2021-10-04 at 4 33 54 PM](https://user-images.githubusercontent.com/9079960/135840620-69246a08-f978-471a-9844-a080524ba4a4.png)

[2021-10-04 11:30] itsdaveit commented on #13940
Seems like this statement, which was absent in V12, leads to this issue:

https://github.com/frappe/frappe/blob/9fd398e5a6176e6935a7332347d8cf9040e4b62a/frappe/model/naming.py#L51-L52

[2021-10-04 14:39] Craftint commented on #14350
Could not find any records which match DocType list > Filter > "Default" Like "UAE VAT 5% - NCSL",

![WhatsApp Image 2021-10-04 at 6 16 25 PM](https://user-images.githubusercontent.com/67686213/135871121-b5f4aba2-fb5f-4f1f-955d-08e9acf50502.jpeg)

[2021-10-04 14:47] kunhimohamed commented on #14350
Could not find any records which matches the DocType list > Filter > "Default" Like "UAE VAT 5% - NCSL"

![WhatsApp Image 2021-10-04 at 6 16 25 PM](https://user-images.githubusercontent.com/13074229/135872848-4b44e402-a034-4055-8c7b-2fff43ade9f4.jpeg)

[2021-10-04 14:58] ankush commented on #14350
My bad, you'lll have to check customizations. Check "property setter" and find the one that has introduced this change. (don't modify any from there, go to customize form and revert the change from there.

[2021-10-04 15:00] shariquerik commented on #14025
Fixed PR: https://github.com/frappe/frappe/pull/14332

[2021-10-05 04:10] #14025 closed, assigned to shariquerik

[2021-10-05 05:53] RANSoftRA commented on #11152
I am facing the same issue with German letters (e.g. ü, ß etc.). In my case the E-Mails are not being rejected, since I use my own SMTP, but the encoding seems off:

Here is an example of the E-Mail source that I receive:

`Subject: Angebot: Planungsphase App-System fÃ¼r AuÃŸendienst`

Should be

`Subject: Angebot: Planungsphase App-System für Außendienst`

I am using:

ERPNext: v13.11.1 (version-

[2021-10-05 10:23] mehdy commented on #14021
@surajshetty3416 Would you mind if I work on this?

[2021-10-05 10:28] #14350 closed, assigned to nobody

[2021-10-05 21:04] ValllC commented on #14116
This release resolved problem.
https://github.com/frappe/frappe/releases/tag/v13.12.0
After update and test, all emails was sent.

[2021-10-05 21:09] ValllC commented on #14339
This release resolved my problem.
https://github.com/frappe/frappe/releases/tag/v13.12.0
After update and test, all emails was sent.

[2021-10-06 02:21] rtdany10 commented on #14339
Closing the issue.

[2021-10-06 02:21] #14339 closed, assigned to nobody

[2021-10-06 07:42] betoled opened #14366 "Buiding search index results in SQL syntax error"
While updating bench I keep getting a SQL syntax error.

I cannot seem to get past this.

[2021-10-06 08:40] #14116 closed, assigned to leela

[2021-10-06 08:50] sunhoww opened #14369 "frappe.db.exists is not available to Server Scripts"
**Is your feature request related to a problem? Please describe.**
`frappe.db.exists` is not exposed to **Server Scripts**.

**Describe alternatives you've considered**
Currently I am using `frappe.get_all` with `filters` and `limit=1` to check for existence.

[2021-10-06 15:05] rtdany10 commented on #3354
Faced the same issue. Could we at least allow 2 or 3 non-root users as a work around until a permanent solution is implemented?
Something like
[code]

@ankush

[2021-10-07 04:14] rtdany10 opened #14372 "Critical: Only system managers can print documents"
![image](https://user-images.githubusercontent.com/52111700/136319136-ea1a6501-a55a-458f-92ba-dbd20a83c63f.png)

[code]

To replicate:

1. Login as a user without System Manager role.
2. Open any document
3. Go to print view
4. Try to print(click on the print button)

[2021-10-07 04:24] rtdany10 commented on #14372
Seems to be introduced in #14151
Only system managers has access to Network Printer Settings.

Solution: Read only access to All users should be given.

[2021-10-07 04:40] rtdany10 commented on #14372
Also, on FC, we can't even add network printers:
![image](https://user-images.githubusercontent.com/52111700/136321165-3b69633f-eed8-4823-96b5-c33a27ca564c.png)

Our operations are partially affected due to this :/

[2021-10-07 04:57] mohsinalimat commented on #14372
@rtdany10 Same issue with me on self hosted.

[2021-10-07 04:59] rtdany10 commented on #14372
You can go to Role Permission Manager and give every role read access to Network Printer Settings. That should fix the issue.

[2021-10-07 05:14] #14372 closed, assigned to nobody

[2021-10-07 05:42] rtdany10 commented on #14372
@surajshetty3416 @nidhipurohit11 @anupamvs Please reopen this as the permission issue still needs to be addressed.

[2021-10-07 06:43] ankush commented on #14372
https://github.com/frappe/frappe/pull/14376

This should fix permission issue as well

[2021-10-07 06:59] ishanloya opened #14377 "Dashboard chart export option"
Dashboard charts are not exportable and so the user needs to take screenshots of them for use in reports, etc. It would be really useful to have an export option in the chart menu bar that already renders in the top right corner of each chart. The Frappe Charts library already supports this using `chart.export()`.

[2021-10-07 07:05] majubewi opened #14378 "Copy / Paste of Phone Numbers in Contact not workin"
Hello, Hello,

in the document type Contact in the Childtable phone_nos there is a bug to be reported.

When we Ctrl + C copy a phone number formatted in the Microsoft TAPI format
(e.g. http://www.telcomgr.com/canonical_phone_number_formats.htm)

![image](https://user-images.githubusercontent.com/11473213/136335699-b051c121-472f-46ee-a924-0c9f0ef26c45.png)

and then Ctrl + V paste it in the Phone

[2021-10-07 07:09] majubewi commented on #14378
Tracked it down to these files:
![image](https://user-images.githubusercontent.com/11473213/136336076-580e7c65-305f-4613-a396-63d0b2cca0e5.png)

[2021-10-07 08:59] SunilBGovind commented on #8056
Hi,

Any updates on this?
Even I'm facing the same issue in V13 too.

[2021-10-07 10:20] dufani1 opened #14383 "Text editor issue v13.12.1"
Hello,
Text editor issue v13.12.1, after saving doctype the points change to numerical sequence. Please check gif file

![text editor issue](https://user-images.githubusercontent.com/23026263/136366296-a8d35de6-7b0c-4ff0-a294-302e025a2be6.gif)

[2021-10-07 11:01] rtdany10 commented on #14372
Thank you team for the prompt response! Much love! <3
:100: :1st_place_medal:

[2021-10-07 12:32] #14369 closed, assigned to nobody

[2021-10-07 13:01] rtdany10 opened #14390 "Scrollable x-axis on child table"
**Is your feature request related to a problem? Please describe.**
Currently, child table grid view can only accommodate 11 columns. And we can't allocate float values to column width(bootstrap issues); thereby limiting number of columns in grid view to 5 columns or 6 at maximum.
Clicking Edit button to input values defeats the purpose of using Tab key.
Tab key is one of the things people love abo

[2021-10-07 14:13] rtdany10 opened #15804 "Filters not working on getting child table items via get items from [MR->PO]"
https://user-images.githubusercontent.com/52111700/136401243-73696be0-b23f-44bb-b7d9-7dca5e1018fb.mp4

The issue arises because those Material Requests are in draft mode.
Can we not list them? Even applying filters doesn't work.

![image](https://user-images.githubusercontent.com/52111700/136402100-f74a3020-7436-487a-8610-bcb7cfb34066.png)

[2021-10-07 20:42] guilmori opened #14395 "Trigger event on toggle_editable_row"
I need to fiddle with input controls within a child table grid row.

I can't find any event when the input control gets created.

In grid_row.js, I can see there is a trigger("grid-row-render") on render_row, but this is not called when a row enter editable mode.

So I would need something similar within the toggle_editable_row() method. It should trigger an event after all make_control() have bee

[2021-10-08 00:43] ollyboy commented on #14390
that would hide the edit button and mean you need to scroll to hit the edit button

[2021-10-08 02:34] rtdany10 commented on #14390
Well, if you add all the commonly used fields, edit button would rarely be used.

But anyway, I think we can overcome this issue by keeping the serial number and edit button column fixed and rest all columns scrollable.

[2021-10-08 05:46] asoral commented on #14390
This could be extremely useful in cases where user cant read descriptive columns in vhild table because of the length limitations, and has to edit individual lines. More so, if you have multiple lines then it gets a little taxing to check each individually

[2021-10-08 06:11] #13625 closed, assigned to nobody

[2021-10-08 07:22] gavindsouza commented on #4725
New Chat App: https://github.com/frappe/chat

[2021-10-08 13:39] gavindsouza commented on #11576
Not anymore :trollface:. Fixed in v13

[2021-10-08 13:39] #11576 closed, assigned to nobody

[2021-10-08 14:03] zongo811 opened #14402 "Auto Email Report: Allow Usage of Groups in "Email Settings > Email To""
**Is your feature request related to a problem? Please describe.**
We develop new reports on a seperate development instance and copy these to our production instance using "bench export-fixture" and "bench migrate". Afterwards we have to manually change the Emailadresses in Email To in production, so the right users will get their reports.

"Email To" in develoment set to me as the developer of t

[2021-10-08 14:46] zongo811 opened #14403 "List-View: Indicator does not show when displaying more than 7 fields"
## Description of the issue
In the List-View we display 8 fields from a doctype. We added Client Script to display an indicator, which simply does not appear:

[code]

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create DocType "SomeList" with field "amount int" and also 8 fields "dummy1..8 data".
2. Goto List-View and use "Lis

[2021-10-08 15:53] rtdany10 commented on #15804
This seems more like a framework issue. Maybe we should move this to Frappe's repo. Anybody who has the access to, please feel free to do so.

[2021-10-08 18:13] skjbulcher opened #14416 "Document Links (under Customize Form) doesn't work for Dynamic Link fields"
**Is your feature request related to a problem? Please describe.**
Under the "Connections" Dashboard section of a Document, connections can be set up to other Documents that contain Link fields or Dynamic Link fields that reference the current document. The Connections area also contains a quick count of the number of documents so linked, and it contains a "+" button that allows you to create a ne

[2021-10-09 09:11] ryuliantoro opened #14405 "AttributeError in get_url()"
## Description of the issue
I made a function that sends email using the built-in send_mail() function.
But it raised error when reach the step getting url.

The error points to line 789 of data.py.
I looked up the data.py and found this line
[code]
According to the error message, the `frappe.local.conf.wildcard` (which is a list) doesn't have `get` attribute.

## Context information (for bug repo

[2021-10-09 13:51] tjomtek opened #14894 "Page Builder - Website"
## Description of the issue
Section with features
## Context information (for bug reports)
After creating the section with features and submitting, when we want to edit, not all options are available like URl and Image.
I have tried to delete the feature and recreate it same result
**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.navigate to Web Page, content type = page bu

[2021-10-10 13:33] YamanQD opened #14415 "Role permission manager: "The resource you are looking for is not available" after doctype rename"
## Description of the issue
I have a custom doctype called "Provider Subscription", and I added rules on it for a few roles in the role permission manager.
Recently I had to rename the doctype to something else, but now when I open the role permission manager and select a role (that had provider subscription as one of its rules), an error message appears:
![image](https://user-images.githubusercon

[2021-10-11 08:26] zongo811 opened #14407 "List-View: Between-Filter with numeric fields raises Server Error"
## Description of the issue
When I use the between filter (e.g. "1 to 3") on a numeric field a server error is raised.
![grafik](https://user-images.githubusercontent.com/77285389/136748251-0daf4c4d-0e43-4a8f-9dc5-27d730a6bb2d.png)

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Open the List-View of a DocType with a numeric fiel

[2021-10-11 09:00] zongo811 opened #14409 "between doesn't work on indicator filters"
## Description of the issue
I wrote a Client-Script for a List-View that uses get_indicator to set a between-filter for a date field. When the filter is applied an "Invalid Date Error" occurs.
Checking the filter reveals that the dates set in the Client-Script have been replaced with "Invalid date", even as date was supplied in ISO-format.
This only occurs with "between", other operators such as =

[2021-10-11 09:17] anandology opened #14410 "Contents of fields of type Markdown Editor are getting mangled on save"
## Description of the issue

A field of type `Markdown Editor` with the following content is getting mangled on save. For example, if you add the following content to a `Markdown Editor` field:

    <a>Link</a>

[code]

It would become the following on save:

    <a>Link</a>

[code]

## Observation

Looks like the value of the field is getting changed in the call to `_sanitize_content()` method ca

[2021-10-11 10:07] ankush commented on #14335
@rtdany10 https://github.com/frappe/erpnext/pull/27897 alone won't solve it.

It seems the Custom Field doctype didn't reload for OP in patches for some reason, even though it's explicitly mentioned.

https://github.com/frappe/erpnext/blob/4bbe434d4323f68253d7fc2a61965d888f90fac2/erpnext/patches/v13_0/update_vehicle_no_reqd_condition.py#L5

[2021-10-11 10:10] ankush commented on #14335
Ok I get the reason now, reload has to be forced because both v12/v13 timestamps are the same even though the content isn't.

https://github.com/frappe/frappe/pull/14246 will solve this issue permanantly.

[2021-10-11 11:31] dgerhardt opened #14413 "[Proposal] Add calandar week placeholder for series names"
**Is your feature request related to a problem? Please describe.**
Placeholders for generating series names are currently limited small number of date related properties including day, month, year, fiscal year and timestamp. In my company, many processes and documents are assigned to a week and accordingly we use the calendar week in numbering. This can currently not be implemented with Frappe/ERP

[2021-10-11 16:44] #14335 closed, assigned to nobody

[2021-10-11 17:42] ryuliantoro commented on #14405
If this is not a bug, can anyone (from the frappe dev team?) to confirm and close this issue?
If it is a bug, what is the temporary solution?
Thank you.

[2021-10-11 19:05] skjbulcher opened #14420 "AttributeError When Setting Up A Document Link to a Document with a Child Table"
## Description of the issue

Copying this from ERPNext's forums to here as a bug report. Further details including screenshots can be viewed at the original link: https://discuss.erpnext.com/t/create-connection-to-child-document-using-linked-documents/81148

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a Document with a

[2021-10-11 20:58] akhalifa01 opened #14421 "add the ability to add module doctypes in left sidebar instead of modules"
I think it would give more flexibility to the workspace design if doctypes can be added instead of modules for users' workspace that may has access to one module.

[2021-10-11 21:25] jbtruffault opened #14422 "File are not correctly uploaded as attachment when saving a doctype with a field attach"
## Description of the issue

I try to upload a file through the attach field from a custom doctype.
![image](https://user-images.githubusercontent.com/12747168/136866638-bbcf98d2-9635-40ca-a1b4-02e494002a51.png)

When I save the new document with an attachment, I get this error message (it means: "file /private/files/MyFile.txt does not exist):
![image](https://user-images.githubusercontent.com/12

[2021-10-12 13:46] zongo811 opened #14435 "Role Permissions Manager: Delete-Button not working"
## Description of the issue
I created a Role Permission with the Role Permissions Manager. When I press the delete button, the role permission is not deleted.
An error message is not displayed, but in the browser console you can see an error message.

![grafik](https://user-images.githubusercontent.com/77285389/136966490-d1f53081-c61a-4dc9-9334-48d97864d092.png)

## Context information (for bug re

[2021-10-12 14:10] zongo811 commented on #14435
If you refresh the browser window you see that the role permission actually **was** deleted. So it works even it looks broken.

[2021-10-12 14:36] zongo811 opened #14436 "DocType: Cannot Save with Perm Level 1"
## Description of the issue
I want members of my Role "ITUC Employee" to have readonly access to DocType Employee.
But I also want members of Role "ITUC Employee" to have write access to selected standard fields and custom fields.

See all, edit only some.

For that I created role permissions and set "Perm Level" of Employee.first_name  to "1":
![grafik](https://user-images.githubusercontent.com/7

[2021-10-12 18:19] wojosc opened #14437 "Date Pickers inconsistant (language other than en)"
When using a date picker in List filter

you get
![grafik](https://user-images.githubusercontent.com/22279621/137008459-33e812c3-95ed-40dc-af40-45f1bcb5c150.png)

Date Picker in a date-field
![grafik](https://user-images.githubusercontent.com/22279621/137008343-5e9154f0-db51-44d4-8522-a2a9bcdada55.png)

The day-columns are as you see different which is slightly annoying :)

Maybe attend to this wh

[2021-10-13 07:55] zongo811 opened #14440 "Can't create a new User Type"
## Description of the issue
In DocType User List I can't create a new custom User Type because I can't fill in all required fields. The catch is, that the required fields aren't even displayed for editing:

![grafik](https://user-images.githubusercontent.com/77285389/137089057-5886af63-ec56-47bd-b3c5-f93d3b908a17.png)

Developer mode is set in common_site_config.json:
"developer_mode": true,

I'm

[2021-10-13 08:42] zongo811 opened #14442 "User Type "Employee Self Service" not customizable"
## Description of the issue
I need to customize the User Type "Employee Self Service" but the form is readonly. It is impossible to change permissions in the DocType-list or add/remove existing DocTypes.

Creating a new custom User Type is also not possible. Required fields in section "Document Types and Permissions" and Child-Table Document Types are not displayed:

![grafik](https://user-images.

[2021-10-13 11:51] tjomtek opened #15271 "Being Able to See What Permissions are Required when the user does not have enough permissions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when  I am unable to see what permissions a user needs to do their job when they are processing.[...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Currently is shows insufficient permissions, system

[2021-10-13 15:46] amanrajveer opened #14466 "Offload Media to AWS S3 or Cloudflare Images"
Media files are often quite large in size and can quickly use up disk storage. It will be better if we offload media files to an external service like an AWS S3 bucket or [Cloudflare Images.](https://blog.cloudflare.com/announcing-cloudflare-images/)

[2021-10-13 16:25] federicocalvo opened #14827 "Stuck email pull"
## Description of the issue
mails do not enter after getting stuck due to this error

## Context information (for bug reports)

Although the account is zoho, I don't think it has anything to do with it.

Because of the nature of the message, we thought there was some formatting or image that is causing this, but we could not directly associate it.

**Output of `bench version`**
[code]

## Steps to

[2021-10-13 23:43] guilmori opened #14447 "Is there any way to keep filters 'in sync' between views List, Gantt and Calendar ?"
Is there any way to keep filters 'in sync' between views List, Gantt and Calendar ?

Example use-case:
My users are looking at a filtered List, then switch the Gantt view but loose all filters they set in List view.

[2021-10-14 05:22] szufisher commented on #15271
can you help to provide one reproducible use case for analysis and solution design? thanks.

[2021-10-14 08:04] Shurandem opened #14452 "Error with modules in new version"
![image](https://user-images.githubusercontent.com/73459513/137276463-db497f97-b06c-4ed9-9478-2ba456d3f963.png)
![image](https://user-images.githubusercontent.com/73459513/137276497-1ac64264-623f-4383-96dc-a8f845a0dbbc.png)
![image](https://user-images.githubusercontent.com/73459513/137276527-04539237-8e60-47ef-a474-a977593df434.png)

Modules are not displaying, even in Admin account

[2021-10-14 09:48] b90g opened #14456 "[proposal] Unify login buttons"
## Current State

When using an LDAP backend i got presented 2 Login-Buttons.

## Desired State

One Login button no matter if LDAP, other or just local user database.

## Bonus:

https://github.com/frappe/mobile/issues/92 this Issue would be cleared

[2021-10-14 11:28] tjomtek commented on #15271
Example:
Education Module>Instructor Role is required to mark the register of the Students.
But By default Instructor does not have access to Student Attendance, the system out of the box allows instructor do capture the student attendance but on the last step "mark attendance" system pops up "insufficient permission for Student Attendance" .
So, the message should rather read " insufficient permi

[2021-10-14 15:59] federicocalvo commented on #14832
same here.

Frappe 13.11
ERPNext 13.11

[2021-10-14 16:19] daraul commented on #5306
I have missed this. I thought it might work out of the box.

[2021-10-14 16:28] daraul opened #14462 "Let a controller method's output be accessible as a read_only field"
**Is your feature request related to a problem? Please describe.**
I have a Review doctype, which has an owner (the default document owner than frappe creates). I want to get the owner's full name from the API, not the owner's email address. Something like this:

`/api/resource/Review?fields=["business", "remarks", "rating", "owner_full_name"]`.

**Describe the solution you'd like**
I can create a

[2021-10-15 07:52] yemikudaisi opened #14465 "Unable to Test DocType Controller after editing 'User' DocType"
I'm unable to run tests on my controllers owing to a mandatory field I added to the ```User``` DocType.

Frappe Version
[code]

## Steps to reproduce the issue

1. I edited the ```User``` DocType and added a mandatory field named ```unit```, I'd rather have customized the DocType but I keep getting and error message "Core DocType cannot be customized" as shown in the screenshot below, I assumed Co

[2021-10-15 09:10] zongo811 commented on #14409
Workaround:
[code]

[2021-10-15 11:59] harshit-30 commented on #1257
@Komal-Saraf0609 makes sense!

[2021-10-15 15:40] FHenry opened #14467 "develop branch : frappe code use python 3.8 feature but required only 3.7"
apps/frappe/frappe/installer.py line 510
`sql_file_path.unlink(missing_ok=True)`
is not compatible with python 3.7 (param missing_ok only exists from python 3.8)

setup.py
python_requires='>=3.7'

`bench restore` do not work anymore on develop branch

[2021-10-15 15:58] barredterra opened #14468 "TemplateNotFound templates/pages/blog.html"
Exception occurs when running `bench migrate` in the debugger but is swallowed when running via terminal command.

[code]

Referenced here:

https://github.com/frappe/frappe/blob/8cc533484f91fddb877790b69ed699c5f72c1b69/frappe/website/doctype/blog_category/templates/blog_category.html#L1

Not found here:

https://github.com/frappe/frappe/tree/version-13/frappe/templates/pages

### Version

erpnext

[2021-10-15 16:01] barredterra opened #14469 "TemplateNotFound templates/includes/login/login.css"
Exception occurs when running `bench migrate` in the debugger but is swallowed when running via terminal command.

Referenced here:

https://github.com/frappe/frappe/blob/8cc533484f91fddb877790b69ed699c5f72c1b69/frappe/www/complete_signup.html#L3-L7

Not found here:

https://github.com/frappe/frappe/tree/version-13/frappe/templates/includes/login

### Version

erpnext 13.12.1
frappe 13.12.1

Relat

[2021-10-15 16:28] barredterra opened #14470 "Add option to disable Language"
**Is your feature request related to a problem? Please describe.**
There are many languages in Frappe, most of which are (very) incomplete and not needed in the current site. Most of the time they are just confusing.

**Describe the solution you'd like**

- It should be possible to disable unused Languages (similar to [Currency](https://github.com/frappe/frappe/blob/b73c77a128cdc7495e7b49f594696a6

[2021-10-16 04:20] Julio0250 commented on #3354
@saurabh6790 there is a particular reason why frappe needs root user?

[2021-10-16 22:16] rioshaz commented on #14832
@federicocalvo yeah its broken... i dont know how and when will erp guys fix it..

[2021-10-18 07:06] #14467 closed, assigned to gavindsouza

[2021-10-18 09:19] SettupillaiPrabhakaran opened #14893 "Kanban Board Issue While using in Workspace"
![image](https://user-images.githubusercontent.com/84178895/137703739-6bce3e4a-85d8-447f-9180-17733d19ab25.png)

![image](https://user-images.githubusercontent.com/84178895/137704239-95592140-3d14-4700-ad6e-8302537a557b.png)

Dear All,
   While using kanban board in workspace , i'm getting 500 internal server error. Please give me a solution for this :)
Thank you

[2021-10-18 23:18] barredterra opened #14492 "Negative duration gets rendered wrong"
## Description of the issue

When setting a negative number in a duration field, the value is displayed incorrectly.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a DocType with a Duration field
2. Set a negative duration by code (in seconds)

[code]

### Observed result

"-1d -1h"

### Expected result

"-1h"

[2021-10-19 04:53] #14470 closed, assigned to nobody

[2021-10-19 05:30] surajshetty3416 commented on #14465
@yemikudaisi You can delete that custom field from `Custom Field` list.

`https://<site>/app/custom-field`

[2021-10-19 05:30] #14465 closed, assigned to nobody

[2021-10-19 05:41] surajshetty3416 commented on #14436
According to the current system you need to have "write" permission on permlevel 0 to edit/save the document.

[2021-10-19 05:41] #14436 closed, assigned to nobody

[2021-10-19 05:42] surajshetty3416 commented on #14435
Fixed with https://github.com/frappe/frappe/pull/14397

[2021-10-19 05:42] #14435 closed, assigned to nobody

[2021-10-19 05:57] surajshetty3416 commented on #14021
fixed with
https://github.com/frappe/frappe/pull/13410
https://github.com/frappe/frappe/pull/14485

[2021-10-19 05:57] #14021 closed, assigned to sumaiya2908

[2021-10-19 05:59] #13762 closed, assigned to shariquerik, sumaiya2908

[2021-10-19 06:00] #11907 closed, assigned to shariquerik

[2021-10-19 06:04] yemikudaisi commented on #14465
Thank you @surajshetty3416, my issue is that I can't even add a custom field to the ```User``` DocType because it's a core DocType (screenshot below), secondly I'm unable to customize the DocType (screenshot above). The only thing that Frappe let's me do is to edit the User DocType which is what I've done and for that reason I can't test.

![image](https://user-images.githubusercontent.com/3257276

[2021-10-19 08:32] gavindsouza commented on #14405
Hey @ryuliantoro, the contents of the `frappe.conf.wildcard` should be of `Dict` type. It should look something like

[code]

There is provision to set this by frappe/bench but it doesn't setup a `List` value AFAIK. Was there was a manual setup done for this by any chance?

[2021-10-19 09:07] ryuliantoro commented on #14405
No manual setup.
[code]
This also confuses me as this worked before. Then it didn't.
I didn't keep track if it was after an update of frappe or else.

[2021-10-19 09:34] #14492 closed, assigned to ruchamahabal, shariquerik

[2021-10-19 09:43] gavindsouza commented on #14405
Can you debug the value of `frappe.conf.wildcard` is showing before the error is raised? Would probably help us get a clue in understanding what's going on.

[2021-10-19 11:39] ryuliantoro commented on #14405
In the console:
[code]

[2021-10-19 13:20] gavindsouza commented on #14405
@ryuliantoro I can't replicate this on v12. It's likely that there's an error with the configuration alone.

Are you using wildcard certificates for your deployments?

[2021-10-19 13:22] ryuliantoro commented on #14405
yes I use wildcard certificates from lets encrypt.
The certs work well. I can access the sites in the bench.
OK let me check more my configuration and come back here if anything suspicious.
Thanks

[2021-10-19 14:31] #14292 closed, assigned to nobody

[2021-10-19 15:06] ryuliantoro commented on #14405
OK. I found the culprit.
I just remember that I restore some sites and yes manually put back the wildcard key because the bench command no longer works for wildcard.
I compare with some other sites, the value is a List instead of Dict. I mistakenly put [] in it.
So no code mistake nor bug.

[2021-10-19 17:31] ryuliantoro commented on #14405
@gavindsouza
Sorry for reopening this.
I see differences in using dict and list.

In common_site_config.json for **wildcard value**:
[code]

In site_config.json for site with **custom domain without ssl**:
[code]

In site_config.json for site with **custom domain and using ssl** (when there are multi sites with each own ssl):
[code]

Can you please confirm and correct these setup?
Because these se

[2021-10-20 20:03] thejoe8495 opened #14522 "Error sending Mails to gmx.de and web.de"
## Description of the issue
There is an issue by sending mails with a german umlauts in accountname.
The rejection is only on 2 mailprovider web.de and gmx.de other provider and private mailserver has no problems with the unconverted text.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create an E-Mailaccount with an ö, ä or ü i

[2021-10-20 23:16] skjbulcher opened #14523 ""mailer-daemon is not a valid Email Address" Error"
## Description of the issue

I don't know how to troubleshoot this or even what it means yet, but this occurs every five minutes in the error log of a fresh install (after setting up email). The title of the long entry is **pull_from_email_account**

[code]

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Set up a production serve

[2021-10-21 02:16] sibitha-bijesh opened #14524 "How do I implement social login (Google login) in React native APP"
I am trying to integrate social login (Google) in React native APP.  Login with Google is working in ErpNext.  But failed to authenticate it in APP.

Can you please share the step to do this in APP

[2021-10-21 07:09] szufisher opened #14527 "server script missing after save among event selection"
## Description of the issue

## Context information (for bug reports)

**Output of `bench version`**
[code]
Here the event map from server script utilities
EVENT_MAP = {
	'before_insert': 'Before Insert',
	'after_insert': 'After Insert',
	'before_validate': 'Before Validate',
	'validate': 'Before Save',
	'on_update': 'After Save',
	'before_submit': 'Before Submit',
	'on_submit': 'After Submit',
	'

[2021-10-21 12:48] hasnain2808 commented on #14523
@skjbulcher
Please share the configurations that you have done for Email

[2021-10-21 14:20] abitcons opened #18609 "Getting Error "Customer Must be unique" on Projects Form"
I have removed the unique check from Projects Form which was set to make customer unique on project Add.
But as I uncheck the unique constraints and save the settings it doesn't remove unique constraint any more.

![image](https://user-images.githubusercontent.com/70687236/138297115-11939c07-1f95-4684-9377-66e1557fafef.png)

![image](https://user-images.githubusercontent.com/70687236/138297279-259

[2021-10-21 16:24] skjbulcher commented on #14523
# Email Domain

| Field | Setting |
| --- | --- |
| Email Server | secure.emailsrvr.com |
| Use Imap | ✅ |
| Use SSL | ✅ |
| Port | 993 |
| Attachment Limit (MB) | 50 |
| | |
| SMTP Server | secure.emailsrvr.com |
| Use TLS | ✅ |
| Use SSL for Outgoing | ☐ |
| Append Emails to Sent Footer | ☐ |
| Port | 587 |

# Email Account

| Field | Setting |
| --- | --- |
| **Account** |
| not listing setting

[2021-10-21 17:23] federicocalvo commented on #13914
Hi @ankush , any news for this issue by a member of frappe? practically makes the search bar unusable since v13 for those of us who do not use the platform in English.

[2021-10-21 17:31] ankush commented on #13914
Hi @federicocalvo the whole translation system is being revamped right now.

Regarding this specific issue, caching is bit tricky to achieve but debouncing the search calls can make it _more_ usable... will send a PR for that.

[2021-10-21 18:09] skjbulcher opened #14539 "400 Bad Request - "client sent invalid method while reading client request line" when requesting list items"
## Description of the issue

I have a fresh (manual, because easy-install doesn't work) production install of ERPNext on Ubuntu 20.04. I am regularly getting `400  Bad Request` when the system requests a list view's items. It appears to happen after a bit of a delay, after which approximately 2/3 or more of requests get `400  Bad Request` responses. This, of course, wreaks havoc with fail2ban, whi

[2021-10-21 18:19] ankush commented on #13914
@federicocalvo @fproldan can you test linked PR ^

[2021-10-21 18:51] fproldan commented on #13914
@ankush I understand that this does not solve the issue completely but definitely helps, now is more usable and brings a smoother experience for the user 👍🏻

[2021-10-21 18:56] skjbulcher commented on #14539
One thing I just noticed: On the timing tab, for all failed requests, it is showing a DNS Lookup, Initial Connection and SSL operations. For successful requests, it does not contain any of that. This appears to be consistent. The images below are from the Timing tab of the network connection in Chrome.

**Failed Request**
![image](https://user-images.githubusercontent.com/16672299/138339595-77cb15

[2021-10-21 19:17] skjbulcher commented on #14539
Discovering that re-initiating of the SSL connection has led me to more interesting findings. Examining the full log of network requests, I discovered that there are requests made to `https://atlas-dev.ebs.llc/api/method/frappe.core.page.background_jobs.background_jobs.get_scheduler_status` that receive `200 OK` response, even if played directly after a failed `frappe.deskreportview.get` request,

[2021-10-21 22:16] franciscobuendiao opened #14824 "Email UI overlapped"
## Description of the issue
If the user has any email inbox assigned, the email UI will have “From” and “To” fields almost overlapped.

https://discuss.erpnext.com/t/issue-on-email-window-design/81539
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Assign email inbox to user
2. Email from any doctype
3. UI have “From” and “To” fie

[2021-10-21 23:57] franciscobuendiao opened #14826 ""Create User Email" v13"
## Description of the issue
Click on "Create User Email" at User master does nothing.

![Email](https://user-images.githubusercontent.com/25084259/138372448-4aeb1956-2319-462b-b82d-25a43cbd694b.png)
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Select User master
2. Click on "Create User Email"

### Stacktrace / full error messa

[2021-10-22 16:26] gavindsouza opened #14551 "set_value with for_update=True doesn't take lock (develop)"
Introduced via #14102 due to changed implementation of `frappe.db.get_values`. Exists only on develop.

Edit: This issue only occurs when PyPika objects are passed as filters

[2021-10-22 21:23] skjbulcher commented on #14539
More details.

I turned on nginx error log debug with

[code]

I also set `"enable_frappe_logger": true` in `sites/[SITE]/site_config.json` and restarted the ERPNext with `bench restart`. I can now see all of the web requests that ERPNext sees logged in `sites/[SITE]/logs/frapp.web.log`.

With these settings I have determined that

A) `400 Bad Requests` are _**not**_ making it to ERPNext/Frappe, b

[2021-10-23 04:51] harshpwctech opened #14553 "Homepage missing after desk login"
## Description of the issue
**Getting the error for the homepage of the site  as page missing or moved (Error: 404) after the user is logged into the desk.**

![Screenshot 2021-10-23 at 10 10 32 AM](https://user-images.githubusercontent.com/84438948/138542811-5a7866c1-0651-4274-adfd-2899a76ae875.png)

This is the issue we started facing after the bench update. We have run the commands bench build,

[2021-10-24 00:12] jorgeastiazaran commented on #8620
Hi @shahnawaz-pabon I'm trying to implement the same feature and would love to see your code.

Unfortunately the link you share is no longer working. Could you post it again?

[2021-10-25 04:31] shahnawaz-pabon commented on #8620
@jorgeastiazaran , actually I've changed my username that's why the link is not found. Please check now, you'll be able to see [my codes](https://github.com/shahnawaz-pabon/frappe/commit/01e680e22e72cdb7c195ed5f560c044d7993d466#diff-677f5df93a2aeb1477de8f15a527df85).

[2021-10-25 06:04] #14551 closed, assigned to gavindsouza, Aradhya-Tripathi

[2021-10-25 09:19] gavindsouza opened #14563 "migration_hash in {doctype}.json files"
Migrations using hashes were added via #14246. The column `migration_hash` was added as a hidden field in the doctype DocType. It doesn't make sense to export it in JSON as the calculated hash is supposed to be that of the whole JSON file, which changes if you insert new data (calculated hash) inside the same file.

Noticed this issue in the regeneration of JSON files via #14558

[2021-10-25 15:20] felixd opened #14567 "fix: Website: URL parsing function parses absolute telephone/phone tel: URLs as relative"
## Description of the issue

https://github.com/frappe/frappe/blob/ebc29efae568a91e52237c134e031f77185fe36d/frappe/website/utils.py#L163

Above function doesn't parse properly absolute URLs that start with `tel:`

Example:
I wanted to put Company phone number in Website Footer.
![image](https://user-images.githubusercontent.com/4963164/138723425-5347139f-4041-482c-8f7c-f4dabf6f38ea.png)

### Expec

[2021-10-25 15:34] #14567 closed, assigned to nobody

[2021-10-25 16:50] vrslev opened #14571 "Automatic Light/Dark theme switching"
**Is your feature request related to a problem? Please describe.**
Currently, you have to change theme with Cmd + Shift + G. It would be nice to detect device theme and automatically switch to it.

**Describe the solution you'd like**
Checkbox in Switch Theme dialog "Switch automatically" (that is turned on by default).

[2021-10-25 16:56] vrslev opened #14572 "UI: Incorrect dark theme text color in user-wise grid column configuration"
## Description of the issue
Recently user-wise grid column configuration feature was added. It has incorrect text color when Dark theme is on.
PR: https://github.com/frappe/frappe/pull/14130

Light theme

<img width="500" alt="Screenshot 2021-10-25 at 19 55 39" src="https://user-images.githubusercontent.com/75225148/138737995-ebb8deb7-c25b-4957-a411-bc9a2e6a76fd.png">

Dark theme

<img width="500"

[2021-10-25 17:05] #14563 closed, assigned to nobody

[2021-10-25 17:07] ankush commented on #14571
ref: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2021-10-25 18:02] vrslev commented on #14571
This works:
[code]
Now theme is stored in database which is weird. I think, localStorage will do. @ankush what do you think?

[2021-10-25 18:03] vrslev commented on #14524
Is it relevant to Frappe at all?

[2021-10-25 19:33] Komal-Saraf0609 commented on #13049
Works with the latest version. So, closing the issue.

[2021-10-25 19:33] #13049 closed, assigned to nobody

[2021-10-25 19:36] Komal-Saraf0609 commented on #13472
Works with the latest version. So closing the issue.

[2021-10-25 19:36] #13472 closed, assigned to nobody

[2021-10-25 20:05] barredterra commented on #14437
Also the top one isn't translated doesn't have the "Today" button.

[2021-10-26 05:43] centaur78 opened #14574 "frappe.desk.form.utils has no attribute validate_link"
Hi @sagarvora

Just did a bench update and while creating a new quotation getting the below error, probably form this PR #14445.

Unable to get any link to Currency, items, customer, prices etc.. in short all linked documents

![image](https://user-images.githubusercontent.com/1904802/138815287-5da7e3a3-46ab-4046-9d44-ba450b13a8df.png)

traceback

[code]

[2021-10-26 06:28] sagarvora commented on #14574
Hi, did you run bench build?

[2021-10-26 06:30] centaur78 commented on #14574
I did both bench update and bench update -reset

Do i need to bench build ??

[2021-10-26 06:31] sagarvora commented on #14574
Can you send the JS traceback please? This method has been removed, so if this is being called from your custom code, it won't work as intended.

[2021-10-26 06:38] centaur78 commented on #14574
There are not custom code.. its vanilla develop branch

I did search for "frappe.desk.form.utils.validate_link" after the update... the only place they are referenced are in 2 files controls.bundle.xxxxx.js and forms.bundle.xxxxxx.js.. Should i do a bench build and see if that resolves the issue ??

![image](https://user-images.githubusercontent.com/1904802/138821871-23d66eb0-d40f-4303-9978-9ba22b

[2021-10-26 06:39] sagarvora commented on #14574
Yes, please rebuild. As evident from your search, this code isn't present anywhere in apps.

[2021-10-26 06:48] #14574 closed, assigned to nobody

[2021-10-26 08:15] gavindsouza commented on #14462
If you want to make a read-only property in the DocType controller, you can override a property setter to make it virtually impossible to update these dynamic properties.

refs:
- https://python-reference.readthedocs.io/en/latest/docs/property/setter.html#remarks
- https://docs.python.org/3/howto/descriptor.html

This is the Pythonic way to do it, and it co-exists with the Framework. I don't see a

[2021-10-26 10:11] #14524 closed, assigned to nobody

[2021-10-26 10:15] weembe opened #14892 "v13 editable number field decimal separator gone if selected"
## Description of the issue
thousands separator removal when selecting a number field is good. But it also remove decimal separator.
### Observed result
copy 100.00 become 10,000.00
### Expected result
copy 100.00 become 100.00
## Additional information

ERPNext: v13.9.2 (version-13)
Frappe Framework: v13.9.1 (version-13)

[2021-10-26 11:07] sibitha-bijesh commented on #14524
https://frappeframework.com/docs/user/en/guides/integration/social_login_key
I have to implement this in React native app. Any option ?

[2021-10-26 12:19] daraul commented on #14462
I'm no python expert, so the docs there are strange to me. Are you saying that the functionality I'm asking for could technically already be possible?

[2021-10-26 13:37] zongo811 opened #14579 "Saving Client Script produces Error in Console"
## Description of the issue
Random finding: I had the Console View in the Browser opened while I was working with Client Script code. On saving I noticed strange output in the Console:
![grafik](https://user-images.githubusercontent.com/77285389/138889725-edde6081-5030-4f04-816b-f29a89d701f7.png)

This seems to be the example code from "Client Script Help". Functionality is not impeded.

## Contex

[2021-10-26 13:56] ankush commented on #14579
This is harmless. Just need to escape single quotes. Example: https://github.com/frappe/erpnext/pull/27433

[2021-10-26 16:36] kennethsequeira opened #14581 "[Dependency] Raise Error for Missing Dependency for New Print Format Builder"
Error on running bench update:

Related to https://github.com/frappe/frappe/pull/14134
[code]

For mac, it is fixed by running:
[code]

**Expected Fix:**

The system should warn for missing library and suggest next steps depending on OS if it is not addressable through adding dependency in frappe.

[2021-10-26 20:11] MajikalExplosions commented on #13957
bump

[2021-10-26 21:43] JaCoB1123 opened #14584 "Cannot select DocType in AutoRepeat"
## Description of the issue

When creating a new Auto Repeat I always get the same suggested DocTypes, no matter which text I enter into the search box. Opening the advanced search doesn't help either.

## Context information (for bug reports)

Tested on FrappCloud
[code]

## Steps to reproduce the issue

1. Create new auto-repeat
2. Enter "sales receipt"

### Observed result
Suggestions still sho

[2021-10-27 05:42] zongo811 commented on #14579
Hello @ankush,
I have to inform you that this error still exists even in develop. I just did a "bench update", removed all single quotes from my Client Script and tried again:

![grafik](https://user-images.githubusercontent.com/77285389/139006182-8d7236f1-1c94-44b4-a1c9-05dd95f3cba7.png)

bench version:
[code]

[2021-10-27 05:44] ankush commented on #14579
Yes, it still exists. It's just in the help message like you said. It doesn't affect any functionality.

[2021-10-27 06:00] #14581 closed, assigned to ankush

[2021-10-27 06:15] gavindsouza commented on #14462
Here, I'm creating a dynamic property **age** for the given DocType **Person**.

[code]

Now, trying to access a Document in the console, we'll get something like

[code]

I've added a setter method for the property in the below snippet. The previous snippet raised an `AttributeError` in case anyone tried to update the value...To handle this silently, you can do the following

[code]

This will re

[2021-10-27 08:40] da-leo opened #14590 "Doctype list into detail page, if you set Data type default value contains percent, will Multiple percent signs appear"
![image](https://user-images.githubusercontent.com/72648109/139030880-ae79bd06-b5eb-4884-a2e4-c3f8c2de6d06.png)

![image](https://user-images.githubusercontent.com/72648109/139031110-1b7dd8ba-a219-40b8-97b7-a061c9f3730e.png)

![image](https://user-images.githubusercontent.com/72648109/139031017-86649c76-e8f5-4cc0-bcd8-2f495bbfa51f.png)

[2021-10-27 08:55] Rockingrajat commented on #14892
Hey @weembe could you please describe a bit more? From where are you copying and where is it being pasted?

[2021-10-27 13:57] ankush opened #14595 "Give option to disable energy point notifications"
Too many EPS notifications overshadow other interactions like mentions, assignments etc which are more important notifications for user.

Expected solution:
- Notification setting per user where they can disable this.

[2021-10-27 15:57] daraul commented on #14462
Can I access that `age` attribute through the API with something like `GET /api/resource/Person?fields=["age"]`?

[2021-10-27 16:21] barredterra opened #14599 "AttributeError: 'NoneType' object has no attribute 'lower'"
### Reproduce

Open any List View, for example "DocType List".

### Stack Trace

[code]

### Example `data`:

[code]

Looks like we have the "group_by" attribute, but for some reason the other information required for group by is missing (aggregate_function, etc.).

### Version

erpnext 13.13.0
frappe 13.13.0

[2021-10-27 16:44] barredterra commented on #14599
Got rid of this error by running `bench setup requirements && bench build --force && bench restart`

[2021-10-27 16:44] #14599 closed, assigned to nobody

[2021-10-27 19:13] ankush opened #14600 "Ability to show title instead of name in link-like fields"
Name field is often a code or hash which is useless from user POV. There should be a simple way to show title instead of name.

E.g. check how item_code formatter is implemented, almost similar functionality needs to be generalized.

Ref: https://github.com/frappe/erpnext/issues/19624

possible solution: https://github.com/frappe/frappe/pull/13848

[2021-10-28 01:17] skjbulcher commented on #14539
It turns out my antivirus was causing the issue. Somehow it was botching it's man-in-the middle connection, but only for the one request.

[2021-10-28 01:17] #14539 closed, assigned to nobody

[2021-10-28 03:22] weembe commented on #14892
here is a quick [video ](https://imgur.com/a/EPd0hNk) on how it happened.
It also happened if I copy from payment entry on "paid amount" field on "amount" section.

The paste location is global, whether it is on ERPNext or any text editor.

[2021-10-28 06:23] gavindsouza commented on #14462
I doubt it since it's not a real database field. but you should be able to access it via `GET /api/resource/:doctype/:name` after #14593

[2021-10-28 07:45] vrslev commented on #14524
Not with this framework. You’ll have to find another library.

[2021-10-28 10:05] marination commented on #14390
@rtdany10 Sounds pretty cool! Is this feature already built ?

[2021-10-28 10:07] gavindsouza commented on #14595
Filtered notifications would be cooler though. I don't want to see EPS, assignments, shared documents, alerts & mentions in the same dropdown 🥲

[2021-10-28 10:10] rtdany10 commented on #14390
No, unfortunately, not yet. I will more than happily assist and help if somebody take the lead!
There are already pull requests that I've created that hasn't reached anywhere. Don't want to add another to the list.

@marination If you don't have much on your plate, could you try a hand?😅

[2021-10-28 10:45] ankush commented on #14595
+1, covers more annoyances 😄

 "All" section by default with additional sections based on "Type" (existing field in notification log)

[2021-10-28 19:08] jbtruffault commented on #14422
Dears,
I am still facing this issue, I am still interesting for any suggestion or any help !

I have more details about the bug here after:

___

Before saving my new document, just after upload a new file:
![image](https://user-images.githubusercontent.com/12747168/139320095-b978e979-77ec-421d-ae63-aeed743c5fea.png)
At this moment, not any file has been created on the server.

**But**, if I use t

[2021-10-28 21:07] vespersolutionspk18 opened #14619 "Tab Break FieldType Missing"
Currently on Frappe v13.13.0. Fieldtype tab break went missing after I updated from 13.12 to 13.13. Almost all my custom doctypes have been rendered useless.

[2021-10-29 05:08] surajshetty3416 commented on #14619
Tab Break fieldtype has not been backported to v13... it is only in `develop` (v14).

(not sure how you were using it in `v13.12`)

[2021-10-29 05:08] #14619 closed, assigned to nobody

[2021-10-29 10:33] ChillarAnand commented on #13326
https://github.com/frappe/frappe/pull/14501 fixes issue for date type. For non-date type, it is still an issue.

[2021-10-29 12:40] ankush commented on #14595
related https://github.com/frappe/frappe/issues/13114

[2021-10-29 13:31] barredterra opened #14833 "AttributeError in _dict"
https://github.com/frappe/frappe/blob/5477429aa8dae3fd4c88120d4b51d0c7168d1f72/frappe/__init__.py#L40-L46

Line 45 throws an error when running `bench serve` or `bench migrate` with the VS Code debugger:

[code]

This is caused by the method `copy.deepcopy()`, which tries to access the `__deepcopy__` attribute.

https://github.com/frappe/frappe/blob/5477429aa8dae3fd4c88120d4b51d0c7168d1f72/frappe/

[2021-10-29 14:25] jbtruffault commented on #14422
I realized that the file is actually written on the server, but it is removed by the function "on_rollback()"

V13.13.0: https://github.com/frappe/frappe/blob/e86058ede8fccb83dd2fe2f7b59550ec12ef67e9/frappe/core/doctype/file/file.py#L317

It seems that this function has been edited in this commit: https://github.com/frappe/frappe/commit/bc596e968159024ec956d30df6be92c5b31c7b19 This commit may fix

[2021-10-29 15:59] #12375 closed, assigned to nobody

[2021-10-29 20:41] rioshaz opened #14863 "topgle dont auto disappear after clicked"
when u click on the notification bell icon ,, u can see all notifications in a list and when u click any notication the notificaiton list doesnt auto disappear then we have to manually click anywhere else on the screen for it to go away..

this gets worst when in mobile view....  as the notification pop up when clicked on bell icon take all space and one doesnt realise clicking the notifcaiotn has

[2021-10-31 03:36] aakvatech commented on #11921
https://github.com/aakvatech/Bulk-Webhook/

Check this out

[2021-10-31 03:47] aakvatech opened #14841 "fix: local variable 'r' referenced before assignment"
## Description of the issue
When a website is not responding to webhook, instead of just the error of timeout, another error appears in Error Log.

## Context information (for bug reports)
Webhook and a timing out target website.

**Output of `bench version`**
[code]
Traceback (most recent call last):
  File "/home/av/v13/apps/frappe/frappe/utils/background_jobs.py", line 104, in execute_job
    m

[2021-10-31 15:52] ankush opened #14847 ""Autocomplete queries" could use some standardization"
<img width="1050" alt="Screenshot 2021-10-31 at 9 08 27 PM" src="https://user-images.githubusercontent.com/9079960/139591480-78ba917e-f9d1-408a-bd6d-850b5a43439e.png">

Way too much duplication for this basic feature.

Probable solution:
- Specify default query on doctype itself. All link field should use this query.
- Specify filters on docfields. (add validation by just passing those filters to

[2021-11-01 01:01] szufisher commented on #14847
add a filters code field for fieldtype Link fields to DocField, user can set the filters in this code field other than JS, in form onload, check for filters set for link fields, convert it to set_query.
this will be like odoo's domain in its form xml.

[2021-11-01 05:48] #14245 closed, assigned to surajshetty3416

[2021-11-02 10:56] ankush opened #14869 "Cleaner way to submit/cancel documents via REST"
Refer: https://github.com/frappe/frappe_docs/pull/221

Often in the community, this is recommended for cancelling/submitting:

[code]

If you read `document.py` this isn't really equivalent to cancelling the document. IMO the current best method is to supply `run_method` (both submit/cancel are whitelisted).

Current method that works well is:

[code]

That's ugly and returns `null` 💩

Proposals

[2021-11-02 12:36] sumitbhanushali opened #14871 "Mobile Specific Workspace"
There have been multiple requests by clients for Mobile App to have the option to show selected Doctypes/Modules (User Level) when accessing desk from Frappe Mobile to improve UX of the App.
We can use Workspace for this where upon receiving device=mobile in request body, Mobile specific workspace can be sent over API

[2021-11-03 12:00] Komal-Saraf0609 opened #14875 "Page Numbering (Jump to Page)"
Problem Statement
User is not able to directly jump the expected page on the item grid in all of the screens.

Expected Solution
Editable Current Page would help users to directly jump to the expected page.

Currently, the Page numbers in the item table on all screens are as below:

![abc](https://user-images.githubusercontent.com/81952590/140056137-63565eaa-a9c6-4d7c-8f70-3121fcfae9a6.png)

But i

[2021-11-03 12:02] Komal-Saraf0609 opened #14876 "Make rating field's range customizable"
frappe/frappe/public/js/frappe/form/controls/rating.js
Line 5 in e9cf28b
 [1, 2, 3, 4, 5].forEach(i => {

Can the above line be changed to 10 (or value defined in Options of the DocField record) instead of hardcoded 5?
Also would be great to create a red to green color gradient in the stars instead of grey/black. Option to change the direction of gradient ascending or descending.

[2021-11-03 12:05] Komal-Saraf0609 opened #14877 "Server space occupied due to Email Queue"
Problem Statement:

- Email queue contains not just the email sender and receiver, but also the whole message content
- Over the period, the Email Queue table itself occupies lots of server space or space allocated to the account
- It leads to issue like performance, plan upgrade (when not needed), and bottleneck in the group

Proposed Solution

- Tone down the email queue to not contain complete

[2021-11-03 12:06] Komal-Saraf0609 opened #14878 "Phone Number Formatting in Frappe"
Currently any phone number field (within Contact, Lead, Customer, Opportunity, etc.) doesn't format or allow formatting of phone numbers. This would make it easier for users to read the numbers and improve product UX.

Any of the following libraries can be used to achieve this:

https://www.npmjs.com/package/libphonenumber-js

https://github.com/google/libphonenumber

Demo: https://catamphetamine.

[2021-11-03 12:12] gavindsouza commented on #14876
Duplicate of https://github.com/frappe/frappe/issues/14170

[2021-11-05 00:42] wojosc opened #14880 "Table not usable in Quick Entry"
Hi,

when designing doctypes with Quick Entry
![grafik](https://user-images.githubusercontent.com/22279621/140439291-417c3a4c-32ae-4b16-b5e5-dd6be8427562.png)

I tested if it was possible, that a field in the doctype with the field type table would also show up in the quick entry dialog. It does not. Instead the new instance will be open in full edit view
![not_quick](https://user-images.githubuse

[2021-11-05 06:51] packetloss69 opened #14891 "DateTime field not populated to database - Customize Form"
System: Centos 8
mariadb-10.3.28-1
erpnext 13.13.0
frappe 13.13.0

In Cutomize Form -> Customer

Add Field as DateTime (name: courier_delivered_date), Update
When adding client, field shows up. Selection of DateTime shows correct.
Save.

Returning to Customer record, the DateTime entry is empty.

Additional field gets created in tabCustomer as datetime(6).

Workaround -  changed field to DATETIME

[2021-11-05 09:31] mfissehaye opened #14884 "cannot import name 'HTML' from 'weasyprint'"
Running frappe using the docker single bench installation. I tried to create a new site using command `bench new-site library.local --db-host mariadb` and error occured with the following log.

[code]

[2021-11-05 15:30] FatCatTuxedo opened #14911 "Allow us the change the protocol of the domain"
Ok so I run frappe/erpnext behind an nginx proxy that handles the https side of things. The problem im having is OAuth integrations pass the url as http instead of https so a way to change this would be great

[2021-11-06 15:31] developmentforpeople commented on #14833
Same here. I just applied your b. option into my forked frappe if this helps to anyone because I am not sure if it could depend to an specific Python version:
[code]

[2021-11-06 16:08] developmentforpeople commented on #14833
Created PR: [14889](https://github.com/frappe/frappe/pull/14889)

[2021-11-07 13:25] sersaber opened #14912 "Select date picker widgets first date of week"
Hello all,

I have configured system and user laguage as “en-GB” and the calendar view use Mondays as first day of week. But date picker widgets still show sunday as first day of week. See image below.

![232b18d784e647c46ceb7088881376299b283cd5](https://user-images.githubusercontent.com/93864988/140646804-c1b27679-dc75-4af4-aa51-867871e4d69c.png)

This is confusing and can lead to errors when ent

[2021-11-07 13:28] sagarvora opened #14890 "Passwordless Administrator Account"
Being an Administrator is like being System Manager, but without the ability to tweak permissions. Not necessarily a bad thing, unless it is easy to compromise the Administrator account. Because this is a hard-coded username and doesn't generally have 2FA, it becomes easier for attackers to brute-force.

## Proposed Solution

A passwordless Administrator account. This cannot be brute-forced, becau

[2021-11-07 13:33] ankush commented on #14911
can you share which integrations require a HTTP connection? Most have moved away to HTTPs for obvious security concerns.

[2021-11-07 13:37] ankush commented on #14891
This is by design to prevent accidental data loss. Only trim tables command removes redundant fields.

Can't reproduce the issue you're describing.

[2021-11-07 13:41] sagarvora commented on #1634
This issue has been discussed further in https://github.com/frappe/frappe/pull/14569

---

The consensus was to have a response like so:

[code]

[2021-11-08 01:18] TUANDO1011 opened #14903 "abc"

[2021-11-08 04:14] #14903 closed, assigned to nobody

[2021-11-08 05:18] gavindsouza opened #14905 "Response Structure"
This is an addition to @netchampfaris's proposal via https://github.com/frappe/frappe/pull/14569#issuecomment-954455298. We can move the context of these errors in the error `Dict` itself IMO. Maybe not just errors, this can be expanded into debug or info logs too. And, maybe call it just "debug", I think it gives enough context.

Another thing, as a principle we can have the values always either

[2021-11-08 05:27] gavindsouza commented on #14869
On the proposals,

It's probably how the API should've always worked...but is it too late to fix it? I'm not sure how big the impact of this change would be. But I think we can make this switch completely over the next 2 major version releases...until then feature flag? :P

I think we can do something simpler (in terms of the interface), perhaps something like `POST /api/resource/doctype/name/meth

[2021-11-08 05:37] sagarvora commented on #14869
Ankush and I discussed this implementation a while ago. I think it is fairly easy to do in a way that is backwards compatible.

[2021-11-08 08:42] fnrfarid commented on #14324
@gavindsouza , hello, is there any update on this bug?

[2021-11-08 09:58] AhmedRedaFrontLine commented on #14420
I have the same issue

[2021-11-08 10:18] #14833 closed, assigned to nobody

[2021-11-08 11:03] ankush opened #14915 "Image fields showing "upload" button when it's not possible to upload"
Read only image field still shows option to upload file.

Expected solution:

1. Check if field is read only
2. check if field can actually be modified (`docstatus == 0 and allow_on_submit == 0`)

<img width="377" alt="Screenshot 2021-11-08 at 4 28 46 PM" src="https://user-images.githubusercontent.com/9079960/140730836-4fc33f96-6ae0-4410-939a-41f64d15c36f.png">

ref: https://github.com/frappe/erpn

[2021-11-08 15:34] fproldan opened #14919 "bug: translations in link fields"
## Description of the issue

the options in link type fields are shown translated but when selecting an option the input takes the untranslated value

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Set the user language as "es".
2. Go to a new quotation.
3. Select "Cliente" in the "Cotizar a" field (quotation to).
4. The input ta

[2021-11-08 19:49] rioshaz commented on #14832
@ankush buddy are u woking on it.. when can we expect a fix this is very important to operate mailbox from erpnext..
pls help

[2021-11-08 21:55] Alberto826 opened #14921 "Social Login Office 365 Group & Role Mappings"
**Is your feature request related to a problem? Please describe.**
Frappe/ERPNext allows for default role at signup, however it becomes quite cumbersome to manage the roles and permissions where one prefers to use an external authentication provider such as Microsoft Office 365 as a central authentication provider for all applications (where Frappe/ERPNext is one of them).

**Describe the solution

[2021-11-09 07:55] uepselon opened #14924 "Change the order of export-fixtures"
Problem:
Currently the export-fixtures functionality orders fixtures based on the index and creation date. This functionality makes it hard when working in a larger developer team, since the order of fixtures is different for everyone and therefore comparing diffs is very time consuming / impossible.

Solution:
Therefore, ordering the fixtures based on their name is much more convenient and has no

[2021-11-09 16:00] guilmori opened #14936 "Child Table Configurable Columns"
1- How to disable this so that users cannot change default columns configuration?
![image](https://user-images.githubusercontent.com/9451512/140959159-92d522ee-f681-471c-bc4c-1a401ecc7dae.png)
2- How to clear the user customization and revert to the default columns configuration ?
![image](https://user-images.githubusercontent.com/9451512/140959242-9f8ac05e-8c0f-46f3-a6cf-08f1f76e0bcb.png)

[2021-11-09 16:30] daraul commented on #2701
Do you have a link to the issue you created? I think I am having the same problem.

[2021-11-09 16:48] ankush commented on #14936
This is user-specific, it doesn't affect others configurations, hence I don't see a reason to add a setting for disabling this 😅 It's just unnecessary complexity.

[2021-11-09 18:23] guilmori commented on #14936
I know this is user-specific. If they update the columns configuration, they won't see any new columns added by the application, not good.
I spent hours figuring out why my new column wouldn't show even though I had check "In List View". There is no indication the columns have been overridden and no way to revert back to default. Bad design.
Also it is buggy, when I hit Update it just removes the

[2021-11-09 19:18] skjbulcher opened #14937 "Octuplicate Document Links Plague: Document Links Are Multiplying/Making Babies?!"
## Description of the issue

I have started using the Document Links section of Customize Form for it's intended purpose: creating links to other documents that reference the viewed document. However, they seem to be quite prolific whenever I am not looking. For example:
![image](https://user-images.githubusercontent.com/16672299/140988583-43515a31-1fa1-47eb-92e5-ec879e8503a7.png)

If it is not ob

[2021-11-10 04:20] coffee-dev-sl opened #14938 "[Proposal] Add freeze message when renaming"
Problem
-
When renaming a document that is linked to multiple different fields, frappe automatically updates linked field values and renames dynamic links. However, if there is a large amount of links that need to be updated it may take some time.

The problem is that there currently isn't any indication for the user that this process is occurring.

When the rename button is clicked, nothing happe

[2021-11-10 10:05] FatCatTuxedo commented on #14911
None do the problem is because I'm not using https for frappe because nginx handles the https and proxies to a local http address so when using an integration it assumes the callback url is http instead of https because technically frappe is running over http

![image](https://user-images.githubusercontent.com/16063649/141092618-00f5964a-33f1-4588-ae39-8bbfe6924a29.png)

![image](https://user-imag

[2021-11-10 10:17] ankush commented on #14911
Okay I got the problem now... similar to https://github.com/frappe/erpnext/pull/25630

[2021-11-10 10:20] FatCatTuxedo commented on #14911
kind of yeh, just force all callback urls passed to any integration to be https

the one i was having issues with was the azure ad one

[2021-11-10 12:14] FatCatTuxedo commented on #14911
![image](https://user-images.githubusercontent.com/16063649/141111217-f09ff20c-b7b9-4fa4-96bd-e6668cdfe946.png)

[2021-11-10 13:18] daraul opened #14940 "Frappe can't set a cookie's SameSite attribute to the string literal "None" because werkzeug is outdated"
## Description of the issue

Cookies may need the "SameSite" attribute set to the string literal "None". They were set to None [here](https://github.com/frappe/frappe/pull/11257), which means it defaults to "Lax" most of the time. It cannot be set to "None" unless werkzeug is updated to incorporate [this change](https://github.com/pallets/werkzeug/pull/1550/files#diff-cd95d3a95564f3230d4875ac34fc9

[2021-11-10 14:39] daraul commented on #14940
I've tried working around this by configuring nginx to set the SameSite attribute to "None". However, frappe continues to set the attribute itself because "frappe.local.session.data.device" is not "mobile". How can I set that value?

[2021-11-10 14:46] daraul commented on #14940
I took a wild guess based on [this line](https://github.com/frappe/mobile/blob/673b308d0aa3ff45ca8aee8659f1f0d3b10cbc7b/lib/model/login_request.dart#L15) and set the "device" parameter to "mobile" alongside my user's login information. That did the trick, but I don't recall seeing this functionality mentioned in the documentation. I would suggest the docs be updated in addition to werkzeug.

[2021-11-10 18:53] rioshaz commented on #14936
@guilmori totally agree ... yes there has to be option to disable user customization..

[2021-11-10 21:04] todfox commented on #14884
I have the same issue during site migrate

[2021-11-11 03:24] kanedai opened #14944 "V13.14 print error"
## Description of the issue
When I print any document through Erpnext (such as Sales invoice), an error window will appear (this problem did not appear before V13.14)
## Context information (for bug reports)

**Output of `bench version`**
erpnext 13.14.0
frappe 13.14.0
[code]

Error： ![image](https://user-images.githubusercontent.com/4647923/141231656-91eed564-6cd0-409a-a398-6d798d44288d.png)

[2021-11-11 04:45] ankush commented on #14944
When you close this window, printing works as expected?

[2021-11-11 04:47] kanedai commented on #14944
Yes, it works after close the window.

[2021-11-11 05:55] #14944 closed, assigned to nobody

[2021-11-11 07:15] zongo811 opened #14950 "Virtual DocType: Example Test not working"
## Description of the issue
When opening example DocType "test" from module "Core" an error occurs because of a missing file "data_file.json". I provided this data_file.json to circumvent the error:
[code]
and got this error:
AttributeError: 'list' object has no attribute 'items'

Please provide a sample data_file.json that would work with your code.

## Context information (for bug reports)

**Ou

[2021-11-11 07:41] zongo811 commented on #14950
Changing data_file.json to
`{"test": "123"}`
fixes the error but data is still not displayed:
![grafik](https://user-images.githubusercontent.com/77285389/141257084-c86cc528-8474-43f0-8e54-399378e0227d.png)

Using Virtual DocTypes with single-line data would be pretty unsatisfying, please provide a data_file.json and example-code that uses multiple records like:
[code]

[2021-11-11 12:57] ankush opened #14955 "use_original_name_for_amended_document should be limited to certain doctypes"
This was added to allow reusing same invoice number for sake of compliance in invoices / e-invoicing etc.

There is no need to extend this to all submittable doctypes IMO. reason: Reusing primary key creates a whole new avenue for bugs to creep in.

[2021-11-11 14:18] ChillarAnand commented on #10007
@ddavidebor Currently, `jupyter` & `ipykernel` have been removed from requirements and `ipython` is bumped to latest version.

Closing this issue. Free free to re-open if you face any issues.

[2021-11-11 14:18] #10007 closed, assigned to gavindsouza

[2021-11-11 14:42] shariquerik commented on #13259
Closing since it is resolved by #13573

[2021-11-11 14:42] #13259 closed, assigned to shariquerik

[2021-11-11 14:50] shariquerik commented on #14452
Resolved https://github.com/frappe/frappe/pull/14266

[2021-11-11 14:50] #14452 closed, assigned to shariquerik

[2021-11-11 16:49] carstenblt opened #14959 "Scheduler and workers spam MariaDB connections"
## Description of the issue
The mariadb server is spammed with these messages:

[code]

The IPs belong to the worker and scheduler pods in the Kubernetes cluster.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Install ERPNext
2. Observe MariaDB logs

### Observed result
Many connections to the DB server.

### Expected result
Pro

[2021-11-11 16:52] ankush commented on #14959
can you confirm if background jobs are working as expected?

FF doesn't do connection pooling (yet)

[2021-11-11 16:55] carstenblt commented on #14959
Any particular way to check? We received stock requests and an e-mail about a failed backup in the night, so I guess scheduled jobs work?

[2021-11-11 16:58] ankush commented on #14959
yeah "scheduled job log" can tell if they are working well or not.

[2021-11-11 17:01] carstenblt commented on #14959
In the last hour there are around 20 jobs that all succeeded.

[2021-11-11 21:50] ahmadRagheb opened #14960 "Event streaming fail for thousands of records"
how to reproduce :
1- data import data with 5000 or more recorded
2- the system will fail to send it all

my error log

frappe.event_streaming.doctype.event_producer.event_producer.pull_from_node
Error
Traceback (most recent call last):
  File "/home/frappe/frappe-bench/apps/frappe/frappe/utils/background_jobs.py", line 104, in execute_job
    method(**kwargs)
  File "/home/frappe/frappe-bench/app

[2021-11-12 07:09] zongo811 opened #15471 "bench restore: Invalid path error"
Issue: Bug report

Please make sure your issue is reproducible on the latest bench version. The currently supported branches are:
 - PyPI [latest](https://pypi.org/project/frappe-bench/)
 - master         (minor bug fixes)
 - v5.x           (Merged with develop on every release)
 - develop        (all updates)

**Do the checklist before filing an issue:**
 - [X] Can you replicate the issue on the

[2021-11-12 07:34] komalk1992 opened #14968 "No permission for DocType in Journal Entry & Payment Entry"
Hi,

Please set read DocType permission level for all user.

**ERPNext: v13.14.0 (HEAD)
Frappe Framework: v13.14.0 (HEAD)**
URL: https://princecare.frappe.cloud

![Screenshot 2021-11-12 130128](https://user-images.githubusercontent.com/85679229/141428034-54350239-20d6-453f-93fd-990da225b8b6.png)

[2021-11-12 07:44] anandology opened #14965 "`frappe.db.get_list` stopped working for child tables"
## Description of the issue

`frappe.db.get_list` stopped working for child tables after the recent changes to [permissions.py](https://github.com/frappe/frappe/commits/develop/frappe/permissions.py).

A frappe site that I run on frappe cloud nightly, started throwing errors today morning and I could trace it back to these recent changes.

The following query which used to work before fails now.

[2021-11-12 08:42] yadavyk commented on #15804
@rtdany10 , This seems to be working fine now. Can you confirm ?

[2021-11-12 09:31] sharmanakul commented on #14968
@komalk1992 any reason that you want this permission for all users? you can edit the access rights through the role permission manager, it will be a one time activity.

[2021-11-12 10:25] komalk1992 commented on #14968
I have already set the role permission but it shows an error in doctype.

[2021-11-12 10:43] komalk1992 commented on #14968
@sharmanakul
please check video.

![Google-Chrome-2021-11](https://user-images.githubusercontent.com/85679229/141454080-f55f6bbc-de76-4d93-ac94-cbf0c599d70c.gif)

[2021-11-12 17:13] skjbulcher commented on #14523
Is this issue dead? Also, I'm not sure why this isn't a bug?

[2021-11-13 15:39] basemasbahi opened #14969 "validate_link for child table dosn't work"
<img width="447" alt="error" src="https://user-images.githubusercontent.com/50507286/141649894-f556ea73-bd14-466b-9c47-551d0d84a656.png">

[2021-11-13 16:58] dnyt84 opened #14970 "caniuse-lite is outdated"
Hello,

when doing a bench update I get the following message:

✔ Built js/frappe-web.min.js
Browserslist: caniuse-lite is outdated. Please run:
npx browserslist@latest --update-db
Browserslist: caniuse-lite is outdated. Please run next command `yarn upgrade caniuse-lite browserslist`

bench version
erpnext 13.14.1
frappe 13.14.1

Thank you,

Daniel

[2021-11-15 15:24] todfox commented on #14884
Any updates on this?

[2021-11-16 01:48] guilmori opened #14979 "Layout - Column break after a child table"
I would like to create a layout like this one, where the 2 fields below the grid are side by side.
![image](https://user-images.githubusercontent.com/9451512/141880611-c28d653f-6aa7-459a-97f9-b0423ea8af78.png)

However I cannot find how to do this using the Doctype fields designer.
Column Break wont work as it also break the grid.

Is it possible to achieve this simple layout ?

[2021-11-16 04:27] komalk1992 opened #14980 "Item cannot duplicate"
Hi,

Item cannot duplicate in delivery note item and sales invoice item.

**ERPNext: v13.14.1 (version-13)
Frappe Framework: v13.14.1 (HEAD)**
URL: https://princecare.frappe.cloud

please check video.

![New-Delivery-Note-new-delivery-n](https://user-images.githubusercontent.com/85679229/141917062-230c8afb-c341-4a3f-9ea6-694efd40ba02.gif)

[2021-11-16 04:39] komalk1992 opened #14982 "BOM Update Tool and Update Cost not work"
Hi,

BOM Update Tool and Update Cost not work in BOM

**ERPNext: v13.14.1 (version-13)
Frappe Framework: v13.14.1 (HEAD)**
URL: https://princecare.frappe.cloud

please check video.

![BOM-Update-Tool-Google-Chrome-20](https://user-images.githubusercontent.com/85679229/141921821-097a34e6-2c3e-4c83-89f4-dcca18ce51c6.gif)

[2021-11-16 06:17] netchampfaris commented on #14884
Should be fixed by https://github.com/frappe/frappe/pull/14983

[2021-11-16 06:17] #14884 closed, assigned to netchampfaris

[2021-11-16 10:27] itsdaveit commented on #14969
This is a major one. Seem like [Commit ed94fabf122c0633736b81ac1fe9b6f233930d5d  ] Killed the fetch from functionality completely for child doctypes. Which destroys a lot of stuff.

[2021-11-16 11:50] itsdaveit commented on #14969
Think i metioned the wrong commit, last release this is working is Release v13.13.0

[2021-11-16 12:52] barredterra opened #14990 "Permission error when adding a new shortcut to workspace"
## Description of the issue

Permission error when adding a new shortcut to workspace

## Context information (for bug reports)

ERPNext: v13.14.0 (version-13)
Frappe Framework: v13.14.0 (version-13)

## Steps to reproduce the issue

User has all roles except from System Manager, Employee, Customer, Supplier, Auditor.

https://user-images.githubusercontent.com/14891507/141987478-5adc1de0-ba34-4379

[2021-11-16 12:54] Olawale1 commented on #14896
This issue still persists...

[2021-11-16 13:04] barredterra commented on #14990
Solved in v13.14.1

[2021-11-16 13:04] #14990 closed, assigned to nobody

[2021-11-16 13:28] basemasbahi commented on #14969
so, what should i do , i've  multi docs fetch from child table

[2021-11-16 14:05] guilmori commented on #14447
This is very annoying for my users, can I get an answer please ?

[2021-11-16 16:13] itsdaveit commented on #14969
without warranty:
you could go in you frappe-bench folder to apps/frappe and run
git checkout  v13.13.0
then back  to frappe-bench folder and
bench migrate
bench build
bench restart
bench clear-cache

[2021-11-16 16:29] itsdaveit commented on #13940
Can someone make a statement, if this will be fixed at some point of time?
Just asking because another recent Change ( https://github.com/frappe/frappe/issues/14969 ) leads to the thought if it is intendet to use Child Doctypes the way we do it some apps.

[2021-11-17 04:42] #14875 closed, assigned to surajshetty3416

[2021-11-17 07:52] backendoadmin opened #15015 "Email inbox accounts and folders does not work"
If I open the Email inbox from awesome search, It shows me all accounts.

![Screenshot (3)](https://user-images.githubusercontent.com/5338127/142157934-a552d46f-2997-4031-a72b-32b9d86d8dfb.jpg)

None of the other specific accounts nor folders does not work. It gives me missing page error:

![Screenshot 2021-11-17 08 47 32](https://user-images.githubusercontent.com/5338127/142158277-a0536c25-2406-4

[2021-11-17 08:37] #14595 closed, assigned to nobody

[2021-11-17 12:14] rtdany10 commented on #15015
Experiencing same issue from a long time.

[2021-11-17 12:18] mohsinalimat commented on #15015
Facing same issue.

[2021-11-18 02:22] guilmori opened #15014 "Trigger event on grid row activate"
When a grid row is rendered, there is a trigger event "grid-row-render" made in frappe/public/js/frappe/form/grid_row.js

Similar to this idea, I would like an event "grid-row-activate" when a grid row is made editable.

I need an event to hook on when the row's input controls are created, so I can disable them based on condition.

One use case is to disable Batch No cell input in items grid when

[2021-11-18 02:22] #15014 closed, assigned to nobody

[2021-11-18 02:23] guilmori commented on #15014
duplicate

[2021-11-18 02:24] guilmori commented on #14395
One use case is to disable Batch No cell input in items grid when the item is not has_batch_no.

The best I came with is to rely on a focus event, but this is triggered for each inputs on the row... I would find it cleaner to have an event when the row enter editable state.
![image](https://user-images.githubusercontent.com/9451512/142339935-22eb541a-a208-4fd1-aba7-b7f4b4462f14.png)

[2021-11-18 05:25] netchampfaris commented on #12075
https://github.com/frappe/frappe/blob/77e0b59525a0c7524ad2a95be27fc9894108b8e7/frappe/handler.py#L46-L49

It looks like it intentionally runs the first hook. It should have taken the last hook but if we change this now, it will be a breaking change.

@gavindsouza @ankush @surajshetty3416 Thoughts?

[2021-11-18 05:32] netchampfaris commented on #11710
This is fixed in the latest releases.

[2021-11-18 05:32] #11710 closed, assigned to netchampfaris

[2021-11-18 05:33] mujeerhashmi commented on #12075
I am not sure if that is a breaking change. But I am coding or rather anyone else should code according to the design principle of frappe. The last overridden method should be the final one that gets executed. Isn't it?

[2021-11-18 05:35] netchampfaris commented on #11208
@Lymperis79 This should be fixed now. Can you confirm if this is fixed?

[2021-11-18 05:42] netchampfaris commented on #11049
https://github.com/frappe/frappe/blob/34460265554242a8d05fb09f049033b1117e1a2b/frappe/model/document.py#L30-L48

According to this, `get_doc`

- with positional arguments will fetch an existing doc
- with keyword arguments will create a new doc
- passed a dict will create a new doc

Keeping the pythonic argument aside, changes to these behaviors will be a breaking change.

CC @gavindsouza @ankush

[2021-11-18 06:47] netchampfaris commented on #9956
This is fixed now. Tested on the latest release.

[2021-11-18 06:47] #9956 closed, assigned to netchampfaris

[2021-11-18 11:49] mohsinalimat opened #15019 "phone call handler function not working"
This function not working `frappe.phone_call.handler`

https://github.com/frappe/erpnext/issues/28453

[2021-11-19 04:32] ankush commented on #11715
https://github.com/frappe/frappe/pull/14513

[2021-11-19 04:32] #11715 closed, assigned to nobody

[2021-11-19 04:38] ankush commented on #14786
Count is shown based on filters now. Remove filters and full count will be visible.

[2021-11-19 04:38] #14786 closed

[2021-11-19 04:38] ankush commented on #1634
closing because this is sort of a duplicate now.

[2021-11-19 04:38] #1634 closed

[2021-11-19 04:40] #14777 closed

[2021-11-19 04:44] #7302 closed

[2021-11-19 04:45] ankush commented on #7302
IMO a better way to avoid this in future would be to start using args, kwargs for hooks. That will again be a breaking change, so not worth till we actually find a need for it.  😅

[2021-11-19 07:58] rtdany10 commented on #14905
~~Maybe give the developer the ability to add new keys to the response dict?~~

~~P.S I know this is a pain in the ass and really not required. But asked this cause one of my client migrated from another software to ERPNext and they wanted an API endpoint that returned data to their mobile app in the format returned by the old software. I was able to replicate the structure but everything was insi

[2021-11-19 18:27] skjbulcher commented on #14420
I think there is more than one aspect to this problem.

# Validation

First is the obvious validation issue that occurs when attempting to save a link from a child table. This issue takes place in the definition of `validate_links_table_fieldnames(meta)` in `frappe/core/doctype/doctype/doctype.py`, unless I am mistaken. The fix for this issue might be as simple as calling `get_field` on the correc

[2021-11-19 19:10] saru2020 commented on #5868
any documentation on how to use it? enable/disable it?

[2021-11-20 03:22] fahimalizain commented on #5868
@saru2020 I think you could try setting `allow_cors` in your `site_config` / `common_site_config`
[code]

Reference: https://github.dev/frappe/frappe/blob/07af98255b6ac9bb3b277fc1b9d6999a86a90e9f/frappe/app.py#L159

[2021-11-22 06:36] netchampfaris commented on #5111
We have tabs now! https://github.com/frappe/frappe/pull/13036

[2021-11-22 06:36] #5111 closed

[2021-11-22 11:24] FatCatTuxedo commented on #14911
Any news on when this will be fixed?

[2021-11-22 12:55] yabdali commented on #14177
I am getting the same error, latest edge release. I can't seem to be able to send emails or even get notifications sent!

`Traceback (most recent call last):
  File "/home/frappe/frappe-bench/apps/frappe/frappe/website/serve.py", line 17, in get_response
    response = renderer_instance.render()
  File "/home/frappe/frappe-bench/apps/frappe/frappe/website/page_renderers/template_page.py", line 61,

[2021-11-22 20:29] chrisdent opened #15063 "Keyboard shortcut for duplicate"
Is it possible to add duplicate keyboard shortcut?

[2021-11-23 05:54] #14413 closed, assigned to nobody

[2021-11-23 07:59] bhavesh95863 commented on #14980
@komalk1992  not able to recreate this issue in new version. Update your version and check.
ERPNext: v13.15.0 (version-13)
Frappe Framework: v13.15.0 (version-13)

[2021-11-23 08:09] bhavesh95863 commented on #14938
@coffee-dev-sl looks good. You should raise PR.

[2021-11-23 09:06] surajshetty3416 commented on #14965
@anandology, the recommended way to get child records is to pass `parent_doctype` or use `get_all` instead to avoid permission check.

The change was done to resolve some security issues.

[2021-11-23 09:06] #14965 closed, assigned to nobody

[2021-11-23 09:10] vrslev opened #15053 "Use actions/stale to handle huge amount of issues"
Now this repository has over one thousand issues. Most of them are outdated or irrelevant.
It would be handy to use [actions/stale](https://github.com/actions/stale) to handle this mess. If it gets approved I can send a PR.

[2021-11-23 09:36] ankush commented on #15053
We are planning to add this soon. We are doing a cleanup of old issues before adding the stale action/bot.

[2021-11-23 09:37] vrslev commented on #15053
Great!

[2021-11-23 09:37] #15053 closed, assigned to nobody

[2021-11-23 09:54] anandology commented on #14965
I understand that you may have reasons for not allowing it, but it would be nice to update the docs explaining why it is not allowed and show an example of how to use it.

[2021-11-23 10:25] sagarvora commented on #14969
@basemasbahi Please add more context. Which user? Administrator or someone else? Which version? A traceback would be nice as well.

[2021-11-23 10:25] mjwhodur opened #15054 "Outgoing SMTP e-mails are not available in air-gapped environment"
## Description of the issue
Setting custom e-mail server (i.e. in corporate environment) does not work properly.
## Context information (for bug reports)
In our company we have following schema: e-mails are handled via SMTP relay server and put into our Office 365 servers. There is a server i.e. saturn.corporation which handles e-mail relaying from specified subnetworks.

We are trying to setup de

[2021-11-23 10:26] mjwhodur commented on #15054
I decided to use stable version of Frappe, because I have experienced strange issues regarding "main" version.

[2021-11-23 13:14] gavindsouza commented on #12075
From what I see, hooks are added and prioritized based on the App's name in alphabetical order. So, even though we say it should be the first or last one on the list, I'm not fully satisfied.

Priority of the methods shouldn't depend on their respective App's name. Currently, the way `override_doctype_dashboards` is utilized is that each overridden method seems to be executed and the result of the

[2021-11-23 13:45] Peter0529 opened #15057 "Can't send email with online URL attachments"
## Description of the issue
I am using s3 migrating tool for store local files, so if upload a file, it will migrate the file to s3 and file_url linked to public s3 object URL.
When send email with using attachments, It says can't find the attachment error.
## Context information (for bug reports)

**Output of `bench version`**
erpnext 13.13.0
frappe 13.13.0

## Steps to reproduce the issue

1.
2.

[2021-11-23 14:30] wojosc opened #15059 "Note pop-up public"
In the DocType Note we can set "Public" to make it public for all:
<img width="1096" alt="grafik" src="https://user-images.githubusercontent.com/22279621/143042393-6f2b74cd-6887-4b4e-9d61-44b4ae97b187.png">

<img width="795" alt="grafik" src="https://user-images.githubusercontent.com/22279621/143042441-517604f0-152f-470c-8993-54ecb22c2d93.png">

Now to use the pop-up feature we need to set the Not

[2021-11-23 20:06] bhavesh95863 commented on #15063
If anyone suggests which shortcut key should use for this then I can implement this.
**Ctrl+D** is the browser default shortcut to add the bookmark.
**Ctrl+Shift+D** we used for delete record.

[2021-11-24 05:12] ankush commented on #15063
https://github.com/frappe/frappe/pull/14438

[2021-11-24 05:26] komalk1992 commented on #14980
@bhavesh95863 I also updated the new version but this issue is not solved.
Please check it.

[2021-11-24 05:27] #14968 closed, assigned to nobody

[2021-11-24 06:51] nidhipurohit11 commented on #14621
Fixed

[2021-11-24 06:51] #14621 closed, assigned to nobody

[2021-11-24 14:11] GoldenScrew opened #18610 "Doen't work home page on website module. Have 404 error. Tried install blog or lms pages."
## Description of the issue

Hello.
I try to install home page for website **lms** or **blog** and it doen't works.
And have 404 error. Page Missing or Moved.
But the pages exist and I can visit them.
Please watch video.

https://user-images.githubusercontent.com/3992823/143253876-56480377-6e98-4354-bf5a-e7daa24cb170.mp4

## Context information (for bug reports)

**Output of `bench version`**
[cod

[2021-11-24 14:59] basemasbahi commented on #14969
Administrator user ,
it was working in v 13.13 , but when upgrate to version 13.14.1 not working ...
plz find the attatched files for more info.....
<img width="887" alt="image" src="https://user-images.githubusercontent.com/50507286/143260832-ec377433-ecf1-4fdc-88db-cef7198d6739.png">

<img width="847" alt="image" src="https://user-images.githubusercontent.com/50507286/143261589-d1c77b5e-695c-46a

[2021-11-24 15:33] bhavesh95863 commented on #14980
check any browser console log there?

[2021-11-24 15:57] phot0n commented on #14440
i think this behaviour is happening because frappe tries to toggle display of "read only" fields when`is Standard` is unchecked, which are not really toggle-able if they don't have a value set on them
ref: https://github.com/frappe/frappe/blob/87adfb5ebd6cca331aca49b3669c7282f41d6a0d/frappe/core/doctype/user_type/user_type.js#L9-L12

https://github.com/frappe/frappe/blob/87adfb5ebd6cca331aca49b366

[2021-11-24 16:35] hrwX commented on #13975
@ankush Can you have a look at this one https://github.com/frappe/datatable/pull/145 ? We can directly override it with a translated label from frappe when we initialise it in reportview

[2021-11-24 16:50] barredterra opened #15074 "Allow all users to save customized reports"
### User story
If a user can see a report (type: Report Builder), he can add or remove columns and filters to customize his view. Consequently he should also be able to save this current view for future use.

### Situation
At the moment, only users with role "Report Manager" can save customized reports. A report manager can create, edit, delete all custom reports. This is way too permissive for a

[2021-11-24 18:06] madappally commented on #11001
The issue is still there. Now field fails in Quick Entry

[2021-11-24 18:13] tjomtek commented on #18610
How did you setup the lms ?

[2021-11-24 20:48] aymenit2008 opened #15076 "translate not working in report view in the link list"
**Output of `bench version`**
frappe version 13.15
Erpnext version 13.15

![image](https://user-images.githubusercontent.com/10696455/143310542-368472d3-f08a-4739-8634-c46417300c47.png)

[2021-11-25 04:01] ankush opened #15079 "Standard set of actions on_delete for link fields"
Often while deleting docs we get error that it's linked with a document. This can be improved by adding sane default in documents on_trash event.

However this is code duplication. Most used on_delete actions are already present in SQL (cascade, set null or leave stale links).

Possible solution:

on link type docfields there could be an option to specify what to do with document when linked docum

[2021-11-25 04:38] JohnDoeSnow opened #15080 "Data migration run is not working for sync"
## Description of the issue
In Data Migration Mapping, we have selected mapping type as sync and created a connector and synced the data from another frappe. But it's not pushing or pulling the data from another frappe instance.

**Note:** If we select either push or pull as mapping type in Data Migration Mapping, it's getting or sends the data from/to another frappe instance.

## Context informat

[2021-11-25 05:27] komalk1992 commented on #14980
@bhavesh95863 Does not show anything in the browser console.

[2021-11-25 06:19] gavindsouza commented on #14324
@fnrfarid Can you confirm if this issue exists only in prepared reports? I think this might've been a consequence of https://github.com/frappe/frappe/pull/14883.

PS: I don't have a replica set up to test this out. So, getting as much context for the issue you've been facing can help me out figure what the problem might be.

[2021-11-25 06:43] fnrfarid commented on #14324
@gavindsouza Yes, if prepared_report is enabled, the report throws this error. I just disabled prepared report and it's working now.

Thanks

[2021-11-25 07:01] gavindsouza commented on #14324
I'd still like to fix the bug that exists for prepared reports, if there's any traceback in your console please do share it here @fnrfarid

[2021-11-25 08:22] #14876 closed, assigned to rohitwaghchaure

[2021-11-25 09:05] fnrfarid commented on #14324
Unfortunately, I can't reproduce the error now. I enabled/disabled `prepared_report` function and for both cases, I can now generate the report. Perhaps it was temporary error that was with associated with `prepared_report` function and reenabling/disabling it fixed it.

If I face the error again, I will let you know with traceback log [if there's any]

[2021-11-25 09:38] GoldenScrew commented on #18610
Just check **Enable Learning Management System**
[/app/education-settings](url)

![QIP Shot - Screen 079](https://user-images.githubusercontent.com/3992823/143417318-d847c8e2-f03a-4866-94df-574568e630f6.png)

[2021-11-25 09:47] msalim79 commented on #18610
you need to review the tuturoils on how to setup lms and how to render it
in the website to make it a home page

On Thu, Nov 25, 2021 at 11:38 AM GoldenScrew ***@***.***>
wrote:

[2021-11-25 09:54] tjomtek commented on #18610
![lms](https://user-images.githubusercontent.com/77873407/143419340-49f8c217-3533-4c07-bc47-cf9c05f1766c.png)
![Website](https://user-images.githubusercontent.com/77873407/143419345-c799501e-611f-4116-beec-58800936d8cb.png)

Here is my test from lastnight

[2021-11-25 09:56] GoldenScrew commented on #18610
Ok, but why doesnt't work page **Blog** like home page? And any page.

[2021-11-25 10:22] gavindsouza opened #15087 "deny_multiple_sessions doesn't let anyone login (develop)"
## Description of the issue

Setting the `deny_multiple_sessions` key in the site config or the corresponding field in System Settings logs out essentially everyone when they try to login again. And keeps them out. This happens due to the recent query refactor via https://github.com/frappe/frappe/commit/012edfe090006303897ca6a28c0f09412ec18f97. The query constructed now has triple quotes around th

[2021-11-25 12:03] ankush opened #15089 "Better migration system (post migration)"
#1 cause of patch failures is missing field or missing doctypes.  (just a hunch, no numbers) We need a better system to handle patches.

Proposed solution:

- [x] Provide an option to run patches **after** the schema is migrated. Not all patches need access to pre-schema change state. This should be the default behaviour for new patches.
- [x] pre-schema migration patches should be explicitly decl

[2021-11-25 16:41] ci2014 commented on #15057
I can confirm the same issue on v12.

[2021-11-25 18:11] navdeepghai opened #15090 "cannot import name 'Table' from 'frappe.query_builder'"
[code]

[2021-11-26 02:44] ankush commented on #15090
Share frappe and erpnext versions

[2021-11-26 02:57] navdeepghai commented on #15090
version 13.15

[2021-11-26 12:38] gavindsouza commented on #14405
@ryuliantoro The config files shouldn't be directly updated, to begin with. You should only use the Bench CLI to make changes. I'm not sure if we can do anything about the confusing formats without delegating the confusion to some other party now.

About their structures, nothing seems wrong with them at face value. But, maybe someone else who has done this setup without SSL should chime in. Becau

[2021-11-26 14:17] ryuliantoro commented on #14405
Using the Bench CLI is the problem. Because of the deprecation of bench command to run certbot (`bench setup lets-encrypt` and `bench setup wildcard-ssl`), the `bench setup nginx` result in the opposite.
Originally, the bench command to create ssl writes the site-config; and the `bench setup nginx` updates the nginx config.

But now to create ssl we use certbot command directly, which doesn't writ

[2021-11-26 19:05] ValllC opened #18611 "Number Card creation problem with SUM Aggregation for custom app"
## Description of the issue

The “Document Register” custom document type has a “Currency” field with the required numerical data.
Even so, I can’t create a Number Card with SUM aggregation for custom app because there is no option to select in the “Aggregate function Based On” list field.

Would you please advise where the problem could be?

## Context information (for bug reports)

**Output of `

[2021-11-27 13:49] ankush commented on #14869
https://github.com/frappe/frappe/pull/15104 this should fix it.

---

We had discussions to completely remove this renaming business as there are other ways to handle the original issue without reusing PKs. cc: @nextchamp-saqib @leela

ref: https://github.com/frappe/frappe/issues/14955

[2021-11-27 14:13] ankush commented on #14869
Proposal of `POST /api/resource/doctype/name/cancel` will have to be scrapped because I can't think of any decent way to split URL that will respect naming series containing `/` 🥲

We can hardcode few methods like cancel/submit maybe? split URL and check if last part matches one of the supported method?

Sent PR for fixing _rest_ of the issues.

[2021-11-27 15:11] Aradhya-Tripathi commented on #15087
A pypika issue I found might be something that we are trying to do
https://github.com/kayak/pypika/issues/3

[2021-11-27 18:28] ankush opened #15106 "patch failure in v14_0.copy_mail_data"
[code]

[2021-11-29 06:10] navdeepghai1 opened #15111 "Weird ajax 500 server error while updating form using Customize Form."
Description:
It seems working fine for few forms but throwing for some other forms.

## It's even throwing same error in User form while saving it.

I am using version: 13.15 for erpnext and frappe without any customized app.

Issue Link:
https://discuss.erpnext.com/t/internal-server-error-500-for-run-doc-method-apis-after-changing-site-name-manually/82992

Attaching the video for you reference:
h

[2021-11-29 09:30] vrslev opened #15112 "ui: Scrolling and document opening issues after minimising global search"
https://user-images.githubusercontent.com/75225148/143842192-f4e6fbe4-e338-4b04-bb85-efc62525b141.mov

## Steps to reproduce the issue

1. Open any list view,
2. Enter something in global search,
3. Minimise it,
4. Try to scroll or open any doc: it won't work properly.

## Additional information

Frappe v13.15.0. Tested on Linux and macOS (probably irrelevant 😃).
It worked fine on 13.14 and older.

[2021-11-29 09:42] FatCatTuxedo commented on #14911
@ankush

[2021-11-29 10:19] mtraeber commented on #15106
Hello, I tried to reproduce this error but I couldn't get it to work. I only found an error in updating the "Email Flag Queue" because the field was missing in the DocType. I will fix and push this error, but before that I try to understand what was your case to solve both.

Your error was caused by this code:
`imap_list = [folder.folder_name for folder in doc.imap_folder]`

The new field in "Emai

[2021-11-29 10:24] ankush commented on #15106
Patches run before schema is migrated. So if patch needs access to new field then `frappe.reload_doc` is required to be performed on the doctype.

Though I skipped the failing patch and retried it after migration.. it still failed 😅  I'll try to find the root cause.

Edit: apparently migration system doesn't think this file has changed 🙄

<img width="718" alt="Screenshot 2021-11-29 at 3 58 03 PM"

[2021-11-29 10:55] barredterra commented on #14869
@ankush i would rather disallow naming series containing `/`. This causes lots of other issue, for example when switching between form and print view.

[2021-11-29 11:10] ankush commented on #14869
Sadly lots of users do use naming series with `/` in them.

Maybe name part of URL should be urlencoded (`/` -> `%2F`) @surajshetty3416 ?

[2021-11-29 12:30] ncc-social opened #15116 "Cannot read text - Configure Columns of Child table popup in Dark theme"
When you try to configure columns in child tables of doctypes (screenshots captured from Educational background section in Employee doctype), the background color of the field is white. This makes the field readable in light mode. In dark mode, you cannot see the text because both text color and background color are white

Configure Column in Light Theme
<img width="600" alt="Configure Column in L

[2021-11-29 12:51] ankush commented on #15116
duplicate of https://github.com/frappe/frappe/issues/14572

[2021-11-29 12:51] #15116 closed, assigned to nobody

[2021-11-29 23:40] blewsky opened #18612 ""Edit Values" for primary navbar template (Website Settings) not working"
## Description of the issue
The "Edit Values" button appears when "Primary Template" is selected in the Navbar Template (Website Settings). An empty pop-up appears.

## Steps to reproduce the issue
![image](https://user-images.githubusercontent.com/87971956/143959189-fad4e52a-ee91-48d4-b8e9-c9138beab2f8.png)

### Observed result
![image](https://user-images.githubusercontent.com/87971956/143959204

[2021-11-29 23:44] blewsky commented on #18612
(Sorry should have probably opened on [Frappe/Frappe](https://github.com/frappe/frappe). Please transfer to there if more applicable)

[2021-11-30 04:59] ankush commented on #15106
This is because in original PR `modified` key wasn't changed so the migration system thought nothing has changed and stored the hash of the file in DB 😅 Not a bug I guess, to fix this whole schema will have to be re-migrated after hash-based migration changes; hence the current behaviour is okay.

https://github.com/frappe/frappe/blob/ed916090b89d22be2783483ad8f611cef763b44b/frappe/modules/import_

[2021-11-30 05:22] centaur78 opened #15124 "Permission issue after update"
Hi @surajshetty3416

Just did a bench update and getting the below permission error while logged in as Administrator. It looks like from this PR #15114

This happens to all the doctype

![image](https://user-images.githubusercontent.com/1904802/143990178-cc5899ad-d26b-454d-a6bd-dbcef904bb3e.png)

[2021-11-30 05:29] ankush commented on #15124
rebuild your assets and try force reload.

comment/reopen if required.

[2021-11-30 05:30] #15124 closed, assigned to nobody

[2021-11-30 07:12] centaur78 commented on #15124
hi @ankush

I have tried bench build , bench update --reset

Still the same error... Any other commands to try ??

[2021-11-30 07:28] ankush commented on #15124
Try `bench build --force` maybe?

For whatever reason old JS code is still being used by your browser.

[2021-11-30 08:18] centaur78 commented on #15124
Okie dokie.....
That cleared the issue , thanks !

[2021-11-30 12:10] #15112 closed, assigned to nobody

[2021-11-30 13:44] bhavesh95863 opened #15132 "Minimize global search multiple time screen freeze"
When we do multiple time global search and minimize that then screen is freeze.

![ezgif com-gif-maker(2)](https://user-images.githubusercontent.com/34086262/144057906-c0251726-a205-4e35-bb17-c115109d6e17.gif)

[2021-11-30 13:53] ankush commented on #15132
looks similar to https://github.com/frappe/frappe/pull/14981

[2021-11-30 13:59] bhavesh95863 commented on #15132
Yes but it is in global search dialog.

I have resolved that there is one class which we need to toggle if global search minimize and user search again in global search.

[2021-11-30 17:24] #15132 closed, assigned to nobody

[2021-11-30 22:30] #14757 closed

[2021-11-30 22:30] vladucoju commented on #14757
I dont use this software anymore

[2021-11-30 22:41] CleoMenezes opened #15135 "Unable to install custom app"
## Context information (for bug reports)
After running:  `bench get-app --branch main myapp git@github.com:path/repo.git`

[code]
**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. git clone https://github.com/frappe/frappe_docker.git; cd frappe_docker
2. cp -R devcontainer-example .devcontainer; cd .devcontainer
3. docker-compose up -d
4. docker exec -it *frappe/bench conta

[2021-12-01 00:20] codezart opened #15137 "Unable to initiate Form Tour"
## Description of the issue

I'm trying to have an onboarding (form tour) for  'Salary Component' doctype in a custom app.
https://frappeframework.com/docs/user/en/form-tours.
Following the steps shown on the link does not work.

## Context information (for bug reports)
This is the code used in the js file of the doctype
[code]

using frm.show_tour() also does not work.

**Output of `bench version

[2021-12-01 07:30] ankush commented on #15138
@shariquerik @surajshetty3416 this is framework issue. IMO the "add child" form is unnecessary we can reuse quick entry feature for this?

Decent refactoring task if anyone from FF team wants to take this up.

[2021-12-01 07:55] marination opened #15139 "Document Image not visible on mobile"
From https://github.com/frappe/erpnext/issues/27429 by @hankjordan

## Description of the issue
On the mobile version of the Item page, the Item Image is not visible.

## Context information (for bug reports)

ERPNext Edge on Docker

**Output of `bench version`**
[code]
## Steps to reproduce the issue

1. Create a new Item
2. Open the Item
3. Open the Sidebar

### Observed result

No Item Image

#

[2021-12-01 09:13] rioshaz commented on #14863
@ankush any news on this fix sir...

[2021-12-01 09:15] rioshaz commented on #14832
@ankush any news on the issue fix buddy.. been long, we r not able to take full advantage of erpnext and have to use another mails clients..

[2021-12-01 11:06] oimyounis opened #15140 "Link fields in child tables in web forms are not assigned to the grid's data"
## Description of the issue
Link fields in child tables in web forms throw **frappe.xcall is not a function** exception which in turn stops code execution and does not assign the chosen value to the grid's data.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a child table DocType with a Link field.
2. Create a normal DocT

[2021-12-01 11:47] ankush commented on #15140
Root cause seems simple enough 🤔 Web bundle doesn't include `frappe.xcall` it does have `frappe.call` though.

probably caused by https://github.com/frappe/frappe/pull/14957

Solution: Maybe we should just add xcall to web bundle too, it's just a promisified wrapper around call 🤷

[2021-12-01 11:59] nidhipurohit11 opened #15141 "Browser back button not working on My Profile"
## Description of the issue
If user navigates from a page (say chart of accounts) to My Profile, and click browser back button, then nothing happens and user stays on the same page instead of navigating back.

![Screenshot 2021-12-01 at 5 22 43 PM](https://user-images.githubusercontent.com/82337328/144230601-fbac66eb-b2c6-4402-ac88-043a1470b539.png)

### Observed result
Clicking the browser back b

[2021-12-01 12:26] ankush commented on #15141
Only affects google chrome. Works on firefox 😆

[2021-12-01 12:33] ankush commented on #15141
probable root cause, it's adding route history everytime it's loaded:

https://github.com/frappe/frappe/blob/72fa9a3c1980cbaf29d307928382a5c466a4aa51/frappe/desk/page/user_profile/user_profile_controller.js#L32-L34

[2021-12-01 12:46] ankush commented on #15141
Yep. It's hilarious infinite loop.

The page routes you to `/user-profile`

Which routes you to `/user-profile/username`

Pressing back sends you to `/user-profile` which again routes you back to `/user-profile/username` 😆

[2021-12-01 13:04] ankush commented on #15106
Patch executed successfully after the linked PR.
<img width="831" alt="Screenshot 2021-12-01 at 6 34 38 PM" src="https://user-images.githubusercontent.com/9079960/144239419-6648e6ac-97a6-4fb8-987c-6d900fca5db7.png">

[2021-12-01 13:04] #15106 closed, assigned to nobody

[2021-12-01 16:51] Mutantpenguin opened #15143 "is_energy_point_enabled never gets a cached value and always queries the database"
## Description of the issue

The method `is_energy_point_enabled` in `frappe/social/doctype/energy_point_settings/energy_point_settings.py` uses `frappe.get_cached_value` to find out if the enery points are enabled or not.

`frappe.get_cached_value` internally uses `get_cached_doc` which doesn't seem to be able to work for Single DocTypes and always queries the database.

## Context information (f

[2021-12-01 17:03] ankush commented on #15143
This is fixed in newer versions :) would suggest upgrading to v13.

Ideally, v12 won't get any more perf improvements unless it's a small change and has wider impacts like this one.

[2021-12-01 17:09] #15143 closed, assigned to nobody

[2021-12-01 21:06] joshuarestivo opened #15147 "Support for rear camera with Frappe Capture"
Issue:
capture.js does not specify a facingMode for MediaDevices.getUserMedia(). The result is that the front camera gets selected on most mobile devices. Great for adding selfies to frappe apps but not much else.

https://github.com/frappe/frappe/blob/2f80bb516f091e158ebb9655cb7f414f106bfa8f/frappe/public/js/frappe/ui/capture.js#L57

Desired Resolution:
Add 'Switch Camera' button to UI that toggl

[2021-12-01 21:38] guilmori opened #15148 "Scrolling issue on open of child table edit form"
## Description of the issue
When we click on Edit row in a child table, the viewport is scrolled to bring the grid row to the top when the dialog form is opened.
This breaks the 'mental snapshot' that was made prior to opening the edit form, and when we close the dialog, we are lost as the scrolling position changed without reason.
I had many complaints about this, I can't believe I'm the only one

[2021-12-01 21:50] guilmori opened #15149 "Issue with Link redirect to the same doctype within a dialog - dialog background overlay remains forever"
## Steps to reproduce the issue

1.  Go to Manufacturing Demo app:  https://manufacturing.erpnext.com/app
2. Open a BOM (with a sub-assembly Item)
3. Edit the sub-assembly Item row
4. In the edit dialog, click on the BOM link

### Observed result
We are redirected to the other BOM, but the dialog background overlay remains forever, and we cannot click anywhere.

![dialog link redirect](https://use

[2021-12-02 02:12] a157147899 opened #15160 "SMS Setting - add support for SMS API gateways that require JSON payload"
Hi fellows,

I’m trying to use Message Media as the SMS gateway. I can use postman to send text successfully via the API but just have no idea how to configure it in the SMS Setting as the API requires a JSON payload, but seems ErpNext does not support that way?

API works by sending a request via postman:
![image](https://user-images.githubusercontent.com/1812136/144344706-b11be30c-7af5-4e46-bb15

[2021-12-02 04:33] ankush commented on #15160
Try using webhooks. They're more flexible in terms of request structure.

[2021-12-02 05:34] ankush commented on #13545
closed by https://github.com/frappe/frappe/pull/15150

[2021-12-02 05:34] #13545 closed, assigned to nobody

[2021-12-02 05:35] ankush commented on #12418
https://github.com/frappe/frappe/pull/15150

[2021-12-02 05:35] #12418 closed, assigned to nobody

[2021-12-02 05:39] #10997 closed, assigned to nobody

[2021-12-02 05:42] ankush commented on #4009
Password expiry is supported: https://docs.erpnext.com/docs/v13/user/manual/en/setting-up/settings/system-settings#16-password

Though this is outdated practice and numerous reports suggest this doesn't help in improving security!

https://www.sans.org/blog/time-for-password-expiration-to-die/

[2021-12-02 05:42] #4009 closed

[2021-12-02 05:49] ankush commented on #14660
While this is improved and the original problem you have mentioned is gone; it still does one insert at a time 😄 Maybe this can be further optimized to do bulk insert!

https://github.com/frappe/frappe/blob/3a34bfc52035b2ff23091d827d8f41a8c7f49f30/frappe/utils/global_search.py#L355-L357

[2021-12-02 05:59] ankush opened #15156 "Provide "Webhook" as option in Notification."
Currently we have 2 Notification delivery options that are just working as Webhooks: Slack and SMS.
SMS for some reason is restricted to only one gateway and Slack is... eh just a webhook with extra steps.

There can be more, providing the ability to use Webhook as a notification delivery method simplifies creation of Webhooks for user.

Possible solution:
1. Webhook templates (that reuse most of

[2021-12-02 06:11] danimelchor opened #15158 "Issues with M1 Pro Macbook"
## Description of the issue
I recently bought the new M1 Pro mac and it is giving me some trouble running `bench init frappe-bench`.

## Context information (for bug reports)
New Installation

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Follow the guide [here](https://frappeframework.com/docs/v13/user/en/installation#macos-m1) until the last step
2. When running `benc

[2021-12-02 06:23] ankush commented on #15158
You've mixed architecture (x86 and arm64) somehow. Either use rosetta for everything or don't. I'd recommend skipping setup under rosetta and just doing full setup in arm64 mode. Py3.9 and node14 from Homebrew should be used.

Many of us at Frappe use M1, it's painful to setup right now due to arch issues but if you follow the guide it does work. I use without rosetta, afaik it works just fine for

[2021-12-02 06:23] #15158 closed, assigned to nobody

[2021-12-02 06:52] danimelchor commented on #15158
It is probably due to me installing node 14 from rosetta, but there isn't another way to do so, right? How did you use nvm with arm64?

[2021-12-02 06:56] ankush commented on #15158
I didn't use nvm, it was compliling from source and took forever 😅 Just stick to Homebrew's version of Node14 and Python3.9, it will work.

[2021-12-02 07:57] danimelchor commented on #15158
Hi! Thanks for the help, but it looks like the installation with homebrew's Python3.9 doesn't work since node-sass has some of its code written in Python2:

Command:
[code]

Output:

[code]

In addition, when I set the flag for Python2 to be used, it looks like bench still tries to use Python3 and crashes without an error message:

Command:
[code]

Output:
[code]

Should I open a new issue?

Thank

[2021-12-02 07:59] p1c4ss0 opened #15159 "Values under Custom Field Type DATE, INT, FLOAT are not getting copied from source doc under frappe.route"
## I have written a client script where I am copying the certain custom fields with frapp.route.
Field type DATA is getting copied successfully BUT field type DATE, INT and FLOAT are not populating data from the source doc.
I have tried and searched discuss.erpnext.com but no solution there, multiple other person reported same error.

This sems like a bug to me in the erpnext.

## Context informat

[2021-12-02 10:00] a157147899 commented on #15160
Hi @ankush , I've just gone through the docs of Hooks and found the one I can probably utilise is [Override Whitelisted Methods](https://frappeframework.com/docs/v13/user/en/python-api/hooks#override-whitelisted-methods), which means I need to override the function [send_via_gateway(arg)](https://github.com/frappe/frappe/blob/ecca7f287ef48575dacd380c42dcd4c957156c31/frappe/core/doctype/sms_setting

[2021-12-02 10:42] Mutantpenguin commented on #15143
Thank you very much for your quick response and fix! I appreciate that very much. Update to v13 is planned but will take us a while.

[2021-12-02 10:58] ankush commented on #9806
working on this already, once decent cleanup of old issues is done we will add stale config on issues.

[2021-12-02 10:58] #9806 closed, assigned to nobody

[2021-12-02 11:29] #14936 closed, assigned to rohitwaghchaure

[2021-12-03 06:46] dawoodjee opened #16758 "Search is too restrictive"
E.g on frappeframework.com

Searching for **set_df_property** yields no results

![image](https://user-images.githubusercontent.com/7912989/144557602-b39f6c92-c795-415a-b721-3a297abef57e.png)

But frm.set_df_property gives results

![image](https://user-images.githubusercontent.com/7912989/144557715-7aab3db8-f0dc-48bd-a23a-9e92f5639294.png)

Also the search results panel width can be made wider so

[2021-12-03 13:45] ankush opened #15228 "all doctypes contain 4 useless fields?"
These fields don't matter for non-child table doctypes AFAIK. These shouldn't be created for normal doctypes: parent, parentfield, parenttype, idx

https://github.com/frappe/frappe/blob/dad42739970b63373a8d746b10dac7ea0e3e99fa/frappe/database/mariadb/schema.py#L29-L32

[2021-12-03 13:53] ankush commented on #15228
also a useless index on `parent` https://github.com/frappe/frappe/blob/dad42739970b63373a8d746b10dac7ea0e3e99fa/frappe/database/mariadb/schema.py#L34 🙄

[2021-12-03 14:08] fproldan commented on #18611
This is a frappe-related issue.
In [this lines](https://github.com/frappe/frappe/blob/develop/frappe/desk/doctype/number_card/number_card.js#L159-L163) the currency fields with no options or option different than ‘Company:company:default_currency’ are omitted Any idea why this restriction exists?

[2021-12-03 14:59] ruchamahabal commented on #14337
https://github.com/frappe/frappe/pull/15174

[2021-12-03 14:59] #14337 closed, assigned to ruchamahabal

[2021-12-03 16:54] barredterra commented on #13108
Should be fixed by now, can't reproduce.

[2021-12-03 16:54] #13108 closed, assigned to shariquerik

[2021-12-03 17:26] barredterra opened #15189 "Translations via JS not working on Website"
On website, the translation method `__()` does not work. This causes error messages in the wrong language, and the setup wizard won't be translated correctly (#4742).

`frappe.boot.lang` in the frontend is set to the wrong value ("en") while the backend seems to pick up the browser language correctly. Templates rendered in the backend get translated as expected. For example, the "Login" button is

[2021-12-04 04:47] GoldenScrew opened #15191 "No checkboxes in File Manager on adaptive design for mobile"
## Description of the issue

When I use website through smartphone I can't find checkboxes in File Manager for selecting multiple files or folders.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Go to File Manager on your smartphone ../app/file/view/home
2. Try to select multiple files or folders.

### Observed result

No checkb

[2021-12-04 04:54] GoldenScrew opened #18613 "No action/function for rename files and folders in File Manager"
## Description of the issue

Files and folders can't be renamed in File Manager.
I try to find it in any places.

![QIP Shot - Screen 091](https://user-images.githubusercontent.com/3992823/144697556-f48ae7db-a95b-42d9-8985-8fd36cad1390.png)
![QIP Shot - Screen 090](https://user-images.githubusercontent.com/3992823/144697557-6a94f31f-8305-45e6-8d5e-c359da4bb077.png)
![QIP Shot - Screen 089](https:/

[2021-12-05 08:27] vrslev opened #15192 "Installation fails on linux/arm64 architecture"
## Description of the issue
When running frappe/bench Docker image on M1 Mac, can't install Frappe framework on bench initialization. Issue is with node module `phantomjs-prebuilt` it doesn't support linux/arm64. `svg-sprite` depends on it, here's output of `npm ls phantomjs-prebuilt`:
[code]
**The thing is that I couldn't find reference of this package in the code. Could this dependency just be r

[2021-12-05 11:25] revant commented on #15192
If you're putting issues here, translate everything to local/native/non-docker bench.

if you're putting issue frappe/frappe_docker, it's probably you or me who will solve it. There's a great chance the keyword docker will transfer this issue to us.

[2021-12-05 14:35] vrslev commented on #15192
I'm not sure anybody from Frappe framework devs have linux/arm64 native devices. I get it, but issue is with JavaScript dependency that is likely can be removed.

[2021-12-06 11:20] BOB1212121 opened #15205 "feature request: file permission and allowed types"
- the attached file can be executable file and it can be viewed by every one who have permission
- the attached files in sales quotations should have role permission on it based on user

[2021-12-06 12:29] e-lobo opened #15204 "Import File By Path Error"
My scenario is:

Installing an app with custom fields where the fixtures are loaded and we make use of after_sync to update those specific fields.

I believe this is [new](https://github.com/frappe/frappe/blob/d094adfe84dfdcba4914adb92b7a2491df3ee1e5/frappe/modules/import_file.py#L126)..

For example if the we are looping through the [docs](https://github.com/frappe/frappe/blob/d094adfe84dfdcba491

[2021-12-06 13:05] ankush commented on #15205
Possible solution for 1st one:
- Allowed filetypes in settings based on MIME / extensions.

[2021-12-06 16:02] guilmori opened #15207 "add_fetch issue"
## Description of the issue
After upgrade from 13.13 to 13.16, I'm seeing problematic behaviour with add_fetch

## Context information (for bug reports)
In my form, I have a field Item link and a field BOM link,

Here is the form script:
[code]

## Steps to reproduce the issue

1. Select an Item
2. frm.doc.item_bom gets assigned to default_bom
3. item_bom() function is executed (before the item())

[2021-12-06 17:43] kennethsequeira opened #15208 "Cannot search for keywords via Global Search"
Steps:

1. Enter any keyword in global search
2. Hit enter
3. Instead of returning relevant records, system throws error message for Relevant Doctype

![image](https://user-images.githubusercontent.com/33246109/144895257-654ecb0e-e849-4087-b3f3-037219c67c77.png)

[code]

ERPNext: v13.x.x-develop () (develop)

Frappe Framework: v14.x.x-develop () (develop)

[2021-12-06 21:39] dj12djdjs opened #15209 "frm.remove_custom_button doesn't remove the button from mobile view"
Here you can see the client script:
![image](https://user-images.githubusercontent.com/29856401/144926399-d6992df7-e449-400d-bc30-72d876310f2d.png)

Form view from desktop. The custom Create buttons are gone.
![image](https://user-images.githubusercontent.com/29856401/144926469-71b50778-7d59-4fe2-b0af-5046ad9828a4.png)

Form view from mobile: The custom buttons still exist.
![image](https://user-i

[2021-12-07 03:11] ankush opened #15210 "Give option of copying traceback when error occurs."
Users often report issues that are not easy to diagnose from generic error message. They often guided to open browser console to find the traceback. It shouldn't be _this_ difficult to report an error.

Expected solution:

- Provide a button on error window to copy the traceback.

[2021-12-07 04:39] coatlbit opened #15211 "frappe.ui.Scanner does not work in mobile browsers and Option:container not show scanner area"
**frappe.ui.Scanner does not work in mobile browsers  and Option:container not show scanner area**

- frappe.ui.Scanner does not work in mobile brosers when it's called in dialog
- frappe.ui.Scanner does not work when option "container" is set, it add new id to the dom element ("unique-0") but does not show nothing

**Branch: version-13**

[2021-12-07 09:52] barredterra opened #15214 "ImportError: cannot import name 'cast' from 'frappe.utils'"
Not sure why, but my whole `~/frappe-bench/logs/worker.error.log` is filled with tracebacks like this:

[code]

Unfortunately it doesn't log a date, so I don't know when this happened. The `cast` method seems to be there on the current `version-13` branch.

erpnext 13.13.0
frappe 13.13.0

[2021-12-07 12:23] ngoploti opened #15215 "An error occurred while installing erpnext: Module import failed for Period Closing Voucher (erpnext.accounts.doctype.period_closing_voucher.period_closing_voucher Error: cannot import name 'clear_cache' from 'frappe.website.utils'"
## Description of the issue
Not able to install erpnext  version-13 with on a site with
bench --site mysite.com install-app erpnext

I am running ubuntu 20.04
bench version 5.7
frappe version 15.6.0
[code]

[2021-12-07 14:29] rtdany10 commented on #15804
Hai @yadavyk,
The issue still exists.
[code]

https://user-images.githubusercontent.com/52111700/145047918-bf7bf780-c713-4f02-a332-9a87fb278e64.mp4

[2021-12-07 17:37] samwwwblack commented on #15215
I just hit this upgrading to 13.16.

I think there's a bug in `bench` where if you just stipulate the app name and not the git repo URL when using `get-app`, it defaults to the `develop` branch and not the one you've set.

Try removing the `erpnext` directory then `bench get-app --branch version-13 https://github.com/frappe/erpnext.git` and then retry installing erpnext.

[2021-12-07 23:22] elan-k opened #15263 "Not Working on Mobile : Make all attachments private as default using File DocType Customization (ERPNext v12.25.0)"
## Description of the issue
I tried to set the default of is_private to 1 on the File DocType customization and it works fine on the desktop browsers but no luck on the mobile browsers.

On the mobile or Tab browser, attachments are not private as default.

Discussed on the Forum :
https://discuss.erpnext.com/t/how-to-make-all-attachments-private-as-default-in-the-upload-window/65490/6

## Context

[2021-12-08 07:56] ankush opened #15218 "remove `ISOLATION_LEVEL_AUTOCOMMIT` from postgres"
long pending `TODO`

https://github.com/frappe/frappe/blob/bb1d3efc101d7b50366fd50a0a04118c643e8b83/frappe/database/postgres/database.py#L68-L72

[2021-12-08 09:39] asifmohtesham commented on #15215
When you run

```bench get-app --branch version-13 erpnext```

replace ```erpnext``` with the GitHub repo URL, i.e. ```https://github.com/frappe/erpnext```.

It will work.

[2021-12-08 09:42] ankush commented on #15215
You've wrong versions of frappe and erpnext branch like others pointed out.

[2021-12-08 09:42] #15215 closed, assigned to nobody

[2021-12-08 12:06] yadavyk commented on #15804
@ankush can you check ?

[2021-12-08 14:12] guilmori commented on #15149
Seems to be fixed in 13.16

[2021-12-08 14:12] #15149 closed, assigned to nobody

[2021-12-08 14:22] ankush commented on #15149
fixed here https://github.com/frappe/frappe/pull/14981

[2021-12-08 16:59] ankush opened #15224 "CommunicationComposer ignores supplied message"
- throw an error with `Exception` exc.
- click on report button.

Expected: shows content with traceback
Result: no content in message box

[2021-12-08 17:00] ankush commented on #15224
seems to be broken here (https://github.com/frappe/frappe/pull/12878):

https://github.com/frappe/frappe/blob/81d248bbab185182c44df0f609c9101795693f87/frappe/public/js/frappe/views/communication.js#L716

Chaning this from `this.txt` to `this.message` works.

[2021-12-09 05:12] ankush opened #15227 "Permission issues where child tables are accessed using get_list"
Ref: https://github.com/frappe/frappe/issues/15208

All `get_list` need to be audited and wherever child tables are accessed either pass parent doctype or replace with `get_all`

[2021-12-09 05:38] JPaulMora opened #15229 "Get-app defaults to github URL"
## Description of the issue

Frappe is having a hard time resolving my repository URL, I've tested it in many different ways but it always defaults to github. (I;m using azure devops)

## Context information (for bug reports)

[code]

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. `bench get-app custom_crm https://dev.azure.com/user/custom/_git/custom_crm.git` use repo h

[2021-12-09 07:13] Alchez commented on #15229
This is actually a bench issue, and is also happening at https://github.com/frappe/bench/issues/1228.

[2021-12-09 07:29] gn306029 opened #15231 "QueryReport render previous report data"
## Description of the issue
I create some shortcut to link script report in selling module, sometime, when via shortcut visit report, frappe will render another report data.

## Context information (for bug reports)

https://github.com/frappe/frappe/blob/version-13/frappe/public/js/frappe/views/reports/query_report.js#L647

[code]

## Steps to reproduce the issue

1. Go to module page
2. Click rep

[2021-12-09 08:12] bhavesh95863 commented on #15191
same issue for image view

[2021-12-09 10:19] #15208 closed, assigned to nobody

[2021-12-09 11:01] #15210 closed, assigned to nobody

[2021-12-09 11:01] #15224 closed, assigned to nobody

[2021-12-09 15:38] #15229 closed, assigned to nobody

[2021-12-09 18:13] vwithv1602 commented on #14748
I think there's a similar issue I'm facing. When I send a custom email message which includes a phone number the link is getting prepended with site1.local. I'm using the below html code in my email body.
`<a href="tel:+919000090000">9000090000</a>`
When I click this link from gmail app (in android), I'm getting navigated to **http://site1.local/tel:+919000090000**
I'm expecting this to make a cal

[2021-12-09 22:09] ollyboy opened #15242 "Latest Dev Menus and shortcuts all doubled up"
Fresh install of Frappe latest Dev, Ubuntu, python3. First view of workspace menu item works but on subsiquent views all elements are doubled up.

![image](https://user-images.githubusercontent.com/12904192/145483579-76dd889f-7557-4e73-9f9c-feeb0ed163ce.png)

[2021-12-10 06:28] sharmanakul commented on #15274
@Komal-Saraf0609 seems like framework issue. please validate and prioritize.

[2021-12-10 07:52] zongo811 opened #15244 "After Update to 13.16.0: "frappe/utils/__init__.py:125: DeprecationWarning: invalid escape sequence \.""
## Description of the issue
After Updating from 13.15.0 to 13.16.0 I noticed DeprecationWarnings in the log:
[code]

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. With frappe 13.15.0 installed run "bench update"
2. Watch log.

### Observed result
DeprecationWarnings appear.

### Expected result
No DeprecationWarnings appear.

##

[2021-12-10 07:59] ankush commented on #15244
This is a harmless warning (for now) you can ignore it. IIRC already fixed on `develop`; won't be backported to version 13 since it works just fine on current python versions.

[2021-12-10 08:00] #15244 closed, assigned to nobody

[2021-12-10 09:19] palkanp opened #15246 "Bulk File migration using data export and import must be easier"
Problem:

When there is a file like image attached to any Doctype,
1. Copying and pasting to a new Doctype does not work
2. Moving same to a different site will require 3 steps
       - Downloading individual file from Doctype 'File'
       - Uploading in new site for Doctype 'File'
       - Mapping it to the respective Doctype to be attached

Solution:

An easier way to bulk export file and impor

[2021-12-10 11:07] barredterra opened #15249 "AttributeError: 'bool' object has no attribute 'fields_'"
Getting this migrate error on the newest release; works fine with the previous release.

[code]

The error happens while restoring **Website Settings** from fixtures of my_app.

### Version

erpnext 13.16.1
frappe 13.16.0

[2021-12-10 11:41] #15249 closed, assigned to nobody

[2021-12-10 15:29] barredterra opened #15255 "ImportError: Module import failed for IMAP Folder"
Migrating from latest `version-13` to `develop`:

[code]

[2021-12-10 17:21] barredterra commented on #13811
Great idea, looking forward to see this implemented.

Found this Issue because redisearch isn't so optional: [this patch](https://github.com/frappe/erpnext/blob/57b70ace9bd85cc7073a371192c41aaefa83e4a7/erpnext/patches/v13_0/create_website_items.py) indirectly depends on it and fails if it's not installed.

Edit: seems to be fixed by https://github.com/frappe/erpnext/pull/28818

[2021-12-10 18:56] clickapps opened #15257 "multi calander"
Hello . The software needs Verdi to receive the appropriate date for that area according to the place of use and the language chosen. For example, in the Middle East, Persian and Arabic languages ​​need a solar and lunar calendar.

Someone has an opinion on solving this issue

[2021-12-10 19:00] federicocalvo commented on #12496
hi, If there is a PR with the solution but some documentation issues are missing, shouldn't it be helped to pass this point?

It leaves the importer out of place in any erpnext categorization.

[2021-12-10 20:14] rioshaz opened #15258 "pythni after upgrade and server reboot"
i have erpnxt install on 2 servers and i have updated them to the latest vrsion for frappe as well as erpnxt,

the upgrade was fine but as i reboot the server…
i get internal server error on erp site…

and no command works now…
bench build, migrate, patch all give same error now

Traceback (most recent call last):
File “/usr/lib/python3.8/runpy.py”, line 194, in _run_module_as_main
return _run_cod

[2021-12-10 22:49] rioshaz opened #15259 "deleting records, progress hangs"
### Information about bug

when deleting records like 10 or 100 in one go.. the application deleting progress hangs n doesn't respond.. i have to close the tab n open a new windows.

<img width="739" alt="image" src="https://user-images.githubusercontent.com/54880467/145650811-b9949d65-0c79-4423-914a-9722fe88ab4d.png">

### Version

v13

### Module

selling

### Version

13.16.01 -frappe
13.16 --e

[2021-12-10 22:53] dj12djdjs commented on #15259
This is actually specific to the frappe framework. I've been very annoyed by it at times. It is caused because deleting bulk records is queued to background jobs. For every deleted document frappe.reportview.get is called. This overwhelms the browser and in most cases the tab will stop responding.

[2021-12-11 06:41] ankush commented on #15259
@dj12djdjs debouncing the call to reportview.get should fix it right?

[2021-12-11 07:57] ankush commented on #15260
Works as expected now. Reopen if required.

[2021-12-11 07:57] #15260 closed

[2021-12-11 12:42] #15255 closed, assigned to nobody

[2021-12-11 13:57] dj12djdjs commented on #15259
@ankush That never crossed my mind. I'm curious to try it. I'll report back here with my findings.

[2021-12-11 14:09] ankush commented on #15259
https://github.com/frappe/frappe/blob/8d88913a386df82e843cd758dac096b21dc24507/frappe/public/js/frappe/list/list_view.js#L1319

this call needs to be debounced... will need to test manually though to see if it doesn't make any other behaviour awkward.

[2021-12-11 14:11] luismanson opened #15264 "LinkValidationError: Could not find Opportunity Type: Sales"
## Description of the issue

Hello, in the web contact form, when erpnext is in Spanish, the form can't be submitted.
This issue was firt experiencied by Jaime_Stuardo and described it in the [forums](https://discuss.erpnext.com/t/linkvalidationerror-could-not-find-opportunity-type-sales/49600).

The error shown in front end is "No se pudo encontrar Tipo de oportunidad: Sales, Etapa de Ventas: Pro

[2021-12-11 18:27] rioshaz commented on #15259
can we put this to the upcoming releases list so its done asap..

[2021-12-11 18:35] rioshaz commented on #15259
cant find this line code in the file

[2021-12-11 18:50] dj12djdjs commented on #15259
@rioshaz Could you please confirm that your progress hangs with only 10 records being deleted? For myself I only run into the performance issues when deleting > 100.

[2021-12-12 07:44] #15141 closed, assigned to nobody

[2021-12-12 07:58] #14784 closed

[2021-12-12 08:04] #6067 closed

[2021-12-13 07:06] #5999 closed

[2021-12-13 07:13] Komal-Saraf0609 commented on #6149
Works fine with the latest version.

![Screenshot 2021-12-13 at 12 42 50 PM](https://user-images.githubusercontent.com/81952590/145768105-dc09910d-54df-4234-b16e-d08141a11c44.png)

![Screenshot 2021-12-13 at 12 43 11 PM](https://user-images.githubusercontent.com/81952590/145768136-abcb4412-c44a-40df-ab5a-c9701c4fef3e.png)

[2021-12-13 07:13] #6149 closed

[2021-12-13 07:21] Komal-Saraf0609 commented on #8616
No description provided. So closing the issue.

[2021-12-13 07:21] #8616 closed, assigned to scmmishra

[2021-12-13 07:25] Komal-Saraf0609 commented on #8617
Works fine with the latest v13.6. So closing the issue.

[2021-12-13 07:25] #8617 closed, assigned to nobody

[2021-12-13 07:37] madappally commented on #15139
Is there any workarounds for this issue?

[2021-12-13 08:26] p1c4ss0 commented on #15159
Hello @ankush when can I expect this bug to be patched.

[2021-12-13 08:31] #8751 closed, assigned to nobody

[2021-12-13 08:33] #9024 closed, assigned to nobody

[2021-12-13 08:41] Komal-Saraf0609 commented on #9078
Works with the latest version.

![image](https://user-images.githubusercontent.com/81952590/145779348-ae31681f-21c8-454a-a006-4669e073e5d7.png)

[2021-12-13 08:41] #9078 closed, assigned to nobody

[2021-12-13 08:42] #9757 closed, assigned to hrwX

[2021-12-13 10:52] shariquerik commented on #8597
@KanchanChauhan I was not able to reproduce the issue. I am closing for now. Feel free to reopen if the issue still exists.

[2021-12-13 10:52] #8597 closed, assigned to shariquerik

[2021-12-13 11:19] Komal-Saraf0609 commented on #10569
Closing the issue, since no steps to reproduce the same has been provided.

[2021-12-13 11:19] #10569 closed, assigned to nobody

[2021-12-13 14:09] Citysystems-smart opened #15490 "Bug after set the Currency Precision and Float Precision to 2"
### Information about bug

I have an error that the calculation is wrong in sales invoice return for example this photo
![image](https://user-images.githubusercontent.com/60112785/145826315-7d643a65-44d9-42c0-b925-cd2f51950d6d.png)
when you calculate
item rate = 392.25, amount = 392.25*2=784.50
vat = 784.50*0.15= 117.675 with two Currency Precision will be 117.68
so far everything correct but when

[2021-12-13 14:44] Mutantpenguin commented on #13546
Still a problem with newest version:
[code]

[2021-12-13 16:35] guilmori opened #15285 "New fixtures not applied"
Can you please have a look at the issue described here:
https://discuss.erpnext.com/t/new-fixtures-not-applied-with-bench-update-nor-bench-migrate/83546

I tried debugging frappe migrate code, and when the code below executes for my file fixtures/custom_field.json, it process the first row of the file but then hit the Return False below, without processing other lines:
![image](https://user-images

[2021-12-13 16:44] guilmori commented on #15285
I believe these recent changes on Nov 14, 2021 broke the fixtures migration:
https://github.com/frappe/frappe/commits/version-13/frappe/modules/import_file.py

[2021-12-14 06:32] ankush opened #18994 "refactor: remove use of include directive from client side js"
remove use of inlcude directive like `{% include 'some/js/file.js' %}` because this makes js file not parsable by editors/linters etc. Better to load them separately.

solution:
- replace include with `frappe.require` and move the JS files to public folder.

[2021-12-14 09:13] #8693 closed, assigned to surajshetty3416

[2021-12-14 11:16] kennethsequeira commented on #15295
Tested on ERPNext: v 13.16.1

This is a UX issue. The icon doesn't show up until one clicks the **scan barcode** field. The icon should be there by default negating the need of a second click on mobile devices.

[2021-12-14 11:49] Citysystems-smart commented on #15490
Updating in my problem I found that the flt function in python path"frappe.utils.flt" not work correctly in negative numbers
![image](https://user-images.githubusercontent.com/60112785/145992843-8b12cc09-1620-44e8-8e67-45f1175137ca.png)
for that the value getting wrong

but I don't know why in javascript side it work correct
![image](https://user-images.githubusercontent.com/60112785/145993040-184

[2021-12-14 11:50] ankush commented on #15295
IMO this can always be shown so it's easier to discover? @nextchamp-saqib / @netchampfaris

https://github.com/frappe/frappe/blob/fbf926d1f66d6a5e1d7797ba8987626016bba913/frappe/public/js/frappe/form/controls/data.js#L126-L130

[2021-12-14 12:01] ankush commented on #15490
`flt` isn't an arithmetic rounding function. It's banker's rounding. https://wiki.c2.com/?BankersRounding

[2021-12-14 12:09] ankush opened #15298 "test: add test for fixture import"
to prevent problems like: https://github.com/frappe/frappe/issues/15285 https://github.com/frappe/frappe/pull/15288

[2021-12-14 12:09] ankush commented on #15298
@saxenabhishek ?

[2021-12-14 12:10] ankush commented on #15285
https://github.com/frappe/frappe/pull/15288

[2021-12-14 12:10] #15285 closed, assigned to nobody

[2021-12-14 12:34] saxenabhishek commented on #15298
yep, I agree, should have something to test fixture imports.

[2021-12-14 15:20] Citysystems-smart commented on #15490
Thanks for you replay but i solve the problem by changing few things in rounded function in frappe
![image](https://user-images.githubusercontent.com/60112785/146026406-cbf596aa-33a4-4768-bf89-caabf0de2c15.png)
i change the Math.floor to cint and add new if statement for -0.5

[2021-12-14 15:22] #15490 closed, assigned to nobody

[2021-12-14 17:39] ankush opened #15304 "refactor: drop moment.js dependency"
the project itself doesn't recommend using it anymore: https://momentjs.com/docs/#/-project-status/

[2021-12-14 18:09] ankush commented on #11774
This seems like a pretty simple fix... can you send PR? @gbm001

[2021-12-14 18:15] #13462 closed, assigned to nobody

[2021-12-14 19:05] rioshaz commented on #15259
@dj12djdjs sometimes it works uptil 100 and sometimes not , but over 100 surely hangs..

[2021-12-15 06:56] #15295 closed, assigned to nobody

[2021-12-15 06:56] ankush commented on #15228
@phot0n @s-aga-r 😁

[2021-12-15 07:44] Krupa2407 commented on #15192
@vrslev I am also running into the same error. Have tried it with both version-13-hotfix and develop branch.

`$ git clone https://github.com/frappe/frappe.git --branch develop --depth 1 --origin upstream
Cloning into 'frappe'...
remote: Enumerating objects: 3134, done.
remote: Counting objects: 100% (3134/3134), done.
remote: Compressing objects: 100% (2789/2789), done.
remote: Total 3134 (delta

[2021-12-15 07:51] #15192 closed, assigned to nobody

[2021-12-15 07:52] ankush commented on #15192
@Krupa2407 that seems somewhat unrelated. open a new issue, reference this if required.

Also share important version details:

OS
device and arch
python version
node version

[2021-12-15 08:43] phot0n commented on #15228
@ankush started [something](https://github.com/phot0n/frappe/commit/d85187f7ea762f59ef424048d445e9ba084ded5d) last night regarding this ...then my internet died 😓

i was thinking of making something like how `is tree` checkbox works - adding those fields  when `is child table` is checked but then i ran into the problem of already existing child tables where they reference that `parent` field for j

[2021-12-15 08:49] ankush commented on #15228
@phot0n yes, appears to be in right direction 👍

also yes, finding all hard-coded references is the difficult part 😄

[2021-12-15 10:08] #15259 closed, assigned to nobody

[2021-12-15 12:01] nameduser0 opened #15315 "Bench Restore failing: `Exception: App frappe already installed`"
See frappe/bench#1237

[2021-12-15 12:13] #15315 closed, assigned to nobody

[2021-12-15 12:37] rioshaz commented on #15259
@ankush @dj12djdjs @dj12djdjs @netchampfaris so where to change what pls guide..

[2021-12-15 13:01] ankush opened #15319 "inconsistent behaviour of Link field"
inconsistent behaviour on clearing fields.

1. If you clear a data field with backspace, the value is `undefined`
2. if field is cleared automatically when invalid value is written then it's `''`

https://user-images.githubusercontent.com/9079960/146190768-0d985664-dd92-44a2-91ad-caf9185a1ea2.mov

[2021-12-15 15:36] #15063 closed, assigned to nobody

[2021-12-15 15:52] barredterra opened #15323 "Make context work for the Translation DocType"
We can specify context for a translatable string: `_("Translate me!", context="This is a demo text")`. However, we cannot specify context in the **Translation** DocType. Let's add a data field "Context" to the **Translation** doctype and fix translation code to consider the context.

[2021-12-15 15:53] barredterra opened #15324 "Translate link fields"
The dropdown contents of link fields already get translated, and can be searched in the users language. However, as soon as we select an option the display text switches to english. Let's make it so that the field and option _values_ are always english and the _display_ text is always translated.

[2021-12-15 16:00] barredterra opened #15325 "Collection of translation Issues"
### 1) Translate link fields [Done]

The dropdown contents of link fields already get translated, and can only be searched in the users language. However, as soon as we select an option the display text switches to english. Let's make it so that the field and option values are always english and the display text is always translated. #15324 / @hrwx

### 2) Translations don't work on the website [D

[2021-12-15 19:51] fgiering opened #15329 "docs for map view"
still needing the docs for map view on multiple entities: https://github.com/frappe/frappe_docs/pull/68
for: Map view documentation for frappe/frappe#11202

just a reminder for @madmath03 or did I miss anything?

[2021-12-15 20:08] rioshaz opened #15330 "Blank page on opportnity page reload.."
Reloading opportunity page shows a blank page but if i come to this page via another page links it works.. have tried all cache delete, reset, bench build, migrate,, update etc.. reset opportunity form as well. tried different browsers..

only this doctype make this error..

<img width="945" alt="image" src="https://user-images.githubusercontent.com/54880467/146256618-2371f7ad-d6cd-4a8d-9ffc-313ca

[2021-12-16 09:03] phot0n opened #15338 "Some New Hooks"
If you're working on an app which installs certain fields to frappe's internal doctypes, you'll want to remove them when you're uninstalling the app as those "installed" fields get left behind in the frappe's doctype after the app's uninstall.
Also we can add something which runs after all the tests have been run, maybe you want to have something which you want to use in all of your tests but have

[2021-12-16 09:14] muchai commented on #10569
Resolved.

[2021-12-16 09:17] hamzahali opened #15342 "Changing Module profile, in allowed module doesn't reflect in users"
### Information about bug

Step one I have removed CRM module from templete i named einvoicing
<img width="1212" alt="Screenshot 2021-12-16 at 2 43 08 PM" src="https://user-images.githubusercontent.com/2484423/146342420-97b042c7-9f8a-4f45-8879-8924c31fa81e.png">

But it doest get reflected in all the users, I need to manually removed the template name, and add again, so the changes will reflect. I

[2021-12-16 17:25] ankush opened #15341 "slow perf: excruciatingly slow loading of "assigned to" filters"
Sidebar filters use all other applied filters to find the "count" of documents. While this is useful in some cases, I just want to find damn things assigned to me as quickly as possible. Since not all applied filters are indexed its really slow while loading options.

<img width="214" alt="Screenshot 2021-12-16 at 10 52 33 PM" src="https://user-images.githubusercontent.com/9079960/146419501-99f8b9

[2021-12-16 17:28] ankush commented on #15341
https://github.com/frappe/frappe/blob/59db87cb47499883682a8712adfec6ca5ce1a818/frappe/desk/listview.py#L24-L52

get_all is also doing useless sorting.

[2021-12-17 08:39] #13914 closed, assigned to nobody

[2021-12-17 10:29] znfgnu opened #15347 "Tutorial: ModuleNotFoundError: No module named 'frappe.website.generators'"
## Description of the issue

While going through the Frappe tutorial, I got stuck after turning on "See on website" option on Article doctype.

After this step, I'm not able to access any page, even login one. I got 500 error code instead, it's about missing `frappe.website.generators` module.

Since I'm not experienced in Frappe, I don't really know how to tackle this problem.

## Context informa

[2021-12-17 10:39] ankush opened #15348 "standdard test factory definitions for quick generation of disposable objects in tests"
In ERPNext each `test_doctype.py` has 1-2 utility function for generating test objects.

This is better handled by standardizing and creating test factories.

Example: https://factoryboy.readthedocs.io/en/stable/

[2021-12-17 13:18] nasirrr commented on #15349
Agree +1

[2021-12-18 08:21] phot0n commented on #15347
Hi, the import path seems wrong in `library_management/doctype/article/article.py` ..there is no `frappe.website.generators.website_generator` i think it should be `frappe.website.website_generator`
ref: https://github.com/frappe/frappe/blob/develop/frappe/website/website_generator.py

and this is definitely a bug as it should happen automatically

https://github.com/frappe/frappe/blob/87adfb5ebd6

[2021-12-18 11:10] phot0n commented on #15160
@a157147899 i think he's talking about this https://frappeframework.com/docs/v13/user/en/guides/integration/webhooks

[2021-12-18 14:07] kamathln commented on #13964
The developers at [libindic](https://github.com/libindic) might be able to help? Just trying to network here.

[2021-12-19 05:07] kamathln opened #15353 "Show names of selected items in table near the actions or deleted items."
**Is your feature request related to a problem? Please describe.**
Suppose there is a big list of items(say 50+ items) being shown in a multi-select or table form, and we have selected a few options to delete (or any other action). When we go to the delete button, we are afraid we might have selected the wrong item to delete (or some other action). We can of course scroll through the whole list, b

[2021-12-20 06:30] gavindsouza opened #15359 "re.error: missing ), unterminated subpattern via remove_db_aggregation (patch)"
## Description of the issue

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. pull frappe, erpnext
2. bench start
3. bench migrate

### Observed Result / Stacktrace

[code]

## Additional information

Python 3.9.7

[2021-12-20 07:04] palkanp opened #15361 "Help Categories on website"
Problem:

The Help Categories are published and then unpublished. Yet the link is active on website

Solution:

If Help Categories are unpublished, the pages should also not be visible

[2021-12-20 08:43] #15359 closed, assigned to Aradhya-Tripathi

[2021-12-20 09:17] lukptr opened #15364 "IndexError when Lock wait timeout exceeded"
**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Submitting Stock Entry

### Stacktrace / full error message

[code]

[2021-12-20 09:23] ankush commented on #15364
https://github.com/frappe/frappe/pull/15179

[2021-12-20 09:23] #15364 closed, assigned to nobody

[2021-12-20 10:44] ks093 opened #15366 "Incorrect timespan daterange calculation"
## Description of the issue
There is an issue with date range calculation when selecting "this week/this month/this quarter" as filter.

Usecase:
I have created a report using Report builder which contains Purchase Invoices that are due "this week" and using "this week" as a filter.  And there is a weekly Auto Email Report setup for this report.

## Context information (for bug reports)

**Output

[2021-12-20 11:29] barredterra opened #15370 "Data import fails on `set_only_once` fields"
## Description of the issue

I'm trying to import ERPNext **Subscriptions** with **Data Import** Tool.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Enable "Allow Data Import" for **Subscription**
2. Create a new **Data import**
3. Download a Template for the following fields:

Party Type | Party | Subscription Start Date | Com

[2021-12-20 13:32] znfgnu commented on #15347
I agree, I manually changed import statement for `article` doctype and the website became unfrozen.

[2021-12-20 13:45] znfgnu opened #15374 "Tutorial: Web View Pages: "See on Website" links to `/undefined`"
## Description of the issue
After quickfix described in #15347 there is another problem with tutorial.

I follow the tutorial instructions one after another and after 4 steps described in "Web View Pages" chapter I am unable to use "See on Website" button because of 404 error (the link points `/undefined` URL).

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Ste

[2021-12-20 14:45] ankush opened #15376 "potential premature transaction commit when using background jobs in is_async=False mode"
https://github.com/frappe/frappe/blob/9006f92296c2594667154d43f7362c0951c826f9/frappe/utils/background_jobs.py#L131

Noticed this random commit in tests:

<img width="958" alt="Screenshot 2021-12-20 at 7 39 16 PM" src="https://user-images.githubusercontent.com/9079960/146785233-45d32814-373c-4280-9585-ae7186693481.png">

[2021-12-20 15:08] phot0n commented on #15374
@znfgnu currently afaik we don't have any mechanism for adding route to already existing items in a doctype (which has been converted to website generator afterwards) - i'm not sure why as i also had the same doubt - you can always add your own route in the route field though and any new items added should have their routes automatically filled I think

[2021-12-20 15:21] git529 opened #15378 "Erpnext Header / Letter Head not repeating on every page of PDF after update ver 13.15"
### Information about bug

When trying to print a PDF from Quotation, Sales Order, or Sales Invoice, we are having the issue where the Header and Footer only show on the 1st page of the PDF, and not the subsequent ones even with the "Repeat Header and Footer in PDF" setting properly checked in Print Settings.

The issue appeared after we updated our Frappe and Erpnext version about a month ago via

[2021-12-20 15:54] #15347 closed, assigned to nobody

[2021-12-20 16:22] sandrathomas1 commented on #4203
can you share the code to make the save and submit button?

[2021-12-21 05:47] sumaiya2908 opened #15382 "imaplib error when fetching emails"
When someone tried to pull emails from their account (using IMAP server), they encountered this error

<img width="633" alt="Screenshot 2021-12-21 at 10 44 51 AM" src="https://user-images.githubusercontent.com/58825865/146875998-ade6c090-2a5c-4000-ab94-64a24d0cf88f.png">

The same issue was raised when we had the limit 100k(which is default)  and was overridden  in this PR #6751
<img width="674" a

[2021-12-21 06:59] #13209 closed, assigned to nobody

[2021-12-21 06:59] #13801 closed, assigned to nobody

[2021-12-21 07:20] phot0n commented on #15382
In the imaplib's [source](https://github.com/python/cpython/blob/main/Lib/imaplib.py#L53) they have the `_MAXLINE` set as 100k bytes by default (written in the source that it used to be 10k but then they bumped it up) - so we're using it by reducing the bytes 😄

![Screenshot 2021-12-21 at 12 46 56 PM](https://user-images.githubusercontent.com/32034600/146887795-32dba5cc-fb39-486e-b0f2-c6f11066d027

[2021-12-21 07:44] gavindsouza commented on #15382
The poplib line does increase the limit, however the imaplib line reduces it. I'm not certain what the reasons were to reduce the 1M limit, the commit message isn't very specific. If we don't have the knowledge of why this change was made, maybe we can get rid of it now 🤔.

* The poplib limit was added ~6 years ago via https://github.com/frappe/frappe/commit/0ace93a984aff0f59c87b72a5e0ef786bec403c

[2021-12-21 09:21] ankush opened #15392 "validate dotted paths in hooks (for scheduler jobs, doc events)"
ref: https://github.com/frappe/erpnext/pull/28979

These kinda failures can be detected much early if `get_attr` is done while migrating to verify that specified path is valid.

[2021-12-21 10:56] znfgnu commented on #15374
@phot0n I think I get it, I missed the sentence: "Let's test this out by *creating a new Article*". Thank you for your response!

[2021-12-21 10:56] #15374 closed, assigned to nobody

[2021-12-21 11:29] vrslev opened #15396 "`.build` is not created on `develop` branch"
## Description of the issue
Frappe uses `frappe-bench/sites/.build` file to enable assets caching in browser. Version 13 has step in asset building process to do this: https://github.com/frappe/frappe/blob/v13.16.0/rollup/build.js#L139-142, but version 14 (`develop` branch does not).

[2021-12-21 11:51] #15140 closed, assigned to nobody

[2021-12-21 12:25] Topiya commented on #13105
I am facing the same issue.
Is there any solution available regarding the same?

[2021-12-21 14:09] gedewon commented on #8888
you have to make the child table field mandatory while you are in List View checked

[2021-12-21 15:01] Topiya commented on #13601
I am facing the same issue.
Did you get any solution yet?

[2021-12-21 17:24] hrwX commented on #15189
- frappe._messages is empty on the login and update-password page, due to which `__()` will always return the text on these pages.
- Used Jinja to translate the text on the pages.

[2021-12-21 21:05] git529 commented on #15378
Hello @ankush I see that you transferred this issue from frappe/erpnext to frappe/frappe. Did I post in the wrong place? Is this issue applicable to the frappe framework and not to erpnext?

Now, when I go to issues the post it doesn't show the red "bug" <img width="39" alt="image" src="https://user-images.githubusercontent.com/85685642/146997431-e18128c8-289d-4c2f-a760-178fa6e46a59.png"> label. H

[2021-12-21 21:09] git529 commented on #15378
We already tried all the suggestions in this link below but they don't fix the issue.
[https://discuss.erpnext.com/t/header-footer-in-pdf-in-ver-13/76581/3](url)

[2021-12-21 21:23] santoshbb opened #17315 "Number Card not accessible for users without System Manager role"
### Information about bug

**Issue :**

Number cards created against reports are not accessible for users without "System Manager" role.

**Steps for Issue Replication:**

1. Create Number Card against Customer Credit Balance (as shown in below image)
2. Create non-standard dashboard
3. Link the number card to dashboard
4. Create new user with System manger role
5. Login with new user and open the

[2021-12-22 04:46] #15189 closed, assigned to nobody

[2021-12-22 04:50] Topiya commented on #12342
I am facing the same issue.
Is there any solution available regarding this?

[2021-12-22 07:23] vrslev commented on #15392
In my private project, I just added test in my test suite:
[code]

You can use this code if you want 😉

[2021-12-22 07:23] gavindsouza commented on #9083
If the `bench start` process doesn't end, you should be able to access your sites successfully through your browser/web client. I don't understand what "It stays forever and I cannot start bench." means or if I'm misunderstanding this. I don't know what the expectation from bench here is 😅 .

[2021-12-22 07:23] #9083 closed, assigned to nobody

[2021-12-22 07:33] vrslev opened #15408 "perf: User’s IP validation"
When I was profiling HTTP requests to server, I found that if page doesn’t require any hard computations or db access (for example, HTML), still, half of the time that Python app spends on validating user’s IP. The problem is hidden in this method. `frappe.auth.validate_ip_address`. Can we make an option in site config that disables the feature and make it turned off by default?

[2021-12-22 07:34] gavindsouza commented on #6759
hey @srdgame, I'm not sure I completely follow the issue you're facing to be a Frappe one. Looks like a Python one to me. I'm closing this, but feel free to re-open it if you think I'm wrong, and this still exists in the current supported versions of Frappe.

[2021-12-22 07:34] #6759 closed

[2021-12-22 07:37] gavindsouza commented on #15214
Is this error still re-occurring or did it stop somewhere down the line? It's really hard to guess what the failure might've been. Could it be related to partially loaded modules into memory?

[2021-12-22 07:47] vrslev opened #15409 "Use gunicorn for `bench serve` for better performance"
I got impressive results when using uvicorn (installed with `pip install uvicorn[standard]`) instead of plain gunicorn or Werkzeug’s server. Up to 2x performance on page load waterfall!

Uvicorn has WSGI middleware that wraps WSGI application in ASGI one. This makes it easy to try out.

Uvicorn uses Cython libraries — this makes it so fast.

[2021-12-22 08:25] Topiya commented on #8652
Above solution is not working for me.
I am using frappe version 13.0.2

[2021-12-22 08:31] Topiya commented on #8056
@SunilBGovind
Are you able to add new row in child table from webform? because I am facing an issue while adding a row itself in frappe version 13.0.2

[2021-12-22 11:21] barredterra commented on #15214
@gavindsouza maybe a good first step would be to start logging the error dates.

[2021-12-22 16:36] takyeyu opened #15415 "frappe.utils.capitalize is not a function in v13.17.0"
In the latest version v13.17.0, go to any pages that contains any disabled user will cause an UI error with message frappe.utils.capitalize is not a function

frappe.utils.capitalize is defined in frappe/public/js/frappe/chat.js while this file was deleted in this version

the original function in chat.js is

/**
 * @description Captializes a given string.
 *
 * @param   {word}  - The word to be c

[2021-12-22 16:37] guilmori opened #15416 "Error in documentation for Override DocType Class"
There is an error in the Override DocType Class documentation:
https://frappeframework.com/docs/v13/user/en/python-api/hooks#override-doctype-class

![image](https://user-images.githubusercontent.com/9451512/147125479-db2c55d9-74c8-46d4-9198-04a9643e39f0.png)

This should be
`super(CustomToDo, self).on_update()`

Otherwise we get the error
AttributeError: 'super' object has no attribute 'on_update

[2021-12-22 16:55] ankush commented on #15415
https://github.com/frappe/frappe/pull/15371

[2021-12-22 16:56] #15415 closed, assigned to nobody

[2021-12-22 17:32] Don-Leopardo opened #15417 "HTML files for custom app Print Formats"
## Description of the issue
I'm working for a company that has created multiple apps for internal use. We have been creating custom Print Formats for native DocTypes in the old fashion: With the html code in the .json. But we think that it would be nice to have those Print Formats as .html files, as it can be done when the Print Format is for a DocType native to the app that has the Print Format.

[2021-12-22 18:00] phot0n opened #15419 "feat: adding route to existing items"
When a doctype with existing items gets converted to a website generator, only the newly added items get a route added the existing ones are left blank and throw error when accessed
(ref: https://github.com/frappe/frappe/issues/15374)

Possible Solution: we could process those existing items in background (maybe even parallelly to increase the rate of completion (?)) so that every item has a route

[2021-12-22 18:47] skjbulcher opened #15420 "frappe.contacts.get_last_doc() returns inconsistent results."
## Description of the issue

`frappe.contacts.get_last_doc()` reverses `frappe.route_history` in place, potentially leading to different results when run twice in a row.
![image](https://user-images.githubusercontent.com/16672299/147139981-178742dc-a2bd-408e-8291-a9fb77a121da.png)

Here is the offending line in address_and_contacts.js get_last_doc:32

[code]

`Array.prototype.reverse()` reverses a

[2021-12-22 18:51] ankush commented on #15420
Would you like to send PR since you're pretty much described solution already?

[2021-12-22 21:49] skjbulcher commented on #15420
I would have preferred to send a PR, but I don't have the time it would take to copy/pull the repository right now (we just went live, and I'm dealing with import issues, training, etc. and simply don't have time to breath ATM). The best I can manage right now is a clear description to make this a 5m fix for someone who has their developer environment set up. Hoping someone can find the time for m

[2021-12-23 12:03] Topiya opened #15425 "Add new row is not working for child table in Web Form"
I am not able to add new row in child table when trying from Web Form.
Getting below error when trying to add the same.

**Steps to reproduce the issue**

- create a doctype with child table
- create a web form for this doctype
- Add new row to child table from Web form.

It looks like this when clicking on ‘Add Row’
![Capture](https://user-images.githubusercontent.com/26486272/147237585-1d2a5556-

[2021-12-23 16:01] ankush commented on #15420
@skjbulcher no worries, just sent PR :)

[2021-12-23 17:06] skjbulcher commented on #15420
Thanks @ankush!

[2021-12-23 18:00] #15420 closed, assigned to nobody

[2021-12-23 18:59] Komal-Saraf0609 commented on #11621
Resolved in Attach field type error when upload filename has comma in it #11084

[2021-12-23 18:59] #11621 closed, assigned to nobody

[2021-12-23 19:17] Komal-Saraf0609 commented on #12283
Works with the latest v13.6.
Refer the below recording:

https://user-images.githubusercontent.com/81952590/147283384-a305fc47-f7a2-490d-804c-a8e34ce586c8.mov

[2021-12-23 19:21] ankush commented on #12283
This still exists @Komal-Saraf0609

Reload the page

[2021-12-23 19:29] Komal-Saraf0609 commented on #13366
Works with the latest v13.6.

Refer below recording:

https://user-images.githubusercontent.com/81952590/147284362-19a1ef4a-6133-409e-9f65-3324aac59be8.mov

[2021-12-23 19:29] #13366 closed, assigned to nobody

[2021-12-23 19:32] Komal-Saraf0609 commented on #13447
Closing the issue as no description has been provided.

[2021-12-23 19:32] #13447 closed, assigned to nobody

[2021-12-23 19:39] Komal-Saraf0609 commented on #13534
Works with latest v13.6

Refer below recording:

https://user-images.githubusercontent.com/81952590/147285083-6c599dc0-6bb5-44b4-823d-7486b0e9b6e7.mov

[2021-12-23 19:39] #13534 closed, assigned to nobody

[2021-12-23 19:52] Komal-Saraf0609 commented on #14437
Works with latest v13.6.

Check the SS below:

![Screenshot 2021-12-24 at 1 21 44 AM](https://user-images.githubusercontent.com/81952590/147286104-60722f4f-5603-4bdd-bc36-3a3f32671d36.png)

![Screenshot 2021-12-24 at 1 21 07 AM](https://user-images.githubusercontent.com/81952590/147286129-44091637-371a-402b-a7d6-44cf43c49b21.png)

[2021-12-24 01:01] guilmori opened #15432 "Some translations not working using csv file"
frappe 13.16

I have a custom app with a translation file fr.csv

Most of the translations in the file are working fine, but some are not picked up.

When I do a view source in the browser page, I can see my translations, but those not working are not there…

I tried to pick one of the missing translations, and just put this single one in the fr.csv, and still it is not picked up.

Adding a row in

[2021-12-24 03:37] hbhawsar777 opened #15433 "Error in pull_from_email_account"
![Screenshot from 2021-12-24 08-59-09](https://user-images.githubusercontent.com/54030707/147313230-ffba63c3-857e-45c7-9775-3b8cb9758c7e.png)

Frappe - 13.12.1
ERPNext - 13.12.1

[2021-12-24 03:40] charleslcso opened #18614 "Cannot logout gracefully after email change"

[2021-12-24 04:45] karthikeyan5 commented on #15209
@dj12djdjs, this is because a separate menu item is added for mobile view. you should remove this too.

here is the relevant code that adds this item: https://github.com/frappe/frappe/blob/14cc6fd54684067b2f942908e30c4327b019f7db/frappe/public/js/frappe/form/form.js#L1134

[2021-12-24 05:11] Topiya commented on #14283
Can you let me know what did you mean by installing each python module?
Since I am getting error as below while **pip install pypika**

`ModuleNotFoundError: No module named 'pypika'`

[2021-12-24 11:44] Topiya commented on #15425
I have solved mentioned issue by updating frappe to latest version.

[2021-12-25 16:09] wojosc commented on #14437
Hi @Komal-Saraf0609 thanks for the input. Yes, it works on frappe cloud too. Though I have noticed this is not the case when the language ist set to "de" (german) also doesn't work in "es" spanish:
![grafik](https://user-images.githubusercontent.com/22279621/147389040-e1917b92-3a66-47da-b6d6-911b04b3877a.png)

I haven't checked more closely but probably doesn't account for all languages other than

[2021-12-25 17:30] EloneSampaio opened #15446 "Shortcuts are being repeated every time I refresh the navigation"
## Description of the issue
Shortcuts are being repeated every time I refresh the navigation
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Login
2. Creates a workspace
3. Navigate between workspaces

### Observed result
![Captura de tela de 2021-12-25 14-19-28](https://user-images.githubusercontent.com/7461530/147390282-f1667e66

[2021-12-25 19:50] phot0n commented on #15446
possible duplicate: https://github.com/frappe/frappe/issues/15242 ?
this pr https://github.com/frappe/frappe/pull/15439 might resolve this (i think)

[2021-12-25 21:46] barredterra opened #15448 "pymysql.err.ProgrammingError: ('DocType', 'Webhook')"
[code]

Migrating from `version-13-beta` to `version-13` (13.17)

### Versions

[code]

[2021-12-26 00:45] barredterra opened #15450 "RecursionError: maximum recursion depth exceeded"
[code]

Migrating from version-13-beta to v13.17

[2021-12-26 00:55] barredterra commented on #15450
Seems like this site was not created correctly, there was some problem during `bench new-site`. Closing this issue, since `bench migrate` works fine on all other sites.

[2021-12-26 00:55] #15450 closed, assigned to nobody

[2021-12-26 06:31] #15446 closed, assigned to nobody

[2021-12-26 16:52] guilmori commented on #15432
I've found out the translations that are not working are for strings within .js files underneath the public/ folder.
And I can see the public folder is being excluded when walking down the paths,,,
What is the logic behind excluding this folder when it can contain translatable strings ?
I removed the "public" from the dontwalk list and now translations work as it should.
![image](https://user-imag

[2021-12-26 20:01] saru2020 commented on #3363
any inputs on how this was fixed?
I'm facing this issue while building for production on macOS

[2021-12-27 05:41] #15448 closed, assigned to nobody

[2021-12-27 09:51] #13416 closed, assigned to surajshetty3416

[2021-12-27 10:19] Komal-Saraf0609 commented on #14687
This feature is there. Refer below SS:

![Screenshot 2021-12-27 at 3 48 46 PM](https://user-images.githubusercontent.com/81952590/147462124-2cf9e8c1-706c-4ade-9c1d-9a8468fb5a2c.png)

So closing the issue.

[2021-12-27 10:19] #14687 closed

[2021-12-27 12:02] #14712 closed

[2021-12-27 12:03] #14691 closed

[2021-12-28 01:33] jon-nfc commented on #18530
@ankush,

Can confirm that this issue is validated as during the work I conducted in frappe/frappe#13777. It was by design of the previous developer of the LDAP implementation that the username placeholder was at the end of the search string.

Backporting frappe/frappe#13777 to version 12 should also fix this issue as it did for version 13.

Of note and for confirmation, if a backport to v12 is co

[2021-12-28 06:14] JohnDoeSnow opened #15465 "Frappe: Workspace is not working while using in PostgreSQL Database"
## Description of the issue
We have setup frappe on PostgreSQL Database and while creating workflow, we are getting an **"Server Error"**  and I have added the error contents for your reference. Kindly check and let us know how to resolve this issue.
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Go to "workflow" Doctype and crea

[2021-12-28 08:52] rtdany10 opened #15466 "Datetime field unreadable in read-only case"
Time part of `datetime` field, when made read-only, becomes unreadable.

![image](https://user-images.githubusercontent.com/52111700/147547855-7675b749-469c-4dd3-af7b-59b9cc03cbc3.png)

[code]

[2021-12-28 08:58] rtdany10 commented on #15416
`super().on_update()` will be enough from Python3 onward.

You can edit the documentation directly @guilmori

[2021-12-28 09:17] Komal-Saraf0609 commented on #8309
@jigneshpshah  Closing the issue. If you are still facing the issue feel free to reopen it.

[2021-12-28 09:17] #8309 closed, assigned to nobody

[2021-12-28 09:33] Komal-Saraf0609 commented on #8744
Closing the issue. I am also using mac, and shortcut for @ is "Shift+2" and if you are not focused on any input field then "Alt+L" works fine and it will take you to the list view but if the focus is on any field it will type "Hyphen (-)" in the field.

[2021-12-28 09:33] #8744 closed, assigned to nobody

[2021-12-28 09:54] Komal-Saraf0609 commented on #9036
You can only  use "Alphanumeric values, dash(-) and slash(/) characters as per GST rules."

![Screenshot 2021-12-28 at 3 22 01 PM](https://user-images.githubusercontent.com/81952590/147553668-f5e4419c-634d-47d9-b6a0-80b1721a8b19.png)

[2021-12-28 09:54] #9036 closed, assigned to nobody

[2021-12-28 09:57] Komal-Saraf0609 commented on #9760
Works for me.

Closing the issue but if you are still facing the issue feel free to reopen it.

[2021-12-28 09:57] #9760 closed, assigned to nobody

[2021-12-28 10:30] ankush commented on #15466
fixed in 13.17
https://github.com/frappe/frappe/pull/15150

[2021-12-28 10:30] #15466 closed, assigned to nobody

[2021-12-28 10:38] ci2014 commented on #8744
@Komal-Saraf0609 Hi, I checked your comment and while on the US keyboard layout it is true, the layout on the German Mac Keyboard is different and needs ALT+L for the @ symbol. How do we handle this?

Frappe and ERPNext have an international user base and are designed to work internationally, using all kinds of languages and date formats, different taxes and regional specific reports, and so on.

[2021-12-28 17:38] gavindsouza commented on #15471
@zongo811 Bench/Frappe CLI isn't directory aware. It executes site commands from the sites folder, bench related ones at the bench root, and the rest wherever they're executed from.

The restore command expects a path relative to the bench root directory or an absolute/full path.

[2021-12-29 04:45] #4742 closed

[2021-12-29 07:39] phot0n commented on #15361
this happens for all the items that were published and then unpublished - maybe we can unset the route (if the item is unpublished) for a very naive solution to this :P

[2021-12-29 08:00] lincogn opened #15476 "Social login through mobile app"
We are trying to adapt social login to our mobile app. In V12, it worked fine. In V13 (in v13.17), it can login but access cannot be granted because I am not login from website, but the mobile app (set-cookie was blocked because it had the samesite=lax). The details are as follow:

1. First i use the googleplus plugin for get ServerAuthToken
2. After call api like https://****/api/method/frappe.ww

[2021-12-29 11:22] lincogn commented on #15476
There is also another similar discussion to set cookies for the website as below:

https://discuss.erpnext.com/t/frappe-as-backend-cannot-set-cookies/73340

[2021-12-29 19:36] sashaiwan opened #15480 "[frappe-install] Installation issues on Mac M1"
## Description of the issue
Hi guys, I'm trying to install and setup Frappe in a Mac M1. I followed the installation guide provided in Frappe docs, but I'm not able to solve it. I looked for a possibles fixes but without good results. I hope there's something that I don't know about Frappe.

## Steps to reproduce the issue
1. Run on terminal: 'bench init frappe-bench'

### Observed result
Installa

[2021-12-29 19:48] dj12djdjs opened #15481 "frappe.prompt broken dependency in frappe-web.min.js"
## Description of the issue
Calling frappe.prompt from non desk page results in TypeError.

**Output of `bench version`**
[code]

### Stacktrace / full error message
[code]

[2021-12-30 05:48] vrslev commented on #15480
Seems like Pillow doesn’t have wheels for M1 and it tries to build itself, but fails: `__main__.RequiredDependencyException: jpeg`. Install `jpeg` with brew: `brew install jpeg`

[2021-12-30 05:53] #15476 closed, assigned to nobody

[2021-12-30 05:57] vrslev opened #15482 "UI: Sometimes link preview creation fails"
## Description of the issue

When `this.popover` doesn’t have `options` attribute, link preview fails.

[code]

This probably can be fixed if we do
[code]
instead of

[code]

here:
https://github.com/frappe/frappe/blob/39097b05a7a9904776a435ee2c3d7a579d429389/frappe/public/js/frappe/ui/link_preview.js#L76-L81

## Additional information

Frappe v13.17.1, Chrome.

[2021-12-30 10:55] phot0n commented on #15419
so we don't even need to set the route manually - just need to "save" those existing items and the validate controller of Website Generator will automatically set the route :P

[2021-12-30 13:11] sashaiwan commented on #15480
Issue apparently solved by installing `brew install libjpeg` on Rosetta terminal. Thank you @vrslev

[2021-12-30 13:11] #15480 closed, assigned to nobody

[2021-12-31 15:52] #15323 closed, assigned to nobody

[2021-12-31 18:15] barredterra commented on #10004
This error started reoccurring in v13.16.0, probably because my fix got overwritten with the default settings again.

[2021-12-31 18:44] ankush commented on #10004
Noticed this too. Let's just drop the naming series fully from logs? It's not really required.

[2022-01-01 16:47] joshuarestivo opened #15493 "Custom DocPerm for standard roles override default permissions"
[Frappe documentation](https://frappeframework.com/docs/v13/user/en/basics/doctypes/customize) indicates that Custom DocPerm will add custom permissions to a role ("Additional Permission"). The code says otherwise.

The following loop will only append permissions for standard doctypes if they don't exist in doctypes_with_custom_perms. Given a standard doctype, 'Role Profile' for example, if I have

[2022-01-01 20:37] joshuarestivo commented on #15493
Looks like this may have already been addressed.

doctypes_with_custom_perms = frappe.get_all("Custom DocPerm", pluck="parent", distinct=True)

[2022-01-01 20:44] joshuarestivo commented on #15493
The above code snippet is from 13.15.1. It looks like pluck is being used in the develop branch but that shouldn't make any difference to this issue.

[2022-01-02 14:10] #15366 closed, assigned to nobody

[2022-01-02 14:26] sagarvora commented on #15074
https://github.com/frappe/frappe/pull/15494 is a good start.

Further recommendations:
- Save button should be visible only if User is Report's owner or Report Manager.
- A button to delete a report will be visible in Report View based on following conditions:
   - Report is of type Report Builder
   - User is owner / report manager
   - It is not a standard report

I think that the restriction to

[2022-01-03 08:12] wojosc opened #15501 "Add Document Link in Email Domain"
For ease of navigation and transparancy as to how many accounts to this domain exist I add a document link to Email Account in Email Domain:
![grafik](https://user-images.githubusercontent.com/22279621/147909071-181e4459-15ad-4646-b09d-514b3286cc95.png)

![grafik](https://user-images.githubusercontent.com/22279621/147910158-2dced118-c7b6-4645-b729-43089f652edf.png)

Sorry, I am not aware as to whe

[2022-01-03 08:22] #7430 closed

[2022-01-03 13:20] #15505 closed, assigned to nobody

[2022-01-03 19:59] cwooldridge commented on #7268
For Office 365 in the Azure AD set up. We needed to add "email" as an optional claim to include email in the token.

[2022-01-04 06:22] lasalesi commented on #15519
Unfortunately, the only way is to go into the database and remove the print formats manually:

    $ bench mariadb

[2022-01-04 07:45] Alchez commented on #7268
@cwooldridge, I'm adding Azure B2C as a separate social login with #15442, which has updated URL endpoints and also has the additional email scope.

[2022-01-04 08:44] harshit-30 opened #15522 "add copy to clipboard button in Share URL"
Currently one has to select and copy the whole URL, we can simply provide a button to copy to clipboard
OR
Clicking on the link will copy it to the clipboard.

![image](https://user-images.githubusercontent.com/46772424/148032233-d33e8803-2c7e-46a1-a8b4-f8353156f85a.png)

[2022-01-04 08:46] ankush commented on #15522
super simple `frappe.utils.copy_to_clipboard(link);` ?

[2022-01-04 09:02] #15522 closed, assigned to nobody

[2022-01-04 11:56] #15218 closed, assigned to nobody

[2022-01-04 14:24] #14955 closed, assigned to nobody

[2022-01-04 16:17] prices opened #15628 "When setting up shopify if the "Password" field is empty clicking Save logs the user out"
Setup:

* "Enable Shopify" unchecked
* "Password" field is empty

Action:

Change other settings (I changed "Default Customer") click the save button.

Result:

An error pops up saying "Password not found" as well as a popup saying "Enter your password" (user password).  If user password is not supplied user is logged out.

[2022-01-05 09:08] sumaiya2908 commented on #14390
@rtdany10 I am planning to implement this. Can I get a heads up?

[2022-01-05 09:19] FatCatTuxedo commented on #14283
Dunno gave up in the end and started fresh and it seemed to work

[2022-01-05 10:33] nidhipurohit11 opened #15534 "UX: Filter's text of many dropdown fields not visible completely"
## Description of the issue
On many doctypes, certain dropdowns show filters, so that correct values can be selected. But if its text is larger then the user is unable to read them

## Steps to reproduce the issue

1. For example on company master, click on field "Asset Received But Not Billed"
![Screenshot 2022-01-04 at 7 44 58 PM](https://user-images.githubusercontent.com/82337328/148202543-d4d8

[2022-01-05 11:12] gavindsouza commented on #15409
@vrslev Can you expand further on this idea and the numbers you've mentioned? Maybe we could take this further and understand it better.

[2022-01-05 11:39] ryuliantoro opened #15537 "Field type Year and Dashboard Annual timeline"
**Is your feature request related to a problem? Please describe.**
There is a fieldtype of Date and Datetime. But to select Year using this existing fields would be too wide. It would be better to have Year field type.

**Describe the solution you'd like**
A field type of Year

**Related feature**
In relation of this Year field to the Dashboard, the timeseries dashboard only allow up to Quarterly.

[2022-01-05 12:54] ankush commented on #15537
just using integer isn't enough for this? Usually, I've not heard of "year" as a datatype.

Extracting a year out of dates is trivial, you should be able to analyze data without having year as explicit field.

[2022-01-05 13:23] vrslev commented on #15409
@gavindsouza I tested those setups:
- Werkzeug server + WSGI app,
- Gunicorn + WSGI app,
- Gunicorn + Uvicorn worker + ASGI app.

Last option is the fastest one, but not significantly. Since Frappe already depends on Gunicorn, why not use it for developing?

[2022-01-05 14:17] ryuliantoro commented on #15537
Yes integer (or select) is enough for data entering. And yes to extract year for doctype form is not difficult.
But for dashboard, the field "time series based on" doesn't respect other type than date. And only having Quarterly time interval means we can't display annual timeseries.

So the solutions could either be (or better both :-))
- Field type Year (in Doctype) for easy data entering and use

[2022-01-05 14:23] ryuliantoro commented on #15353
For "Show selected only" option, maybe better to put it in the filter?

[2022-01-05 14:33] rtdany10 commented on #14390
I'm unsure if I can provide you anything valuable. The GIF was created by altering the HTML of Sales Invoice form after it was rendered(via inspect element tool of my browser:sweat_smile:)
My understanding of Frappe's front-end is very basic but I'd like to learn. Will be more that happy to assist you. Let me know if you'd like to collaborate to get this done :smile:

[2022-01-05 15:33] gavindsouza commented on #15409
That is something I asked myself too, not too long ago. There's no reason not to, tbh...even the license is compatible. I like it since it also gets more parity between production and development environments.

As for ASGI Frappe (with Uvicorn), I tried it ~6 months ago without any luck. If this worked well for you, do share your approach and benchmarks. If not the standard way, we could add an ea

[2022-01-06 07:01] Topiya opened #15548 "send reminder to specific user in form of system notification"
I want to send reminder to specific user on given date in form of system notification or some user friendly way.
Is there any appropriate way available to send it using frappe version v13 ?

[2022-01-06 07:29] tundebabzy opened #15550 "S3 automatic backup fails when backup folder is empty"
## Description of the issue
`frappe.integrations.doctype.s3_backup_settings.s3_backup_settings.take_backups_s3` fails when the backup folder (site_name/private/backups/) is empty when the function is called.

This occurs because `frappe.integrations.offsite_backup_utils.get_file_size` does not anticipate a situation where its `file_path` argument is invalid i.e `None`.

This bug affects v13 and v1

[2022-01-06 12:59] #14437 closed, assigned to shariquerik

[2022-01-06 13:32] phot0n commented on #15361
Along with the mentioned bug, seems the whole publishing/unpublishing scenario of help article, help category is broken.
So from what i understand, a help article comes under a help category hence when a category is unpublished, all the help articles related to that help category should also be unpublished but that doesn't really happen and every article alongside the category page is visible. Onl

[2022-01-07 05:25] #13975 closed, assigned to nobody

[2022-01-07 05:46] #15534 closed, assigned to nobody

[2022-01-07 06:46] ishanloya opened #15559 "feat: dashboard level filters"
It would be great to set filters at the dashboard level instead of at the chart level

- If there are several charts in a dashboard with a filter set on a link field (e.g. company), then the filter has to be set for each chart individually
- If the filter can instead be set for the dashboard itself, then it would save the user a lot of time that is wasted in setting the filters for each chart
- Al

[2022-01-07 10:33] ruthra-kumar opened #15562 "Data Exporter throwing AttributeError"
## Description of the issue
Data Export is throwing AttributeError.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Open Data Export tool
2. Select 'Sales Order' as doctype and apply some filters
3. Export

### Observed result
<img width="1440" alt="data exported bug" src="https://user-images.githubusercontent.com/3272205/1485312

[2022-01-07 10:41] ruthra-kumar commented on #15562
Pull request created [here](https://github.com/frappe/frappe/pull/15561)

[2022-01-07 14:11] daanlenaerts commented on #14420
I'm having the same issue. Any update on this, or does anyone know how to circumvent or solve this?

[2022-01-07 15:16] mujeerhashmi commented on #12075
@gavindsouza @netchampfaris @rmehta - This issue becomes more & more relevant as we move from monolithic architecture to app-based architecture.

[2022-01-08 14:07] carstenblt commented on #14959
We just switched to AWS RDS database and I believe this is what required us to set `max_connect_errors` to a much higher value, because erpnext was blocked by the database.

[2022-01-10 08:23] a157147899 commented on #15160
Thanks for pointing it out. I'll try it.

[2022-01-10 08:23] #15160 closed, assigned to nobody

[2022-01-10 08:40] govindsmenokee opened #15570 "BUG: print preview function getting called twice"
`/api/method/frappe.www.printview.get_html_and_style` is called twice in print preview which is an unwanted overhead.

[2022-01-10 08:53] ankush commented on #15570
Can't reproduce. Add steps to reproduce this.

[2022-01-10 12:05] govindsmenokee commented on #15570
https://user-images.githubusercontent.com/2034781/148763291-3d4adfd8-21f8-48c0-84d4-b417f78de644.mov

[2022-01-10 12:07] govindsmenokee commented on #15570
[code]

[2022-01-10 12:12] NavaneethEwall opened #15578 "bench new-site: add extra options to provide PostgreSQL username and password"
**Is your feature request related to a problem? Please describe.**
I am trying to create a SAAS using frappe and while creating a new site I don't have an option to provide PostgreSQL username and password in the bench new-site command. So is there any ways that we can achieve this else please provide us in future releases.

**Describe the solution you'd like**
Please provide us options similar to

[2022-01-10 13:12] wojosc opened #15579 "Column "Title" missing in Pick Column"
In Report View there is a column Title
![grafik](https://user-images.githubusercontent.com/22279621/148771491-512c4fd8-5ce2-4ff0-b879-eb2ad951b230.png)

This column can not be found when picking columns...

![grafik](https://user-images.githubusercontent.com/22279621/148771404-33ab2de6-74f0-4aa7-86ac-0774992da397.png)

So once the column is removed from a Report it can not be retrieved.

[2022-01-10 13:13] ankush commented on #15579
The title is just the field that's set in "Title field" like how "id" is whatever field is set as "name" field.

[2022-01-10 15:14] wojosc commented on #15579
in this case fieldname title

with this:
![grafik](https://user-images.githubusercontent.com/22279621/148789705-eb156993-1497-427c-9d45-8231497b6ad4.png)