[2019-09-01 04:30] mbhavesh95863 commented on #14633
Yes possible,
Create  one webpage using html,css and js . This page have selection of site and make as by default landing page so when you land you have option to select site.

[2019-09-02 03:42] jigneshpshah opened #8309 "bug: new updates are available pop-up for v11 in v12 instance"
**Environment**
ERPNext: v12.0.8 (version-12)
Frappe Framework: v12.0.8 (version-12)

### Actual Behavior :
 Even if you are on veersion 12 , it still shows message for latest updated available for version 11 as below.

![image](https://user-images.githubusercontent.com/4900815/64088795-c9573180-cd60-11e9-93b4-21bc70b31e6f.png)

### Expected Behaviour

Message should show if updates available for

[2019-09-02 05:03] #8230 closed, assigned to nobody

[2019-09-03 08:06] Alchez opened #8329 "[Bug] [Develop] AttributeError: 'Meta' object has no attribute 'nsm_parent_field'"
@netchampfaris After the addition in #8312, `bench update` breaks at migration (documented at https://github.com/frappe/erpnext/issues/18893). I made the fix proposed at #8328, but now I get the following error (also added in #8312):

[code]

[2019-09-03 12:31] govindsmenokee opened #8332 "v12.0.9 Empty Comment added automatically"
Saving a doc apparently adds an empty comment to the document!

[2019-09-03 13:55] surajshetty3416 commented on #8123
[This PR](https://github.com/frappe/frappe/pull/8132) fixed the issue... closing.

[2019-09-03 13:55] #8123 closed, assigned to nobody

[2019-09-03 15:05] hrwX commented on #8332
- @govindsmenokee Can you elaborate the issue ?? I am trying to replicate it, but no success
- here's an example
![gissue](https://user-images.githubusercontent.com/7310479/64183644-d15dc100-ce87-11e9-9613-7596be6193a4.gif)

[2019-09-03 16:41] govindsmenokee commented on #8332
@hrwX it's happening on on_update of an existing doc

[2019-09-03 16:45] govindsmenokee commented on #8332
Try to hit save again on the same Google contact that you just created

[2019-09-03 17:09] #8329 closed, assigned to nobody

[2019-09-04 05:50] govindsmenokee commented on #8332
@hrwX any luck?

[2019-09-04 10:57] hrwX commented on #8332
@govindsmenokee Yes i was able to replicate it. Will fix it and raise a PR

[2019-09-04 11:08] hrwX commented on #8332
@govindsmenokee Here you go #8338

[2019-09-04 11:09] jay-parikh commented on #8332
Same issue happen when you add fields to doctype.

Traceback (most recent call last):
  File "/home/loco/frappe-bench/apps/frappe/frappe/app.py", line 60, in application
    response = frappe.api.handle()
  File "/home/loco/frappe-bench/apps/frappe/frappe/api.py", line 55, in handle
    return frappe.handler.handle()
  File "/home/loco/frappe-bench/apps/frappe/frappe/handler.py", line 21, in handl

[2019-09-04 16:02] govindsmenokee commented on #8332
@hrwX funny thing.. I tried to debug the on_submit code that is written over there but couldn't get the debugger to reach that point. The observation here is that even for documents that are not submittable this dummy comment gets added. Any thoughts on this?

[2019-09-05 06:16] rmehta commented on #5601
Should this not be a part of ERPNext ? @hereabdulla

[2019-09-05 06:16] #5601 closed

[2019-09-05 13:03] govindsmenokee commented on #8253
@netchampfaris I'm just tagging you again as this issue may lead to actual end users loosing data from their production servers.

Files are getting overwritten I can confirm this!

[2019-09-05 14:58] racitup commented on #14688
Since the install process is already well-documented and scripted, I don't fundamentally see why packages couldn't be built. Ubuntu and Debian seem like the obvious targets.
Of [Python 3.5, MariaDB 10+, Nginx, Nodejs, yarn, Redis, cron, crontab & wkhtmltopdf] it appears the initial stumbling blocks are yarn and wkhtmltopdf, as they don't appear to be available as debian packages.
I suggest we woul

[2019-09-05 17:41] hereabdulla commented on #5601
it has to be @rmehta

[2019-09-05 17:44] hrwX commented on #8332
@govindsmenokee The `on_submit` is called from [here](https://github.com/frappe/frappe/blob/fe0c399750e509b32ebcf0f9345e2a816c68bd81/frappe/public/js/frappe/form/controls/comment.js#L57)

[2019-09-05 18:02] hrwX commented on #8332
@jay-parikh Delete the comment if any in DocType form. I have raised a PR earlier to fix it.

[2019-09-05 18:03] hrwX opened #8355 "issue happen when adding fields to doctype."
Invalid

[2019-09-05 18:03] #8355 closed, assigned to nobody

[2019-09-06 07:34] govindsmenokee commented on #8332
@hrwX Im just curious why would the submit event be called even though the doc is not submittable?

[2019-09-06 15:09] krnkris commented on #8146
When?
It is existing problem up today:

[code]

[code]

nstalled Apps

ERPNext: v12.1.1 (version-12)

Frappe Framework: v12.0.11 (version-12)

[2019-09-06 15:10] krnkris opened #8361 "V12 EMAIL - Expected object of type bytes or bytearray, got: <class 'email.message.Message'>\n""
With every incoming mail I receive this error message.

Only I have this problem?
It is existing problem up today:

[code]

[code]

nstalled Apps

ERPNext: v12.1.1 (version-12)

Frappe Framework: v12.0.11 (version-12)

[2019-09-06 15:12] krnkris commented on #8146
OK I opened a new issue, because it seem to be solved.

https://github.com/frappe/frappe/issues/8361

please close this issue.

[2019-09-07 07:45] #4337 closed

[2019-09-09 17:00] nocubicles commented on #18507
Same issue. Was it working before? Could you show these links to unauthorized users?

[2019-09-10 06:43] Mitchy25 opened #8386 "AttributeError: 'Report' object has no attribute 'is_tree'"
When creating a new Report, this is the error:

[code]

This is due to the recent change to utils.py here: https://github.com/frappe/frappe/commit/bff94703cf5c654eb6279048111dacef5aefbcec#diff-e623a822dc5f6b3d99cb30eaacdd89ce

[2019-09-11 07:22] idolaru opened #13458 "v12 Print Format Builder - IndexError: list index out of range"
When trying to edit and save the print format of the event doctype - error received is:

`IndexError: list index out of range`

[2019-09-11 07:30] iMoshi commented on #4483
Edited the DocType, so the field can be "Translated" but it isn't working. v12.1.2, trying to translate given Department, employment type etc. Any help on that? :)

[2019-09-11 07:50] idolaru commented on #13458
Traceback from frappe.log

[code]

[2019-09-11 10:34] Olawale1 opened #14862 "Workflow only allows one role to edit document per state!"
Hi ,

This is a serious, long-standing issue with Workflow that needs fixing. If you have multiple roles allowed to edit a doc in a single state, only the first one is actually allowed to do so!

Kindly help fix this

Thanks

[2019-09-12 09:54] Olawale1 opened #19205 "feat: allow limiting Workflow 'Send Email Alert' recipients"
Hi ,

The Send Email Alert feature in Workflow is an awesome feature but it's fundamentally flawed because the notifications are sent indiscriminately to ALL users having a role without any way to limit them to either the creator or a user field within the doc

A simple example is Expense Claims. Let's say an organization has 300 Employees of which 100 are Supervisors. All users with Employee role

[2019-09-13 10:17] Olawale1 commented on #19205
Also, it's important to add ability to choose which Transitions the Workflow should send Email Alert for. There should be something like a 'Send Email Alert' checkbox in every row of the Transition Rules table which can be unchecked if the user doesn't want alerts to go out for that particular transition

[2019-09-15 06:44] rasos commented on #8257
The redirect URL is constructed as
`https://erp.ourdomain.net/api/method/frappe.integrations.oauth2_logins/myIDservice`

See https://discuss.erpnext.com/t/oauth-client-login-button/29152/6?u=rasos

[2019-09-15 21:12] gbm001 opened #8424 "Contact form broken when using 'Always use Account's Email Address as Sender'"
The website Contact form has a little email-sending contact form. It sends an email with a 'from' address of the entered email address to a chosen email address.

Unfortunately, if you have the option 'Always use Account's Email Address as Sender' set on your outward email address, then you don't get the email address. In this case I would suggest that the email address is added to the message of

[2019-09-17 10:14] palashjhabak opened #8439 "Print format checks for html even when Raw printing is on."
https://github.com/frappe/frappe/blob/d33d2ee60e6c6e517f25a6e349701064b5d563b3/frappe/printing/doctype/print_format/print_format.py#L37

[2019-09-20 02:09] hl0rey opened #8464 "There is a SSTI vulnerability that can lead python code execution on the web server."

[2019-09-20 09:17] adityahase commented on #8464
@hl0rey You should've followed https://erpnext.com/security, instead of disclosing this publicly.

[2019-09-20 09:18] adityahase commented on #8464
https://github.com/frappe/frappe/pull/8467

[2019-09-20 09:46] adityahase commented on #8464
Fixed with https://github.com/frappe/frappe/pull/8467 in https://github.com/frappe/frappe/releases/tag/v12.0.14, https://github.com/frappe/frappe/pull/8468 in https://github.com/frappe/frappe/releases/tag/v11.1.58 and https://github.com/frappe/frappe/pull/8469

[2019-09-20 09:46] #8464 closed, assigned to nobody

[2019-09-20 10:35] hl0rey commented on #8464
I'm really sorry about that.Because I only saw the official website saying that if I found the bug, I could contact you through issue.

[2019-09-20 10:37] adityahase commented on #8464
@hl0rey Can you please confirm that the latest release fixes this issue?

[2019-09-20 10:49] hl0rey commented on #8464
Yes, the new version has fixed this problem.I apologize again for my behavior.

[2019-09-21 03:16] hl0rey commented on #8464
Can I apply for a CVE number for this vulnerability？

[2019-09-21 06:46] adityahase commented on #8464
@hl0rey We will help you get a CVE number. Can you please contact us at support@erpnext.com

[2019-09-21 10:05] hl0rey commented on #8464
Ok, that's great.

[2019-09-23 10:26] #8156 closed, assigned to nobody

[2019-09-23 10:31] #983 closed

[2019-09-23 10:36] #4039 closed

[2019-09-23 10:36] gavindsouza commented on #4039
fixed in an early release

[2019-09-23 10:41] gavindsouza commented on #7084
closing issue as can't replicate on latest

[2019-09-23 10:41] #7084 closed

[2019-09-23 17:08] krnkris commented on #8361
It is no change up todays update.
All emails received, but this messages still exist.

Could someone help me out on this?

[2019-09-26 15:34] ci2014 commented on #8300
You can define the support email address in the site_config.json as following:

` "error_report_email": "support@ci-commerce.com",`

Just add that line to the file.

If you put it on the end of the file, remove the comma.

[2019-09-26 15:35] ci2014 commented on #8300
You can define the support email address in your site_config.json:

`"error_report_email": "support@example.com",`

If you put the line at the last line in the json object, remove the comma.

The path to site_config.json is ~/frappe-bench/sites/example.com/site_config.json

I had the same issue today.

[2019-09-26 21:20] AndyOverLord commented on #8300
Thank you so much, the report button works now.

[2019-09-26 21:20] #8300 closed, assigned to nobody

[2019-09-27 09:16] ashish-greycube commented on #8386
I too encountered it. Report creation has stopped due to this.

[2019-09-27 09:41] Thunderbottom commented on #8253
does this PR seem to solve the issue: https://github.com/frappe/frappe/pull/8358 ?

[2019-09-27 09:43] #8146 closed, assigned to nobody

[2019-09-27 11:40] mnour commented on #8277
Issue is not valid anymore after moving to an updated version of ERP Next and Frappe. See comments of #8279

[2019-09-27 11:40] #8277 closed, assigned to nobody

[2019-09-28 12:35] rasos commented on #7444
With new LDAP implementation default role can be set now for LDAP.

Not yet for oAuth sign-ups, though.

Just for the record, this is a workaround in oauth.py:

[code]

[2019-09-28 12:35] #7444 closed

[2019-09-28 12:39] rasos opened #8512 "Allow to set default role for oAuth sign-ups"
Currently if a user signs up with an oAuth provider, no role is assigned at all. In order to use the webshop, the role `Customer` is required.

This is a quick fix in oauth.py:

[code]

Ideally we would have a setting for the default role like in the new LDAP implementation.
See also #7444 .

[2019-09-29 08:52] bibinqcs commented on #5576
With the version 12 UI one-dark-ui or provision to change the theme like atom would be handy, if built into frappe, it would be available in all the apps

[2019-09-30 10:02] gavindsouza commented on #427
closing as this is current behaviour

[2019-09-30 10:02] #427 closed

[2019-09-30 11:25] nick9822 opened #8523 "Move email and phone to child table patch issue"
The section of the code in the image below supposed to move mobile number inside child table but instead it moves the same phone_no which was already done.

![image](https://user-images.githubusercontent.com/10139291/65874162-c02ea400-e3a2-11e9-99f0-b0e78c16f659.png)

[2019-09-30 12:26] gavindsouza commented on #1237
Checkbox filter for `is child table` exists

![Screenshot 2019-09-30 at 5 54 54 PM](https://user-images.githubusercontent.com/36654812/65878313-70080f80-e3ab-11e9-8e8c-026375c70f8f.png)

[2019-09-30 12:26] #1237 closed

[2019-09-30 15:54] hrwX commented on #8523
- The patch is meant to move mobile and phone to the child table

[2019-09-30 16:08] madmath03 opened #8528 "Why the 'only' after converting a money in words?"
Why does Frappe add an "only." at the end of the money conversion to words ?

https://github.com/frappe/frappe/blob/1e54db0df5e359bf31153b5e503d48eee38ef2ba/frappe/utils/data.py#L571

I have a client that wants to remove this because it appears at the end of every Quotation or Sales Invoice but it seems there is no way to remove it :confused:

Is it possible to add a configuration in database to s

[2019-09-30 18:00] uzbek14 commented on #14750
+1 for naming series for project

[2019-09-30 18:19] nick9822 commented on #8523
@hrwX at line 38 we are already moving phone number and in the block which is meant for mobile number we are again moving phone number making it entered twice. When we ran migration all our phone numbers were entered twice in the contact table.

[2019-10-01 20:33] krnkris commented on #8361
Any help would be greatly appreciate

[2019-10-02 02:52] surajshetty3416 commented on #8386
The issue has been fixed with [this PR](https://github.com/frappe/frappe/pull/8480)

[2019-10-02 02:52] #8386 closed, assigned to nobody

[2019-10-02 07:30] doniafrizal commented on #19205
Waiting this fix. Really need this

[2019-10-02 08:39] #1621 closed

[2019-10-02 09:18] #8439 closed, assigned to nobody

[2019-10-03 09:27] doniafrizal commented on #7822
the PR already closed? how to open it?

[2019-10-06 10:47] ahmedfme opened #8556 "[frappe-install] No module named 'frappe')"
I have Mojave 10.14.6 (18G103)
I tried to setup as described but failed ,
here is the full log

[code]

[2019-10-06 21:33] stephtr commented on #8257
Thanks, I look forward for it to land in the development branch. It would be still nice though it the according input field would be automatically filled (and be read-only), otherwise it is very hard to find the correct value.

[2019-10-06 22:26] mohamedyasser commented on #8556
same error

[2019-10-08 06:51] srdgame opened #8562 "User welcome email link ignored X-Forwarded-Host"
There is an api gateway (written in node) which forwarding user request to Frappe.  The gateway setup the X-Forwarded-Host when doing the proxy_pass (to server ip not domain).  Thus the welcome email been sent with Frappe server ip (the internal ip), but not the X-Forwarded-Host.

[2019-10-08 10:44] ioweb-gr commented on #14768
I just found a relevant request to this one https://github.com/frappe/manual_erpnext_com/issues/52#issue-141896613

[2019-10-09 09:24] joelios opened #8576 "Heatmap in Activity doesn't show any values"

[2019-10-10 03:23] thomasoceguera commented on #11218
This is still an issue with the latest install of version 12 as of this morning.  I've verified all permissions are correct and even created another user with only the basic needed permissions required with no success.  The ave button is still missing.

[2019-10-11 14:05] nick9822 commented on #8523
#8525 fix merged.

[2019-10-11 14:05] #8523 closed, assigned to hrwX

[2019-10-12 06:28] #6674 closed

[2019-10-12 06:29] #4030 closed

[2019-10-12 06:29] #3212 closed

[2019-10-12 06:29] gavindsouza commented on #3212
closing due to inactivity

[2019-10-12 06:29] gavindsouza commented on #4030
closing due to inactivity

[2019-10-12 06:30] gavindsouza commented on #6674
closing due to inactivity

[2019-10-12 06:33] gavindsouza commented on #6674
@pipech is this issue still replicable? if yes, checkout our [Security guidelines](https://erpnext.com/security)

[2019-10-12 07:28] #7002 closed

[2019-10-12 07:32] hrwX commented on #8070
Fixed.

[2019-10-12 07:32] #8070 closed, assigned to nobody

[2019-10-13 05:09] gavindsouza commented on #1716
seems like we've already decided the code style now, at this point. For future references, https://github.com/frappe/erpnext/wiki/Coding-Standards

[2019-10-13 05:09] #1716 closed

[2019-10-13 05:13] gavindsouza commented on #1805
This can be easily done with the currently supported versions. Even updating the `title_field` and `docname` are now supported since https://github.com/frappe/frappe/pull/8559

[2019-10-13 05:13] #1805 closed

[2019-10-13 05:26] gavindsouza commented on #685
fixing the current Roles and Permissions implementation could reduce all the clutter under user settings and perhaps give a better visual understanding of the roles. For an instance handling a larger number of roles and users, this could be essential. We could also use `NestedSet` for the tree implementation now.

[2019-10-13 05:28] gavindsouza commented on #866
Closing this due to inactivity.

[2019-10-13 05:28] #866 closed

[2019-10-13 05:29] gavindsouza commented on #1457
Closing this due to inactivity

[2019-10-13 05:29] #1457 closed

[2019-10-13 05:34] gavindsouza commented on #1854
The print previewer is now fixed. Also, the "Print" option now provides a faster option for smaller documents rather than "PDF" which is more suited for multi page documents. However, there is a _check_ under `Print Settings` that enables server side print rendering through "Print" as well.

[2019-10-13 05:34] #1854 closed

[2019-10-13 05:34] gavindsouza commented on #1955
Closing this because it's fixed

[2019-10-13 05:34] #1955 closed

[2019-10-13 05:36] gavindsouza commented on #2379
Okay let's do this.

[2019-10-13 05:36] #2379 closed

[2019-10-13 05:39] gavindsouza commented on #2619
Closing this due to inactivity. If you still face the issue, raise a new one.

[2019-10-13 05:39] #2619 closed

[2019-10-13 05:41] gavindsouza commented on #2582
Closing this due to inactivity. If you still face the issue, raise a new one.

[2019-10-13 05:41] #2582 closed

[2019-10-13 05:48] gavindsouza commented on #3956
Let's track this at #5937

[2019-10-13 05:48] #3956 closed

[2019-10-13 05:49] gavindsouza commented on #2640
Closing this due to inactivity. If you still face the issue, raise a new one.

[2019-10-13 05:49] #2640 closed

[2019-10-13 05:57] gavindsouza commented on #4150
@netchampfaris ~ID~ => `Name` seems apt

[2019-10-13 07:18] #4248 closed

[2019-10-13 07:21] gavindsouza commented on #2382
Closing this due to inactivity.

[2019-10-13 07:21] #2382 closed

[2019-10-13 07:31] gavindsouza commented on #1804
Closing due to inactivity. Create a new issue with an updated feature requests if any 👍

[2019-10-13 07:31] #1804 closed

[2019-10-13 17:33] KanchanChauhan opened #8597 "Wrong Currency Symbol in Report View"
In Report view for example Sales Invoice, if the currency is different from Company Currency, the Total (Company Curreny), Grand (Company Currency) is not showing correctly.

Here Company Currency is RON (lei):
<img width="969" alt="Screen Shot 2019-10-13 at 10 31 58 PM" src="https://user-images.githubusercontent.com/16913064/66719429-39031680-ee0d-11e9-972f-7dc13c7a3274.png">

But in the report v

[2019-10-13 17:34] KanchanChauhan commented on #8597
@netchampfaris Any pointers where to fix it will be great, I am trying but could not find where currency symbol is being set.

[2019-10-14 07:03] krnkris commented on #8361
Up!
Any help would be appreciated.

[code]

[code]
Installed Apps
ERPNext: v12.1.6 (version-12)

Frappe Framework: v12.0.16 (version-12)

[2019-10-14 08:57] gavindsouza commented on #1245
Closing due to inactivity. Open a new issue if it's still replicable.

[2019-10-14 08:57] #1245 closed

[2019-10-14 09:00] gavindsouza commented on #1345
Closing due to inactivity. Open a new issue if it's still replicable.

[2019-10-14 09:00] #1345 closed

[2019-10-14 09:01] gavindsouza commented on #2581
Closing due to inactivity. Open a new issue if it's still replicable.

[2019-10-14 09:01] #2581 closed

[2019-10-14 09:02] gavindsouza commented on #2604
Closing due to inactivity. Open a new issue if issue exists in current version.

[2019-10-14 09:02] #2604 closed

[2019-10-14 09:03] gavindsouza commented on #7003
Closing due to inactivity. Open a new issue if issue exists in current version.

[2019-10-14 09:03] #7003 closed

[2019-10-14 09:15] gavindsouza commented on #4105
Closing issue due to inactivity. Please open a new issue if the issue persists in the current versions.

[2019-10-14 09:16] #4972 closed

[2019-10-14 09:18] gavindsouza commented on #4933
Closing issue due to inactivity. Please open a new issue if the issue persists in the current versions.

[2019-10-14 09:18] #4933 closed

[2019-10-14 09:19] gavindsouza commented on #4896
Closing issue due to inactivity. Please open a new issue if the issue persists in the current versions.

[2019-10-14 09:19] #4896 closed

[2019-10-14 10:20] pipech commented on #6674
It still replicable on version 12 and I've just reported to https://erpnext.com/security

[2019-10-14 12:17] hizbul25 opened #8600 "Can't install frappe"
I am following frappe installation guideline.
Whenever I run: `bench init frappe-bench`

it showing:

`bench.utils.CommandFailedError: env/bin/pip -q install -e git+https://github.com/frappe/python-pdfkit.git#egg=pdfkit`

as a result i couldn't move to further step.

OS: Mac OSX, Python3.7

[2019-10-14 12:30] gavindsouza commented on #8600
@hizbul25 can't replicate the issue. Any more info about your env?

[2019-10-14 12:42] hizbul25 commented on #8600
Frappe Version: 4.1.0
Complete error:

MacBook-Pro-2:Development eskimi$ bench init erpnext
INFO:bench.utils:virtualenv -q env -p /usr/local/bin/python3
Already using interpreter /usr/local/opt/python/bin/python3.7
INFO:bench.utils:env/bin/pip -q install --upgrade pip
INFO:bench.utils:env/bin/pip -q install wheel
INFO:bench.utils:env/bin/pip -q install six
INFO:bench.utils:env/bin/pip -q install -

[2019-10-15 05:17] #6288 closed

[2019-10-15 05:19] gavindsouza commented on #6291
Closing due to inactivity. Open a new issue if persists in the supported versions.

[2019-10-15 05:19] #6291 closed

[2019-10-15 06:09] vamagithub commented on #8597
can you post Frappe and ERPNext Version which you are using?
Works with version 11 and 12 (both frappe and erpnext )
As you can see in the image, company's currency is INR and customer is American (USD)
Check out columns **Grand Total**  and **Total Columns**
![v12Currecny](https://user-images.githubusercontent.com/16986940/66806053-2dfed200-ef44-11e9-9637-1b0fab4cd791.png)

[2019-10-15 06:40] zuron7 opened #8602 "Help Article - Guest View works after disabling"
## Description of the issue
Module: Website
Doctype: Help Article and Help Category
Use Case: Internal Wiki
Problem: The knowledge base article is always accessible by guests despite unchecking the box which says "Allow Guest to View" in the DocType.
![image](https://user-images.githubusercontent.com/7473369/66805293-3ce48500-ef42-11e9-902e-3705ec1739b1.png)
This is the Help Article (route: kb/cat

[2019-10-15 06:43] zuron7 commented on #8602
https://github.com/frappe/frappe/blob/develop/frappe/website/doctype/help_article/help_article.py

I think the bug is in Lines 32 -41 in the above file. Not too sure since I'm just getting familiarized with the code base.

[2019-10-15 07:06] hizbul25 commented on #8556
I am getting the same issue. Did you get any solution?

[2019-10-15 12:31] KanchanChauhan commented on #8597
@vamagithub Issue appears when you have a mutli company set up with a different currency. I am on v12 for both Frappe and ERPNext.

[2019-10-15 17:20] clarkejj commented on #8600
error: [Errno 13] Permission denied

This suggests a user account environment issue  - please post this to discuss.erpnext.com for troubleshooting advice.

[2019-10-15 17:20] #8600 closed, assigned to nobody

[2019-10-16 02:19] vamagithub opened #8608 "Image upload through a weblink throws error while saving an Item"
## Description of the issue
While creating a new Item with an image (uploaded via weblink ) gives an error.

**Version**
`bench` - `4.1.0`
`frappe` - `v11`
`erpnext` - `v11`
`os` - `Ubuntu 18.04.3 LTS`

## Steps to reproduce the issue
1. create a new Item
2. upload an image for the item using weblink option
3. try to save it.

### Stacktrace / full error message
[code]

[2019-10-16 02:47] vamagithub commented on #8608
[Pull Request](https://github.com/frappe/frappe/pull/8609)

[2019-10-16 05:41] Thangamani opened #8610 "GSTR1 - TypeError argument of type 'NONETYPE' is not iterable"
While executing GSTR1 got an error as  TypeError argument of type 'NONETYPE' is not iterable

 File "/home/frappe/frappe-bench/apps/frappe/frappe/app.py", line 60, in application
    response = frappe.api.handle()
  File "/home/frappe/frappe-bench/apps/frappe/frappe/api.py", line 55, in handle
    return frappe.handler.handle()
  File "/home/frappe/frappe-bench/apps/frappe/frappe/handler.py", line

[2019-10-16 06:21] gavindsouza commented on #8238
hey @africlouds can you share the traceback? can't replicate it on the latest bench. Closing this for now.

[2019-10-16 06:21] #8238 closed

[2019-10-16 09:35] gavindsouza commented on #2471
Seems like this issue was over the past few versions. Closing this issue due to inactivity.

[2019-10-16 09:35] #2471 closed

[2019-10-16 09:59] gavindsouza commented on #6166
Seems like this issue doesn't persist anymore. If you come across it in the current versions, please raise an issue

[2019-10-16 09:59] #6166 closed

[2019-10-16 11:35] joelios opened #8626 "JS error on creating new custom script"
Js error:

[code]

Frappe 12.1.6, ERPNext 12.0.16

[2019-10-17 04:22] mnatalia opened #8616 "Share documents are shown in form list but not in form"

[2019-10-17 15:09] joelios opened #8625 "Leaderboard"
`[Vue warn]: Unknown custom element: <energy-point-history> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

found in

---> <UserList> at /home/frappe/frappe-bench/apps/frappe/frappe/public/js/frappe/social/pages/UserList.vue
       <Home> at /home/frappe/frappe-bench/apps/frappe/frappe/public/js/frappe/social/Home.vue
         <Root>`

[2019-10-17 15:25] joelios commented on #8625
Seen in console log after open leaderboard.

Frappe 12.1.6, ERPNext 12.0.16

[2019-10-18 00:06] clarkejj commented on #8361
See this discussion https://discuss.erpnext.com/t/error-log-in-email-account-every-4-minutes/53749

See also this report https://github.com/frappe/frappe/issues/8058
and associated fix https://github.com/frappe/frappe/pull/8061

[2019-10-18 03:08] mnatalia opened #8617 "Dashboard are not shown when using browser back button"
Steps to reproduce:
Open Employee document
Push `+` near Leave Application
On the Leave Application page push browser button `back`.
Check Employee dashboard

[2019-10-18 04:02] gavindsouza commented on #8250
@mudux We can already rearrange the modules in desk by drag and drop. Let me know if this helps.

[2019-10-18 07:49] krnkris commented on #8361
@clarkej

I checked the problematic emails subjects are:
- [@Mail] Érdeklődés
- Újítsd meg hirdetésed!
- [@Mail] Térköves szerszàm

The subjects not cusing problems:
- PgBouncer 1.12.0 released
- pgAdmin 4 v4.14 released

It seems the Hungarian letters fails on chardet.
https://en.wikipedia.org/wiki/Hungarian_alphabet

Can someone help on this?

[2019-10-18 08:25] mariotruss opened #8624 "Feature: Better UI for List-View: More Space, Customize Column Width & more"
As a User, I would want to be able to customize the list-view to my personal needs and improve the UI by adding some visual navigation elements.
Each numbered is visually referenced in the attached image.

![1_to_9 notes](https://user-images.githubusercontent.com/24277433/67077753-29c6f480-f190-11e9-86e6-7259d67d7d36.png)

- [x] Be able to adjust number of columns e.g. more than 5 columns as of no

[2019-10-18 08:26] mariotruss opened #8623 "Bug: List View Update is displayed wrong"
When new entry is created via API and you look at the list-view, entries are added and showing more result that chosen in the results setting e.g. 20 | 50 | 200
We have chosen 20 results as settings, but due to the update, 23 entries are visible. This should be updated automatically.

![9](https://user-images.githubusercontent.com/24277433/67078489-ad351580-f191-11e9-9d5b-f43d4b76ac06.png)

[2019-10-18 09:56] mudux commented on #8250
@gavindsouza Thanks for the info.
The drag and drop functionality is all good and works like a charm.
However the functionality I am referring to is the ability to reorganize the four main categories ('Modules', 'Domains', 'Places', 'Administration') and even be able to rename them altogether.

[2019-10-18 11:10] flatline-studios commented on #8280
This. Just spent an hour trying to resolve it (guess I should've use the --verbose option sooner).

Why is this a requirement?

[2019-10-18 16:36] shahnawaz-pabon opened #8620 "Instant Capture user's image from webcam"
I started using erpnext from few months back. Without any doubt this is really a life changing project I have ever used.
Into the user's profile (i.e patient's profile or practitioner's profile) there is a profile picture area. When this field is clicked one pop up window would appear. This field allows only to attach picture from local computer or external url. So I think there need to be an extr

[2019-10-18 16:43] #8620 closed, assigned to nobody

[2019-10-19 17:26] clarkejj commented on #8623
Please post your observations on discuss too for all to benefit and respond to help resolve this.

To relate both conversations be sure to add cross links here and there too.

[2019-10-20 06:21] #8576 closed, assigned to nobody

[2019-10-20 19:23] SaiFi0102 commented on #6588
I have a solution in my fork. Not sure if it'll get merged. Can you post this on discuss?

[2019-10-21 05:12] Mitchy25 commented on #8190
I believe the function now is:

[code]

You may need to update your app :)

[2019-10-22 07:02] OnlineAlone opened #8638 "Commands Clarification"
Please clarify which commands should be executed as 'frappe' user.
Under the manual installation guide in wiki page
[https://github.com/frappe/frappe/wiki/The-Hitchhiker%27s-Guide-to-Installing-Frappe-on-Linux](url)

[2019-10-22 16:56] surajshetty3416 commented on #8093
We tried to create a new site using Postgres DB and it seems to be working properly.

https://github.com/frappe/frappe/pull/8132 this pull request might have fixed the issue with duplicate index creation.

@madmath03 Please reopen if you are still facing this issue.

[2019-10-22 16:56] #8093 closed, assigned to surajshetty3416

[2019-10-22 20:41] madmim opened #8651 "[frappe install] command not found"
Description of the issue
I'm using the Hitchhikers Guide to installing Frappe on MaxOSX https://github.com/frappe/frappe/wiki/The-Hitchhiker's-Guide-to-Installing-Frappe-on-Mac-OS-X#tried-and-tested. I'm running High Sierra 10.13.6
I successfully installed MariaDB, Redis, and Node. When I tried the next step to edit the mariadb configuration (after copy/pasting mate /usr/local/etc/my.cnf) I got th

[2019-10-23 02:27] conncampbell opened #8652 "Web form child table new rows don't save"
## Description of the issue
When adding a new row to a child table, the row is not saved when the form is saved.

## Context information (for bug reports)
N/A

**Output of `bench version`**
erpnext 12.x.x-develop
frappe 12.x.x-develop

## Steps to reproduce the issue
1. Enable Non-profit module
2. using webform edit volunteer profile
3. attempt to add skills

### Observed result
no skills record i

[2019-10-23 02:47] adityahase commented on #8651
You can install [TextMate](https://macromates.com/) or use any other text editor

[2019-10-23 02:47] #8651 closed, assigned to nobody

[2019-10-23 03:15] surajshetty3416 commented on #8218
@pavan-shipmnts We are already including sourcemaps in production.

https://github.com/frappe/frappe/blob/develop/rollup/config.js#L104

[2019-10-23 04:29] #8218 closed, assigned to nobody

[2019-10-23 13:20] Suprazz opened #14811 "Primary email not selected when sending email. 12.1.6"
By default the primary email was selected when we sent email for delivery note or sales order/invoice and purchase order/invoice.

Now with the latest version the "To" field is always empty when we want to send an email. We have to manually start typing the email address and it appears.

[2019-10-23 15:36] flexy2ky opened #8661 "Bug: No module named 'erpnext.accounts.notification.expense_claim_request.expense_claim_request'"
The Error shows up when trying to submit an expense claim. Full traceback below:

This bug surfaced after updating to the latest version. Version info below:

ERPNext: v12.1.6 (version-12)
Frappe Framework: v12.0.16 (version-12)

[2019-10-24 07:41] gavindsouza commented on #8258
@rmehta any thoughts on this?

[2019-10-24 10:48] gavindsouza commented on #1048
We now have `Geolocation` which utilizes `leaflet.js`. Closing this due to inactivity.

[2019-10-24 10:52] gavindsouza commented on #2212
Hey @forellana-digithinkit, thanks for raising this. It is currently documented under https://frappe.io/docs/user/en/guides/basics/translations. Closing this issue now.

[2019-10-24 10:52] #2212 closed

[2019-10-24 14:58] Olawale1 opened #8673 "Desk Cards are not shown based on permitted documents for user"
Hi ,

Currently, all modules are visible to all users regardless of whether or not they have permissions for any doctype within the modules. I’ve spent days trying to check if it’s just a bug affecting one instance but so far I’ve tried 3 different instances (both new installations and upgrades from previous versions) with the same results

It’s horrible UX for someone who only interacts with a co

[2019-10-24 19:20] gavindsouza commented on #6883
this problem is a yarn dependency issue that "sometimes" occurs. If everything looks fine on bench start and your sites' work well, nothing to worry about. Else, run `yarn` command under `apps/frappe`. That should do the job.

[2019-10-25 00:48] fahimalizain opened #8677 "Clear Cache Fails (redis error)"
## Description of the issue
Throws a redis error while clearing cache
This is after updating to the latest versions mentioned below
I had to edit `frappe.desk.notifications.get_notification_config` to return the value bypassing redis to get it working for now

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Update to latest version
2. bench --site all clear-cache and clea

[2019-10-25 03:13] Thunderbottom commented on #8677
a workaround for this would be to flush the redis cache through the console for now:

`frappe.cache().flushall()`

[2019-10-25 04:58] barredterra opened #8678 "Login works from (probably) any URL"
Calling this URL works to log me in (but not to call `my_app.my_module.some.whitelisted.method`):

`https://my.erpnext.com/api/method/my_app.my_module.some.whitelisted.method?apples=4&bananas=5&cmd=login&usr=mail@example.org&pwd=my_pass`

IMHO, login should only work from specific endpoints and not interfere with other methods. Or, maybe better, perform the login but still execute the intended met

[2019-10-25 06:58] hrwX commented on #8626
@joelios Can you share the custom script? Its kinda hard to figure out just from the Error

[2019-10-25 07:29] alias commented on #8677
Happens since fc5b712a3c8e433ae159970ccee7a4bb2af81553 !

[2019-10-25 13:04] Thunderbottom commented on #8677
Yes, it happens because the value type that the key holds has changed and the old cache cannot process the value. Clearing the redis cache should fix this issue for now.

[2019-10-26 18:44] clarkejj commented on #14862
To post this to discuss will benefit and inform the whole community who may help expedite a fix!

[2019-10-27 11:28] toofun666 opened #8688 "Currency control must be fixed for countries using , for decimals!"
This code change made all currency fields using , for decimals unusable!

Please make sure you have enough business knowledge before attempting such a substantial change! A simple Excel pasting problem is bringing all the systems down!

Please revert this ASAP!

[2019-10-28 08:46] joelios commented on #8626
@hrwX
It doesn't matter what type of custom script is entered.
The JS Error occurs each time the DocType "Custom Script" is saved.

[2019-10-29 03:07] barredterra opened #8693 "[bug] whitelisted method receives only body or params"
## Description of the issue

Whitelisted method receives only body OR parameters.

## Context information (for bug reports)

ERPNext / Frappe v11

## Steps to reproduce the issue

[code]

[code]

[code]

[code]

[2019-10-29 03:59] barredterra commented on #8693
### Workaround

In the last scenario, I can still get `param2` by doing

[code]

[2019-10-29 06:53] tejpochiraju commented on #8677
Seems to be fixed in tag: v12.1.8, update went through OK for me and as per [report here](https://github.com/frappe/erpnext/issues/19414#issuecomment-546614190).

[2019-10-29 14:35] krnkris commented on #8361
Max be this emis related, let’s see:

https://github.com/frappe/erpnext/issues/17536

[2019-10-29 16:23] #8677 closed, assigned to nobody

[2019-10-29 19:53] ioweb-gr opened #8714 "PDF Filename is broken when saving if it contains UTF-8 characters"
## Description of the issue
When trying to save a PDF using python 3 the filename is broken if it contains UTF-8 characters.
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue
For example
1. create an invoice naming series called "ΤΠΥ"
2. then create an invoice in this series
3. try to save the PDF

### Observed result
filename is broken

[2019-10-29 21:01] ioweb-gr commented on #8714
Let me share some additional relevant headers that I saw.
[code]

It seems that the Content-Disposition header is not correctly set for UTF8 Characters. Modern browsers will support the filename* option which can allow for a utf8 filename as well as a fallback filename.

Could anyone point me to where this header is set in the app so I can further test?

[2019-10-29 21:21] ioweb-gr commented on #8714
Never mind I have a solution in local. It's related to frappe so I'll open a pull request there.

[2019-10-30 12:09] revant commented on #8257
@stephtr

Auto fill makes sense. Populating it dynamically as per selected providers and also as per custom provider is a challenge. So kept it part of config

I kept it editable because you can have a custom callback from custom app instead of standard callback where you can also process/cache token if needed.

[2019-10-31 11:57] phpmathan opened #8724 "Feature Request: File attach using web link - option to enter file name"
We've an option to use web links in "Upload Attachment" modal window, but there is no option to enter the file name, so when we upload lot of links, locating the file is not easy (in corresponding document and also in File Manager) because of unreadable links.

I request you to add an option to enter file name along with web link, and also list the used file names in document left side bar (in "At

[2019-10-31 12:06] gavindsouza commented on #8726
I think @Anurag810 is working on a new calendar. Could probably help with these suggestions?

[2019-10-31 12:06] Devens opened #8726 "Options in Default Calendar"
- [x] 1. Today's date should be highlighted.
- [ ] 2. Buttons for "Today", "Tomorrow" (There can be more option list also).

[2019-10-31 12:08] gavindsouza commented on #8727
Well, confirmation now exists. Not sure when this was added but 🍺

[2019-10-31 12:08] Devens opened #8727 "Confirmation before Deleting comment"
One can click on delete comment by mistake. We suggest to have confirmation before permanently deleting the same.

![image](https://cloud.githubusercontent.com/assets/10671911/12473868/1c395e36-c03c-11e5-98f5-2e80578be38c.png)

[2019-10-31 12:08] #8727 closed

[2019-10-31 12:14] gavindsouza commented on #8728
I think this has been fixed sometime down the line. Also, we have an awesome new Data Import here at #8310

[2019-10-31 12:14] #8728 closed

[2019-10-31 12:18] gavindsouza commented on #8626
@joelios probably sharing a screenshot would help give us some context

[2019-10-31 12:20] gavindsouza commented on #8528
there's already an issue at #8258 for the same. This probably needs some discussion.

[2019-10-31 12:20] #8528 closed, assigned to nobody

[2019-10-31 12:22] Priyanka-Rahi opened #8729 "Customized filename for PDFs"
Can we have a customized file name for PDFs (which are generated in PO or SO like PO-0001.pdf) when we click on download button in print format.

[2019-10-31 12:36] joelios commented on #8626
@gavindsouza @hrwX here you are...

![grafik](https://user-images.githubusercontent.com/26505401/67947212-71636c80-fbe3-11e9-9be3-08abd00c99cf.png)

[2019-10-31 14:30] ci2014 commented on #4467
I didn't have problems with margins in later versions, so, for now, I will close this issue.

[2019-10-31 15:06] Anurag810 commented on #8726
@Devens can you explain the use it would be added in new calendar if feasible.

[2019-10-31 15:07] Anurag810 commented on #8726
And which kind of option you want

[2019-10-31 15:52] tejpochiraju commented on #8677
I am not clear on how Frappe applies updates. However, on a different server that had not been upgraded, `bench update` failed the first time and I had to manually call `frappe.cache().flushall()` in a console before the update went through the second time.

[2019-10-31 17:22] #8332 closed, assigned to nobody

[2019-11-01 08:20] #8257 closed, assigned to revant

[2019-11-01 10:04] mloDev opened #8736 "API HTTP PUT error -> not 'NoneType'"
Traceback (most recent call last):
  File "/home/frappe/bench-repo/apps/frappe/frappe/app.py", line 60, in application
    response = frappe.api.handle()
  File "/home/frappe/bench-repo/apps/frappe/frappe/api.py", line 84, in handle
    data = json.loads(frappe.local.form_dict.data)
  File "/usr/lib/python3.6/json/__init__.py", line 348, in loads
    'not {!r}'.format(s.__class__.__name__))
TypeEr

[2019-11-01 18:56] paurosello opened #8739 "Error Login due to translations"
## Description of the issue
I cannot see the login page due to error code whe using Catalan language although It will happen with other languages too.

## Context information (for bug reports)
**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Select catalan language as primary in your browser
2. Navigate to login page

### Observed result
Blank login page
![image](https://u

[2019-11-02 19:25] ci2014 opened #8744 "Can't use @ symbol when viewing a list"
Since updating to v12 which introduced the shortcut feature, I can't type @ when viewing something in list view.

I can type @ to the awesome bar when I am in a form or at the desk, however as soon as I am in list view, I can not use it for anything. Not for the awesome bar, not for the filters, not for quick entry.

I am working on Mac.

The reason is that ALT+L makes the @ symbol on Mac, but Fra

[2019-11-03 07:16] netchampfaris commented on #8608
@vamagithub I have tried replicating this issue, but it worked without throwing an error.

Tried these version combinations:

1. Version 12 on Python 3
1. Version 11 on Python 3
1. Version 12 on Python 2
1. Version 11 on Python 2

[2019-11-03 09:55] #8714 closed, assigned to nobody

[2019-11-03 11:13] knimer opened #8751 "[V11] Letterhead not displayed properly in Print Preview"
## Description of the issue

When trying to edit the Letterhead, I am getting this when I preview my HTML in any browser:
![image](https://user-images.githubusercontent.com/32583831/68084098-973e7a80-fe4a-11e9-85ea-9e517d127854.png)

This is the result of this HTML:

[code]

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Open a L

[2019-11-03 12:30] vamagithub commented on #8608
@netchampfaris
Works fine with Version -12
But on Version 11 - Python 3 when i upload the image through **weblink** throws error

[2019-11-03 13:05] vamagithub commented on #8608
![itemDT](https://user-images.githubusercontent.com/16986940/68085580-6b31f200-fe68-11e9-8aae-422824c90099.gif)

[2019-11-04 08:32] #4150 closed

[2019-11-04 16:48] barredterra commented on #14095
@rmehta:

Check with @karthikeyan5

[2019-11-05 15:07] fotocreaman commented on #14634
Is there a solution for this?

[2019-11-06 08:17] vorasmit opened #18508 "V12 List View Filter from Item Table within DocType"
## Description of the issue

- Number of results in List View after applying filter is based on original filter.
- In below attached image view is available only for 4 out of 359 results, but minimum 20 items after filter should be viewable.
- Also More button to view more items in filter is vanished after filter.

![Annotation 2019-11-06 125826](https://user-images.githubusercontent.com/10496564/

[2019-11-06 10:08] AminovE99 opened #8768 "The resource you are looking for is not available(404 error)"
## Description of the issue
I develop one application on frappe framework and take this error, when try to make `frappe.call` to server side. Server logs has been show that it can't to find the `method` by my path, but `bench execute <my_path>` succesfully find it.

When I tried download previous version of frappe (which was commited 20 days ago) I have succesfully execution `frappe.call` function

[2019-11-08 11:24] derekmontgomery opened #18509 "Can not add Tools Desktop Icon for a User"
When trying to add the Desktop Icon "Tools" for a User, it does not work.  The checkbox accepts the addition, and the new list is saved, but the user's desktop does not change.  When the cache is refreshed, the Desktop icon list reverts back to Not Checked for the Tools button.

The user also does not receive email notifications of assignments.

[2019-11-09 08:43] Olawale1 opened #18510 "Issues with PDF in V12"
Hi ,

We are encountering issues with PDF in V12 and it seems it's because of the new scrolling feature in print formats. In previous versions, the PDF Print for wider tables would shrink the content to fit in the page. Now, the content gets cut-off! Please see below:

![Scrolling Issue 1](https://user-images.githubusercontent.com/9269337/68525749-31804180-02d5-11ea-9ee7-50925a0a1ecd.png)
![Scroll

[2019-11-09 16:32] alias opened #8779 "bench rebuild-global-search fails on single doctypes"
When /frappe/utils/global_search.py comes across a single table, the call to frappe.get_all(...) fails.

## Steps to reproduce the issue

install erpnext f12.x.x on frappe 12.x.x
run bench rebuild-global-search
--> it will fail in a erpnext single table (like "'Quick Stock Balance")

### Stacktrace / full error message

[code]
### quick fix:
I added a
`if (cint(meta.issingle) == 1):
		return
`

to

[2019-11-09 17:26] Olawale1 opened #18511 "User Permissions should be required (unless specifically activated)"
Hi ,

The new permission structure still needs some work in order to make it user friendly but I think the most urgent need right now is to close a very obvious loophole that currently exists

In the old permission structure, there was the option to give document access to a role 'IF' certain linked doctypes were allowed for the user. With the new permission structure, you grant the role access to

[2019-11-09 21:29] conncampbell opened #8781 "Read-only table fields are editable"
## Description of the issue
Document child tables marked read-only are editable and changes are persisted to the database.

## Context information (for bug reports)
Frappe v12.0.18 running on CentOS.  Browser Firefox or Chrome.

## Steps to reproduce the issue

1. Create a document with a child table
2. Create a new document with child records.
3. Edit document schema and mark it read-only either

[2019-11-09 21:43] conncampbell commented on #8781
On further review, the solution should instead update the methods allow_on_grid_editing and is_editable:

allow_on_grid_editing() {
		if(frappe.utils.is_xs()) {
			return false;
		} else if(!this.is_editable()) {
			return false;
		} else if(this.meta && this.meta.editable_grid || !this.meta) {
			return true;
		} else {
			return false;
		}
	}
is_editable() {
		return this.display_status=="Write"

[2019-11-09 22:33] conncampbell commented on #8781
Hmm...scratch that solution.  It appears the grid needs move work to make it read only.

We can at least block changes to read-only fields on the back end web_form.py accept method:

[code]

[2019-11-10 09:57] wojosc commented on #18509
we encountered something similar. Try recreating user account.

[2019-11-10 10:04] adityaduggal commented on #685
This issue is too old and with the changes in the v11 it basically has mainly resolved many issues related to it and hence closing it for no activity.

[2019-11-10 10:04] #685 closed

[2019-11-12 07:12] ophl55 commented on #18510
Can you pleased check your wkhtmltopdf version?

`$ wkhtmltopdf --version`

[2019-11-12 07:17] Olawale1 commented on #18510
0.12.5 (with patched qt)

[2019-11-12 08:58] dottenbr opened #8791 "Release Note Modal Width"
In V12 the release note width seems to have been made more narrow and it actually makes them a bit awkward to read. The width should be responsive.

![image](https://user-images.githubusercontent.com/9136094/68656737-aac8a000-0532-11ea-8cd2-e5b1242776f5.png)

[2019-11-12 13:10] nick9822 opened #8796 "Logged in user can not create record using web form"
Logged in user is unable to create a record using web form, script loads the last saved record in the edit mode even though `allow_edit` is set to `False`

https://github.com/frappe/frappe/blob/420c56bca065ccd9a703ac8139fea85c2673f4a2/frappe/public/js/frappe/web_form/webform_script.js#L55-L57

this seems to be the problem, `web_form_doc` does not have `doc_name` attribute.
![image](https://user-im

[2019-11-13 07:23] asoral opened #18512 "IP Restriction not working in v12 as desired"
I am also getting the same issue with ERPNext v12. I have 80 users out of which I am using 2 users from my office. These two users have "restrict Ip ~" fieldset as blank while the other 78 users have two IPs set in their respective fields. While these 78 users are able to log in from these IPs, my 2 users who don't have any restrictions are also not allowed to login from my office ID or mobile. I

[2019-11-13 13:04] hizbul25 opened #8807 "Data insert issue from API"
If I follow the default code for `insert` operation I found empty object from `erpnext` end.

**PHP**
[code]

**Return:**

[code]

When I modify `php` code little bit,:
`json_encode(['data' => $params['data']])`

I am getting form value along with following error:
[code]

Other hand while i try connect this api using https://github.com/frappe/frappe-client it works fine and from posted data seems

[2019-11-13 14:13] clarkejj commented on #18512
https://discuss.erpnext.com/t/access-not-allowed-from-this-ip-address/53459/10

[2019-11-13 14:32] krnkris commented on #8361
Thank you , make my today happy.

Finally updated my system to UBUNTU 18.04,
tough it helps.
Nothing changed.

Dig it to charset in mysql database.

I had to allow in mariadb.cnf the # out lines and let set the charset to

[mysqld]

charser-set-server=utf8mb4 (it was utf8)
collation-server=utf8mb4_unicode_ci (it was general_ci)

Now it works!
No more error in list.

Please close this subject.

[2019-11-13 22:40] madmath03 opened #8809 "JUnit XML Reporting not working on Frappe 11+ / Python 3+"
## Description of the issue

The option `--junit-xml-output` from https://github.com/frappe/frappe/commit/d07e6759a18058952e9664c9bbd0bc2bd5e0c978 does not work on Frappe 11 and higher.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Simply execute `bench run-tests --app frappe --junit-xml-output frappe_unit_tests.xml`

### Obser

[2019-11-14 06:40] ophl55 commented on #18510
Okay, the version ist correct.

[2019-11-14 07:41] Olawale1 commented on #18510
Yes. I suspect the issue is from the styling for the scrolling feature. I got around it by directly setting the zoom in the print format. Ideally, it should resize automatically

[2019-11-15 07:00] asoral opened #18513 "Report Saving Doesn't retain the grouping"
## Description of the issue
Report Saving Doesn't retain the grouping

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

I am using v12, I opened by Issue Screen, then I went to the Report Builder from the list view > applied filters > then added a group by. I then saved the report in my custom reports. I then refreshed the screen and

[2019-11-16 11:32] sagar-bhogayata opened #8827 "[v12] TypeError: add_comment() takes exactly 4 arguments (0 given)"
## Description of the issue

- [v12] TypeError: add_comment() takes exactly 4 arguments (0 given) while saving or inserting any document in ERPNext

- This error appear after switching v11 to v12

## Context information (for bug reports)

**Output of `bench version`**
[code]

### Observed result
Document not saving
### Stacktrace / full error message

[code]

## Additional information

OS version

[2019-11-17 04:10] maxwelljvogel opened #18514 "Website contact form submissions are not sent to the "Forward To Email Address""
## Description of the issue
When a website visitor submits the contact form, an entry is added under communication, but no email is sent to the "Forward To Email Address" (Contact Us Settings).

## Context information (for bug reports)
In prior releases, the python function below was found in contact.py:
[code]
This function was removed as its had issues of its own:
Though the frappe.sendmail woul

[2019-11-17 20:57] amutaher commented on #8652
I have the same issue

[2019-11-18 15:36] whoabuddy opened #14632 "Sales Invoice DocType CSS Applied to All Pages in ERP"
## Description of the issue

When updating Custom CSS for the Sales Invoice DocType, the changes are applied throughout the ERP, rather than just under the scope of the DocType.

In my case, this led to difficult-to-read headings (H4) and some text that changed sizes in places I did not expect, such as the main desk and under areas like Print Format Builder.

This issue was present in V11 as well.

[2019-11-18 18:59] amutaher opened #8932 "Data not saved in web form child table"
I have a child table in job application webform when an applicant entering data and save it, data in child table not saving in database

[2019-11-19 07:33] netchampfaris commented on #8608
@vamagithub

![upload-image-to-item](https://user-images.githubusercontent.com/9355208/69125908-ee8c4e00-0acc-11ea-847d-605e10320ab7.gif)

Tested on Version 11 on Python 3

[2019-11-19 08:17] greemin opened #8846 "POST-Request: "TypeError: the JSON object must be str, not 'bytes'\\n"
## Description of the issue

When I try to perform a POST request to add a ToDo resource [like in the REST-Documenation](https://frappe.io/docs/user/en/api/rest#create) i get the following error: **TypeError: the JSON object must be str, not 'bytes'\\n**

## Context information (for bug reports)
[code]

## Steps to reproduce the issue

1. [Follow the documentation](https://frappe.io/docs/user/en/a

[2019-11-19 08:49] greemin commented on #8846
Turns out that the frappe instance runs with Python 2.7, but Frappe requires v3.6.
http://johnbachman.net/building-a-python-23-compatible-unicode-sandwich.html

[2019-11-19 09:19] greemin commented on #8846
Since Frappe-Bench comes with it's own Python-Enviroment the issue still persists.

[2019-11-19 10:48] mariotruss opened #14812 "E-Mail Import not working"
## Description of the issue
We have configured a Gmail Email Address solely for importing mails.  Added credentials and configured this:
![image](https://user-images.githubusercontent.com/24277433/69140049-027e8280-0ac2-11ea-9566-eb8c57914f20.png)
![image](https://user-images.githubusercontent.com/24277433/69140069-0ca08100-0ac2-11ea-87ed-a9accd179eb0.png)
![image](https://user-images.githubuserco

[2019-11-19 10:53] mseibert commented on #14812
Maybe "append to" has to be filled.

[2019-11-19 11:37] mariotruss commented on #14812
We tried it both with and without it being checked.

[2019-11-20 11:30] ttacke opened #18515 "REST API: POST invalid data will result in an unusable DocType"
## Description of the issue

When you POST a unix timestamp into a "date and time" field, the API will save the entry. But since then, the entry ist unreachable. You cannot list the DocType entries or view or delete the entry. The only way to fix this is to change the field in the DocType to "Data"

## Context information (for bug reports)

ERPNext: v12.1.8 (test)

Frappe Framework: v12.0.17 (test

[2019-11-20 11:33] ttacke commented on #18515
Similar when you use a "/" as "name" (primary key) for a docType entry when you POST the new entry via REST API. This entry cannot be changed because you cannot reach it anymore.

[2019-11-20 15:14] jackbayliss opened #8857 "Email : Unable to create a new email"
## Description of the issue
When clicking new email via the Communication/email inbox, nothing happens, and an error is thrown via the console.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Add an email domain.
2. Connect your email address up
3. Type in "Open email inbox" in the search, click it.
4. Click new at the top right

[2019-11-21 10:20] jackbayliss commented on #8857
Closing as fixed in develop branch, unfortunately not fixed in the stable version-12?

[2019-11-21 10:20] #8857 closed, assigned to nobody

[2019-11-21 12:11] mariotruss commented on #14812
Himanshu, [21.11.2019, 13:02:02]:
@mtrvss I tested the feature in frappe and it works perfectly fine

We will debug why is it not working on your instance

Himanshu, [21.11.2019, 13:11:30]:
I have sent an email from gmail to support+Communication+6630735a8c@erpnext.com which is an Email Account in our system, so when that email was pulled into erpnext, that email got linked to the email account

M

[2019-11-21 13:21] mariotruss opened #18516 "Bench Migrate of JSON in Custom App will not update fields"
## Description of the issue
We have a custom "seibertmedia" app in which we save json for DocType configs. Before you have implemented the mutliple phone/email fields, we created similar fields ourselves and added them to Standard DocType "Contact". Now, as you have implemented the features yourself, we migrated our data from our to your fields, but are unable to delete our custom fields. We tried

[2019-11-21 13:44] RJPvT opened #8865 "bug: unorderable types in v11 global_search"
I get the following error after upgrade python 2 to python 3:

Cannot track what exactly is the fault (if someone can point me i can make a own PR)

Traceback (most recent call last):
  File "/home/frappe/frappe-bench/apps/frappe/frappe/app.py", line 61, in application
    response = frappe.handler.handle()
  File "/home/frappe/frappe-bench/apps/frappe/frappe/handler.py", line 21, in handle
    da

[2019-11-21 16:59] #8865 closed, assigned to nobody

[2019-11-21 17:00] RJPvT commented on #8865
Closed. was an issue in own application where docstatus was set with db_set('docstatus', '1') so str was introduced.

[2019-11-21 23:56] Tropicalrambler opened #18517 "Changing password creates server error when usin numbers similar to years"
## Description of the issue
When changing user password user enters a number similar to 2012, 2013 ,2014, and server returns an error, not specifying what the problem is
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result

### Expected result

### Stacktrace / full error message

[code]

## Additional inform

[2019-11-22 09:54] sunnyakaxd commented on #8846
https://github.com/frappe/frappe/pull/6842/files

See if this pull request solves your problem

[2019-11-23 05:48] jigneshpshah opened #8872 "feat : filters to import subscribers in email_group"
To provide  standard filter for customer / supplier while importing contacts.

![image](https://user-images.githubusercontent.com/4900815/69473772-40d7b280-0dde-11ea-8c7a-d280a1352d47.png)

**Problem**
It is very difficult when you already have the most important ( customer, supplier) data in the system and it is not accessible at place where it is required the most !

**Solution**

When user sele

[2019-11-25 02:22] benknowles commented on #8846
I've created a patch for this under PR #8875

[2019-11-25 12:39] ppd opened #8883 "Jenv hooks got removed by server scripts feature - should be considered safe globals"
With https://github.com/frappe/frappe/commit/6d6f575904faf3931bb5bca11c7d99c1218d380c#diff-ae16cdd4fbee14a7563b57c81b19ea70 we lost the only way to manipulate the Jinja2 environment and add methods or filters.

I would argue that explicitly exported hooks for the jenv should be considered safe globals and the new ```get_safe_globals``` method ignores them without offering an alternative strategy.

[2019-11-25 15:09] ppd commented on #8883
For methods, you could of course just introduce a singleton and access its methods like

[code]

Whether that is a nice solution in terms of semantics, I don't know. But at least it's a rather straightforward alternative to hooking into jinja's globals.

[2019-11-25 15:34] lapphan commented on #8280
I solved it by install mariadb-client.
`sudo apt install mariadb-client`

[2019-11-25 17:09] alexsegura commented on #8280
@lapphan well, it's completely the same, no?
`bench` shouldn't rely on such a command being present in the shell.

[2019-11-25 17:33] lapphan commented on #8280
I agree with you. I just tried to provide a work around, for now.

[2019-11-25 22:48] barredterra commented on #8677
@Thunderbottom I wouldn't close this yet – **it's not fixed**. I ran into this error today, on `develop` branch.

Reproduce:

- Start from version-12 branches
- Switch to develop
- `bench migrate`

[2019-11-25 22:53] barredterra opened #8887 "bug(redis): "WRONGTYPE Operation against a key holding the wrong kind of value""
#8677 was closed, but is not fixed yet.

Reproduce:

- Start from version-12 branches
- Switch to develop
- `bench migrate`

Possibly, this is more an issue with bench than with frappe. Let me know what you think :)

[2019-11-26 01:01] barredterra opened #8888 "[bug] Table Multiselect field cleared on save"
Duplicate of https://github.com/frappe/erpnext/issues/19673

Reproduce:

* Create a child table / editable grid with one `Link` field to Item
* Add a custom `Table Multiselect` field to Customer, with child table in Options
* Open a customer, select some Items and save.

-> Field will be empty after save.

## Versions:

* 12
* develop

[2019-11-26 08:23] Thunderbottom commented on #8677
@barredterra understandable, but there's no real way to fix this since the redis keytype has changed when notification got refactored. The only way to "fix" this would be to clear the redis cache before migrating.

[2019-11-26 11:14] barredterra commented on #8677
@Thunderbottom so, `bench migrate` should clear the redis cache first, right?

[2019-11-26 11:15] Thunderbottom commented on #8677
This is a one-off case I think. We can certainly run clear-cache before migrating but I guess cases like this will rarely occur.

[2019-11-26 11:18] Thunderbottom commented on #8677
Hm, so we already do clear cache globally before migrate: https://github.com/frappe/frappe/blob/400c5f7c8e03ceb6a694b43b81ad2d772ae39b73/frappe/migrate.py#L40

But we also require redis to be running during migrate, which probably fails with the wrongtype error before it gets to clearing the cache. I'm pretty sure this is a one-off case and such cases will rarely occur again.

[2019-11-26 12:04] barredterra commented on #8677
That's bad... because this will happen on a few thousand ERPNext servers.

[2019-11-26 12:29] ammarhararah opened #8897 "Checkbox crashes all desk view when clicking on its label in RTL View"
Checkbox crashes all desk view when clicking on its label in RTL View

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Open Desk in any rtl language, for example arabic.
2. Go to any doctype that has a checkbox in it.
3. Press on the label instead of the checkbox itself.

### Observed result
All desk content is shifted and no long

[2019-11-26 12:32] ammarhararah commented on #8897
Followup on this issue:
https://github.com/frappe/frappe/issues/8897

[2019-11-26 13:13] barredterra opened #8902 "[bug] webhook doesn't work for Project"
Webhook data never gets sent.

Reproduce:

* Create a new **Webhook**:

[code]
* Create a new **Project**
* Wait for data to arrive

## Versions

* erpnext 12.2.0
* frappe 12.0.20

[2019-11-27 09:03] fadijadaan commented on #14662
UP

[2019-11-27 09:47] Thunderbottom commented on #8677
Well, to be honest, it wont necessarily happen to all the servers. There's one thing we can do to gracefully clear the cache. Let me look into it.

[2019-11-27 10:20] #8796 closed, assigned to nobody

[2019-11-27 12:34] #8768 closed, assigned to nobody

[2019-11-28 02:00] Tropicalrambler opened #18518 "Report view colum drop downs for Sort Ascending, Sort Descending are not being translated. One exception!"
The Column drop down in reports, when trying to Sort Ascending, Sort Descending, Reset Sort Order, Add Column,  cannot be custom translated.

The irony, is that the "Remove column" command is properly translated using standard translations.

[2019-11-28 12:25] gavindsouza commented on #8807
hey @hizbul25, the current supported versions of ERPNext are 10, 11 and 12. Could you try the same on the supported versions and let us know if it replicates?

[2019-11-28 18:04] Tropicalrambler commented on #4483
I am having the same issue I wish it would work out of box.  Any progress on this?

[2019-11-28 19:33] Tropicalrambler opened #14631 "List view should be saveable on a per user basis"
A list view for doctypes should have standard filters configurable per user, and also regular filters saveable per user

[2019-11-29 09:15] Thunderbottom commented on #8807
You just need to send the params are string instead of dict, so it should be like:
[code]

[2019-11-29 09:16] Thunderbottom commented on #8807
You just need to send the params as a string instead of dict, so it should be like:
[code]

where the value for "data" is json-string.

[2019-12-02 05:54] scmmishra commented on #8932
So far we've not seen this problem of not being able to create child entries. Is there any error on the console??

[2019-12-02 05:59] ashish-greycube commented on #8932
there is no error in console. when you try to use standard
http://localhost:8002/desk#Form/Web%20Form/student-applicant
It also doesn't capture child table data
In fact no new row data gets passed on saving the web form.

[2019-12-02 13:02] shiraski opened #8935 "How to Add Patient Finger Print Image For Visa Medical Thing"
Dear Friends
Please help me how can I add Patient creation form new field finger print
then button click scan patient finger and store in DB after report priint time need to print patient finger print also
any solution available please help me i try with image field but user will confuse witch image taken  so better need to scan real time

Thankyou

[2019-12-02 15:25] #8827 closed, assigned to nobody

[2019-12-03 03:51] Thunderbottom commented on #8807
closing since the API seems to be working fine.

[2019-12-03 03:51] #8807 closed, assigned to nobody

[2019-12-03 13:08] mr-karan opened #8942 "Custom Middlewares for Requests"
**Is your feature request related to a problem? Please describe.**

I was looking to find a way where I can hook a custom middlewares to API methods? For example the below snippet, the API endpoint is `/api/method/module.file.ping` and I wanted to execute a function *before* and *after* this piece of code is executed.

[code]

**Describe the solution you'd like**

I looked around the source code a

[2019-12-04 21:18] mariotruss opened #8957 "Percent will can not display without comma"
When using the percent type and typing in a random number from 0-100, a comma will always be added. This should not change from 20 to 20,00.
![2019-12-04 22 13 47](https://user-images.githubusercontent.com/24277433/70182129-87cd7e00-16e3-11ea-815a-94ec6a2bbce0.gif)

In the setting you can set a non-standard float precision. There should be a options to switch to int, too.
![image](https://user-ima

[2019-12-04 21:32] mariotruss opened #8958 "Arrow Does Not React On Click in Dropdown"
![2019-12-04 22 31 12](https://user-images.githubusercontent.com/24277433/70183329-dd0a8f00-16e5-11ea-9d8a-a31c9c68335a.gif)
1. Look at Select
2. Click directly on Dropdown Arrow
3. It will not open the list. Only if you click next to it.

[2019-12-04 22:08] mariotruss opened #8956 "UX: Disabled Sidebar in List will result in No Sidebar in DocType"
![2019-12-04 23 03 39](https://user-images.githubusercontent.com/24277433/70185626-73d94a80-16ea-11ea-9794-782737c8ec09.gif)

1. When you Toggle Sidebar off, the DocType will also have no Sidebar anymore. This will in the user being unable to perform interactions like Favorite, Assign or Attach etc.
2. When you press *CMD* + *R*, they will reappear.

## Expected Outcome
In the DocType, you can not

[2019-12-04 22:14] mariotruss opened #8955 "Refresh after opening of DocType before initial display of DocType and its data"
## Problem
Currently, any change to a DocType will be displayed after a refresh. Usually, this be done before displaying the UI the first time. Currently, the page will load, be visible for 1 sec and then reload again. This is very irritating as it can result in the impression that something went wrong or is broken.
![2019-12-04 23 13 12](https://user-images.githubusercontent.com/24277433/70186212

[2019-12-04 22:23] mariotruss opened #8954 "DocType Preview in Customize DocType / Form"
# Problem
When you make changes to a DocType, there is no way to see you changes instantaneously. You either have to open 2 browers windows next to each other or click switch between customize DocType and  view DocType to check the changes.

# Solution
- You can toggle Preview, if wanted. It is not set by default.
- The Preview will update automatically.
This is very bad prototype, but it visualiz

[2019-12-05 10:55] mariotruss opened #8959 "Buggy Filter: Automatically set to "ID=undefined""
![2019-12-05 11 54 11](https://user-images.githubusercontent.com/24277433/70229231-0b27b780-1756-11ea-8709-207c95ded7c7.gif)
- Open and List View
- Click on "add filter"
- Wait until it will be set to "ID=undefined"

[2019-12-05 12:26] #8956 closed, assigned to nobody

[2019-12-06 17:41] mariotruss opened #9153 "Link to Module is very slow"
When clicking on the link to Module Overview from Desk 2.0, the loading time is very slow and there is no indicator, that something is loading.
![2019-12-06 17 41 38](https://user-images.githubusercontent.com/24277433/70339822-d1d37280-184f-11ea-8583-698cd02c84d8.gif)

## Recreate by
- Load Desk
- Click on any link to the modules overview
- Wait...

## What I would expect
- Shorter loading time
-

[2019-12-06 17:47] mariotruss opened #18519 "Gantt Time Period render wrong time period"
![2019-12-06 18 44 29](https://user-images.githubusercontent.com/24277433/70343823-840f3800-1858-11ea-8735-444f968b2dd4.gif)
## Recreate
- Select Month as Period
- Leave Gantt
- Reopen Page

## Result
Week will be selected but the scope has been back to day

## Expected Result
- Either Button will be set back to Default, too
- Or both will be saved: Button and View

[2019-12-07 00:21] Tropicalrambler opened #14630 "Text editor widget to copy code lines to clipboard"
Very simple:

The text editor functionality should have a mouse hover widget that allows for a one click copy of the entire chunk of code to the clipboard.

Given that Frappe/ ERPNext already support the possibility to mark text as code (for formatting purposes), the widget should allow simple one-click copy of code lines.

This is especially useful when using erpnext itself for managing your term

[2019-12-07 01:36] Tropicalrambler opened #8978 "Text editor widget to copy code lines to clipboard"
Very simple:

The text editor functionality should have a mouse hover widget that allows for a one click copy of the entire chunk of code to the clipboard.

Given that Frappe/ ERPNext already support the possibility to mark text as code (for formatting purposes), the widget should allow simple one-click copy of code lines.

This is especially useful when using erpnext itself for managing your term

[2019-12-09 08:47] netchampfaris commented on #8897
@ammarhararah

Works for me. Please provide more information to replicate this issue. Browser name and version will help.

![checkbox-arabic](https://user-images.githubusercontent.com/9355208/70420805-7cd16f80-1a8e-11ea-940c-16c1aca858a2.gif)

[2019-12-09 09:07] ammarhararah commented on #8897
@netchampfaris No its not,
You are clicking on the checkbox itself,
this is how you replicate this issue
"**Press on the label instead of the checkbox itself.**"
and I mentioned it above

[2019-12-09 11:05] mhbu50 commented on #8897
@netchampfaris I can confirm this

[2019-12-09 11:25] aakvatech opened #9000 "The user interface of data table hides the last column values even if there is space available to expand the table"
The space on the right is available for use, but the datatable limits itself to specific parts.

![image](https://user-images.githubusercontent.com/35020381/70432006-49dbab80-1a8f-11ea-9a9b-eb90082d5951.png)

Couldn't figure out which line was this affecting, but it must be somewhere:

[https://github.com/frappe/frappe/blob/1d1683c910933acdba2e983c8ed140413a36440a/frappe/public/js/frappe/views/rep

[2019-12-09 11:31] barredterra opened #9001 "Introduce locales"
There was this big discussion on decimal separators: https://github.com/frappe/erpnext/issues/19255 .
Here is a suggestion how to solve this.

According to Wikipedia, a *locale* "is a set of parameters that defines the user's language, region and any special variant preferences that the user wants to see in their user interface." Decimal separators belong to the *locale*, not to **System Settings*

[2019-12-10 11:36] shridarpatil commented on #8959
Before:

![listview](https://user-images.githubusercontent.com/11792643/70526224-225c1000-1b6f-11ea-9184-22e6d23786d3.gif)

After:

![listviewfixes](https://user-images.githubusercontent.com/11792643/70526325-5a635300-1b6f-11ea-9ba3-1e8b14740f88.gif)

[2019-12-10 19:26] Thunderbottom commented on #6508
has been merged with https://github.com/frappe/frappe/pull/6733

[2019-12-10 19:26] #6508 closed

[2019-12-11 09:03] Mubashir13 opened #18520 "ISSUE in IMPORT FILE SECTION"
I have uploaded file in purchase receipt about 2 hours ago, however it is still showing in progress.
Moreover it is posted 3 times in purchase receipt.

Please help me out in resolving this bug.
![Screen shot](https://user-images.githubusercontent.com/58768515/70606637-bc2ec600-1c1e-11ea-8059-7cdf36b4f095.png)

[2019-12-11 22:45] madmath03 opened #9024 "Query reports Charts do not detect fields"
## Description of the issue

When trying to add chart to a Query Report, the fields are not extracted.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a Query Report for any Doctype
2. Show the report
3. Set the chart and select X or Y field

### Observed result

![image](https://user-images.githubusercontent.com/6967675/7

[2019-12-12 16:28] Olawale1 commented on #8361
Hi ,

I just noticed that error logs are full of similar errors. If the above settings solves the issue, why isn't it the default setting in mariadb.cnf?

Kind regards,

[2019-12-12 23:34] barredterra opened #9035 "bug: hide cards for everyone not working"
## Error

![image](https://user-images.githubusercontent.com/14891507/70757409-c3012a00-1d3f-11ea-8e79-1b3837138056.png)

[code]

* Does not close the modal
* Does not save the selection

# Versions

`version-12` on Ubuntu 18.04

* ERPNext: v12.2.2 (version-12)
* Frappe Framework: v12.0.20 (version-12)

[2019-12-13 07:58] ioweb-gr opened #9036 "Regression non-ASCII characters in headers (error 500)"
# Description of the issue

I've upgraded because I noticed the pull request #8434 to solve my long standing issue with Greek Characters. Unfortunately I notice that in latest version it still exists.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create an invoice with greek characters in name  / series e.g. ΙΟ-ΤΠΥ
2. Try to cl

[2019-12-14 16:15] jaichavan commented on #18520
Can you check the error log?

[2019-12-16 04:05] #2673 closed

[2019-12-16 06:15] netchampfaris commented on #8897
@ammarhararah Yes, I am able to replicate. Merging https://github.com/frappe/frappe/pull/8898

[2019-12-16 06:15] #8897 closed, assigned to nobody

[2019-12-16 06:29] ammarhararah commented on #8897
Thanks @netchampfaris
I will make another pull request for the same issue in v11 soon, there are also other rtl issues in Mobile view and will try to make my pull requests clearer.
Thanks again.

[2019-12-16 14:06] asoral commented on #9035
I saw that the error is solved in one of the recent commits. I then tries to update the bench but now I am getting the below error -

  File "/opt/erpnext/erpnext/apps/frappe/frappe/modules/patch_handler.py", line 30, in run_patch
    if not run_single(patchmodule = patch):
  File "/opt/erpnext/erpnext/apps/frappe/frappe/modules/patch_handler.py", line 71, in run_single
    return execute_patch(pa

[2019-12-17 08:20] Olawale1 opened #18521 "Bulk Submit/Cancel Issue [V11]"
Hi ,

Submit via list view updates docstatus to 1 without updating Workflow State. This causes issues for the users. Please remove Submit/Cancel options from list view when there is an active Workflow

Thanks

[2019-12-17 12:27] netchampfaris commented on #8942
@mr-karan Hey, what is the use case for having such kind of feature? Why do you need to access `werkzeug.wrappers.Request` instance? Maybe we can have a better solution than the one in the PR.

[2019-12-17 12:50] sugurujay commented on #8620
Hi PabonSEC,
We were actually looking for this feature. Good to see that you've implemented this, can you please let me know how you implemented this?

[2019-12-17 12:58] mr-karan commented on #8942
@netchampfaris I wanted to build a [Prometheus](prometheus.io/) exporter for Frappe, the ideal way would have been if a middleware is possible which would be plugged in all endpoints and I could execute the exporter code there. You can check [this](https://github.com/prometheus/client_python#wsgi) for more reference :smile:

[2019-12-17 16:06] shahnawaz-pabon commented on #8620
@sugurujay , thank you so much. I wanted to add this feature into frappe. But I implemented this on frappe's master branch and sent a feature request. After that I figured out that feature request is open only on develop branch. If you see my code on[ this link](https://github.com/shahnawaz-pabon/frappe/commit/01e680e22e72cdb7c195ed5f560c044d7993d466#diff-677f5df93a2aeb1477de8f15a527df85) you can

[2019-12-18 06:33] sumeetagra opened #9067 "Fix Home Setting Patching Error"
Executing frappe.patches.v12_0.fix_home_settings_for_all_users in sgsir (_88e755fb336fdfff)
Traceback (most recent call last):
File "/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
"main", mod_spec)
File "/usr/lib/python3.6/runpy.py", line 85, in _run_code
exec(code, run_globals)
File "/opt/erpnext/erpnext/apps/frappe/frappe/utils/bench_helper.py", line 97, in
main()
File "/opt/erpn

[2019-12-18 06:34] sumeetagra commented on #9067
Executing frappe.patches.v12_0.fix_home_settings_for_all_users in sgsir (_88e755fb336fdfff)
Traceback (most recent call last):
  File "/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/opt/erpnext/erpnext/apps/frappe/frappe/utils/bench_helper.py", line 97, in <mod

[2019-12-18 06:36] Jon-tektician opened #18522 ""Allow on Submit" fields not editable in Reports generated under Report Builder"
## Description of the issue
We have a document with fields enabled with "Allow for Submit" under the doctype definition. When the form is in draft state , and its records are listed under the Report Builder, it can be edited and saved directly.

However, when the form is submitted and even though field is marked with "Allow on Submit" , the field remain uneditable in the Report Builder view.

## S

[2019-12-18 09:05] sugurujay commented on #8620
Hi @PabonSEC ,
Thanks for sharing the link, its working  :)

[2019-12-18 12:36] mariotruss opened #18523 "Default Sort not working"
## Description of the issue
In customize you can select a default sort field, which we did
![image](https://user-images.githubusercontent.com/24277433/71086817-112c8800-219b-11ea-897d-f9c79e53e16b.png)
When you go in list-view, "Last Updated" will always be the default sort.
![image](https://user-images.githubusercontent.com/24277433/71086903-446f1700-219b-11ea-81e0-9cc67caf8737.png)

### Expected

[2019-12-18 12:36] mariotruss opened #9071 "Customize Sorting"
**Is your feature request related to a problem? Please describe.**
Currently, you can only set a default sort, but you can not add multiple custom fields to be visible in the sort.
![image](https://user-images.githubusercontent.com/24277433/71086485-61efb100-219a-11ea-955c-c4c1690d167e.png)
I will only see one field that I customized. Even it say "default sort field", "last updated" will always be

[2019-12-18 14:02] cmnstmntmn opened #18524 "Table listing - allow cell content to wrap"
<img width="615" alt="Screenshot 2019-12-18 at 15 51 30" src="https://user-images.githubusercontent.com/2312755/71092320-ab96c680-21af-11ea-981d-6a16a433f533.png">

I have a custom report table and some of the cells have a lot of text in them.
Is there a way to create a custom script or something?

Can you provide an example?

[2019-12-18 14:47] half4den commented on #8779
I am running into the exact same issue...Would love to have it fixed. IN the meantime, how do I do the step above? Where do I put in that code? Thanks!

[2019-12-18 16:23] shahnawaz-pabon commented on #8620
@sugurujay, My pleasure :)

[2019-12-18 18:13] alias commented on #8779
I added this in frappe/utils/global_search.py, at around line 85, just after "meta = frappe.get_meta(doctype)"

[2019-12-18 18:26] half4den commented on #8779
Alias, Thanks for the clear instructions! I will give this a try. We've been struggling mightily with not being able to reliably search, and I'm hoping the global search rebuild will help!

[2019-12-18 19:19] half4den commented on #8779
That let the rebuild go through! Search is working better-ish. Still not finding everything. But, better.

[2019-12-18 21:15] alias commented on #8779
I found another problem recently (https://github.com/frappe/frappe/pull/8936), but I think that went into develop since.

[2019-12-19 09:43] raymondliew1992 opened #18525 "Notification Settings User Permission Error"
## Notification Settings User Permission Error in V12.2.2

Hi community, as you can see in the below screenshot. One of the test account we used are seeing this error every time we login or refresh. Because of this error, we are unable to see the notification.

![image](https://user-images.githubusercontent.com/52439119/71162859-e881bc80-2286-11ea-9968-0e84da9dd4b6.png)

I have tried setting the u

[2019-12-19 12:50] garyritchie opened #9078 "Error: Value missing for Opportunity: Company (Contact form, v12)"
## Description of the issue

Stock Contact form not working after migrating data from v10 to v12.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Navigate to public website, contact page (form).
2. Fill out form (dropdown, email, message) and submit.
3. Receive error message.

### Observed result

I get this error when submitting

[2019-12-20 02:51] srdgame opened #9080 "Tag count does not been updated"
## Tag count in sidebar does not been updated in report view, version-12 branch

![图片](https://user-images.githubusercontent.com/54447/71226416-b750cd00-2316-11ea-86cc-efcaaacfb550.png)

[2019-12-20 03:47] yerycs opened #9083 "bench start does not continue"
I am first face of frappe.
After I installed prerequiremnets on my local and started `bench init frappe-bench`,
 while I run `bench start`, I am suck with such issue.

`Rebuilding data_import_tools.min.js`

It stays forever and I cannot start bench.
How can I fix it?
I searched and I cannot find answer.

[2019-12-20 05:32] revant commented on #9067
I'm facing similar error on develop branch

[code]

[2019-12-20 07:02] revant commented on #9067
[code]

[2019-12-20 08:06] #9067 closed, assigned to nobody

[2019-12-20 11:22] AminovE99 commented on #18716
+1

[2019-12-20 12:52] mariotruss opened #18526 ""Document has been updated" will lead to loss of edits"
## Description of the issue
While editing in customize, sometimes when saving I'll will get a message saying that the page has changed and that I have to refresh. This will lead to losing all edits made.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Go to customize
2. Wait or edit in second tab.
3. See how you loose all data

#

[2019-12-20 12:52] mariotruss opened #18527 "DocType/From refreshes randomly"

[2019-12-20 14:49] mseibert opened #9091 "Allow BCC for E-Mail-Import as well as it is the most common form of import"
##  Description of the issue
When you send a direct mail to the ERPNext E-Mail-Import-Inbox it will be processed normally. But if you send a mail and put that import mail address in BCC it will not be processed. The email does not land in the record that you copied the import mail from.

## Context information (for bug reports)
ERPNext v12

## Steps to reproduce the issue
1. Copy import mail addre

[2019-12-20 16:36] jboilesen commented on #7120
@netchampfaris

ERPNext v12.2.0: Quilljs still adding a space character inside \<li\> tags (like this: '\<li \>'), what makes the comment invisible forever (after refresh page)

Test case:

Tasks > Create a task > Comment task with a "- listing item" > Save it > Refresh page > the item will be invisible

[2019-12-20 21:10] amutaher commented on #8932
What's new about this issue?

[2019-12-20 21:44] mepoohsta commented on #8779
Same issue here.

`  File "/home/frappe/frappe-bench/apps/frappe/frappe/database/database.py", line 865, in get_table_columns
    raise self.TableMissingError('DocType', doctype)
pymysql.err.ProgrammingError: (u'DocType', u'Quick Stock Balance')`

[2019-12-20 22:27] mariotruss opened #9152 "Card not available for User after disabled them for the Desk"
I have disabled some modules (cards), when I open the "Hide/Show"-Dialog again, I can not enable them again. This should not happen. As a user, I want to be able to enable them at any point.
![image](https://user-images.githubusercontent.com/24277433/71296470-08e17200-2380-11ea-8b29-1ad6bef496b9.png)

It's only visible for everyone:
![image](https://user-images.githubusercontent.com/24277433/71296

[2019-12-20 22:37] mariotruss commented on #8959
This has not been solved by #9014

[2019-12-21 10:34] ghdic opened #9093 "bench new-site not work when input MYSQL root password"
Hello. I am a student interested in studying with erpnext.
<https://www.howtoforge.com/how-to-install-erpnext-on-ubuntu-1804/>
I was installing erpnext using frappe as mentioned above.
But I have some problems
when I write
[code]
is not working.
This is because the latest version of mariadb can only log in as sudo as root.
I tried for 2 hours but `bench new-site` command was not successful. No mat

[2019-12-21 20:05] krnkris commented on #9093
Take look on this , it just works if you have user with sudo privileges:

https://discuss.erpnext.com/t/error-on-erpnext-ubuntu-18-04-lts-installation/54961/31?u=krnkris

[2019-12-22 11:57] ghdic commented on #9093
Thanks it work! This has helped me to start studying.

[2019-12-22 11:57] #9093 closed, assigned to nobody

[2019-12-22 16:39] ddavidebor opened #9097 "Inconsistent naming " In Grid View""
Hello,
Just a tiny thing:

The option to show or not a column of a table in a doctype is called "In Grid View" child table doctypes and "In List View" for standard doctypes.

This is confusing, I lost many minutes trying to understand it as it's not consistently called around the web, I recommend renaming  "In Grid View" to "In List View".

If you like the idea I can open a PR

[2019-12-23 23:12] wojosc commented on #9152
This does not seem to occur on my instance:
Installed Apps

ERPNext: v12.2.2 (version-12)

Frappe Framework: v12.0.20 (version-12)

IT Management: v0.0.1 (master)

![Peek 2019-12-24 00-10](https://user-images.githubusercontent.com/22279621/71384509-0aaa7000-25e2-11ea-9a40-1c8622c80c73.gif)

[2019-12-24 08:14] toofun666 commented on #9001
Isn't that already working in the system? Did anyone have issues before the last changes made? I don't think so.

[2019-12-24 11:49] mariotruss commented on #9152
@wojosc As far as I can tell, you are missing the option to decide who this setup is done for (Setup for: User / Everyone) completely - therefore, it can not occur for you...
![image](https://user-images.githubusercontent.com/24277433/71411907-87256900-264b-11ea-8f02-737255436a8a.png)

Please don't tell me the "fix" for this was removing this option as a whole? @hrwX @asbasawaraj @rmehta

[2019-12-26 09:43] krnkris commented on #4875
Now it works.

[2019-12-26 09:43] #4875 closed

[2019-12-26 13:22] scmmishra commented on #6989
The context argument is good, however the solution to some extent still falls short...

However the context like "Submit a DocType" or "Submit a Comment" may not work as its not well defined.

Addressing the examples you gave, from the example you have given the original label it self don't make sense. For instance, 'Submit' in German is 'einreichen' (From Google Translate) in case of Accounting p

[2019-12-27 09:16] wojosc commented on #9152
..now I realy understand your problem. I have the option "User and Everyone". It makes sense to me though, that when a module is disabled via Everyone, that you can not see the modules as User as it is overridden. I'm not sure if it's necessary to do this beyond the permissions to moduls which are set at a different time.

[2019-12-27 10:52] scmmishra commented on #9153
We've made improvements recently, ref: https://github.com/frappe/frappe/pull/9079

We have put it in the develop branch for testing, it'll soon be backported to version 12 within the next two releases

[2019-12-27 22:42] mariotruss commented on #9152
@wojosc The more I think about it, the more I understand that this might be by design. I tried enabling it through "all" and was able to disable it again. Will close this. Thanks.

[2019-12-27 22:42] #9152 closed, assigned to scmmishra

[2019-12-27 22:44] mariotruss commented on #9153
Good. Looking forward.

[2019-12-27 22:50] mariotruss commented on #8959
"This has not been solved by #9014"
@shridarpatil @hrwX

[2019-12-28 05:37] Thunderbottom commented on #8959
@MarioMeetsWorld afaik the fix was only for postgres, since it would cause a ProgrammingError when the value was set to 0 instead of an empty string. I don't think that fix was ever intended to close this issue. This is most likely a frontend issue.

[2019-12-30 19:28] lbazan opened #9179 "bench update"
INFO:bench.utils:./env/bin/pip install -q -U -e ./apps/frappe
    ERROR: Command errored out with exit status 1:
     command: /opt/bench/erpnext/env/bin/python3.6 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-gm6n94au/psycopg2/setup.py'"'"'; __file__='"'"'/tmp/pip-install-gm6n94au/psycopg2/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().

[2019-12-31 01:38] madmath03 opened #9169 "Coverage report not sent to Coveralls"
## Description of the issue

Coverage report is not being sent to Coveralls.io during Travis-CI builds:

## Context information (for bug reports)

The Root Cause is z4r/python-coveralls#73 : python-coveralls is not compatible with coverage 5.0, thus breaking the report to Coveralls.

**Output of `bench version`**
All versions impacted.

## Steps to reproduce the issue

1. Travis-CI build

### Obse

[2019-12-31 04:42] Thunderbottom commented on #9179
This isn't a bug within bench or frappe, but in fact an issue with missing library on your system. You need to install `postgres-devel` package for your system. If you're using Debian/Ubuntu, it should be fixed by installing `libpq-dev`.

[2019-12-31 13:03] Thunderbottom commented on #9179
fixed with https://github.com/frappe/frappe/pull/9175

[2019-12-31 13:18] #9179 closed, assigned to nobody

[2019-12-31 16:28] barredterra commented on #9001
There is no such thing as locales in the current system. For example, I cannot choose the date format per user or set the correct decimal separator for my international customers.

[2019-12-31 16:55] barredterra commented on #6989
Thanks for your analysis, @scmmishra.

Yes, my examples could sometimes be solved by better source strings. Let's say we replace "Change amount" by "Change" in POS and by "Change quantity" in Stock. "Change" could still mean two different things in German and the translator doesn't know which is needed without analyzing the software first.

In general, a translator needs to have as much informatio

[2020-01-02 07:52] asbasawaraj commented on #6989
@barredterra Do you have any idea how products like SAP handle this?

[2020-01-02 08:56] derthimm commented on #6989
In NAVISION (Microsoft Dynamics NAV, ...) for example every "Object" is identified and has its own translations.

What is an object in this case? Every field in a table, every control (Button, Label, ...) in a Form/Page/Report or label in a report etc. If a field in a Form/Report is related to a field of a table the translation will be inherited - but this translation can be overidden.

The disadv

[2020-01-02 09:36] ishanloya opened #9185 "Access not allowed from this IP Address"
I am seeing this error "Access not allowed from this IP Address" on visiting my site even before signing in. There are no IP restrictions on my user and even if there were, this error comes before login so I am unable to even login to my account.

I have tried from multiple IP addresses. I have tried clearing the cache and the website cache both.

https://discuss.erpnext.com/t/access-not-allowed-f

[2020-01-02 09:37] ishanloya commented on #9185
I have recently migrated my ERP instance from DigitalOcean to a new server on AWS EC2 yet the error is still showing up on the newly migrated instance.

[2020-01-05 12:17] carstenblt commented on #16956
This makes using ERPNext in Germany much harder, as you have to manually correct this in every document.

[2020-01-05 15:06] NicoleG25 commented on #5546
@vjFaLk could you point me to the commit that fixed the issue? I also seem to see it was reverted.

[2020-01-06 02:24] raymondliew1992 opened #14902 "V12: Role Permission Manager ‘Repetitive’ Issue"
Kindly refer to this thread https://discuss.erpnext.com/t/v12-role-permission-manager-repetitive-issue/56632

[2020-01-07 11:00] wojosc commented on #14812
Hello to you all,

I have tried the e-mail linking feature and it seems to work. Though I notice that the reference is not always right:
![grafik](https://user-images.githubusercontent.com/22279621/71890710-32064e80-3145-11ea-967b-c2287d8dd6f8.png)

[2020-01-07 11:18] mariotruss commented on #14812
Hey,

yeah. We've noticed the same.

Mario Truß

Wolfram Schmidt <notifications@github.com> schrieb am Di., 7. Jan. 2020,
12:00:

[2020-01-07 11:41] wojosc commented on #14812
I just noticed the following:
When I'm working on a DocType and don't save it, then open a new DocType and save it, it will have the same e-mail reference link as the first. Please try if you can recreate this.

[2020-01-07 12:34] wojosc commented on #14812
Magic seems to be the case here :) After a little while the reference link has corrected its self...
![Bildschirmfoto von 2020-01-07 13-33-27](https://user-images.githubusercontent.com/22279621/71895842-6df3e080-3152-11ea-890c-7bc69e7c011a.png)

[2020-01-07 13:56] mseibert commented on #14812
It’s a caching issue. Himanshu has analyzed it already I believe.

On Tue, Jan 7 2020 at 1:34 PM, < notifications@github.com > wrote:

[2020-01-08 08:57] fadijadaan commented on #14662
UP

[2020-01-11 11:55] wojosc opened #18528 "Finding E-Mailcontacts when sending e-mails"
when sending e-mail from a(ny) DocType it seems, that since v12 the e-mail addresses from contacts aren't indexed so well.

It literally needs the full e-mail address to recocgnize the according contact. Typing somthing like Name Surname brings now results.

We are on the latest Master version.

[2020-01-12 13:20] barredterra commented on #8902
Note: the same **Webhook** does work for **Task** but not for **Project**. I don't get any error message, the webhook simply doesn't get sent.

[2020-01-12 13:31] barredterra opened #9234 "'Communication' object has no attribute '_attachments'"
### Error log

[code]

### Versions

- ERPNext: v12.3.1 (version-12)
- Frappe Framework: v12.1.0 (version-12)
- Ubuntu 18.04
- Python 3

[2020-01-12 15:47] Thunderbottom commented on #9234
hello, this has been fixed as of https://github.com/frappe/frappe/pull/9202

[2020-01-12 16:12] barredterra opened #9235 "UnicodeEncodeError: 'ascii' codec can't encode character '\xf6' in position 272: ordinal not in range(128)"
### Reproduce

- Create a new **Task** with special characters in title like "Börse".
- Go to comments section and send a new email that, automatically, contains the title in the subject.
- Go to **Email Queue**, open the Email and click "Send Now" (Or wait for the error)

Produces this error in `frappe.email.queue.flush`:
[code]

### Versions

ERPNext: v12.3.1 (version-12)
Frappe Framework: v12.1

[2020-01-12 16:18] Thunderbottom commented on #9235
should be fixed with https://github.com/frappe/frappe/pull/9190

[2020-01-12 21:49] aakvatech opened #9239 "Tags should be imported during sync_fixtures"
https://github.com/frappe/frappe/blob/dc902f8b01114c734dea4a77815403edf9ba427a/frappe/core/doctype/data_import/data_import.py#L72

The above line looks like it is ignoring the _user_tags and doesn't import the tags.

It is desirable to import the tags along with documents?

[2020-01-13 09:01] wojosc commented on #14812
@hrwX Maybe it would help if the e-mail linke is only created once on Doc creation. Even on Docs which are already submitted the address seems to change.

[2020-01-13 10:59] fabriziomiano opened #9245 "openpyxl requirement incompatible with python2.7 in v10.x.x"
## Description of the issue
The issue is brought up by the "bench init" installation. I firmly believe that it has to do with the fact that in the frappe requirements.txt file an incompatible version of the openpyxl library is specified. In particular, openpyxl==2.5.10 is specified in the requirements.txt in the v10.x.x branch whereas, as per the issue brought up [here](https://stackoverflow.com/q

[2020-01-13 11:06] marynvdl opened #9246 "Geolocation not working in V12"
## Description of the issue
After upgrading to Version 12, the Geolocation field is not showing features on the client-side even though it is captured in the database.

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a new Location
2. Draw a marker, polyline or polygon
3. Click finish and see how it disappears

### Observed result
![location](https://user-images.gi

[2020-01-13 11:18] #9246 closed, assigned to nobody

[2020-01-13 11:20] marynvdl commented on #9246
Closing this as same issue here [20221](https://github.com/frappe/erpnext/issues/20221).

[2020-01-13 11:28] fabriziomiano commented on #9245
Oddly enough, it seems that the wheel is built regardless and openpyxl get installed (checked by giving pip list within the venv)
Additionally, not sure how useful this can be, but the issue with such a package is also reported [here](https://bitbucket.org/openpyxl/openpyxl/issues/1126/cant-create-a-wheel)

[2020-01-13 11:28] #9245 closed, assigned to nobody

[2020-01-13 12:21] wojosc opened #16034 "Clean up in Notifications"
It would be nice if I was able to remove single entries in the notification windows
![grafik](https://user-images.githubusercontent.com/22279621/72255648-8dce4d00-3607-11ea-9746-d545020e2c0b.png)

[2020-01-13 13:12] clarkejj commented on #9246
https://discuss.erpnext.com/t/geolocation-not-working-in-v12/51528/5

[2020-01-13 14:07] barredterra commented on #8902
Closing this for now, as @revant wasn't able too reproduce this.

[2020-01-13 14:07] #8902 closed, assigned to nobody

[2020-01-14 02:45] #8809 closed, assigned to nobody

[2020-01-14 10:34] wojosc commented on #14812
Just a though: Maybe it makes sense to link the e-mails to the namingseries. As DocTypes get their ID on save and not on creation this might be a good mounting point for the e-mail link?!

[2020-01-14 13:10] igrekus opened #9264 "Deleting a row from a Child Table visually clears other Form fields"
## Description of the issue

Clicking on the red Delete button in a `Child Table` control to delete a `Child Table` row visually clears other filled fields. Actual data doesn't get deleted from the database and the fields are restored on edit cancel, page reload or edit save.

Before:
![image](https://user-images.githubusercontent.com/24732036/72345596-37374080-36e5-11ea-81f3-0067ce72e30a.png)

Af

[2020-01-14 15:33] wojosc opened #18529 "Naming series with only digits"
I created a naming series for Customer as just digits with #####

When I recently created a customer I had the customer number 359 though I know, that I had something around 150 the last time I created one.

Is it possible that only digits could be also used by auto-created Doc-IDs? I figure something like

k7dih ist pretty much the same as 75829.

Does any one have any clarification on this?

Thi

[2020-01-14 16:14] mseibert commented on #14812
Yes, I like the idea.

On Tue, Jan 14, 2020 at 11:34:47, Wolfram Schmidt < notifications@github.com > wrote:

[2020-01-14 16:44] hrwX commented on #14812
@wojosc @mseibert The email link is a combination of document_type and document_name which is unique. Also the link not refreshing issue is related to the UI which is not updating the link to a newer one. I'll shortly be releasing a fix for that.

[2020-01-14 16:46] hrwX commented on #14812
Email Import doesn't work with BCC due to the way BCC is handled in the emails. If you want to use this feature, put the email link in To or Cc

[2020-01-14 17:58] hrwX commented on #14812
@MarioMeetsWorld @mseibert @wojosc I have opened a new PR for the fix https://github.com/frappe/frappe/pull/9270

[2020-01-14 23:25] wojosc commented on #14812
Thanks @hrwX I'll be happy to test once released.

[2020-01-15 08:28] hrwX commented on #9185
@ishanloya You must have set IP restrictions in User. Please Check

[2020-01-15 08:34] hrwX commented on #9080
This issue has been fixed here https://github.com/frappe/frappe/pull/9070

[2020-01-15 08:34] #9080 closed, assigned to nobody

[2020-01-15 12:56] krnkris commented on #8361
@clarke
Getting understand thank you!

It seem back in time I was not aware to convert all my databases to UTF8mb4.

Now I search how to do it correctly.
Will inform …

At least now the reason is clarified

[2020-01-15 18:49] wojosc commented on #16034
I noticed there is a mouse-over function with which I can "Mark as read" on single entries.

Still though, it would be nice if we could archive/close/"mark done" or something similar.

[2020-01-16 03:19] #9264 closed, assigned to nobody

[2020-01-16 03:52] #9169 closed, assigned to nobody

[2020-01-16 05:49] surajshetty3416 commented on #8779
https://github.com/frappe/frappe/pull/9300 this should fix the issue

[2020-01-16 05:49] #8779 closed, assigned to nobody

[2020-01-16 10:46] madmath03 opened #9304 "Coverage report encoding error"
## Description of the issue

Coverage report encoding error when trying to send to Coveralls.io during Travis-CI builds: `UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf4 in position 27: invalid continuation byte`

Even though #9169 was fixed, this error prevents sending results to coveralls for Frappe 11 and Frappe 12.

## Context information (for bug reports)

Happens with Frappe 11 and

[2020-01-16 13:11] revant commented on #8512
does this solve your issue?
https://github.com/frappe/frappe/pull/8969

[2020-01-17 08:35] krnkris commented on #8361
I fixed the UTF8mbf

All other issue with e-mail fixed in
https://github.com/frappe/erpnext/releases/tag/v12.4.0

Big thank for developers!

[2020-01-17 08:35] #8361 closed, assigned to nobody

[2020-01-17 08:39] krnkris commented on #9235
Check you database settings.
Must be UTF8mb4

Should be fixed with:
https://github.com/frappe/erpnext/releases/tag/v12.4.0

[2020-01-17 12:18] #6497 closed

[2020-01-17 14:00] fruitjam opened #9307 "Error trying to install Bench in Ubuntu 18.04 installed on VirtualBox with Windows 10 as host."
While trying to follow instructions as available here [https://github.com/frappe/bench](url), I get the following error message while trying to execute this command `pip install --user -e ~/.bench`:

I cannot seem to find out where exactly I may have made a mistake in following the installation process. Any help shall be much appreciated.

Best regards.

[2020-01-17 14:22] fruitjam commented on #9307
I tried following the instructions in this link [https://discuss.erpnext.com/t/ubuntu-18-04-erpnextv12/55786](url). But no joy. It is possible that I am missing out something obvious; but I cannot seem to figure out exactly what it is that I should have looked into.

[2020-01-18 08:29] fruitjam commented on #9307
Managed to solve the issue by following the instructions afresh with a new Ubuntu installation.

A reboot is required after `sudo npm install -g yarn` and after `pip install -e ./bench`. Since, I was following instructions with Python3, I altered the latter command to read as `pip3 install -e ./bench`.

[2020-01-20 23:56] racitup opened #9330 "[v12 bug] bench trigger-scheduler-event AttributeError"
## Description of the issue
Run `bench trigger-scheduler-event` gives AttributeError

## Context information (for bug reports)
**Output of `bench version`**
[code]

## Steps to reproduce the issue
1. Run `bench trigger-scheduler-event plaid_settings.automatic_synchronization`

### Observed result
Traceback below

### Expected result
Scheduled job runs

### Stacktrace / full error message

[code]

[2020-01-21 09:39] mariotruss commented on #8955
@hrwX will look into this. He thinks that this will resolve https://github.com/frappe/frappe/issues/18526.

[2020-01-22 02:30] AndyOverLord commented on #6588
This Issue is still open!?!?

@SaiFi0102
Can you please give the links to your pull request? I am interested to have a look at the solution.
Also, if there is no post on discuss forum, I would be happy to open one.

But please reply to me @adityaduggal in case of a repeat question on Forum.
Thank you!

[2020-01-22 03:18] rmehta commented on #6989
Thanks @barredterra for leading this effort. I was just going to share this as an example to another project how community work is organized and then realized that we as Frappe, have not given enough attention to this. The conclusion for me is that money is necessary but not sufficient. "Scratch your own itch" is still the frappe/erpnext#1 motivation why free software goes forward :-)

I have requ

[2020-01-22 04:17] tangymaru opened #9337 "email_account.receive TypeError: Object of type 'bytes' is not JSON serializable"
[code]

ERPNext: v12.4.0 (version-12)
Frappe Framework: v12.2.0 (version-12)
Python 3.6.9
Ubuntu 18.04.3 LTS
Google G-suit using Apps Password

[2020-01-22 04:21] tangymaru opened #9338 "pull_from_email_account : TypeError: Object of type 'bytes' is not JSON serializable"
[code]
ERPNext: v12.4.0 (version-12)
Frappe Framework: v12.2.0 (version-12)
Python 3.6.9
Ubuntu 18.04.3 LTS
Google G-suit using Apps Password

[2020-01-22 11:54] ghost commented on #16432
Hi @sagarvora
Really great work on this. Do you have a list of steps to get multiple websites working?
My goal is to use the default website as the company website and have additional websites for different brands that the company owns.

I attempted to test this locally but the non default websites do not load in the browser.
These were my steps. I would appreciate if you can tell me what I missed

[2020-01-22 13:13] barredterra commented on #6989
Thanks for your comment, @rmehta . Ultimately this issue is about improving translations in general and maybe this is just too big of a task – I myself am not motivated to work on this. Therefore, I will break this big issue into smaller issues and attach a bounty to each of them (coming soon):

- Improve the english source strings, as @scmmishra suggested. frappe/erpnext#9349
- Write and publish

[2020-01-22 14:00] mariotruss opened #14629 "Display percentage value intuitively"
# Description
![image](https://user-images.githubusercontent.com/24277433/72899858-26ab4980-3d27-11ea-9b20-104823a37678.png)
When percentage field is selected, the value ist presented in x,xxx format.
Displaying 50% as 50,000 is not very user-friendly or understandable.

# Expected Result
When you enter 50 in the field, it should be rendered as 50 --> currently it's 50,000
5 percent should be a  r

[2020-01-22 14:30] koszikot commented on #6748
Hey, its been a year and this bug still shows on v12. Can anyone update me on this?

[2020-01-22 16:18] rmehta commented on #6989
So we had a detailed discussion on this Suraj will start work soon. Maybe you guys can coordinate

Sent from phone

[2020-01-22 18:23] #9235 closed, assigned to nobody

[2020-01-22 18:24] #9234 closed, assigned to nobody

[2020-01-23 05:57] #9153 closed, assigned to scmmishra

[2020-01-23 06:01] #8791 closed, assigned to scmmishra

[2020-01-23 06:09] surajshetty3416 commented on #6748
@ovresko, @koszikot

This is not a bug.

There was [user permission refactor](https://github.com/frappe/frappe/pull/5314) in version 11 after which user permissions are handled separately. Please check the following discuss post for more information.

https://discuss.erpnext.com/t/v11-user-permissions-refactor/42645

[2020-01-23 06:09] #6748 closed

[2020-01-23 06:27] #4254 closed

[2020-01-23 06:54] surajshetty3416 commented on #9097
@ddavidebor In List View and In Grid View are 2 different things.

**In List View check**
<img width="918" alt="Screenshot 2020-01-23 at 12 15 43 PM" src="https://user-images.githubusercontent.com/13928957/72962506-8e6e9c80-3dda-11ea-955e-d56e4a61555b.png">
**makes that field visible in list view**
<img width="1186" alt="Screenshot 2020-01-23 at 12 16 02 PM" src="https://user-images.githubusercont

[2020-01-23 06:54] #9097 closed, assigned to nobody

[2020-01-23 10:17] barredterra opened #9349 "Improve translatable strings"
This is a part of #6989.

The goal is to improve the original english strings in a way that two different contexts will not have the same english source string.

For example,

- "Submit" is used to book financial documents and to send comments. The one for comments should be changed to "Send".
- "Change amount" is used in POS for money to be returned and in stock to change the quantity of a produc

[2020-01-23 10:23] barredterra opened #9350 "Write and publish a "how to translate" guide for German."
This is a part of #6989.

Write and publish a guide in German on how to use frappe's translation tools and how to create correct translations for frappe and ERP-Systems in general.

This should provide help and set out some rules that *have* to be followed in english-to-german translations for ERPNext.

[2020-01-23 10:29] barredterra opened #9351 "Write and publish a glossary for German."
This is a part of #6989.

Write and publish an alphabetical list of terms in the domain of ERP-Systems with the definitions for those terms and the appropriate German translations.

Maybe something like this already exists and just needs to be enhanced with the frappe-specific terminology ("DocType", etc.).

[2020-01-23 10:34] barredterra commented on #6989
Four years ago there was already a good discussion on this topic: frappe/erpnext#2382. It was proposed to use descriptive message IDs such as `doctype_invoice_shortname` to give some context.

[2020-01-23 10:45] ddavidebor commented on #9097
Yeah but why? It's confusing. Could be just one option that changes meaning
if the doctype is a child table.

The grid view is just a list view of a child table in the end.

Il gio 23 gen 2020, 06:54 Suraj Shetty <notifications@github.com> ha
scritto:

[2020-01-24 06:44] marynvdl commented on #8888
I solved this by ensuring that the field in the child table is marked as **In Grid View**.

[2020-01-24 12:01] mkreckovic opened #9359 "Server Error while converting document to PDF if title has unicode character"
## Description of the issue
When converting documents in PDF, and document name has unicode characters like **č, ć, ž, š, đ**, error is thrown.

## Context information (for bug reports)
I tested this for Addresses in Address List, but probably bug is present in other modules too.

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create new Address in Address List
2. Enter

[2020-01-24 12:12] Olawale1 opened #9390 "[UX] Please stop showing release notes to ALL users!"
Hi ,

It’s not very tidy to show release notes to ALL users after an update (same applies to notifications of new versions). It’s horrible UX for users in an admin office to log in and be faced with a message telling them about new changes in the Agriculture, Education, Non-Profit modules etc… These notifications should be limited to System Managers only at most

A global product like ERPNext shou

[2020-01-24 12:25] Olawale1 opened #23237 "[UX] Please hide modules where the user has no access to any DocType"
Hi ,

Please hide modules (and Shortcuts) where the user has no access to the DocTypes. Users keep asking why they are seeing all this stuff on their screen when they have no permission for them and honestly, it's difficult to understand why V12 was released at all without first addressing this issue

Please help fix as a matter of urgency... This is probably the worst of UX issues on V12

Thanks

[2020-01-24 14:33] WebsiteDeveloper commented on #9307
Shouldn't this be directed in the https://github.com/frappe/bench repository

[2020-01-24 15:16] #8888 closed, assigned to nobody

[2020-01-24 19:09] racitup commented on #9330
For a solution run:
`bench execute erpnext.erpnext_integrations.doctype.plaid_settings.plaid_settings.automatic_synchronization`

[2020-01-25 01:58] racitup opened #9360 "[V12] tag updating does not preserve order"
## Description of the issue
When updating the list of tags, order is not maintained by the set() call

## Context information (for bug reports)
https://github.com/frappe/frappe/blob/66a5bf3320da6a1543ee68fb5b42425697fc3dcc/frappe/desk/doctype/tag/tag.py#L84
**Output of `bench version`**
[code]

## Steps to reproduce the issue
1. Add a tag
2. Refresh the page

### Observed result
Order is randomise

[2020-01-26 10:42] krnkris commented on #9307
@fruitjam

If you solved please close this issue.

[2020-01-26 15:13] clarkejj commented on #23237
https://discuss.erpnext.com/t/please-hide-modules-where-the-user-has-no-access-to-any-doctype/57284

[2020-01-26 15:13] clarkejj commented on #9390
https://discuss.erpnext.com/t/please-stop-showing-release-notes-to-all-users/57283

[2020-01-26 16:00] JoyceBabu opened #18530 "LDAP Search String needs to end with a placeholder"
## Description of the issue

When I try to enter `(&(objectclass=inetOrgPerson)(|(uid={0})(mail={0})))` as the LDAP Search String, I am getting the error message

Please replace the end with placeholder `{0}` check, with contains placeholder `{0}`. The above search string used to work on a previous version of ERPNext.

## Context information (for bug reports)

**Output of `bench version`**
[code]

[2020-01-27 13:55] #9307 closed, assigned to nobody

[2020-01-28 12:18] crescent28 commented on #9390
Hi, @Olawale1 the message popup is not a bug, it is for updating the users with the features/fixes updated in the upcoming releases. Although you will be notified if this will be taken up since it is an essential update for the software.

Kindly allow me to close the issue.

[2020-01-28 12:22] crescent28 commented on #23237
@Olawale1 you can show/hide the icons on the screen which are of no access to the users.
![ola](https://user-images.githubusercontent.com/41110073/73263601-ee0fe200-41f6-11ea-99db-47615b160818.gif)

[2020-01-28 12:30] Olawale1 commented on #9390
hi @crescent28

thanks for your feedback. It's okay to change the label but I don't think it should be closed. As you can see, lot's of other users would also like this behaviour changed or at least made optional rather than having to hack the core code!

Please re-open and label appropriately

Thanks

[2020-01-28 12:35] Olawale1 commented on #23237
Hi @crescent28

This is not feasible at all… especially when you have lots of users. You have to check each user’s roles and figure out which modules they should see based on each role. You then have to manually make adjustments whenever roles are added or removed! Imagine you have 60 users (many actually have lots more), how would this be managed effectively?

Also, this doesn’t solve the issue o

[2020-01-29 23:22] barredterra commented on #9390
My suggestion: add a checkbox to System Settings:

- [ ] Show release notes to System Mangers only.

[2020-01-31 14:19] mariotruss opened #18531 "Textfield will convert signs into HTML due to XSS"
# Description of the issue
When writing inside a text field of type `text`, when you add a usual symbol like >, < or other, will convert it from this before saving:
![image](https://user-images.githubusercontent.com/24277433/73545575-dc6b4c00-443b-11ea-84ed-37edf3a05a7d.png)
after saving to this:
![2020-01-31 15 11 31](https://user-images.githubusercontent.com/24277433/73545630-fc9b0b00-443b-11ea-

[2020-02-03 12:39] mariotruss commented on #18531
@hrwX:
In the Text field, there is a check Ignore XSS Filter, if you check that, the issue will be fixed. Its a security measure to avoid XSS. You can read more about XSS here https://en.m.wikipedia.org/wiki/Cross-site_scripting

**Mario Truss:**
I have talked about this with my team. They think that XSS Filter is necessary, as there can be security threads. Therefore ignoring XSS is a workaround,

[2020-02-03 12:42] jay-parikh commented on #8652
Here is the updated code:
[code]

[2020-02-03 12:43] jay-parikh commented on #8932
Here is the updated code:
https://github.com/frappe/frappe/blob/version-12/frappe/public/js/frappe/form/grid.js
add_new_row(idx, callback, show, copy_doc) line # 480
[code]

[2020-02-03 12:55] mariotruss commented on #18531
For us it seems like you sanitize in when saving, that's why it's correctly displayed in change log, but and sanitizing into a human-readable format when being displayed again.

[2020-02-03 12:55] #9390 closed, assigned to nobody

[2020-02-05 03:36] iMoshi commented on #9349
One way around it is that you create a translated .csv file and commit your changes. The .csv file directly targets the target DocType or the .py file.

[2020-02-05 04:40] shridarpatil opened #9418 "[bug]: Scrub url method should replace only relative url"
## Srub url method should append site url only for relative url

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create html with css background-image: url('http://hello.png')
2. html = frappe.render_template('<ur html here>')
3. Send email with message as  html

### Observed result
http://erpnext.com/https://hello.png

### Expect

[2020-02-05 12:43] barredterra commented on #9349
Thanks @iMoshi . @surajshetty3416 works to make this available via the GUI as well.

There are still cases where the source string itself should be improved, like mentioned above.

[2020-02-06 02:35] alexszilagyi commented on #18530
Any updates?

[2020-02-06 07:18] crescent28 commented on #14862
@Olawale1 Kindly elaborate your use case so that we can consider the development of the Workflow feature.

[2020-02-07 11:33] ryuliantoro commented on #6989
If I'm not mistaken until version 11 the translation files have 3 columns: file path, English, translated language. I don't see it anymore in v12.
I think the file-path where the original (English) label can be found is enough as the "context" or "ID".
At least this way, the translator can see on the ERPNext page where it is found and appropriately translate.
And at the system end, the built-in tr

[2020-02-09 09:34] idolaru opened #14628 "Notes Public Pop-up - Select Doctype"
It would be nice to have the Notes which are Public to appear as Public on specific Doctypes and not Globally.

[2020-02-10 11:44] preetigu commented on #8556
Getting the same error, any resolution for this?

[2020-02-10 16:42] creamdory opened #9458 ""Depends On" does not work in "Quick Entry" view"
## "Depends On" Bug in "Quick Entry View"

The `Depends On` logic does not work in the `Quick Entry` view. Please see gif below.

![drink](https://user-images.githubusercontent.com/21003054/74169868-4a79f500-4c2c-11ea-8d66-f683061c49e5.gif)

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create new custom `Doctype`, make it quick

[2020-02-10 22:11] felocru opened #9460 "python-socketio"
Hi, this framework looks interesting.
But it causes me a little noise to have dependencies on other technologies. It is the case for realtime with socketio.
Have you thought about implementing this library https://github.com/miguelgrinberg/python-socketio?
It has been with support for years and the person in charge is well known.

Do you think the implementation is feasible?
I await your comments.

[2020-02-10 23:38] Thunderbottom commented on #9460
could you describe what exactly is the issue that you have with the current socketio implementation?

[2020-02-11 11:16] toxnico opened #14814 "Bug : gravatar.com unreachable causes long freeze while saving a contact (timeout issue)"
## Description of the issue
ERPNext hangs when I save a contact with an email address defined as primary email.
I identified the problem : Gravatar is not available from my server, the has_gravatar() function times out after 2 minutes. Way too long.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Close the access to Gravatar on y

[2020-02-12 06:21] abhijitkumbharInd opened #19323 "Workflow actions can be incorrect when document is programatically submitted"
**## Description of the issue**
When we created and enabled workflow and the document gets submitted then it is still showing the action button of a workflow. If a user performs the action on that document then it gives error: Illegal Document Status for Workflow State.

**## Steps to reproduce the issue**

1. Create a workflow for Material Request
2. Create a Production plan, click on get raw mat

[2020-02-13 10:42] hcanGuido opened #9463 "Bench Installation Fails."
## Description of the issue

Bench installation fails because someone pinned frontmatter to 3.0.5 and PyYAML to 5.1, but frontmatter 3.0.5 requires PyYAML==3.13!

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. bench init frappe-bench
2. ERROR: frontmatter 3.0.5 has requirement PyYAML==3.13, but you'll have pyyaml 5.1 which is inc

[2020-02-13 10:42] hcanGuido opened #9541 "Bench Installation Fails."
## Description of the issue

Bench installation fails because someone pinned frontmatter to 3.0.5 and PyYAML to 5.1, but frontmatter 3.0.5 requires PyYAML==3.13!

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. bench init frappe-bench
2. ERROR: frontmatter 3.0.5 has requirement PyYAML==3.13, but you'll have pyyaml 5.1 which is inc

[2020-02-14 02:22] wensonsmith commented on #9541
same error , stuck here

[2020-02-14 06:56] abhijitkumbharInd opened #18532 "While selecting multiple items it adds one blank row on the item child table"
**## Description of the issue**

When a user clicks on add multiple items button and selects multiple items. When he closes the popup window, child table shows one blank row followed by selected items.

**## Steps to reproduce the issue**
1. Go to Sales Order.
2. Click on Add multiple buttons.
3. The popup window appears. Select multiple items.
4. Click the
![While selecting multiple items it adds

[2020-02-14 13:47] sagargharge commented on #18532
I'm looking into it.

[2020-02-14 14:24] fthobe opened #9467 "setup filter area in base_list.js creates error on custom reports in erpnext due to missing argument"
## Description of the issue
following lines in base_list.js create an error on certain lists created in ERPNext
[code]
Console Error
base_list.js:233 Uncaught (in promise) TypeError: Cannot read property 'length' of undefined
    at frappe.views.ReportView.setup_filter_area (base_list.js:233)

Seems someone forgot to verify that filters was not undefined/empty.

## Context information (for bug rep

[2020-02-15 11:56] sagargharge opened #18533 "One extra row is added on Purchase order if user tries to add multiple items"
## Description of the issue
One extra row is added on Purchase order if user tries to add multiple items

### Observed result
![Purchase Order](https://user-images.githubusercontent.com/35300966/74587356-60fec280-5017-11ea-8dc3-d3da121f8d58.gif)

## Steps to reproduce the issue

1. Go to Purchase Order doc
2. Select supplier
3. Click on Add Multiple

### Expected result
An extra row should not be

[2020-02-15 12:29] sagargharge commented on #18533
WIP

[2020-02-17 04:29] adals commented on #2508
1+
since 2016 and its not solved.

[2020-02-17 05:54] sagargharge opened #9472 "While selecting multiple items it adds one blank row on the item child table"
## Description of the issue
When a user clicks on add multiple items button and selects multiple items. When he closes the popup window, child table shows one blank row followed by selected items.
The issue is for each and every doctype where 'Add Multiple' functionality is present.

## Steps to reproduce the issue

1. Go to Sales Order.
2. Click on Add multiple buttons.
3. The popup window appear

[2020-02-17 05:54] sagargharge commented on #9472
Fixing

[2020-02-17 17:26] felocru commented on #9460
Hello, it is not exactly a problem. But I would like to avoid using other technologies.
Is there any way to change nodejs with the python-socketio?
Thank you.

[2020-02-17 17:28] barredterra commented on #6989
@ryuliantoro I think the path is not enough context because there may well be two different meanings within a single file. Also, a path is very ugly and difficult for non-technical users to understand. The goal should be that everybody who speaks both languages should be able to do a perfect translation, not only people with technical knowledge of frappe/erpnext.

[2020-02-18 02:01] plameena commented on #9185
Hello, I am a two days old ErpNext user. Trying to migrate a client to AWS(fresh install) (ubuntu ERpnext version 12.4.3). So I have copied over the public files and restored the database sql and ran bench migrate mysite. I have also removed fail2ban, but I  get the same error when accessing the site from web browser:Please help!
![image](https://user-images.githubusercontent.com/61144504/74697321

[2020-02-18 05:40] Thunderbottom commented on #9460
as of right now, I don't think we do have any plans to support any other implementation than the one we do have. you could always try to add support for a different implementation and raise a pull request for the same if you would like. hope that is understandable.

[2020-02-18 05:40] #9460 closed, assigned to nobody

[2020-02-18 06:54] #9418 closed, assigned to nobody

[2020-02-18 07:03] #9467 closed, assigned to nobody

[2020-02-19 04:27] ishanloya opened #9509 "Add option to allow email ID in notification recipient list"
Currently, for email notifications there are two options: Email by Role and Email by Document Field.
It would be nice to also directly specify the email address of the recipient due to the following limitations.

Email by Role:
In smaller organizations, the system manager/business owner may have all roles assigned to them for permission reasons. They may not however want to receive every single no

[2020-02-19 09:10] Dharmraj-48 commented on #6315
@nabinhait  I tried working on this bug ,It was working fine even if I hide the field and try to recreate the issue so if I am missing something to create this issue so please suggest

[2020-02-19 12:09] Alchez commented on #9458
This is actually a problem for doing any kind of data manipulation in Quick Entry dialogs.

Since a DocType's events and validations (in its meta, form, etc.) are not extended to their respective Quick Entry dialogs, none of them seem to work in the dialog unless they're explicitly inserted there (as in the case for Item's quick entry).

[2020-02-19 12:38] hrwX commented on #9458
@alchez The issue is,  the value in doc is not updated when using quick entry, hence the depends on doesn't work, I'm trying to figure out why! Technically if I am able to fix the data updation issue in doc, then the depends on will work as quick entry uses layout.js too just like form

[2020-02-19 17:54] clarkejj opened #18534 "in Contact list view, the popover for Contact Phone displays %20 for each whitespace character"
For Contact's Name, the popover displays space characters as expected.

But for Contact's Phone, the popover displays each whitespace character as %20

Please refer to this https://discuss.erpnext.com/t/whitespaces-turn-into-20-in-list-view/58248

[2020-02-20 03:49] ceefour commented on #7979
👍 for this. I just got hit by this using latest bench and frappe version-12. I hope this bug will be fixed soon.

Due to this, Quick Entry form dialog is unusable if the doctype has read-only "fetch from" fields.

[2020-02-20 04:02] aure1is commented on #18534
Just for clarification, this “bug” applies to all list fields in any DocType (except Title Field) and is not restricted to Contact DocTye nor the phone_no field.

[2020-02-20 22:10] AkramMutaher commented on #8932
Doesn't Work for me

[2020-02-22 03:15] unidow opened #14813 "Error in sending email from ERPNext"
Hi,

while sending email from ERPNext, i am getting the following error message:

**Encryption key is invalid, Please check site_config.json**

let me know how to fix this.

[2020-02-22 08:27] hrwX commented on #14813
Did you restore the backup to another site ??

[2020-02-22 12:54] wildsurfer commented on #6588
Same issue

[2020-02-22 14:21] unidow commented on #14813
No. We did not do anything which might have caused this error. Is it related to an upgrade issue?

[2020-02-24 07:27] surajshetty3416 commented on #9541
https://github.com/frappe/bench/issues/927#issuecomment-588260099

[2020-02-24 08:53] 0925-pinka commented on #9359
https://discuss.erpnext.com/t/wkhtmltopdf-errno-2-frappe-email-queue-flush/52073/4 <= this link will solve the issue.

[2020-02-25 07:08] shridarpatil opened #9548 "Postgres query bug"
## Description of the issue
![image](https://user-images.githubusercontent.com/11792643/75221583-34416c80-57c8-11ea-8782-83759d9af2a8.png)

## Context information (for bug reports)

**Output of `bench version`**
[code]

### Observed result
Value is of type text but in filter it was passed as integer
https://github.com/frappe/frappe/blob/develop/frappe/utils/user.py#L163

### Expected result

### S

[2020-02-25 07:39] jtarun4625 commented on #9330
So it will just run the method but in backgrounds jobs are running or not ?

[2020-02-25 11:40] madmath03 opened #9550 "Bench init fails on v10"
## Description of the issue

Bench init fails on v10.

## Context information (for bug reports)

**Output of `bench version`**
NA

## Steps to reproduce the issue

1. `bench init --frappe-branch v10.x.x`

### Observed result

[code]

### Expected result

Bench init should still work for v10.
I guess GitPython should be fixed to another version with a more specific requirement for gitdb.

Maybe `Gi

[2020-02-25 20:42] Olawale1 opened #9551 "Triggers don't work when Workflow is activated"
Hi ,

Normal triggers for custom scripts (before_submit, before_save etc) don't work when workflow is activated

Please help fix this

Thanks

[2020-02-25 20:44] Olawale1 opened #9552 "No confirmation dialog for Submit/Cancel in Workflow"
Hi ,

There is no confirmation dialog when a document is about to be Submitted and/or Cancelled via Workflow

Please help fix this

Thanks

[2020-02-26 07:20] #9548 closed, assigned to nobody

[2020-02-27 06:23] Dharmraj-48 commented on #8616
Can you please specify this bug in bit detail

[2020-02-27 10:21] aakvatech opened #9560 "build_domain_restriced_doctype_cache does not refresh based on updates to config/<module>.py file"
https://github.com/frappe/frappe/blob/d36c21ce894da4449e66a9a78ce92d4abcba6f23/frappe/desk/moduleview.py#L107

## Description of the issue
New doctypes created and added to config/<module>.py file reflected in desk module view

## Context information (for bug reports)
Any custom app on frappe with below frappe version:
v12.2.21

**Output of `bench version`**
[code]

[2020-02-27 10:37] grynn-in opened #9561 "Use Emails over API instead of POP/IMAP"
Currently only IMAP/POP are the only protocols to get email in ERPNext. However, as a security measure some companies do not allow IMAP/POP. In the case of one customer,  it disabled for the entire domain.  Our client uses G-suite.

G-Suite, the recommended option to get email is via API:
https://developers.google.com/gmail/api

Python is supported out of the box.

Google recommends the API access

[2020-02-27 11:10] marekzada commented on #9561
Thank you for posting, would definitely use.

[2020-02-27 11:34] Dharmraj-48 commented on #8751
There is an "print-format td" which dont allow you to override it ,Try to use Custom CSS so it might help out.

[2020-02-27 14:10] WebsiteDeveloper opened #9564 "Dropping Python 2 Support?"
Are there any plans on dropping python 2 support and a timeline?

[2020-02-28 05:58] hrwX commented on #9458
@creamdory I have opened a PR for the fix. Closing this issue

[2020-02-28 05:58] #9458 closed, assigned to nobody

[2020-02-28 09:31] barredterra commented on #6989
Work in progress can be viewed here:

https://github.com/frappe/frappe/pull/9636
https://github.com/frappe/translator/pull/203
https://github.com/frappe/erpnext/pull/21550
https://github.com/frappe/erpnext_documentation/pull/58

[2020-02-28 14:09] WebsiteDeveloper commented on #9035
@barredterra This seems fixed in the current version
Does it still reproduce for you?

[2020-02-29 08:26] #9035 closed, assigned to nobody

[2020-03-01 00:40] MarekPikula commented on #16956
It's the same for PLN, where it should be formatted as suffix (for example _100 zł_, not _zł 100_).

Is anyone working on that?

[2020-03-01 16:20] MarekPikula commented on #898
Where this manual article resides now @rmehta? Currently it's 404.

[2020-03-01 17:18] barredterra opened #9601 "Incompatible GitPython versions"
## Reproduce

`bench update --reset` from `v12.2.1` to `v12.3.0`

## Error
[code]

[2020-03-01 17:24] barredterra opened #9602 "Incompatible PyYAML versions"
## Reproduce

`bench update --reset` from `v12.2.1` to `v12.3.0`

## Error

[code]

[2020-03-01 17:27] barredterra commented on #9601
Moved to https://github.com/frappe/bench/issues/939

[2020-03-01 17:27] #9601 closed, assigned to nobody

[2020-03-02 02:21] MarekPikula opened #9604 "More flexibility in custom Social Login settings"
**Is your feature request related to a problem? Please describe.**
In current form it's not possible to configure Frappe for Nextcloud Social Login.

**Describe the solution you'd like**
It would be the best if there would be field map between Frappe User fields and these fetched from Social Login provider, with support for hierarchical keys (for example `ocs.data.email`).

**Describe alternatives

[2020-03-02 07:35] WebsiteDeveloper commented on #9602
Isn't this the same as #9541 ?

[2020-03-02 14:57] WebsiteDeveloper commented on #1634
I would love to have this.
I would also be willing to donate some time to work on something like this, if someone could point me in the right direction

[2020-03-03 00:02] creamdory commented on #9458
Thnaks @hrwX !

[2020-03-03 06:56] hrwX commented on #9360
@racitup PR has been open for this issue. Closing this

[2020-03-03 06:56] #9360 closed, assigned to nobody

[2020-03-04 14:19] knimer opened #9638 "Theme File Generation Failed"
Description of the issue
Inside the ERPNext I am facing this error:

**Theme File Generation Failed**
`Traceback (most recent call last):
  File "/home/frappe/frappe-bench/apps/frappe/frappe/website/doctype/website_theme/website_theme.py", line 112, in generate_theme_files_if_not_exist
    doc.generate_theme_if_not_exist()
  File "/home/frappe/frappe-bench/apps/frappe/frappe/website/doctype/websit

[2020-03-04 14:59] alkuhlani opened #9639 "Background Job Engin"
Dear Developers,

First of all, I'm really appreciated your work, Frappe is the best framework for us, You are an inspiration to us,
Secondly, I have a humble proposal, which I hope will be taken into consideration in the future.
the proposal is an Adding a `Background Job Engin`. like the Workflow Engin.
the feature application is:

1. Change document status or any field.
2. Create a new doctype

[2020-03-05 03:10] pipech opened #9640 "Passing List as API parameter"
### **User should be able to passing List as API parameter**

Code example:

[code]

Input:

[code]

Output of `read_list_param` function

[code]

This is because there are conversion happening when received parameter.

Added by this commit. (Year 2014)

https://github.com/frappe/frappe/blob/3444dd4a3870ad7f3b45776a52955fa418cec34e/frappe/app.py#L103

I don't know why do we need this since list is

[2020-03-05 11:09] surajshetty3416 commented on #9602
This issue has been fixed with [this PR](https://github.com/frappe/frappe/pull/9621)

[2020-03-05 11:09] #9602 closed, assigned to nobody

[2020-03-05 11:17] surajshetty3416 commented on #6315
@nabinhait [This PR](https://github.com/frappe/frappe/pull/9539) should fix the issue. Please check and confirm.

[2020-03-05 11:17] #6315 closed

[2020-03-05 11:18] surajshetty3416 commented on #9541
This issue has been fixed with [this PR](https://github.com/frappe/frappe/pull/9621)

[2020-03-05 11:18] #9541 closed, assigned to nobody

[2020-03-06 06:49] gavindsouza commented on #9550
@madmath03 Currently, requirements are pinned only for `version-12` and `develop` if I'm not wrong. I think `version-11` and `v10.x.x` should also have their requirements pinned for this

[2020-03-06 10:40] JChiyah commented on #16956
There is a way to change this in the code for the whole system. I cannot remember where it was but modifying one of the helper functions that format money amounts did the trick for me. Ideally, this would be a system-wide setting switch.
Unfortunately, I don't have access to the code anymore to submit a pull request.

[2020-03-06 11:29] madmath03 commented on #9550
@gavindsouza ok. I agree that versions should be pinned too for version 11 and 10.

[2020-03-06 13:43] MarekPikula commented on #16956
I'm planning to work on a PR to make it on per-currency basis.

[2020-03-08 10:47] imorghim opened #9666 "Add jQueryGantt library to project management"
How can add this library into frappe ?

I make new page and add js to hooks in page_js

but there is some errors

[2020-03-08 14:41] anasanzari commented on #6201
+1

[2020-03-09 07:50] nmimsnikhil commented on #8652
https://github.com/DigiThinkIT/frappe/pull/203

[2020-03-12 18:47] jaichavan opened #9683 "GSuite Settings missing"
Bug 1: When trying to access GSuite Settings, this error occurs:

![image](https://user-images.githubusercontent.com/40264279/76556504-afd93400-64bf-11ea-88e3-e7c938f4956d.png)

First reported [here](https://discuss.erpnext.com/t/gsuite-documents-integration-missing/59134)

ps. Notice the overflowing text in the error message popup, that's Bug 2. Please fix that as well. Also an opportunity to imp

[2020-03-13 04:58] hrwX commented on #9683
https://github.com/frappe/frappe/pull/9671

[2020-03-13 05:02] #9683 closed, assigned to nobody

[2020-03-13 09:10] scmmishra opened #9687 "UI/UX Redesign"
## Objectives
- [ ] More of a UI refresh
- [ ] Better UI states (null state, success state, error state, empty state)

## Screens - Desktop
### Desk
![Image](https://user-images.githubusercontent.com/18097732/76597655-f8780800-6526-11ea-83ce-391551b52deb.png)

<details>
<summary>
Settings Page
</summary>
<img src="https://user-images.githubusercontent.com/18097732/76599251-9d481480-652a-11ea-849f-

[2020-03-14 18:57] madmath03 opened #9696 "[FEATURE] Coverage reports in XML (Cobertura) and other formats"
**Describe the solution you'd like**
Currently, the unit test coverage are saved as a data file. I would like to be able export coverage reports in XML (Cobertura) or JSON formats.
This would allow to send coverage reports to other online tools like Codacy, and (maybe) provide better integration into IDE.

@nabinhait I do not know if this should be done by default when enabling coverage, or if it

[2020-03-15 10:27] OnlineAlone opened #18537 "Multi-tenant doesn't link to app"
## Description of the issue
Using bench for create new sites (site2.local, site3.local etc) ends with incomplete setup wizard at first login by Administrator, and hence no modules are deployed for the new sites.
## Context information (for bug reports)

## Steps to reproduce the issue
[code]
### Observed result
Please refer to the below link to see contents of home page.
<s>[https://discuss.erpnex

[2020-03-15 18:30] barredterra opened #9697 "Google Contacts: Password cannot be more than 100 characters"
### Reproduce

1. Enable the Google integration in **Google Settings**
2. Add a new **Google Contacts** account
3. _Authorize Google Contacts Access_
4. Click on "Save".

### Error

[code]

### Version

ERPNext: v12.5.2 (version-12)
Frappe Framework: v12.3.0 (version-12)

[2020-03-17 11:27] barredterra opened #9722 "Generic oAuth Client for integrations"
## Problem

Google likes to use oAuth2 as much as possible and deprecates normal API access tokens. There will be the need to connect more services, like email, via oAuth2.

We have the **Google Settings** to enter client_id and client_secret. With this, Frappe can work as a oAuth Client. However, the same functionality is also implemented in **Social Login Key**.

We have six different implementa

[2020-03-17 17:40] hiveint opened #9727 "stripe_checkout page layout broken for mobile users"
## Description of the issue
When viewing ./integrations/stripe_checkout? which is using frappe/templates/pages/integrations/stripe_checkout.html on a mobile device, the layout is broken, and fields are not visible
## Context information (for bug reports)
Client:
 - Tested with Chrome in iOS, and chrome and firefox in windows with mobile emulation

Server
erpnext 12.5.2
frappe 12.3.0
## Steps to re

[2020-03-18 09:56] pipech opened #9732 "You are running Vue in development mode."
# Issues

**Console.warn `You are running Vue in development mode.` on desk (and many) page.**

In `frappe/frappe/public/build.json` file changing `"node_modules/vue/dist/vue.js"` to `"node_modules/vue/dist/vue.min.js"` will solve the problem.

But we should be able to toggle between production and development by some command or some environment variables.

## Description of the issue

Browser con

[2020-03-19 12:11] commodorehans commented on #7144
Hello, i faced an issue when trying to create an an Account dimension. It was giving me this error.
![acct dimension](https://user-images.githubusercontent.com/38109743/77066252-1b9d2e80-69e3-11ea-971a-3a7949bd9132.PNG). Please help me look into it

[2020-03-20 00:12] revant opened #9745 "version on develop branch is stuck to v12.1.0"
## Description of the issue

version on develop branch is stuck at v12.1.0.

OR is doesn't matter? close issue then.

## Context information (for bug reports)

https://discuss.erpnext.com/t/release-notes-erpnext-v12-6-0-and-frappe-v12-4-0/59400

https://github.com/frappe/frappe/blob/develop/frappe/__init__.py#L26

## Steps to reproduce the issue

1. setup frappe-bench with frappe develop branch
2.

[2020-03-20 08:20] Thunderbottom commented on #9745
should be fixed now!

[2020-03-20 08:20] #9745 closed, assigned to nabinhait

[2020-03-20 15:56] scmmishra opened #9752 "Add dashboards link to new desk"
Add leaderboard links too

[2020-03-22 10:36] wojosc opened #9757 ""/" breaks Tags."
When using a "/" in a tag it won't work.
![grafik](https://user-images.githubusercontent.com/22279621/77247405-395fd300-6c31-11ea-855e-c5460e62a9bf.png)
As a result I can not delete that tag. Not on the DocType where I set the tag. neither in the Tag List.

[2020-03-22 12:46] alkuhlani opened #9758 "Nameerror: name 'frappe' is not defined (in Workflow - in V12.5.2 - V12.6.0)"
I can not use "frappe" keyword in the condition field in WorkFlow,
for example (frappe.session.user==doc.owner)
I face this error ("nameerror: name 'frappe' is not defined")
It had worked fine in the last versions
More notes found here https://discuss.erpnext.com/t/nameerror-name-frappe-is-not-defined-in-workflow-in-v12-5-2/58779/5

[2020-03-22 13:48] wojosc commented on #9757
In List view I am not able to delete the DocType because it is still linked.
![grafik](https://user-images.githubusercontent.com/22279621/77251030-332b2000-6c4c-11ea-80c0-8b4ae9bf2992.png)

[2020-03-22 14:11] alkuhlani commented on #9758
Sorry, I think it was a user mistake, because I tried another time and it works correctly.

[2020-03-22 18:18] wojosc opened #9760 "Unsorted List in comments buggy"
Hi,

we have noticed, that using text formatting in the comment section can be frustrating. Here is an example on unsorted list:
![grafik](https://user-images.githubusercontent.com/22279621/73398298-7cfb2800-42e5-11ea-994c-8239eb08450f.png)

Also I only get the formatting options when marking some existing text.
![grafik](https://user-images.githubusercontent.com/22279621/73398369-9e5c1400-42e5-11

[2020-03-22 21:51] wojosc commented on #9760
It seems it disappears after a while...

[2020-03-23 14:27] alkuhlani commented on #9758
Sorry, it still happens.

[2020-03-24 07:51] TurkerTunali opened #14627 "Bulk submit in WO doesn't check errors in document"
![SubmitBug](https://user-images.githubusercontent.com/710051/77400431-33e2c400-6dbc-11ea-864f-69c0cb49f624.gif)

## Description of the issue
I get an error when submitting Work Order in the document. But still I can submit it in the list view.
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a Work Order without Source WH i

[2020-03-24 13:12] Citysystems-smart commented on #16432
thank you for your great work

when this subject can be ready?
is there any estimation time?

[2020-03-24 14:25] dfb opened #9778 "[frappe-install] mariadb unix_socket errors on Ubuntu 18.04"
On a fresh Ubuntu 18.04 64-bit install (I'm on AWS using ami-0756ed94dd77be215), the Hitchhiker's Guide process runs into an error after the step to install mariadb:

[code]

During install, it *did* ask for for a MySQL root password, so I did *not* run mysql_secure_installation. To fix the problem, I followed the steps outlined in this article:

https://computingforgeeks.com/how-to-solve-error-15

[2020-03-24 14:40] parsimonyERP commented on #16432
We were sponsoring this project and have paused it for now to focus on other ones.

[2020-03-24 18:01] dufani1 opened #14626 "Changing of current text editor used"
Hello,
We noted that the current text editor not friendly use especially with Languages like Arabic.
It is working bad with tables, RTL direction and undo/ redo options.
We advise from our market feedback to enhanced or change it.
Thanks

[2020-03-24 20:46] Huehnerbrust opened #18538 "Login not possible behind reverse proxy"
Hi!

Just installed via easy install on a fresh ubuntu 18.04 LTS server. My setup has a DMZ with the frappe server that I can access from my local LAN as frappe.home.local
I also have a reverse proxy on my firewall that allows accessing the frappe server from the internet as frappe.mydomain.de

The non-login part works fine. I can access the blog etc.

But i cannot log into my installation. It alw

[2020-03-25 08:20] alkuhlani commented on #9758
https://github.com/frappe/frappe/pull/9773
https://github.com/frappe/frappe/commit/71570182b82349bd767252f0eac7d11548226465

[2020-03-25 08:20] #9758 closed, assigned to nobody

[2020-03-25 09:03] scmmishra commented on #9666
Frappe has it's own gantt baked into the framework. You can use that instead

[2020-03-25 10:38] barredterra opened #9782 "Deadlock found when trying to get lock"
During setup wizard in frappe_docker, this errror occors:

[code]

![image](https://user-images.githubusercontent.com/14891507/77528421-37df1680-6e8e-11ea-904a-1b6fdd3bae7d.png)

erpnext 12.x.x-develop
frappe 12.4.1

[2020-03-25 10:49] barredterra commented on #9782
This goes away after a `bench migrate && bench clear-cache`.

[2020-03-25 10:59] wojosc opened #9783 "deleting Document Follow"
If I delete Document Follow from a DocType it deletes all users from the follow section. I guess it should just delete "me"?

Thank you

[2020-03-26 07:42] scmmishra opened #9788 "Shortcut stats don't refresh on page show"

[2020-03-26 10:03] fabriziomiano commented on #9550
@gavindsouza would it take too much effort to change the GitPython requirement in the `v10.x.x` branch? We're still in the process of migrating our app to `version-12` of frappe and hired a new guy, but he can't go ahead as he cannot install `v10.x.x` which is quite blocking (same error that @madmath03 has reported).
Any help is very much appreciated! Have a lovely day and stay safe everybody!

[2020-03-27 08:16] gavindsouza commented on #9550
successfully pinning requirements would require some efforts for [frappe/frappe](https://github.com/frappe/frappe) and [frappe/erpnext](https://github.com/frappe/erpnext) v10 and v11. However, as a temporary measure, you could perhaps try reproducing an existing v10 bench's environment on the new v10 benches @fabriziomiano

[2020-03-27 12:41] fabriziomiano commented on #9550
uhmm.. that sounds interesting and maybe feasible.
How would you do it using the `bench init` command? As a matter of fact I do have a frappe-v10 working environment but how could I get a functioning a functioning version of a new bench on a new machine, that would allow me the usage of `bench get-app` , `bench --site bla install-app.. `?
Surely not by simply copying on the new machine my `.bench`

[2020-03-29 21:19] ddavidebor opened #9805 "OpenAPI / Swagger automatic generation for rest API"
**Is your feature request related to a problem? Please describe.**

I am having practical issues in building REST APIs on top of the frappe framework. I have all my beautiful doctypes, they're loaded with data, but find the perfect name and format of all my rest api is tedious and prone to error, and implementing them manually is incredibly annoying. I also have to provide similar API to my custom

[2020-03-29 21:55] ddavidebor opened #9806 "remove stale issues"
There are stale issues from 2016.

I suggest you modify your https://github.com/probot/stale configuration so that stale issues are automatically labeled and closed. This way users will read and reopen them if still important.

[2020-03-30 07:09] gavindsouza commented on #9550
`bench pip freeze > requirements.v10.txt`

Using this `requirements.v10.txt` file, you can reproduce the environment on any other bench. After a bench init for v10, which is likely going to fail as it might not be able to meet Frappe's requirements, install by `bench pip install -r requirements.v10.txt` on the newly created bench and run `bench pip install -e apps/frappe`.

As for your other apps,

[2020-03-30 10:15] fabriziomiano commented on #9550
thanks for your reply @gavindsouza . I did not know `bench` embeds `pip` commands.
In fact, I get
[code]
Note that I have everything in place, and I work to other projects with `pip` every single day of my life

[2020-03-30 10:58] gavindsouza commented on #9550
@fabriziomiano since https://github.com/frappe/bench/pull/915, you can run so. It's just a convenient wrapper to use the env pip from anywhere inside your current bench.

[2020-03-30 12:58] #1144 closed

[2020-03-30 13:03] gavindsouza commented on #9564
Support for python versions as follows:
[code]

[2020-03-30 13:03] #9564 closed, assigned to nobody

[2020-03-31 03:14] AndyOverLord commented on #18516
I am having the same problem with bench migrate not working properly, I have two sites on one bench, after I change the fixture in one site, I ran `bench --site all migrate` but another site still have the deleted custom fields in customize form UI.

[2020-03-31 09:45] barredterra opened #9818 "Email: automatic linking does not work in BCC"
## Description of the issue

When I put the document E-Mail (example+Task+TASK-0001@exmple.org) into blind copy (BCC), frappe does not link it to the document.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Check "Enable Automatic Linking in Documents" in **Email Account** example@exmple.org
2. Create a new Task, TASK-0001 and c

[2020-03-31 16:48] barredterra opened #9829 "Notify admin about undelivered mails"
**Is your feature request related to a problem? Please describe.**
When I send an email from frappe via mailgun it will be displayed as "sent" in frappe. However, it is only added to the mailgun queue and can still fail for various reasons. The user cannot notice this in frappe and assumes that the email was delivered.

**Describe the solution you'd like**
Mailgun provides a webhook that can notif

[2020-03-31 20:11] dufani1 opened #9988 "Adding custom forms under other form dashboard"
Hello @scmmishra
Requested feature is : When create new custom form (called X), we need to add form X under dashboard of Sales Order (or any other Standard Form or custom form).
Please check below image for more info.
![image](https://user-images.githubusercontent.com/23026263/78070750-9f202d80-739c-11ea-875b-6fb339e45880.png)

[2020-04-01 09:25] katsamsoft commented on #6201
any update on this ?

[2020-04-01 11:14] Expressgt commented on #9856
Any change on this issue. I hace problems to manage security in files because now all files are public without option to secure. Th dB option is great for some files storage. Is in develop?

[2020-04-01 14:57] wojosc opened #9836 "Problem with Link E-Mailaddresses"
Hi,

we run into problems when using the link e-mailaddress on e.g. Project when these have a title with spaces as the address will then be

link+something%20problematic@company.com

![grafik](https://user-images.githubusercontent.com/22279621/78152189-c24cea80-7439-11ea-8d32-101de9701565.png)

Thank you.

[2020-04-01 16:07] cphoa28 commented on #9638
I get same error:

raceback (most recent call last):
  File "/home/frappe/frappe-bench/apps/frappe/frappe/website/doctype/website_theme/website_theme.py", line 112, in generate_theme_files_if_not_exist
    doc.generate_theme_if_not_exist()
  File "/home/frappe/frappe-bench/apps/frappe/frappe/website/doctype/website_theme/website_theme.py", line 81, in generate_theme_if_not_exist
    theme_path = j

[2020-04-01 20:25] majdalhalabi1994 opened #9839 "chat messages in erpnext"
first issue:
when i create new chat room i take long time to purview and some time it never shown >> so also i can't create another one because system will return error message ((Direct room with user already exists.))

second:
when i attach a file in chat filename did not shown in message Instead of that its shown as (undefined)
![image](https://user-images.githubusercontent.com/63017754/78182198

[2020-04-03 10:28] N8jar commented on #18716
+1

[2020-04-06 10:50] AlvaroMolano commented on #9805
Hi, I am trying to do the same. There is an outdated frappe v11 unofficial openapi doc that I used in conjunction with openapi-generator to build a dart client.
https://github.com/AlvaroMolano/openapi-frappe-dart
It needs a lot of refactoring, so I should wait to see some improvements or answer from Frappe
In order to be successful, we do not only need an official swagger.json but an updated one.

[2020-04-06 11:48] jwrober opened #9856 "Files Handling Security Issue"
From here - https://discuss.erpnext.com/t/files-handling-security-issue/24055

I propose moving all files into the database and then finding a way to encrypt the database itself to prevent tampering/hacking. Encryption keys should not be in plain text configuration/json type files either. MD5 hash is easily cracked, so that won't work either.

[2020-04-06 11:58] ddavidebor commented on #9805
@AlvaroMolano was that openAPI generated manually?
I am taking specifically about an automatically generated OpenAPI that exposes ALL API for all doctypes of that particular frappe/erpnext installation.

[2020-04-06 12:49] scmmishra commented on #9560
This PR updates the caching policy https://github.com/frappe/frappe/pull/9858

[2020-04-06 17:44] AlvaroMolano commented on #9805
@ddavidebor I do not have knowledge of how the doc was initially generated. I used it to automatically generate my client, by now I am only testing against it.
You can check the original repo by yourself:
https://github.com/alyf-de/frappe_api-docs
It does expose all needed endpoints plus access to remote procedure calls, methods.

[2020-04-06 21:23] wpleasant commented on #9697
I had similar issues when both the Google "Contacts API" and the "People API" enabled at the same time. Removing the "Contacts API" from the project fixed the issue.

[2020-04-07 12:51] ddavidebor commented on #9805
I see no code there so I would assume manually

[2020-04-08 01:38] fredeni commented on #339
+1 for CardDAV server
+1 for CardDAV client as well
+1 for CalDAV as well, server being my preferred.

Would be willing to contribute financially.

I'd use ERPNext as the central repository of all my contacts if I could access them easily from my laptop and smartphone (Mac & iPhone btw, make sure they work with them too, heard they have some particularities when it comes to CardDAV-compliance).

[2020-04-09 02:03] szufisher opened #9877 "Line break lost when copy paste to Text Editor field in child table, same for data import"
When import or copy long text data for Text Editor field from Excel file , the line break get lost after import or paste.

here the relevant code to fix the copy paste to table control

var child_doctype = cur_frm.fields_dict[cur_table_field].df.options;
					$.each(row, function(ci, value) {
						var fieldtype = frappe.meta.get_field(child_doctype,fieldnames[ci]).fieldtype;
						value = value &

[2020-04-09 02:05] szufisher opened #9878 "[bug] line break lost when copy content from Excel to Text Editor field in child table, also for data import."
When import or copy long text data for Text Editor field from Excel file , the line break get lost after import or paste.

here the relevant code to fix the copy paste to table control

var child_doctype = cur_frm.fields_dict[cur_table_field].df.options;
					$.each(row, function(ci, value) {
						var fieldtype = frappe.meta.get_field(child_doctype,fieldnames[ci]).fieldtype;
						value = value &

[2020-04-09 02:14] szufisher opened #9879 "[Bug] can not submit purchase receipt if quality inspection is rejected"
## Description of the issue

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue
1. create a new quality inspection template
2. create a new item and mark it as quality inspection required for purchase, assign a quality inspection template
3. create and submit a purchase order with the above item
4. create a new purchase receipt for the a

[2020-04-09 02:18] szufisher commented on #9879
sorry, this is related to erpnext instead of frappe.

[2020-04-09 02:18] #9879 closed, assigned to nobody

[2020-04-09 03:24] hrwX commented on #7827
https://github.com/frappe/frappe/pull/9864

[2020-04-09 03:24] #7827 closed

[2020-04-09 12:22] pujanthakkar opened #18539 "Scroll Down Bar Not shown and scroll not working in reports like General ledger"
Scroll down bar not being shown and also scroll not working in reports like general ledger, Stock Balance and misc after update to V12.6.0

![](https://discuss.erpnext.com/uploads/default/original/3X/1/9/19da9a005de8b6ae836e3c30b801c78630400fc5.png)

[2020-04-09 12:23] pujanthakkar commented on #18539
I have noticed when we add a column the scroll bar shows up and scroll starts to work

![](https://discuss.erpnext.com/uploads/default/optimized/3X/3/c/3c90be4a475a339e469f0ca20cb035b357c83e4f_2_1035x582.png)

[2020-04-09 14:51] barredterra commented on #7827
@hrwX disabling comments is not exactly a review functionality but i'm fine with this solution. :laughing:

[2020-04-09 14:55] #9550 closed, assigned to gavindsouza

[2020-04-09 15:34] surajshetty3416 commented on #9877
Duplicate of https://github.com/frappe/frappe/issues/9878

[2020-04-09 15:34] #9877 closed, assigned to nobody

[2020-04-09 16:31] uwaclems opened #9886 "Link Path"
On the new Desk UI, when you create a Desk Page with links inside, the link path doesn't link to the name of the Desk Page but rather to the name of the Module that was entered when creating the Desk Page

[2020-04-09 16:52] racitup commented on #9722
Good work, just what I was looking for the other day!

A few questions from someone who doesn't really know a great deal about OAuth2 is (only looked at UK HMRC API):
- There doesn't seem anywhere to store/supply your Client ID and Client Secret, is that intentional? Also UK HMRC supports rotation of 5 client secrets which didn't appear to be supported by the Social Login Key.
- Is add_scope possi

[2020-04-09 23:38] racitup opened #10751 "[Feature] Switch off move to top of page on save"
**Problem**
When entering a lot of data on an ERPNext page it is normal to want to save regularly. When you save, the page automatically rewinds to the top of the page. This can be very tedious and annoying and detrimental to productivity.

**Describe the solution you'd like**
A setting to switch off the rewind behaviour, and keep the page where it is.

[2020-04-10 00:32] racitup opened #18540 "[Bug] Toast prevents scroll"
## Description of the issue
When a toast is used onscreen to show save success, scrolling is prevented. This is detrimental to productivity.

## Context information (for bug reports)
**Output of `bench version`**
[code]

## Steps to reproduce the issue
1. Save a page
2. Try to scroll with mouse wheel

### Observed result
No movement

### Expected result
Scroll

### Additional info
Browser: Chrome

[2020-04-10 10:28] scmmishra opened #9900 "Add a customizable announcement section to desk"
A Wiki section where users can put announcements etc in that section or add links / free form text

[2020-04-10 12:37] istevendev opened #9903 "Translatable field not translating when seen on webpages"
I activated translatable for data field tag line in doctype "Homepage".

![image](https://user-images.githubusercontent.com/28793639/78990185-dd5ce000-7b46-11ea-9427-fa53e880585c.png)

Everything worked smoothly and a globe sign appear next to it .

![image](https://user-images.githubusercontent.com/28793639/78990248-0b422480-7b47-11ea-8a62-a0d8851bda02.png)

After that i added Arabic translations

[2020-04-10 12:57] #9903 closed, assigned to nobody

[2020-04-10 15:00] barredterra commented on #9722
The way it would have been done until now is to create a new single doctype **UK Tax Settings** with fields for client id, client secret and HMRC's endpoint URL. You would have to code the flow from scratch again.

[2020-04-10 15:16] racitup commented on #9722
I mean in your OAuth2 provider fields list. Surely the client id/secret could be shared by a whole instance like the Social Login Key?
![Screen Shot 2020-04-10 at 16 12 10](https://user-images.githubusercontent.com/18157195/79001278-16e11b80-7b46-11ea-861c-7229b102717f.png)

[2020-04-12 18:24] Suprazz opened #18536 "Data import convert > to &gt;"
## Description of the issue
Data import of item convert > to &gt;

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Download item template in the data import tool
2. add a > in a any text field
3. Check in the item page that the > is now &gt;

### Observed result

### Expected result

### Stacktrace / full error message

[code]

##

[2020-04-12 20:00] Muzzy73 commented on #8556
https://stackoverflow.com/questions/59451621/setting-up-erp-next-in-mac

Found solution here. Faced similar issue while using bench update --reset

[2020-04-12 20:28] Muzzy73 commented on #8556
Other better link is https://discuss.erpnext.com/t/mac-os-setup-failed/53422/8

[2020-04-13 08:54] MalikZu commented on #9805
@ddavidebor we encountered the same problem and we had to build our own API/SDK libraries for dart, you can find it here:
https://github.com/leam-tech/renovation_core.dart

You would need to install this app in your site as a requirement:
https://github.com/leam-tech/renovation_core

you can also find the documentation [WIP] at renovation.leam.dev

Looking forward to your contributions!

[2020-04-13 09:57] ddavidebor commented on #9805
@MalikZu I'm going to try it now, but could you write a few words about what it does?
The description is missing.

David

[2020-04-13 10:38] MalikZu commented on #9805
@ddavidebor So we have doctypes/pages and api features that help make the Dart SDK works,

First, you need to install the renovation_core app in your site using:

[code]

then you need to add the following under dependencies in pubspec.yaml:
[code]

For the Dart Documentation please go to https://renovation.leam.dev/dart-flutter/getting-started

Below is what are the main features you will get.

#

[2020-04-13 10:47] ddavidebor commented on #9805
Do you think you could contribute some of these changes back to the frappe framework?
For example socket.io file upload would make sense in Frappe. As possibly some authentication improvements?

[2020-04-13 10:53] ddavidebor commented on #9806
@rmehta could you look into this management issue? I feel like we could improve developer satisfaction for the Frappe framework a lot!

[2020-04-13 10:55] ddavidebor commented on #9805
@rmehta This issue would require about 25 developer hours to fix, but I would speculate will save much more within a couple of months due to improved workflow to your company.

[2020-04-13 10:56] ddavidebor commented on #9900
Can we have some screenshot of the Desk redesign BTW? just curious

[2020-04-13 11:00] MalikZu commented on #9805
@ddavidebor yes of course, we will do PR's to frappe soon with these features so that in future no need to use another app to use the SDK.

[2020-04-13 11:57] ddavidebor commented on #9805
I don't think they can merge the whole thing, have you discussed it with them?

[2020-04-13 13:34] MalikZu commented on #9805
I don't except they do, we will do multiple PR's, one for each feature. I expect it to take a while, but once they merge features we will remove them from our app accordingly. Moreover, what they don't accept I am afraid that we will have to keep it in renvoation_core app.

[2020-04-14 05:10] rmehta commented on #9806
cc @surajshetty3416

[2020-04-14 08:28] AlbertoSolaro opened #9943 "Single value float forced to int"
## Steps to reproduce the issue

1. Create new single doctype with a Float/Currency field
2. Save a new value in the field: 1.5
3. Create a python script that use get_single_value()

### Observed result
Returned value: 1
### Expected result
Returned value: 1.5

https://github.com/frappe/frappe/blob/0ca8e829f2119899ada5e36d1c116cf94619a50b/frappe/database/database.py#L561-L562

[2020-04-14 08:45] jay-parikh opened #9944 "Link Field Validation doesn't use Filter criteria defined for link field"
## Description of the issue

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create Link field or select any link field in existing Doctype. For instance, let's select Doctype - Item and link field - Item Group.
2. Apply filter criteria to Item Group link field.
[code]
3. Create new Item and enter Item Group Name - Services. Here

[2020-04-14 09:33] jay-parikh commented on #9944
It was not working in frappe 12.3.0, but in latest version frappe 12.4.1 it's working.

[2020-04-14 14:32] Thunderbottom commented on #9778
This bug is not related to Frappe/ERPNext, and resetting the user password is _not_ the right solution to this issue. You can instead just switch to the standard authentication plugin and get things working just fine.

The [MariaDB Documentation](https://mariadb.com/kb/en/authentication-plugin-unix-socket/) also states that this plugin is enabled by default on the newer versions of MariaDB (10.4.3

[2020-04-14 16:05] uwaclems opened #9946 "Desk Page Show/Hide Feature"
Whenever one creates a Desk Page, it shows by default and there is no mechanism to hide it.
In the same idea, perhaps a feature to assign Access Rights to each Desk Page so that the side menus items show depending on the user.

[2020-04-15 01:46] hashirluv opened #9948 "Accounts breadcrumb link doesn't work"
@scmmishra

The link for 'Accounts' in the breadcrumb navigation for new desk shows error.

### result
Page modules not found
![Capture](https://user-images.githubusercontent.com/34909297/79289793-f9f47180-7ed2-11ea-9244-0e4e9dcdecbe.PNG)

[2020-04-15 01:51] hashirluv commented on #9948
posting an issue for the first time. can someone kindly label it as 'desk-beta' or let me know how to?

[2020-04-15 08:22] scmmishra opened #9952 "Apply Filter when clicking shortcuts on desk"
User made shortcuts should respect the filters applied, when navigating using the shortcut. For example: “Completed Tasks” shortcut with a filter of status = Completed should not take you to Tasks list of all the tasks with all sorts of statuses.

[2020-04-15 09:40] cybertoast opened #9993 "bench clear-cache fails with "TypeError: 'Nonetype' object is not iterable"
**Steps to reproduce the behavior:
1. Set up a new app and a new site
2. Change a configuration (say developer_mode=1 in site-config.json)
3. Run `bench clear-cache`
4. See error (see backtrace below)

**Expected behavior** :chart_with_upwards_trend:
I would expect a prompt for the `--site` option with a list of sites that I can supply to `bench clear-cache`. The correct command is `bench --site m

[2020-04-15 14:46] ddavidebor opened #9956 "import beta feature exports incorrectly child tables"
## Description of the issue

The new export beta feature exports incorrectly child tables. Some child table records gets exported multiple times, while others do not get exported.

![Screenshot 2020-04-15 at 15 41 11](https://user-images.githubusercontent.com/9055742/79351158-40c48480-7f30-11ea-8b4e-f9c4270616cf.png)
![Screenshot 2020-04-15 at 15 46 23](https://user-images.githubusercontent.com/90

[2020-04-15 14:58] ddavidebor commented on #9687
I'm just going to drop a list of issues more important than the 3rd UI redesign in 3 years:
![Screenshot 2020-04-15 at 15 57 14](https://user-images.githubusercontent.com/9055742/79352510-dca2c000-7f31-11ea-872d-417bfe48d353.png)
![Screenshot 2020-04-15 at 15 57 21](https://user-images.githubusercontent.com/9055742/79352527-e2000a80-7f31-11ea-9861-533ed654e8b9.png)
![Screenshot 2020-04-15 at 15 57

[2020-04-15 15:16] ddavidebor commented on #9806
@surajshetty3416 @rmehta I'll give you 12 man-hour if you want to answer all the extra messages and manage the closing of issues. That's about 500$ at my usual rate of work.

[2020-04-15 17:05] iMoshi commented on #9952
You guys rock!

[2020-04-15 21:25] wojosc opened #9960 "Tick-Box/Checklist in Rich Text Edit"
On my wishlist:

- [x] to have these check boxes in the Text Editor field type.

[2020-04-16 12:36] surajshetty3416 commented on #9960
![text-editor-checkbox](https://user-images.githubusercontent.com/13928957/79456910-eea56100-800c-11ea-864e-f11ab9647a88.gif)
@wojosc Is this what you want?

To get a checkbox, type `[] and then space` in your Text Editor field

[2020-04-16 13:08] maxfu9 opened #9975 "Document not updated” getting error on submit"
## Description of the issue
I am getting error" Document not updated" when I try to submit a document  after updating develop version last night

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result

### Expected result

### Stacktrace / full error message

[code]

## Additional information

OS version / dist

[2020-04-16 13:15] wojosc commented on #9960
Hi @surajshetty3416 that is what I am looking for yes. I should of tried that myself, I know that connected to calDav tasks on Davdroid for android.

Though you need to be "a computer guy" to use this tick-box feature in ERPNext.

Do you know whether it would be a lot of work to take this up into the toolbar?

[2020-04-16 13:15] #9960 closed, assigned to nobody

[2020-04-16 15:09] surajshetty3416 commented on #9960
@wojosc https://github.com/frappe/frappe/pull/9976

Hope it helps!

[2020-04-16 16:07] martinhbramwell commented on #9993
I am finding this error too and it applies to ```bench migrate``` and ```bench mariadb``` as well (although the error messages are different)

My ```currentsite.txt``` file was empty, so I tried specifying one of my sites there.  It made no difference.

[2020-04-16 16:09] surajshetty3416 commented on #9975
@maxfu9 Thanks for reporting the issue.

[This PR](https://github.com/frappe/frappe/pull/9977) will fix the issue.

[2020-04-16 16:40] wojosc commented on #9960
@surajshetty3416 100% what I was looking for. Many thanks!

[2020-04-16 16:45] #9975 closed, assigned to gavindsouza

[2020-04-16 17:35] ddavidebor commented on #9805
@MalikZu If I understand correctly you have manually reverse-engineered the API into swagger doc based on existing documentation.

In this feature request, I am asking for the swagger doc to be dynamically generated based on doctype and fields.

I think mayyyyyybe (maybe maybe maybe) doing this is actually easier than I though, and it could be done simply with a jinjia2 template with very limited

[2020-04-16 21:22] #6476 closed

[2020-04-16 21:32] mhbu50 commented on #5662
@hrwX Could you look into this?

[2020-04-17 03:34] mohamedesmail235 opened #9983 "apply depends on or custom script on report builder"
## Description of the issue
I have created custom field named item_cost in Item doctype and make custom script to toggle display it depends on role permission and i use  this script
[code]
and when users that don't have permission to see such field make report builder and pick column they can see such field and print it
I alse use this line condition in depends_on field of that custom filed and in

[2020-04-17 07:05] smehata opened #9987 "not show card label"

[2020-04-17 09:38] neelbhanushali commented on #9640
<div class="tenor-gif-embed" data-postid="4883379" data-share-method="host" data-width="100%" data-aspect-ratio="2.360189573459716"><a href="https://tenor.com/view/ineedit-need-it-iron-man-tony-stark-gif-4883379">Need It GIF</a> from <a href="https://tenor.com/search/ineedit-gifs">Ineedit GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>

[2020-04-17 09:39] neelbhanushali commented on #9640
<img src="https://media1.tenor.com/images/6ab96f8c9fe845497a6a7cdf7e179024/tenor.gif" alt="i need it">

[2020-04-17 09:41] neelbhanushali commented on #9640
<img src="https://media.giphy.com/media/cALkoAIov3Y9a/giphy.gif" alt="i need it">

[2020-04-17 12:21] cybertoast opened #9990 "tabSeries table has bad primary key definition"
https://github.com/frappe/frappe/blob/be720b95c77e2330a96e3601515c8c55071b0c4a/frappe/database/mariadb/framework_mariadb.sql#L233

If `name` is a primary key (as defined in the table definition), it should not be defined as `DEFAULT NULL`. The table definition should be:

[code]

[2020-04-17 13:09] gavindsouza opened #9992 "Separate Development and Production Requirements"
We could do without the extra deadweight. And side effect on this would be, Frappe would support FreeBSD.

![](https://user-images.githubusercontent.com/36654812/74182782-b169cf00-4c69-11ea-88ed-6c8bc164ed50.png)

![](https://user-images.githubusercontent.com/36654812/74182775-afa00b80-4c69-11ea-9a3f-5d329f0852a7.png)

Spoiler alert: it's all Cypress

Reference: https://github.com/frappe/bench/pul

[2020-04-17 13:29] gavindsouza commented on #9993
@martinhbramwell Can't replicate this issue in your case
![Screenshot 2020-04-17 at 6 42 11 PM](https://user-images.githubusercontent.com/36654812/79572791-2b3f8e00-80db-11ea-9fe0-8f19acb217d5.png)

@cybertoast From the way I see it, deprecation of `bench use` or a refactor of `frappe.commands` will only fix this issue (at the root). The fix for this should either follow in the methods `frappe.ini

[2020-04-17 13:52] cybertoast commented on #9993
@gavindsouza `bench use <site-name>` then `bench clear-cache` works. i'm not sure where the fix should go (I'm not familiar enough with the code-base), but it should be easy enough to detect whether a site is currently selected, and if not provide a helpful hint for the step to take first. My point is that no command should dump a backtrace if that can be avoided.

[2020-04-17 15:25] jvfiel commented on #9839
same issue.

[2020-04-17 16:44] jvfiel commented on #9839
seems to work well on v11

[2020-04-17 19:21] backendoadmin opened #14625 "Attachment access right doesnt work"
Hi,

Every user get access to every uploaded file when they try to select one from already uploaded files on any doctype. Erpnext shows all of it and dont check the access right of the document.

12.5 and 12.7, local and erpnext.com

[2020-04-18 05:35] pipech commented on #9640
There is a workaround.

https://discuss.erpnext.com/t/api-parameter-cannot-use-list-parameter/58692/4

[2020-04-18 06:06] asoral opened #9994 "Faulty Patch in develop"
This is the error on updating or migrating:
frappe.exceptions.ValidationError: Please Duplicate this Website Theme to customize.

This seems to be the patch:
/apps/frappe/frappe/patches/v13_0/website_theme_custom_scss.py

[2020-04-19 07:01] centaur78 commented on #9994
` File "/home/frappe/frappe-bench/apps/frappe/frappe/website/doctype/website_theme/website_theme.py", line 12, in valida
te
    self.validate_if_customizable()
  File "/home/frappe/frappe-bench/apps/frappe/frappe/website/doctype/website_theme/website_theme.py", line 37, in valida
te_if_customizable
    frappe.throw(_("Please Duplicate this Website Theme to customize."))
  File "/home/frappe/frappe

[2020-04-19 15:43] barredterra opened #10004 "Error from autoname of Access Logs"
### Problem
Trying to open a private file, I got this error:

    Traceback (most recent call last):
      File "/home/frappe/frappe-bench/apps/frappe/frappe/model/base_document.py", line 324, in db_insert
        ), list(d.values()))
      File "/home/frappe/frappe-bench/apps/frappe/frappe/database/database.py", line 156, in sql
        self._cursor.execute(query, values)
      File "/home/frappe

[2020-04-19 16:47] centaur78 commented on #9994
Hi
Based @Thunderbottom [PR request](https://github.com/frappe/frappe/pull/10003), issue is resolved.
Did bench migrate and bench update as well

[2020-04-19 18:19] ddavidebor opened #10007 "Please update jupyter, ipykernel, ipython"
Frappe's outdated version of ipython is causing issues when using VSCode Jupiter notebooks.

Could you bump the version to the latest ones for the following packages?

* jupyter
* ipykernel
* ipython

[2020-04-20 01:02] racitup opened #18543 "[Bug] Google OAuth Redirects do not support port numbers"
## Description of the issue
When using Google OAuth on an ERPNext instance running on a non-standard port number, the redirect URL is constructed without the port number, meaning authorisation fails unless the URL is manually adjusted.
This affects other ERPNext functionality, but I can't remember where else I've seen it, sorry.
Example Site URL: ... ed.co.uk:8080/desk

## Context information (for

[2020-04-20 03:53] surajshetty3416 commented on #9994
[This PR](https://github.com/frappe/frappe/pull/10003) resolves the issue.

[2020-04-20 03:53] #9994 closed, assigned to nobody

[2020-04-20 06:49] asoral opened #10010 "Error in Patch v13_0.website_theme_custom_scss"
Error when trying to do a bench update

File "/opt/erpnext/erpnext/apps/frappe/frappe/patches/v13_0/website_theme_custom_scss.py", line 10, in execute
    doc.save()
  File "/opt/erpnext/erpnext/apps/frappe/frappe/model/document.py", line 277, in save
    return self._save(*args, **kwargs)
  File "/opt/erpnext/erpnext/apps/frappe/frappe/model/document.py", line 312, in _save
    self._validate_lin

[2020-04-20 06:49] asoral commented on #10010
Now I get this -

File "/opt/erpnext/erpnext/apps/frappe/frappe/patches/v13_0/website_theme_custom_scss.py", line 10, in execute
    doc.save()
  File "/opt/erpnext/erpnext/apps/frappe/frappe/model/document.py", line 277, in save
    return self._save(*args, **kwargs)
  File "/opt/erpnext/erpnext/apps/frappe/frappe/model/document.py", line 312, in _save
    self._validate_links()
  File "/opt/erpn

[2020-04-20 08:24] asoral commented on #10010
When I try to make this record in the tabColor manually, I got the below error -

[2020-04-20 14:23] marination commented on #18536
@Suprazz is this concerning  **Data Import Beta** or **Data Import** (pre-existing) ?

[2020-04-20 14:25] Suprazz commented on #18536
It's the standard one /desk#Form/Data%20Import/
It's also limited to text field. I change the data and text field. In text editor it's fine.

[2020-04-20 14:37] marination commented on #18536
@Suprazz can you confirm the same with **Data Import Beta**. Reason being, the pre-existing Data Import will be scrapped soon, with Data Import Beta becoming the mainstream feature.

[2020-04-20 15:29] mhbu50 commented on #6441
@surajshetty3416 How we can fix this?

[2020-04-20 16:13] kardmode opened #10019 "PDF Generation when using email feature has session id equal to username"
## Description of the issue
PDF Generation uses the session id to set a cookie in wkhtmltopdf (for authentication I believe).
When using the email feature the session id is the username.

## Context information (for bug reports)

Had to debug the value of frappe.session.sid when setting the cookie in frappe/utils/pdf.py

### Observed result

When printing a pdf manually the cookie has a valid cook

[2020-04-20 16:30] scmmishra commented on #9948
This issue was fixed in a recent PR https://github.com/frappe/frappe/pull/9729

[2020-04-20 16:30] #9948 closed, assigned to scmmishra

[2020-04-20 18:22] wojosc opened #10022 "Calendar Weeks in date picker"
Hi,

It would be nice if we had the option to turn on calendar weeks. Of course this could be used every where a calendar appears. For example in the date picker in the field type "date".
![grafik](https://user-images.githubusercontent.com/22279621/79785658-81fbd080-8344-11ea-9b2f-03143883851f.png)

GNOME calendar for reference.
![grafik](https://user-images.githubusercontent.com/22279621/79785718

[2020-04-20 18:33] parsimonyERP commented on #10022
+1

[2020-04-20 19:02] hashirluv commented on #9948
@scmmishra

It is fixed for all other modules. For documents under 'Accounts', it still links with 'module' instead of 'workspace'

[2020-04-20 19:21] wojosc opened #10023 "UI tweaks for Gantt"
Hi,
that Gantt feature is very helpful and looks great. A major goal in project management though is being able to have an oversight. I suggest some small tweaks to the UI.
1. there is a lot of space lost. (the picture is taken on a 27" screen)
2. there could be a vertical line indicating todays date for orientation.
![grafik](https://user-images.githubusercontent.com/22279621/79790835-a52a7e00-83

[2020-04-21 00:52] szufisher opened #10024 "[feat] Calendar support translation"
the calendar view does not support translate the lable/title into other language due to the locale option not set when creating the calendar object

As-Is
[code]

To-Be
[code]

[2020-04-21 01:05] szufisher opened #10025 "[bug] link field selected value not translated"
## Description of the issue
For link field, the dropdown list shows correctly the translated text, after selected one value, then the original other than the translated text displayed as the link field value
## Context information (for bug reports)
![image](https://user-images.githubusercontent.com/12823863/79813398-20704c00-83ae-11ea-907a-5d2d7bdaef42.png)

**Output of `bench version`**
[code]

#

[2020-04-21 07:40] centaur78 commented on #9994
Hi @surajshetty3416 and @Thunderbottom

The PR did resolve the issue but cropped up another one.
The login Page css file is 404 doesn't exist. due the auto generated css file.

![login_css_error](https://user-images.githubusercontent.com/1904802/79838722-7b14a280-83c4-11ea-97a4-6225fef904f5.png)

and this is file name generated in asset folder

![asset css name](https://user-images.githubuserconte

[2020-04-21 21:14] Mwogi commented on #19205
Did this ever get fixed? In workflow_action.py under /frappe/frappe/workflow/doctype/workflow_action/ the process of sending out emails happens to be done under the process_workflow_actions function. It seems it was designed to check user permissions - at least this may help if you consider scenario where every supervisor is in their own department (You can apply user permissions by department) an

[2020-04-22 16:27] surajshetty3416 commented on #10010
The issue has been fixed with https://github.com/frappe/frappe/pull/10026

[2020-04-22 16:27] #10010 closed, assigned to nobody

[2020-04-23 06:02] #9752 closed, assigned to scmmishra

[2020-04-23 06:35] gavindsouza commented on #10007
@ddavidebor we haven't pinned `jupyter` because it conflicts with a lot of our other packages and breaks compatibility for `PY2` since `version-11`.

As for `IPython`, there have been namespace issues and we haven't found a version that works without the console forgetting that a function or variable was defined in the earlier executed lines, at least since I last checked.

For `version-13`, we co

[2020-04-23 06:38] Alchez opened #10070 "[Develop] Error while creating new app"
Issue: Bug report

**Do the checklist before filing an issue:**
 - [x] Can you replicate the issue?

- I've seen this happen everytime I've run `bench new-app`.

 - [x] Is this something you can debug and fix? Send a pull request! Bug fixes and documentation fixes are welcome

- I was able to do a temporary workaround by removing the logic for the creation of the `hooks.py` file (and manually crea

[2020-04-23 06:53] gavindsouza commented on #10070
The `new-app` command actually is executed via Frappe. Although, I tested creating an app with Frappe `develop` and the specified version; both of which executed successfully.

![Screenshot 2020-04-23 at 12 20 33 PM](https://user-images.githubusercontent.com/36654812/80068383-26585f80-855d-11ea-84f2-86bdefb357ed.png)

[2020-04-23 07:08] Alchez commented on #10070
@gavindsouza, just to confirm this is not an environment issue from my side, what Python version did you test that on?

[2020-04-23 08:31] gavindsouza commented on #10070
@Alchez Python 3.7.7 env and global (pyenv) macOS Mojave

[2020-04-23 09:20] alkuhlani opened #10073 "Can not Access to Private File with System Manager Role in Frappe V12.5"
I can not access to private files even if I have system manager role, only the administrator can access to them.

I get this error, when I open the file from (Attached to DocType)

and this error when I open the file from (file DocType)

this issue only in last release Frappe 12.5

[2020-04-23 09:24] alkuhlani opened #18541 "Job Applicant Attachment became Private File in V12.7"
In job applicant web form, the resume attachment became a private (in V12.7), but in last version it was a public
when it is a private file I can not access to them because this frappe issue [#10073](https://github.com/frappe/frappe/issues/10073)
which is only the administrator can access to private file even if the system manager also can not.

[2020-04-23 09:48] #9304 closed, assigned to nobody

[2020-04-23 10:00] gavindsouza commented on #10074
@hbakhtiyor `new-site` is handled via Frappe, so moving this issue here. Please open a new issue if you face a similar issue with the latest supported versions as I can't seem to replicate this issue currently.

[2020-04-23 10:00] #10074 closed

[2020-04-23 15:38] ddavidebor commented on #10007
Hello @gavindsouza

This issue so far mainly impacts the repo frappe_docker in the development environment. I've added instructions in the documentation to manually force upgrade of those packages and seems to work so far.

I think improving support in V13 would be fine, it's not something urgent, it just makes development  easier, especially things like writing interactive tutorials which I'm wor

[2020-04-23 15:41] fahimalizain opened #10079 "Bugs in Tags"
## Description of the issue
I need to point out a couple of issues we faced with Tags
- Adding Tags to any document as a non `System Manager` user raises a permission issue
(No role permission for `Tag Link`)
- `frappe.desk.doctype.tag.tag.get_tags` ignores the `doctype` param which causes tags applied in other DocType to show up in all other DocType tag suggestions
## Context information (for bug

[2020-04-23 16:25] flexy2ky opened #10080 "Email Notification for Scheduled Backup Broken after Frappe 12.5.0 Updated"
## Description of the issue

Mails are no longer sent to predefined recipients for scheduled backups. Mails were sent and received until last sunday after upgrading to Frappe 12.5.0 and ERPNext 12.7.0.
## Context information (for bug reports)

The following is my setup for AWS S3 backup:
![image](https://user-images.githubusercontent.com/32480024/80121683-88788b00-8584-11ea-9f21-9c9a6ad16a14.png)

[2020-04-24 04:37] gavindsouza commented on #10080
@flexy2ky Can you access your site via bench console? It seems like your site config isn't set. Perhaps try a `bench restart` if you can't access your console

[2020-04-24 07:33] flexy2ky commented on #10080
@gavindsouza Yes i can access bench console and nothing has changed in my site_config.json (if that's what you mean by site config not set). I have done bench restart and tried again and there's no change.

As i mentioned in Discuss, everything was working as intended until after i updated to Frappe v12.5.0 on Monday.

[2020-04-24 08:27] asoral opened #10085 "Desk Page record doesn't allow uninstalling an App"
I use develop branch. I created a new app with an entry in Accounting Card to add a new report. When I try to uninstall my custom system, system gives an error that the app cannot be uninstalled since there is a reference of the Desk Page present in the database.

[2020-04-24 08:31] asoral opened #10086 "New Domain not getting created when installing a new app"
We have been working on the new domain and are trying to create a new section in the "Domain" part of the menu. Even after writing the sql query to insert a new domain, system doesn't take it. Am I missing something>

[2020-04-24 09:36] rhnvrm opened #10088 "Add support for golang mode in ace-editor"
Hey

Can we please add support for `mode/ace/golang` to the code editor.
https://github.com/frappe/frappe/blob/develop/frappe/public/js/frappe/form/controls/code.js#L40

@netchampfaris

[2020-04-24 09:47] gavindsouza commented on #10080
The instances,

The line 224 of __init__.py, mentioned in the traceback suggests that it couldn't access the site_config. As mentioned in your traceback, there's no `conf`. is the traceback the same after the bench restart?

[2020-04-24 12:36] netchampfaris commented on #10088
@rhnvrm Yeah, if you can send a PR, no problems in merging.

[2020-04-24 12:42] rhnvrm commented on #10088
Opened #10091

[2020-04-24 22:23] iMoshi commented on #9900
I believe “Social” can help on this. When a user with capability of “pin”-ing a social post pins a post, the system should pick it up and display it as an announcement.

Although, I haven’t seen Social in v13 for some reason...

Thanks guys, you guys are awesome!

[2020-04-25 03:46] surajshetty3416 commented on #9638
This issue has been fixed with https://github.com/frappe/frappe/pull/9996

[2020-04-25 03:46] #9638 closed, assigned to scmmishra

[2020-04-25 08:07] flexy2ky commented on #10080
I am guessing the above traceback i proviced is unrelated to this error. To reconfirm, i cleared my error log and tried to reproduce the error. While i could see the below sceenshot in my error log in settings:
![image](https://user-images.githubusercontent.com/32480024/80274589-66415300-86d3-11ea-9f55-bdec85b3a6f8.png)
the traceback could not be found in the web.error.log as having the same times

[2020-04-25 08:56] #10073 closed, assigned to surajshetty3416

[2020-04-25 09:02] #10088 closed, assigned to nobody

[2020-04-25 23:13] madmath03 commented on #8229
Hi @ernestoruiz89 ,

That looks really cool and would love to help.
Can you push a draft PR or at least share your branch with what you've done so far ?

[2020-04-26 10:13] paulator opened #10100 "Error in PDF generation when using glyphicon"
## Description of the issue
I want to use a glyphicon in my invoice footer (e.g. map marker). Therefore I updated the default letter head and added some HTML to the footer field. When the PDF is generated, I get an error.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. add the following HTML in the footer field of the default let

[2020-04-26 10:17] paulator commented on #10100
I guess, this has to do something with the generated html. When I open a bash in the container and check /tmp directory, I can see some HTML files which have been left by the PDF generator. When I open the HTML, I can find e.g. the following snipped:

  `src: url('/assets/frappe/css/fonts/glyphicons/glyphicons-halflings-regular.eot');`

I guess, wkhtmltopdf cant render it because there is no hostn

[2020-04-26 15:54] SirPhemmiey opened #10107 "[API] PUT Request returning Not found error"
Hi guys, I'm trying to send a PUT request with the frappe API.

But to my greatest surprise, i can update some records while i can't update the others. It returns "Error: not found 404" when the "name" of the document clearly exists. I've searched all over everywhere, no luck with it. And it's very weird because some documents are not give this issue.

On which account or condition will the 404 er

[2020-04-27 08:34] ahmadpak opened #10112 "AttributeError: 'NoneType' object has no attribute 'options'"
During migration self.meta.get_field("links").options throws error because options not defined.
file: base_document.py
line#185

`Traceback (most recent call last):
  File "/usr/lib/python3.8/runpy.py", line 193, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.8/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/home/ahmad/frappe-be

[2020-04-27 10:06] Olawale1 commented on #19205
Hi @Mwogi

It requires a fix... and an urgent one too. For example, try giving Employee role permission to create a doc and a workflow transition to send that doc to their Supervisor. Now select the 'Only If Creator' option and get an employee to create a new doc. Ideally, the email alert with the 'Send to Supervisor' action should be sent to only the Employee who created the doc, right? ...Instea

[2020-04-27 12:57] madmath03 opened #10119 "[BUG] Error in web views if `socketio_port` not defined"
## Description of the issue

Error in web views if `socketio_port` not defined.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Deploy Frappe / ERPNext without setting `socketio_port` in config

### Observed result

Error in web console: `Uncaught ReferenceError: None is not defined`

### Expected result

If Socketio port is not

[2020-04-27 15:36] nameduser0 opened #14810 "frappe.exceptions.ValidationError: Email not verified with Github"
## Description of the issue
When attempting to use Social Login Keys with github, I am getting the following error after I have successfully authorised with github:
`frappe.exceptions.ValidationError: Email not verified with Github`
My email address is definitely verified on my Github account

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the

[2020-04-28 08:17] AlbertoSolaro opened #10135 "Wrog next schedule date for Daily and Weekly"
## Description of the issue
In the Auto Repeat doctype the code that generate the next schedule date is wrong for the Daily and Weekly frequency.

## Steps to reproduce the issue

1. Create new Auto Repeat with frequency Daily and a Sales Order related and date 2020-04-28
2. Waiting two days

### Observed result
There is only the order for the next schedule date  (2020-04-29)

### Expected result