[2022-04-14 06:53] sliwkawsieci commented on #19829
Looks like these translations are made automaticly by language of your browser. These 2 are in Polish and some others are in english. It is not looking good ...
![image](https://user-images.githubusercontent.com/19532577/163330201-711fc463-79f0-4807-aacb-64336b1f1469.png)
It should be prioritized and fixed.

[2022-04-14 07:35] ankush opened #16618 "Dont add `__init__.py` file when developer mode isn't active"
These files when added magically but not part of git tracked files causes update failure.

reference: https://github.com/frappe/bench/issues/1225

related: https://github.com/frappe/frappe/pull/16616 (you'll find which function create this file in this PR)

[2022-04-14 10:45] ankush commented on #16510
This won't be added. You can easily achieve this with hooks from parent doctype.

Child doctype controllers have no code, so adding hooks here is kinda unnecessary and doesn't really provide anything that's not already doable with parent doctype hooks.

[2022-04-14 10:45] #16510 closed, assigned to nobody

[2022-04-14 12:54] vvrithof commented on #16230
Hi,
This is also happening with Frappe alone.
I have a custom doctype with a python class property set for a virtual DocField.
(I followed this method: https://www.frappeframework.com/docs/v13/user/en/basics/virtual_docfield#2-define-a-source-for-the-field)

Same error.

[2022-04-14 22:14] ollyboy opened #16628 "Allow python libraries for custom app server scripts"
For ERPnext I understand that server scripts are limited to a RestrictedPython library. This is sensible for ERPnext hosting and security.

However, for my custom app using frappe I need include the following. It's a common use case that an event needs to trigger some legacy code, a 3rd party library or other system integration

[code]

Due to the restrictions "import" is not allowed and will resu

[2022-04-15 14:32] TMF42 opened #16632 "Bench update fails for local frappe installations with remote database"
## Description of the issue
It's not possible to update a local frappe installation with `bench update`

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. create a fresh local installation of frappe (branch version-14-beta)
2. create a site with a remote mariadb database  (it's also enough if the database is local with a different p

[2022-04-16 03:40] kavistyles opened #16635 "Value missing for asset maintenance log : Maintenance status"
## Description of the issue
While importing data of assets to asset maintenance import file

![Screenshot from 2022-04-15 13-55-25](https://user-images.githubusercontent.com/103733217/163660023-0a98c929-76fa-4ceb-92c8-1a7d4185c3d6.png)

 the following error occurred - Value missing for asset maintenance log :

![Screenshot from 2022-04-15 13-34-35](https://user-images.githubusercontent.com/1037332

[2022-04-16 06:49] iamejaaz commented on #16632
I think you have to change the DB port in `sites/common_site_config.json` file
![image](https://user-images.githubusercontent.com/67804911/163664903-4846a93d-d6b0-492c-8746-ad9b323fa0c9.png)

[2022-04-16 07:50] nikkothari22 opened #16636 "Wrong spelling of "Submitting" in Modal while bulk submitting"
## Description of the issue
While bulk submitting documents, the modal has an incorrect spelling of "Submitting". It is spelled as "Submiting"
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Submit multiple documents at once

### Observed result
<img width="643" alt="image" src="https://user-images.githubusercontent.com/19825455/1

[2022-04-16 08:01] TMF42 commented on #16632
Thanks. Yes that works as a work-around. Just wanted to raise the issue, cause db settings are supposed to live in the site_settings.json

[2022-04-16 08:45] #16636 closed, assigned to nobody

[2022-04-16 09:43] HoFaks opened #16640 "ability to export query report to excel with colors format"
ability to export query report to excel with colors format

![image](https://user-images.githubusercontent.com/33111711/163670200-da3bba52-35ae-411c-8e5f-9fa56aea322b.png)

excel ouput
![image](https://user-images.githubusercontent.com/33111711/163670241-9af3b4b5-72d5-415b-8407-b983dc3c46d9.png)

[2022-04-16 10:20] rathorevaibhav commented on #16524
Any update on when this can be fixed?

[2022-04-16 15:01] Olawale1 opened #16641 "Too Many Requests issue"
Hi ,

We are encountering the “Too Many Requests” error very often on sites with a lot of activity. Even deleting a couple hundred docs causes this error and it wasn’t so previously. I believe the line causing this issue is below:

[https://github.com/frappe/frappe/blob/version-13/frappe/rate_limiter.py#:~:text=return%20Response(_(“Too%20Many%20Requests”)%2C%20status%3D429](https://github.com/frap

[2022-04-16 16:45] jdh148 commented on #16210
It wasn't readily clear to me what this answer meant:

But now I understand; you must create the Workspace this way:

![image](https://user-images.githubusercontent.com/103155123/163683587-fa0c3b12-a622-4c4b-bf46-3cb10c1495f0.png)

And then create and edit all the shortcuts/cards/etc by hovering one of the elements and clicking the "+":

![image](https://user-images.githubusercontent.com/103155123

[2022-04-17 06:20] ankush commented on #16628
Just to clarify: this restriction only applies to server scripts, apps can import anything.

[2022-04-17 13:18] barredterra opened #16643 "`field_group.set_value()` not working properly"
## Description of the issue

## Context information (for bug reports)

[code]

## Steps to reproduce the issue

[code]

### Observed result

![Bildschirmfoto 2022-04-17 um 15 12 58](https://user-images.githubusercontent.com/14891507/163715854-2896f3cb-5964-4857-b1f0-842182c6a3a5.png)

### Expected result

![Bildschirmfoto 2022-04-17 um 15 12 36](https://user-images.githubusercontent.com/14891507/1

[2022-04-17 15:19] 0xm0 opened #16644 "Serving to a public address, Bind flag."
**Is your feature request related to a problem? Please describe.**
As far as I'm aware, there's no actual command-line flag to serve frappe to a specific IP address. (please correct me if I'm wrong).
I'm hosting an AWS EC2 Server, which has a dynamic IP, this IP address is not listed in the `ifconfig`, yet the linux server does respond to it.

When running bench start, it always serves to a my 172

[2022-04-17 16:40] chechani opened #16645 "Fields not displayed on using Tab field"
Fields not displayed on click on Tab many times, and once we cpntrol+alt+refresh then displayed. see the below images where no fields are displayed

![image](https://user-images.githubusercontent.com/6291292/163723973-dbf007c7-a6bf-498d-88fa-a3d65d006367.png)

[2022-04-18 14:08] FHenry commented on #16593
May be link to #16483.
With this feature just need to add formated number doctype rather than hard code more decimal output style

[2022-04-18 22:49] guilmori opened #16662 "Vue upgrade to version 3"
I’m about to build a complex custom page, and would like to start using Vue for it.

I see Vue 2.6 is bundled in frappe. But I would prefer to start my learning journey using the now default version 3.

So is there any plan to upgrade?

[2022-04-19 04:26] ankush commented on #16662
@NagariaHussain

[2022-04-19 04:27] NagariaHussain commented on #16662
@ankush I am ready to take it up. But should we upgrade now or wait?

[2022-04-19 04:31] NagariaHussain commented on #16662
BTW the options API hasn't changed much. If you want to use the Composition API, then you have to have Vue 3. Otherwise the experience is very similar.

[2022-04-19 04:40] ankush commented on #16662
@NagariaHussain

AFAIK Vue hasn't been used too much in framework so should be relatively easy to upgrade.

These are the current components/pages.
1. File uploader
2. Recorder
3. New print format builder

Since v14 release is around the corner it would be better if we can push this change.

paging @netchampfaris @surajshetty3416

[2022-04-19 04:51] NagariaHussain commented on #16662
Agreed, I will do it.

[2022-04-19 05:53] ankush opened #16663 "additional fields in order_by are discarded"
v13
![Screenshot 2022-04-19 at 11 22 03 AM](https://user-images.githubusercontent.com/9079960/163932362-8d98fa0e-3440-426a-8db3-3831dbcec845.png)

develop
![Screenshot 2022-04-19 at 11 22 47 AM](https://user-images.githubusercontent.com/9079960/163932242-e1ffafc6-2fe8-43d0-ad16-3a3ad5cef8f7.png)

[2022-04-19 06:29] fadilsid opened #16664 "Document filter not working when passing field name in headers of url"
## Description of the issue

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.Filter a document using any field name of the document in headers of URL. eg: /app/medical-detail?patient=TestName-Test-184.
2.
3.

### Observed result
Filter is not working. Page shows full list of document in that doctype.

### Expected result
Supposed t

[2022-04-19 07:16] Yinameah opened #16665 "custom? not displayed in Website Theme"
## Description of the issue

I'm missing the "custom?" checkbox when trying to create a new "Website Theme" that I like to export I my custom App.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Just click on Website ->  Website Theme -> Add Website Theme

### Observed result

![where is custom?](https://user-images.githubusercon

[2022-04-19 09:08] phot0n commented on #16635
Hey, is there any row where `Maintenance Status` is empty/has no value?
if not, could you please share the whole traceback and if possible, the import data file?

[2022-04-19 09:27] phot0n commented on #16663
seems to be messing up here 👇

https://github.com/frappe/frappe/blob/7b19c91c373c3820f7a3c029b1df25ca42b0a913/frappe/database/query.py#L101-L115

[2022-04-19 09:31] phot0n commented on #16664
duplicate of https://github.com/frappe/frappe/issues/16492

[2022-04-19 09:31] #16664 closed, assigned to nobody

[2022-04-19 14:11] gavindsouza opened #16676 "Boolean values for filters fail in Postgres"
## Description of the issue

The check fieldtype translates to int type columns in the DBMS. This is misleading since one would expect this to be boolean. However, MariaDB understands this and handles this gracefully. Send int or bool, it will understand you. But not Postgres 🥲. This is an implementation detail IMO and should be managed by Frappe. I tried plugging this in the Query Builder but did

[2022-04-19 14:23] ankush commented on #16663
There are no instances of this on frappe, I found one in ERPNext which I've fixed for now: https://github.com/frappe/erpnext/pull/30726/commits/b24920c0e9fa642f823132d61e817f2331523aa4

[2022-04-19 14:25] ankush commented on #15673
@shariquerik can you look into this? modal grids are all messed up on v14 🥲

[2022-04-19 14:30] #15089 closed, assigned to ankush

[2022-04-19 15:00] barredterra opened #16678 "User can edit document while in read-only worklflow state"
## Description of the issue

In **Workflow** we can define which roles are allowed to edit a document for each workflow state. The form becomes read-only for roles who are not allowed to edit. However, they can still edit or delete the document via bulk actions in the list view. The workflow state is not considered in permissions.

## Context information (for bug reports)

**Output of `bench versi

[2022-04-20 01:10] ollyboy opened #16679 "Multiple data set workspace chart"
A common use case is the need for multiple data set charts with time series x axis. The chart module can do that but the chart config for dashboards is limited to one data series. The V12 documentation even has a picture of dual data sets.

![image](https://user-images.githubusercontent.com/12904192/164126887-409ccca2-cac7-4ed5-a571-16ec9e0f8666.png)

[2022-04-20 05:45] fadilsid commented on #16492
Any update on this issue??

[2022-04-20 06:33] Ponyooooo opened #16681 "3 Emailed Reports Limit"
Is there a specific reason on why is there a limit for the emailed reports per users? Is it possible to remove this limit? Or change the limit on a settings page?

<img width="588" alt="image" src="https://user-images.githubusercontent.com/60758795/164164910-4c8c3224-48c5-4486-a068-539a11b619e4.png">

[2022-04-20 06:35] ankush commented on #16681
You can configure it in site settings `"max_reports_per_user": 10`

[2022-04-20 06:35] #16632 closed, assigned to gavindsouza

[2022-04-20 15:33] ravichuncha opened #16692 "Key error: civil_contract (missing app from restored backup)"
### Information about bug

When ever trying to cancel invoice & delivery note getting error " key error: Civil_Contract" .please provide the solution

### Module

selling

### Version

Frappe Version :  v13.25.0 (HEAD)
ERPNEXT Version : v13.25.0 (HEAD)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-04-20 15:36] ankush commented on #16692
This is a custom app that you might have installed / uninstalled? Can you share site info?

[2022-04-20 15:39] ravichuncha commented on #16692
fwderp1.frappe.cloud

[2022-04-20 15:40] ravichuncha commented on #16692
Request you to provide me the solution please

[2022-04-20 15:51] ravichuncha commented on #16692
waiting for you reply please help me out
fwderp1.frappe.cloud

[2022-04-20 15:53] ankush commented on #16692
This is happening because your backup had a custom app that isn't installed on your new site. I'd suggest installing the app back (you'll need a custom bench for it).

Not really a bug... will think of improving UX for this somehow.

[2022-04-20 16:03] ravichuncha commented on #16692
can you help me out with the steps to install

[2022-04-20 16:07] ankush commented on #16692
https://frappecloud.com/docs/bench/install-custom-app

[2022-04-20 16:57] ravichuncha commented on #16692
as per the steps i m unable to get the custom app.

[2022-04-20 16:59] ravichuncha commented on #16692
![image](https://user-images.githubusercontent.com/104087372/164283743-4c18ee6e-474d-40d2-acdf-267ddb0c7ad6.png)
when i select add from github repository .unable to see the apps

[2022-04-20 17:57] shadrak98 commented on #16641
Please share the traceback of the error if possible and also can you describe when do you exactly get this error?

[2022-04-20 19:58] sam-anam1 opened #18623 "Leaderboard error DocType posting_date not found"
### Information about bug

In Leaderboard going to
[Customer] Tab -->  [Time] change between (e.g. this week ~ this year) --> Outstanding Amount

![Leaderboard error DocType posting_date not found](https://user-images.githubusercontent.com/6969182/164311874-3e657655-7fac-4754-ae49-e1d177601160.png)

### Module

other

### Version

ERPNext: v13.27.0
Frappe: v13.26.1

### Installation method

manual

[2022-04-21 04:23] #16601 closed, assigned to nobody

[2022-04-21 04:43] kavistyles commented on #16635
This error is being thrown to every row even though i have set the maintenance status to Planned and if i set the maintenance status empty it will ask me to choose among 3 values.

Traceback (most recent call last):
  File "apps/frappe/frappe/core/doctype/data_import/importer.py", line 126, in import_data
    doc = self.process_doc(doc)
  File "apps/frappe/frappe/core/doctype/data_import/importer.

[2022-04-21 05:25] BaaridunNasr opened #16695 "[Workspace Doctype] Cannot create card break in `Link Cards` as there is no <nothing> option in the child field `Link Type`"
## Description of the issue
Attempting to create a card break in a custom workspace is not possible as there is no default <nothing> option in the `Link Type` dropdown. Due to this, the `Link To` expects some kind of data and hence cannot save the workspace.

![Link Cards](https://user-images.githubusercontent.com/12585952/164380555-bc3eb189-4e87-44d5-b4ae-337e09b6660c.png)

## Context information

[2022-04-21 05:41] Olawale1 commented on #16641
Hi @shadrak98 , thanks for looking into this

There's usually no traceback in the console... just the error message I mentioned and the status code 429

The error comes up just with normal activity on high traffic sites but most especially when someone is doing bulk actions like deleting several transactions/records

I think it's important to clarify how the rate limit is calculated and give an op

[2022-04-21 07:22] #16643 closed, assigned to sagarvora

[2022-04-21 09:53] ankush opened #16700 "replace semantic commit check with github workflow"
semantic commit check has been acting up recently, this is because it's a separate hosted service. Anyway, we shouldn't rely too much or expect much for free :)

Let's find and switch to some github workflow that validates both:
1. PR titles
2. Commit titles.

[2022-04-21 10:05] gavindsouza commented on #16641
Get rid of the `rate_limit` key in your site config files if you don't want to rate limit.

[2022-04-21 10:06] gavindsouza commented on #16618
We should probably do this only when `developer_mode` is set.

[2022-04-21 10:14] Olawale1 commented on #16641
Wow! Thanks a lot @gavindsouza

Glad to see there's a place where we can set (or remove) this limit from

Cheers!

[2022-04-21 10:14] #16641 closed, assigned to nobody

[2022-04-21 10:18] gavindsouza commented on #16481
`ignore_permissions` is being popped since the endpoint is whitelisted. I think we should change the API for server scripts to point to `frappe.model.rename_doc.rename_doc` instead.

[2022-04-21 10:27] ankush commented on #16618
Yep, the title is confusing but that's what I meant.

[2022-04-21 11:00] gavindsouza commented on #8883
Hey @ppd, just wanted to confirm whether you're claiming that the `jenv` hook was rendered useless in the mentioned commit? Or is this about something else altogether? If it's about the same, there was a related change to this: https://github.com/frappe/frappe/pull/12880

---

Hope I'm not too late here. If I'm missing something here, do let me know. Thanks.

[2022-04-21 11:07] ankush opened #16705 "breaking change: safe_json_loads should not parse plain strings to their probable types like JS"
`safe_json_loads` should not parse plain strings like `"3709E93"` and convert them into number `3709 * 10^93`

Causes weird issues like these: https://github.com/frappe/erpnext/pull/30770

Not sure if this a good idea. IMO intention to use `safe_json_loads` is usually to load actual JSON string and not parse numbers from numerical strings. (you'd just use `flt` or `int` for that)

[2022-04-21 11:14] gavindsouza commented on #14527
Closed by https://github.com/frappe/frappe/pull/16543

[2022-04-21 11:14] #14527 closed, assigned to nobody

[2022-04-21 11:15] gavindsouza commented on #13087
Closed by https://github.com/frappe/frappe/pull/15334

[2022-04-21 11:15] #13087 closed, assigned to nobody

[2022-04-21 11:18] ppd commented on #8883
Wow. A blast from the past. It seems like this bug was already fixed shortly after: https://github.com/frappe/frappe/commit/fb029082192c65d68491fafac997a98049beaf5b

I'm not running a Frappe/ERPNext instance any more, so I can't confirm, but it seems very likely that this issue has been resolved.

[2022-04-21 11:28] #8883 closed, assigned to surajshetty3416

[2022-04-21 11:41] gavindsouza opened #16706 "Improve UX for searching child & linked document's Attachments"
Based on #15901, it is clear that users want an easier way to see all the Files linked to a particular Document. This can be achieved easily with a few lines of code:

[code]

The `files` variable above should give what you're looking for. About making this available from Desk, we should have a checkbox in the standard File filters - maybe something like **"Include Timeline Files"** which could sh

[2022-04-21 11:41] #15901 closed, assigned to nobody

[2022-04-21 11:47] gavindsouza commented on #12761
Fixed by https://github.com/frappe/frappe/pull/15915

[2022-04-21 11:47] #12761 closed, assigned to nobody

[2022-04-21 11:50] gavindsouza commented on #13741
Probably a missing `frappe.db.commit`? Current transaction doesn't become real until the record is committed to the database.

Closing this for now.

[2022-04-21 11:50] #13741 closed, assigned to nobody

[2022-04-21 11:51] gavindsouza commented on #13898
This has been resolved with the M1 now. I was able to set up a v12 bench without any extra steps.

[2022-04-21 11:51] #13898 closed, assigned to nobody

[2022-04-21 11:54] gavindsouza commented on #14366
Seems like a query building issue with a numeric column name. Should be fixed by https://github.com/frappe/frappe/pull/16471

[2022-04-21 11:54] #14366 closed, assigned to nobody

[2022-04-21 11:57] gavindsouza commented on #14841
Should be fixed by https://github.com/frappe/frappe/pull/13320

[2022-04-21 11:57] #14841 closed, assigned to nobody

[2022-04-21 12:01] gavindsouza commented on #15258
Really hope you were able to get this fixed ASAP. This isn't enough context/info to provide any help or make any educated guesses.

Closing this.

[2022-04-21 12:01] #15258 closed, assigned to nobody

[2022-04-21 12:23] gavindsouza commented on #16290
Frappe doesn't support a sub-directory structure. All uploaded files are expected to be in private and public folders alone in a flat way. The hierarchy exists only in the database records. Just changing a couple of lines won't work. The whole architecture rests on the fact that only two folders will contain all of the interactable files. We faced this limitation while building two of our current

[2022-04-21 12:23] #16290 closed, assigned to nobody

[2022-04-21 12:51] #13957 closed, assigned to nobody

[2022-04-21 12:51] #16481 closed, assigned to gavindsouza

[2022-04-21 12:51] #16545 closed, assigned to nobody

[2022-04-21 14:29] NagariaHussain commented on #16662
@yrestom POS Awesome depends on vue 2, right? You have to update or pin it in the app if that is the case.

[2022-04-22 00:10] dj12djdjs commented on #11986
I agree, the module name should not be the primary key. Especially for custom apps supporting reginal compliance. It would be nice to structure the custom apps the same way as ERPNext. For example putting all the reginal doctypes relating to accounting in the accounts module for that reginal app.

Unfortunately, I think it will be difficult due to the way frappe Link types are handled.

[2022-04-22 05:40] ChillarAnand opened #16710 "Add support for Python 3.11"
Python 3.11 is expected to have significant performance improvements. Currently, some of the dependencies don't work with v3.11.  This issue will keep a track of them.

- [ ] RestrictedPython - https://github.com/zopefoundation/RestrictedPython/issues/224
- [x] wrapt
- [x] lxml (Dependency of Pillow, premailer) - https://bugs.launchpad.net/lxml/+bug/1969912
- [ ] Remove dependency on dead stdlib m

[2022-04-22 05:43] ankush commented on #16710
This is just used in one place, bit tricky to replace but doable 😬

[2022-04-22 05:44] ChillarAnand commented on #16710
wrapt has support for Python 3.11 :-)

[2022-04-22 05:57] marination commented on #18993
https://github.com/frappe/frappe/pull/12813 this should close this issue right ?
cc: @ankush

Edit: nevermind it does not translate the whole page

[2022-04-22 07:17] gora opened #16713 "Data import issue with 14.0.0-beta3"
There seems to be an issue with data import in ERPNext v14.0.0. As this was working fine with v13.5, this happened somewhere in the current release. This is on a self-hosted solution, and seems to affect any document type:

- Create a data import for any document type. Choose either Insert New Records or Update existing records.
- Click on the Download Template button in the next window. Nothing h

[2022-04-22 08:02] #16681 closed, assigned to nobody

[2022-04-22 08:15] phot0n commented on #16713
Hey @gora, it's working fine for me.

https://user-images.githubusercontent.com/32034600/164646717-a1bf2304-435d-4475-98c5-96a2a9461233.mov

Not sure what happened there 🤔
maybe some dependency is not upgraded?

[2022-04-22 08:49] gora commented on #16713
Hmm, OK, Thanks. Let me try doing a fresh upgrade from 13.5 to 14.0.0.0, and try once more. I did try a "bench update" and "bench  upgrade". Please give me till this weekend to check things, out, and follow up here.

[2022-04-22 09:03] ankush commented on #16713
Specifically `bench setup requiremens --node` and `bench build` might help

If something was missing or wasn't built properly.

[2022-04-22 10:07] #15673 closed, assigned to pateljannat

[2022-04-22 10:29] gora commented on #16713
Thanks, but
   bench setup requirements --node
or
   bench setup requirements --node
says everything is up to date, and building again does not change things.

Will just try a fresh upgrade from 13.5. I imagine that people are right in that some requireement is missing.

[2022-04-22 10:42] harshit-30 opened #16717 "Grid Issue in Child Table"
to replicate:
1. frappe develop branch
2. open a dialog box consisting of a child table
3. try to expand any row by clicking the edit button
![CleanShot 2022-04-22 at 14 11 24](https://user-images.githubusercontent.com/46772424/164699853-63de6d17-cad0-479b-87e8-0a7d6e8d57ad.gif)

[2022-04-22 10:47] ankush commented on #16717
@harshit-30 this was  probably _JUST_ fixed few hours ago 😆

https://github.com/frappe/frappe/pull/16702

[2022-04-22 11:24] shariquerik commented on #16210
I will fix this, thanks for pointing it out😊

[2022-04-22 11:34] gavindsouza opened #16719 "Syntax Highlighting for Read Only Code fieldtype"
Syntax Highlighting for read only Code fields would make it a whole lot easier to parse through content. Specifically for Error Logs.

I tried tinkering with this a bit to make something that looks like this:

<img width="1552" alt="Screenshot 2022-04-22 at 4 54 28 PM" src="https://user-images.githubusercontent.com/36654812/164705674-b09f9d36-b824-482b-a1ca-f459d8fee982.png">

No, the editor is no

[2022-04-22 11:39] gavindsouza opened #16720 "Web-only Frappe setups (without scheduler + background jobs)"
From #16512

Allow making it easier to run Frappe without a Redis worker. I've considered an alternate feature switch approach like adding a separate bench config key to allow this...but doing this by default makes it feel somehow "lighter"

This change shouldn't affect the scheduler. Jobs won't be scheduled and thereby will still not run when the scheduler is paused. However, what this will chang

[2022-04-22 11:41] ankush opened #16721 "Better handling of non-existing page and get_password"
- [x] if you try to visit a page that doesn't exist e.g. `/app/doesnt-exist` it throws you out to website homepage. It should go to desk's 404 instead. 😐
- [ ] If `get_password` fails for whatever reason user is just logged out, even if it's not related to authentication (e.g. authenticating with some API from backend using a stored password)

[2022-04-22 11:45] ankush commented on #16720
A possible implementation for removing cache too:

1. Create cache interface
2. Provide 3 default implementations - NoOp (doesn't cache anything), Dictionary/Weakref cache, redis cache. (configurable from site/bench config)

[2022-04-22 11:51] phot0n opened #16722 "`like`/`ilike` operator only works with varchar/text type columns in postgres"
`like` operator works fine with different datatypes in mariadb but in postgres it's restrictive (probably since it doesn't do implicit type casts - and it also makes sense :P)

in mariadb:
![Screenshot 2022-04-22 at 5 19 57 PM](https://user-images.githubusercontent.com/32034600/164708989-6e45f5c2-d7f6-4fe6-be25-6c522dbeddfe.png)

![Screenshot 2022-04-22 at 5 20 09 PM](https://user-images.githubuse

[2022-04-22 12:30] #16552 closed, assigned to nobody

[2022-04-22 12:34] rmmr opened #16723 "New print format builder not fully implemented"
I noticed that the new print format builder does not yet work when attaching a print to an email.

Digging through all print related I noticed the integrations were missing. I fixed these and have a pull request ready.

[2022-04-22 14:09] JoeMatkin opened #18624 "Website list view not responsive bellow 778px."
### Information about bug

In a row are both the image (spanning 2) and the title (spanning 10).

`<img src="https://aquaflamesystems.s3.eu-central-1.amazonaws.com/images/Screenshot+2022-04-22+at+15.57.34.png"></img>`

### Module

ecommerce

### Version

ERPNext Version - Current (I can't check having issues)

### Installation method

_No response_

### Relevant log output / Stack trace / Full Err

[2022-04-22 18:38] ankush commented on #16645
when this happens can you check browser console (F12) for possible errors?

[2022-04-22 20:08] nikkothari22 opened #16725 "Form Layout set_intro box only has 3 color options. Green and Orange can be added"
**Is your feature request related to a problem? Please describe.**
In a form layout, we have the ability to set an intro message using frm.set_intro(message, color).
The color field defaults to blue, and can only take the following options: yellow, blue and red - this is explicitly defined in form/layout.js under the `show_message()` function.

[code]

However, while inspecting  the underlying CSS

[2022-04-22 20:34] nikkothari22 commented on #16725
I have also updated the documentation for this function [here](https://frappeframework.com/docs/v13/user/en/api/form#frmset_intro). I have added the color parameter, the color options as well as a screenshot.

[2022-04-22 20:38] backendoadmin opened #16786 "Email subject encode issue"
### Information about bug

UTF-8 character issue on SMTP email subject. As you can see in the attached file, it worked before the last update. (We are on frappe cloud)

![ok](https://user-images.githubusercontent.com/5338127/164936588-91e5c45c-9266-4e2d-9bb7-b3c8e86ad85a.jpg)

[2022-04-23 03:33] chechani commented on #16645
This is the screenshot for Browser Console when Tab field does not refresh
<img width="1407" alt="Screenshot 2022-04-23 at 08 58 01" src="https://user-images.githubusercontent.com/6291292/164873652-0d095cac-95ba-4b0b-9beb-8567e5d04fd4.png">

[2022-04-23 04:13] mojerro commented on #16552
thx for your effort

[2022-04-23 06:19] ankush commented on #16725
Open a PR for this. 👍

[2022-04-23 06:58] iamejaaz opened #16726 "frappe.exceptions.DoesNotExistError: Employee Checkin new-employee-checkin-1 not found"
## Description of the issue

https://user-images.githubusercontent.com/67804911/164883618-2a8d491f-83fd-4be3-a20d-3773352daa36.mp4

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue
1. Log in as an employee
2. Visit the Add Page
3. Reload the page after visiting Add page from Navigation (An error message will appear in the console windo

[2022-04-23 10:22] this-gavagai opened #16728 "Upgrade Failure: bench backup failing during upgrade (v13.26 -> v14-beta.3)"
I've been testing the upgrade process for a few demo sites, and it has mostly gone smoothly. There seems to be an issue with how the bench backup command parses site_config.json, however.

On v13.26, backup proceeds as expected.
On v14-beta.4, backup gives the following error.
`Backup failed for Site SITE_NAME.com. Database or site_config.json may be corrupted`

Here is a sample site_config.json f

[2022-04-23 17:15] kidsyn opened #16731 "Frappe v13.26.1 - Webhook to google sheets throw up json error"
## Description of the issue
added a webhook to google sheets, although the data gets populated in google sheets completely without any issues.
But on ERPNext it throw up json.decoder.JSONDecodeError: . The Json format was correct still it throws up error

## Context information (for bug reports)

**Output of `bench version`**
Traceback (most recent call last):
  File "apps/frappe/frappe/utils/back

[2022-04-23 17:24] phot0n commented on #16524
Hey, this should be fixed pretty soon. as you can see a fix for this has already been raised, it just needs a bit of finishing up :)

[2022-04-23 18:52] nick4fake commented on #14440
I am a bit confused. We are thinking about using Frappe for building custom CRM, though even brand new installation... doesn't allow creating user types? Like how this is even possible?

Is there a stable Frappe version that could be used in production?

[2022-04-23 18:58] nick4fake commented on #14440
![image](https://user-images.githubusercontent.com/1065993/164942664-c1ed03fa-213f-49ff-9d0d-6b5551b8d5c3.png)
![image](https://user-images.githubusercontent.com/1065993/164942673-d9398087-1f5b-4941-bcc2-3b94e82b7f89.png)

[2022-04-23 18:59] nick4fake commented on #14440
Similar issue:
https://discuss.erpnext.com/t/cant-create-user-type/77689/2

[2022-04-24 00:32] ollyboy opened #16732 "Date picker show previous day if user timezone != system timezone"
Latest dev version.

On select of new date, form field is populated with day before. Very odd!

https://user-images.githubusercontent.com/12904192/164950643-54656d5f-0200-4e82-bc6f-e8871222a863.mov

[2022-04-24 02:16] nick4fake commented on #12115
It is not even allowed to pick child tables in User Permissions :(

[2022-04-24 02:45] nick4fake commented on #12115
https://frappeframework.com/docs/v13/user/en/python-api/hooks#modify-list-query

Seems to be the only option for now

[2022-04-24 02:54] nick4fake commented on #12115
Working solution:

[code]

[2022-04-24 06:49] nick4fake commented on #16022
@OneiricIT, @merabtenei Ridiculous but working solution :)

Create a custom list view and add this:
[code]

[2022-04-24 07:21] nick4fake opened #16735 "Support for custom widgets on workspaces"
Hi,

It would be really lovely to have a way to add any custom code to a workspace. I have check everything I can, and it looks like there is no way to just inject a widget/custom html into a workspace.

[2022-04-24 07:32] gora commented on #16713
OK, seems like it was a false alarm: problem existed between keyboard and chair. A fresh install fixed things. Not sure what went wrong the first time: probably some error that I overlooked.

Thanks to everyone for their help, and sorry for wasting people's time

[2022-04-24 07:32] #16713 closed, assigned to nobody

[2022-04-24 11:29] merabtenei commented on #16022
@nick4fake  Doesn't that make a query for every single row in the list table ? That's terrible for performance.
Unfortunately we abandoned ERPNext and we are working on our own solutions.

[2022-04-24 12:57] phot0n commented on #16732
hey, it seems to be working fine for me.

https://user-images.githubusercontent.com/32034600/164977662-53028f41-2435-4e79-bb40-65eda064ae65.mov

were there any additional steps you followed?

[2022-04-24 22:26] alaahariri opened #16736 "Tab View for Doctype in Customize Form"
**Currently:**

The doctype item has a customize form in which we create as many fields as possible. This will end up with a long vertical view where the user has to scroll down as long as the form has many fields. The section break as well as the column break are a great way to categorize sections and collapse those that are not frequently updated.

**Expected:**

In addition to the section break

[2022-04-24 22:26] yrestom commented on #16662
Yes it is on Vue 2
I think it will be better, for now, to pin it to maintain compatibility with version 12 and 13

[2022-04-25 01:46] matt-teix opened #16739 "List settings for Doctype not working"
### Information about bug

<img width="635" alt="Screen Shot 2022-04-24 at 7 45 16 PM" src="https://user-images.githubusercontent.com/28770867/165007528-74fb1708-f339-4d9e-a829-2d5c8ba51589.png">
When setting fields in the Doctype to listview, they are not being actually added to the list view. Also when using list settings from the drop down, there is no button to add a field to the list view.

#

[2022-04-25 03:35] this-gavagai commented on #16736
Hi there,

This has already been added in v14:
https://github.com/frappe/frappe/pull/13036

[2022-04-25 05:15] ollyboy commented on #16732
There is a lot of traffic on javascript date returning an unexpected day daye before ie https://stackoverflow.com/questions/9509360/datepicker-date-off-by-one-day

<img width="735" alt="image" src="https://user-images.githubusercontent.com/12904192/165024725-72438084-4667-4e6f-ba80-3445a3b0d913.png">

I have my frappe system time set to melbourne/australia and then Google compute server is also se

[2022-04-25 05:30] #16736 closed, assigned to nobody

[2022-04-25 06:32] muchai opened #16737 "Disabled energy points rules send negative points, expectation is they would stop sending out the energy points."
### Information about bug

Disabled energy points rules send negative points, expectation is they would stop sending out the energy points.

### Module

other

### Version

ERPNext: v13.23.3 (version-13)
Frappe Framework: v13.23.0 (version-13)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-04-25 06:40] ankush commented on #16737
are you sure about this? Can you share some screenshots?

Disabled rules are not even fetched when processing energy points.

https://github.com/frappe/frappe/blob/92db82807ca27cb00cff3ce522fa57924f331a3a/frappe/social/doctype/energy_point_rule/energy_point_rule.py#L111-L113

[2022-04-25 09:37] #16725 closed, assigned to nobody

[2022-04-25 10:27] muchai commented on #16737
Not sure, I disabled all energy point rules in all sites, and I have been seeing negative energy points in emails.
Probably from pending energy point logs, will confirm and repost.

[2022-04-25 10:30] ankush commented on #16737
disable energy points globally instead. That's better than disabling all rules I think 😄

[2022-04-25 13:27] ankush commented on #16739
There's a limit to what you can show, does it work after you remove some existing items? 🤔

It's a rather weird computation(bootstrap columns), so you'll have to do some trial and error.

This can be improved like child table grids. https://github.com/frappe/frappe/pull/14130

[2022-04-25 13:41] chechani opened #16740 "Customize Form , nothing being populated in latest develop - working in frappe beta3"
We observed that nothing is being loaded on switching to develop branch of frappe and ERPNext, see this screen. We switched one non-production setup to see the effect of merged PR related to workspace

![image](https://user-images.githubusercontent.com/6291292/165100775-b8c29d1c-4b0a-4198-bdfc-1bf3fd4c509e.png)

this is the screenshot of the console where we can see frappe API not returning anythi

[2022-04-25 14:37] #9990 closed, assigned to nobody

[2022-04-25 16:17] guilmori opened #16742 "SPA routing is broken, whole page reloads every time"
After upgrading from v13.16.0 to v13.23.0, I noticed that a click on any link will reload the whole page instead of being handled by the frappe spa router.

All of these actions trigger a full page reloads now, while in v13.16.0 it simply triggered a routing change:
- From workspace, click on a menu option
- From list view, click on a row
- From doc form, click on breadcrumb to go back to the list

[2022-04-25 18:08] this-gavagai commented on #16735
Hi there,

I assume you're talking about v14 here? It's possible to create custom widgets, though a bit hacky right now. The move towards javascript modules has it all pretty easy, except for one snag: EditorJS defines its available widget set at initialization, and I couldn't figure out a way to add new widgets at runtime.

For now, there are three possibilities:
- The frappe maintainers add a ho

[2022-04-25 19:50] guilmori commented on #16742
@ankush Any idea ?
I will try to upgrade to v13.27 and see if it resolves the issue.

[2022-04-25 20:45] guilmori commented on #16742
Upgrading to v13.27 has solved the issue.

[2022-04-25 23:49] guilmori opened #16744 "Form Events - Please add an open form event"
onload is unreliable as it fires only on first load of each document.
So for example:

Open Doc-1 -> FIRE
Open Doc-2 -> FIRE
Open Doc-1 -> WON’T FIRE

See:
https://discuss.erpnext.com/t/form-event-on-open/81144

I can't help thinking this reuse of form instance is such a messy design... if performance was so bad you needed to implement this, then the source of the problem lies elsewhere...

[2022-04-26 01:24] dj12djdjs opened #16745 "list view bulk actions needs optimization's"
I remember from https://github.com/frappe/frappe/pull/15299 list view updates were optimized for bulk operations.

During bulk import and bulk delete operations `list_update` is still calling `frappe.reportview.get` for every record.

Branch: develop
Install: Frappe Cloud

https://user-images.githubusercontent.com/29856401/165200173-d9e68164-096b-44b2-a3d7-0f4db8051f10.mp4

[2022-04-26 05:41] ChillarAnand commented on #15690
Some time back, @phot0n suggested to add `--force` flag for app install too.

Currently, duplicate module def is the most common failure point. Apart from that, FF handles changes in doctypes/fields well.

This fix has been working well from some time. Will raise a PR for the same.

[2022-04-26 05:46] ankush commented on #15690
Got rid of it here: https://github.com/frappe/frappe/pull/16604

[2022-04-26 06:06] palkanp opened #16749 "Newsletter issues"
## Description of the issue

- [ ] Schedule feature on Newsletter is not working. Emails do not get sent at the scheduled time.
- [x] The unsubscribe feature is not working. If I click on unsubscribe in the newsletter, it asks me to select email groups to unsubscribe from but it doesn't really unsubscribe on the desk.
- [ ] On clicking send now for large numbers, the emails do not get sent. A time

[2022-04-26 09:30] gavindsouza commented on #16233
Seems like this was fixed in the linked PR

[2022-04-26 09:30] #16233 closed, assigned to nobody

[2022-04-26 09:38] ankush opened #16757 "Dark mode for web portal / web views"
what title says. Desk has dark mode but web portal/views dont.

[2022-04-26 09:41] shariquerik commented on #16749
Fix: https://github.com/frappe/frappe/pull/16756

[2022-04-26 09:42] ankush commented on #16758
<img width="404" alt="Screenshot 2022-04-26 at 3 10 56 PM" src="https://user-images.githubusercontent.com/9079960/165271491-4b619a4e-737a-4a80-944b-0d69398dc2d1.png">

Global search in frappe needs to be tweaked further.

Unrelated to wiki.

ref: https://github.com/frappe/frappe/pull/14463#issuecomment-950716020

[2022-04-26 09:44] ankush commented on #16758
paging @ChillarAnand 😬 since you did: https://github.com/frappe/frappe/pull/16478

[2022-04-26 10:39] #16663 closed, assigned to nobody

[2022-04-26 11:35] #15191 closed, assigned to nobody

[2022-04-26 11:56] efernau commented on #16613
very similar problem here after switching from dev to stable.
`Uncaught TypeError: this.workspaces.Modules is undefined`

[2022-04-26 12:50] ankush commented on #16261
Keys shouldn't be used directly in raw queries regardless of from where it's coming.

Escaping in framework is breaking change and will break reports that are already escaping it (most of them)

[2022-04-26 12:50] #16261 closed, assigned to nobody

[2022-04-26 13:40] ankush opened #16768 "error in translation.csv files can break a lot of things"
Just unescaped string or extra column in translation files can cause a lot of problems. There should be better exception handling for this.

[2022-04-26 14:35] phot0n opened #16770 "remove `Read Only` fieldtype"
It's not really needed as we have the read only docfield property.
Plus it's also very limiting as it uses varchar underneath (we can set read only on any fieldtype using the docfield property)

![image](https://user-images.githubusercontent.com/32034600/165324600-18d0fdb2-6641-4e62-b7ea-3d6849f26ee5.png)

PS: patches would have to be written if this fieldtype is removed as it's used in many place

[2022-04-27 05:19] #16768 closed, assigned to nobody

[2022-04-27 08:45] muchai opened #16780 "Settings on Module Profile per user have no effect - v14.0.0-beta.3"
Despite having the below selected, or any other example, all modules are still shown on the sidebar for the user.

![image](https://user-images.githubusercontent.com/1822868/165479009-b6833354-0ab1-4bfc-a382-5b2b1590a1f0.png)

[2022-04-27 08:53] muchai commented on #16713
In my case, I get below, on clicking on Download template. On clicking on download template, the save button becomes active again.
On Frappe cloud - v14.0.0-beta.3

Unable to handle success response {message: Array(1)}message: ['(()=>{var Ii=Object.create;var Pt=Object.definePro….FGFM6DJX.js.map\n\n\n$.extend(frappe._messages, {})']0: "(()=>{var Ii=Object.create;var Pt=Object.definePrlength: 1[[Pr

[2022-04-27 08:54] ankush commented on #16742
Closing - not reproducible and it seems to be working for you now.

[2022-04-27 08:54] #16742 closed, assigned to nobody

[2022-04-27 08:59] muchai opened #16782 "Fetch from dropdown in customize form"
Not sure if it's a bug, or wip, or way it will be.

Customize form, uses old way
![image](https://user-images.githubusercontent.com/1822868/165481868-8244a8ca-2432-4dde-8e9e-b123496539c1.png)

Custom doctype, we have the new way
![image](https://user-images.githubusercontent.com/1822868/165481975-813fc042-b43b-4846-8792-9182d2691ebd.png)

[2022-04-27 09:00] ankush commented on #16782
This is WIP. The dropdown you're seeing was improvement made recently.

[2022-04-27 09:06] muchai opened #16783 "+ Add / Remove Fields missing in List Settings - v14.0.0-beta.3"
In v13
![image](https://user-images.githubusercontent.com/1822868/165483332-ec66560a-ee42-4481-8f27-dac1e1a496a6.png)

In v14.0.0-beta.3
![image](https://user-images.githubusercontent.com/1822868/165483435-3d8b17ca-e473-445c-8e65-a4b98625f96e.png)

[2022-04-27 09:13] muchai opened #16784 "Client scripts don't seem to work in - v14.0.0-beta.3"
Created a simple client script to filter assets based on location in issue
On v13 it works, doesn't work on - v14.0.0-beta.3
Will be testing more client scripts, and keep updating, in case this is an isolated scenario.
![image](https://user-images.githubusercontent.com/1822868/165484575-32bb8be0-dd4a-4dab-af78-5a1fd1776198.png)

[2022-04-27 09:32] gora commented on #16713
That seems to be the same error that I was getting originally, but a fresh install fixed things. As people have noted, this was probably due to a missing dependency, but unfortunately I did not trace what the source of the error was.

[2022-04-27 09:42] muchai commented on #16713
It is. My bad. Reported on frappe cloud support, as this site is on frappe cloud.

[2022-04-27 14:47] #16524 closed, assigned to nobody

[2022-04-27 16:52] muchai commented on #16784
Resolved in the latest beta.

[2022-04-27 16:52] #16784 closed, assigned to nobody

[2022-04-27 19:45] guilmori opened #16787 "Javascript optional chaining operator won't build"
I'm trying to use the [optional chaining operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining) in a custom javascript file built using the build.json, but I get an error.

Any insight ?

![image](https://user-images.githubusercontent.com/9451512/165613820-bf286c13-595e-4527-918f-32fd0e471dce.png)

[2022-04-28 01:53] ollyboy commented on #16732
Found the problem. Administrator time zone was different to system timezone. Making then same makes the issue go away. But would still consider this a bug - What is the point of user based timezones if they mess up date pickers.

Another minor issue. The timezone in system->settings is read-only but the country can be changed.

[2022-04-28 02:13] this-gavagai commented on #16787
I believe this is a known limitation of Webpack 4. I've seen a few workarounds described, but I'm not aware of a simple/robust fix from Frappe's side other than upgrading to Webpack 5. I suspect that's not likely to happen, given that v14 has abandoned webpack for esbuild.

https://github.com/webpack/webpack/issues/10227#issuecomment-642734920

[2022-04-28 02:53] this-gavagai commented on #16780
I wonder if this is intended behavior. The new workspaces use roles for access management, which is definitely a more robust way than these individual module profiles. I have to admit I've never been clear on how modules are supposed to work relative to roles, etc.

[2022-04-28 04:57] #14878 closed, assigned to rohitwaghchaure

[2022-04-28 05:32] muchai commented on #16780
Could be. Thank you. I saw the roles for workspaces, will test them out. We normally pick a low risk site, and try a new beta on it.

[2022-04-28 05:32] #16780 closed, assigned to nobody

[2022-04-28 05:33] muchai commented on #16780
Oh, in that case, I guess the module profile access per user should be removed. Avoids ambiguity.

[2022-04-28 05:33] ollyboy commented on #16739
@ankush I have been gently pushing listview limitations for months. List view is the heart of any app built on frappe. Recently child list view was improved but main/parent doc list view is still almost impossible to control. It is all about the bootstrap 12 column grid limitation and the fact that most frappe fields take 2 columns space of this space. Thus we typically have 6 fields in list view.

[2022-04-28 05:41] ankush commented on #16787
Which version you're doing this on?

On v14 we use ES2020 syntax in few places and it's transpiled to es2017. ref: https://github.com/frappe/frappe/pull/16491

This won't get backported to v13 now.

[2022-04-28 06:04] ankush commented on #16728
The last line has `%` in the end which makes it invalid JSON... can you check if your config is a valid JSON file? (any online validator will work)

[2022-04-28 06:15] gavindsouza commented on #16749
@palkanp The problems described are too vague and require a lot of maintainer time to interpret and guess what the possible causes for these would be. Each of the reported issues requires a lot more context in order for us to get something to work with, here. Perhaps, use the issue template if it makes it understand what's relevant to describe what you face.

[2022-04-28 08:40] ankush commented on #16473
Your bench isn't correctly updated 😅

This is not a bug, it's using old JS assets. The endpoint listed isn't called from JS files now.

[2022-04-28 08:40] #16473 closed, assigned to nobody

[2022-04-28 08:58] danielmorlock commented on #16473
This is the bench coming with your pre-build docker images from  https://hub.docker.com/r/frappe/erpnext-nginx here: v13.25.1.

Further I can't update bench since it says that it is running as a docker image and cannot be updated. Any further suggestions?

[2022-04-28 10:39] umairsy opened #16795 "Item details not fetched when navigate from Desk"
Steps:

1. Item master
2. Scroll to item's desk and click + for Sales Order (or any transaction where item is child table)
3. In the transaction, select customer / supplier
4.  Edit item's row. You will notice that Item's name and description is not fetched from master.

If nvagiate this way, user has to often delete and reselect the item's row. We should either ensure item details are fetched cor

[2022-04-28 10:44] ankush commented on #16795
similar to https://github.com/frappe/frappe/issues/16401

The common problem is lack of relevant triggers from these events. 😅

[2022-04-28 11:29] guilmori commented on #16787
v13.27

I will wait for v14 then, thanks.

[2022-04-28 11:29] #16787 closed, assigned to nobody

[2022-04-28 14:01] matt-teix commented on #16739
Ive tried unselecting "list view" from each field and found that to not work. Ive tried playing with the "max number of fields" in list settings but nothing helps. Ideally im just trying to get status showing like on all my other doctypes. Even when selecting "disable count, sidebar stats, etc" and saving it, it actually wont save the updated values.

[2022-04-28 15:27] rmmr opened #16798 "Feature: Enable drill down of link fields in print format builder (implementation provided)"
Right now in the print format builder (beta) it is only possible to include fields from the document itself. With this feature it is now possible to drill down into a link field, and select that document's field. (this works recursively and also for table fields).

I have implemented this feature myself. There are many use cases for this, our use case was to include information about a vehicle on

[2022-04-29 00:36] ollyboy commented on #16739
@rohitwaghchaure did say that the work on child table grids could be migrated to parent tables, guess we just have to wait😔

[2022-04-29 04:15] this-gavagai commented on #16728
Thanks @ankush!

Good catch, but unfortunately that errant `%` was just a copy and paste glitch on my part. It's not actually in the json files. I tested both the `site_config.json` and the `common_site_config.json` in json validators and both came out fine.

[2022-04-29 06:54] rioshaz commented on #14832
@ankush buddy any news on this : this totally makes mailbox unusable ... its  a very important feature why is no on looking into this ?

[2022-04-29 06:59] rioshaz opened #18625 "Email foldr not wokring, spam, trash, sent"
### Information about bug

When you go to communications in crm module and then select "inbox view "then on the left sidebar if u select any mailbox folder it dosnt work..

pls check : https://github.com/frappe/frappe/issues/14832

Can anyone pls looking into this as this totally makes mailbox unsable....
also how to save draft emails ?

### Module

CRM

### Version

13.27
13

### Installation met

[2022-04-29 08:48] zongo811 opened #16799 "frappe.utils.pdf.get_pdf does not work with <img>"
## Description of the issue
I am trying to create a PDF that contains images using frappe.utils.pdf.get_pdf(). Unfortunately the images are not displayed in the generated PDF.

## Context information (for bug reports)
Sample Code:
[code]
Resulting PDF looks like this:
![grafik](https://user-images.githubusercontent.com/77285389/165912445-8507daaa-dc60-486a-a521-c7ec2a629630.png)

**Output of `benc

[2022-04-29 13:19] zongo811 commented on #14950
I watched the video and stopped after a few minutes when the developer started changing the frappe-core-files.
This is not how it should be done!
Neither am I willing to watch somebody tinker around for two hours instead of providing a clear solution in 30 minutes. This video seems like an attempt at earning money by excessive length.

@frappe-team: Do you have virtual doctypes covered or do you h

[2022-04-29 14:58] szufisher commented on #16798
several years ago I tried to implement such feature as part of ORM, but due to many reasons the PR not merged, would like to see your version and to be involved for further elaboration.

[2022-04-30 08:15] ejaazkhan commented on #16739
## Temporary solution
@matt-teix
I encountered the same issue, so I deleted the row from the `tabList View Settings` table and checked the checkbox (`In List View`) of FIeld which I want to show in the List. It solved my issue.
![image](https://user-images.githubusercontent.com/67804911/166097649-7a9e81be-d7fe-4689-9fcb-450b32658b4b.png)

![image](https://user-images.githubusercontent.com/67804911

[2022-04-30 15:08] phot0n commented on #16798
seems cool. feel free to raise a pr ..someone will definitely look at it :)

will also be better for discussion(s) as people wouldn't have to switch between going to the pr and issue, to understand the context

[2022-05-02 05:21] #16461 closed, assigned to nobody

[2022-05-02 06:27] ankush opened #16809 "app with erpnext in `required_apps` aren't installable"
### Information about bug

require_apps retriggers install which calls `before_install` and erpnext complains that it can't be installed on the existing site.

### Module

other

### Version

develop

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-05-02 06:30] ankush commented on #16809
This is better handled in the framework?

if the required app is already installed, don't reattempt?

Looks like it's already there. Not sure why it didn't happen then 🤔

https://github.com/frappe/frappe/blob/73fb5f863117492ce536563de524919f132dc89f/frappe/installer.py#L254-L256

[2022-05-02 06:33] #16809 closed, assigned to nobody

[2022-05-02 07:15] shariquerik commented on #16210
Closing as it is fixed now https://github.com/frappe/frappe/pull/16578

[2022-05-02 07:15] #16210 closed, assigned to shariquerik

[2022-05-02 07:21] shariquerik commented on #16575
This is intentional, we do not allow making changes to anyone's workspace

[2022-05-02 07:21] #16575 closed, assigned to nobody

[2022-05-02 07:22] shariquerik commented on #16547
Can you elaborate?

[2022-05-02 07:25] shariquerik commented on #15939
You can create workspaces add shortcut, cards, many things now in v14

[2022-05-02 07:26] shariquerik commented on #16141
Need more information
Can you mention frappe version, some screenshots or gif's to understand better

[2022-05-02 07:29] gavindsouza opened #16810 "Repo Assets"
Maintaining this thread to host assets we don't want to commit to the repo 😄

[2022-05-02 07:30] gavindsouza commented on #16810
### Preview Video

https://user-images.githubusercontent.com/36654812/166199234-8525a991-7544-4320-8880-17c01d4679ee.mp4

By @gavindsouza and @palkanp

[2022-05-02 07:31] shariquerik commented on #14421
in v14, you can create workspaces based on your requirement.

[2022-05-02 07:34] shariquerik commented on #13072
Please mention the frappe version
Because now in version 14 the workspace has a different design and functionality. You can only create a workspace from Workspace UI, not from the list view.

[2022-05-02 07:40] nasirrr commented on #16575
But a system manager should be able to do it, right? Since role based workspaces are still in progress, this is a very handy way to set a user's workspaces to the relevant doctypes.
The alternative to this is to manually login to each user's id and customize it, which is extremely tedious!

[2022-05-02 08:13] #16810 closed, assigned to nobody

[2022-05-02 10:21] sagarvora opened #16811 "Unify `BaseDocument` and `Document`"
A lot of code in `BaseDocument` depends on code in `Document`. This is bad design. Perhaps we should make it one class called `Document` and just alias `BaseDocument` to it for compatibility.

_Originally posted in https://github.com/frappe/frappe/issues/16733#issuecomment-1107750012_

[2022-05-02 13:55] zongo811 opened #16816 "Link-Fields should offer more entries"
**Is your feature request related to a problem? Please describe.**
We created a DocType that contains aprox. 100 entries. This Doctype is linked to other DocTypes and users browse the list and pick desired entries. Unfortunately the list field from a Link only displays 20 entries, and users tend to make wrong choices because they think there are only 20 entries available.
The filter field which wo

[2022-05-02 15:37] this-gavagai opened #16818 "Portal Sidebar not displaying in v14-beta.3"
The portal sidebar does not display consistently on different kinds of routes. On some pages, the sidebar is not rendered, while on others it is. This has been tested on both existing sites and fresh installs.

/me (no sidebar)
![Screenshot 2022-05-02 211924](https://user-images.githubusercontent.com/9303694/166262480-9ba381fa-2a63-4596-b1a5-f72e1650fb0a.png)

/orders (single link on sidebar)
![Sc

[2022-05-02 18:19] leggettc18 opened #18626 "Timeout when attempting to change email domain settings"
### Information about bug

When attempting to change the Email Domain settings, the web interface times out. This applies both to Email Domain settings AND any custom email server information put into an Email Account. I can see in frappe.log where it is attempting to check the IMAP and SMTP servers, but can't seem to find any corresponding errors anywhere. If there's a specific file you want atta

[2022-05-03 08:57] dgerhardt commented on #14104
I can still reproduce the same exact issue in the latest version. Could you please reopen this issue?

ERPNext: v13.27.1
Frappe Framework: v13.27.0

I've checked the request and editor DOM when saving:
The description in the JSON sent with the request contains `<li+data-list=\"bullet\">`. But the editor's DOM after saving contains `<li data-list="ordered">` instead.

This might be a bug in the Qui

[2022-05-03 11:02] rmmr commented on #16798
Will do, basically i need to deliver a "stable" version to my client. So I have forked everything under github.com/dickerschutz/frappe .

I m currently fixing a multitude of issues and missing features in the develop branch. Making a pull request would also merge in other issues, so I either have to split them first. Or i will make a comprehensive pull request where i describe all fixes and improv

[2022-05-03 11:40] ollerus opened #17312 "Table select not working on mobile ERPNext V13"
### Information about bug

What I expect:
That the row should be selected when the checkbox is clicked.
What happens:
The row is not selected.

As evident by the video, i can move rows around, and I can select all rows with the top checkbox, but I can't select or de-select individual rows. This is a crucial part of our application and it works as expected on desktop.

Device: Samsung Galaxy S21 (A

[2022-05-03 13:17] ankush commented on #16816
for one-off fields you can do this: https://discuss.erpnext.com/t/how-to-get-more-that-20-doc-in-set-query/86893/2?u=ankush

[2022-05-03 17:26] lincogn opened #16824 "frappe.db.get_all can be used in jinja and webpage without permission checking"
By using frappe.db.get_all in webpage, user can list any table of the system. This means, if the user has permission to use web page, print format, etc, the user can skip all permission checking and use this to list whatever information they like.

Is this a bug or the intended behaviour?

[2022-05-04 04:23] ChillarAnand opened #16825 "Thoughts on increasing Frappe Framework adoption"
**Current State**

There are [5 websites in Alexa Top 1 million](https://publicwww.com/websites/%22window.frappe%22+/) which use FF(Frappe Framework). There are 1300+ sites in total which are publicly accessible.

GitHub insights show 34K+ clones in the last 2 weeks.

<img width="1279" alt="Screenshot 2022-04-29 at 13 01 22" src="https://user-images.githubusercontent.com/4463796/166621515-5d67a66f

[2022-05-04 04:57] nikkothari22 commented on #16825
We've used Frappe for a project management system built for a World Bank agency - and here are a few things that we encountered:

1. Documentation does not cover a lot of the hidden features in the framework - or at least doesn't have enough tutorials. For example, Frappe supports Realtime listeners (like Firebase and Supabase, but way more advanced) - but the documentation does not cover a lot of

[2022-05-04 05:41] nikkothari22 commented on #16824
I think that's the intended behavior - `frappe.db.get_all` skips user permissions. I think the same applies to the Jinja API. If you want to apply user permissions, use `get_list` instead.

[2022-05-04 06:50] lincogn commented on #16824
Thank you for the reply. Yes we understand get_list has permission control. As you can imagine, you may easily grant your staff / designer / programmer to use Web Page / Print Format. In this case, they can simply use this command to get all your company information.. account, employee details.. If this is the intended behaviour, the system might have potential security issue for the data.

[2022-05-04 06:56] nikkothari22 commented on #16824
Yeah that actually makes sense. If I let people define Jinja templates using the UI, they would be able to create ones with `get_all`.

To counter this for now, maybe you can write a custom hook in your app that checks if the template has `get_all` or not before saving the format in the database.

[2022-05-04 08:35] ankush opened #16828 "route history isn't working"
since the last ~2-3 weeks route history records aren't created.

Checked on 2 sites running `develop`
<img width="1376" alt="Screenshot 2022-05-04 at 2 06 24 PM" src="https://user-images.githubusercontent.com/9079960/166647832-0846dcac-3f83-4629-ab78-69ee2b251bda.png">

[code]

[2022-05-04 08:57] phot0n commented on #16798
If you think those changes belong together then feel free to put them in a single pr ( please be descriptive about them though, so that it's easier for people to review - and [if possible] atomic commits), you can even club all the fixes together in one place and call the pr title something like `fix: Misc Fixes` (but don't do it for feature(s) :P)

and if not, then feel free to open different pr(

[2022-05-04 09:55] ankush opened #16831 "logging doctypes without use of MyISAM"
If you create a doctype to log error, request data etc then you expect that data inserted to this table is committed always regardless of exceptions that might occur in future.

This is achieved for `Error Log` by converting that table to MyISAM however
1. There are other doctypes that are InnoDB and can't be easily converted.
2. Postgres has no analogous functionality

Need DB agnostic way to pus

[2022-05-04 11:07] zongo811 opened #16832 "frappe.db.exists() does not work with list as parameter"
## Description of the issue
See https://frappeframework.com/docs/v13/user/en/api/database#frappedbexists , example "Pass the doctype and a list of filters:".
This variant isn't working anymore.
Please fix or change documentation.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Adapt to your data and excecute this:
print(frappe.db

[2022-05-04 11:21] ankush commented on #16832
This is only for v14. Updated docs.

[2022-05-04 11:21] #16832 closed, assigned to nobody

[2022-05-04 11:25] #16828 closed, assigned to nobody

[2022-05-04 12:13] danielmorlock commented on #16473
@ankush how do I update bench when running the container version? Why isn't the bench up-to-date?

[2022-05-04 13:38] danielmorlock commented on #16473
Just in case, the assets in a container can be updated as follows:
[code]
This fixed the issue for us. Anyways I think that the containers from https://hub.docker.com/r/frappe/erpnext-nginx etc.. should also contain the most recent assets for the appropriate version.

[2022-05-04 21:10] #16593 closed, assigned to nobody

[2022-05-05 05:03] kimsrems opened #16836 "Role functionality not working as expected"
## Description of the issue

This issue is only observed on my develop site.

In the Role settings, the search bar and timeline is disabled for the respective role. However, the user login that only has the respective role assigned has access to the search bar and timeline. Screenshots attached below.

## Context information (for bug reports)
![image](https://user-images.githubusercontent.com/1049

[2022-05-05 08:21] wojosc commented on #18617
stay open

[2022-05-05 09:17] ChillarAnand commented on #16710
lxml added support for Python 3.11 and it will be available in the next release(4.9.0).

[2022-05-05 10:26] #15656 closed, assigned to nobody

[2022-05-05 10:34] #11377 closed, assigned to nobody

[2022-05-05 10:36] phot0n commented on #14810
should be fixed in https://github.com/frappe/frappe/pull/14874

[2022-05-05 10:36] #14810 closed, assigned to AfshanKhan

[2022-05-05 14:33] this-gavagai commented on #16824
It's also the sql and querybuilder methods.

I'm not sure there's a simple way to solve this, as many reports require permission-exempt calls on potentially privileged data in order to aggregate it. There are ways around it, I'm sure, but it would take some thinking through.

[2022-05-06 01:48] this-gavagai commented on #16818
On further investigation, some factors are a bit more clear:

- No list is printing on `/me` because `context.show_sidebar` is never set to true in `me.py`. This may be intentional, but I wonder if it presents a problem.
- On this list page, `show_sidebar` is indeed set to true, but the sidebar isn't getting built properly because template_page.py sets no `basepath`. This seems to happen for any p

[2022-05-06 05:43] this-gavagai commented on #16818
I was able to get the performance I expected by setting the `basepath` variable in the `render()` method of `list_page.py`. I think this is preferable to doing it in `template_page.py`, as it appears intentional for there to be no sidebar there.

The updated method looks like this:
[code]

I can send a pull request if it would be helpful, but I'm a bit unclear about the full implications of the ba

[2022-05-06 08:13] #16732 closed, assigned to surajshetty3416

[2022-05-06 13:19] guilmori opened #16848 "export-fixtures - order_by"
Export fixtures for `Custom Field` table always mess up the resulting json file and make it difficult for diff analysis.

We can see here the `order by` being hardcoded, and makes no sense for `Custom Field` table
https://github.com/frappe/frappe/blob/92dd1a0d282cf01d60e4df45d8961de9b1b9049b/frappe/utils/fixtures.py#L72

I would like to be able to specify an `order_by` property within the fixtures

[2022-05-06 14:12] ankush commented on #16705
eh, not worth it.

[2022-05-06 14:12] #16705 closed, assigned to nobody

[2022-05-06 14:14] #16451 closed, assigned to nobody

[2022-05-06 19:55] chronicom opened #16850 ""LIKE" conditions for "LINK" type field are lost after saving the filter."
## Description of the issue
"LIKE" conditions for "LINK" type field are discarded after saving the filter.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.Open a doc with "LINK" type field.
2.Create a filter with some "LIKE" conditions on the "LINK" type field.
3.Save the filter and clear the filter.
4.Re-apply the saved filter.

[2022-05-08 08:07] lincogn commented on #16824
I see. It's found that Frappe puts a lot of efforts in the security control. However, exposing this function will make all other security control becoming meaningless.

[2022-05-09 09:00] pateljannat opened #16853 "Web Form is accessible through URL even after it is unpublished"
## Description of the issue

Web Form is accessible through URL even after it is unpublished

## Steps to reproduce the issue

1. Open any published web form
2. Unpublish it.
3. Visit the web form through URL.

### Observed result

Web form is still accessible even though it is unpublished

### Expected result

Web form should not be accessible.

[2022-05-09 12:55] ankush opened #16856 "Log all uncaught exceptions in frontend"
Currently uncaught JS exceptions are only discovered when someone notices buggy behaviour and checks browser console.

Similar to "Error Log" all frontend errors should be sent to a doctype which can be later used to identify root cause and fix client-side errors.

Example:

https://github.com/frappe/frappe/pull/16855

[2022-05-09 13:08] ankush commented on #16856
![telegram-cloud-photo-size-5-6325470204410310394-y](https://user-images.githubusercontent.com/9079960/167416580-4a012043-b1b7-4d96-9a0b-03c0f74d9d13.jpg)

the simplicity! 🥺

[2022-05-09 14:13] #16853 closed, assigned to nobody

[2022-05-10 06:20] zongo811 opened #16862 "Controllers: Date-Fields are treated differently during mass-updates"
## Description of the issue
I have a doctype called "HauptprojektEmployee" which contains a start- and a end-date-field. In validate() there is a check if start is before end, which seems to work fine. But when I'm in the list view trying to use Actions > Edit to set a new end-date, I'm getting this error:
![grafik](https://user-images.githubusercontent.com/77285389/167558072-c74475d1-b34b-4328-91

[2022-05-10 09:25] maharshivpatel opened #16889 "[Discussion] Form Highlights & Section Messages."
When I was working on the E Way Bill Dialog I was unable to find any method that allowed form highlights ( validations ) in a frappe way.

### Proof of Concept
This is just for demonstration purposes I will start working on the implementation If it is useful and there is a need for this kind of method. I would like to have feedback & opinions from fellow developers before investing time in this.

[2022-05-10 09:52] harshit-30 opened #16866 "UX for mandatory fields"
On opening a form, this is how the mandatory fields are reflected:

![CleanShot 2022-05-10 at 15 09 50](https://user-images.githubusercontent.com/46772424/167599210-b18a63c9-5025-4336-9b2e-dab70eff0f51.png)

The fields have highlighted borders taking away all the focus of the user to fill the mandatory fields first decreasing the priority of other fields.

Ideally, all the mandatory fields should

[2022-05-10 10:05] ankush opened #16867 "overloaded type hints for dateutils"
Currently using any date util is a nightmare, does it return string, date, datetime, timedelta?

Add overloaded type definitions for each type of inputs what the output is supposed to be.

ref: https://docs.python.org/3/library/typing.html#typing.overload

[2022-05-10 10:32] ankush commented on #16824
If someone has the ability to write code on your site, they will be able to access everything on site. This can't be access controlled. (Does it even make sense?)

[2022-05-10 13:52] rmmr opened #16869 "bug: "is" query operator no longer working"
Just checked out the latest version of the develop branch. Every doctype throws an error if i try to filter by "is" "set"/"not set"

See traceback

### App Versions
[code]
### Route
[code]
### Trackeback
[code]

### Request Data
[code]
### Response Data
[code]

Full traceback

[code]

[2022-05-10 14:25] rmmr commented on #16869
Fix can be found here https://github.com/dickerschutz/frappe/commit/53148c3f90487dde8537733d16961947d5363885

Can't make a pull request. I need to order my commits per feature in a new fork in order to make descent pull requests here.

[2022-05-10 14:33] this-gavagai commented on #16824
I don't think that's true. Frappe already uses whitelisting for both jinja and safe_exec contexts to prevent malicious server behavior. I'd think the same mechanisms could be used to enforce data permissions.

[2022-05-10 14:37] ankush commented on #16824
Not on the server. safe_exec restrictions are all for restricting access _outside_ of the site.

`get_all` has valid use cases in jinja/web page context, you might wanna load product information without giving read rights to it to a user.

[2022-05-10 14:58] gbm001 opened #16872 "round_based_on_smallest_currency_fraction is broken"
## Description of the issue
The utility function 'round_based_on_smallest_currency_fraction' is broken. This function is found in frappe/public/js/frappe/utils/number_format.js.

## Context information (for bug reports)

**Output of `bench version`**
An irrelevant 'access denied' error message - bench --version is 5.8.1, currently on V13 (but code is identical in develop branch).

## Steps to repr

[2022-05-10 15:23] gbm001 commented on #16872
The problem is, I think, actually in the remainder function (also in number_format.js), because a remainder is taken without proper care of floating point error.

In this case, suppose we call remainder(-263.34, 0.01, 2) which is saying 'what is the remainder of -263.34 divided by 0.01'.
The precision of 2 means we should multiply everything by 100 before calculating, which the function does, but

[2022-05-10 17:23] lincogn commented on #16824
Yes this true. However, can you imagine, anyone in your company with permission of editing print format, web page, or even blog post, he/she can use get_all function to get all your company records like Employee Records, Account Records.. do you think it's reasonable and it's the security level for a normal ERP system?

[2022-05-10 18:18] this-gavagai commented on #16824
Right, that's how safe_exec is _currently_ being used. My point is, I don't think it's accurate to say that methods like `get_all` _can't_ be access controlled. They can, though it would require a different approach be taken for use cases where get_all is valid.

[2022-05-10 22:33] CleoMenezesJr opened #16873 "Should indicator-pills look like this?"
Commit 4ff474d0883b356bc498cb62e7e4ff591e387429 changed the way indicator-pills are colored, but it is not clear if it is a decision to change the design of the project, or if the commit broke the indicator-pills.

Before:
![Screenshot 2022-05-10 at 18-31-35 Cadastres](https://user-images.githubusercontent.com/54215258/167732497-60966f04-f344-47fc-a697-50daed191f88.png)
After:
![Screenshot 2022-05

[2022-05-11 05:04] ankush commented on #16824
@gavindsouza / @surajshetty3416 your thoughts?

I personally don't think we should control this. This same thing is applicable to server scripts too.

[2022-05-11 06:14] #16867 closed, assigned to nobody

[2022-05-11 07:11] hieutrluu opened #16875 "Client Script/ Override js file does not run if Document has Quick Entry"
## Description of the issue
Client Script is created for Document with Quick Entry (e.g Item Document).
Client Script does not run or have any effect using Quick Entry (Edit in fullscreen mode using Quick Entry)

I have confirmed the performanced of the client script without Quick Entry by using the browser to access url such as: http://localhost:8000/app/item/new-item-1. And this URL does have cl

[2022-05-11 07:33] ankush commented on #16824
I had a brief chat with @gavindsouza

This is "possible" to implement but would be quite complex and challenging to get right for sure. If anyone has a simple solution feel free to add it.

---

Think of this from "threat modelling" perspective. In a typical threat model of a remote Linux server, the threat is from remote unauthorized logins. If someone gains **physical** access to a computer you'

[2022-05-11 07:41] gavindsouza commented on #16873
CC: @ChillarAnand @surajshetty3416 (who reviewed and merged the PR in question)

[2022-05-11 07:41] this-gavagai commented on #16824
For what it's worth, I agree. At my org, we just treat anything with jinja or server code as System Manager-only. Changing this would possibly require a very large and very complicated refactor. I do understand, however, why people are caught off guard when they realize that the person responsible for designing print formats has access to the entire database.

One approach that might be interestin

[2022-05-11 07:46] gavindsouza commented on #16825
This is something I'd [written down](https://demo.hedgedoc.org/rdSX8jG6QBiCXPDI5nkA8A?view) around February 2021. Just a quick/rough note primarily for what I've wanted to / and am focussing on widely.

---

# Increase Adoption of the Frappe Framework

to cultivate a strong dev community, making frappe more adaptable for all sizes of projects. making it the developer's choice of framework for star

[2022-05-11 08:23] this-gavagai commented on #16875
I won’t say it’s _intended_ exactly, but it’s known behavior. Client scripts depend on a lot of architecture that is unavailable on the quick entry form. If you have logic that needs to be conducted outside of the full form, it would need to be done server side. This is true for API inserts too.

[2022-05-11 09:37] gavindsouza opened #16878 "Truncated labels on X-axis' Charts"
## Description of the issue

Labels on the X-axis are unreadable when there are "many" points/labels/columns. The labels get truncated from `"Augustine"` to `"Aug..."` or with fewer letters depending on the number of points.

## Context information (for bug reports)

The truncation happens in the [charts library](https://github.com/frappe/charts) and a fix is due there.

### Observed result

<img

[2022-05-11 09:58] ankush opened #16879 "SPA randomly fails to load with `first_day_of_the_week` error"
[code]

version: v13 latest

[2022-05-11 10:01] this-gavagai commented on #16878
For what it’s worth, I’m a social scientist who spends a lot of time labeling graphs. The angled label is definitely the standard practice (and I’d argue the best practice).

Setting the chart to scroll just to accommodate long labels leaves the bars far apart and unable to all appear on the same screen, which defeats the purpose of the visualization. Most visualization libraries provide a way to

[2022-05-11 11:48] ziai-engineering commented on #18617
Thanks for documenting the issue wojosc.
This is truly annoying and counter-intuitive.

[2022-05-11 13:32] rasos commented on #18615
can anybody confirm this behaviour in the e-mail app?

[2022-05-11 13:36] gavindsouza commented on #16836
Turned out that the All role had those settings checked which caused this. Not a bug.

[2022-05-11 13:36] #16836 closed, assigned to nobody

[2022-05-12 00:12] kagesenshi opened #16882 "Allow users who does not have access to desk to upload text/plain."
## Is your feature request related to a problem? Please describe.

I'm using erpnext to build a support portal where my customers can log in and file support tickets. The customer are not given desk access and can only access the web views. However, I noticed that customers are unable to upload log files through the web form. Request/response inspection shows me this error:

[code]

Reading the co

[2022-05-12 03:22] kagesenshi opened #16883 ""No permission for DocType" upon selecting Document Type when trying to create Dashboard Chart"
## Description of the issue

I'm seeing this issue on 13.29.0

This specifically happens when a user, who is not a System Manager, trying to select DocType when creating dashboard chart. I could not find a way to give permission in Role Permission Manager. Popup triggered when DocType is selected.

![Screenshot from 2022-05-12 11-13-28](https://user-images.githubusercontent.com/480984/167985056-a6

[2022-05-12 06:56] ankush opened #16884 "type hints for overloaded ORM methods"
like https://github.com/frappe/frappe/pull/16871  but for ORM

[2022-05-12 08:20] #15690 closed, assigned to ChillarAnand

[2022-05-12 10:24] ankush commented on #16889
This is more of a frappe framework FR.

[2022-05-12 10:26] ankush commented on #16889
btw we already have scroll_to_field which also highlights field
 https://github.com/frappe/frappe/blob/cdb92f2dfa590ffd0067a4783d3e64fcf3e17206/frappe/public/js/frappe/form/form.js#L1749

This can be extended to cover child forms.

Messages are a good addition for improving UX 👍

[2022-05-12 10:55] maharshivpatel commented on #16889
Yes i am aware of it as you can see i have mentioned that as note at the end of the message.

[2022-05-12 11:02] maharshivpatel commented on #16889
i have created this demo by copying and tweaking scroll_to_field code 😂

[2022-05-12 11:27] ankush commented on #16891
is 500 due to some broken translation? https://github.com/frappe/frappe/pull/16769

We don't send 500 for every error. In fact there are plenty of different status codes. [ref](https://github.com/frappe/frappe/blob/cdb92f2dfa590ffd0067a4783d3e64fcf3e17206/frappe/exceptions.py#L14-L67)

I'd ask for traceback but since you don't use it anymore, no point now.

[2022-05-12 12:05] #16873 closed, assigned to nobody

[2022-05-12 13:11] daraul commented on #4692
I just got this error while attempting to create a document that references a file. The file was uploaded fine, and creating the document works so long as I don't reference the file. Attaching the file to the document after they have both been created works fine.

Frappe Framework: v14.x.x-develop () (develop)

[2022-05-12 14:10] NagariaHussain commented on #16879
[code]

We have done it in many places in the same file. This can fix it, but maybe we should figure out why `frappe.sys_defaults` gets `undefined` in the first place.

[2022-05-13 05:59] johnlongland opened #16892 "Cannot add client-side custom filters on report"
### Information about bug

I want to add another filter to "Supplier Ledger Summary" (Accounts) and have added it in the "Filters" section of the report but it does not show when I use the report. When I look in the `tabReport Filter` on the backend, I can see the filters that was added.
Not sure if the state of "Developer Mode" would have an effect, but it is set on this site.

I have also tried

[2022-05-13 06:05] lincogn commented on #16824
What about just add a validation on the html / script box, which if the user is not admin, it don't allow user to save the script if it includes the risky commands (e.g. get_all)?

[2022-05-13 06:22] ankush commented on #16892
AFAIK for standard reports (yours has "is standard = yes"), they don't have any effect. You need to add them via code in JS for standard reports 😅

ref: https://frappeframework.com/docs/v13/user/en/desk/reports/script-report

we should probably hide these misleading fields for standard reports.

[2022-05-13 06:45] johnlongland commented on #16892
Thank you ankush. The reason I have been putting off to do it in JS, is that it will be wiped on next update. Perhaps I must clone the report into my own "App/ Module" work-space.

Apologies for making a post that is not really a bug, but I did try and get advise from the community !
Best

[2022-05-13 06:54] ankush commented on #16892
Standard reports are supposed to be checked-in the code.

You should probably put it in a separate app, if you've added it to frappe/erpnext right now.

[2022-05-13 08:37] zongo811 commented on #16816
A great tip, thank you. This solves my problem.
Sorry for taking so much time for answering.

[2022-05-13 08:37] #16816 closed, assigned to nobody

[2022-05-13 10:31] this-gavagai commented on #16824
The problem is code like this:

[code]

That's a pretty trivial obfuscation, but even trivial is difficult to catch just with text parsing. For the control to meaningful, it really has to be integrated with the runtime environment.

[2022-05-13 10:40] ankush commented on #16824
Peter pointed out one reason against this, another is... some users do want to allow access to all whitelisted functionality. So this has to be configurable.

Two safe-exec envs make sense. Default and hardened subset.

This again has to be configurable and distinguish between standard documents and custom documents.

Any print format checked-in code using `get_all` should still work. Like I said

[2022-05-13 12:36] ankush commented on #16879
is it because of the "import order"? (don't know the technical word for JS)

[2022-05-13 14:30] ankush opened #16901 "integrate monaco editor for script fields"
https://microsoft.github.io/monaco-editor/

- it has "familiar" code editor feel (to most VS Code users)
- Decent inbuilt client-side differ.

Things to consider:
- Might need to bundle this separately to avoid large js bundles.

[2022-05-16 08:35] hizbul25 opened #16905 "Can not send email using frappe directly"
## Description of the issue
Can't send email directly using `frappe.sendmail ` but it works fine using scheduler.
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Email settings using Gmail SMTP
2. `cd frappe-bench`
3. `bench console`
4. `frappe.sendmail(recipients=['some-email@gmail.com'], subject=frappe._('Birthday Reminder'), me

[2022-05-16 08:58] hizbul25 commented on #13741
I am getting same issue. Any work around?

[2022-05-16 09:10] aditsanghvi opened #16907 "frappe.request.data function is adding (b'{}')"
frappe.request.data function adds b'{...json request body...}'

request body:
{ "key": "value" }

convert to:
b'{ "key": "value" }'

[2022-05-16 09:24] ankush commented on #16907
This isn't a bug, request.data is `bytes` reopen if I misunderstood

https://werkzeug.palletsprojects.com/en/2.1.x/wrappers/#werkzeug.wrappers.Request

[2022-05-16 09:24] #16907 closed, assigned to nobody

[2022-05-16 09:34] aditsanghvi commented on #16907
Can you help me to decode it to my desired json?

[2022-05-16 09:37] ankush commented on #16907
please ask in https://discuss.erpnext.com/

also refer:

- https://frappeframework.com/docs/v13/user/en/guides/basics/frappe_ajax_call#calling-whitelisted-methods
- https://docs.python.org/3/library/json.html#json.loads

[2022-05-16 10:22] aditsanghvi commented on #16907
Got it Thank you so much

[2022-05-16 13:21] #15324 closed, assigned to nobody

[2022-05-17 05:37] bharathmsd7 opened #16914 "Making Installation User Friendly"
Installation of Bench includes running lots of scripts, Frappe is for code and easy development so why can't we have a one-step installation process.

A single script that will pull all the commands for installation and check for pre-requisites before installation and prompt the user if they don't have it in their machine. This can be made in a way to identify which operating system the user has a

[2022-05-17 07:08] ankush opened #16917 "test_runner import failure during app installs"
This happens randomly, idk about root cause

[code]

[2022-05-17 23:51] trustedcomputer opened #18627 "Website theme not applied consistently"
### Information about bug

I’m trying to use the tools in the website module to change the website into a dark theme. I created a new website theme and made the background color black and the text color white. I applied this theme to the website in website settings.

This only partially themes the default website, though. The products section of the default homepage is still black on white. The pr

[2022-05-18 09:09] #16869 closed, assigned to Aradhya-Tripathi

[2022-05-18 09:57] #16866 closed, assigned to shariquerik

[2022-05-18 11:27] iamejaaz opened #16925 "Bulk Edit option not working properly"
## Description of the issue

https://user-images.githubusercontent.com/67804911/169028031-1a63f7cd-fc3d-4b14-b464-29635125a594.mp4

In some menus, such as Attendance, Employee Checkin and Leave Application, the bulk edit option not working properly.

## Context information (for bug reports)

**Output of `bench version`**
[code]
### Stacktrace / full error message

[code]

## Additional information

[2022-05-18 12:09] #16882 closed, assigned to nobody

[2022-05-18 16:42] KorucuTech opened #16927 "bench init fails with error"
I have installed bench v5.8.1 on aws instance of ubuntu 22.04

when I run  -- **bench init frappe-bench --frappe-branch v13.29.1**
I get the following error
I followed all kinds of recommendations on the internet nothing seems to work

------------------------------------------------------------------------------------------------------------------
/home/ubuntu/.node-gyp/18.2.0/include/node/node.h

[2022-05-18 17:50] KorucuTech commented on #16927
I re-tested this and it fails if I use node v16 or v18
I was able to make it work ONLY if I use node v14

I confirmed this on both Ubuntu 20.04 and Ubuntu 22.04

I did my tests on AWS with fresh instance each time

I used the following steps to install

[https://github.com/KorucuTech/etc/blob/main/ERPNEXT-Install/install-erpnext-aws.md](https://github.com/KorucuTech/etc/blob/main/ERPNEXT-Install/i

[2022-05-19 06:17] thedatadavis commented on #16905
Did you try passing the message as a string like `message='Happy Birthday'` instead?

[2022-05-19 10:20] #16917 closed, assigned to nobody

[2022-05-19 11:02] nikkothari22 opened #16931 "Dashboard charts are broken in v13.29.1"
After changes made in #16868 were added in v13.29.1 our charts (bar, pie) are not working when they have data. All dashboards (on ERPNext and our custom app) do not show any data.

Below you can see that the Gender Diversity Ratio chart does not show anything.
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/19825455/169276725-db3a32e9-a363-40b5-b183-980117a83519.png">

[2022-05-19 12:22] Tom-Finke commented on #14950
I'm trying to implement a virtual doctype and this is really annoying...
Does anobody have a working virtual doctype?

[2022-05-19 12:41] #16931 closed, assigned to nobody

[2022-05-19 13:14] gavindsouza commented on #16927
Hey @KorucuTech, stick to Node 14 with Frappe. We don't support higher versions yet. ref: https://frappeframework.com/docs/v13/user/en/installation#pre-requisites

[2022-05-19 13:14] #16927 closed, assigned to nobody

[2022-05-19 13:24] gavindsouza commented on #16914
I think the https://github.com/frappe/frappe_docker project gets very close to this. It sets itself up in just 3 commands - `git-clone > cp > code .`

![https://discuss.erpnext.com/t/vscode-frappe-docker-error/65717/5?u=gavindsouza](https://user-images.githubusercontent.com/1040161/92668096-6f9e2580-f32b-11ea-93c0-a38fdc3d5d18.gif)

---

Apart from that, @athul is working on something else similar

[2022-05-19 15:41] nikkothari22 commented on #16850
I was able to reproduce this in v13.29.1 and v14 on my custom doctype, but not on the "Users" list.

[2022-05-19 16:31] nikkothari22 commented on #16783
This seems to be a CSS issue - the container (with 'Add / Remove Fields') has a class `.hidden-xs` which has a property `display: none !important` when under a `.modal`.

Found this in modal.scss (line 231)

[code]

The above lines were added in #16055.

@ankush - Does the 'Add / Remove Fields' need a `hidden-xs` class here?https://github.com/frappe/frappe/blob/d667f169df863a1812d81201603bdaaca2bf

[2022-05-20 04:44] jango-blockchained commented on #15019
Solved: frappe.phone_call.handler Error

YOU NEED TO BE LOGGED IN AS EMPLOYEE, NOT AS ADMINISTRATOR!

Greetz

[2022-05-20 06:05] phot0n commented on #14824
this was fixed in https://github.com/frappe/frappe/pull/16507

![Screenshot 2022-05-20 at 11 34 50 AM](https://user-images.githubusercontent.com/32034600/169463426-747fb5a2-5897-49ee-8617-574c9aada6e6.png)

[2022-05-20 06:05] phot0n commented on #14824
this was fixed in https://github.com/frappe/frappe/pull/16507

![Screenshot 2022-05-20 at 11 34 50 AM](https://user-images.githubusercontent.com/32034600/169463426-747fb5a2-5897-49ee-8617-574c9aada6e6.png)

[2022-05-20 06:05] #14824 closed, assigned to nobody

[2022-05-21 20:15] #4847 closed

[2022-05-21 20:17] #14664 closed

[2022-05-21 20:18] #5463 closed

[2022-05-23 08:53] ankush commented on #16957
I've scanned most form/list/report views and the most obvious violator was `text-light`.
Should get fixed after #16947

If there are any more specific instances please report and we can look into it.

[2022-05-23 09:24] BaaridunNasr commented on #15137
@codezart Did you find a solution to this?

Facing a similar issue with this error
![image](https://user-images.githubusercontent.com/12585952/169787865-57e696e4-4e75-4f0e-9fd8-4edbc8aa7c5e.png)

I cant seem to find anyone talking about form tours, nor is there any implementation withing erpnext / frappe that I could find to use as example.

I wonder if Form Tours are v14 specific features. If the

[2022-05-23 09:40] BaaridunNasr commented on #15137
Paging @shariquerik as well 😅

[2022-05-23 15:36] FHenry opened #16963 "Email Form: When User have only email account it should be selected by defaut on new email form"
If user have only one output email link with his user, it should be preselected by default (Less click => User happiness is going up)

Actual UX

https://user-images.githubusercontent.com/1050053/169855586-d8173317-0f06-4c5f-a7e1-036839f0438a.mp4

)

Expected UX

https://user-images.githubusercontent.com/1050053/169855740-73a47099-b149-4dee-9f81-e53fd917dbfd.mp4

[2022-05-24 02:44] #16963 closed, assigned to nobody

[2022-05-24 06:47] ankush opened #16969 "Drop activity log and activity page"
This provided "timeline" of activity that happened, but only on doctypes that configured them. It's often too noisy and not everyone needs to know everything.

Workspaces/Dashboard are better alternative for this. So this can be safely dropped.

[2022-05-24 07:29] ankush opened #16971 "Log settings - data not deleted on sites with large # of old logs"
Log Settings
![image](https://user-images.githubusercontent.com/1822868/169973080-1ad8003f-84a0-4c9e-9010-b9265d5c8e3b.png)

Email Queue, records from eleven months ago
![image](https://user-images.githubusercontent.com/1822868/169973225-60dc5cce-2006-4d22-b6cc-7fbac34447b2.png)

_Originally posted by @muchai in https://github.com/frappe/frappe/issues/16118#issuecomment-1135507864_

---

Email que

[2022-05-24 07:35] muchai commented on #16971
In reply to: Can you check "scheduled job log" for job type "log_settings.run_log_clean_up` ?

![image](https://user-images.githubusercontent.com/1822868/169975157-df03ddda-7096-45bd-8d24-2b8e8605358e.png)

[2022-05-24 08:13] MahmoudRizk opened #16972 "Fetch from feature for dynamic links"
Fetch from is not working for dynamic fields type, I made a quick inspection & I think it will work if added "Dynamic Link" in the list of fields type mentioned below in the code snippet.

I made a quick test and it worked for me, but I think it is not added for a reason, why is that ?

https://github.com/frappe/frappe/blob/9e90ba06e78bbcdab2f2cdcbb6c272bd4d3f98cf/frappe/public/js/frappe/form/scri

[2022-05-24 09:19] ankush commented on #16971
@muchai as mentioned on this comment: https://github.com/frappe/frappe/pull/16118#issuecomment-1135532383

on v13 it's only supposed to clear 0 priority items from queue but this issue exist on v14 too. (just checked on few old sites)

Basically, the background job starts, attempts to delete huge amount of data, times out in 300 seconds and doesn't do anything. This goes on everyday.

[2022-05-24 09:33] muchai commented on #16971
Any harm in deleting non 0 priority items? Just wondering.

The problem is really the huge amount of space consumed by the email queue data.

[2022-05-24 09:46] ankush commented on #16971
Not really, it's technically a "breaking change" as the behaviour was to only delete items that are priority=0, so pushing this in v13 might upset some users / break some workflows.

TBH I don't know any valid use of old email queues.

[2022-05-24 09:52] ankush commented on #16971
@muchai you're free to delete items from your site with two SQL queries ;)

[code]

[2022-05-24 10:06] muchai commented on #16971
Especially old email queues, from workflows. Those are the most in our case.

[2022-05-24 10:08] muchai commented on #16971
Sure, thank you. Been using this approach. We've recently moved most of our sites/customers to FC though (could move most critical to private bench, for now they're on public bench on FC). So will wait till it's fixed for now. Hopefully v14 is around the corner :)

[2022-05-24 11:08] fkalpana opened #18628 "Replying / forwarding emails in communications empty"
### Information about bug

When the user tries to reply to or forward emails from the communication area, the message area is always empty, i.e does not populate with the previous email the user forwarding.

We have tested this with several installations, and it shows the same result.

### Module

other

### Version

Frappe Framework: v13.15.0 (version-13)
CORE module

### Installation method

man

[2022-05-24 11:10] fkalpana commented on #18628
<img width="1307" alt="Screen Shot 2022-05-24 at 4 37 41 PM" src="https://user-images.githubusercontent.com/69480716/170021521-a731a650-7ebb-4710-82dd-a347c4492525.png">

[2022-05-24 19:21] wenzowski opened #18629 "Rendering error causing "shaking" that breaks dashboard for all modules"
### Information about bug

Intermittent rendering error on all module pages prevents use of ERPNext. With each keyframe the macOS vertical and horizontal scroll bars are alternately shown and hidden, reflowing height and width of all dashboard pages, presenting as a rapid "shaking" effect (video).

https://user-images.githubusercontent.com/597920/170115038-df4c2d4d-47a0-4b58-bdf7-bef1111109e0.mov

[2022-05-24 23:21] skjbulcher opened #16984 "PDFs do not show "Check" fields"
## Description of the issue

When viewing the PDF version of a Document (the one that gets attached in emails), if the document has a checkmark field on it, the field name will display on both the print view and the PDF. However, the value of the field only displays in the print view, suggesting the field contains the opposite value (i.e. "False" instead of "True")

Here is an example:

After hitt

[2022-05-25 03:10] ankush commented on #18629
This is probably happening at very specific width? Can you share resolution of window when this happens?

I haven't seen this before. 🤨

[2022-05-25 04:08] #16957 closed

[2022-05-25 11:14] ChillarAnand opened #16994 "Add option for multiple accounts in RazorPay Settings"
Currently, [Braintree integration](https://github.com/frappe/frappe/pull/4971) has support for multiple accounts. Similarly, we need to have multiple accounts support for RazorPay as well.

This will help where customers have subsidiaries and use one account per company.

cc: @akurungadam

[2022-05-25 12:07] iamejaaz opened #16995 "Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'transactions')"
## Description of the issue
The error appears in the console when the user does not have access to Dashboard and a doctype is linked with another doc type.
![image](https://user-images.githubusercontent.com/67804911/170256144-3e60f94b-5a17-4987-8bc0-2359755cdc32.png)
![image](https://user-images.githubusercontent.com/67804911/170256287-64c038d6-1c84-4459-a19f-6d9fb5391937.png)

### After giving pe

[2022-05-25 12:39] shariquerik commented on #16717
Closing as it is already fixed

[2022-05-25 12:39] #16717 closed, assigned to shariquerik

[2022-05-25 12:42] #14421 closed, assigned to shariquerik

[2022-05-25 12:45] shariquerik commented on #13072
@Olawale1 Closing, feel free to reopen if you are facing issue in v13

[2022-05-25 12:45] #13072 closed, assigned to shariquerik

[2022-05-25 12:50] vishwajeet commented on #12220
Are there any plans to address this issue, I see ability to not fetch child docs as major drawback for any serious application development.

[2022-05-25 13:49] shariquerik commented on #12169
Working in v12
<img width="591" alt="image" src="https://user-images.githubusercontent.com/30859809/170271543-520cb226-4346-486d-8c8b-6b0dd382334a.png">

[2022-05-25 14:01] robinrosenstock commented on #12169
@shariquerik thanks for checking this issue!
Was it fixed in the latest minor versions of V12? I've upgraded to V13 some time (can't test V12 anymore) and I still have this Problem. I've patched this in V13 for myself, so that it always copy the contents over (there is some variable check).
Have you clicked on Reply, Reply All or Forward to test it? Sometimes it works and sometimes it doesn't and

[2022-05-25 15:21] shariquerik commented on #16160
@umairsy Closing, as I am not able to replicate the issue. Reopen if you are still facing the issue

[2022-05-25 15:21] #16160 closed, assigned to shariquerik

[2022-05-26 01:42] ossplus commented on #12169
current erpnext v13 still has this issue.
reply and forward don't work.

[2022-05-26 07:41] Craftint opened #16997 "Tab break in version 13"
Could you please backport tab break field type in version 13.
It will be really helpful to all the existing customers as we can avoid scrolling.

[2022-05-26 07:48] surajshetty3416 commented on #16997
@Craftint We are not planning to backport tab break to V13 since it will most probably disturb the stability of the form layout in v13.

[2022-05-26 07:48] #16997 closed, assigned to nobody

[2022-05-26 10:21] ankush commented on #14656
<img width="685" alt="Screenshot 2022-05-26 at 3 51 12 PM" src="https://user-images.githubusercontent.com/9079960/170469279-5414eb9b-1a5d-493e-bedb-f56ce87ffd25.png">

You can use numbers in between too?

[2022-05-26 10:21] #14656 closed

[2022-05-26 10:30] ankush commented on #16998
https://github.com/frappe/erpnext/pull/31141

This should reduce the pain a bit for custom naming series😬

Validations: will have to think of adding a parser and validator in framework.

[2022-05-26 10:34] ankush commented on #17010
<img width="685" alt="Screenshot 2022-05-26 at 4 04 16 PM" src="https://user-images.githubusercontent.com/9079960/170471287-aac1ed92-a2c0-40f1-a6ca-3cd16500ea73.png">

Works after adding a user translation, so it's probably just because translation for this text doesn't exist?

[2022-05-26 12:38] ankush opened #17000 ""expand all" not working on treeviews"
Doens't work on warehouse, just removes full tree.
<img width="1373" alt="Screenshot 2022-05-26 at 6 07 52 PM" src="https://user-images.githubusercontent.com/9079960/170489271-6c0400fc-2872-44b7-a58b-3fd9d2a11f1e.png">

Doesn't work on the account tree too

<img width="1373" alt="Screenshot 2022-05-26 at 6 07 44 PM" src="https://user-images.githubusercontent.com/9079960/170489256-ecf9cb9d-d38f-421

[2022-05-26 13:37] muchai opened #17311 "'NoneType' object has no attribute 'encode'"
### Information about bug

On opening address or contact, which extends to opening a customer or supplier

Could be a data issue, other sites working well, despite being on same app versions.

Not sure if it's related to this pr: https://github.com/frappe/frappe/pull/16863

### Module

accounts, buying, selling, CRM

### Version

"erpnext": "13.30.0",
"frappe": "13.29.2"

### Installation method

[2022-05-26 14:10] ankush opened #17001 "Performance improvements - response times while browsing desk"
While working on https://github.com/frappe/frappe/pull/16950 I identified few more scope of improvements for performance:

1. Meta form loads are computed for each requests though they change very very infrequently, IMO whole thing should be kept in the worker's memory (like `frappe.controllers`) This will require very good cache validation AND/OR cache with TTL of ~10 minutes is also a decent opt

[2022-05-26 17:38] Rgottsch1 commented on #18629
I am experiencing the same thing.  I am using full-width. I've tried and duplicated the problem in various browsers- Chrome, Chromium, Brave - same results. Happens after changing screens back to home screen or module home screen.  Seems to be when have two charts at the home screen showing.  See attached example

https://user-images.githubusercontent.com/29579531/170544395-87fc8238-0f2d-4ef3-ba5c

[2022-05-26 19:31] skjbulcher commented on #16984
I've determined that wkhtmltopdf does handle SVGs just fine - the issue comes from using the CSS variable (`var(--icon-stroke)`). The issue went away when I swapped it out for a color, e.g. "black". Is there a pythonic way to obtain the color information from the CSS variable to use here, or does it need to be hard-coded?

[2022-05-27 07:18] Craftint opened #17002 "Column and row mismatch in PDF of Accounts Receivable report with Show Future Payments"
**Description of the issue**

When taking accounts receivable report of a customer with show future payments as checked, the table on top in pdf is showing misaligned as the columns starts from 'Outstanding amount' but the corresponding value is of 'Age'. All columns and rows are like this.

 **Context information (for bug reports)**

ERPNext: v13.31.0 (HEAD)
Frappe Framework: v13.30.0 (HEAD)

**S

[2022-05-27 07:19] Craftint commented on #17002
As shown in the above example, outstanding amount is shown as 387 is the pdf, which is actually age. Likewise all values are shifted

[2022-05-27 10:17] elwoodoo commented on #17394
How can such an issue become closed due to inactivity?
This is still open, a valid request and unanswered yet.

Maybe issues should only be allowed to become inactive after a developer had at least a serious look into this?

Really, this is very un-intuitive: I've just spent a good hour to realize that the filter "All territories" does NOT mean "ANY territories". What would be the best fix?

[2022-05-27 15:04] wojosc commented on #17010
Hi @ankush thank you for pointing that out with the button. That is not though, what I had in mind with this issue.

As seen in this picture the doctypes which we can select are shown in the translated language but are not searchable in that language. The search only works in english:
![image](https://user-images.githubusercontent.com/22279621/170726445-e21e0423-91f1-493d-ac3e-5d1d6e9b7c60.png)

P

[2022-05-27 15:38] barredterra commented on #17010
I can confirm: normal link fields to DocType are translated and can be searched in the user's language. However, this dialog uses a special query that does not support translated search:

https://github.com/frappe/frappe/blob/8f245be46025360a19f952b22119220ab0321075/frappe/core/doctype/communication/communication.js#L110

https://github.com/frappe/frappe/blob/8f245be46025360a19f952b22119220ab03210

[2022-05-27 16:52] CleoMenezesJr opened #17011 "Caption on ascending/descending button not translatable"
## Description of the issue
When hovering the pointer on the ascending/descending button, the legend that appears is not translatable, even with fixtures.

![image](https://user-images.githubusercontent.com/54215258/170743743-b30d0458-f8fb-4648-9fdd-6cd2d5897627.png)

[2022-05-27 17:25] ankush commented on #17011
just wrap these in translate function call:

https://github.com/frappe/frappe/blob/541db956a6e46f82a7136d9c7d981e9e766a30fb/frappe/public/js/frappe/ui/sort_selector.html#L5

ref: https://frappeframework.com/docs/v13/user/en/translations

[2022-05-27 17:36] CleoMenezesJr commented on #17011
I mean, this is a system button, it should be translatable by automatic translation like the other buttons without the need for third party intervention.

[2022-05-28 07:37] phot0n opened #17014 "refactor Log Settings doctype"
Currently it's a ~3~ 4 field doctype in which users can put the no of days after which the logs need to be cleaned up. But there are a lot more log doctypes other than these 3.

![Screenshot 2022-05-28 at 1 02 10 PM](https://user-images.githubusercontent.com/32034600/170815574-e7f1bf10-c462-4976-a199-a2fb84cbc961.png)

#

Proposal:
use a child table (with 4 field row {?}: name of doctype, no of da

[2022-05-28 12:39] adityahase commented on #16713
@phot0n @ankush This is broken on the version-14-beta branch. Works on develop.

[2022-05-29 10:19] bnofao opened #17015 "Missing country "Côte d'Ivoire""
Hi! It my first use of Frappe. I'm from [Côte d'Ivoire](https://fr.wikipedia.org/wiki/C%C3%B4te_d%27Ivoire). I d'ont show this country in countries list.
Please, can you show how to add it?

[2022-05-29 10:31] bnofao commented on #17015
It Ivory Cost!

[2022-05-29 10:31] #17015 closed, assigned to nobody

[2022-05-30 05:22] tjomtek opened #17181 "pull_from_email_account"
### Information about bug

Error after upgrade.Using dedicated domain and not gmail.

### Module

other

### Version

ERPNext: v13.30.0 (version-13)

Frappe Framework: v13.29.2 (version-13)

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-05-30 06:49] #17000 closed, assigned to nobody

[2022-05-30 07:05] Craftint commented on #17002
Can anyone have a look into this

[2022-05-30 08:53] Tom-Finke opened #17017 "DocShare Page not found"
## Description of the issue
When i share any Document with a user that doesn't have access to the corresponding doctype, I get a "Page <Doctype Name> not Found" Error.
After I try it a couple of times, bench seems to crash, becose the site goes down. Restarting the Bench and clearing the cache doesn't fix it.
Some Combination of server restart, bench build and bench restart gets my site back onlin

[2022-05-30 10:25] Tom-Finke opened #17019 "Remove Share doesn't disappear"
## Description of the issue
When the read Permission of a Share is removed by de-selecting the checkbox, then the corresponding DocShare is removed in the Backend, but the checkbox is automatically re-selected in the frontend. After a refresh, the share

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Open an arbitrary Document
2.

[2022-05-30 10:38] sameer-mahendru commented on #17311
Any update on this issue?

I am presently unable to open Customer masters due to this error.

[2022-05-30 13:40] FHenry opened #17025 "Print format "Align values on" need to be context translated"
In french "Left" in the direction/align context have to be translated => "Gauche"
In french "Right" in the direction/align context have to be translated => "Droite"

The word Left as a verb in english can be "to left" (like in "to leave a place") can be translated as french verb "Partir"
The world Right as a noun in english can be "the right given by the law" can be translated in french by "Le dro

[2022-05-30 14:24] ankush commented on #4848
This will become irrelevant once we start using autocomplete field: https://github.com/frappe/frappe/pull/17027

[2022-05-30 14:25] ankush commented on #14750
This can be done by just adding a custom field called "naming_series" on project doctype.. did any of you try that?

[2022-05-30 14:26] ankush commented on #14750
Also this is solved a long time back: https://github.com/frappe/erpnext/pull/23210

[2022-05-30 14:26] #14750 closed

[2022-05-30 14:29] ankush commented on #10004
Removed naming series from access logs. Doesn't make sense to make logging sequential 😆

https://github.com/frappe/frappe/pull/16823

[2022-05-30 14:29] #10004 closed, assigned to gavindsouza

[2022-05-30 14:30] ankush commented on #5788
This was a long time ago by @netchampfaris

[2022-05-30 14:30] ankush commented on #14671
Duplicate of https://github.com/frappe/frappe/issues/4848 (which is being worked upon right now)

[2022-05-30 14:30] #14671 closed

[2022-05-30 14:35] ankush commented on #17025
@FHenry btw if you're going to send PR for any issue immediately you don't **need** to create an issue for that instead just add it as part of PR description. :)

Issue is for:
- you want to report something you aren't gonna fix or are unable to fix
- something you might wanna fix at a later date.

[2022-05-30 16:33] FHenry commented on #17025
@ankush Ok, I'll do that. On other open  source project, I have to create issues to "promote" the linked PR. As in frappe it's more direct, I'm happy with that. And by the way, thank you for looking after my PR (when they are relevant) 😀

[2022-05-30 17:18] muchai commented on #17311
Interesting. I somewhat know it's somewhat a data issue, since other sites are Ok. But with this similar issue, I wonder if it's a erpnext issue too.

[2022-05-30 17:19] muchai opened #17030 "'NoneType' object has no attribute 'encode'"
On opening address or contact, which extends to opening a customer or supplier

https://github.com/frappe/frappe/issues/17311

[2022-05-30 17:53] sameer-mahendru commented on #17311
I recently upgraded from V12 to V13 and was receiving this error but was still able to proceed with opening the doctype. Now I updated to the latest frappe and ERPNext versions and I am unable able to open a customer master. Do you have any workarounds? Do you know how we can escalate this issue, as work is stuck at the moment?

[2022-05-30 18:22] muchai commented on #17311
It's related to the pr mentioned: https://github.com/frappe/frappe/pull/16863, which is from the latest release.

As for why it's affecting some sites, and not others, not sure yet.

[2022-05-31 08:45] #17025 closed, assigned to nobody

[2022-05-31 08:51] #17019 closed, assigned to nobody

[2022-05-31 09:00] ankush opened #17034 "[query builder] Table.insert unpatched"
![telegram-cloud-photo-size-5-6102648323296046978-y](https://user-images.githubusercontent.com/9079960/171135514-aafebdab-1b18-4a2c-8906-1c2b299c0059.jpg)

Directly calling insert on table doesn't work.

Alternative: `frappe.qb.into(Table).insert`

[2022-05-31 09:01] sameer-mahendru commented on #17311
UPDATE

On my site, a user with limited role and user permissions is able to open an individual customer master, while my user account with full role and user permissions encounters this error.

Not sure of how to make sense of this.

[2022-05-31 10:03] #4848 closed

[2022-05-31 11:42] muchai commented on #17311
@hrwX seems to be related to this pr: https://github.com/frappe/frappe/pull/16863

[2022-06-01 06:59] PGodfroid opened #17047 "Jinja dynamic template in Markdown section of Page Builder"
Hello Frappe,

Currently, when using Jinja in a dynamic template, the web page must be created with the pure Html option.
Using the page builder won't allow the Jinja to work correctly, even when placed in a markdown section.

It is kind of sad to be forced to abandon the page builder of a whole web page because there is one specific section of the webpage where Jinja is needed.

TLDR : Could you

[2022-06-01 07:06] PGodfroid opened #17048 "Website sidebar option is broken"
Hello Frappe,

The website sidebar option available in the website settings in frappe is not working correctly.

Currently, the customized sidebar created by the user is overwritten by a parent sidebar defined in the core code.

The result is a sidebar displaying only "my account" and no other option, regardless of the selected sidebar.
The whole sidebar option is therefore not functional right no

[2022-06-01 10:35] RJPvT opened #17052 "bug: cant send attachment attached to parent"
https://github.com/frappe/frappe/blob/477ae05b3ec1e4228e48b444d69a9018d7195fb5/frappe/core/doctype/communication/email.py#L283

reference:
https://discuss.erpnext.com/t/cannot-send-email-from-document-with-attachment-as-regular-user-not-showing-to-email-queue/74501
https://discuss.erpnext.com/t/email-doesnt-send-with-attachments/48864

because of the use of get_list permissions of File are used an

[2022-06-01 20:56] FHenry commented on #17052
have the same problem, file uploaded by other users that send mail with attachment have an error. I trace it back to the same point, but I decide to change default permissions on Doctype File (not "only of owners"). Not a good fix, I prefers yours.

[2022-06-02 09:19] Tom-Finke opened #17058 "Leave Site Dialog for dirty/unsaved Forms"
**The Problem**
When a user forgets to save a modified document and closes the Tab, then the changes are lost

**The Solution**
Closing a Tab with unsaved changes triggers a warning via the beforeunload event listener.
Ideally this would probably be configurable on a per-user basis or system wide. But I personally think that this should be standard behaviour

[2022-06-03 06:51] joelnv opened #17060 "TypeError: object of type 'NoneType' has no len() (BUG)"
In frappe  version 12 [code line in frappe](https://github.com/frappe/frappe/blob/477ae05b3ec1e4228e48b444d69a9018d7195fb5/frappe/www/list.py#L31) there is no check if there is data in **raw_result** variable in some cases **raw_result = NoneType**

![image](https://user-images.githubusercontent.com/41624046/171802112-2eba11b0-9863-4e2c-8d26-ce6594e51439.png)

Error log:

![image](https://user-ima

[2022-06-04 06:12] Craftint opened #17064 "Mark attendance considers only joining month and date not year."
## Description of the issue
While marking the attendance from the "Mark attendance" button in attendance list, the unmarked dates coming are incorrect.
It compares the joining date of the employee to current month and put the starting date same as joining day if months are same. It is not checking the year of joining.

For example, if the employee has joined 22nd May 2021, if we are trying to mark

[2022-06-04 11:11] saru2020 opened #17065 "after updating to latest develop branch facing error: Invalid field name: is_first_startup"
## Description of the issue
after updating to latest develop branch facing error: Invalid field name: is_first_startup

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. bench update (frappe pointed to develop branch)
2. bench update --patch
3. open desk app (localhost:8000/app) and it throws a error dialog saying: "Invalid field na

[2022-06-04 14:09] dj12djdjs commented on #17065
Can you provide the call stack leading to the error? It should show in the browser console when the dialog shows up.

[2022-06-04 14:12] dj12djdjs commented on #17064
@Craftint You'll want to post the issue over in https://github.com/frappe/erpnext/issues as this is an erpnext related issue.

[2022-06-04 16:35] saru2020 commented on #14815
Google has disabled less secure access now.

how do i configure email account with oauth? any tutorial/references please

[2022-06-04 17:06] stypeim commented on #14815
You need to enable 2-Step-Verification, and set app password:
https://support.google.com/accounts/answer/185833?hl=en

[2022-06-04 19:43] Abhirup-99 commented on #16269
Created [frappe-17067](https://github.com/frappe/frappe/pull/17067), but it was closed as `version-13` is stable. Can you suggest how to update the PR without actually creating a new dev setup with `develop`?

[2022-06-05 13:57] saru2020 commented on #17065
i'm not seeing any logs, i checked all files inside `/logs` and `/sites/mysite/logs`
should i check anywhere else?

[2022-06-05 14:03] saru2020 commented on #17065
i've found that this [commit](https://github.com/frappe/frappe/commit/116fe34e743d31297987b8283beba87568671502) is the cause of the issue by pointing the head of frappe to its previous commit(4be5ca6481529adff57553330bac4b4edaa6f7c7), it works, that's the solution for me for now

[2022-06-05 17:17] phot0n commented on #16676
faced this recently on my local.
a way to do away with this could be to use `boolean` type rather than `int(1)` 🤔

Some basic experiments using boolean type:

![Screenshot 2022-06-05 at 10 50 16 PM](https://user-images.githubusercontent.com/32034600/172062439-513fd4ca-50eb-44e0-9155-50bcf67abb5b.png)

we'd just have to wrap the value in quotes (if we send an int)

[2022-06-05 17:36] ankush commented on #16850
https://github.com/frappe/frappe/pull/17072 this should fix it + whole lot more usability issues :p

[2022-06-05 17:37] ankush commented on #16492
https://github.com/frappe/frappe/pull/17072 this should fix it

[2022-06-06 01:05] chronicom commented on #16850
In this case, does the "save filter" function saves the URL?

[2022-06-06 06:15] Craftint commented on #17064
https://github.com/frappe/hrms/issues/72

[2022-06-06 12:54] vic-t commented on #17394
@ankush As discussed over in the forum, please reopen this report, even if there is no plan to work on it anytime soon. Thx.

[2022-06-06 15:21] #17064 closed, assigned to nobody

[2022-06-06 17:53] ankush commented on #16971
I think we will just have to disable auto-deletion on very large tables and write a util to manually clean up old data

Tested this suggestion by mariadb https://mariadb.com/kb/en/big-deletes/#deleting-more-than-half-a-table

Works perfectly and in reasonable time (even over YUGE databases)

[code]

[2022-06-06 19:36] mmdanny89 opened #17085 "Infinite Loop"
## Description of the issue
When Period is Yearly and Date Range is Last Year in Graphic Bar on Dashboard of any module. The system enter an infinite loop.
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. In Workspace of Any module: create a new Dashboard Graphic Bar for any doctype with Period is Yearly and Date Range is Last Year

[2022-06-06 20:32] mmdanny89 commented on #17085
i added apps/frappe/frappe/utils/dateutils.py after line 92
elif "Yearly" == timegrain:
	years = 1
this fixed the problem.

[2022-06-06 23:58] this-gavagai commented on #17065
I was having this issue too after the latest update (14-beta.4), but it went away after I reloaded supervisor.

In my case at least, the issue seems to have been cache Python objects.

[2022-06-07 00:05] this-gavagai commented on #17048
Hello,

I believe this is the same issue reported here:
#16818

[2022-06-07 04:17] this-gavagai commented on #17085
I can verify both the bug and the fix. @mmdanny89 do you want to make a PR?

[2022-06-07 05:58] Aimanyounas commented on #15090
@navdeepghai1 were you able to resolve this issue?

[2022-06-07 06:33] this-gavagai commented on #17060
Can you add a bit of context describing how you ended up with this error? Just glancing at the code, I don't really understand how `get_list_data` would return None.

[2022-06-07 06:48] #12830 closed, assigned to prssanna

[2022-06-07 06:53] maharshivpatel commented on #16889
@ankush if I extend scroll_to_field I would have to make input ( fieldname ) to an array instead of string ( breaking changes ) else we would lose ability to have form/dialog level highlights for multiple fields at once like shown below

![multi-field-highlights](https://user-images.githubusercontent.com/39730881/172313325-15e195cf-a3d9-48a3-b666-bcba7a92df49.png)

we can check if it's a string or

[2022-06-07 07:15] PGodfroid commented on #17048
Hello this gavagai, you are right.
I didn't found this thread before. Could someone with more rights merge them ?

Btw, it seems we found two different explanations of the cause of the issue.
We will really need somebody else to check which one is right and how to fix it properly.

[2022-06-07 07:23] this-gavagai commented on #17047
Can you clarify a bit what you're trying to do? You can use jinja in Web Templates, which are the blocks used by the page builder. Are you hoping to be able to use jinja in predefined blocks, like in the markdown fields that appear in the modal window when you click "Edit Values"?

[2022-06-07 07:39] this-gavagai commented on #17017
I am not able to reproduce this. The fact that it happens only some of the time suggests a caching problem. If you run the "reload" command from the user account menu in the upper right corner, does the problem go away?

[2022-06-07 07:44] PGodfroid commented on #17047
Hello this-gavagal. Exactly, I am trying to use Jinja directly in a markdown section of a page builder.
I already used successfully some web Templates with Jinja inside a web builder, but it feel really awkward to be forced to create a web template with only html and Jinja and no specific fields when there is already an HTML editor inside the page builder with the Markdown section.
Especially when

[2022-06-07 08:37] this-gavagai commented on #16984
The behavior is even weirder on v14. Using the old print format builder, the tickmark appears. With the new (beta) print format builder, however, it doesn't.

[2022-06-07 09:29] this-gavagai commented on #17047
Hmm...I have mixed feelings about this. I don't love the idea of running the same bit of text through a jinja parser and then through a markdown parser (or vice versa). I can definitely see the appeal, though.

[2022-06-07 09:32] PGodfroid commented on #17047
I won't mind using only web templates if I have no choice. It is always better than a pure HTML webpage.
However, the fact that context variables don't work when inside a web template is the real fact that prevent me from using page builders on many of my webpages.

[2022-06-07 09:35] Ponyooooo commented on #16681
Hi @ankush where can I find the site settings? We are using frappe cloud, can we configure it there?

[2022-06-07 09:41] ankush commented on #16681
![image](https://user-images.githubusercontent.com/9079960/172349406-4c134915-2671-4c7a-b1e7-d10a1b39263d.png)

System settings or site_config (Frappe cloud allows you to update site config from dashboard too.

[2022-06-07 09:45] Ponyooooo commented on #16681
Thank you @ankush I saw it. Thank you :)

[2022-06-07 11:59] maharshivpatel opened #17094 "Print & Breadcrumbs Error when forward slash in Docname"
## Description of the issue
When there is a forward slash in docname for example [ **TEST `/` 0001** ] breadcrumbs will only show before forward slash [ TEST ] and when you try to go back by clicking on breadcrumb it will give the wrong URL.

![breadcrumbs](https://user-images.githubusercontent.com/39730881/172373705-dc3b9f59-56d3-45a1-b82f-01641cfd78e4.png)

when you try to refresh the print prev

[2022-06-07 15:01] deepeshgarg007 opened #17098 "Roles getting assigned automatically"
#### Steps to replicate

Step 1: Add a system user and assign some roles to the user

Step 2: Make one more system user and save, the roles assigned to the previously created user will get auto-assigned to this user as well

Check below gif
![User Bug](https://user-images.githubusercontent.com/42651287/172413745-cc8a15c3-dca9-4571-8dda-7753b175f555.gif)

[2022-06-07 15:23] this-gavagai commented on #16905
What is the `header` property you've included? That's not part of sendmail documentation ([here](https://frappeframework.com/docs/v13/user/en/api/utils#frappesendmail)), and the method works fine if I remove that.

[2022-06-07 15:36] PGodfroid opened #17099 "An html code can generate Youtube sound inside the Markdown Editor."
## Description of the issue

Clicking on html code in a markdown section (of a page builder) can generate the sound of the youtube video targeted in the html without hitting preview or anything, just by clicking in the Html field (with autoplay set on 1)

## Context information (for bug reports)

## Steps to reproduce the issue

1.Create a webpage
2.Create a markdown section
3.Paste the html given

[2022-06-07 16:31] Komal-Saraf0609 opened #17100 "Issues with keyboard navigation in report view"
Issue 1:
Clicking on some cell, pressing enter and then clicking on cancel button hides the data.

Steps to reproduce:
1. Go to report todos.
2. Go to any description in the report.
3. Press enter. A dialog box will appear.
4. Click on the cancel button. The data which was previously visible in the cell will vanish.

Refer the below recording:
https://user-images.githubusercontent.com/81952590/172

[2022-06-07 17:03] abdouz commented on #7235
Hello people,

Any updates about this bug!!!??
@rmehta this is definitely a CORE bug!, all filters are not working as intended in ERPNext, would appreciate if you can figure out a solution for such issue.

[2022-06-07 18:17] git-avc commented on #16783
Hi:

This still happens in v14.0.0-beta.4 .
Seems a breaking bug ... i've tested on 3 different environments ...

![image](https://user-images.githubusercontent.com/94137451/172454127-b08b23f2-e8eb-48de-8572-c42d81c5f3ee.png)

[2022-06-08 04:06] surajshetty3416 commented on #17098
There are 2 issues here...
That "Notification Settings" error while creating the User is caused by [this change](https://github.com/frappe/frappe/pull/17024). @gavindsouza can you take a look?

[2022-06-08 04:25] surajshetty3416 commented on #17098
nvm fixed with https://github.com/frappe/frappe/pull/17104/commits/fca0853ebd4827b4bb6d462fe2229ea0f277e61a

[2022-06-08 04:48] phot0n commented on #17098
had fixed in my pr 🐒 https://github.com/frappe/frappe/pull/16935/commits/c91af117596086fc98f9280c18d0d4dadf5be3af 🙈

now that i think about it, get_doc usage might be intentional in that place 🤔  - for clearing the cache

[2022-06-08 04:58] #17098 closed, assigned to nobody

[2022-06-08 05:41] ankush commented on #16783
@nikkothari22 sure go ahead with PR

[2022-06-08 06:39] #17085 closed, assigned to nobody

[2022-06-08 06:58] gavindsouza commented on #14336
The hash has existed from long before that. Are you sure about this? If two files are identical - have the same content hash, Frappe doesn't save the newer one, the new File record is just linked to the pre-existing file. This is regarding the file path in the file system. Based on the steps you've mentioned, this is the expected behaviour for uploading the same file again.

As for the files being

[2022-06-08 06:58] #14336 closed, assigned to nobody

[2022-06-08 07:45] #13624 closed, assigned to nobody

[2022-06-08 08:11] hizbul25 commented on #16905
It works after i added `frappe.db.commit()`

[2022-06-08 08:29] #17094 closed, assigned to nobody

[2022-06-08 09:12] #17058 closed, assigned to nobody

[2022-06-08 10:14] Tom-Finke opened #17114 "feat: Fetch From with Condition"
**Is your feature request related to a problem? Please describe.**

I have a main Doctype from one App. Lets say this Doctype is "Lifeform"
Then I have 2 other Apps, which both add a Doctype Lets call them "Plant" and "Animal"
Now, the Lifeform Doctype as a Dynamic Link, that makes documents (instances) of "Plant" and "Animal" (depending on which DocType is selected in the Dynamic Link) available

[2022-06-08 14:13] muchai commented on #17311
Hi frappe, mind reversing this, in one site, creation, or opening of customers and suppliers is not possible at all. One can import the same though.

[2022-06-09 02:50] this-gavagai commented on #17099
I'm not sure I agree that this is a bug. The markdown editor's preview is updated in realtime, and if your content includes an auto-playing video the preview will include that too.

A case might be made for a manually updated preview mode (triggered, for example, when clicking the preview button), but that seems less versatile.

[2022-06-09 03:22] this-gavagai commented on #17030
I'm posting my reply over here, as the underlying issue does not appear to be related to ERPNext.

I am very skeptical that the problem is related to https://github.com/frappe/frappe/pull/16863

There is some sort of permissions problem, whereby users under certain circumstances have permissions with a different structure than expected. The issue is this method:

https://github.com/frappe/frappe/b

[2022-06-09 03:22] this-gavagai commented on #17311
This is likely a frappe issue, so I've replied over there:
https://github.com/frappe/frappe/issues/17030

[2022-06-09 03:39] this-gavagai commented on #17047
I think the reality is that these two ideas-- python context and the page builder -- are two very different systems designed with two very different audiences in mind.

Sharing context between a page and a web template would get very messy, and I'd argue the "correct" approach is semantic. Rather than trying to pass the raw context to web templates, define semantic parameters for them and then let

[2022-06-09 04:25] fkalpana commented on #18543
This issue is still not resolved.

[2022-06-09 09:03] #17100 closed, assigned to shariquerik

[2022-06-09 09:25] s-aga-r commented on #14383
This is not a bug, you need to uncheck/disable **Convert Item Description to Clean HTML in the Transactions** checkbox available in the section **Stock Transactions Settings** in **Stock Settings** DocType.

https://user-images.githubusercontent.com/63660334/172813801-c697fa26-5d08-40df-bf64-24a22e6f86b3.mov

[2022-06-09 09:25] #14383 closed, assigned to shariquerik

[2022-06-09 19:18] skjbulcher commented on #16522
This isn't limited to Office 365. I believe the image you gave was a "human-friendly" error message generated by Office 365. In my case, I also see the error code: 550 5.1.1:

---

![image](https://user-images.githubusercontent.com/16672299/172925215-242e9b9c-9a5e-4b1d-aa2c-2fe19a219b62.png)

---

In other words, ERPNext is generating email addresses that (at least) some email providers are not de

[2022-06-09 20:19] skjbulcher commented on #16522
Can anyone tell me if my picture of this is complete? I think I might try to tackle this. It looks like there are two aspects to this - link generation and link parsing.

frappe/frappe/desk/form/load.py:363

[code]

frappe/frappe/core/doctype/communication/communication.py:485

[code]

From this it looks like there are three components to an address: [email]+[doctype]+[docname]@domain.com. The fir

[2022-06-10 06:49] PGodfroid commented on #17047
I think both audiences must have the capacity to work together.. In my case for example, I intend to design a webpage with various dynamic templates used to let a marketing specialists fill some information whenever they wants. In the same page, a specific section is dedicated to displaying future events and thus request contexts parameters.

Right now, it is impossible to do so. It can be either

[2022-06-10 12:14] amecreate commented on #18628
Can confirm this issue is still present in v13. There is a discussion thread from 2020 on this issue [link](https://discuss.erpnext.com/t/issue-with-reply-and-forward-emails-from-communication-option/60507/8).

[2022-06-10 13:09] ankush opened #17140 "Communication import fails during migrate"
ref: https://github.com/frappe/erpnext/runs/6831163932?check_suite_focus=true

[code]

[2022-06-10 13:52] ankush commented on #16645
@chechani I may have uncovered root cause of this, can you go to customize form and see share screenshot of first 5-10 fields on the doctype?

I think if a field is present before the first tab then the entire first section is getting rendered as empty.

In my case I had some hidden field before first tab that I had added while messing around with doctype so nothing was shown 😄

[2022-06-10 14:00] rmehta commented on #16645
check this: https://github.com/frappe/frappe/pull/17135/files

[2022-06-10 14:03] vishw-a opened #17142 "Frappe backups not working"
## Description of the issue
Backups for S3 or dropbox or google drive in ErpNext are failing with same error.

## Context information (for bug reports)
S3 integration or dropbox integration

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.Go to integrations in erpnext page
2.Choose dropbox or s3
3.Setup the access keys and secret keys and hit take backup now.

### Observed

[2022-06-10 14:03] chechani commented on #16645
It has been solved as suggested by Mr.Mehta on item doc type and I reported there. We have not put any field before first Tab. We will apply other suggestions by Mr. Mehta and update here

[2022-06-10 14:03] ankush opened #17143 "UX: tabs not keyboard friendly"
- Tabbing next should move to field in next tab
- Shift-tab should do reverse action

This seems to be implemented but doesn't work in all cases (tested on Item doctype in erpnext)

[2022-06-10 14:05] ankush commented on #16645
@rmehta I tried after merging both changes I still see empty form if I have a field before first tab.

Maybe it's a different problem then.

<img width="1421" alt="Screenshot 2022-06-10 at 7 37 16 PM" src="https://user-images.githubusercontent.com/9079960/173083634-09b99723-df86-4633-b796-2ab5a2cde84f.png">

[2022-06-10 14:07] vishw-a opened #17193 "Backup integrations for S3 or dropbox or google are not working."
### Information about bug

Oops, your automated backup to Amazon S3 failed.

Error message: Traceback (most recent call last): File "/home/frappe/frappe-bench/apps/frappe/frappe/integrations/doctype/s3_backup_settings/s3_backup_settings.py", line 80, in take_backups_s3 validate_file_size() File "/home/frappe/frappe-bench/apps/frappe/frappe/integrations/offsite_backup_utils.py", line 103, in valida

[2022-06-10 14:22] saru2020 commented on #17065
i tried restarting the supervisor and also the machine but was still facing the same issue

[this](https://github.com/frappe/frappe/issues/17065#issuecomment-1146810789) is the only solution that works for me

[2022-06-10 14:34] ankush commented on #16645
Closing since issue mentioned by @chechani got fixed already

The problem I was facing will get fixed by https://github.com/frappe/frappe/pull/17144

[2022-06-10 14:34] #16645 closed, assigned to ankush

[2022-06-10 19:37] petnd commented on #12061
This bug is still (or again) in v14 beta...
![image](https://user-images.githubusercontent.com/58605206/173137804-3ed2a80b-3413-49c0-8813-bce3a1a123f1.png)

[2022-06-11 01:06] this-gavagai commented on #17047
Can you be more specific about what you're wanting to do that you can't? What data are you currently fetching from context that you wouldn't be able to fetch in a web template?

[2022-06-11 01:16] this-gavagai commented on #17065
You should get a stacktrace in your browser console. I'd be very curious to see where the call is coming from, since the variable doesn't appear in the develop-branch code. Either your bench has incorrect code or cached code is getting run somehow.

[2022-06-11 01:34] this-gavagai commented on #17142
I am not able to reproduce this with the steps provided. Backup works correctly on both current v13 and current v14-beta for me.

This appears to be a more complicated edge case. For some reason, your system is getting fed `None` as a path. We'd need to do some debugging to figure out what circumstances are leading to that.

[2022-06-11 10:16] PGodfroid commented on #17047
A section which displayed newest newsletter created in the ERP and another one which display latest events in a dynamic horizontal timeline.

Both data about these events are automatically gathered and filtered with two context.get.all(Doctype, "fields=[]") and the result is pretty nice.

Another section of the same page displays numbers and catchprase, which are supposed to be updated manually by

[2022-06-11 11:55] this-gavagai commented on #17047
I certainly understand the value of dynamic data. What I don't understand, however, is why what you are describing should be done via context variables. What is the advantage of making the `get_all` call in the context script rather than making it in the web template directly?

[2022-06-11 12:02] this-gavagai commented on #17047
In very concrete terms: For your page, `Test Jinja News`, why not just add the line

`{% set newsletters = frappe.get_all("Newsletter", "*") %}`

at the very top, right before your `<section>` tag? Your page should work if you do that. What does this approach lack that context variables offer?

[2022-06-11 12:11] phot0n commented on #16396
closing this - the port added was wrong.

[2022-06-11 12:11] #16396 closed, assigned to surajshetty3416

[2022-06-11 19:01] PGodfroid commented on #17047
Just because I didn't know the frappe.get_all function could be used directly in Jinja without using context function. I guess it if is the case I can use the page builder for everything ( but I will have a real bunch of web templates if I must create one for each section ).

Thanks for the various tips. They will prove useful to deal with the problematic.

On 11 Jun 2022 13:55, PeterG ***@***.***

[2022-06-11 21:23] dj12djdjs commented on #16728
I get the same error just running `bench update` on `develop` branch. Anytime I need to merge `develop` into my working branch I have to completely reinstall the site. I've never figured out why this happens.

[2022-06-12 03:55] #15396 closed, assigned to netchampfaris

[2022-06-12 04:20] jhouxzirrus opened #17154 "Default File Uploads to Private"
### Information about bug

This is a bug because it was fixed in June 2017 and then a regression returned the old behavior.
https://github.com/frappe/frappe/pull/3521

File uploads should absolutely NOT default to public. This is unacceptable security practice.

Its possible that the regression may have been impacted by the introduction of another feature which allows setting public/private defaul

[2022-06-13 06:42] vishw-a commented on #17142
@this-gavagai [this-gavagai](https://github.com/this-gavagai) please lmk how to debug this thing, let me know if you want any logs or anything.

[2022-06-13 08:14] ZhenWang-Avant opened #17192 "Feedback for KB articles is broken"
### Information about bug

Clicking `Was this article helpful?` on KB articles does not work and shows error in console

### Module

other

### Version

ERPNext: v13.33.0 (version-13)
Frappe Framework: v13.32.1 (version-13)

### Installation method

docker

### Relevant log output / Stack trace / Full Error Message.

[code]
[code]

[2022-06-13 08:38] ankush opened #17165 "Incorrect ordering of custom fields"
ref: https://github.com/frappe/frappe/pull/11484

[2022-06-13 09:18] megha0071994 opened #17310 "Sendgrid smtp not working"
### Information about bug

I’ve set all smtp settings for sendgrid but it doesn’t work. It is showing error "Invalid outgoing mail server or port", so that system is not saving this account.
But when I’m checking “Awaiting password” this checkbox, It is saving account detail. but account is saving as inactive.
But when I’m checking “Enable Incoming” it is saving as active but I am unable to select

[2022-06-13 11:11] #16269 closed, assigned to nobody

[2022-06-13 12:41] Tom-Finke opened #17169 "Asterisk Wildcard for doctype_js hook"
**Problem**
I want to add JS code that is executed for every doctype form view. I can add it via hooks.py with the doctype_js keyword, but not with a '*' as wildcard, just for single doctypes
`doctype_js = {"My Doctype" : "public/js/custom_js.js"}`
works and applies custom_js.js to the form view of "My Doctype"
`doctype_js = {"*" : "public/js/custom_js.js"}`
Does not work.

**Solution**
Similar to

[2022-06-13 13:12] barredterra opened #17171 "“Print Get PDF” as first line in PDF"
Since #17035 I'm getting the text “Print Get PDF” as the first line in all my PDFs. I think this is not what was intended.

![Bildschirmfoto 2022-06-13 um 15 17 47](https://user-images.githubusercontent.com/14891507/173362801-7e3f3c80-d8ac-48d5-a32c-791a64c4d472.png)

In `printview.html` we can see that this is expected to happen: If `is_invalid_print` is False (the print is valid), it adds “Print

[2022-06-13 15:46] dj12djdjs commented on #17192
This is valid, the whitelisted method references columns that don't exist in `help_article.json`: `helpful`, and `not_helpful`
https://github.com/frappe/frappe/blob/6dfbf7b19ea735d45a61c3e3a3e70be540827b60/frappe/website/doctype/help_article/help_article.py#L112-L119

https://github.com/frappe/frappe/blob/develop/frappe/website/doctype/help_article/help_article.json

[2022-06-13 15:54] surajshetty3416 commented on #17171
@barredterra The issue is replicable for me.

Since, that "Get PDF" is wrapped  in ".print-hide" class, it should not be visible in PDF.
style ref: https://github.com/frappe/frappe/blob/develop/frappe/public/scss/print.bundle.scss#L18

Can you please make sure you have done `bench build`? Or do you have any custom print style that overrides `.print-hide` class?

[2022-06-13 16:10] barredterra commented on #17171
`bench build` solved it, thanks 👍🏼

It didn't occur to me that PDF generation relies on this. Sorry for the false alarm.

[2022-06-13 16:10] #17171 closed, assigned to surajshetty3416

[2022-06-13 23:24] dj12djdjs commented on #17310
This looks related to: https://discuss.erpnext.com/t/sendgrid-smtp-not-working/90898

[2022-06-14 04:35] rmehta commented on #17169
This should be part of the build in your app (?)

[2022-06-14 05:17] ankush commented on #16971
added a patch here: https://github.com/frappe/frappe/pull/17159

Whenever site migrates to v14 old stuck log deletion will be performed in one swoop during mgiration. Couldn't think of any other better way to handle this on v13 gracefully.

[2022-06-14 07:05] megha0071994 commented on #17310
But this also have no solution..

[2022-06-14 07:30] rmehta opened #17173 "Empty state for dashboard charts"
<img width="980" alt="Screenshot 2022-06-14 at 12 59 28 PM" src="https://user-images.githubusercontent.com/140076/173519324-b33dd689-51fb-4dcb-99ca-946c80c794ab.png">

[2022-06-14 08:26] ruchamahabal commented on #16302
Does this issue still persist? Facing this on latest `develop`

<img width="1329" alt="image" src="https://user-images.githubusercontent.com/24353136/173530172-4d28a6cd-7dc6-4543-80e6-f39b8b167fa7.png">

<img width="1329" alt="image" src="https://user-images.githubusercontent.com/24353136/173530357-4d044daf-2fc6-436d-90ec-19e9717b7a80.png">

[2022-06-14 08:33] Tom-Finke commented on #17169
What do you mean part of the build?
My requirement is, that I can have a JS script that applies to the view of every doctype, regardless of what app they come from.

My specific usecase is, I have some logic in the JS file and if the document that is viewed matches certain criteria, then a frappe intro / headline (the colored box at the top of the form) is set. I need this to work not only for Doc

[2022-06-14 08:50] rmehta opened #17175 "[Workspace] Module onboarding shows up twice"
<img width="1028" alt="Screenshot 2022-06-14 at 2 19 27 PM" src="https://user-images.githubusercontent.com/140076/173535862-a52c38c1-f788-40f0-a3fb-b9b01aa28e88.png">

[2022-06-14 08:55] rmehta commented on #17169
if you add it in your JS build, it will be part of the JS package that is served. There is no restriction on what apps / doctype you can apply your JS on. This is un-necessary IMO

[2022-06-14 08:59] Tom-Finke commented on #17169
Could you point me to a resource on how to accomplish this? I am rather new in the frappe world and have a hard time finding detailed documentation for developers on such things.

[2022-06-14 09:30] this-gavagai commented on #17142
If you have a development environment setup, I'd love to what file in your system has file_path equal to None. A few print statements right before the lines listed in the tracebacks should tell what's going on.

[2022-06-14 09:31] this-gavagai commented on #16728
Strangely, for me it was only on the first run. Once I got v14 up and running, all future updates (both on develop and v14-beta) have gone smoothly.

[2022-06-14 09:38] rmmr commented on #16022
I have made a pull request for this exact issue #17130

[2022-06-14 10:27] bykof opened #18630 "pymysql.err.OperationalError: Table 'tabtask' is marked as crashed and should be repaired v13.3.0"
### Information about bug

If I the frappe_docker tutorial ([Link](https://github.com/frappe/frappe_docker/blob/main/docs/single-server-example.md)) and install exactly how it's described in the tutorial I get the error when installing ERPNext in my frappe workbench.

### Module

other

### Version

frappe/erpnext-worker:v13.33.0

### Installation method

docker

### Relevant log output / Stack tr

[2022-06-14 10:48] bykof commented on #18630
Happens in frappe/erpnext-worker:v13.34.0 also

[2022-06-14 12:13] #16302 closed, assigned to gavindsouza

[2022-06-14 13:00] gavindsouza commented on #13811
Thought the `pyproject.toml` file will be a better place to maintain this (through and post #17174) - experimenting with this:

![Screenshot from 2022-06-14 18-27-20](https://user-images.githubusercontent.com/36654812/173582478-78e48728-cb7d-41ec-9daf-7efe03a96b72.png)

Would probably be ready by Bench v5.12.0

[2022-06-14 13:47] Tom-Finke opened #17183 "JS Field Update pass previous Value"
**The Problem.**
I want to write a Javascript Handler attached to the {fieldname} event described in https://frappeframework.com/docs/v13/user/en/api/form#form-events. Now, as the docs state, the handler is triggered, when the value of the field changes. In my handler, I need access to the old and the new value. But the handler function only gets passed (frm, doctype, docname).

**The Solution**
T

[2022-06-14 18:38] Abhirup-99 opened #17185 "Add data tags for sidebar categories and items under each category."
**Is your feature request related to a problem? Please describe.**
Currently targeting CSS for a div in the workspace on the left side is a very tedious task.

**Describe the solution you'd like**
To simplify it, we added data tags for the categories and the items under them.

**Additional context**
This is already implemented in our codebase and can be pushed upstream.
An additional request to ba

[2022-06-14 20:01] etobella commented on #13302
Any news when this will be fixed? Today using develop an error was raised when trying to open the form

[2022-06-14 21:48] jgwinner commented on #14405
What??

Is there any plan to fix this? I didn't know the bench commands to run certbot are deprecated. I searched for issues, I searched the docs, which still say to run the bench commands.

I ran into this issue recently, using the standard bench commands, SSL doesn't renew. The certbot-auto returns a 404, so bench can't install certbot auto anyway. I'm dealing with some servers that already have

[2022-06-15 05:35] nihantra commented on #17310
Kindly information purpose, which email server do you use?

[2022-06-15 07:17] #16971 closed, assigned to ankush

[2022-06-15 07:17] #17014 closed, assigned to nobody

[2022-06-15 07:30] ankush opened #17191 "child table creation fails due to sequence creation query"
[code]

[2022-06-15 07:39] marination commented on #17192
Don't know why but the helpful fields were removed via https://github.com/frappe/frappe/pull/10723/commits/02ddaa5ee7c101fb2ca40d6c0ac5982bcc88a982

[2022-06-15 08:14] ankush commented on #17191
seems to happen due to old mariadb version, idk if we should "fix" it

[2022-06-15 08:19] #17191 closed, assigned to phot0n

[2022-06-15 10:43] #14440 closed, assigned to surajshetty3416

[2022-06-15 10:44] ankush opened #17201 "meta: add test util for verifying all patches/**.py files are part of patches.txt"

[2022-06-15 10:52] ankush opened #17202 "daterange control not updating selection"
happening after https://github.com/frappe/frappe/pull/17179

![telegram-cloud-photo-size-5-6147697182996804377-x](https://user-images.githubusercontent.com/9079960/173810382-b6a3a6d1-e8f1-48d7-9ebd-595c23bc61a4.jpg)

[2022-06-15 12:53] zongo811 commented on #16695
I can confirm this issue and suggest this workaround:
Instead of "Card Break" first create a "Link", which links to any Doctype. I chose "About Us Settings" for no real reason.
Then change type "Link" to "Card Break".
![grafik](https://user-images.githubusercontent.com/77285389/173830515-5e53070b-2dfd-4fc5-8510-935a4a5a6fa3.png)

A bit "duh", but works for me with Frappe Framework: v13.30.0.

[2022-06-15 13:58] megha0071994 commented on #17310
sendgrid service.

[2022-06-15 15:05] revant opened #17206 "Error creating new site with postgres as db on develop branch"
## Description of the issue

error executing command `bench new-site test_pg_site --db-type postgres --admin-password admin`

## Context information (for bug reports)

Failed test during nightly develop builds on frappe/frappe_docker

## Steps to reproduce the issue

1. create new site on develop branch with `--db-type postgres`

### Observed result

Failed with traceback

### Expected result

Cre

[2022-06-15 15:06] mubeenmazhar opened #17207 "Different image attachments with same name shows the same image"
## Different files showing same image

1. > Attaching 2 (or more) images to DocType (Sales Invoice, Payment Entry etc.) shows the same image upon opening.
2. > In File Manger it shows the both file with same image but shows correct file sizes.
3. > If there Dropbox backup is enabled, only one file backup.

## Steps to reproduce the issue

1. Attach any 2  different images with same name to any Doc

[2022-06-15 15:25] Ahakim1 opened #17208 "Hotels"

[2022-06-15 16:04] gamusinhunter opened #17209 "TypeError when adding new number card on dashboard"
## Description of the issue

The event to create a new number card from the dashboard view of a doctype is not being triggered when clicking on  + New Number Card (div class => widget new-widget new-number-card-widget)

## Context information (for bug reports)

**Output of `v14.0.0-beta.4 (version-14-beta)` in browser's console**
[code]

## Steps to reproduce the issue

1. Select a doctype and swi

[2022-06-15 16:29] ceefour commented on #14940
I tried to follow @daraul 's tip of setting `{"device": "mobile"}`, however what I get is ERPNext doesn't send SameSite at all...

which results in the browser not setting the cookie.

___
ERPNext: v13.31.1 (version-13)

Frappe Framework: v13.30.0 (version-13)

[2022-06-15 16:34] ceefour commented on #14940
Workaround as described by @daraul required two steps:

1. [Login](https://frappeframework.com/docs/v13/user/en/guides/integration/rest_api/simple_authentication#post-apimethodlogin) with device=mobile, e.g.

[code]

2. Configure nginx to set `SameSite=None` as @daraul described below.

Edit `frappe-bench/config/nginx.conf`, alternatively if you have a recent Nginx (1.19.3+) using this should work

[2022-06-15 16:35] daraul commented on #14940
Yep. I did this:

[code]

[2022-06-15 16:45] ceefour commented on #15476
This is caused by https://github.com/frappe/frappe/issues/14940 which is still happening as of:

ERPNext: v13.31.1 (version-13)
Frappe Framework: v13.30.0 (version-13)

[2022-06-15 17:28] ankush commented on #17206
Fixed here: https://github.com/frappe/frappe/pull/17200

[2022-06-15 17:28] #17206 closed, assigned to ankush

[2022-06-15 17:33] ankush opened #17210 "`drop database` needs to ensure transaction is ended"
PG can do some DDL in transaction blocks but not create/drop database. Dropping site right now is problamatic because there's always one active transaction

Just issuing `conn.sql("end")` should solve it, just need to find/wrap all instances.

[code]

[2022-06-15 17:49] ceefour commented on #14940
Since Frappe is already using 0.16.1, it should be able to upgrade to 1.x: https://palletsprojects.com/blog/werkzeug-1-0-0-released/

While upgrading to Werkzeug 2.x is desirable, for this specific issue, using Werkzeug 1.x would be sufficient.

[2022-06-15 17:52] ankush commented on #14940
We are on the latest Werkzeug on develope/v14. Can't bump it on stable versions now since that will likely break things and apps.

[2022-06-15 17:53] #17208 closed, assigned to nobody

[2022-06-15 17:56] ceefour commented on #14940
@ankush Thank you !!! So glad to hear that.

It's unfortunate that ERPNext v13 can't upgrade, but since there's a workaround with nginx, this isn't so bad.

Thank you @daraul for giving the workaround.

[2022-06-15 18:00] ceefour commented on #14940
@ankush I tried to find samesite=None mention in latest https://github.com/scmmishra/frappe/blob/develop/frappe/auth.py but can't find it... is it already updated too? as the original intent of https://github.com/frappe/frappe/pull/11257

[2022-06-15 18:11] muchai commented on #17030
Let me chat FC and see if we can get the output of get_valid_perms().

Two things I can think about this site is.

It's a site that started off in version 11, and has been upgraded to v12, and now v13.

For the longest time, we have always gotten the below error when trying to email any document. Since, after closing an error, one could proceed with the emailing, it was never critical.

### App Ve

[2022-06-16 03:41] cosymarie123 commented on #14333
I’m running into the same issue. I got the error "Failed to load resource: the server responded with a status of 500 (INTERNAL SERVER ERROR) " and "dont submit " :8000/api/method/frappe.desk.form.save.savedocs".
Help me please!!

[2022-06-16 07:58] Abhirup-99 opened #17214 "Having a Link as the first field in the form and focussing out of it, throws a 404 error."
## Description of the issue
Having a Link as the first field in the form and focussing out of it, throws a 404 error, when without touching the field.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result
Throws 404 error.

### Expected result
Shouldn't throw it.

### Stacktrace / full error message

[code]

[2022-06-16 08:21] gn306029 commented on #15057
I have a same question on frappe v13.32

so i tried to edit below code
https://github.com/frappe/frappe/blob/version-13/frappe/core/doctype/file/file.py#L394
[code]
[code]

Then work
Hope it will help you !

[2022-06-16 08:40] #17201 closed, assigned to ankush

[2022-06-16 10:04] #17202 closed, assigned to shariquerik

[2022-06-16 10:04] casakthiveln opened #17309 "Bulk Edit Work Order - Can't edit the fields with tick mark"
### Information about bug

While editing the work order in bulk, the fields which requires tick marks are not working but other fields apart from tick marks are working fine. The following video will show elaboratly
![Work order bulk edit](https://user-images.githubusercontent.com/63579207/174046778-86c9884f-8428-4b66-9824-6d4d1e2b0c23.gif)

### Module

manufacturing

### Version

ERPNext: v13.34.

[2022-06-16 11:09] iMoshi opened #17224 "field:custom_field in Auto Name hides the field from document"
On latest Frappe (13.33) / ERPNext (13.34), and I've just noticed creating a new Doctype and giving a field name in Auto Name removes the field from the document itself.

Auto Name works as expected in naming the document, it just removes the field from the document.

Here's a small screen recording: https://hello.mn/auto_naming_bug.mov

[2022-06-16 11:45] Komal-Saraf0609 opened #17225 ""Link Doc Type" not working in Address Doctype"
Steps to reproduce:

1. Go to Address list
2. Go to Reference section.
3. Try adding a Link Document Type say Customer. An error will be shown.

Refer the below recording:

https://user-images.githubusercontent.com/81952590/174062939-fd47de9e-dc01-4ae8-8f32-742862e19a91.mov

[2022-06-16 13:24] ioweb-gr opened #17308 "Error after upgrading to latest version failed to get method for command frappe.desk.desktop.get_wspace_sidebar_items"
### Information about bug

I upgraded the system normally and when I'm trying to log in to the backend I see this error

[code]

The request in inspector shows

[code]

I would expect everything to work normally.

### Module

other

### Version

bench --version
`5.11.0`

bench version
[code]

### Installation method

easy-install

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-06-16 13:29] phot0n commented on #17140
got the same error ..`bench setup requirements` seemed to fix it 🤔

[2022-06-16 16:30] #17140 closed, assigned to nobody

[2022-06-16 16:30] ankush commented on #17140
this was broken import in ERPNext

[2022-06-16 20:23] skjbulcher opened #17227 "Loading a Kanban Board Deletes the _user_settings Cache"
## Description of the issue

Viewing/visting/refreshing a Kanban board page erases the _user_settings cache.

A little background:
I use the _user_settings cache to store preferences for users in various places in the system. I suddenly started to find that my saved settings were disappearing, when they had been working before. This bug report is the result of hours of time spent investigating thi

[2022-06-16 23:49] dj12djdjs commented on #17308
@ioweb-gr What version did you upgrade from?

Also, could you provide the Initiator call stack on the request that produced the error? Example:
![image](https://user-images.githubusercontent.com/29856401/174196101-51088c0b-aac5-4376-aa30-639156c49ca3.png)

[2022-06-16 23:54] dj12djdjs commented on #17309
This is a framework bug. Just tested, It's broken for all doctypes.

[2022-06-17 04:18] this-gavagai commented on #17224
I don't think this is a bug but rather intended behavior. Once the document has been named, it's meant to be renamed through the standard renaming dialog. I agree, though, that the behavior is a bit confusing.

If you want the field to remain after first creation, you can use the `format:{field_name}` strategy for autonaming instead. It accomplishes the same thing.

[2022-06-17 04:22] this-gavagai commented on #17214
I'm not able to reproduce this error on either v13 or v14. Please provide more details.

[2022-06-17 05:49] iMoshi commented on #17224
That's it! Thank you!

[2022-06-17 05:49] #17224 closed, assigned to nobody

[2022-06-17 05:59] OneiricIT commented on #16022
Thanks @rmmr

[2022-06-17 06:22] ioweb-gr commented on #17308
I'd love to provide it but I noticed that today when my user logged out for inactivity I'm getting an internal server error on login page. So I can no longer log in to get the previous error.

I updated from 13.x-develop

[code]

[2022-06-17 09:13] #17225 closed, assigned to ankush

[2022-06-17 10:06] ankush opened #17231 "postgres `IN` query value substitution for lists is incorrect"
[code]

Hint: List values don't work but tuple values do.

[2022-06-17 10:42] phot0n commented on #17231
this is done by psycopg automatically

https://www.psycopg.org/docs/usage.html#lists-adaptation
https://www.psycopg.org/docs/usage.html#tuples-adaptation

[2022-06-17 10:49] ankush commented on #17231
@phot0n nice catch

we need to handle it regardless. Since most of our code assumes both are treated equally.

As far as I can tell passing values for IN query has got nothing to do with mutability (the only difference between tuple and lists)

[2022-06-17 10:50] phot0n commented on #17231
we could cast it to tuple as a quick fix :P

probably here:
https://github.com/frappe/frappe/blob/8c6d266fad4a99103a45125987ff21d260457a3a/frappe/database/postgres/database.py#L405-L430

[2022-06-17 12:27] ankush commented on #17231
I think they are doing it to support "array" type (we don't use this anywhere anyway, breaks 1NF)

[2022-06-17 12:30] phot0n commented on #17231
(hoping we don't use it in future as well 📿 🙏 )

[2022-06-17 15:39] #16040 closed, assigned to nobody

[2022-06-17 15:39] #16371 closed, assigned to nobody

[2022-06-17 15:39] #16492 closed, assigned to nobody

[2022-06-17 15:39] #16850 closed, assigned to nobody

[2022-06-17 18:20] skjbulcher commented on #11706
I recently had reason to dig into this code a little myself, and it's got me scratching my head. The regex requires a string that ends in `mm;`. There are a number of issues with that approach.

1. The only values that can be read are the values supplied to `margin-*`, so it ignores `page-size`, `header-spacing`, and `orientation`, even though it searches the once HTML for each value.
2. It ignore

[2022-06-17 18:49] skjbulcher commented on #16984
This looks like this has a fix that wasn't backported to v13: https://github.com/frappe/frappe/commit/46c617afde8dd3792b78cb35ba17e061ad93daaf.

Can that fix commit be backported to v13 please?

[2022-06-17 21:25] dj12djdjs commented on #17308
It seems to me the migration didn't perform successfully. Did you receive any errors during the `bench migrate` process?

[2022-06-18 04:18] ioweb-gr commented on #17308
That is the confusing part. During bench migrate all patches executed successfully

[2022-06-18 09:40] ioweb-gr commented on #17308
I've managed to get past the login error by using this patch

[code]

And now I actually was able to access my ERPNext Desk

[2022-06-18 09:43] ioweb-gr commented on #17308
Could someone point me out where this "app_logo_url" key is stored in the database so I can update it in the database as well for future updates?

[2022-06-18 09:49] ioweb-gr opened #17307 "Cannot backup my websites after upgrading"
### Information about bug

After upgrading from v13-develop my bench is failing to backup the sites

`bench backup` will say

`Backup failed for Site extranet.example.com. Database or site_config.json may be corrupted`

I've checked the JSON but it's not corrupted

[code]

### Module

other

### Version

bench_manager 0.0.1
erpnext 14.x.x-develop
frappe 14.x.x-develop

### Installation method

eas

[2022-06-18 13:20] kid1194 opened #17306 "Side bar over modal box"
### Information about bug

Hello everyone,

I have seen this display issue and I thought about informing the ERPNext team. I have also noticed that the side bar behaves in the same way with RTL layout.

The modal box seems to be displayed under the side bar. This probably CSS z-index issue!.

I’m using v13 through ERPNext free account and the browser I’m using is Opera mobile for Android v69.3.360

[2022-06-19 08:48] Tom-Finke opened #17258 "data-import field Mapping"
Issue: Feature Request

**The Problem**
I have a set of csv files that I want to import into DocTypes. My Problem is, the data in these csv files has an "id" field as identifier and a "name" field as a descriptor/title. When I use the data-import. the name field is of course used as the frappe document name, being the unique identifier, which I don't want it to be

**The Solution**
An Option to da

[2022-06-20 09:01] ankush opened #17243 "Bump cypress to latest version"
We are running v6 which is ~2 year old now

Latest version is v10: https://docs.cypress.io/guides/references/changelog

https://docs.cypress.io/guides/references/migration-guide#Match-against-url-and-path

PS: https://github.com/erpnext/erpnext_ui_tests needs to be upgraded at same time.

[2022-06-20 11:53] vishw-a commented on #17142
@this-gavagai  I have tried putting print statements, frappe.msgprint heck even send_email but I cannot see the logs anywhere (not in email, docker container logs, front end)

[2022-06-20 14:05] #17246 closed

[2022-06-20 20:30] dj12djdjs commented on #17307
Related: https://github.com/frappe/frappe/issues/16728

[2022-06-21 00:48] Abhirup-99 commented on #17214
I think it's with an older v13 version. Upgrading to the latest fixed this.

[2022-06-21 18:40] PatelAasif-Official commented on #14862
I'm also facing the same issue

[2022-06-21 22:26] dj12djdjs commented on #17002
Fixed in: https://github.com/frappe/erpnext/pull/31296

[2022-06-21 22:26] #17002 closed, assigned to nobody

[2022-06-22 03:47] mmdanny89 opened #17268 "get-untranslated/update-translations string for particular app"
**Solution**
I developed an alternative for command  **bench get-untranslated [lang] [/some/path]** and **bench update-translations [lang] [/some/path]** that allowed get and update translations for particular app and not complete system, if the user wants.

**Alternative**
**For some APP:**
bench get-untranslated --app myappname [lang] [/some/path]
bench update-translations --app myappname [lang]

[2022-06-22 08:29] #17231 closed, assigned to phot0n

[2022-06-22 11:58] tannineo commented on #2182
Any update on this?

[2022-06-22 12:49] v3ss0n opened #17272 "KanbanBoard updates are not realtime"
## Description of the issue
When multiple users are working at Projects in style of Trello , the updates are not refreshed .
Even if it is not realtime , if a card is move from one place to another  , other users should see the changes.

Easy way to get is to refresh every X minutes.
## Context information (for bug reports)

Tested on latest branch.

[2022-06-22 13:25] PGodfroid opened #17273 ""Expected tag name" error when not expected"
## Description of the issue

When using Jinja loop, any comparison using loop.index and a <= or >= shows an error (but the code still works)

## Context information (for bug reports)

![image](https://user-images.githubusercontent.com/106651718/175039488-1da69156-2fb6-4cb8-a8a9-05cf077a4a57.png)

## Steps to reproduce the issue

Create a loop in Jinja using any kind of {% for item in list %}
Write

[2022-06-22 15:58] skjbulcher commented on #16083
As of Frappe v13.33.1, it is still not possible to do this. The old error is back. In this example, I added a table field called issue_followup that links to the Issue Followup DocType:

![image](https://user-images.githubusercontent.com/16672299/175076400-0577bb59-bffe-4c13-8c23-add10bbb73ef.png)

While I'm still not sure if I have the fields in the correct place, I did move them around to see if

[2022-06-22 17:50] Tom-Finke commented on #17017
This does indeed seem to be a cashing Issue. Pressing ctrl+f5 (Browser Cache Reset) doesn't change it, but pressing "reload" in the top-right menu does solve the problem.
What bugs me is, that it throws a "Page not found error"

When I do frappe.get_doc("Page", "test-doctype") on the console, then I get the same error. So I guess the instances of the page doctypes are created and stored in cache o

[2022-06-23 01:50] treasuryesc commented on #17309
Yes, we also have seen that it applies to all fields with type = Check

[2022-06-23 07:52] gamusinhunter opened #17279 "Untranslatable widget strings"
## Description of the issue

Dashboard view options regarding chart settings timespan are not translatable strings, therefore they don't get translated when selecting another language different from English.

Dashboard view
![dashboard_not_tanslated](https://user-images.githubusercontent.com/97673308/175244103-e961edbe-c7b5-4fc7-8fa6-5d237df44831.jpg)

chart_widget.js
![chart_widget_js](https://us

[2022-06-23 07:55] phot0n commented on #17273
this can be ignored ...since html doesn't really understand/recognize jinja, it tends to throw various errors :P

closing.

[2022-06-23 07:55] #17273 closed, assigned to nobody

[2022-06-23 09:03] yugalrjain opened #18631 "Error: “Root Ticket cannot be deleted”"
### Information about bug

I created a DocType called ‘Ticket’ since I wasn’t able to edit the pre-defined ‘Task’ DocType. And I created a few ‘tickets’ to test it out. However, I am unable to delete these previously created test ‘tickets’ now due to the below error. Could you advise on what I can do to resolve this and delete these test ‘tickets’?

### Module

projects

### Version

ERPNext: v13.

[2022-06-23 09:05] yugalrjain commented on #18631
<img width="1055" alt="Screen Shot 2022-06-23 at 2 30 00 PM" src="https://user-images.githubusercontent.com/108059102/175261694-a0edc9a6-4993-4a8c-96b4-43aa92394615.png">

[2022-06-23 09:18] gamusinhunter opened #17280 "Virtual Doctypes aren't working as expected"
**Is your feature request related to a problem? Please describe.**
Several issues on virtual doctypes behaviour have been raised via issues and using ERPNext Forum. We consider this a very powerful tool that needs to be fixed in order to fulfill a need related with avoiding scheduling sync between frappe db and an external database and therefore, retrieving data in real-time.

**Describe the solut

[2022-06-23 09:22] phifa opened #17281 "When new workspace from module is created, other users do not see it."
When new workspace from module is created, other users do not see it.

[2022-06-23 09:27] #17280 closed, assigned to nobody

[2022-06-23 09:28] gamusinhunter commented on #17280
Re-labeled and opened ad bug

[2022-06-23 09:29] gamusinhunter opened #17282 "Virtual doctypes aren't working properly"
**Is your feature request related to a problem? Please describe.**
Several issues on virtual doctypes behaviour have been raised via issues and using ERPNext Forum. We consider this a very powerful tool that needs to be fixed in order to fulfill a need related with avoiding scheduling sync between frappe db and an external database and therefore, retrieving data in real-time.

**Describe the solut

[2022-06-23 11:23] alosh088 opened #18632 "Notification for Mentions and Assignments not working how"
### Information about bug

Notification for Mentions and Assignments not showing for all users

### Module

other

### Version

12

### Installation method

manual install

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-06-23 17:20] quick-111 opened #17285 "Doesn't seem to save changes within the page"
I can't make lasting changes because every time I refresh the page, the changes reset. I think it could use a save button

[2022-06-23 17:24] git-avc commented on #17282
Agree, seems that this feature is not really implemented. We can't make work without modifying core functions in load.py, reportview.py , etc ... (i'm sure this will cause undesired effects ... ) Even this way, expected funcionality (in official documentation) is not achieved ... For instance: Using the virtual doctype as link origin for other doctype throws an error ...

We are really interested

[2022-06-23 17:32] agritheory commented on #17282
@git-avc @gamusinhunter I have some work done in this vein and would be happy to contribute it. I would love to see them backported to V13 but getting it fixed soon means it will likely be included in V14. What versions are you running so I can test against them? Collecting some anonymized-but-meaningful tests from you would be really valuable. Please let me know if this is something you're willin

[2022-06-23 17:38] git-avc commented on #17282
Hi Tyler! Thanks for your interest. We are trying on v14 develop. I can provide you all you need ... logs, screenshots, of course!

[2022-06-23 17:41] agritheory commented on #17282
@git-avc Sounds good. I'm likely to have questions that wander into specific things about your business' use case that shouldn't be on GitHub. Please get in touch with me at tyler@agritheory.com

[2022-06-23 17:43] git-avc commented on #17282
Absolutely agree, i'll contact by email. Thanks.

[2022-06-24 10:34] mohsinalimat opened #17288 "Get Items From Popup issues"
1) Clear Filters button not working
2) Add Filter then close that filter then in below list record not fetching.

This js function `erpnext.utils.map_current_doc({})`

[2022-06-24 11:34] #17268 closed, assigned to nobody

[2022-06-24 17:31] RJPvT commented on #17052
Accepted PR. Closing this.

[2022-06-24 17:31] #17052 closed, assigned to nobody

[2022-06-24 20:15] agritheory commented on #17282
@gamusinhunter I have tested with the latest Frappe V13 branch and my virtual doctype implementation. Everything seems to work fine. I think you are misunderstanding the Virtual Doctype flow:

Virtual Doctypes do not store data in the frappe database. 100% of the data stored in a virtual doctype is external, even if you link to data inside the ERPNext database. If you want preserve data in the fra

[2022-06-26 09:33] sx98083714 opened #17299 "ModuleNotFoundError: No module named 'books' ，I used it with great enthusiasm, but couldn't even create an APP."
I used it with great enthusiasm, but couldn't even create an APP.

I was not a professional Python programmer, and I just wanted to find a full-stack framework that was easy to use. Until I found Frappe, which was obviously much more powerful and easy to use than Django, I started installing and configuring Frappe with great enthusiasm and expectation. I was in China, but due to network problems,

[2022-06-26 13:06] meetpradeepp commented on #17299
This is mostly associated with your python environment and module path. Nothing with Frappe

Have a look at this and also see if alias and path of python are set correctly. I had this same problem when I was using two version of python on my Linux.
[Forum](https://discuss.erpnext.com/t/modulenotfounderror-no-module-named-frappe/63055 )

I usually add below things before installing frappe so that I

[2022-06-26 15:13] sx98083714 commented on #17299
Thank you very much for your reply! I according to this document to guide the installation configuration (https://github.com/frappe/frappe/wiki/The-Hitchhiker%27s-Guide-to-Installing-Frappe-on-Linux), Before the new APP is created, the function of frappe APP installed by default is normal. Only after the new APP is created, this problem will appear immediately. I added the alias statement in.bashr

[2022-06-27 04:43] meetpradeepp commented on #17299
Correct. App is part of bench. Now that you have alias in place please try installing bench once again. Based on the way you have installed if all requirements are met, then below command should get you going.

pip install bench

[2022-06-27 05:21] #17185 closed, assigned to nobody

[2022-06-27 05:59] zongo811 opened #17314 "msgprint not working from form events"
## Description of the issue
I wanted to use msgprint from the validate-event. But the displayed messagebox is empty.

## Context information (for bug reports)
I think this was introduced with frappe 13.33.1. It seems only to happen when msgprint is used in form events like validate & refresh.

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Add this Client Script to your

[2022-06-27 07:18] zongo811 commented on #17314
I switched back to a VM-Snapshot using frappe/erpnext v13.8.0.
Effect also occurs with these versions, never noticed this...

I could use frappe.throw() und frappe.show_alert() instead of msgprint().
But frappe.throw() would prevent saving, and frappe.show_alert() is not enough "right-in-your-face" aka too easy to ignore (Really? A warning? Oh, I did'nt see it. Development is to blame for not maki

[2022-06-27 09:01] Tom-Finke commented on #17169
Since I feel like there is not much interest in this feature, I found a workaround.
I Included my js script via app_include_js in hooks.py. Since window.cur_frm is not yet set when the script in app_include_js is loaded, I had to find another way to find a reference to the DocType.
This is what I came up with:
`let doctype = Object.keys(window.localStorage).find(key => key.substring(1,8) == "docty

[2022-06-27 09:01] #17169 closed, assigned to nobody

[2022-06-27 09:16] #17315 closed, assigned to shariquerik

[2022-06-27 11:33] yadavyk commented on #17288
@mohsinalimat , could you mention the version in which you're experiencing this ?

[2022-06-27 11:45] mohsinalimat commented on #17288
With latest version-13 of frappe and erpnext.

[2022-06-27 11:51] patel-asif commented on #14862
Is any alternative to achieve this by modifying codes or anything

[2022-06-27 11:55] agritheory commented on #17282
@git-avc There's _is_ a built in way to accomplish what you're seeking to do but it's not mentioned in the Virtual Doctype section of the documentation. ... and it isn't documented in the hooks section either. Here's an example form ERPNext:
https://github.com/frappe/erpnext/blob/develop/erpnext/hooks.py#L278

Queries are standalone functions and not part of the doctype's class. The function signa

[2022-06-27 12:23] Olawale1 commented on #14862
Hi @PatelAasif-Official

No need to edit code. Simple workaround I currently use is to create a role for this purpose. For example, both HR User and Account User role need to be able to edit Expense Claim doc in 'Pending State':

1. Create a new role called Expense User (or any name that's appropriate)
2. Add this new role to all existing users with either HR User or Account User role
3. In Expens

[2022-06-27 12:39] ioweb-gr commented on #17307
I just upgraded to latest version and this error was gone. I think it was resolved.

[2022-06-27 12:40] #17307 closed, assigned to nobody

[2022-06-27 12:43] #14768 closed

[2022-06-27 13:13] patel-asif commented on #14862
Thanks @Olawale1

[2022-06-27 16:06] git-avc commented on #17282
Thanks, Tyler. This make sense ... Links fail because standard controller tries to access directly to a db that doesn't exists "on this side". I didn't figure out that we can override link querys that way. I will try.

[2022-06-27 19:27] jhouxzirrus commented on #17154
There is some issue about this here:
https://discuss.erpnext.com/t/how-to-make-all-attachments-private-as-default-in-the-upload-window/65490/8

The thread includes a link to an app that sets file uploads to private default with an exception to Allow Public "per doctype".
https://github.com/shridarpatil/frappe_private_attachments

I need to try out this app, but on the surface its behavior looks li

[2022-06-28 02:11] dj12djdjs opened #17325 "Migration from version-13 -> develop fails."
I've tested several migrations from `version-13` -> `develop`

I should pass `skip-failing` so the model will sync. Once model is synced running `bench migrate` this patch will complete.

`frappe.patches.v14_0.update_workspace2`

[code]

[2022-06-28 07:01] ankush opened #17332 "read only datetime fields don't show up even if they have value"
- go to scheduled job type page
- it has "last execution" field which is read only and datetime type

The field doesn't show up even if it has value.

[2022-06-28 08:44] uepselon commented on #16848
Yes! This would be very helpful, especially when multiple developers are working on the same custom_fields but with different development instances (where the creation timestamp differs)

[2022-06-28 09:12] phot0n commented on #17332
seems like a problem with datetime fieldtype ..date fieldtypes show up when they're readonly

[2022-06-28 10:36] phot0n commented on #17332
the problem is over here:
https://github.com/frappe/frappe/blob/971b8160a33fab9ce939e9c751fa45da7499e387/frappe/public/js/frappe/form/controls/datetime.js#L35-L47

datetime control is not able to parse the value (specifically that datetime util `user_to_str`)

[2022-06-28 10:38] ankush commented on #17332
yep figured as much.

This is a possible solution, quite hacky tho: https://github.com/frappe/frappe/pull/17335

need to think of some better alternate 😅

[2022-06-28 11:09] phot0n commented on #17325
a fix is open for this: https://github.com/frappe/frappe/pull/17265

[2022-06-28 23:05] jhouxzirrus commented on #17154
I discovered an old outstanding feature request about correcting the poor organization (flat heirarchy) of attachments here:
https://github.com/frappe/frappe/issues/18678

The issue also mentions the security vulnerability of defaulting to uploads to public.

[2022-06-29 05:08] nev-21 opened #17345 "Can't select a date in Calendar popup"
## Description of the issue
Calendar is showing below a date field, even if it is at the end of the screen, (it should show up)

## Context information (for bug reports)
![image](https://user-images.githubusercontent.com/89469783/176355859-cbeba9ce-8afb-4add-b884-446f7778f78b.png)

## Steps to reproduce the issue

1. Enter in a list (i.e. items)
2. Assign To
3. Try to put a date on "Complete By" f

[2022-06-29 10:28] #17325 closed, assigned to nobody

[2022-06-29 10:36] ankush opened #17351 "Implement undo on form actions"
Undo on form views should be able to:

- [x] undo top level form changes
- [x] Differentiate between documents
- [x] undo child table field changes
- [ ] undo deleted rows
- [ ] undo added rows

Concerns:
- [x] Dependent changes based on triggers. Some changes like "auto fetch" only happen on user interaction so undoing a link field might not undo link field-related fetches.
- [x] scroll to and hi

[2022-06-29 11:13] india081947 opened #17352 "Security Vulnerability - Confidential and Restricted Data Can be Access and Modified"
## Description of the issue
Unauthorized user can access data which has been restricted behind the level permission

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

I posted these vulnerabilities on https://frappe.io/security/report-vulnerability
VUL-368856 on 16/06/2022

Due to critical nature of the issue I think reproduce steps sh

[2022-06-29 12:58] PITPL-Akshay-Prajapati opened #17354 "Checkbox not working on Bulk Edit Dialog box"
## Description of the issue
![Screenshot from 2022-06-29 18-11-37](https://user-images.githubusercontent.com/95674015/176441844-ef68ec90-776e-48a2-aaa4-addcb0dd5f0d.png)
![Screenshot from 2022-06-29 18-11-24](https://user-images.githubusercontent.com/95674015/176441867-411888bc-b7e4-420a-8c6f-7811c549a09c.png)

Checkbox not working in Bulk Edit

## Context information (for bug reports)
When need t

[2022-06-29 13:34] Olawale1 commented on #13762
Hi @surajshetty3416 ,

Looks like the issue is back again! Redirect on Web Form isn't working

ERPNext: v13.34.0 (version-13)
Frappe Framework: v13.33.0 (version-13)

[2022-06-30 05:38] fadilsid opened #17359 "Image succefully uploading but status shows 0%"
## Description of the issue
While uploading an image in attach image field its getting uploaded but the status shows 0%

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Upload a photo in any attach image field
2. See the status of upload
3.

### Observed result

Status of upload shows 0%. But it gets saved in the document when you

[2022-06-30 06:38] #15432 closed, assigned to nobody

[2022-06-30 13:58] phot0n commented on #16494
So this is happening due to permissions - as child tables don't have any permission rules applied to them and when they're changed back to normal doctypes, no permission rule is present in the permission table, hence we get that error.

a fix could be to add system manager perm in the permission table and reload the bootinfo

<img width="1059" alt="Screenshot 2022-06-30 at 7 23 15 PM" src="https:/

[2022-06-30 14:19] b90g commented on #14456
since the mobile app is going depricated, could you look into it and tell if it might be possible to have one login button instead of more then one? thanks.

[2022-06-30 18:29] phot0n commented on #17354
Duplicate: https://github.com/frappe/frappe/issues/17309.

Closing.

[2022-06-30 18:29] #17354 closed, assigned to nobody

[2022-06-30 18:32] #17299 closed, assigned to nobody

[2022-06-30 21:10] nev-21 opened #17368 "UX - click cell in a form sublist"
**Is your feature request related to a problem? Please describe.**
It is a bad UX concern

**Describe the solution you'd like**
when click on a list inside a form (i.e.: field in a doctype) there is a lag until the text get focus.

![image](https://user-images.githubusercontent.com/89469783/176777745-99848042-e94a-4380-bca5-5d2caff15cb1.png)

- The row two is not gray, so if you click in Code cell

[2022-06-30 22:02] nev-21 commented on #17143
Hi @ankush have the same problem in field list in doctypes.

Please see the "More Improvements" part in #17368

[2022-06-30 22:31] nev-21 opened #17369 "UX - List update after delete"
## Description of the issue
The list doen't update after deletion of records

## Context information (for bug reports)
This happens least in doctypes lists

## Steps to reproduce the issue

1. Select one or two records in doctype list (Don't select the first record, only fails with the later ones)
2. Delete them
3. The list isn't updated, the user must click reload to see them disappear.

### Obse

[2022-07-01 00:18] nev-21 commented on #17154
I'm agree. It is a necessary feature and a security vulnerability!

[2022-07-01 06:12] ankush commented on #17369
https://user-images.githubusercontent.com/9079960/176834856-eaad0384-3451-40dd-9a51-ed8ec7010629.mov

Can't reproduce, can you share a gif/vid of what you're doing?

Also, which version are you on?

---

Also tried with non-first item, like you mentioned. Still can't reproduce.

[2022-07-01 10:01] nihantra commented on #17345
Hi @nev-21,

As per your requirement, the issue has been fixed via field management.
Please check this reference #17372

Thank You!

[2022-07-01 10:35] #17345 closed, assigned to nobody

[2022-07-01 10:57] palashjhabak opened #17375 "User Query and Change User as a result Ingores User Permission"
## Description of the issue
Even if a User does not have rights to list other users in the system, they still can do it by using "Change User" dialog in My Profile section.
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Login using a user with no User doctype permission
2. Go to My Profile
3. Click on Change User

### Observed re

[2022-07-01 11:03] ankush commented on #17375
This is probably because User has "Select" permission on "User" doctype. Nothing specific is being done for "My profile" page, it behaves just like any another link field.

[2022-07-01 11:04] palashjhabak commented on #17375
@ankush Had that been the case, User should also be able to list users from the "User" list view which is not the case.

[2022-07-01 11:05] ankush commented on #17375
Nope. This is just how select permission works. Select permissions allows users to "Select" a doctype without having the ability to see it in form/list views.

[2022-07-01 11:09] palashjhabak commented on #17375
ohh my bad you are rigtht about Select permissions. In that case are select permissions on User doctype a default for all users? because I dont see them in Role Permission Manager.

[2022-07-01 11:13] palashjhabak commented on #17375
And even if I explicitly add a permission setting for the concerned Role and User doctype and not select the "Select" checkbox, nothing happens and User still has select permission

[2022-07-01 12:44] ankush opened #17376 "Routing related enhancements"
related to https://github.com/frappe/frappe/pull/17072

- [ ] On report view don't add hidden field to report's URL (assumption: they are hidden cause they don't really apply? 👀 )
- [x] Support "group by" in report builder URL
- [x] don't apply filtering from URL on _saved_ reports.
- [x] if report/list view is changed immediately to some other view then filters are still applied on that view... (

[2022-07-01 13:29] #15824 closed, assigned to nobody

[2022-07-01 15:06] phot0n commented on #17310
Hey, the error that's being shown is of poplib ..not smtplib - are you sure things are correctly configured?

[2022-07-01 16:27] nev-21 commented on #17369
Thanks @ankush. I couldn't replicate it with new records. I noticed that it happens when you restore records:

https://user-images.githubusercontent.com/89469783/176933531-bc4a1089-8597-406c-832a-be94533c399c.mov

[2022-07-01 16:33] nev-21 commented on #17345
Thanks @nihantra

[2022-07-01 18:16] jhouxzirrus opened #17378 "Root Level Tree Documents Should Be Deletable"
This needs to be configurable per doctype. The current design doesn’t even make sense. Here's why:

If you forcibly prevent deletion of all root records, then it brings up paradoxical questions like:
- If there is a single root, why not make it implied? Why even include the root in the data model? A single root only has virtual meaning and its practically pointless to model it as data. There's no

[2022-07-02 02:29] nev-21 opened #17379 "Timezone inconsistency"
## Description of the issue
Many users travel around several countries, others users live in different countries.

The timezone management have many insconsistencies and show incorrect date-time values to the final users.

Please, I summarize the descriptions as much as I can, so that they are understandable.

## Context information (for bug reports)
Frappe version 13.34.0

## Steps to reproduce t

[2022-07-02 06:53] nev-21 commented on #17379
Fixed in version-14-beta

[2022-07-02 06:53] #17379 closed, assigned to nobody

[2022-07-02 07:15] nev-21 opened #17380 "Card Break"
**Describe the solution you'd like**
Previous to #15438, section break would create a new card.

I'm proposing to stay with section break in the same card, but add a new "Card Break" so the UI will be more flexible and could be combined with "Tab Break" to allow better grouping. Some users would like Many cards and in each card some Tabs. Others would like everything in one card.

Code for Card br

[2022-07-02 17:00] nev-21 opened #17381 "UI - Setup Wizard text and icon overlap"
## Description of the issue
The icon of selection is overlapped with text, and the placeholder overlaps selected text.

## Context information (for bug reports)

Frappe version 13.34.0

![image](https://user-images.githubusercontent.com/89469783/177009417-efadf10c-10a7-4ee8-b96b-915f874fc2f4.png)

## Steps to reproduce the issue

1. Login as admin the first time in a site to enter setup wizard.
2.

[2022-07-02 17:28] nev-21 opened #17382 "Datetime field - NOW change not detected"
## Description of the issue
The datetime field value is not saved when click on NOW button.

## Context information (for bug reports)

Frappe version: 14.0.0-beta.4
Also occurs on version 13

https://user-images.githubusercontent.com/89469783/177010345-05ce4157-d30b-40f8-ac82-1ee933f7038f.mov

## Steps to reproduce the issue

1. Add a datetime field in Article DocType (library management tutorial)

[2022-07-04 08:22] centaur78 opened #17392 "Print Preview issue"
Hi @ankush

I am unable to print any new documents that has been submitted after the bench update to #17367

[code]

However any documents prior to this .. there are no issue in printing

Could you have a look ?

Thanks in advance

[2022-07-04 08:23] ankush commented on #17392
Update to python 3.10

[2022-07-04 08:28] ankush commented on #17392
@centaur78 can you share document which is causing this? If you do "copy error to clipboard" it will share full request/response.

This can only happen if you've currency field for which value is `None` somehow.

[2022-07-04 08:30] ankush commented on #17392
The PR you linked doesn't even modify the function that's throwing the exception. Some unrelated error.

[2022-07-04 08:36] #17309 closed, assigned to surajshetty3416

[2022-07-04 09:28] centaur78 commented on #17392
Hi @ankush

This is for Sales Invoice that has been created today after the update

### App Versions
[code]
### Route
[code]
### Trackeback
[code]
### Request Data
[code]
### Response Data
[code]

[2022-07-04 09:57] ChillarAnand commented on #16825
There is a package named "[Frappe](https://pypi.org/project/frappe/#history)" on PyPi. However this package is abandoned and the last release was 8 years ago.

I have sent an email to the author about the project status and see if he is willing to transfer the name to us.

[2022-07-04 10:02] ankush commented on #17313
duplicate https://github.com/frappe/frappe/issues/17394

[2022-07-04 10:02] #17313 closed, assigned to nobody

[2022-07-04 10:04] centaur78 commented on #17392
Hi @ankush

I think the issue is with fmt_money (in data.py) for the Custom SI print format where it is used.

![image](https://user-images.githubusercontent.com/1904802/177132326-ff055a93-c10e-42d3-9a66-e97aef8a2f86.png)

[2022-07-04 10:16] ankush commented on #17392
It's not. Type annotations have no impact on runtime.

You can reproduce by trying `fmt_money(None)` it's there in old version too.

I tried to reproduce error on print view, I am not getting any errors. Even tried the exact same document that you posted.

[2022-07-04 10:18] centaur78 commented on #17392
The weirdest part is if the invoice is UNPAID, then the error pops up which was created today

but if the invoice prior to new one which is PAID or PARTIALLY PAID, fmt_money doesn't show any error and I can print with the custom print format.

[2022-07-04 10:19] ankush commented on #17392
In your custom print format have you called fmt_money anywhere? if yes check what you're calling it with, looks like somewhere you're calling it with `None`.

[2022-07-04 10:20] centaur78 commented on #17392
only here
[code]

[2022-07-04 10:28] ankush commented on #17392
This isn't a bug then, your print format is somehow passing `None` value.

[2022-07-04 10:30] centaur78 commented on #17392
Hi @ankush

I think Python 3.10, the Optional parameter has been removed. Thats the reason for the error .

https://stackoverflow.com/questions/72039810/python-3-10-optional-parameter-type-union-vs-none-default

[2022-07-04 10:30] ankush commented on #17392
@centaur78 I am pretty sure it's not. Type annotations have no impact on code at runtime. 🥲

read first note on the docs page:

https://docs.python.org/3/library/typing.html

[2022-07-04 10:33] centaur78 commented on #17392
Ok sure no probs

Shall I close this.. My bad wasting you time..

Keep up the good work

[2022-07-04 10:34] ankush commented on #17392
should get closed with https://github.com/frappe/frappe/pull/17395

[2022-07-04 10:46] ankush commented on #17312
Tested on latest chrome/firefox. Selection works just fine for me.

Drag and drop reordering glitches but _works_

[2022-07-04 10:47] ankush commented on #16544
https://github.com/frappe/frappe/pull/16648

[2022-07-04 10:47] #16544 closed, assigned to nobody

[2022-07-04 10:52] ankush commented on #14466
https://frappecloud.com/marketplace/apps/storage_integration

[2022-07-04 10:52] #14466 closed, assigned to NagariaHussain

[2022-07-04 10:57] #17392 closed, assigned to nobody

[2022-07-04 11:15] ankush commented on #17010
I agree, this whole query can be removed and filters can be added directly instead. Doesn't seem like it's of any use and `re-linking` isn't that frequent procedure AFAIK 😅

[2022-07-04 11:16] #13493 closed, assigned to nobody

[2022-07-04 11:37] ankush commented on #14600
closed by https://github.com/frappe/frappe/pull/15321

[2022-07-04 11:37] #14600 closed, assigned to nobody

[2022-07-04 11:43] ankush commented on #15341
fixed already https://github.com/frappe/frappe/pull/17005 @gavindsouza

[2022-07-04 11:43] #15341 closed, assigned to nobody

[2022-07-04 12:31] hrwX commented on #10025
@szufisher
- The steps to reproduce are inconclusive.
- Will need more information.
    - translate_link_fields value for reference doctype
    - show_title_field_in_link value for reference doctype
- There are tests written to check whether the link fields are bring translated and they work, so I suspect its the configuration.

[2022-07-04 12:35] hrwX commented on #10025
@ankush This issue seems to have been addressed already with https://github.com/frappe/frappe/pull/15321 and https://github.com/frappe/frappe/pull/15451.
Closing this Issue.
@szufisher please reopen it if this still exists.

[2022-07-04 12:35] #10025 closed, assigned to shariquerik