[2022-07-04 12:39] ankush commented on #15519
This is already handled. IIRC from a change made few months ago.

https://github.com/frappe/frappe/blob/2e201c077e93483912ce54f9b9d9a1f951998859/frappe/installer.py#L381-L396

[2022-07-04 13:22] #15519 closed

[2022-07-04 13:28] ankush commented on #13696
related: https://github.com/frappe/frappe/issues/15866

[2022-07-04 13:59] #15392 closed, assigned to nobody

[2022-07-04 16:13] Abhirup-99 opened #17406 "Allow users to tap into the dirty event for a form."
**Is your feature request related to a problem? Please describe.**
Currently, there exists no way to listen if a form is dirty or not. This is an important feature available in almost all form libraries in various frameworks like Angular, React, and Vue.

**Describe the solution you'd like**
Allow users to tap into a dirty event which triggers when a form is dirty.

**Describe alternatives you've

[2022-07-04 16:15] Abhirup-99 commented on #17406
Would a PR be accepted for this?

[2022-07-04 18:34] Abhirup-99 commented on #17214
Reopening this, as was able to replicate the error.

Steps to replicate:
- Add a link as the first field in the form.
- When the form is opened, the field is focused with some options open.
- Click anywhere outside.
The error would show up.
[screencast-mysite.localhost_8000-2022.07.05-00_03_45.webm](https://user-images.githubusercontent.com/48902681/177204472-920bd859-f7bb-4c0f-82c4-a80394209b1c.w

[2022-07-05 05:52] #16956 closed

[2022-07-05 06:04] ankush commented on #16956
We can configure currency symbol position now

![image](https://user-images.githubusercontent.com/9079960/177260259-395e5d04-367b-4c80-af08-84b367f44b77.png)

[2022-07-05 06:07] ankush commented on #3317
This is translated now

[2022-07-05 06:07] #3317 closed

[2022-07-05 06:07] ankush commented on #3046
https://github.com/frappe/frappe/issues/14466

[2022-07-05 06:07] #3046 closed

[2022-07-05 06:08] ankush commented on #4132
not sure what this means 😄

[2022-07-05 06:08] #4132 closed

[2022-07-05 06:09] rmehta commented on #4132
This is done (if there is a `name` field, a dynamic field is created in the form view)

[2022-07-05 06:12] ankush commented on #1616
Another more popular request: user groups in assignment rule

[2022-07-05 06:15] ankush commented on #787
FYI this is possible with little bit of custom JS

[code]

[2022-07-05 06:21] ankush commented on #2725
This is more of pyca/cryptography problem. They do support libressl.

https://cryptography.io/en/latest/

refer this if you are still stuck: https://github.com/pyca/cryptography/issues/3693

[2022-07-05 06:21] #2725 closed

[2022-07-05 06:24] ankush commented on #3325
tracking here: https://github.com/frappe/frappe/issues/15866 (same issue)

[2022-07-05 06:24] #3325 closed

[2022-07-05 06:29] ankush commented on #4697
This is just how it works, this behaviour won't be changed.

[2022-07-05 06:29] #4697 closed

[2022-07-05 06:31] ankush commented on #5083
This works fine now.

[2022-07-05 06:31] #5083 closed

[2022-07-05 06:32] surajshetty3416 opened #17409 "Replace libraries that have incompatible licenses"
Since Frappe Framework has MIT licence, any libraries with copyleft license are incompatible to use with Frappe Framework.

Known libraries used in Frappe Framework that are incompatible with MIT License
- Fluxify has [GPL-2.0 license](https://github.com/arqex/fluxify/blob/master/LICENSE)
- html2text has [GPL-3.0 license](https://github.com/Alir3z4/html2text/blob/master/COPYING)

Ways to fix it is

[2022-07-05 06:32] #5348 closed

[2022-07-05 06:33] ankush commented on #5346
https://github.com/frappe/chat

[2022-07-05 06:33] #5346 closed

[2022-07-05 06:33] ankush commented on #6569
https://github.com/frappe/chat

[2022-07-05 06:33] #6569 closed

[2022-07-05 06:34] #14659 closed

[2022-07-05 06:34] #12571 closed, assigned to nobody

[2022-07-05 06:34] ankush commented on #12571
https://github.com/frappe/chat

[2022-07-05 06:34] ankush commented on #5508
https://github.com/frappe/chat

[2022-07-05 06:34] #5508 closed

[2022-07-05 06:35] ankush commented on #9732
fixed via https://github.com/frappe/frappe/pull/12883

[2022-07-05 06:35] #9732 closed, assigned to nobody

[2022-07-05 06:36] #12312 closed

[2022-07-05 06:36] #10239 closed, assigned to nobody

[2022-07-05 06:37] #9839 closed, assigned to nobody

[2022-07-05 06:38] #16282 closed, assigned to nobody

[2022-07-05 06:38] #12371 closed, assigned to nobody

[2022-07-05 06:39] #8935 closed, assigned to nobody

[2022-07-05 06:44] ankush commented on #13871
Fairly weird and niche request.

Can be achieved by just adding JS filters. `filters: {"owner": frappe.session.user }`

[2022-07-05 06:44] #13871 closed, assigned to nobody

[2022-07-05 06:53] ankush commented on #6084
If you convert standard fields it can mess up calculations, hence this isn't allowed.

[2022-07-05 06:53] #6084 closed

[2022-07-05 06:53] #6085 closed

[2022-07-05 06:56] PGodfroid opened #17410 "Sitemap exclusion when dynamic route enabled"
Hello, the dynamic route are very useful to automatically create new webpages, however Google robots don't accept any url including < or >.

![Capture d’écran 2022-07-05 084829](https://user-images.githubusercontent.com/106651718/177267003-964b1d4b-75bd-4eb4-bc27-3283c708054f.png)

The result is Google sending errors when crawling trough the (automatically created) sitemap.xml and meeting the dyna

[2022-07-05 06:57] ankush commented on #6087
This works fine now

[2022-07-05 06:57] #6087 closed

[2022-07-05 06:57] #6158 closed

[2022-07-05 06:58] #6340 closed

[2022-07-05 06:58] ankush commented on #6353
We don't support mysql

[2022-07-05 06:58] #6353 closed

[2022-07-05 07:03] #12406 closed, assigned to nobody

[2022-07-05 07:16] #8280 closed, assigned to nobody

[2022-07-05 07:24] #6587 closed

[2022-07-05 07:29] ankush commented on #6587
https://github.com/frappe/frappe/issues/6140

[2022-07-05 08:29] ankush commented on #5275
https://github.com/frappe/frappe/commit/64fe2749cb33f776ae9047ee2d29b660477ba566

[2022-07-05 08:29] #5275 closed

[2022-07-05 08:42] philippmeixner commented on #4591
I'm having the same issue, could you please elaborate on the HTML solution?

[2022-07-05 09:45] Abhirup-99 opened #17413 "Add data label to custom buttons added in pages."
**Is your feature request related to a problem? Please describe.**
Basically the title. This allows for easier selection through CSS.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any

[2022-07-05 10:06] ankush commented on #17406
Do you mean an event when the form first becomes dirty?

https://github.com/frappe/frappe/blob/9a03c535725ea066af5cd4b4f6316d01868876d1/frappe/public/js/frappe/form/form.js#L1237

[2022-07-05 10:12] ci2014 commented on #4697
@ankush This is not how paging is meant to work.

[2022-07-05 10:18] Abhirup-99 commented on #17406
Hi, yes. Listening to whether the form is dirty or not.

[2022-07-05 10:26] ankush commented on #4697
@ci2014 I misread the original issue (confused actual vs expected behaviour)

This works fine now, can you check again?

Administrator

<img width="1361" alt="Screenshot 2022-07-05 at 3 55 11 PM" src="https://user-images.githubusercontent.com/9079960/177307804-5798daa1-e3ee-4a4d-aa65-61e3c7050685.png">

User with limitation on the company (total count is restricted by what they are able to see)

<

[2022-07-05 12:13] #17210 closed, assigned to nobody

[2022-07-05 13:07] ollerus commented on #17312
Just tested on updated chrome, firefox and microsoft edge.
Firefox works prefectly, but chrome and edge still have the same issue on mobile for me.

[2022-07-05 13:09] #16783 closed, assigned to ankush

[2022-07-05 14:21] #13445 closed, assigned to nobody

[2022-07-05 14:28] #16692 closed, assigned to nobody

[2022-07-05 14:34] ankush commented on #3354
@rtdany10 is this still a problem?

https://github.com/frappe/frappe/pull/15973 should've fixed this afaik

[2022-07-05 14:38] ankush commented on #17030
duplicate https://github.com/frappe/frappe/issues/17311

[2022-07-05 14:38] #17030 closed, assigned to nobody

[2022-07-05 14:41] ankush commented on #17311
Two problems here:

1. `.encode` usage like this doesn't make much sense in python3
2. For some weird reason you're getting `None` as parent in valid perms, which might be data issue. Try this sql query to find offending permission entries, this might help us find root cause.

[code]

[2022-07-05 22:45] Abhirup-99 opened #17418 "Allow default desk screen page to be updated."
**Is your feature request related to a problem? Please describe.**
In the current implementation, the default desk page is `home`. There is no way to update it if there is already a `home` page available.

**Describe the solution you'd like**
Allow changes to the default desk page through either hooks.py or env configs.
https://github.com/frappe/frappe/blob/aed9d2260968b916efd85efb85a982bb6a5c3c2f

[2022-07-05 22:52] Abhirup-99 commented on #17214
@this-gavagai I added some steps for reproduction. Can you try replicating on your end?

[2022-07-06 05:19] #16740 closed, assigned to nobody

[2022-07-06 05:23] rtdany10 commented on #14390
@sumaiya2908 Any update on this?

[2022-07-06 08:13] balamutik opened #17759 "Fixes for CVE-2020-27508 and CVE-2017-1000120"
Hello!
When this vulnerabilities planned to be fixed?
https://nvd.nist.gov/vuln/detail/CVE-2017-1000120
https://nvd.nist.gov/vuln/detail/CVE-2020-27508

[2022-07-06 09:01] muchai commented on #17311
Found a long list.

(
    (
        "0d4e552fce",
        datetime.datetime(2019, 3, 4, 10, 37, 37, 514610),
        datetime.datetime(2019, 3, 4, 10, 37, 37, 514610),
        "Administrator",
        "Administrator",
        0,
        None,
        None,
        None,
        0,
        0,
        1,
        0,
        0,
        1,
        1,
        0,
        1,
        "Receipts/Issuing Appr

[2022-07-06 09:06] ankush commented on #17311
@muchai can you update that with as_dict output

`frappe.db.sql(same_query, as_dict=True)`

[2022-07-06 09:13] muchai commented on #17311
[{'name': '0d4e552fce', 'creation': datetime.datetime(2019, 3, 4, 10, 37, 37, 514610), 'modified': datetime.datetime(2019, 3, 4, 10, 37, 37, 514610), 'modified_by': 'Administrator', 'owner': 'Administrator', 'docstatus': 0, 'parent': None, 'parentfield': None, 'parenttype': None, 'idx': 0, 'if_owner': 0, 'write': 1, 'amend': 0, 'set_user_permissions': 0, 'email': 1, 'delete': 1, 'submit': 0, 'crea

[2022-07-06 11:02] ankush opened #17422 "Add strict type checking in util type code"
We can't really achieve 100% type checking but tools like mypy can be applied on code in util type code.

Over last year we have achieved decent coverage on type annotations in such util type code. Forcing type checks on that partial chunk of code can prevent many trivial bugs.

Possible implementation:
- Use mypy
- progressively add files which need to be 100% type-checked (this will block new un

[2022-07-06 11:21] ankush opened #17423 "alternate for specifying preload headers"
Currently preload headers are added by parsing HTML. Possible improvement:

- This can be restricted to default bundle, in which case parsing entire page might not be required
- hooks can also specify header configuration for assets.

https://github.com/frappe/frappe/blob/52b1f6ff1654d7f1bf1d6b0ec50610bd063f3bdd/frappe/website/utils.py#L546-L568

ref https://github.com/frappe/frappe/pull/10229

[2022-07-06 12:30] Komal-Saraf0609 commented on #14980
Works in the latest version. So closing the issue.

[2022-07-06 12:30] #14980 closed, assigned to nobody

[2022-07-06 12:36] Komal-Saraf0609 commented on #10903
Works with the latest version. So closing the issue.

[2022-07-06 12:36] #10903 closed, assigned to nobody

[2022-07-06 16:50] git-avc commented on #17351
Looks really powerful. I just miss a button for this action in add to Ctrl-z.

[2022-07-06 17:21] elan-k commented on #17154
I too agree with this.

[2022-07-06 18:56] bhavesh95863 opened #17425 "Phone Field Type Break Doctype Load"
I am facing an issue when we hide any field whose type is **Phone**  then it breaks another tab after that field.

Below error, I found in the browser console.

[code]

[2022-07-06 19:17] phot0n commented on #14877
This shouldn't be a problem now with #17159 (i think 🤔) - since it will periodically get cleaned up.

Closing. Please open if required.

[2022-07-06 19:18] #14877 closed, assigned to nobody

[2022-07-06 19:22] #14170 closed, assigned to nobody

[2022-07-06 20:11] cospin opened #17427 "Corrupt four-digit number formatting in forms"
## Description of the issue
If you write a four-digit number, which does not end in zero (1005, 1568, 5896, etc.) and press ENTER, it's converted in the correct format, but when you press the mouse out of the field (focus out), it drops the last 3 digits so for 2456 it becomes "2" and for 1456 it becomes "1", it is also sent when creating/saving a document, making it impossible to put numbers with

[2022-07-06 20:16] cospin commented on #17427
@hasnain2808 can this be related to https://github.com/frappe/frappe/pull/13465 ?

[2022-07-06 20:28] phot0n commented on #8098
validations have been added in the recent versions.

closing.

[2022-07-06 22:07] skjbulcher opened #17428 "Customize Form Doesn't Allow Saving After Throwing An Error"
## Description of the issue

I occasionally end up with a system state that doesn't allow me to save form customizations (/app/customize-form). When this happens, I will see something like this:

![image](https://user-images.githubusercontent.com/16672299/177650040-2df835e3-d339-4f45-bd3b-f4803b6966e4.png)

Of course I refresh the form. However, even if I hit "Update" immediately upon refresh (wit

[2022-07-07 04:09] #17409 closed, assigned to nobody

[2022-07-07 07:33] ankush commented on #17427
@cospin can you share the number format in use on your system settings and currency?

<img width="1301" alt="Screenshot 2022-07-07 at 1 03 08 PM" src="https://user-images.githubusercontent.com/9079960/177717575-690bb03e-925d-4d1f-a12a-36a654414123.png">

<img width="782" alt="Screenshot 2022-07-07 at 1 02 52 PM" src="https://user-images.githubusercontent.com/9079960/177717606-6767f342-4f2c-461f-a7

[2022-07-07 09:10] #17311 closed, assigned to ankush

[2022-07-07 09:15] phot0n commented on #17425
seems to have been fixed by #17426.

closing.

[2022-07-07 09:15] #17425 closed, assigned to nobody

[2022-07-07 09:16] ankush commented on #17425
@bhavesh95863 you don't need to create an issue if you're already sending PR for it.

Issues are created for issue you plan to fix later or unable to fix right now 😄

[2022-07-07 09:17] bhavesh95863 commented on #17425
sure @ankush

[2022-07-07 11:31] ankush commented on #16019
https://github.com/frappe/frappe/pull/17141

[2022-07-07 11:31] #16019 closed, assigned to phot0n

[2022-07-07 11:37] ankush commented on #15846
The object gets replaced with its `__str__`, this is an edge case because generated query was somehow valid; in most cases, it would simplify throw syntax error.

Example
[code]

[2022-07-07 11:37] #15846 closed, assigned to nobody

[2022-07-07 11:57] ankush commented on #8043
AFAIK country isn't translated on country doctype 😅

https://github.com/frappe/frappe/blob/15018b96fa7bc0dcdbea0495608e232354be724d/frappe/utils/install.py#L212-L218

[2022-07-07 12:16] ankush commented on #17369
Tried with restoring records too, unable to reproduce this.

As "refresh" keeps showing on top right it appears to be due to network and not some bug to best of my knowledge.

If you see anything break (check browser console) then maybe we can find root cause of this.

[2022-07-07 12:16] #17369 closed, assigned to nobody

[2022-07-07 12:20] ankush commented on #8725
Most of these appear to be doable with `Notification`, maybe I should just attempt to see how well it can cover these. 👀

[2022-07-07 12:21] nev-21 commented on #17369
Ok thanks for reviewing it

[2022-07-07 12:27] rmehta commented on #8725
yep, should be do-able by notifications and custom scripts now

[2022-07-07 12:35] #17154 closed, assigned to nobody

[2022-07-07 13:08] ankush opened #17441 "Uninstalling app doesn't remove scheduled jobs from that app"
They are removed on the next migrate though.

[2022-07-07 13:10] #14783 closed

[2022-07-07 13:10] ankush commented on #14783
https://github.com/frappe/erpnext/pull/28580

[2022-07-07 13:13] ankush commented on #2024
already there now. Can be specified on doctype schema.

[2022-07-07 13:13] #2024 closed

[2022-07-07 13:21] ankush commented on #14758
Either https://docs.erpnext.com/docs/v13/user/manual/en/customize-erpnext/authorization-rule

or simple server script.

Too niche for framework.

[2022-07-07 13:21] #14758 closed

[2022-07-07 13:29] ankush commented on #14743
Mobile app might not be possible but with PWAs this is technically possible AFAIK.

Moved - https://github.com/frappe/frappe/issues/17442

[2022-07-07 13:29] #14743 closed

[2022-07-07 13:38] ankush commented on #3088
That button is moved below input in v13 redesign

[2022-07-07 13:38] #3088 closed

[2022-07-07 13:40] ankush commented on #14696
that's because one is `DocField` and another is `custom field`, these can't be merged automatically.

[2022-07-07 13:40] #14696 closed

[2022-07-07 13:42] rmmr commented on #17376
Support "group by" in report builder URL. I already support this in my pull request. See

https://github.com/frappe/frappe/pull/17260

[code]

All handled natively.

[2022-07-07 13:46] rmmr commented on #14447
See https://github.com/frappe/frappe/pull/17260 ... fixes this exact issue

[2022-07-07 13:47] rmmr commented on #13143
Fixed by https://github.com/frappe/frappe/pull/17260

[2022-07-07 13:47] rmmr commented on #12046
Fixed by https://github.com/frappe/frappe/pull/17260

[2022-07-07 13:48] rmmr commented on #12037
Fixed by https://github.com/frappe/frappe/pull/17260

[2022-07-07 13:48] ankush commented on #14674
we use python's vanilla logging, you can add whatever log that might be interesting debugging in there.
https://docs.python.org/3/howto/logging.html

Also https://frappeframework.com/docs/v13/user/en/profiling#recorder-sql-profiler

[2022-07-07 13:48] #14674 closed

[2022-07-07 13:49] #4164 closed

[2022-07-07 13:49] rmmr commented on #4807
Fixed by https://github.com/frappe/frappe/pull/17260

[2022-07-07 13:55] #16875 closed, assigned to nobody

[2022-07-07 14:02] ankush commented on #10284
(just based on last 1 year of my experience)

- we don't write new code using `.get` for filtering... maybe some do but mostly it's just comprehensions or worse... loops.
- `doc.get` is prevelant because it tolerates non-existence of values and doesn't throw attribute errors. That's a blessing and curse both depending on how it's used.

Agree with your points though, directly accessing attributes

[2022-07-07 14:24] ioweb-gr commented on #14696
So why are you marking it as complete?

This case caused damage in editing the custom form? If they can't be merged the duplicate should be renamed instead if duplicates are not allowed

[2022-07-07 14:26] ankush commented on #14696
It's just default github has added, I am not specifically marking it as "completed" 🤷

"renameing" isn't good idea either... it's not necessary that both field are intended to store same information.

[2022-07-07 14:32] ioweb-gr commented on #14696
If they can't be merged or renamed and duplicate is not allowed then what remains as option? Interactively asking the user? Hehe

[2022-07-07 16:36] charleslcso opened #17443 "Database columns not deleted"
## Description of the issue
Whenever I Delete field(s) in any DocType under Desk, the field will no longer be visible. Thought they are deleted in the related table. But no, the column(s) are still inside the MySQL table. As you are designing your DocType (adding, updating, removing fields), eventually you will be prompted that the Table Row Size has exceeded.

## Context information (for bug repo

[2022-07-07 16:38] charleslcso commented on #16494
ok

What is bootinfo?

[2022-07-07 18:44] cospin commented on #17427
@ankush here it is:

![image](https://user-images.githubusercontent.com/2880114/177846251-3935e282-bb1c-4af0-a8f3-4f148a0aa4bb.png)
![msedge_d6Z4xz0fQL](https://user-images.githubusercontent.com/2880114/177846303-9944f88a-39d6-421e-b301-98ad91e3baf2.png)

[2022-07-07 18:59] cospin commented on #17427
As this is a bit crucial for the company. I've changed the format in System Settings to be the same as currency, and I think it works fine for now. Thanks!

[2022-07-07 19:18] skjbulcher opened #17444 "Role Permission for Page and Report doesn't work if user does not have access to the report's Ref DocType"
## Description of the issue

Role Permission for Page and Report appears designed to grant access to a report that a user otherwise wouldn't have access to. I.e. anything set up here should override other generic permissions granted or withheld.

My particular use-case: I need to create a report that our Sales Partners can view for a DocType they don't have access to. Sales Partners are set up as

[2022-07-07 19:21] dj12djdjs commented on #17443
As far as I know, this is done intentionally to prevent potential data loss.

If you're removing a column in your app, you can permanently do so via a patch.

See example:
https://github.com/frappe/erpnext/blob/develop/erpnext/patches/v13_0/drop_razorpay_payload_column.py

I'm not sure if this is the case already, but I guess it would make sense the column would be automatically dropped while in `

[2022-07-08 01:11] charleslcso commented on #17443
I'm in developer mode, and not seeing this behaviour.

It is reasonable to not delete the Columns to prevent data loss.

The major issue then is that all Dropped Columns are returned in the Table after saving the DocType!

I'm sure all Columns (new or deleted) are cached somewhere.

What can I do?

[2022-07-08 05:55] surajshetty3416 opened #17449 "Build system for icons"
Currently, all the icons are loaded/used from [`icons.svg`](https://github.com/frappe/frappe/blob/develop/frappe/public/icons/timeless/icons.svg) spritesheet. We need a way to load icons from different app. Users can maintain a folder with list of SVG icons (in their app), and the build system is supposed to create symbols and spritesheet out of it. A library [like this](https://github.com/svg-spr

[2022-07-08 06:05] #8725 closed

[2022-07-08 09:53] toontoet commented on #14177
Seems the same as https://github.com/frappe/frappe/issues/16191

Same problem here using frappe v14 develop

[2022-07-08 10:30] toontoet commented on #14177
In my case I was running my frappe app on docker using the `compose` configuration from this repo: https://github.com/frappe/frappe_docker

The worker containers didn't mount the assets volume so the mail-sending process was unable to locate the `website.bundle.css` from there. Mounting the assets on the workers fixed the issue for me.

[2022-07-08 13:08] phot0n commented on #17443
hey @charleslcso , this behaviour currently doesn't exist (i.e dropping of column while deleting fields from a doctype).
Part of the reason is that when you're developing - it's on your local machine so when it get's deployed on any server or some else uses your app/doctypes, they won't get those columns in their database.

You can go to your mariadb server (`bench --site site_name mariadb`) and d

[2022-07-08 13:08] #17443 closed, assigned to nobody

[2022-07-08 13:12] ankush commented on #17443
There's also  `trim-tables`

https://frappeframework.com/docs/v13/user/en/bench/reference/trim-tables

[2022-07-08 18:20] barredterra commented on #8043
@ankush very possible that this changed in the meantime, or that I was wrong in the first place. Closing for now, I'll check this again.

[2022-07-08 18:20] #8043 closed, assigned to nobody

[2022-07-09 20:06] prononext opened #18635 "When duplicating Document New Custom Translations are not working anymore"
### Information about bug

I noticed the following when I duplicate items with existing custom translations:

- Custom Translations of course are not existent anymore when the field is changed
- When adding new custom translations to a field on the duplicated item, this translations do not work anymore in other doctypes
- they are shown inside the duplicated one, but
- When trying to use them insi

[2022-07-11 06:11] ankush opened #17457 ""Fetch from" UX"
Very often users setup "fetch from" and then forget about it OR someone else notices weird behavior of "setting some field and seeing it get erased"

Probable solution:
- Disable user input on "fetch from" fields where "fetch only if empty" is not checked.
- Some icon to indicate that field will be fetched and user input is discarded

[2022-07-11 06:21] #17247 closed, assigned to nobody

[2022-07-11 06:23] vishwajeet commented on #15465
Hi, is there any plan to fix this soon ?

[2022-07-11 07:41] ankush opened #17458 "V14 migration guide / breaking changes"
Need to update docs and migration guide for breaking changes in v14.

https://github.com/frappe/frappe/wiki/Migrating-to-Version-14

- [x] update python / system dependencies / installation | @gavindsouza
- [x] Update JS dependenicies | @surajshetty3416 (https://github.com/frappe/frappe/wiki/Migrating-to-Version-14#dependencies)
- [x] #16200 | @alyf-de
- [x] #17248 | @ankush
- [x] #17072 | @ankush

[2022-07-11 07:58] phot0n opened #17459 "move 2fa otp keys from DefaultValue doctype to User doctype"
Move the `*_otplogin` and `*_otpsecret` keys from `DefaultValue` doctype to `User` Doctype (to the respective users - probably of fieldtype password and keep it hidden) - as DefaultValue doctype is used to store system/user defaults which don't really include auth tokens/codes.

identified via #17300

[2022-07-11 09:56] AvinashUtekar opened #17462 "not getting search result if only number in like query (REST API)"
**filters=[["Repair Request","name","like","%54%"]]**
this is my filter but it returns zero entries
this happens when only number is present in like query

[2022-07-11 10:01] ankush commented on #17462
Share full query, this doesn't appear to be valid. You're filtering `name` of a child table which is most likely a hash.

`%54` gets converted to `T` during URL decoding, so that might have something to do with it.

[2022-07-11 10:08] AvinashUtekar commented on #17462
@ankush
api/resource/Repair Request?fields=["*"]&filters=[["Repair Request","name","like","%54%"]]

[2022-07-11 10:16] ankush commented on #17462
@AvinashUtekar does this work for you?

`api/resource/Repair Request?fields=["*"]&filters=[["name","like","%2554%25"]]`

Seems to work for me:

[code]

[2022-07-11 10:18] AvinashUtekar commented on #17462
@ankush  yes it is

[2022-07-11 10:22] AvinashUtekar commented on #17462
thanks

[2022-07-11 10:22] #17462 closed, assigned to nobody

[2022-07-11 12:33] phot0n commented on #17459
a case that could be possible is `row limit exceeded` at db level as user documents have a lot of data stored in them already and adding 2 more fields (password uses TEXT underneath) could very likely exceed the row limit

[2022-07-11 17:00] jhouxzirrus commented on #16739
Up front, I'll say I'm new to ErpNext.  Personally, I don't use bootstrap when I roll anything. I don't even believe in CSS _frameworks_.

So maybe I'm off here... but I think a key problem you guys are having is that you rely on bootstrap. Frappe is a UI-intensive application with high reliance on customized tabular views -- you'd be better off with a home-rolled UI solution.  The 12-column limit

[2022-07-11 21:45] jhouxzirrus opened #17468 "List View 'Default' button on Secondary Filters list"
The secondary filters list needs a 'Default' button that changes the filters to whatever has been set to the default.

NOTE: This needs to respect the setting configured via javascript in _frappe.listview_settings[doctype_name]_

![image](https://user-images.githubusercontent.com/64432562/178364049-bc781921-da34-4a22-a6c3-3a599610fe30.png)

[2022-07-11 21:56] jhouxzirrus opened #17469 "List View Sort by Activity -- Or Latest Comment and Latest User Assignment"
The standard Sort options for each doctype should include an "Activity" option that would sort by 'latest activity'... where 'latest activity' is the most recent timestamp from latest comment, user assignment, or doc update.

![image](https://user-images.githubusercontent.com/64432562/178364871-49779e6b-8123-4faf-9498-7c0a52a5815b.png)

If this query seems too bug-prone ( due to all of the input p

[2022-07-11 21:59] jhouxzirrus opened #17470 "Quill Editor Strikethrough"
Strikethrough button needs to be enabled for the Quill editor.  Pleeeeeease!!
It should appear adjacent to the "Bold" and "Italic" buttons.

Also, please add this to the Comment editor as well. All WYSYWIG editors within Frappe should have this.

[2022-07-11 22:07] jhouxzirrus opened #17471 "Automatic Logout Causes "Not Permitted" errors"
When you are automatically logged out, the page looks normal.  There is no indication you've been logged out.  When you try to navigate, you get the "Not Permitted" error.

A "good-enough" fix is probably to expand the error.  Instead of just "Not Permitted", it should say:
"Not Permitted.  If you see this error unexpectedly, make sure you are still logged in."

A better fix would be to show an er

[2022-07-12 06:42] #17382 closed, assigned to nobody

[2022-07-12 10:44] #16749 closed, assigned to nobody

[2022-07-12 13:08] #17470 closed, assigned to nobody

[2022-07-12 13:11] ankush commented on #12843
https://frappecloud.com/marketplace/apps/frappe_tinymce

[2022-07-12 13:19] ankush commented on #7456
Can't reproduce on v13, reopen if still facing this issue.

[2022-07-12 13:19] #7456 closed

[2022-07-12 13:20] ankush commented on #17468
Clearing + reload does that AFAIK.

IMO we shouldn't add one more button there, already crowded and not _that_ useful 🙄

[2022-07-12 13:21] #17468 closed, assigned to nobody

[2022-07-12 14:11] ankush commented on #17441
not a big deal ig since this doesn't affect any other behavior.  🤔

[2022-07-12 14:11] #17441 closed, assigned to nobody

[2022-07-12 14:19] jhouxzirrus commented on #17468
Not that useful???   Maybe to someone who doesn't use the filters often.  For someone who uses them often, the massive time wait to click Clear and then separately click reload and then WAIT for the full reload process (which can be very slow depending on internet connection) is a terrible user experience.

There are presently only two buttons in that group.  Its not crowded.

[2022-07-12 16:28] ankush opened #17486 "Rich line wise diff for version record"
Currently, changes are very difficult to determine (or maybe I am just spoiled by rich diffs of github / delta)

![image](https://user-images.githubusercontent.com/9079960/178544535-93928c3c-531f-482e-b8dc-a71bb00d59a4.png)

on "Version" doctype page show rich line-wise diff

Ideally, this can be achieved using `difflib.unifieddiff` and `difflib.SequenceMatcher` and no external libraries should be

[2022-07-12 17:20] kid1194 opened #17490 "Sidebar misbehaves in RTL layout in Android Opera browser"
Dear Frappe Team,

I just want to let you know that the sidebar misbehaves in RTL layout in Android Opera browser, both in mobile and desktop view. In another browser in mobile view it doesn't open at all, but wotks perfectly in desktop view.

*ERPNext v13*
*Frappe v13*

*Android Opera - Mobile View*
![Android Opera - Mobile View](https://user-images.githubusercontent.com/7622668/178553110-9816e44

[2022-07-12 17:57] ankush commented on #17351
I don't know where to stick these buttons xD

This might have been an ideal place but it's taken up by seldomly used navigation buttons

<img width="647" alt="Screenshot 2022-07-12 at 11 26 56 PM" src="https://user-images.githubusercontent.com/9079960/178560906-2bf0ace5-b644-4d3b-a3b9-4f6df87f0d5d.png">

[2022-07-12 18:26] git-avc commented on #17351
This could be ... Or even inside the menu (3 dot button ...)

![Image](https://user-images.githubusercontent.com/94137451/178567327-0ae85804-3ee5-49da-9a8d-4dc7a5b7a8f9.png)

[2022-07-12 20:44] batonac commented on #11001
Confirming as well. Any workarounds available for quick entry?

[2022-07-13 07:22] charleslcso opened #17496 "DocField Email cannot contain full dot"
## Description of the issue
I'm using API POST to create new Doc. DocType has a field that is Type Data & Options Email.

Every POST is successful if email address is: firstname@email.com.

It will fail if email address is: first dot name@email.com

### Observed result
Cannot API Post

### Expected result
Accept email address of format first dot name@email.com

## Additional information

OS versio

[2022-07-13 07:26] ankush commented on #17496
you mean `first.dot@mail.com` ?

Share cURL snippet if possible, difficult to understand actual request just from the description.

[2022-07-13 07:30] charleslcso commented on #17496
Yes, `first.name@email.com` will fail. `firstname@email.com` will work. Re snippet, please wait.

[2022-07-13 07:53] #17496 closed, assigned to nobody

[2022-07-13 07:54] charleslcso commented on #17496
frappe failed a few times, but now it works with `first.name@email.com`.

I don't know how to check for the errors... so I'll close it for the time being.

[2022-07-13 07:57] #14815 closed, assigned to phot0n

[2022-07-13 08:46] dernippel commented on #14104
I can confirm this as well with version:

ERPNext: v13.35.2 (version-13)
Frappe Framework: v13.35.1 (version-13)

When editing an Item in a quotation it works, but editing the item directly it always resets to the ordered list.

Please re-open.

[2022-07-13 08:50] ankush commented on #14104
Are you all testing this on Item doctype of ERPNext? it has special additional handling and strips out of HTML code (for other reasons)

check stock settings

<img width="1276" alt="Screenshot 2022-07-13 at 2 19 37 PM" src="https://user-images.githubusercontent.com/9079960/178692253-4a09a134-fb63-430b-95fd-6ad001162650.png">

This is not a bug, it's intentional behaviour, uncheck this if you want

[2022-07-13 09:13] dernippel commented on #14104
Unchecking this option in stock settings works for me. I have the expected behavoiur on the item doytype now.

But is this really the intended behaviour? The text editor shows options that are not working as expected. And why do I have the expected behaviour when editing an item in a quotation regardless of this special stock settings option?

Thank you @ankush for your fast hint.

[2022-07-13 09:19] hieutrluu opened #17498 "Error in running setup wizard in V14-beta5"
## Description of the issue
Error in running setup wizard in V14-beta5

1. FileNotFoundError: [Errno 2] No such file or directory: './assets/frappe/js/lib/socket.io.min.js' immediately after opening setup wizard
2. Setup failed Could not find Default Price List: Standard Selling (Could not start up: Failed to install presets) (after input information into the wizard)

## Context information (for b

[2022-07-13 09:23] ankush commented on #17498
Did you update from previous version?

Socketio files were moved around recently. You need to rebuild assets.

`bench setup requirements --node`
`bench build --force`

[2022-07-13 09:31] hieutrluu commented on #17498
No I'm installing a clean site like I mentioned in the issue.

Thank u @ankush. Let me try the fix

[2022-07-13 14:01] szufisher opened #17500 "[bug] list view formatter script does not work for subject field"
## Description of the issue

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. create following client script for Stock Entry, for list,  to translate the subject field stock entry type into local language
[code]

2. goto stock entry list view

### Observed result

![image](https://user-images.githubusercontent.com/12823863/17875240

[2022-07-13 16:40] jhouxzirrus opened #17502 "Send Notification to User Group"
You can send a Notification to a recipient based on document field and by role.

Request: Allow sending to all users in a selected User Group.  This would be enormously useful!

![image](https://user-images.githubusercontent.com/64432562/178786232-28f137d3-b579-4d4e-9352-c74fc66192e7.png)

[2022-07-13 18:16] nev-21 opened #17503 "Child table of another child table"
## Description of the issue
Can't use a child doctype inside another child doctype.
Inside a parent document I click edit button in boxes grid, and i can’t edit it ( because the child table has a Table field).

## Context information (for bug reports)
Frappe 13.34.0
Frappe 14.0.0-beta.4

https://user-images.githubusercontent.com/89469783/178801717-11267424-ec6d-4578-aa3d-59b15a4f37d4.mov

**Output

[2022-07-13 23:26] jhouxzirrus opened #17504 "New Module Is Automatically Added to Existing Module Profiles - SECURITY VULNERABILITY"
ERPNext: v13.18.0
Frappe Framework: v13.17.1

Steps to reproduce:

1) Create a new Module Profile called "Test Module".
2) Uncheck everything except for Core.
3) Save it.
4) Go create a new Module.  Don't check Custom.  Select App ErpNext.  Save it.
5) Go back to "Test Module" and look at the list.  You will see that "Test Module" is checked.

_This is a security vulnerability._  When you add a ne

[2022-07-14 06:37] ankush opened #17505 "Hide charts in standard reports"
https://discuss.erpnext.com/t/how-to-hide-graphs-in-sales-analytics/22851

[2022-07-14 06:59] zongo811 opened #17506 "Documentation error: JS API, List, button, doc.reference_type & doc.reference_name"
## Description of the issue
The sample code for "button" given in https://frappeframework.com/docs/v13/user/en/api/list#standard-list-js is partially wrong.
The properties **doc.reference_type** and **doc.reference_name** are no longer available.

## Context information (for bug reports)
Sample code:
[code]
**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Add sample code s

[2022-07-14 07:01] hieutrluu commented on #17498
Hi @ankush
this do not fix the error
[code]
I am having the same problem after trying the above commands

[2022-07-14 07:06] Craftint opened #17507 "Naming series issue: Data too long for column 'name'"
## Description of the issue
While saving documents with custom naming series, throwing below error:
Data too long for column name

![image](https://user-images.githubusercontent.com/67686213/178920934-aa13d42a-72fd-45b6-8111-eee1c8f6c7e1.png)

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Custom series for journal entry : JV-.YY

[2022-07-14 07:09] ankush commented on #17507
@Craftint is any document naming rule active on the doctype?

[2022-07-14 07:11] ankush commented on #17507
temporary fix remove duplicate dot in your naming series

`JV-.YY.-.{code}..####` -> `JV-.YY.-.{code}.####`

[2022-07-14 07:30] Craftint commented on #17507
No.
I tried document naming rule with same prefix, then it shows error:

![image](https://user-images.githubusercontent.com/67686213/178926715-6559b321-62de-4421-a7e4-9389c5a7ab38.png)

[2022-07-14 07:36] Craftint commented on #17507
Its working! Thanks

[2022-07-14 07:44] #17507 closed, assigned to ankush

[2022-07-14 08:08] ankush commented on #17507
Updating to `13.35.2` of framework should fix this issue

[2022-07-14 12:06] zongo811 opened #17514 "DocType: Unchecking "Allow Rename" does not prevent renaming records"
## Description of the issue
We created DocType "Rechner" and unchecked Naming > Allow Rename, but records can still be renamed.

## Context information (for bug reports)
Unchecked Naming > Allow Rename
![grafik](https://user-images.githubusercontent.com/77285389/178977530-f82ef835-0916-44c1-84f2-14d524abb925.png)

But Rename-dialog opens:
![grafik](https://user-images.githubusercontent.com/7728538

[2022-07-14 12:10] ankush commented on #17514
<img width="929" alt="Screenshot 2022-07-14 at 5 39 39 PM" src="https://user-images.githubusercontent.com/9079960/178979122-72dd8c9e-b9e0-4158-917c-a7b480ef9c09.png">

This is the name, what you edited is a field on doctype 🤔

[2022-07-14 12:16] zongo811 commented on #17514
Thank you for explaining, I thought it's the same when using Auto Name field:xxx.

[2022-07-14 12:16] #17514 closed, assigned to nobody

[2022-07-14 17:23] saleemdev commented on #17506
The document object returned has `doctype` in place of `reference_type` and  `name` in place of `reference_name`.

[2022-07-14 17:50] ankush commented on #17506
That totally depends on which document you're working on, the docs are just example of how passd doc can be used. Fields ofcourse will depend on the doctype.

[2022-07-14 17:56] saleemdev commented on #17506
@ankush I will try to reproduce the issue and get back. Looks like I had not seen the distinction between Form view and List View. Thankyou.

[2022-07-14 18:00] ankush commented on #17506
Ah, this might be because on list view only fields that are shown are fetched IIRC.

[2022-07-15 07:20] rmehta opened #17521 "Page title does not change when going from doc to list"
<img width="837" alt="Screenshot 2022-07-15 at 12 48 00 PM" src="https://user-images.githubusercontent.com/140076/179172448-0298bb2d-c8ae-4dd0-9d80-c5b2ce2d5aa2.png">

[2022-07-15 08:11] ankush opened #17523 "Client script for reports"
Client scripts can be added in form, list view right now.

Customizing the report is not as simple right now. Adding report client scripts would simplify a lot of customization needs.

[2022-07-15 11:44] phot0n commented on #16494
bootinfo is basically the info available on boot (XD). it basically has user/system settings/defaults, etc so that those don't need to be fetched again and again in the whole session.
you can read about it a bit here: https://frappeframework.com/docs/v13/user/en/python-api/hooks#extend-bootinfo

#

PS: I've raised a fix for this issue in the linked pr.

[2022-07-15 12:59] barredterra opened #17524 "Store Unix Time instead of ISO formatted string"
Currently, we store datetime as an ISO formatted string (for example, `"2022-03-23 20:58:40.584444"`).

This has the advantage of being human-readable. However, this comes with the big disadvantage that we don't know what timezone we're talking about. This leads to various problems. For example, when global users are updating documents. Or when the backend updates documents before and after the sy

[2022-07-15 13:01] ankush commented on #17524
It would be better to store normalized UTC timestamp instead? that's what most applications I know do 😅

The usual reason for timestamp over epoch is readability, it has no other cost (what gets stored isn't a "string" anyway)

[2022-07-15 13:27] barredterra commented on #17524
@ankush I find Unix Time to be more elegant, but no strong preference on that. Updated the description accordingly.

[2022-07-15 19:33] hrwX commented on #17524
@barredterra @ankush
- [#13504](https://github.com/frappe/frappe/pull/13504) This PR kinda does the same, all the timezone in the database is stored in the default timezone, which is set during the setup, and then that field in system settings is read-only.
- So if we have to keep the db in UTC, we just have to set UTC in System Settings, and it'll just work!
- But we cannot patch the existing sys

[2022-07-15 20:23] barredterra commented on #17524
@hrwX the problem I had was with records that were created before the setup wizard. They were created "in the future" (Asia/Kolkata) from my perspective (Europe/Berlin). 😄

But yeah, let's default to UTC and remove it from Setup wizard. Sounds like an easy fix 👍

[2022-07-16 10:23] barredterra commented on #17524
What do we do about cronjobs (backups and such)? I guess they are still expected to run, for example, at midnight in a certain timezone?

[2022-07-17 10:57] phot0n opened #17529 "remove awaiting_password from email account doctype"
Instead add an option `no_auth` in `auth_method` field (or something along those lines) as when someone has their own local email server setup they generally don't have/need authentication.

`awaiting_password` has no use other than saving the email account without any password 😛

related: https://github.com/frappe/frappe/issues/5016

[2022-07-17 19:41] moroslantia commented on #18625
**Version**
**ERPNext**: v13.34.2
**Frappe Framework**: v13.34.0

It seems that the URI is not correct, after making a selection with the drop down the URI changes and the **/view/** part is removed.

Adding view part manually back to the URI is a ugly workaround.

[2022-07-17 19:44] moroslantia commented on #14832
**Version**
**ERPNext**: v13.34.2
**Frappe Framework**: v13.34.0

It seems that the URI is not correct, after making a selection with the drop down the URI changes and the **/view/** part is removed.

Adding view part manually back to the URI is a ugly workaround.

[2022-07-17 20:06] bhavesh95863 commented on #16645
@ankush I think this issue is still there. In customize form, if the first field is not a tab break then we have the same issue multiple tab breaks or blank tab breaks.
Actually when we create the workflow for any doctype that time workflow_state field saves at top of customizing form and the form will have an additional tab break with the title of 'Details'.

[2022-07-18 06:09] surajshetty3416 opened #17532 "List of V14 features & enhancements"
## V14 specific PRs
(excluding backported PRs)

<details>
<summary>Refactors</summary>

- #15438
- #15436
- #16196
- #17007
- #16817
- #13985
- #16041
- #16840
- #17331
- #17320
- #16871
- #16540
- #16383
- #17419
- #16715
- #17249
- #15786
- #17493
- #14517
- #17134
- #16030
- #16449
- #17159
- #16935
- #17187
- #16200
- #12334
- #15632
- #15639
- #15597
- #15877
- #17417
- #14272
- #16205
- #138

[2022-07-18 06:24] creamdory opened #17533 ""Read Only" parameter not working for Child Table fields in Dialog"
## Description of the issue

The parameter "read_only" is not working for fields in the child table on a Dialog.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a new dialog
2. Add a table in the dialog. In one of the fields in the table pass a "read_only: 1" parameter.
3. Trigger the dialog and check the field. It is not

[2022-07-18 08:42] akiratfli opened #17534 "no copy feature not working in the AMEND scenario"
## Description of the issue
The no_copy option of doctype whom checked doesn't working when go in the amend scenario.
If I'm checked the No Copy option of field in a doctype, It shouldn't copy this field of value when go into the AMEND scenario.

## Context information (for bug reports)
frappe 13.35.2

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a new doctype.

[2022-07-18 10:43] #17458 closed, assigned to ankush, surajshetty3416, phot0n, gavindsouza

[2022-07-18 11:01] rioshaz commented on #14832
okay I see.. so shouldnt this be fixed in next update...

@moroslantia  also how to make draft emails and where is draft folder ? i cant see ?
can you help buddy..

[2022-07-18 12:11] rioshaz commented on #14832
@ankush  pls look into this buddy,, and ho to get draft folder

[2022-07-18 12:47] #16494 closed, assigned to shariquerik, phot0n

[2022-07-18 13:26] hrwX commented on #17524
The scheduler can run in the midnight of UTC.
Atm I have no clue what sort of issues it could bring for erpnext. Having the system time pinned to a certain country's time like for Frappe Tech, system time would be IST, then we could just run all the jobs in IST irrespective of the users in other timezones.

What do you think @barredterra @ankush

[2022-07-18 13:32] ankush commented on #17524
We can modify the scheduler's timezone to some other configured value if that's only roadblocker. It's a very localized changed in `scheduler.py`

It's better to keep scheduler in local timezone because ERPNext has few events which are best triggered at midnight (imagine birthday reminders, would be weird af to receive them 5 hours before that day starts 😄)

[2022-07-18 14:07] ankush opened #17535 "search index rebuilds pages on each migrate"
This is not required, idk why we rebuild all pages on every migrate. Some kinda timestamp / hash based check can be added to avoid redoing same work over and over again.

[2022-07-18 20:30] jhouxzirrus commented on #17502
This was address on the Discussion site.  It appears that there is no reasonable work-around and that this is a needed feature.
[https://discuss.erpnext.com/t/send-email-notification-to-user-group-and-email-group/91228/4](https://discuss.erpnext.com/t/send-email-notification-to-user-group-and-email-group/91228/4)

[2022-07-19 02:17] #14218 closed, assigned to nobody

[2022-07-19 06:20] #16700 closed, assigned to nobody

[2022-07-19 13:03] ankush commented on #17534
The amendment isn't simply a duplicate, but creating a new version of old document.

This is the intentional behavior.

[2022-07-19 13:03] #17534 closed, assigned to nobody

[2022-07-19 18:04] kid1194 commented on #17306
The reason for such behavior is the difference in `z-index` between bootstrap dialog and sidebar.
The current `z-index` values are:
- bootstrap dialog: `1040`
- toolbar: `9999`

[2022-07-20 06:09] jhouxzirrus opened #17552 "List View Standard Filters Not Cleared After Reload"
Using ErpNext v13.18.0
Using Frappe v13.17.1

**To reproduce the bug:**

1) Go to any doctype List View and set a value in one of the standard filters.
2) Use the Reload menu item to clear cache and reload.

**Expected Behavior:**
The standard fields are all cleared/reset to empty.

**Witnessed Behavior:**
The standard fields have the same values from before the Reload.

**Notes:**
This has seriou

[2022-07-20 06:11] ishanloya opened #17553 "Time formatting display issue in child tables"
In child table grids, time fields are not being displayed correctly in v14-beta

<img width="1030" alt="Screenshot 2022-07-20 at 11 36 55 AM" src="https://user-images.githubusercontent.com/17540310/179909313-492e9a2a-ecd8-41e5-9865-194e26f53f79.png">

[2022-07-20 07:27] Solufyin commented on #17552
Hi @jhouxzirrus,

Which doctype?

[2022-07-20 09:52] ankush commented on #16083
@barredterra @skjbulcher does https://github.com/frappe/frappe/pull/17561 resolve your issue?

[2022-07-20 11:07] nidhipurohit11 opened #17562 "UX: "More" button gets displayed twice on PO>> get item from Material Request modal"
### Information about bug

1. Visit purchase order and click "get items from" > Material Request
2. On modal, the table shows a "More" button
3. Check "Select Material Request Item" once and uncheck it, it will then show 2 "More" buttons.

https://user-images.githubusercontent.com/82337328/179966891-726ef6f7-e65f-4c5c-8e9b-df1ad47a8f68.mov

### Module

buying

### Version

ERPNext: v14.0.0-dev (HE

[2022-07-20 12:10] ankush commented on #17552
this should fix it? (in a way)

https://github.com/frappe/frappe/pull/17525

[2022-07-20 12:21] #16083 closed, assigned to ankush

[2022-07-20 12:24] ankush commented on #14938
https://github.com/frappe/frappe/pull/16130

[2022-07-20 12:24] #14938 closed, assigned to nobody

[2022-07-20 14:05] ankush opened #17565 "some socketio functionality not operating as expected"
- [x] X is Viewing this doc (avatar you see on form views)
- [x] this failing UI test about realtime updates: https://dashboard.cypress.io/projects/92odwv/runs/29631/overview/5838c9eb-a583-4bd8-8873-e782e21fd867  fixed by - https://github.com/frappe/frappe/pull/17567

[2022-07-20 14:09] zongo811 opened #17566 "Client Script, List View: get_indicator not called for status "Draft""
## Description of the issue
I have a submitable doctype and wanted to style the status by using get_indicator(). This works well except for records in status "Draft" where get_indicator() is not called.

## Context information (for bug reports)
I'm using this code
[code]

And get this result:
![image](https://user-images.githubusercontent.com/77285389/180001464-4bf97c77-cd3e-498e-92f5-d3d35aa0d915

[2022-07-20 14:10] ankush commented on #17566
add  `has_indicator_for_draft: 1` in your list view settings.

Updated docs: https://frappeframework.com/docs/v13/user/en/api/list

[2022-07-20 14:10] #17566 closed, assigned to nobody

[2022-07-20 14:23] ankush commented on #17565
The test was passing till yesterday though... wtf 🥴

<img width="742" alt="Screenshot 2022-07-20 at 7 52 44 PM" src="https://user-images.githubusercontent.com/9079960/180006431-6e139e7b-6207-4dfd-abe8-b91e03ebd063.png">

[2022-07-20 14:31] jhouxzirrus commented on #17552
We can mark this issue as closed.

However, we really need to reopen this issue:
[https://github.com/frappe/frappe/issues/17468](https://github.com/frappe/frappe/issues/17468)
It's simply not reasonable for a user to  have to manually clear all the standard filters and then also clear the custom filters list followed by a page reload.  At a minimum, there needs to be Reset button on the custom fil

[2022-07-20 14:32] jhouxzirrus commented on #17468
This issue needs to be reopened.

[2022-07-20 14:39] ankush commented on #17565
Found it, bisecting is _fun_
<img width="820" alt="Screenshot 2022-07-20 at 8 08 58 PM" src="https://user-images.githubusercontent.com/9079960/180010142-ac3c8a70-ccd6-4aec-a524-2f4fb30756ed.png">

[2022-07-20 16:48] barredterra opened #17571 "Stuck on splash screen after update to latest v13"
https://github.com/frappe/frappe/blob/e883564789dec10e01778aa1589de3b60db59aac/frappe/public/js/frappe/desk.js#L315

[code]

`frappe.boot.sysdefaults.date_format` seems to be not available on this instance.

| App     | Version | Branch     | Commit
|--------|--------|-----------|---------
| erpnext    | 13.36.0   | version-13  | 32ba8c7
| frappe      | 13.36.1   | version-13  | e883564

[2022-07-20 16:52] barredterra commented on #17571
Tried `build --force`, `restart`, `clear-cache` and system reboot

[2022-07-20 16:54] TurkerTunali opened #17572 "Excel copy-paste on tables in dialog"
## Description of the issue
Copy-paste in child tables are working. But if table is in dialog, pasting doesn't work.

https://user-images.githubusercontent.com/710051/180039554-4553a940-dd0b-4fa6-b4fd-549023d309fa.mp4

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.Open the Task Tree List.
2.Click to "Add Multiple"
3.Past data fro

[2022-07-20 16:55] ankush commented on #17572
I don't think it was ever designed for dialogs. This is a feature of form/doc grid.

[2022-07-20 16:57] skjbulcher commented on #16083
No, but I think we're making progress. I applied the diff to my development environment (v13.35.0). It allowed me to save and the connection even displays up properly on the Document. However, the connection is always empty, as if there aren't any linked documents. Here's what I mean:

![image](https://user-images.githubusercontent.com/16672299/180038278-3360aa33-84d1-4c57-a182-ce2acfd206bb.png)

[2022-07-20 17:21] #17351 closed, assigned to ankush

[2022-07-20 17:23] ankush commented on #16083
I can't tell much without looking at schema of these things and how link is setup. I updated docs with a working example (that's most common usage too)

https://frappeframework.com/docs/v13/user/en/basics/doctypes/actions-and-links#example-adding-a-new-connection

[2022-07-21 01:09] OneiricIT opened #17574 "Socket.IO Protocol Unsupported Error?"
Ubuntu 20.04.4 LTS
NodeJS 14.20
Redis Server 5.0.7
Frappe 14.0.0-beta.5 (No ERPNext)
Bench 5.12.1
Yarn socket list
![image](https://user-images.githubusercontent.com/22227933/180107348-d34f7e60-d727-49ae-8c62-b09974d08f0e.png)

Browser dev console indicating socket.io protocol error
![image](https://user-images.githubusercontent.com/22227933/180107419-255a6235-0b8f-4e3d-aa6a-785833673733.png)

![i

[2022-07-21 02:54] szufisher commented on #17572
yes, excel copy paste feature only works for form grid (child table)

[2022-07-21 04:00] Solufyin commented on #17552
Hi @jhouxzirrus,

Please update your version and then check it.

[2022-07-21 04:04] govindsmenokee commented on #17571
same here. Also dont see that variable or constant --> (py_date_format) being used anywhere

[2022-07-21 05:46] zongo811 commented on #17566
@ankush  Thank you again Ankush! Would you be so kind and add this to the documentation in https://frappeframework.com/docs/v13/user/en/api/list#standard-list-js ?

[2022-07-21 05:48] ankush commented on #17566
I did add it there, ctrl+f to find it, it's in code example :)

[2022-07-21 06:19] zongo811 commented on #17314
Workaround: call msgprint() from py-file instead of client script.

Don't use this in your_doctype.js:
[code]
Use this in your_doctype.py:
[code]
Downside: the message also appears when you save an instance of YourDoctype from another controller. Use it wisely!

[2022-07-21 06:40] nidhipurohit11 opened #17576 "UI: grid UI glitch when child table is used with column breaks"
- On navigating to Currency Exchange Settings, the default selected service provider shows some request parameters. The checkbox UI is not proper in the child table here.
- Same on changing the service provider.

![Screenshot 2022-07-21 at 12 05 19 PM](https://user-images.githubusercontent.com/82337328/180146253-bf7fb1d7-8f9d-4184-8336-e26c1feab050.png)

ERPNext: v14.0.0-dev (HEAD)
Frappe Framewor

[2022-07-21 06:52] sagarvora commented on #17571
https://github.com/frappe/frappe/pull/17575 attempts to fix this. But restoring rows lost from `tabDefaultValue` from a recent DB dump might be ideal.

[2022-07-21 07:22] marination opened #17577 "translation [minor]: Redundant translation files"
Eg:
lang = "pt-BR"
There are 2 files present for this in frappe and erpnext i.e. **pt-BR.csv** and **pt_br.csv**

I checked which one is actually used (path outputs from load_lang):
![image](https://user-images.githubusercontent.com/25857446/180152652-26b12562-68b4-464e-bb74-f4ca5866c4ce.png)
It loads the exact language code file (**pt-BR**) and also the first half of the language code (**pt** bei

[2022-07-21 07:23] phot0n commented on #17577
had raised a pr - but closed then 😅
https://github.com/frappe/frappe/pull/17557

[2022-07-21 07:24] marination commented on #17577
@phot0n why was it closed 👀 Pretty harmless from what ik unless im missing some hidden magic

[2022-07-21 07:25] phot0n commented on #17577
hadn't properly looked into it - hence was a bit skeptical

will reopen once I clear my ongoing work

EDIT: assigning this to myself

[2022-07-21 07:34] #17571 closed, assigned to ankush, sagarvora

[2022-07-21 07:39] ankush commented on #17571
Update to 13.36.2 to resolve this issue

[2022-07-21 07:45] meetpradeepp opened #17580 "Suddenly CSS missing after restart"
Team,

Our dev instance of v14-0-0 has been missing CSS suddenly. It was working fine all the while.

We tried rebuilding of app as well as overall build & cleaning cache too and it did not help.
[code]
Temporary work around was to copy files to asset folder
`cp -R ./apps/frappe/frappe/public/dist/* sites/assets/frappe/dist/`

Below are the logs snapshot of `bench start`
00:23:40 web.1

[2022-07-21 11:16] sagarvora commented on #17571
After updating to the patched version for Frappe (13.36.2+) and ERPNext (13.36.1+), affected users can identify the lost keys by executing following code in `bench console`:

[code]

[2022-07-21 13:11] zerodiscount commented on #17571
Updated to 13.36.2

Now getting the following error:

Session Start Failed
[Errno 2] No such file or directory: '/home/frappe/frappe-bench/apps/frappe/frappe/core/page/workspace'

[2022-07-21 13:29] zongo811 opened #17582 "DocType, fields: property "Mandatory" cannot be disabled by "Mandatory depends on""
## Description of the issue
In my doctype I "depended" the properties "Visible" and "Mandatory" of the fields "Geburtsdatum" and "Adresse" to a checkbox called "Ausgabe an Mitarbeiter". There is some strange behaviour, please read on...

## Context information (for bug reports)
Property "Mandatory" is set to True for fields "Geburtsdatum" and "Adresse".
With "Display Depends On" and "Mandatory Dep

[2022-07-21 14:48] sagarvora commented on #17571
@zerodiscount
- Please share full traceback.
- Did you previously encounter aforementioned error, i.e. were you on 13.36.1?

[2022-07-21 16:58] Muzzy73 opened #17586 "Display information after clicking any tab break before the last tab break"
Hi @prssanna  This is request to enhance #13036. I am testing the tab break function in V14 frappe. This is how my data structure in a DocType is

Tab break 1
Field 1
Field 2
Tab Break 2
Field 3
Field 4
Section break 1
Field 5
Field 6

When I click Tab  2 I can see data fields 5 and beyond of section break 2. However, when I click Tab 1 all information of Section Break 1 and beyond are hidden. It

[2022-07-21 18:59] skjbulcher commented on #16083
I think there may be a different problem then. I did notice your instructions, but I assumed that I knew what I was doing. However, after actually following them I got it to work, but the form doesn't work the way I expected and there may be other issues with this approach.

This is what I mean:

The form has a "Is Child Table" readonly checkbox. It is automatically checked when the `Link Doctype`

[2022-07-21 21:35] Sagarikanaik96 opened #17587 "Access Control on actions permitted to the user."
**Description:**

Access control enforces policy such that users cannot act outside of their intended permissions. Failures typically lead to unauthorized information disclosure, modification or destruction of all data, or performing a business function outside of the limits of the user.

Tried through Burp repeater using post api method. Here, any doc can be renamed by changing the value of the ‘

[2022-07-22 05:43] zongo811 commented on #17582
Workaround: Don't check property "Mandatory" for affected fields, just enter a condition in "Mandatory depends on". The fields will only be marked as mandatory when the condition is met and the mandatory-rule will be enforced correctly.

[2022-07-22 07:39] Komal-Saraf0609 opened #17590 "Use specific email signature via from field"
The above feature works only when there is no default signature added for the user in the Email section of the user list.

If a default signature is present in the Email section of the user list for the user then on selection of any Email id it always will take the Email signature from the user list.

Refer below screenshots:

![Screenshot 2022-07-22 at 1 00 29 PM](https://user-images.githubuserco

[2022-07-22 09:51] vishdha commented on #18502
https://github.com/frappe/frappe/pull/17591

[2022-07-22 10:09] nidhipurohit11 opened #18636 "Search fields not working on print format builder"
### Information about bug

- Visit Sales/purchase invoice/order >> Print
- Click "Try the new Print Format Builder" on top
- The sidebar shows a "Search Field" option
- This works only for options visible in the view, searching any other option present in the list is not working.

![Screenshot 2022-07-22 at 3 26 48 PM](https://user-images.githubusercontent.com/82337328/180417239-8fc6d929-0df3-4340

[2022-07-22 10:37] ankush opened #17593 "Collection of virtual doctype desk interaction issues"
- [x] remove test Doctype from code https://github.com/frappe/frappe/pull/17598
- [x] Validate and warn if protocol expectations aren't met!
- [ ] clearly document what parts of ORM work with virtual doctypes
- [ ] Desk UX (lots of actions are broken / should be hidden for virtual doctypes)

---

Once you create a virtual doctype if you press on Filter By Assigned To the following error is raised

[2022-07-22 11:47] vvrithof opened #17594 "Issue with float formatting (with solution)"
## Description of the issue

Using this number format: #.###,##
When entering a float docfield, the value displayed switches to #.## (that's ok).
But when leaving the field, the value displayed does not revert back to the #.###,## format unless the value has been modified (in which case it's ok).

## Context information

**Output of `bench version`**
[code]
custom app

## Steps to reproduce the is

[2022-07-22 11:56] #13302 closed, assigned to leela, Thunderbottom

[2022-07-22 11:56] #14950 closed, assigned to nobody

[2022-07-22 12:29] zerodiscount commented on #17571
@sagarvora - I was on 13.35.xx and everything worked fine. 13.36.1 upgrade gave the above stuck on splash screen error - so I opened the thread on the forum. I upgraded to 13.36.2 per above instruction and now I am getting the session start failed error (errno 2). Following is traceback error from browser console:

[code]
[code]

Last week all sites were working fine. I looked at frappe core logs

[2022-07-22 13:13] nidhipurohit11 opened #18141 "UI issue : Payment Entry Transaction ID section"
### Information about bug

For the transaction ID section, the UI is disturbed. Getting extra box below sign field.

![Screenshot 2022-07-22 at 6 31 40 PM](https://user-images.githubusercontent.com/82337328/180446073-bfe3f1c4-2ca6-48ea-82d9-bbd07d156b83.png)

### Module

accounts

### Version

ERPNext: v14.0.0-dev (HEAD)

Frappe Framework: v14.0.0-dev (HEAD)

### Installation method

FrappeCloud

[2022-07-22 14:34] harshit-30 opened #17597 "Web Form issues"
https://user-images.githubusercontent.com/46772424/180461944-2c7e06d6-153e-40df-b5a2-cfbf49ac3dcf.mp4

1. 'New Contact us' I put the title ‘Contact us’ in the title field of the web form. it’s taking ‘New’ by itself.

2. The success message doesn't last even for a sec.. use frappe.throw() instead?

3. the same goes with the error message - it lasts for fractions of sec.

[2022-07-22 17:52] sagarvora commented on #17571
@zerodiscount's  issue has been solved over a call. They had a page called `workspace` that didn't get deleted in [this patch](https://github.com/frappe/frappe/blob/85a3837b14c78816c9647f180d761e09d18bce2d/frappe/patches.txt#L172) for some reason. Deleting it manually solved the issue.

[2022-07-22 19:07] zerodiscount commented on #17571
@sagarvora resetting the 2FA secret - gives the following error when user tries to login again: Encryption key is invalid - please check the site_config.json. The login is stuck on verifying. Removing 2FA for all users - allows login again without encryption key change. Changing the settings again to require 2FA from all users - once again gives the Encryption Key is invalid error..... Just fyi -

[2022-07-22 19:56] sagarvora commented on #17571
I had tested this during development. Tested it again - works flawlessly.

Did you change / remove the encryption key in `site_config.json`? This is supposed to be kept same for the lifetime of your site since Password fields and much more depends on it.

As discussed on call, this seems like an issue specific to your installation. Perhaps due to the OTP app or time difference or installation quir

[2022-07-22 19:59] zerodiscount commented on #17571
No change to encryption key. Pwd works fine without 2FA.

[2022-07-23 06:15] phot0n commented on #17590
https://github.com/frappe/frappe/pull/16507 was backported, hence removed the pre-release label

[2022-07-23 10:19] j0rgan commented on #15271
@tjomtek have you managed to find the permission needed for this particular case that is instructor being able to mark the attendance? thanks!

[2022-07-24 13:47] Alababdiy opened #17600 "Please verify the settings above in MariaDB's my.cnf"
## Description of the issue
i got Please verify the settings above in MariaDB's my.cnf error after i try to create site
## Context information (for bug reports)
[code]

[code]

**Output of `bench version`**
[code]

## Additional information

My OS is Mac OS X  , 10.15.7

[2022-07-25 05:04] yogeshvachhani opened #17603 "Add Horizontal Men (bar) support"
We have started building a simple application in Frappe Framework.

We observed that is only support for Vertical Navigation menu only! Looking at the dynamics of modern world and requirements just giving a Vertical Navigation menu is not sufficient in many cases.

The first thing that we want bedsides the Vertical Navigation menu on the left is a Horizontal Menu(bar) that can be placed on top of

[2022-07-25 06:50] zongo811 opened #17604 "Script Report: Data-Column is right-aligned"
## Description of the issue
I created a script report that contained a float column and a data column. Curiously the data column is right-aligned as float column would be.

## Context information (for bug reports)
![image](https://user-images.githubusercontent.com/77285389/180714111-32e3811e-4ee8-4059-9a68-96b92f8a70a1.png)

Code:
[code]

This always happens when the value in the first row of "A D

[2022-07-25 06:54] BaaridunNasr commented on #17533
Additionally, I have observed the following.

1. Write a custom JS to set a child table field to read-only / hidden / any df property for that matter, based on some condition.
    If the condition is TRUE, the fields are to be set as read-only
    If the condition is FALSE, the fields are to be set as editable(not read-only)
2. Open a document of the doctype under consideration where the condition

[2022-07-25 07:35] OneiricIT commented on #17574
Closing - checked back and now sending as EIO 4. Might not have reset browser cache at time after updating NodeJS version in troubleshooting.

![image](https://user-images.githubusercontent.com/22227933/180722975-6f7d9031-ed64-46b0-b7fe-10aee650981a.png)

[2022-07-25 07:35] #17574 closed, assigned to nobody

[2022-07-25 11:10] barredterra opened #17606 "Different `doc` passed for print preview and PDF"
Dates in `doc` are passed as `str` for rendering the preview and as `date` for rendering the PDF. So if we need special formatting, we have to consider this weird behavior:

[code]

If we only use either one, the preview or the PDF will break.

Ideally, they should consistently be date objects (or strings).

Might be fixed by #15891 (got reverted, so not fixed yet).

[2022-07-25 14:01] Abdo2021-a commented on #17498
@hieutrluu   any solution abouth this issue i have same issue .

[2022-07-25 14:24] BaaridunNasr opened #17611 "permission_query_conditions hook works only for frappe.db.get_list not for the list view of a Doctype"
## permission_query_conditions hook works only for frappe.db.get_list not for the list view of a Doctype.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a hook in hooks.py of custom app as so

[code]

2. Create a simple function definition as so

[code]

3. Run bench migrate

4. Run the following in bench console

[code]

[2022-07-25 14:48] BaaridunNasr commented on #17611
The additional python files hooked in weren't compiled for some reason 🙆‍♂️

[2022-07-25 14:48] #17611 closed, assigned to nobody

[2022-07-25 15:06] #17600 closed, assigned to nobody

[2022-07-25 15:07] Alababdiy opened #17612 "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near"
[code]

[code]
Output of bench version
[code]
Additional information
`My OS is Mac OS X , 10.15.7`

[2022-07-25 15:31] Komal-Saraf0609 opened #17613 "Reload Image button doesnt work"
Try attaching an image and then clicking on the "Reload file" button. The same image will get attached again the attachments section and then when "Clear" button is clicked it doesn't remove the attached file.

Refer the below recording:

https://user-images.githubusercontent.com/81952590/180817095-c3af0e06-eefa-4825-9353-46ba6ee16167.mov

[2022-07-25 15:44] Komal-Saraf0609 opened #17614 "Remove "Image" fieldtype's attach value in filters"
When trying to add a filter with fieldtype as "Image" and the condition box contains "Equals", then the filter shows "Attach" and when you try to attach an image there is no effect of it. The dialog box for filter gets automatically closed.

Refer the below recording for the same:

https://user-images.githubusercontent.com/81952590/180818994-70f37e97-36dc-4ee6-bb84-3ec676ad08d8.mov

Also whenever

[2022-07-25 15:49] Komal-Saraf0609 opened #17615 "Webhook header doesnt get removed when request structure is selected as blank"
If some request structure is selected in the webhook list, it adds it in the webhook headers. But when the request structure is selected as blank it doesn't remove it from the webhook headers.

Refer below recording for the same:

https://user-images.githubusercontent.com/81952590/180820573-3b3f77e2-956f-4bcb-b09b-8da92b08d1ba.mov

[2022-07-25 15:52] Komal-Saraf0609 opened #17616 "Filter dialog box and the dropdown for selecting views overlap"
Refer the below recording:

https://user-images.githubusercontent.com/81952590/180821262-aca91ebe-12f8-4fa4-9354-3716ea6b73e9.mov

[2022-07-25 15:55] Komal-Saraf0609 opened #17617 "Awesomebar doesnt give the expected output"
Even if I type the entire text in the awesomebar, still it doesn't give the expected output.

Refer below recording for the same:

https://user-images.githubusercontent.com/81952590/180821970-4acd8328-0842-4e0c-8a4f-0417566cd246.mov

[2022-07-25 16:00] Komal-Saraf0609 opened #17618 "Custom formatters for text type controls appears very close to the text in chrome"
Refer the below SS for the same:

In Chrome:

![Screenshot 2022-07-25 at 9 28 22 PM](https://user-images.githubusercontent.com/81952590/180822477-23194d4a-2966-48e4-9fdc-3ce85bc68000.png)

As can be seen in the above SS, the emojis appear very close to the text. But in firefox it appears to be correct.

Refer below SS in firefox:

![Screenshot 2022-07-25 at 9 29 56 PM](https://user-images.githubus

[2022-07-25 20:58] Alababdiy commented on #8093
did you find solution ?

[2022-07-26 00:47] jhouxzirrus commented on #15342
The reported behavior could be considered a security vulnerability, since it results in incorrect permissions.

Its also related to this other issue which is most definitely a security vulnerability:
[https://github.com/frappe/frappe/issues/17504](https://github.com/frappe/frappe/issues/17504)

[2022-07-26 01:05] jhouxzirrus opened #17622 "Invalid Password HINT Message is Wrong"
ErpNext & Frappe v13.28

1) On the "User" document, enter a short password like "test".
2) Click Save to save the User.
3) The following message appears:

![image](https://user-images.githubusercontent.com/64432562/180900127-71a03bc2-09f1-4b6a-9fe7-9f1203598ea5.png)

This incorrectly tells the user he needs symbol, number, or password.

4) Change password to "thisisalongtest"
5) Click Save
6) It s

[2022-07-26 05:02] ChillarAnand commented on #16825
Since the author is unreachable, I have raised a support issue for name transfer as per PEP 541.

https://github.com/pypa/pypi-support/issues/2121

[2022-07-26 06:33] phot0n commented on #17612
Hey, can I please know the mariadb version you're using?
using `mysql --version`

it should be 10.3.1 or greater

<img width="649" alt="Screenshot 2022-07-26 at 12 04 52 PM" src="https://user-images.githubusercontent.com/32034600/180939524-2df2a07b-8423-42ba-86d3-439db2e32d0d.png">

[2022-07-26 09:05] ishanloya opened #17624 "Journal entry against sales invoice not updating outstanding amount"
Sometimes when a sales invoice is paid using a journal entry, the outstanding amount doesn't get updated. Moreover, when the linked Journal Entry is cancelled, the invoice gets updated with the reverse entry.

So, for e.g. if an invoice amount is Rs. 3,000, on JV submission outstanding amount remains Rs. 3,000. When the JV is cancelled, the outstanding amount becomes Rs. 6,000 and the sales invoic

[2022-07-26 09:06] #17624 closed, assigned to nobody

[2022-07-26 09:06] ishanloya commented on #17624
ERPNext issue

[2022-07-26 09:43] khushalt opened #17626 "frappe ORM: Separate out frappe ORM as library to integrate with other frameworks"
- frappe ORM is the easiest ORM that i have worked it as easy as we talk with humans
- Its quiet self explanatory syntax to do CRUD operation
- Can we separate out such good framework as separate lib that can be used with frappe core and other frameworks as well

[2022-07-26 10:36] barredterra opened #17628 "Add button to delete Kanban Board"
Currently, we can only create new **Kanban Boards**. We're missing a button to delete a board.

[2022-07-26 19:49] Alababdiy commented on #17612
I move to erpnext 13
it's working fine now

[2022-07-27 07:52] Komal-Saraf0609 opened #17636 "Wrappable code editor"
The wrap for the text in the code editor doesn't work.

Refer below SS:

![Screenshot 2022-07-27 at 1 22 32 PM](https://user-images.githubusercontent.com/81952590/181192692-3318f7b8-1d16-44de-be3e-2123767488be.png)

PR Reference: https://github.com/frappe/frappe/pull/13857

[2022-07-27 08:00] surajshetty3416 commented on #17636
@Komal-Saraf0609 to enable the wrapping, we have to pass "wrap" flag in the `df` of the field. None of our control is initiated with `wrap` flag... it is an optional flag which can be added via some custom JS script.

[2022-07-27 08:00] #17636 closed, assigned to surajshetty3416

[2022-07-27 08:02] Komal-Saraf0609 opened #17637 "Multistep Webforms"
Clicking on the checkbox "Is Multistep form" doesn't make the webform multistep. i.e doesn't give the previous and next button. It simply gives a scrollable form.

Refer below SS:

![Screenshot 2022-07-27 at 1 29 35 PM](https://user-images.githubusercontent.com/81952590/181194099-3a33ea72-c2c3-49ab-87e8-448f2c8a44d4.png)

https://user-images.githubusercontent.com/81952590/181194327-9dc2b616-045a-4

[2022-07-27 08:24] Komal-Saraf0609 opened #17638 "Custom print page size options break the formatting"
Steps to reproduce:
1. Choose custom in print settings and provide width and height of the page.
2. Bulk select docs and click print.
3. Observe the pdf that get generated.

Refer SS:
![Screenshot 2022-07-27 at 1 53 45 PM](https://user-images.githubusercontent.com/81952590/181198992-432ffab4-4d6b-40a5-b961-ca023f77d1ed.png)

![Screenshot 2022-07-27 at 1 54 09 PM](https://user-images.githubusercont

[2022-07-27 11:08] rohansh-tty commented on #16403
I would like to take up this issue, but to be clear you just want to delete the engine field from doctype.json before exporting?
Like running an if-else to check if the engine key is present and then removing it, would that work?

[2022-07-27 11:25] harshit-30 opened #17639 "feat! - contact us settings and contact us page"
Remove `Contact us settings` as it can be easily replaced by Web Forms. It lacks customizations and the overall layout has not been updated in a long time.

We can remove this part and promote Web Forms which have more customizations.

[2022-07-27 14:02] kid1194 commented on #17639
I don't think that it should be removed, but to be improved and have the contact us fields be modifiable like web forms.

[2022-07-27 14:10] kid1194 commented on #17637
@Komal-Saraf0609 I don't think it's a bug. I reviewed the source and everything seems fine. I think that the form must have **Section Break** to split the form into steps/sections.

[2022-07-27 15:36] vvrithof commented on #17594
Related to PR: #13465

[2022-07-27 15:51] Abdo2021-a commented on #17498
@hieutrluu any solution ?

[2022-07-27 17:42] AvinashUtekar opened #17644 "Can we create nested dropdown in frappe pages"
in frappe page we have:
[code]
but i want nested dropdown like :
[code]

[2022-07-27 21:29] CleoMenezesJr opened #17645 "Child tablet's button fields look broken."
## Description of the issue

Because the button has a maximum size, with the value 2 of the column width, there is a lot of space loss.
![Screenshot from 2022-07-27 17-23-09](https://user-images.githubusercontent.com/54215258/181375176-dc21e48c-fc53-4788-94a2-dd85be520c59.png)
When adding a button if it has the column size with value 1, the child table does not ease in crushing it.
![Screenshot fr

[2022-07-27 21:35] #17645 closed, assigned to nobody

[2022-07-28 06:40] nanodev123 opened #17650 "Major Issue: Child table first row gets blank"
Issue Appears when submitting or saving doctypes like (Sales, order, Purchase Order, Invoices, Timesheets)
without refreshing the page,

**First row of child table gets blank and no data is fetched for that row.**
For Eg. _If Item is selected then no fields are populated for that Item (Price, UOM etc)._

This is a Major issue for Company's who are handling large data.
Refreshing the page each & ev

[2022-07-28 06:53] Komal-Saraf0609 commented on #17637
Yeah...but as a user how will I know that my webform should contain Section Break. I think docs need to be updated.

[2022-07-28 07:53] surajshetty3416 commented on #17637
@hrwX

Quite similar concern that I raised during the review
https://github.com/frappe/frappe/pull/14978#issuecomment-985596399

Please update docs or notify users that "Section Break"s will be used for form spliting.

[2022-07-28 15:06] kid1194 commented on #17637
@Komal-Saraf0609 & @surajshetty3416 It's true. It should be stated in the documentation.

[2022-07-28 15:23] Komal-Saraf0609 opened #17659 "Issue with Geolocation control"
Steps to reproduce:

Issue 1:
1. Create a doctype with geolocation control.
2. Try adding a document to it. At the first load you will get the map as empty. Only after clicking on save you will get the expected map.

Refer below SS:

![Screenshot 2022-07-28 at 8 42 33 PM](https://user-images.githubusercontent.com/81952590/181573588-8fc4897e-4df2-4267-9a50-18ca3c0e2db4.png)

Issue 2:
Refer PR: http

[2022-07-28 15:38] Komal-Saraf0609 opened #17660 "Signature field in webform"
Even after the signature is saved, it always allows to keep editing the signature. Also an extra horizontal bar is seen which is probably for showing of the preview, but there is no such indication. At least there could be some placeholder so as to know why that field is present there.

Refer below recording:

https://user-images.githubusercontent.com/81952590/181578944-b7d2e0ae-c129-48b9-b366-bbc

[2022-07-28 15:49] Komal-Saraf0609 opened #17661 "After Saving the document data is multiselect field does not get saved"
Steps to reproduce:

1. Create a doctype with multiselect field.
2. Select data in the multiselect field and try saving the document. The selected data in the multiselect field does not get "Saved".

Refer the below recording:

https://user-images.githubusercontent.com/81952590/181581608-4dd618ad-b4c0-4891-849e-e9960e37334c.mov

[2022-07-28 16:54] jhouxzirrus commented on #12986
Solution proposal:
Either client JS or server code responsible for Workspace Creation should throw an error when you attempt to create a Workspace with a Name that matches a doctype name.

[2022-07-28 17:51] barredterra commented on #17639
If removing, we'll need a patch that creates a corresponding Web Page, to ensure smooth updates.

[2022-07-29 03:08] jhouxzirrus commented on #17502
If nobody else is planning to  work on this, I can do it.

Can it be assigned to me?

[2022-07-29 06:57] Komal-Saraf0609 opened #17667 "Clicking on confirm button after entering new password hangs the screen"
PR reference: https://github.com/frappe/frappe/pull/14281

Clicking on confirm button after entering new password hangs the screen.

Refer below recording:

https://user-images.githubusercontent.com/81952590/181701283-c27a2ba9-13a1-4553-a4b8-1731812f8f9e.mov

[2022-07-29 07:23] surajshetty3416 commented on #17667
Works for me... please check if you entered right "old password"... title of that box is showing "Incorrect Password". It can have better feedback though.

[2022-07-29 07:30] Komal-Saraf0609 opened #17668 "Rating field doesnt work correctlly in list view"
Refer below recording:

https://user-images.githubusercontent.com/81952590/181707815-ba460729-1f18-49df-866b-9a858b20b85d.mov

[2022-07-29 07:32] surajshetty3416 commented on #17661
https://github.com/frappe/frappe/issues/8888#issuecomment-578011759

<img width="648" alt="Screenshot 2022-07-29 at 1 03 06 PM" src="https://user-images.githubusercontent.com/13928957/181708282-dfca4982-d7d2-4db3-9e24-3ca7b0ebaff0.png">

this is [mentioned in the documentation](https://docs.erpnext.com/docs/v14/user/manual/en/customize-erpnext/articles/table-multiselect-field#step-1-create-a-child

[2022-07-29 07:32] #17661 closed, assigned to surajshetty3416

[2022-07-29 07:34] Komal-Saraf0609 commented on #17667
@surajshetty3416 Functionality works for me. Can have better validations, like when I try to put a new password it sometimes gives me hint sometimes not.

[2022-07-29 07:55] Komal-Saraf0609 opened #17669 "Duplicate row shortcut doesnt work for grid"
The shortcut for Duplicate row i.e "Shift+alt+down" doesnt work for grid. Also the spelling for duplicate is wrong.

Refer SS:

![Screenshot 2022-07-29 at 1 22 28 PM](https://user-images.githubusercontent.com/81952590/181711742-0db583c3-56a3-401a-b2cd-a49f83d9962d.png)

Refer below recording:

https://user-images.githubusercontent.com/81952590/181711911-5b52454e-5401-452e-a240-0ed46b2c45f6.mov

Re

[2022-07-29 09:03] barredterra commented on #17659
Was this caused by my PR?

[2022-07-29 11:38] Huehnerbrust commented on #16279
I am experiencing the same problem.

I use Frappe 14-develop without ERPnext and would like to use the Currency field. It always displays with a strange currency symbol.

I opened a thread here: https://discuss.erpnext.com/t/currency-symbol-in-pure-frappe-setup-with-custom-app/92565

[2022-07-29 12:23] #17565 closed, assigned to ankush

[2022-07-29 14:37] ankush commented on #17617
This is sorta expected after we tweaked the algorithm to support acronyms: https://github.com/frappe/frappe/pull/16478

Still doesn't feel natural to not show literally 100% textual match first. Anything possible here @ChillarAnand?

[2022-07-29 14:40] ankush commented on #17615
This is expected behavior. When changing type we know what is supposed to be content type, when  the type is removed we have no knowledge of what content type should be, so we leave the value as is.

[2022-07-29 14:40] #17615 closed, assigned to shariquerik

[2022-07-29 15:22] #17668 closed, assigned to shariquerik

[2022-07-29 19:11] hieutrluu commented on #17498
Hi @Abdo2021-a
Using a backup from v13 works for me
[code]

I hope it work for you
Best regards

[2022-07-29 19:11] #17498 closed, assigned to nobody

[2022-07-31 15:06] anhlevfx commented on #17503
Hello @nev-21 , I'm facing the same issue. Did you find any solution for this?

[2022-08-01 03:57] ishanloya commented on #17553
This seems to have been fixed in v14.0.0-beta.5. Thanks

[2022-08-01 03:57] #17553 closed, assigned to nobody

[2022-08-01 05:58] nanodev123 commented on #17650
@ankush, @shariquerik, @ruchamahabal, @harshit-30, @revant

Any fix available?

[2022-08-01 07:04] ankush opened #17684 "some client side translations not working"
ref: https://github.com/frappe/frappe/pull/17662#issuecomment-1199642192

<img width="1036" alt="Screenshot 2022-08-01 at 12 34 22 PM" src="https://user-images.githubusercontent.com/9079960/182091606-0a02e786-32bc-477e-9c59-e75d2cd5967d.png">

[2022-08-01 07:08] ankush commented on #17684
<img width="1036" alt="Screenshot 2022-08-01 at 12 38 05 PM" src="https://user-images.githubusercontent.com/9079960/182092207-0278c788-eed4-401c-bbf4-a0d1401815f5.png">

works on server side 🤔

[2022-08-01 07:35] ankush commented on #17684
Looks like client-side translations don't follow same logic as server side: https://github.com/frappe/frappe/blob/develop/frappe/translate.py#L179-L211

[2022-08-01 07:54] ankush commented on #17684
@barredterra I think the ones you mentioned isn't working because of dumb client side translation implementation.

Client-side does translations very weirdly:
1. Fetch all source messages from files
2. Apply translations from CSV files

Since you just added translations directly in CSV file source text is nowhere to be found in the code and hence client-side code doesn't send it in messages.

I th

[2022-08-01 08:20] AvinashUtekar opened #17686 "Need to load components asynchronously in frappe pages"
![image](https://user-images.githubusercontent.com/87367466/182104571-fb387a2f-5f50-4d7e-9224-f2d80a750e56.png)

i am loading plotly map after KPI's and it takes more time to load  and till that time page is freezing so how can we load that map component asynchronously so that other component load quickly

[2022-08-01 08:42] muchai opened #17687 "Allow Rename for Doctype Workflow Action Master"
In some cases, it's needed to rename Workflow Action Master data

[2022-08-01 14:48] jhouxzirrus commented on #17603
Maybe I am misunderstanding your request?

ErpNext already has a horizontal menu bar for showing DocType name and View Options (as well as + Add Doctype button) at top of page, underneath the primary breadcrumb menu bar.  I've circled in red in screenshot below:

![image](https://user-images.githubusercontent.com/64432562/182176065-20ab5437-86be-4736-8358-da85d16dbfcc.png)

Did you actually mean t

[2022-08-01 14:59] jhouxzirrus commented on #15271
NOTE:
CRUD Permissions for a doctype do not come from a single role.  They can come from as many roles as one wants.   The error message requested by @tjomtek  would need to say:

[code]

If multiple roles could access the doctype, then the message might look like this (as an example with made-up roles):

[code]

[2022-08-01 17:31] jhouxzirrus commented on #16825
There are major problems with lack of technical documentation and explanations that experienced developers would want to know.  The forum is filled with beginner devs who keep poking buttons until they figure out how to make stuff work.  That is extremely time-costly and infuriates an experienced dev.

Frappe needs better technical documentation explaining bench processes and common experienced de

[2022-08-02 09:11] #17532 closed, assigned to nobody

[2022-08-02 09:14] ankush commented on #17686
I am not sure how this has anything to do with Framework. pages are all custom code written by you, you can implement the async behavior you're talking about in your code.

[2022-08-02 11:49] AvinashUtekar commented on #17686
can you give here some example to load components async way in page?

[2022-08-03 07:58] yogeshvachhani commented on #17603
No I want to show a Horizontal menu bar (probably under current to bar) in which I can add shortcuts to various DocType as per my needs. And this menu should always be visible at all times except when adding a new DocType.

Regards,

[2022-08-03 08:55] BaaridunNasr commented on #17532
Is there any info on when Frappe v14.0.0 will be available in Frappe Cloud?

[2022-08-03 08:57] ankush commented on #17532
@PhantomKunai should be out in the next few days.

[2022-08-03 09:00] BaaridunNasr commented on #17532
Sounds good to me, appreciate your efforts!

[2022-08-03 09:07] OneiricIT opened #17724 "v14 Webform - Doctype depends_on overriding Webform depends_on?"
Consider the following.
- Doctype has a link field with fieldname 'link_field'. 'Display Depends On' is set for this Desk form field - specifically 'eval:doc.other_fieldname'.
- Web form is created for same Doctype. Field 'link_field' is added to the web form and the eval condition is either removed from setting in web form, or altered to another condition. Field 'other_fieldname' is not added in

[2022-08-03 11:46] ankush opened #17727 "Roles cleanup"
There are some ERPNext specific roles in vanilla FW install, these don't make any sense in vanilla framework:

<img width="989" alt="Screenshot 2022-08-03 at 5 16 14 PM" src="https://user-images.githubusercontent.com/9079960/182600187-8cd59f8e-53eb-424d-8cfb-288fd92d1c92.png">

[2022-08-03 14:04] jhouxzirrus commented on #17603
So you want three horizontal bars?  That's a lot of vertical space consumed.  There is already a top primary bar (with the breadcrumbs), and a document bar underneath it (the one I showed in my previous post.

I think you'd be better served to add your additional buttons to the primary menu bar at the very top of the site.  Would this not work?

[2022-08-03 16:53] jhouxzirrus opened #17730 "Show Mandatory Asterisk (star) on Child Table Column Headers"
For the Child Table Editable Grid, it would be really nice if Column Headers had the traditional form star (*) indicating which columns are mandatory.  See screenshot snippet of "Item" table from "Sales Invoice" below.

I marked a star in red since "Item" column is definitely mandatory.  Since Mandatory is already a known property for each of the doctype fields, all we really need is for this to b

[2022-08-03 18:48] git-avc commented on #17730
Hi! It's working properly in v14

![image](https://user-images.githubusercontent.com/94137451/182686186-2212b9b6-a37e-4eec-b86b-e837c9706253.png)

[2022-08-03 19:12] jhouxzirrus commented on #17730
sweeeeeeet!  Thanks!

[2022-08-03 19:13] jhouxzirrus commented on #17730
I'm not going to push for a backport request.  If others want this backported, they're going to have to request it.

Should we mark this as closed?

[2022-08-03 19:58] kylecribbs commented on #10843
Any updates on this? Running into the same thing

[2022-08-04 02:19] ishanloya commented on #16279
The currency symbol is showing correctly for me in the form and in the print view now after upgrading to v14.
However, I see the incorrect symbol (same as @Huehnerbrust) in the report view.

[2022-08-04 04:11] ishanloya commented on #17580
Are you running ubuntu 22? If so, maybe this will help:
https://discuss.erpnext.com/t/erpnext-installation-stuck-in-ubuntu-22-04-lts/90432/7

[2022-08-04 07:27] ioweb-gr commented on #17308
I found it in the website settings, there's the brand logo and footer logo url and app logo url.

If you haven't added them in the previous versions, the system will throw an exception.

In my opinion it should ignore or add a default logo if these values are not set.

[2022-08-04 10:23] #17684 closed, assigned to ankush

[2022-08-04 11:26] dineshpanchal93 opened #17733 "Version - 14 Installation Error"
![14 error](https://user-images.githubusercontent.com/21578167/182835816-eb2e4615-1ee8-4d8b-b9f5-c232cbbf7664.gif)

[2022-08-04 16:35] ankush commented on #17733
Check the bench's console or logs for error traceback. This video doesn't help much cause there's no way to find what actually errored out.

It's failing somewhere in this function: https://github.com/frappe/frappe/blob/60f28abb5a73c6e7837c3edcbd45b549ee3db5b1/frappe/desk/page/setup_wizard/setup_wizard.py#L99-L106

[2022-08-04 16:36] meetpradeepp commented on #17580
Hello,

Its a Oracle Linux server. I have it running successfully but intermittently I lose the CSS. Not sure the exact place where I could investigate. There are no errors during build too.

[2022-08-04 18:11] skjbulcher opened #17735 "Kanban Boards revert column changes made by other users without user interaction"
## Description of the issue

I have users who keep one of my kanban boards open. Recently a newly trained member of our team was organizing card on the kanban board, when he was dismayed to see that the work he was doing was being undone, and the cards were moving back into their original column!

Here is an example where Grant updated a document by moving it between kanban columns while Luke had

[2022-08-04 23:11] OneiricIT commented on #17724
Further, checking on web form itself via frappe.webform.fields the depends_on is seen as set.

![image](https://user-images.githubusercontent.com/22227933/182970258-5f095d7a-fe79-48f2-807c-4855b608be23.png)

[2022-08-05 03:56] jhouxzirrus opened #17736 "UI-Created Custom Client Scripts Are Impractical Due to Deployment Issues"
I am on version 13.18 of ErpNext and haven't gotten to try version 14.  If this issue is no longer relevant in version 14, please let me know and we'll just close out the issue. :)

1) When you create or change a Client Script, end-users will not receive the update until their session expires or they reload.  Either they have to logout and log back in or manually reload.  If this is overlooked and

[2022-08-05 06:51] ankush commented on #17736
Client script update clears the meta cache:
 https://github.com/frappe/frappe/blob/f9bfbfec9843cf3c38c3dbc8b203cc2fcaeb69ca/frappe/custom/doctype/client_script/client_script.py#L7-L12

I've edited them in production many times and they take effect on the first reload (not even forced relead, just normal reload) 👀

[2022-08-05 10:15] e-lobo commented on #12220
any reason frappe tells us to install 10.3 ?
https://frappeframework.com/docs/v13/user/en/installation#macos

[2022-08-05 11:15] P-Froggy commented on #12220
The development docker container uses MariaDB 10.6: https://github.com/frappe/frappe_docker/blob/main/devcontainer-example/docker-compose.yml

Maybe it's just a remnant in the documentation from older versions.

I personally also use 10.6 with Frappe 14 and it's working fine.

[2022-08-05 16:33] Mr-codehunter commented on #17048
Hello everyone,
#16818
I am facing the same problem sidebar is not working.
I think in the Frappe V13.23.0 it will be working properly.
In Frappe V14 it's not working.

[2022-08-06 07:59] jingerpie opened #17743 "Invalid or unexpected token prevent accessing ERPNext Desk"

[2022-08-06 08:11] JingerTea commented on #17743
After upgrading to Frappe-bench V14, ERPNext Desk is stocking at LOGO in production mode. I have looked up others who were also experiencing same issue when they were using Frappe-bench V13 before.

Reference link: https://discuss.erpnext.com/t/erpnext-desk-stuck-at-logo-in-production/81143

[code]
<img width="1175" alt="Screen Shot 2022-08-06 at 3 37 25 AM" src="https://user-images.githubusercont

[2022-08-06 08:14] jingerpie opened #17793 "Invalid or unexpected token prevent accessing ERPNext Desk"
### Information about bug

After upgrading to Frappe-bench V14, ERPNext Desk is stocking at LOGO in production mode. I have looked up others who were also experiencing same issue when they were using Frappe-bench V13 before.

Reference link: https://discuss.erpnext.com/t/erpnext-desk-stuck-at-logo-in-production/81143

[code]
<img width="1175" alt="Screen Shot 2022-08-06 at 3 37 25 AM" src="https:/

[2022-08-06 15:09] trustedcomputer opened #17744 "yarn.lock missing from .gitignore prevents "bench update" without "--reset""
## Description of the issue
running bench update results in the following:
"Cannot proceed with update: You have local changes in app "frappe" that are not committed."

~/frappe-bench/apps/frappe$ git status
On branch version-14
Your branch is up to date with 'upstream/version-14'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <fil

[2022-08-07 08:00] ankush commented on #17744
what is the diff in yarn.lock? `git diff yarn.lock`

It's NOT supposed to be in .gitignore.

[2022-08-07 09:54] #17597 closed, assigned to shariquerik

[2022-08-07 12:52] trustedcomputer commented on #17744
[code]

[2022-08-07 13:25] #17744 closed, assigned to nobody

[2022-08-07 17:10] JeansReal commented on #17183
Can confirm this behavior on v14

last_value is same as value

[2022-08-07 17:34] DrZoidberg09 commented on #17660
Yes, same here with current frappe / erpnext version. Any fix would be highly appreciated.

[2022-08-07 17:40] DrZoidberg09 opened #17749 ""show_title_field_in_link": 1 not working in list view"
With v14 we have the awesome feate of "show_title_field_in_link", which works great in the doctype.

However, it is not working in list view. Is there any chance to it there working as well. I would guess it is meant to work everywhere?

Thank you so much!

[2022-08-08 06:17] ankush commented on #17730
I think this was the fix, not 100% sure: https://github.com/frappe/frappe/pull/16919

[2022-08-08 06:17] #17730 closed, assigned to nobody

[2022-08-08 06:21] ankush commented on #17686
I don't know of many examples in frappe except recorder: https://github.com/frappe/frappe/blob/develop/frappe/core/page/recorder/recorder.js

Basic pattern is:
- Load basic skeleton of page immediately
- Asynchronously call other code that adds the data. You can also asynchronously load code using `frappe.require(... asset path ...)`

Closing, since this isn't a bug but question on custom developm

[2022-08-08 06:21] #17686 closed, assigned to nobody

[2022-08-08 08:08] shariquerik commented on #17724
@OneiricIT I tried replicating the issue, but I was not able to replicate the issue. Can you update Frappe and check again

[2022-08-08 08:11] ankush opened #17750 "Improve documentation"
The most frequent suggestion for improving adoption is updating documentation -  https://github.com/frappe/frappe/issues/16825

This is a (mega) issue for tracking all focused improvements related to the framework documentation. Edit the checklist to add more, if you don't have edit rights then leave a comment. Add your name next to the checklist item to indicate you're working on it.

- [x] Migra

[2022-08-08 08:12] ankush commented on #16825
offtopic but kinda on topic: if you know any specific topics that need focused work on improving docs then drop a comment here: https://github.com/frappe/frappe/issues/17750

e.g. "I can't figure out how to setup realtime event listeners using docs alone"

[2022-08-08 08:39] creamdory commented on #17533
Hi @ankush will this be included in fixing for the next hotfix release?

[2022-08-08 08:40] netchampfaris commented on #17750
Been maintaining a list of topics that I would like to see in the ideal version of Frappe Framework documentation. This list is not exhaustive. Not all topics are missing from the documentation.

## Fundamentals

What is Frappe?
Bench, App, Site

## HTTP

Routing
Rendering & Context
Request & Response
Forms
File Uploads
Cookies and Session
Static Assets
Assets bundler
Exception Handling
CORS

## A

[2022-08-08 08:51] shariquerik commented on #16279
It works fine for me in the latest Frappe v14

Yes, I agree we have to use another Link field which links to Currency to get the correct symbol

Form View:
<img width="543" alt="image" src="https://user-images.githubusercontent.com/30859809/183378789-41c55ffb-c0e8-4227-9bab-2dfb7ff15cce.png">

Report View:
<img width="476" alt="image" src="https://user-images.githubusercontent.com/30859809/1833787

[2022-08-08 08:54] shariquerik commented on #10843
@ryuliantoro @kylecribbs We no longer support v12 please upgrade to v13 or the latest v14. Let me know if you still face the issue. Closing

[2022-08-08 08:54] #10843 closed, assigned to nobody

[2022-08-08 09:07] dgehriger commented on #17793
I'm experiencing the exact same issue.

[2022-08-08 09:26] OneiricIT commented on #17724
@shariquerik thanks for checking - just updated to latest Frappe 14.0.2 - same issue. Creating a new web form and manually completing the same setup, I see the same issue.
I will try creating a new custom app on another fresh install to see if I can re-produce.

[2022-08-08 09:48] gavindsouza opened #17751 "Virtual DocFields"
Docs: https://frappeframework.com/docs/v14/user/en/basics/virtual_docfield

https://github.com/frappe/frappe/pull/14593 introduced a bare-bones feature with limited functionality - only supported via `frappe.get_doc`

Comments have been dropped for suggestions and improvements on the PR thread. I opened this thread to maintain discussion for the same.

[2022-08-08 09:49] gavindsouza commented on #17751
I think these should be rather named as `Calculated Fields`. They are calculated by various mechanisms.

For virtual fields, per name say, scope should be much more open as they should be available for UI manipulation (and not read only).
However, it should be possible for any other field, that is dependent on virtual field or their combination, to be stored in a datable table->column.
Consider a

[2022-08-08 09:49] gavindsouza commented on #17751
I would like to bring up the current state of the implementation as imo it's rather lacking. First issue that I immediately encountered is the List View breaking when a Virtual field is displayed there.

I think including functionality like this is great, but it needs to be done carefully. Currently in the BaseList implementation all fields are immediately converted into a column names (which imho

[2022-08-08 10:14] ankush commented on #17793
@JingerTea can you rebuild assets? Can you click on the first error message to see from where the error message is originating? If you can't share that then perhaps share that desk.bundle file so we can have a look.

to rebuild assets:

`bench build --force`

[2022-08-08 10:29] Abdo2021-a opened #17752 "how i can customize sidebar"
## Description of the issue

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result

### Expected result

### Stacktrace / full error message

[code]

## Additional information

OS version / distribution, `Frappe` install method, etc.

[2022-08-08 10:30] Abdo2021-a commented on #17752
![183301013-d69f8715-d931-4c54-a66a-43fa704cf9d4](https://user-images.githubusercontent.com/82307815/183398389-0bc174a2-7f22-494c-b4cb-4e9ce7c4732d.png)

[2022-08-08 10:30] Abdo2021-a commented on #17752
i need add new field in this side bar how i do that

[2022-08-08 10:40] OneiricIT commented on #17724
Just tested the custom app on another new instance and same issue.
Interestingly, this instance was not in developer mode and when viewing the web form settings I can see the reference to the doctype depends on field. Checking the **actual** webform JSON just pulled for that app, it clearly shows the depends_on as blank 🤨

Will continue testing in a freshly generated app.

![image](https://user-im

[2022-08-08 11:34] OneiricIT commented on #17724
@shariquerik
I was able to reproduce on a custom app (excuse gif washout due to compression). Note I also tested removal of the depends_on condition, and then after resetting the field changed the existing with no effect - webform field still shows original depends_on condition.
![chrome_XlNnGjYzCc](https://user-images.githubusercontent.com/22227933/183408317-b5d48c73-f684-4cf6-b793-c9ae3a3c54b2.g

[2022-08-08 12:00] Tom-Finke opened #17754 "HTML Files / Attachments"
## Description of the issue

When attaching a file with the ".html" extension to a doctype, it cannot be downloaded / looked at.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Open an arbitrary document
2. Attach a .html file over the left context menu
3. Try to open the attached file by clicking on the link

### Observed result

[2022-08-08 12:39] ankush commented on #17752
This isn't natively supported. You can extend using some JS.

Example: https://github.com/frappe/frappe/blob/develop/frappe/public/js/frappe/logtypes.js#L14

[2022-08-08 12:39] #17752 closed, assigned to nobody

[2022-08-08 13:21] Abdo2021-a commented on #17752
thank you so much  i will check ot now

On Mon, Aug 8, 2022 at 2:40 PM Ankush Menat ***@***.***>
wrote:

[2022-08-08 15:28] Abdo2021-a commented on #17752
@ankush thank you it work

[2022-08-08 21:07] kylecribbs commented on #10843
We are on 13.36.3

[2022-08-09 06:31] gavindsouza commented on #17759
* The first CVE is regarding a major version that was first released about 7 years ago. The last fix to it happened 5 years ago. I haven't tried setting it up.
* If you dig further into the second link, you'll see the link to PRs that fix the vulnerabilities.

Both these vulnerabilities have been fixed on currently supported/stable versions.

[2022-08-09 06:31] #17759 closed, assigned to nobody

[2022-08-09 06:37] OneiricIT opened #17760 "v14 Signature Field - Load issue when used on doctype tab or webform multi-step"
Consider the following
- Doctype is using tab breaks. If the signature field is placed in the initial tab opening section - signatures field works. If it is placed in any subsequent tab break, it appears read only until the document is reloaded
- Webform is the same as above though when using 'Is Multiple Step Form'. If on opening page, works. If on subsequent pages, it appears read-only. However

[2022-08-09 06:42] magic-overflow commented on #17751
Virtual Docfield shouldn't be tracked changes.

[2022-08-09 06:56] gavindsouza commented on #14405
`certbot-auto` was deprecated so we had to replace it with `certbot` instead via https://github.com/frappe/bench/pull/1303 (Bench v5.9.0) [Current version v5.14.1 btw]

The commands were never deprecated through Bench, the dependencies were by third parties. The same commands should work just fine @ryuliantoro

[2022-08-09 07:03] OneiricIT commented on #17760
Also there appears to be a CSS width issue with the canvas tag.

https://user-images.githubusercontent.com/22227933/183584316-7b248a21-6501-4f4f-a8fc-1f1c900c660a.mp4

[2022-08-09 08:12] gavindsouza opened #17762 "App Hooks Resolution"
## Description of the issue

Execution of the hooks installed on a particular site ~~follows the alphabetical order of their naming~~ doesn't follow a well-defined order. If an app that starts with the letter 'a''s hooks will always be executed first. There's no other control provided for priority resolution for hooks. If you want an app to override some hook with the highest priority, you'll have

[2022-08-09 09:20] ankush opened #17764 "Quill editor styles in print view"
ref: https://github.com/frappe/frappe/pull/17511 and https://github.com/frappe/frappe/pull/17756

We now retain `data-` attributes but without including styles these aren't rendered as they'd be in respective editors in print views.

Two possible solutions:
- Include styles
- Transform HTML

[2022-08-09 10:35] ankush opened #17769 "lazy server side translations - global objects"
gettext has lazy version, this is useful for storing messages / global variables which make sense syntactically but are problamatic at runtime because they are evaluated only once.

Lazy version of `_` should return a lazy string that gets evaluated to translated version when `__str__` is called on it.

example:

https://github.com/frappe/frappe/blob/c82b6e758ed168ccd2491f9e72cc429fa1cc9d4e/frappe

[2022-08-09 10:41] shinzuco commented on #17793
@ankush https://a.tmp.ninja/wEGASpBM.js
the file attached is desk.bundle.js

[2022-08-09 10:56] ankush commented on #17793
@shinzuco

Some incorrect syntax in built asset files 🤔

<img width="714" alt="Screenshot 2022-08-09 at 4 16 57 PM" src="https://user-images.githubusercontent.com/9079960/183630317-0d450aea-f01b-492d-90ea-616d2637d423.png">

Can you share node version and esbuild versions? @shinzuco

`node -v`

Also your exact commit of frappe and yarn.lock will help. Cause at present I am unable to reproduce the

[2022-08-09 11:05] Sagarikanaik96 opened #17772 "Rate Limit on APIs"
Description

Rate limiting is a process to limit requests possible. It is used to control network traffic. No rate limit is a flaw that doesn’t limit the no. of attempts one makes on a website server to extract data. It is a vulnerability that can prove to be critical when misused by attackers.

The rate limit is not implemented on any of the API endpoints used in the application.

Can we enhance

[2022-08-09 11:27] #15501 closed, assigned to nobody

[2022-08-09 11:32] shinzuco commented on #17793
node : v14.19.0
 "esbuild": "^0.14.29",

@ankush

I tried copying the package json from the latest dev and version 14 builds and rebuilding node_modules after deleting it. Did not help.

 Tried bumping the editorjs version to 2.24.0(from 2.20.0) did not help

 Here are the files you requested. https://a.tmp.ninja/WuMnGJUQ.json
 https://a.tmp.ninja/lyOGwJfi.lock

[2022-08-09 11:37] shinzuco commented on #17793
@ankush Sometimes when i run bench build with or without force, it works. But as soon as i clear cache(ctrl+shift+r) the same exact error returns.

Even when i reinstall, I the desk loads, but as soon the cache is cleared the error returns.

i also updated node to 16.15.0

[2022-08-09 11:51] yamenzk opened #18637 "Issues with the new print format builder."
### Information about bug

Just installed V14, been experimenting with the new print formal builder, AMAZING interface and builder
However, when I attempt to print a format made with the new builder, I get the following error. Which forces me to export as PDF in order to print.
[code]

For the default print layouts the print button functions normally.

Another issue, the image field displays the s

[2022-08-09 11:56] ankush commented on #17772
It's already there: https://frappeframework.com/docs/v13/user/en/rate-limiting

[2022-08-09 12:29] Sagarikanaik96 commented on #17772
But this document tells to add a rate limit on whole. Can we do it as from one system a particular number of times it is allowed.

[2022-08-09 12:33] ankush commented on #17772
have a look at implementation, it's on user/ip: https://github.com/frappe/frappe/blob/develop/frappe/rate_limiter.py

[2022-08-09 13:46] kurtrottmann commented on #17751
Another name can be `Computed Fields` like in:
https://www.edgedb.com/docs/edgeql/select#computed-fields
https://www.prisma.io/docs/concepts/components/prisma-client/computed-fields

[2022-08-09 21:01] dgehriger commented on #17793
Again, very same issue here. Node version is 16.16.0.

[2022-08-09 21:13] dgehriger commented on #17793
I've managed to work around the issue for now by hand editing _apps/frappe/node_modules/@editorjs/editorjs/dist/editor.js_, and replacing `s=1..toFixed,c=Math.floor` by `s=1..toFixed(),c=Math.floor`, and then rebuilding bench.

[2022-08-10 04:08] ishanloya commented on #16279
@shariquerik Yes, you are right. It works if the report has a separate column for currency. Thanks!

[2022-08-10 04:08] #16279 closed, assigned to nobody

[2022-08-10 05:30] rtdany10 commented on #17406
Any update on this? Would love to have an event in Form Script to listen to when the form gets dirty.
@Abhirup-99 @ankush

[2022-08-10 05:49] ankush commented on #17406
@rtdany10 the one that I linked before doesn't work?

Or do you need one-time trigger only? When form first becomes dirty. In that case you'll have to check for `__unsaved` and only trigger it first time. Should be doable easily in `dirty()` function.

[2022-08-10 06:32] rajsaran8 opened #17779 "How to render String with HTML tags and Javascript function from Database to UI using Frappe.renderTemplate function"
## Description of the issue
We are facing frappe.template.compile is not a function while calling frappe.render_template("",this)

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Go to BMR List
2. Select any one of the BMR
3. Click on BMR Template
4.  Select any stage from "select stage" and click on the HTML template

### Observe

[2022-08-10 07:02] ankush commented on #17378
IMO this should just be allowed by default. Going back in history I think this was added only for some ERPNext doctypes (back when two weren't separate projects)

Adding configurations adds complexity, here a very sane default makes sense - always allow deleting root, those who want to prevent it can prevent it in their doctype controller.

[2022-08-10 07:11] ankush opened #17780 "Replace sider integration"
Replace (or drop?)

https://siderlabs.com/blog/sider-review-is-shutting-down/

[2022-08-10 07:41] shinzuco commented on #17793
@dgehriger rebuilding via bench/yarn seems to temporarily load the desk, but using ctrl+shift+r presents the same error

I am using cloudflare, disabled caching and all js optimisations, and now the issue is gone (both this and editing editor.js had to be done)

[2022-08-10 08:59] phot0n opened #17784 "smtp pipelining"
Could be beneficial for perf boost 🤔 (?)

https://www.spamstopshere.com/blog/system-administration/smtp-pipelining
https://datatracker.ietf.org/doc/html/rfc2920

#

does this concept exist for imap/pop3?

[2022-08-10 09:48] phot0n commented on #17378
we could do something like this (?)
https://github.com/frappe/frappe/blob/cadbf91c5874af6b95165d299039cac26eb6cb10/frappe/core/doctype/file/file.py#L30-L31

`allow_root_deletion=False`

[2022-08-10 11:32] BaaridunNasr opened #17788 "Migrating from v13 to fresh v14 installation, unable to comprehend the stack trace when restoring v13 databases"
## Description of the issue

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Frappe, ERPNext and Custom App have been installed in a completely fresh v14 installation
2. Boot up the site without restoring databases
3. Attempt to restore data using bench restore

### Observed result
1. The apps installed without any reported errors

[2022-08-10 13:20] ankush opened #17791 ""add column" in kanban board shouldn't work on non-custom fields"
If this is a fix, should remove "Add Column" in Kanban Board.

_Originally posted by @magic-overflow in https://github.com/frappe/frappe/pull/16157#issuecomment-1210344063_

[2022-08-10 13:35] dgehriger commented on #17793
@shinzuco : I'm also using Cloudflare. Let me disable it for this site to see if it helps.

[2022-08-10 13:45] ankush commented on #17793
I tried with the same exact node (16), esbuild (0.14.29) and editorjs(2.20.0) versions... still couldn't reproduce 😐

I did try replacing built asset with yours and can see the error, but esbuild isn't reproducing the error for me.

I just have one possible hunch: incorrect transpiling. Can any of you change the target to `esnext` here and try rebuilding?

https://github.com/frappe/frappe/blob/cfb

[2022-08-10 13:50] ankush commented on #17788
Is the site functional? I think this a handled exception so it's possibly harmless.

reference: https://github.com/frappe/frappe/blob/cfb56688e92803bfe26d38e57611c4225a5954bf/frappe/database/database.py#L226-L229

Need to suppress this in production environments maybe, @gavindsouza  🤔

[2022-08-10 15:10] ankush commented on #17743
Duplicate https://github.com/frappe/frappe/issues/17793

[2022-08-10 15:10] #17743 closed, assigned to nobody

[2022-08-10 15:14] ankush commented on #17736
This is quite exaggerated  :man_facepalming: Currently, JS is reloaded on the next page reload, that's how MOST sites in the world work, no one I know magically injects new version of JS on the running version of the page.

This is unnecessary complexity IMO. Both client and server scripts are edited a lot when they are created and then change very infrequently. If it keeps changing all the time,

[2022-08-10 15:14] #17736 closed, assigned to nobody

[2022-08-10 16:01] skjbulcher commented on #17735
I don't see any activity on this bug, but it seems pretty important since it reverts changes to data without user involvement. Is there something I don't understand about this functionality?

[2022-08-10 17:14] BaaridunNasr commented on #17788
The site was semi functional, and restarting the server seemed to let me into the server. Even so there seem to be some issues
I got this stack trace while trying to run bench migrate.

[code]

I can understand that its looking for HR Settings under Frappe Core which is now under HRMS, but where do I change it?

My custom app passed bench migrate without any issues since the only reference to the

[2022-08-11 02:37] BaaridunNasr commented on #17788
Well, messing around, I attempted to install the HRMS Module again, and it worked.

🤷‍♂️

[2022-08-11 06:59] BaaridunNasr commented on #17788
I wonder if this has anything to do with the order in which apps are installed.

A pattern I noticed, is that if I attempt to do any kind of database restore / migration, then the installation breaks when hrms app has not been migrated. However, if I simply install HRMS app again on the broken, where the doctypes are updated, it works.

What would I have to do, to control app installation order?

[2022-08-11 07:47] shariquerik opened #17799 "Attachment getting attached on updating any other field"
When attaching an already existing file in Attach Image or Attach field a file document is created with file_url <name><hash>.jpg but the attach_image value is stored as <name>.jpg which is causing an issue.

If we update any other field other than the attach_image or attach another attachment is added

 E.g
	1. File - Tree.jpg 
	2. Attach Image Field Value - Tree.jpg 
	3. File doc created with fi

[2022-08-11 09:49] rmehta opened #17800 "Form Editor"
The goal of this feature is to help the user edit DocTypes fields directly from the form view, rather than from the form view of the DocType.

Key Features:

2. [ ] Create new tabs, sections, columns
4. [ ] Delete tabs, sections, columns
1. [ ] Create and remove fields
3. [x] Move fields (https://github.com/frappe/frappe/pull/17785)
5. [ ] Edit labels, field properties
6. [ ] Group fields and move

[2022-08-11 11:59] tjomtek opened #18638 "DROPbox Integration : Access Token Error"
### Information about bug

When setting up dropbox backup integration in ERPNExt , all steps are followed , however a "access token is required". I can generate one in dropbox its self , however in erpnext there is no field on the front end to popluate the access token:

Looking at the doctype "dropbox settings" I can see three extra fields which are hidden , one of them is the access token , is t

[2022-08-11 13:34] ankush opened #17806 "version diff incorrectly captures int PKs"
have a link field that has int pk
<img width="1051" alt="Screenshot 2022-08-11 at 7 03 56 PM" src="https://user-images.githubusercontent.com/9079960/184145569-a17693ae-4621-4ad3-8cc2-8f42cfc4e33f.png">

[2022-08-11 14:56] Komal-Saraf0609 opened #17808 ""Forgot Password" doesnt work"
Steps to reproduce:

1. Go to the login page.
2. Click on "Forgot Password" link. It will take you to a page which asks for your Email id.
3. After entering the email and clicking on the confirm button it gives an error saying "Please create Email Account".
But if I have forgotten my password how can I create an email account?
One possible solution can be we can change the error message to somethi

[2022-08-12 08:07] gavindsouza opened #17811 "Sugared Document"
### Problem Statement

You want to access or update the `Document` of the link field in code, similar to how you navigate them via Desk. At this point, you'd have to figure out which DocType the link field points to, and then fetch the Document using a get_doc, update it, etc. Too many steps, too much inconvenience.

### Expected Solution

[code]

This design is more intuitive, offers better Devel

[2022-08-12 08:16] gamusinhunter commented on #18579
Facing this same issue on Frappe v14.0.2
Did anyone find out the cause or how to solve it?

[2022-08-12 08:58] ankush commented on #17780
Removed requirement. Dropped it from mergify config too.

- [x] Python - flake8 config is good enough and can be improved... no need for sider
- [ ] JS/others - We need stripped down eslint config for high-impact rules.

[2022-08-12 08:59] gavindsouza commented on #17811
In other related unrelated news, returning DocField-like objects while accessing each field is another experiment (related: [Parsable Fields](https://github.com/frappe/frappe/compare/develop...gavindsouza:parse-field?expand=1)) that's been on my mind (similar to L2 in the above-mentioned IPython console). Each field also maintains its data as `note.title` _("Sales Stats")_ as well as dropping in t

[2022-08-12 09:01] ankush commented on #17808
Your site probably doesn't have an outgoing email account configured, so "reset password" email can't be send.

The message can be improved, "can't reset password because xxx"

Check it on some other site?

[2022-08-12 09:19] dgehriger commented on #17793
@ankush : I have applied your suggested change (`taget: ["esnext"]`), and re-enabled Cloudflare with all of its optimizations.

It does seem to be fixing the error. I will keep it like this for a few days and report back.

[2022-08-12 09:42] gavindsouza opened #17812 "Zero Downtime Migrations"
### Problem Statement

Sites are down for long periods of time during migrations. It sucks that changing the naming series for Access Logs or updating Version table's values brings down the static or web pages too. Websites like frappeframework.com going down for long periods of time is unacceptable and unnecessary...as well as "customer facing" pages like frappe.io or erpnext.com can hurt us / an

[2022-08-12 12:16] Abhirup-99 opened #17813 "Add prettierrc file to all frappe apps,"
This would allow created apps to maintain the same style guide as the original codebase. Would also help in automated and consistent styling in the community-generated PRs to the frappe codebase.

Same for eslintrc or related solutions.

[2022-08-12 12:33] ankush commented on #17813
We don't want to dictate anyone else's style choice and trust me you don't want us to do that. We use tabs for Python which is against widely accepted pep8 specification. This was very old decision and doesn't matter much now.

People are free to copy our configs if they want to: https://github.com/frappe/frappe/blob/develop/.pre-commit-config.yaml

Community contributors just need to setup pre-co

[2022-08-12 12:37] Abhirup-99 commented on #17813
I agree with this opinion, but won't it make sense to have consistency in the formatting guide? That's the point for consistent formatters in my opinion. But I get where you are coming from :).

[2022-08-12 12:38] #17813 closed, assigned to nobody

[2022-08-12 12:50] ankush commented on #17813
I don't get this. Other apps can have their own formatting, heck some frappe apps are formatted with space. It just needs to be consistent in a project or organization... the whole ecosystem doesn't need to follow it.

Also, use https://editorconfig.org/ to make everyone's life easier. I never have to change any config based on project I am working for once it's setup.

[2022-08-12 12:51] ankush commented on #17813
There was another proposal for `.frapperc` which would configure many tools, CI etc from single config file. This can be part of that, but I don't think anyone's actively working on it.

ref: https://github.com/frappe/frappe/issues/17814

[2022-08-12 12:53] ankush opened #17814 "frapperc - one config file to configure opinionated set of CI/tooling for frappe apps"
**Problem Statement**

Similar tools packaged under Frappe and ERPNext repositories: semgrep, docs checker, translation linter, and whatever new stuff we keep adding tools that benefit or aid in building Frappe Apps. Including the spellchecker on ERPNext docs and sidebar sanity checker on Frappe docs repos.

**Expected Solution**

If packaged together under a single repo, it makes maintenance easi

[2022-08-12 13:04] ankush commented on #17814
So we have sort of limited the tools we use now.

- pre-commit - linters and formatters.
- github workflow - tests and some more linters
  - Semgrep - using semgrep pip package (or docker image). This can be merged with pre-commit.
  - unit test, UI test - custom workflows
  - commitlint (one workflow and one config file)
  - docs checker - very niche for frappe. Can be skipped.
  - automated rele

[2022-08-12 14:43] dgehriger commented on #17793
So: the error hasn't reappeared (yet) when accessing from a desktop browser. But then again, it did take a day in the past. However, mobile device browsing is broken as soon as I enable CloudFlare. So I will have to turn it off again, I'm afraid.

[2022-08-12 15:13] szufisher commented on #17811
I tried this 4 years ago https://github.com/frappe/frappe/issues/5306

[2022-08-13 07:01] sagarvora opened #17815 "Error updating custom fields when installing / running patches"
## Description of the issue

`Document.validate_set_only_once` fails when updating a custom field that has been created by someone other than Administrator.

### Stacktrace / full error message

[code]

[2022-08-13 11:06] #17815 closed, assigned to nobody

[2022-08-13 12:32] BaaridunNasr commented on #17788
@ankush

Restoring data from a v13 database to a fresh v14 instance and running `bench migrate`, seems to uninstall or set some apps as uninstalled or not installed. So when patches are run as a result of the `bench migrate` command they take actions assuming that some apps are not installed.

In my case, this check below would fail

https://github.com/frappe/erpnext/blob/develop/erpnext/patches/v

[2022-08-13 12:52] #17788 closed, assigned to nobody

[2022-08-13 19:39] DrZoidberg09 commented on #17749
@nextchamp-saqib can you help here?

[2022-08-13 22:04] jhouxzirrus commented on #17736
Transparent reloading is not the behavior we were witnessing on version 13.18.  Instead, the old version of client script remained active indefinitely until user manually reloaded or logged out.  This caused problems for our users.

I haven't had a chance to test this on newer versions.  For now, the issue can remain closed.

[2022-08-14 15:24] phot0n commented on #17065
Closing. Please reopen if the problem still persists.

[2022-08-14 15:24] #17065 closed, assigned to nobody

[2022-08-14 15:28] phot0n commented on #17181
Hey, it's probably a problem with the email account configuration. Is your email server reachable otherwise?

[2022-08-14 15:31] phot0n commented on #16984
yep - https://github.com/frappe/frappe/pull/17834 should do it :)

closing.

[2022-08-14 20:06] #16984 closed, assigned to nobody

[2022-08-15 07:30] ankush commented on #17687
This is only used in one table on workflow, feel free to send PR.

[2022-08-15 07:57] OneiricIT commented on #17724
@shariquerik touching base to see if you have been able to test / replicate on your end based on posted findings?

[2022-08-16 05:08] #17622 closed, assigned to nobody

[2022-08-16 05:12] surajshetty3416 commented on #17733
@dineshpanchal93 Please re-open with required information.

[2022-08-16 05:12] #17733 closed, assigned to nobody

[2022-08-16 08:30] gavindsouza opened #17844 "Frappe ORM: Issues"
Thread to maintain a list of requirements/good-to-haves for the Frappe Document ORM, DB APIs & the Query Builder(s) [get_list, frappe.qb].

Original Link: https://docs.google.com/document/d/e/2PACX-1vQGquP_XVx8lhMh__CzdDifQHaamhgUVVc1sZO5VcpVv_kONfq8Cwfr5gTN6-Gjc57FpC0T6_WJug9W/pub

----

#### Joins

* There is essentially no syntax for table joins currently. Everything happens under the hood, mag

[2022-08-16 11:29] BaaridunNasr opened #17845 "[Frappe v14] Certain apps not persisting after restoring via database, but the apps are not deleted from the app folder"
## Description of the issue
Restoring a database either uninstalls certain apps or causes them to be set as not installed. Bench version still shows all apps.

## Context information (for bug reports)
Context : Restoring of database from v13 to v14

**Output of `bench version`**
[code]
Bench version still shows all apps as installed though.

## Steps to reproduce the issue

1. Install apps in v14

[2022-08-16 13:03] ankush opened #17846 "boto not py3.10 compatible"
boto added support for py3.10 in 1.18.49

[code]

[2022-08-16 13:04] ankush commented on #17846
This doens't seem to break for me with:

[code]

Failed on @NagariaHussain's local setup though. For him:

[code]

[2022-08-16 22:31] Abdo2021-a opened #17850 "can i show here a calendar view fetched from patient appiontments ?"
![1](https://user-images.githubusercontent.com/82307815/184996444-f198b0e0-444c-4d5a-bdae-2d8e2f22a6fc.png)

[2022-08-17 08:21] muchai opened #17852 "FileNotFoundError: [Errno 2] No such file or directory: './assets/frappe/js/lib/socket.io.min.js' - v14"
Happens every time a form is opened, and on login on v14 and develop branch

[2022-08-17 08:22] muchai commented on #17852
Sites are hosted on FC.

[2022-08-17 12:38] surajshetty3416 commented on #17852
@muchai are you using any custom app which is dependant on `socket.io.min.js`?

**Note:** We have replaced vendored `socket.io.min.js` and its usages via [this PR](https://github.com/frappe/frappe/pull/17289). You'll have to import "socket io client" in your application directly from node modules ([usage reference](https://github.com/frappe/frappe/pull/17289/files#diff-dd7fcd5f23fe69cc946764e2aeb9

[2022-08-17 13:46] Olawale1 opened #17858 "Issue with the Add/Update feature in User Permissions [Critical]"
Hi,

There's a recent issue with the Add/Update feature in User Permissions. This feature is used to Add/Update User Permissions in bulk. After a recent update, the checkboxes for selecting applicable doctypes are no longer visible! Please see screenshot below:

![User Permission Issue 01](https://user-images.githubusercontent.com/9269337/185150234-874a28e4-a8dc-4933-bdb7-8d77dd6dcf0e.png)

Kindly

[2022-08-17 15:26] #17846 closed, assigned to nobody

[2022-08-17 15:29] #17772 closed, assigned to nobody

[2022-08-17 16:02] ankush commented on #17750
re: github wiki

- [x] Migrated / added redirect for related "documentation" worthy pages.
- [x] Deleted obsolete and misleading docs from wiki. Lots of old code and guides that made no sense today.

Kept the migration guide and other tech guides as is like setting up on RDS, Mariadb setup.

Didn't move the migration guide because it's linked everywhere and will be annoying for visitors. Anyway, t

[2022-08-17 17:42] muchai commented on #17852
@surajshetty3416 this issue lies with Frappe chat.
Let me report it there.

[2022-08-17 18:38] aakvatech opened #17866 "perf: DB Index not honored if api/resource/:doctype is used to get the list"
## Description of the issue
When doing URL/api/resource/Delivery Note?filters=[["name", "in", "MAT-DN-00001"]] it generates below SQL
SELECT * FROM `tabDelivery Note WHERE coalesce(tabDelivery Note.name, '') in ('MAT-DN-00001')`

Why is coalesce used here? It does not consider a DB Index if we do this. Instead below one honors the DB index
SELECT * FROM `tabDelivery Note WHERE tabDelivery Note.nam

[2022-08-17 19:32] aakvatech commented on #17866
https://github.com/frappe/frappe/blame/6683adbf56063f3749dd4ef8de8d3319c05f03ab/frappe/model/db_query.py#L663

The ifnull causes index not to be used as it converts into coalesce

[2022-08-17 20:04] aakvatech commented on #17866
If there is a way to set ignore_ifnull on API call then we can avoid the coalesce during filtering by "in"

[2022-08-17 20:12] aakvatech commented on #17866
@yrestom Thanks for identifying

[2022-08-17 22:05] michalls01 opened #17867 "Sending Notifications is related to Error: Document has been modified after you have opened it"
## Description of the issue

When sending a Notification from any DocType (tested with email), this event writes this information to the Timeline.
However, this leads to the Doctype error "Error: Document has been modified after you have opened it" when you need to continue updating and saving this doctype without Reload.

Frappe Framework 13/14

[2022-08-18 06:28] RickyHutanoto opened #17870 "Open Routing Link in new Tab/Browser"
When opening routing link, such in Dashboard section of Form, Account link in Financial Report, it opens in current tab.
Would be beneficial for users if it can be opened in new Tab/Browser. Perhaps something like ctrl-click shortcut from the link.

[2022-08-18 08:32] phot0n opened #17871 "`pluck` with `run=0` in `get_all/get_list` doesn't work"
<img width="1308" alt="Screenshot 2022-08-18 at 2 01 28 PM" src="https://user-images.githubusercontent.com/32034600/185349137-1fff43e4-7ebe-45c8-8bf5-e53ad3f8c094.png">

[2022-08-18 14:09] ankush opened #17976 "perf: new bench image build waits for redis cache to update assets"
bench image building is possibly spending ~15-17 seconds on each app just waiting for redis.

<img width="447" alt="Screenshot 2022-08-18 at 7 36 55 PM" src="https://user-images.githubusercontent.com/9079960/185415803-ade1360a-1d0e-4d9f-97d5-26cf5eba48b5.png">

reference: https://github.com/frappe/frappe/pull/17652

[2022-08-18 17:07] skjbulcher commented on #17735
I am surprised this but hasn't received some attention, since it causes the system to update documents without user interaction or intention.

Is there at anyone who can offer guidance on how to go about investigating this issue and fixing it properly?

[2022-08-19 08:14] gamusinhunter opened #18639 "Opportunity's Event full display not translated"
### Information about bug

With language set as Spanish of German (for testing purposes) both in system and user settings, the full date for Open Events html inside Opportunity doctype in ERPNext shows it in the British format:

![event_display](https://user-images.githubusercontent.com/97673308/185574192-79410b4b-9a8e-46a4-ac56-e5b3087dcebf.jpg)

The expected output should be a full date format t

[2022-08-19 08:23] ankush commented on #17871
pluck with `run=0` makes no sense?

Plucking is not part of SQL / query.

We can handle by avoiding it when run=0.

[2022-08-19 08:43] ankush commented on #17866
https://github.com/frappe/frappe/blob/eaf3aa28ee10274772a3d145c0906714a1521823/frappe/model/db_query.py#L568

This needs to be toggled to false for primary keys _at least._ There are more possible cases too where this causes slow performance and isn't requried.  😅

[2022-08-20 04:35] blewsky commented on #17498
Having the same issue on Frappe Cloud migrating from a V13 backup (using [this approach](https://frappecloud.com/docs/sites/migrate-an-existing-site#migrate-using-site-url)).
Using the bench commands as you suggested @hieutrluu is not applicable here.

[2022-08-20 07:36] ankush opened #17885 "jump to field shows column and section breaks"
This didn't happen before.

<img width="720" alt="Screenshot 2022-08-20 at 1 05 46 PM" src="https://user-images.githubusercontent.com/9079960/185734495-ad99a79f-8069-4367-ad77-3efda0560c2c.png">

branch: develop

[2022-08-20 14:45] mfliorko commented on #3354
I would love to get it fixed as well.

Preferably, before "bench new-site" I can create a new user and grant permissions to a new (empty) database. Then I run a command like:
`bench new-site site10 --mariadb-username frappe --mariadb-password frappe --verbos`

No need to specify 'root' user to create a new frape site if the database already pre-created:
`bench new-site site10 --mariadb-root-userna

[2022-08-22 05:42] ankush commented on #17449
This also reduces first response time as icons can be cached separately by browser after first page load.

[2022-08-22 06:15] #17001 closed, assigned to nobody

[2022-08-22 06:15] #17423 closed, assigned to ankush

[2022-08-22 06:15] #17885 closed, assigned to nobody

[2022-08-22 06:18] Olawale1 commented on #17858
This issue requires urgent attention! I just upgraded to latest and it's still not fixed!!!

ERPNext: v13.36.4 (version-13)
Frappe Framework: v13.38.0 (version-13)

[2022-08-22 07:18] ankush opened #17898 "performance: merge list view requests"
List view sends 3 different requests to render list view page.

- get - get data
- sidebar stats
- count

These three should be merged... This delays the full paint of the page by a lot and also increases the load on the server.

[2022-08-22 07:22] zongo811 opened #17899 "Doctype: Linked Documents do not work with child table"
## Description of the issue
In a Doctype I want to create a link from a Doctype to a child table. My Doctype is called "Monitor".
The child doctype is called "Arbeitsplatz Inventar" (Workplace Inventory) and is embedded in a doctype called "Arbeitsplatz" (Workplace).
The goal is simple: display a Connection in a "Monitor" record that shows on which "Workplace" the monitor is used.
The doctypes are

[2022-08-22 08:07] #17845 closed, assigned to nobody

[2022-08-22 10:55] Tom-Finke opened #17901 "List View HTML Structure for Rows"
**The Problem**
List Entries in the list view are currently structured as follows:
[code]
.level-right holds

- assignee
- last modified
- comments

.level-left Holds all the columns. So far this makes sense
Now, the first column of level-left looks like this:

[code]
So really, the first column holds both the first column AND select and like icon. This just doesn't make sense in my view. And it's

[2022-08-22 16:54] AvinashUtekar opened #17904 "filter by null values"
This feature request regarding filters

Currently we cannot filter records whose specific field is null
eg: `SELECT * WHERE category=null;`

![image](https://user-images.githubusercontent.com/87367466/185975512-0b357017-1372-4f68-843c-8706219de6df.png)

above image is of list view of doctype data where i want you to add two more filters **is null** and **is not null** so that we can filter the dat

[2022-08-23 02:13] takyeyu opened #17905 "[v14] bench update fail"
I am using v14 branch (frappe v14.2, erpnext v14.0)

When I want to do bench update, I got below fail message while complying python files, my bench version is 5.14.1, python version v3.10.6

run

`bench update`

Got

[2022-08-23 02:15] takyeyu commented on #17905
the ^ should be pointed to :=, please share me if you have any experience, many thanks.

[2022-08-23 04:26] mohsinalimat opened #17907 ""exception": "ImportError: cannot import name 'delete_folder' from 'frappe.modules.export_file""
### App Versions
[code]
### Route
[code]
### Trackeback
[code]
### Request Data
[code]
### Response Data
[code]

[2022-08-23 06:07] #17907 closed, assigned to nobody

[2022-08-23 07:32] iamejaaz opened #17912 "override_doctype_class not working for Employee Doctype in version-14"
## Description of the issue
- My custom app overrides stopped working after upgrading to `version-14` 😢 , as the HRMS app already overrides Employee doctype in `version-14`.
- Snapshot of hrms/hooks.py
![image](https://user-images.githubusercontent.com/67804911/186097215-94958e2e-e000-46fb-82bf-699fe7285fb8.png)

![image](https://user-images.githubusercontent.com/67804911/186098261-49729f98-9a82-4

[2022-08-23 07:55] ankush opened #17913 "packages UX"
The package feature has somewhat confusing UX.

- [ ] the linking of custom module with package and then linking package pack to module is required else it doesn't export.
- [ ] Better docs (?)

[2022-08-23 08:18] zongo811 opened #17914 "List View: Deselect items with client script"
**Is your feature request related to a problem? Please describe.**
I added several custom buttons to the list view of my doctype that causes some operations on selected list items. When a operation is finished the list items stay selected. The selection then must be cleared manually by the user before he can select other desired entries for another operation.

**Describe the solution you'd like**

[2022-08-23 08:32] phot0n commented on #17904
Hey, you can use the `is` filter. It will then allow you to check if the field has data or not (is set/is not set).

Closing. Please reopen if required.

[2022-08-23 08:33] #17904 closed, assigned to nobody

[2022-08-23 08:38] Olawale1 commented on #17858
For more clarity, the section outlined in Red is no longer visible!

![User Permission Issue 02](https://user-images.githubusercontent.com/9269337/186112796-f5733a60-066a-433e-949d-8338603b9385.png)

[2022-08-23 09:48] shariquerik commented on #17724
I was able to replicate the issue. I will fix it. Thanks

[2022-08-23 10:19] shariquerik commented on #17650
@nanodev123 The problem only exists in v12. We no longer maintain v12. You can switch to the latest v14 or v13

[2022-08-23 10:19] #17650 closed, assigned to shariquerik

[2022-08-23 10:47] rtdany10 opened #17915 "Issues caused by focusing on child table field on row form render"
https://user-images.githubusercontent.com/52111700/186138975-644a07cd-9e56-4b6b-9190-8de65ad11b79.mp4

Fields often have triggers and focusing on a particular field while opening the edit page of rows can cause those triggers to activate and run client script. Focusing on the field shouldn't be a feature or at least avoid the trigger in such cases.

[2022-08-23 10:49] ankush opened #17917 "Test runner for VS Code"
Running one test from bench is painful af, we should offer simpler option / better integration with most popular code editor.

Reference:
- https://github.com/christherama/django-test-runner - is very similar, the runner code needs to be modified for using bench

Design considerations:
- Make site and flags configurable in settings.

I've written similar extension for vim (_btw_) https://github.co

[2022-08-23 11:26] rmehta opened #17919 "Move Sessions to a DocType ("Session")"
Refactor auth.py by moving the Session object into a DocType

WIP (2019): https://github.com/frappe/frappe/compare/develop...rmehta:frappe:tab-session

[2022-08-23 12:18] ankush commented on #17915
More importantly, these triggers should be idempotent. calling them multiple times shouldn't result in different values 😅

[2022-08-23 12:31] ankush commented on #17912
This isn't a bug, two apps can't override same python controller.

generic version of this issue: https://github.com/frappe/frappe/issues/17762

[2022-08-23 12:31] #17912 closed, assigned to nobody

[2022-08-23 12:38] ankush commented on #17905
Your bench's env isn't using python 3.10

The syntax error is clearly because of incorrect python version. Check which version `/env/bin/python` is. If it's different then `migrate-env` or delete env and start fresh.

[2022-08-23 12:38] #17905 closed, assigned to nobody

[2022-08-23 13:06] phot0n commented on #17310
closing. please reopen if the configuration is correct and the issue still persists.

[2022-08-23 13:06] #17310 closed, assigned to nobody

[2022-08-23 15:27] #17724 closed, assigned to nobody

[2022-08-23 20:17] dj12djdjs commented on #18638
@tjomtek The only reason those fields would be hidden is if they are already set in the site_config.json

If they exist in the site_config.json, you can ether modify the keys there. Or remove them from site_config.json and set them in the dropbox settings form.

For example:
[code]

[2022-08-24 05:00] #17866 closed, assigned to nobody

[2022-08-24 05:52] michellealva opened #17928 "Filters and "Collapse All" button in the Tree view"
- [ ]  **Issue 1:** Right now, in the tree view of cost center and other similar doctypes, I am able to see all disabled records as well. Can we add filters for tree view? If not all filters, then at least an enabled/disabled check?
- [x] **Issue 2:** Secondly, there is an "Expand All" button in tree view which expands the entire tree. Can we also have a "collapse all" button to do the opposite?

[2022-08-24 06:00] nanodev123 commented on #17650
Is it possible to solve this in V12, kind of hack!

Any hints will be helpful !

[2022-08-24 06:42] gn306029 commented on #17533
@creamdory , Hi, I have a same problem, so i try to update base_input.js
https://github.com/frappe/frappe/blob/develop/frappe/public/js/frappe/form/controls/base_input.js

First, I add a custom function "set_readonly()" in base_input.js
[code]

Then call it on refresh_input(), like this
[code]

Now, my dialog child table the specific input is readonly
<img width="1394" alt="截圖 2022-08-24 下午2 35 20

[2022-08-24 07:06] BaaridunNasr commented on #17533
@gn306029 can we override this erroneous function with a custom JS function to include the _fix_ via a custom app rather than modifying frappe code directly?

[2022-08-24 07:26] ankush opened #17933 "Run UI tests as non-admin user"
This will exercise all the perm-related that gets skipped due to "Administrator" user

[2022-08-24 07:45] gn306029 commented on #17533
@PhantomKunai
Hi, I research a frappe source code again, And try to some test
We can add parameter "get_status" to set readonly
like below code
[code]

In https://github.com/frappe/frappe/blob/version-13/frappe/public/js/frappe/form/controls/base_input.js#L83
frappe with according 'disp_status' to disable input
so I check 'disp_status' where can setting it

Then I found https://github.com/frappe/f

[2022-08-24 09:36] #17858 closed, assigned to nobody

[2022-08-24 10:12] ankush opened #17949 "move website search index regeneration to background"
Edit: Refer to the first comment.

---

Right now maintenance mode is disabled after the complete upgrade. This includes search index rebuilding too. The search index can be rebuilt without enabling maintenance mode.

for reference:
- `--skip-search-index` is available to skip it during migrate
- `build-search-index` command is available separately.

This can reduce quite a bit of time on sites ha

[2022-08-24 12:39] ankush opened #17944 "additional 2FA options"
Currently 2FA is only OTP. If you lost it or away from phone then you will be locked out until a sysadmin helps you login again.

Possible alternatives:
- Email the "magic link" for logging in.
- Email OTP for logging in.

Both of these are in addition to user-pass, not replacement for it.

[2022-08-24 12:40] ankush opened #17945 "option to disable user-pass based login"
Use case: I have single signon configured as social login, so I don't want to enable user-pass based login on my site.

[2022-08-24 14:19] ankush commented on #17949
I saw the code for rebuilding search index. I am not entirely sure why we do this synchronously in first place, maybe simpler solution is to just eneuque this as background job.

This regeneration of index is often not even required as the old index is maybe slightly outdated at best.

Even if you miss it completely during update it's not the end of the world.

TODO:
- [x] move this to the backgro

[2022-08-24 14:22] ankush opened #17947 "migrate attempts to delete code inside apps"
[code]

_Originally posted by @revant in https://github.com/frappe/frappe/issues/17847#issuecomment-1225794895_

[2022-08-24 14:23] revant opened #17948 "Error during migration: PermissionError: [Errno 13] Permission denied: 'build.json'"
Ankush pointed to this PR https://github.com/frappe/frappe/pull/17847. It may have introduced it.

[code]

Permission denied because app code is owned by root in docker images.

[2022-08-24 14:59] ankush commented on #17949
[code]

This is just insane! 10 out 13 minutes of update just went in this 🥲

[2022-08-24 23:06] revant commented on #17944
webauthn:

https://pypi.org/project/py-webauthn/
https://github.com/github/webauthn-json

[2022-08-25 07:37] ankush opened #17955 "scroll to field broken when field is in collapsed section"
try to jump to any field which is in collapsed section, it will scroll to section but keep it collapsed and not highlight it either.

[2022-08-25 08:07] nikkothari22 opened #17956 "Fields are not visible in Data Import Map Column modal"
## Description of the issue
The fields (in the import file) in the map columns modal is not visible - they have been hidden by a `display:none` inline CSS style and a `hide-control` CSS class. Currently on Frappe v14.4.1

The import file is an .xlsx

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Start an import with an excel file.
2. Open the Map columns modal

### Obse

[2022-08-25 11:28] zongo811 opened #17961 "Doctype events: validate not called for submitted records"
## Description of the issue
I have a submittable doctype that also contains some fields with property "Allow on submit" checked.
These fields are validated in the python-controller with validate().
But after a record is submitted, validate() is no longer called. Also before_save() is no longer called.

In client script these events aren't called anymore too.

## Context information (for bug report

[2022-08-25 11:50] ankush commented on #17961
You need to user `before_update_after_submit` or `on_update_after_submit`

https://frappeframework.com/docs/v14/user/en/basics/doctypes/controllers#controller-hooks

[2022-08-25 16:08] elba7r opened #17963 "printing has problems with big tables"
## Description of the issue
when we try to print table with items has long description it divide the content between pages which is fine but you can never repeat the table header and the print footer at every page as the table header only appears at the first page and the print footer only at the last page

version 14

[2022-08-25 22:00] maxkolb commented on #13352
Actually I think that this issue should not be closed. I have the same problems with Keycloak OAuth integration. From my point of view this is a frappe bug and has to be solved. It's not feasible to adapt all of the client applications to the frappe way of the OAuth flow (which seems to be wrong anyways).

For more details, see my post on the forums: https://discuss.erpnext.com/t/keycloak-frappe-o

[2022-08-26 05:18] rtdany10 commented on #13352
@maxkolb Agreed, re-opening the issue.

@revant @barredterra Please have a look.

[2022-08-26 06:06] varunblaze opened #17970 "bench migrate failing on kubernetes"
## Description of the issue

  When the ERPNext  is deployed on kubernetes, bench migrate command fails. This is primary because k8s redis services doesn't have a port numbers and specifying a DNS name is enough. But the code is trying to split the config based on ":"

common-site-config.json:

`
{
 "db_host": "common-services-mariadb.common-services.svc.cluster.local",
 "db_port": 3306,
 "redis_c

[2022-08-26 07:04] #17948 closed, assigned to shariquerik

[2022-08-26 10:06] ankush commented on #17919
@rmehta we were discusing what to do with this. At present, I am not sure about what major changes that need to happen besides converting it to doctype...

just doing this for sake of converting to doctype doesn't seem like a worthwhile change.

[2022-08-26 13:10] ankush commented on #17976
This retry isn't necessary for assets at least, we can remove it from FW.

[2022-08-26 13:39] AlbertoSolaro opened #17977 "Missing recipients into reply message when original message have multiple recipients"
It may happen that someone sends emails with multiple recipients in the email that are not in cc.

Example - orginal email
From: foo@bar.com
To: a.b@c.com, d.e@f.com
CC: g.h@i.com

If i am a.b@c.com and i click reply/reply all the reply message generate a email like this:

From: a.b@c.com
To: foo@bar.com
CC: g.h@i.com

The recipients d.e@f.com is not anywhere.

I see that the issue come from this

[2022-08-26 17:31] #17949 closed, assigned to shadrak98

[2022-08-27 18:29] Katzen48 opened #17979 "OAuth2 Email Authentication for Microsoft 365"
**Is your feature request related to a problem? Please describe.**
Frappe does not support OAuth2 email authentication in combination with Microsoft 365) / Exchange Online
Only GMail is supported.
Microsoft is retiring basic authentication in Exchange Online: https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/deprecation-of-basic-authentication-exchange-online

**Descr

[2022-08-28 10:45] erpcloudsystems opened #17980 "Roles Permissions Lost After Site Migration"
Hello,
After every site migration we do, we lose some roles permissions.
We checked the number of records of Custom DocPerm before migration and after migration, and you can check the difference in the attached files.
Please resolve this issue as we face this problem after migrating any site.

![before migration](https://user-images.githubusercontent.com/11355558/187069947-41cc2bbe-fa89-435f-b20e-

[2022-08-29 05:56] ishanloya commented on #12115
This does not seem to be working for me in v14. Had not tried in v13.

[2022-08-29 08:05] Tom-Finke opened #17982 "Connections / Linked Documents Duplicate Field"
## Description of the issue
When creating a new document (target document) using a connection (origin document) using the "+" icon, and the target document has multiple link fields with the origin doctype as link, then all those fields will be filled with the name of  the origin document.

Origin DocType has Connection:
![grafik](https://user-images.githubusercontent.com/66532930/187153593-ac9dcfc

[2022-08-29 16:08] batonac commented on #13962
Dare I re-open this for additional discussion?

There are a variety of business use-cases that would benefit from this functionality. I understand that it's an advanced scenario. With great power comes great responsibility, and I believe that the issue of "inconsistent and bad UX" has as much to do with the individual implementations as anything.

My suggestion is to make allow for any view that's

[2022-08-29 17:01] Shelroy commented on #13411
was this issue ever resolved? I am having the same issue.
erpnext 13.11.1
frappe 13.36.3
Those are the versions of frappe and erpnext I am running

[2022-08-30 07:47] barredterra commented on #13411
Should be resolved. I notice that your erpnext version lags behind the frappe version. Maybe try upgrading both to the most recent release?

[2022-08-30 09:35] nikkothari22 commented on #17956
This has been fixed in Frappe version 14.5.0.

[2022-08-30 09:35] #17956 closed, assigned to nobody

[2022-08-30 09:57] nikkothari22 commented on #17982
Looks like the `set_link_field(doctype, new_doc)` function in the `FrappeForm` class loops over all Link fields in the Target doctype and assigns it the value. It should ideally just use the field mentioned in Linked documents.

https://github.com/frappe/frappe/blob/fbee80f7342ae6345010426be3ea1458dbfc900b/frappe/public/js/frappe/form/form.js#L1872-L1885

[2022-08-30 10:04] nikkothari22 commented on #17945
Should this option be given in the Website Settings document under the Login page section? And the option should be allowed only if a Social Login Key exists?

What if the administrator wants to login?

[2022-08-30 10:13] ankush commented on #17945
Yes, to prevent accidental lock-out.

`bench --site site browse --user Administrator`

System settings would be better option. Login/auth stuff is all over the place but "website" is truly indended for "website" part of framework which doesn't have anything to do with login.

[2022-08-30 10:42] 1ubuntuuser opened #17990 "Embed Document Views Into Workspaces"
This is a feature request instead of a pull request as I'm after:
 - Initial feedback on if this is a good idea and if it is likely to succeed as PR if matured
 - I'm not a frappe veteran and this is a pretty major update so having someone else on board would be great. It's unlikely I could get this to a PR state without help. Most of the heavy lifting is done though.
 - Theoretically the code in

[2022-08-30 11:21] nikkothari22 commented on #17945
Should I create a new section in System Settings called "Login" or "Authentication"?. There are two other sections "Password" and "Two Factor Authentication" as well.

Also, should the user be prevented from deleting all Social Login Keys if password auth is disabled?

[2022-08-30 11:28] ankush commented on #17945
This will be bit much IMO, warning is fine. 😄

[2022-08-30 14:36] darlinho opened #17996 "Create an entry on the ldap from the erpnext dashboard"
**Is your feature request related to a problem? Please describe.**
I currently work in a company where we use typing but also authentication with ldap.  In my approach I was asked if it was possible to have a view with which we can directly perform the operations of CRUD on our erpnext dashboard.

**Describe the solution you'd like**
I want to create, modify and delete an entry in the LDAP directl

[2022-08-30 17:11] magic-overflow opened #17998 "after_request update user session on read_only database connection. Should it be an error?"
Error when run a report.

`Traceback (most recent call last):
  File "/**********************/site-packages/gunicorn/workers/sync.py", line 135, in handle
    self.handle_request(listener, req, client, addr)
  File "/**********************/site-packages/gunicorn/workers/sync.py", line 176, in handle_request
    respiter = self.wsgi(environ, resp.start_response)
  File "/**********************/site

[2022-08-30 17:16] ankush commented on #17998
This is an error, this should not be happening in a read-only session.

I am assuming you've read replica setup? 🤔

[2022-08-30 17:17] ankush commented on #17998
What version you're running?

`MySQLdb` is not in use since long time now 🤔

[2022-08-30 17:18] magic-overflow commented on #17998
yes, and report read data from replica db.
My server is running old frappe and erpnext, v9. So error only happen in MySQLdb ?

[2022-08-30 17:21] magic-overflow commented on #17998
I want to check whether the current frappe v14 with replica db, does it has this error?
By looking the code, it should be error as after_request method update user session to the database.

[2022-08-30 17:22] ankush commented on #17998
That's ancient version 😄 only v13 and v14 are officially supported now.

I don't have a replica setup handy but AFAIK many users use it for reports so it should be working just fine.

[2022-08-31 05:24] nikkothari22 opened #18002 "Breadcrumb when viewing a dashboard should be linked to Module/Workspace rather than Dashboard list"
## Description of the issue

When we create a Dashboard for a particular module, the breadcrumbs on the Dashboard are as follows:

Home > Dashboard > Dashboard Name

<img width="1428" alt="image" src="https://user-images.githubusercontent.com/19825455/187598102-cc890ad0-6f93-4eb7-a9e4-eabd90b5d6e0.png">

This is very confusing for the users because they cannot go back to the workspace where they e

[2022-08-31 05:40] nikkothari22 commented on #18002
Upon checking the codebase, I think we could have a field in the Dashboard form where they can choose the Workspace/Page this dashboard belongs to. Then on page render, we fetch the Workspace name and add the breadcrumb. If no workspace is selected, we can default to the Dashboard list.

[2022-08-31 07:05] #17955 closed, assigned to nobody

[2022-08-31 09:14] takyeyu commented on #17905
My /env/bin/python version is 3.10.6

----------------------------------------------------------------------------------------

*** Error compiling '/home/frappe/bench/apps/frappe/frappe/utils/response.py'...
  File "/home/frappe/bench/apps/frappe/frappe/utils/response.py", line 226
    if can_access := file.is_downloadable():
                   ^
SyntaxError: invalid syntax

*** Error compiling '

[2022-08-31 11:49] ankush opened #18004 "Support mapping in HSET (redis)"
https://redis-py.readthedocs.io/en/stable/commands.html#redis.commands.core.CoreCommands.hset

Redis HSET supports passing mapping or items of key:value pairs to set lots of keys in single command.

Alternative:
- loop over and set one by one

Caveats:
- We pickle.dump things before setting... make sure whatever is HSET using mappings works in similar manner as key-value when doing HGET.

[2022-08-31 11:54] ankush opened #18005 "redisearch wrapper for index and suggestions"
Redisearch is present in redis-py directly now, ref: https://github.com/frappe/frappe/pull/17921

But the APIs are low and high level (all over the place)... You create index with high level create_index function but then add values using `HSET`? WAT? None of this is "cohesive" or easy to understand for users.

A simple API for operating on index and suggestions is required.

[2022-08-31 12:51] barredterra commented on #17979
One of our customers also struggled with this.

@phot0n tagging you, as you implemented this for Google.

[2022-08-31 13:24] Alchez commented on #17979
@Katzen48 @barredterra I had tried implementing Azure B2C in Social Login Key (#15442) about a year ago, but I couldn't work on it after. I don't know if anything can be salvaged from there, but I'll put it here for visibility.

[2022-08-31 13:31] #15304 closed, assigned to nobody

[2022-09-01 07:32] tjomtek commented on #18638
Thanks dj12djdjs
After trying a couple of methods i get the follow error on trace back :

Traceback (most recent call last):
  File "/home/erpnxtadmin/frappe-bench/env/lib/python3.7/site-packages/urllib3/connectionpool.py", line 706, in urlopen
    chunked=chunked,
  File "/home/erpnxtadmin/frappe-bench/env/lib/python3.7/site-packages/urllib3/connectionpool.py", line 382, in _make_request
    self

[2022-09-01 07:34] phot0n commented on #16770
- [ ] remove from docfield, custom field
- [ ] update json files which have `Read Only` fieldtype (probably a way to handle it since updating json files will not be possible for all the custom apps)
- [ ] remove from client side
- [ ] patches for updating `Read Only` fieldtype to `Data` fieldtype + `Read Only` property

[2022-09-01 08:59] #16297 closed, assigned to nobody

[2022-09-01 09:36] Tom-Finke opened #18009 "List View Hidden Columns"
**Is your feature request related to a problem? Please describe.**
in the list view, cur_list.data holds all displayed data rows. These Rows contain all columns set to  "In List View" in the Doctype Definition. Also, all Columns set to "In List View" are of course displayed. Sometimes we need to have the information of the column, but don't want it to be displayed.
**Describe the solution you'd li

[2022-09-01 10:55] ankush commented on #17669
Works just fine. This works when child table is collapsed.

fixed typo https://github.com/frappe/frappe/commit/48425c16369a56b2be8f7e158466353b28a8aaf5

[2022-09-01 10:55] #17669 closed, assigned to rohitwaghchaure

[2022-09-01 11:00] ankush commented on #17637
Add page breaks to get multiple pages. This works just fine now after last fixes from @shariquerik

[2022-09-01 11:00] #17637 closed, assigned to hrwX

[2022-09-01 18:12] muchai opened #18022 "TypeError: 'str' object does not support item assignment opening old leads and opportunities"
### Information about bug

Pops up when

### Module

CRM

### Version

ERPNext: v14.0.0-dev (HEAD)
Frappe Framework: v14.0.0-dev (HEAD)
HRMS: v0.0.1 (HEAD)
Frappe Insights: v0.1.0-beta (HEAD)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-09-02 05:53] shariquerik opened #18019 "Year doesn't match in Heat Map in User Profile Dashboard"
<img width="1070" alt="image" src="https://user-images.githubusercontent.com/30859809/188068102-e1044d2e-dd2a-49e4-b837-108a1b830790.png">

Also, cannot see data from Jan - Dec may be because of incorrect year

[2022-09-02 11:19] sagarvora commented on #18022
@muchai This issue is happening because you have a column with same fieldname as one of the child tables in the parent doctype (**Lead / Opportunity**)

Since https://github.com/frappe/frappe/pull/16540, `doc.extend` accepts all iterable values, not just `list`. I think in your case, the column in the parent doctype has a string value, hence the issue.

[2022-09-02 12:05] sagarvora commented on #18022
Duplicate of https://github.com/frappe/erpnext/issues/31800

[2022-09-02 12:05] #18022 closed, assigned to sagarvora

[2022-09-02 12:17] #17243 closed, assigned to nobody

[2022-09-02 13:31] ankush opened #18024 "workspace deleted when app is uninstalled"
Hi ankush,

Since latest version all workspaces are deleted (json file on repository) when uninstalling the custom app
Shouldn't we also check if we are not in "uninstall" mode in  "disable_saving_as_public" method?

def disable_saving_as_public():
	return (
		frappe.flags.in_install
		or frappe.flags.in_patch
		or frappe.flags.in_test
		or frappe.flags.in_fixtures
		or frappe.flags.in_migrate
		*

[2022-09-02 18:10] #17378 closed, assigned to phot0n

[2022-09-03 07:15] ankush commented on #5417
Autoreloading py files works just fine now. We just rely on werkzeug's reloader.

[2022-09-03 07:15] #5417 closed

[2022-09-03 07:22] ankush commented on #4936
we don't support IE, microsoft doesn't support it either.

Supported browsers:
- Chrome and chromium derivatives like Brave, Edge.
- Firefox and derivatives.

https://erpnext.com/mobile

[2022-09-03 07:22] #4936 closed

[2022-09-03 07:56] nikkothari22 commented on #18019
Ideally, if the year is selected as 2022, then it should show the data from 1st January 2022 to whatever is the latest date (year to date) right? Currently it shows data from the previous year to current date (so 365 days before current date). Is that the expected behaviour? If it is, shouldn't the dropdown label be "Last 365 days" rather than "2022"?

[2022-09-03 08:03] nikkothari22 commented on #17867
Hey @michalls01 ,

I wasn't able to reproduce this bug.

I did the following:
1. Opened an existing document
2. Sent an email
3. Edited a field in the document and clicked Save.

This did not throw the error. I tried it on Frappe v13.38.0.

[2022-09-03 08:50] nikkothari22 commented on #17750
Not sure if this helps but I created a public Postman API collection for API's available in Frappe Framework to collaborate with my team. We regularly add to the collection when we find new API's.
This is the [JSON link](https://www.getpostman.com/collections/867ffa1040204ba88a1c) to the collection in Postman.

We can also add this into the Frappe framework docs with a "Run in Postman" button.

[2022-09-03 12:11] #18024 closed, assigned to shariquerik

[2022-09-03 15:36] erpcloudsystems commented on #17980
Any updates??

[2022-09-04 06:00] #17976 closed, assigned to nobody

[2022-09-04 06:41] ankush opened #18027 "Quill not minified properly"
Quill takes up about 0.9 MB of space in default bundles. (control bundle)

<img width="541" alt="Screenshot 2022-09-04 at 12 08 18 PM" src="https://user-images.githubusercontent.com/9079960/188300859-83f92ac1-226b-4d94-b8a8-3abcc86064f5.png">

If you open minidifed control bundle (production) it's just plain code eval-ed. sooooo not really "minified"

<img width="1289" alt="Screenshot 2022-09-04 a

[2022-09-04 11:58] Samsul580 opened #18028 "Support phone fieldtype on web form"
#### When I fill up 'User Info' web form. There was no option for selecting country code in the phone field. Then I try to save without country code. But without country code I can't save.

![photofunny net_](https://user-images.githubusercontent.com/52578170/188311280-ef2afb10-fc91-46f9-8141-0c7dff458689.jpg)
#### Then I add country code by typing in the phone field. That's the time I was able to

[2022-09-04 12:34] phot0n opened #18029 "move `nestedset.py` from `frappe.utils` to `frappe.model`"
It's better suited to be under `model` dir.

- [ ] make sure it's backwards compatible (already existing tree doctypes shouldn't suffer from any breakages - that includes the imports, helper/utility functions & whitelisted methods)
- [ ] all the newly created standard doctypes should inherit from `frappe.model`

[2022-09-04 18:32] DrZoidberg09 commented on #17760
@netchampfaris @ankush
Do you have any idea what broke this in v14?

[2022-09-04 22:55] abhioncode opened #18031 "Misalignment in Table when placed after Column Break"
![Screenshot 2022-09-04 185313](https://user-images.githubusercontent.com/85059961/188336549-e72bea24-0e03-4615-aa75-6beb565edfc6.png)

Hi, I noticed in version 14 that when I add a table after a column break the default checkbox that comes with the data table, gets pushed outside the margins. This does not happen when the table takes up the full width of the card. But does occur in smaller spaces

[2022-09-05 05:44] ankush commented on #18031
duplicate https://github.com/frappe/frappe/issues/17576

[2022-09-05 05:44] #18031 closed, assigned to nobody

[2022-09-05 07:45] michalls01 commented on #17867
Hello @nikkothari22, thank you for the follow up. I assume this bug is not related to sending emails directly and manually from the document, but to the "Settings / Notification" functionality. As an example, you can create an automatic email Notification when a task is created. This notification is then sent in the background via email and is also written to the document timeline (which is nice f

[2022-09-05 08:05] michalls01 opened #18033 "Workflow status - Filter in List View is not corresponding"
Workflow is generally overriding the document status. However, the filter in List View contains the original document status values. I suggest to modify the filter values to match the values from the Workflow (when the workflow is active).

[2022-09-05 10:43] Tom-Finke commented on #17017
Can not reproduce this in version 14

[2022-09-05 10:43] #17017 closed, assigned to nobody

[2022-09-05 12:09] ketanserpentcs opened #18035 "Unable to create workspace in custom app under the ERPNext v14"
https://discuss.erpnext.com/t/workspace-is-not-working-in-erpnext-v14-using-custom-app/94064

![workspace_issue](https://user-images.githubusercontent.com/22834304/188445755-d6898e4c-2190-45be-be07-a4cc6c7289f5.gif)

[2022-09-05 12:15] nikkothari22 commented on #18035
Ah yes. I faced the same issue.

So two things:
1. Ensure that your account has the `Workspace Manager` role.
2. Always create "Public" workspaces. After you create one, go to the Workspace list and link a module to it. It then appears in the codebase.

Let me know if this works :)

[2022-09-05 13:41] Tom-Finke commented on #17982
Thank @nikkothari22  you for pointing me to set_link_field
I created a PR. I wasn't able to fix the issue to my full contempt because the needed information is lost during rendering, see the PR.
If someone in the future needs a DocType with 2 or more Connections to another DocType, then this must be revisited.

[2022-09-05 15:12] Citysystems-smart opened #18037 "Bug On Notification List"
On version 13.36.3 reading the notification will not remove the unread class from it after reload

![image](https://user-images.githubusercontent.com/60112785/188477721-ff562e0b-83f4-41c1-98fc-e2d57edc1b89.png)
Even if I open it after reloading it comes back as unread

So after checking I found this file
in `frappe/frappe/public/js/frappe/ui/notifications/notifications.js`

![image](https://user-i

[2022-09-05 18:21] Sagarikanaik96 opened #18038 "Directory Path Traversal"
**Description**
Directory traversal or Path Traversal is an HTTP attack which allows attackers to access restricted directories and execute commands outside of the web server's root directory. Directory traversal (also known as file path traversal) is a web security vulnerability that allows an attacker to read arbitrary files on the server that is running an application. This might include applic

[2022-09-06 03:49] ketanserpentcs commented on #18035
@ nikkothari22,
Not working, I have already added system manager access rights

[2022-09-06 05:45] iMoshi opened #18039 ".jpg files get optimized regardless of unchecking "Optimize" when uploading"
Frappe v14,

.jpg images / files I upload automatically get Optimized when uploading regardless of checking "Optimize" when uploading.

.png files are fine.

[2022-09-06 06:00] Solufyin commented on #18037
Hi @Citysystems-smart,

This problem was solved in erpnext version 13.39.0
Please check its reference: #17890

Kindly update your version then check it.

Thank You!

[2022-09-06 06:12] ankush commented on #18039
@iMoshi are you sure it's getting compressed?

I am guessing it's just EXIF data that's being stripped off so filesize reduces.

You can confirm by disabling it from system settings.
 https://github.com/frappe/frappe/blob/0a6433bf5d576b61ee35fcb6a5678aba65b2cab6/frappe/utils/image.py#L23-L45

[2022-09-06 06:17] #18037 closed, assigned to nobody

[2022-09-06 06:21] ankush commented on #18038
ermmm... how is changing HTTP request type directory traversal? 🤔

Also use https://erpnext.com/security for reporting security issues.

[2022-09-06 06:22] #18038 closed, assigned to nobody

[2022-09-06 06:24] ankush commented on #18028
phone fieldtype expects this exact format `+{countrycode}-{phonenumber}`

[2022-09-06 06:29] iMoshi commented on #18039
@ankush Had to confirm after you've mentioned exif data, and verified online using verexif.com. Image already had no exif data except for its size.

.jpg image I've uploaded was 400kb, it got down to 83kb after being uploaded. And Optimize checkbox was sure unchecked.

[2022-09-06 06:43] ankush commented on #18039
@iMoshi can you share a sample image?

Attached image

Original ~760kb,
Optimized ~450kb
Unoptimized, exif stripped ~690kb
Disabled EXIF stripping ~760kb (same as original)

![sample_1920×1280](https://user-images.githubusercontent.com/9079960/188564347-ca9b5395-b6bd-4b4d-bef4-a41b69cfa780.jpg)

[2022-09-06 06:45] ankush commented on #18039
By any chance, you have RGBA/P jpeg image? 😄

[2022-09-06 06:51] iMoshi commented on #18039
@ankush thank you for responding so quick 😊 below are the results.

![SCR-20220906-kj1](https://user-images.githubusercontent.com/925613/188565663-f8e81a2f-a0af-40c8-b7df-31251e23bd92.png)
![SCR-20220906-ki1](https://user-images.githubusercontent.com/925613/188565674-f9ed5dcf-5c17-4672-9498-90dc018d99b8.png)

About RGBA/P jpeg image, I am not sure but here I have uploaded the original image so you

[2022-09-06 06:57] ankush commented on #18039
YOur file uploads as is after disabling exif data stripping.

<img width="1144" alt="Screenshot 2022-09-06 at 12 24 39 PM" src="https://user-images.githubusercontent.com/9079960/188566881-27219ed3-32f3-498d-a0ec-0830c8fc6efd.png">

So it does have insane amount of non-image data.

I opened it in binary editor and found that there's some photoshop metadata attached to it. That's getting stripped of

[2022-09-06 06:57] #18039 closed, assigned to nobody

[2022-09-06 07:08] iMoshi commented on #18039
Thank you again @ankush

However, I got the same result as you after disabling "Strip EXIF tags from uploaded images" in Security section under System Settings.

Before disabling this, my images were getting down to 80kb. Can you replicate the same? Perhaps enable Strip EXIF in System Settings and re-upload without the Optimize unchecked :)

[2022-09-06 07:14] ankush commented on #18039
Yes, I did reproduce it. "Stip exif data" strips basically ALL non-image data.

[2022-09-06 07:17] iMoshi commented on #18039
Heh, alright. I'm just gonna be using .png meanwhile :)

[2022-09-06 07:44] takyeyu opened #18041 "frappe.get_url return http:// but not https://"
I am using frappe v14, however, when I use frappe.get_url in jinja2, it return me http://xxxx, but not https://xxxxx, may I know if I miss any setup. I am using https://xxxx for visiting the site

[2022-09-06 07:54] ankush commented on #18041
`X-Forwarded-Proto` needs to be set by Nginx config for this to work. Frappe's server doesn't handle HTTPS.

[2022-09-06 07:54] #18041 closed, assigned to nobody

[2022-09-06 08:18] #17945 closed, assigned to nobody

[2022-09-06 08:25] Tom-Finke opened #18042 "Bench Console: _sqlite3 missing"
## Description of the issue
I use [frappe_docker](https://github.com/frappe/frappe_docker) for a development environment. When I run `bench --site mysite.localhost console`, I get

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Setup Frappe Docker Development Environment (https://github.com/frappe/frappe_docker/tree/main/developm

[2022-09-06 08:42] ankush commented on #18042
This is mostly because of missing devel files... @revant ?

IIRC ipython only started requiring this in the latest versions.

[2022-09-06 10:01] ankush commented on #17812
`maintenance_mode` is used in two places:
- [ ] WSGI request handler in app.py - here we can swap connections to read only connection
- [x] Scheduler - this can wait till maintenance mode is lifted.

Known "hidden writes" that happen during typical browsing session (even if it might feel like  not doing any "write action")

- [ ] New/destroy session - to update session table
- [ ] "resuming" sessi

[2022-09-06 11:13] ankush opened #18047 "faster Web routing"
ref: https://github.com/frappe/frappe/pull/17988#issuecomment-1231467277

web routing goes through all web view enabled doctypes, and web pages for static and dynamic route evaluation. This is slow and happens on all pages! This is ~20-50 queries / request depending on how many such documents you got.

Better design:
- Create a table for storing route and dynamic route rules, so all routes at any

[2022-09-06 14:06] revant commented on #18042
https://github.com/frappe/frappe_docker/issues/840

in case of the frappe/bench image we're using pyenv to have multiple python versions available for development.

pyenv builds python instead of fetching binaries distributed by os. builds need additional dependencies.

Should I add it in the image? it makes the image size 1.8GB.

I'll try to add deps, build py versions, remove deps. And check siz

[2022-09-06 14:12] revant commented on #18042
I've reopened 840, closing this

[2022-09-06 14:12] #18042 closed, assigned to nobody

[2022-09-07 10:06] ketanserpentcs commented on #18035
Hi nikkothari22,

Is there any solution for this ?

[2022-09-07 12:50] osamaerksosi opened #18052 "Problem in documentation of frappe new_doc"
Parameter of initial callback of frappe new_doc is not doc but it is form
review the documentation here
<a>https://frappeframework.com/docs/v14/user/en/api/dialog#frappenew_doc</a>

[2022-09-07 14:37] ankush commented on #18027
This is how it is in quill dist files :eyes:

Anyway, if someone has better idea for this feel free to send PR.

[2022-09-07 14:37] #18027 closed, assigned to nobody

[2022-09-07 15:55] AvinashUtekar opened #18053 "page become unresponsive when bulk assets assign to user"
## Description of the issue
i am assigning bulk assets to user and at same time updating assets data as shown in figure:
![image](https://user-images.githubusercontent.com/87367466/188922902-a8d329a7-785d-4275-990d-84d4ee8ff053.png)

when i am doing this, page become unresponsive, it stuck on that updating bar.
this happens when i select 500 or more assets for bulk operation
![image](https://user-

[2022-09-07 20:24] Abhirup-99 opened #18054 "Allow ways to specify default workspace to be viewed."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-07 20:24] #18054 closed, assigned to nobody

[2022-09-07 21:41] webbosolutions opened #18644 "Arabic language Route Mistake"
### Information about bug

Trying to add new webform with arabic language name and
arabic route but after publish it was wrong permalink and not showing form give me
http://172.104.238.17:8000/&#1588;&#1607;&#1575;&#1583;&#1577;-&#1586;&#1608;&#1575;&#1580;/new
but in version 13 it was normal
![154465](https://user-images.githubusercontent.com/48894929/188987387-5ab6c706-0fda-46c5-8807-3c07aac7442

[2022-09-08 05:51] shariquerik commented on #18035
Check the documentation for New Workspace 2.0.
https://frappeframework.com/docs/v14/user/en/desk/workspace#customization
Do not use workspace document to add or update the blocks on the workspace check above link

[2022-09-08 05:55] shariquerik commented on #18035
Closing it, if you are still facing issue feel free to reopen

[2022-09-08 05:55] #18035 closed, assigned to nobody

[2022-09-08 06:01] ankush commented on #18053
@AvinashUtekar is this a custom dialog box? I've never seen this before.

[2022-09-08 06:08] ankush commented on #18053
This surely looks like custom code.

Also, inbuilt assign to dialog also does assignments one-by-one, so it's unlikely that this is something that can be further optimized without design changes.

[2022-09-08 07:31] shariquerik commented on #15834
fix: https://github.com/frappe/frappe/pull/17630

[2022-09-08 07:31] #15834 closed, assigned to shariquerik

[2022-09-08 07:37] Tom-Finke commented on #8624
This is a great feature request, why isn't anything happening here?

[2022-09-08 09:02] #8846 closed, assigned to surajshetty3416

[2022-09-08 09:04] ankush commented on #17998
Couldn't reproduce this on latest version. Probably fixed years ago, read_only wrapper switches connection as soon as read-only parts are completed.

https://github.com/frappe/frappe/blob/88928d4da8c1c36a2a1e7b5c9bd425c5677b1ac1/frappe/__init__.py#L775-L792

[2022-09-08 09:04] #17998 closed, assigned to nobody

[2022-09-08 09:29] Tom-Finke opened #18059 "Link Titles in List View"
In the List View, Link Fields are still displaying the Linked Documents Name instead of its Title.
#17130 implements a fix for this but has never been merged and is now locked for some reason.

I would like to restart a discussion on this topic, because it is very important for the usability of the UI

Questions:
1. Whats holding this PR/feature back
2. How would one implement this feature for Dyn

[2022-09-08 10:26] #17576 closed, assigned to shariquerik

[2022-09-08 11:00] #17769 closed, assigned to nobody

[2022-09-08 13:00] edwardleehl7097 opened #18244 "pull_from_email_account"
### Information about bug

Every time the system sync to receive email from mail server it will show this error. Can anyone help on this issue?

### Module

other

### Version

Frappe: v14.5.0 (version-14)

Erpnext: v14.0.3 (version-14)

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-09-08 13:25] AvinashUtekar commented on #18053
@ankush  yes i created this dialog box with client script. i found that issue coming when i use this API **frappe.desk.doctype.bulk_update.bulk_update.submit_cancel_or_update_docs**

this api used in bulk edit operation in listview
![image](https://user-images.githubusercontent.com/87367466/189131782-31553d40-4132-46c4-98cd-cd7d45a8ec64.png)

i saw there also page become unresponsive when i update

[2022-09-08 14:53] Patrick-M90 commented on #18637
Hello,
I'm facing the same error.
Is there any update on this?

Thanks

[2022-09-08 15:01] Patrick-M90 commented on #18637
This also happens when I try to e-mail a quotation with a print-format-builder-beta print format.

[2022-09-08 15:14] blewsky opened #18068 "Shortcuts for Mac not documented"
https://github.com/frappe/frappe/pull/7529 introduced the support for shortcuts on a windows computer. This does not seem to be implemented yet for Mac (Linux ?!) users. Also the [documentation](https://docs.erpnext.com/docs/v13/user/manual/en/using-erpnext/articles/keyboard-shortcuts) only explains how Windows users can use shortcuts.

Feature request: Add shortcuts for Mac (Linux?!) users

[2022-09-08 15:19] blewsky commented on #18068
I found shortcuts on https://shortcutbuzz.com/erpnext-keyboard-shortcut-keys-list-of-easy-shortcuts/
This doesn't seem to be documented in the official documentation though!?

The keyboard shortcuts under the Help menu appear to be implemented for Mac (although it states "Press Alt Key to trigger additional shortcuts in Menu and Sidebar" which seems to stem from the old implementation from Windows

[2022-09-08 17:09] ruchamahabal opened #18070 "Sync dashboards on app installation"
## Problem:

Only doctypes are updated during app installation:

<img width="607" alt="image" src="https://user-images.githubusercontent.com/24353136/189182944-ef9f370f-6667-47da-8f3d-e07b19e30474.png">

Dashboards for that app are not synced:

<img width="1336" alt="image" src="https://user-images.githubusercontent.com/24353136/189183086-c8f923e2-a57e-4902-abf6-0118ecec451f.png">

Need to run the

[2022-09-08 17:42] Jerrill opened #18646 "Deadlocks in POST operations related to `tabActivity Log` INSERT operations"
### Information about bug

I just started working on unit testing an ERPNext api client and I'm just four unit tests into it. I am seeing frequent deadlocks in POST operations. The deadlocks don't occur every time, and when they do happen, they don't occur in the same unit test every time. They appear to be related to `tabActivity Log` INSERT operations.

(see status code 500 responses in http log

[2022-09-08 19:08] Abhirup-99 opened #18071 "`issingle` isn't a mandatory field available, so changing any doctype that doesn't contain this field throws error."
## Description of the issue
Basically the title. I found 2 instances in `base_document.py`.

I am already fixing these small bugs in our fork. So, if a PR is accepted, can push one.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result

### Expected result

### Stacktrace / full error message

[code]

## Addi

[2022-09-08 19:12] Abhirup-99 opened #18072 "Add automatic tool for migration across versions."
If anyone has used angular, they provide an excellent tool for version upgrades. This makes it very easy to upgrade and follow any breaking API changes.

Also, another request is to add disclaimers when the behavior of a particular section of code is updated.

Like you cannot override a class doctype already overridden in v14. Adding this in the migration guide would help a lot of users.

[2022-09-09 10:19] zongo811 opened #18075 "Query Reports: Precision cannot be set"
## Description of the issue
I wrote a report that should display a float column with precison 1, e.g. "12.3". But the formating-instruction with "/" seem not to be working anymore.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create a query report with this SQL and show it:
SELECT 'Some data' as 'Text Row:Data', 12.3456 'With

[2022-09-09 10:51] zongo811 commented on #18075
Script reports are also affected.

[2022-09-09 12:47] #17812 closed, assigned to ankush

[2022-09-09 16:51] rv978676 commented on #14233
The Feature works for Version 14 ,as tried adding sales invoice advances in sales invoice item.

If you face any error related to permission
try this work around:
Add the same Multiselect field in the main form and then try to access th items field

[2022-09-09 17:32] dj12djdjs commented on #18052
@osamaerksosi The callback does return the doc.

![image](https://user-images.githubusercontent.com/29856401/189410395-add73350-6779-4eec-9ae6-dd31b8bf0366.png)

The form object will look like this:
![image](https://user-images.githubusercontent.com/29856401/189410530-46b8f3b6-b405-4802-a20f-3cbe76b6b958.png)

[2022-09-09 17:32] #18052 closed, assigned to nobody

[2022-09-09 17:48] dj12djdjs commented on #18053
@AvinashUtekar Make sure in your custom dialog you are utilizing the BulkOperations class as shown in the list_view.js example.

https://github.com/frappe/frappe/blob/49af8f7db18bb5185d8b71d737a16ad8af96035b/frappe/public/js/frappe/list/list_view.js#L1605-L1618

This will disable list view updates until the bulk assignment is completed.

[2022-09-10 07:10] KhaledBinAmir opened #18078 "Default value for naming_series must be in the list of options."
## Description of the issue
When updating **Document Naming Settings** an error message showing up **Default value for naming_series must be in the list of options.**

I figured out the same thing happening when try to update **naming_series** in **Customize Form**, maybe the system is trying to save default option before updating the list options.

After clearing default option in  **Customize Fo

[2022-09-10 07:13] ankush commented on #18078
You've already set some default which isn't present in naming series options anymore. I guess we can just remove default too while updating.

Go to customize form > employee and see default on naming series.

[2022-09-10 07:16] KhaledBinAmir commented on #18078
Thanks for your prompt response

No, I did not set default in customize form. since naming_series options cannot be changed in customize form and a default value which is not listed in options is not allowed, I cannot really set one.

[2022-09-10 07:18] #17933 closed, assigned to nobody

[2022-09-10 07:28] ankush commented on #18078
@hiimkhaled you CAN update defaults from customized form.

What has happened is there used to be some naming series before which was set as default and now that you're removing it, it's not letting you do that.

<img width="1202" alt="Screenshot 2022-09-10 at 12 57 00 PM" src="https://user-images.githubusercontent.com/9079960/189473796-7c4a4ae0-3ee2-4446-bc21-9eb3c850e725.png">

<img width="890" a

[2022-09-10 07:44] #18078 closed, assigned to nobody

[2022-09-10 07:45] iamejaaz opened #18082 "Attach fields should be disabled in unsaved form"
## Description of the issue
- As I create a record, when I upload an attachment, it shows Attachment limit reached and I have only uploaded 1 attachment, while my Doctype attachment limit is 4.
![image](https://user-images.githubusercontent.com/67804911/189473998-e88eeeb1-79b7-409e-9a60-9ce368ffebba.png)
- Attachment limit for my doctype
![image](https://user-images.githubusercontent.com/67804911/

[2022-09-10 09:10] ankush commented on #18082
Attachments aren't supposed to work on unsaved documents in first place. Which field is this?

[2022-09-10 09:14] ankush commented on #17990
`iframe`s aren't a good way to achieve this! It will be very limiting in the future as it's literally a separate web page embedded inside another page. 😄

This can be done once the base layout directly supports getting multiple views on same page.

[2022-09-10 09:25] iamejaaz commented on #18082
Custom field
![image](https://user-images.githubusercontent.com/67804911/189477352-2583c47f-72ca-4f38-a5e4-57c1bc440785.png)

[2022-09-10 10:06] phot0n commented on #18071
`issingle` is a field already present in doctype doctype - helps make single doctypes. Can you share some example(s)?

Also, PRs are always welcome. Someone will definitely look at them :)

[2022-09-10 10:20] phot0n opened #18083 "Email Protocol Logging"
Since `smtplib`, `poplib` and `imaplib` all have debug modes in them,

ref:
- https://docs.python.org/3/library/smtplib.html#smtplib.SMTP.set_debuglevel
- https://docs.python.org/3/library/poplib.html#poplib.POP3.set_debuglevel
- https://docs.python.org/3/library/imaplib.html#imaplib.IMAP4.debug

we could output these debug logs into separate log file(s) (`email.log`?) - so as to provide better re

[2022-09-11 05:24] h20200051 commented on #15271
@tjomtek @szufisher @szufisher @j0rgan.I would like to work in this issue.Kindly assign me

[2022-09-11 10:21] ankush commented on #16023
`r.message[0] == __("Inactive"))`

This condition is never true lmao, this is dead code.

Response is `"inactive"` lower-case.

Removed in https://github.com/frappe/frappe/pull/18086

[2022-09-11 10:34] Abhirup-99 commented on #18071
`docfield.json`. What's the preferred approach here? Adding it to `docfield.json` or making it an optional field?

[2022-09-12 00:46] 1ubuntuuser commented on #17990
@ankush Exactly why I chose not to use Iframes. I considered it, but it's a huge overhead. This embeds in a container div.

Edit: I can see why it looks like I'm using an iframe, but I just use the url to easily specify the view and parameters. I subclassed page.js to embed.js so we can modify the view environment slightly to suit being embeded.

[2022-09-12 08:43] ankush commented on #17593
because assigned and comments are in the doc object it's kinda weird to expect virtual doctype developers to implement it too... I think for virt doctypes we should not expect it to be present there so UI can work (these things will get shoved in DB like other doctypes)

[2022-09-12 09:04] ankush opened #18093 "Review db indexes and support dropping composite index"
Over the years lots of indexes have accumulated to "improve performance" some however might be unused and cause slower performance. Time to review ALL existing indexes in popular doctypes in both frappe and ERPNext.

- [ ] review and identify unused indexes
- [ ] drop / ignore them
- [ ] support dropping multi-col indexes added using "on_doctype_update"

[2022-09-12 09:14] ankush opened #18094 "Signup links should be removed when user-pass auth is disabled"
![image](https://user-images.githubusercontent.com/9079960/189616874-6e6e3043-9b73-4c38-b417-551260c01ced.png)

related to https://github.com/frappe/frappe/pull/18000

[2022-09-12 09:19] ankush opened #18095 "Truly deprecate `cur_frm`"
it's used everywhere despite being "deprecated" for years. This is also frequent source of bugs.

[code]

[2022-09-12 09:47] kittiu opened #18096 "Web Form validation client script -> Error Message not sticky (it disappear)"
## Description of the issue

Web Form validation client script -> Error Message not sticky (it disappear)

## Steps to reproduce the issue

1. Create a simple Web Form with a simple Client Script that expect to show message
[code]

2. Use the Web Form, click Save, I expect the message to be sticky on screen, but it is not. It immediately diappear.

![Peek 2022-09-12 16-44](https://user-images.gith

[2022-09-12 09:56] rmehta commented on #18059
Can you explain with screenshots what you are trying to achieve?

[2022-09-12 12:03] ankush commented on #18071
@Abhirup-99 can you first share what breaks if this isn't done?

[2022-09-12 12:24] #18070 closed, assigned to phot0n

[2022-09-12 12:54] Abhirup-99 commented on #18071
there are only 2 instances of `issingle` in `base_document.py`.

[2022-09-12 13:01] ankush commented on #18071
@Abhirup-99 that doesn't help me understand WHY this breaks? can you share traceback or something or at least describe what breaks?

[2022-09-12 13:15] Abhirup-99 commented on #18071
[code]

[2022-09-12 13:16] Abhirup-99 commented on #18071
@ankush that's the trace while running `bench --site abc.localhost migrate`.

[2022-09-12 13:24] #16782 closed, assigned to nobody

[2022-09-12 13:24] #16737 closed, assigned to nobody

[2022-09-13 02:08] creamdory commented on #17533
Hi All! thank you for all your inputs. @gn306029 I tried your quick fix and it was working for me. It is also the easiest fix. But then again, this is still a core issue. Thanks @phot0n for assigning to yourself and taking a look more.

[2022-09-13 13:42] YamanQD opened #18647 "Activities and comments datetime not showing up in safari, version-14"
### Information about bug

After upgrading to version-14, a bug appeared that hides the date and time of comments and activities at the bottom of any doctype
The bug shows up in Safari browser only, here is a screenshot taken from Safari:
![image](https://user-images.githubusercontent.com/58234003/189916681-214df9f2-a495-4761-963c-23f7fc4c53aa.png)

And here is one taken from google chrome:
![imag

[2022-09-13 14:05] ankush opened #18114 "During migration if doctype, report, page controllers are not found just delete them from DB"
When doctypes are deleted from app, they still live in database in completely unusable manner. You can't view data or do ANYTHING on it.

They are still a nuisance throw these errors typically:

![telegram-cloud-photo-size-5-6127384285494228059-y](https://user-images.githubusercontent.com/9079960/189922243-e98bc898-c4e5-4b98-a5ff-8010b4e0b6db.jpg)

Proposal:

**If doctype/report/page etc doesn't h

[2022-09-13 14:09] ankush commented on #18114
High potential to go wrong. Write tests and verify behavior for many known use cases!
- standard / non-standard page and reports
- virtual / custom doctypes

Add add a post - patch test to verify that this works.

Previous attempt: https://github.com/frappe/erpnext/pull/27703

[2022-09-13 19:36] amecreate opened #18117 "Checkbox field cannot be made mandatory on doctype and web form"
## Description of the issue
Check field is selected as Mandatory but has no effect on DocType and Web Form. The validate process does not verify the mandatory status of the checkbox.

Moreover, on webform, frappe.web_form.get_value('check field') outputs 0 even if the checkbox is selected (should be 1).

## Context information (for bug reports)
ERPNext: v13.24.0 (version-13)
Frappe Framework: v13.

[2022-09-13 20:26] ankush commented on #18117
A mandatory checkbox makes no sense. It's either 1 or 0.

[2022-09-13 20:30] amecreate commented on #18117
In that case, mandatory means that the checkbox needs to be selected (value 1) before form validation. Such as agreement to website Terms and Conditions.